{
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "batchPath": "batch",
  "baseUrl": "https://accessapproval.googleapis.com/",
  "basePath": "",
  "ownerDomain": "google.com",
  "documentationLink": "https://cloud.google.com/access-approval/docs",
  "version_module": true,
  "id": "accessapproval:v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "Access Approval",
  "mtlsRootUrl": "https://accessapproval.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "description": "An API for controlling access to data by Google personnel.",
  "protocol": "rest",
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "rootUrl": "https://accessapproval.googleapis.com/",
  "ownerName": "Google",
  "resources": {
    "organizations": {
      "methods": {
        "updateAccessApprovalSettings": {
          "path": "v1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "description": "Updates the settings associated with a project, folder, or organization. Settings to update are determined by the value of field_mask.",
          "request": {
            "$ref": "AccessApprovalSettings"
          },
          "response": {
            "$ref": "AccessApprovalSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "PATCH",
          "id": "accessapproval.organizations.updateAccessApprovalSettings",
          "flatPath": "v1/organizations/{organizationsId}/accessApprovalSettings",
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^organizations/[^/]+/accessApprovalSettings$",
              "description": "The resource name of the settings. Format is one of: * \"projects/{project}/accessApprovalSettings\" * \"folders/{folder}/accessApprovalSettings\" * \"organizations/{organization}/accessApprovalSettings\"",
              "type": "string",
              "required": true
            },
            "updateMask": {
              "description": "The update mask applies to the settings. Only the top level fields of AccessApprovalSettings (notification_emails & enrolled_services) are supported. For each field, if it is included, the currently stored value will be entirely overwritten with the value of the field passed in this request. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask If this field is left unset, only the notification_emails field will be updated.",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            }
          }
        },
        "getAccessApprovalSettings": {
          "path": "v1/{+name}",
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/accessApprovalSettings$",
              "description": "Name of the AccessApprovalSettings to retrieve.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/organizations/{organizationsId}/accessApprovalSettings",
          "description": "Gets the settings associated with a project, folder, or organization.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "AccessApprovalSettings"
          },
          "httpMethod": "GET",
          "id": "accessapproval.organizations.getAccessApprovalSettings"
        },
        "deleteAccessApprovalSettings": {
          "httpMethod": "DELETE",
          "description": "Deletes the settings associated with a project, folder, or organization. This will have the effect of disabling Access Approval for the project, folder, or organization, but only if all ancestors also have Access Approval disabled. If Access Approval is enabled at a higher level of the hierarchy, then Access Approval will still be enabled at this level as the settings are inherited.",
          "id": "accessapproval.organizations.deleteAccessApprovalSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^organizations/[^/]+/accessApprovalSettings$",
              "description": "Name of the AccessApprovalSettings to delete."
            }
          },
          "response": {
            "$ref": "Empty"
          },
          "path": "v1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/organizations/{organizationsId}/accessApprovalSettings"
        }
      },
      "resources": {
        "approvalRequests": {
          "methods": {
            "dismiss": {
              "httpMethod": "POST",
              "flatPath": "v1/organizations/{organizationsId}/approvalRequests/{approvalRequestsId}:dismiss",
              "response": {
                "$ref": "ApprovalRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/approvalRequests/[^/]+$",
                  "type": "string",
                  "description": "Name of the ApprovalRequest to dismiss.",
                  "required": true
                }
              },
              "request": {
                "$ref": "DismissApprovalRequestMessage"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Dismisses a request. Returns the updated ApprovalRequest. NOTE: This does not deny access to the resource if another request has been made and approved. It is equivalent in effect to ignoring the request altogether. Returns NOT_FOUND if the request does not exist. Returns FAILED_PRECONDITION if the request exists but is not in a pending state.",
              "id": "accessapproval.organizations.approvalRequests.dismiss",
              "path": "v1/{+name}:dismiss"
            },
            "list": {
              "id": "accessapproval.organizations.approvalRequests.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListApprovalRequestsResponse"
              },
              "flatPath": "v1/organizations/{organizationsId}/approvalRequests",
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "A filter on the type of approval requests to retrieve. Must be one of the following values: * [not set]: Requests that are pending or have active approvals. * ALL: All requests. * PENDING: Only pending requests. * ACTIVE: Only active (i.e. currently approved) requests. * DISMISSED: Only requests that have been dismissed, or requests that . are not approved and past expiration. * EXPIRED: Only requests that have been approved, and the approval has expired. * HISTORY: Active, dismissed and expired requests."
                },
                "pageSize": {
                  "location": "query",
                  "description": "Requested page size.",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "A token identifying the page of results to return.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "description": "The parent resource. This may be \"projects/{project}\", \"folders/{folder}\", or \"organizations/{organization}\".",
                  "pattern": "^organizations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/approvalRequests",
              "httpMethod": "GET",
              "description": "Lists approval requests associated with a project, folder, or organization. Approval requests can be filtered by state (pending, active, dismissed). The order is reverse chronological."
            },
            "get": {
              "httpMethod": "GET",
              "description": "Gets an approval request. Returns NOT_FOUND if the request does not exist.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "accessapproval.organizations.approvalRequests.get",
              "response": {
                "$ref": "ApprovalRequest"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/approvalRequests/[^/]+$",
                  "type": "string",
                  "description": "Name of the approval request to retrieve.",
                  "required": true
                }
              },
              "path": "v1/{+name}",
              "flatPath": "v1/organizations/{organizationsId}/approvalRequests/{approvalRequestsId}"
            },
            "approve": {
              "request": {
                "$ref": "ApproveApprovalRequestMessage"
              },
              "id": "accessapproval.organizations.approvalRequests.approve",
              "description": "Approves a request and returns the updated ApprovalRequest. Returns NOT_FOUND if the request does not exist. Returns FAILED_PRECONDITION if the request exists but is not in a pending state.",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/approvalRequests/[^/]+$",
                  "description": "Name of the approval request to approve.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "flatPath": "v1/organizations/{organizationsId}/approvalRequests/{approvalRequestsId}:approve",
              "path": "v1/{+name}:approve",
              "response": {
                "$ref": "ApprovalRequest"
              }
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "approvalRequests": {
          "methods": {
            "dismiss": {
              "httpMethod": "POST",
              "id": "accessapproval.projects.approvalRequests.dismiss",
              "request": {
                "$ref": "DismissApprovalRequestMessage"
              },
              "flatPath": "v1/projects/{projectsId}/approvalRequests/{approvalRequestsId}:dismiss",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}:dismiss",
              "description": "Dismisses a request. Returns the updated ApprovalRequest. NOTE: This does not deny access to the resource if another request has been made and approved. It is equivalent in effect to ignoring the request altogether. Returns NOT_FOUND if the request does not exist. Returns FAILED_PRECONDITION if the request exists but is not in a pending state.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/approvalRequests/[^/]+$",
                  "description": "Name of the ApprovalRequest to dismiss.",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "ApprovalRequest"
              }
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "description": "Gets an approval request. Returns NOT_FOUND if the request does not exist.",
              "flatPath": "v1/projects/{projectsId}/approvalRequests/{approvalRequestsId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/approvalRequests/[^/]+$",
                  "description": "Name of the approval request to retrieve."
                }
              },
              "id": "accessapproval.projects.approvalRequests.get",
              "response": {
                "$ref": "ApprovalRequest"
              }
            },
            "list": {
              "description": "Lists approval requests associated with a project, folder, or organization. Approval requests can be filtered by state (pending, active, dismissed). The order is reverse chronological.",
              "parameters": {
                "filter": {
                  "type": "string",
                  "description": "A filter on the type of approval requests to retrieve. Must be one of the following values: * [not set]: Requests that are pending or have active approvals. * ALL: All requests. * PENDING: Only pending requests. * ACTIVE: Only active (i.e. currently approved) requests. * DISMISSED: Only requests that have been dismissed, or requests that . are not approved and past expiration. * EXPIRED: Only requests that have been approved, and the approval has expired. * HISTORY: Active, dismissed and expired requests.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Requested page size.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A token identifying the page of results to return."
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "description": "The parent resource. This may be \"projects/{project}\", \"folders/{folder}\", or \"organizations/{organization}\"."
                }
              },
              "path": "v1/{+parent}/approvalRequests",
              "id": "accessapproval.projects.approvalRequests.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListApprovalRequestsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/projects/{projectsId}/approvalRequests"
            },
            "approve": {
              "flatPath": "v1/projects/{projectsId}/approvalRequests/{approvalRequestsId}:approve",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Name of the approval request to approve.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/approvalRequests/[^/]+$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "accessapproval.projects.approvalRequests.approve",
              "request": {
                "$ref": "ApproveApprovalRequestMessage"
              },
              "httpMethod": "POST",
              "description": "Approves a request and returns the updated ApprovalRequest. Returns NOT_FOUND if the request does not exist. Returns FAILED_PRECONDITION if the request exists but is not in a pending state.",
              "path": "v1/{+name}:approve",
              "response": {
                "$ref": "ApprovalRequest"
              }
            }
          }
        }
      },
      "methods": {
        "deleteAccessApprovalSettings": {
          "description": "Deletes the settings associated with a project, folder, or organization. This will have the effect of disabling Access Approval for the project, folder, or organization, but only if all ancestors also have Access Approval disabled. If Access Approval is enabled at a higher level of the hierarchy, then Access Approval will still be enabled at this level as the settings are inherited.",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^projects/[^/]+/accessApprovalSettings$",
              "description": "Name of the AccessApprovalSettings to delete.",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Empty"
          },
          "path": "v1/{+name}",
          "httpMethod": "DELETE",
          "flatPath": "v1/projects/{projectsId}/accessApprovalSettings",
          "parameterOrder": [
            "name"
          ],
          "id": "accessapproval.projects.deleteAccessApprovalSettings"
        },
        "updateAccessApprovalSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Updates the settings associated with a project, folder, or organization. Settings to update are determined by the value of field_mask.",
          "flatPath": "v1/projects/{projectsId}/accessApprovalSettings",
          "id": "accessapproval.projects.updateAccessApprovalSettings",
          "response": {
            "$ref": "AccessApprovalSettings"
          },
          "httpMethod": "PATCH",
          "request": {
            "$ref": "AccessApprovalSettings"
          },
          "parameters": {
            "name": {
              "type": "string",
              "description": "The resource name of the settings. Format is one of: * \"projects/{project}/accessApprovalSettings\" * \"folders/{folder}/accessApprovalSettings\" * \"organizations/{organization}/accessApprovalSettings\"",
              "pattern": "^projects/[^/]+/accessApprovalSettings$",
              "required": true,
              "location": "path"
            },
            "updateMask": {
              "description": "The update mask applies to the settings. Only the top level fields of AccessApprovalSettings (notification_emails & enrolled_services) are supported. For each field, if it is included, the currently stored value will be entirely overwritten with the value of the field passed in this request. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask If this field is left unset, only the notification_emails field will be updated.",
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}"
        },
        "getAccessApprovalSettings": {
          "response": {
            "$ref": "AccessApprovalSettings"
          },
          "description": "Gets the settings associated with a project, folder, or organization.",
          "id": "accessapproval.projects.getAccessApprovalSettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Name of the AccessApprovalSettings to retrieve.",
              "pattern": "^projects/[^/]+/accessApprovalSettings$"
            }
          },
          "flatPath": "v1/projects/{projectsId}/accessApprovalSettings",
          "path": "v1/{+name}",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ]
        }
      }
    },
    "folders": {
      "resources": {
        "approvalRequests": {
          "methods": {
            "list": {
              "path": "v1/{+parent}/approvalRequests",
              "httpMethod": "GET",
              "parameters": {
                "filter": {
                  "description": "A filter on the type of approval requests to retrieve. Must be one of the following values: * [not set]: Requests that are pending or have active approvals. * ALL: All requests. * PENDING: Only pending requests. * ACTIVE: Only active (i.e. currently approved) requests. * DISMISSED: Only requests that have been dismissed, or requests that . are not approved and past expiration. * EXPIRED: Only requests that have been approved, and the approval has expired. * HISTORY: Active, dismissed and expired requests.",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A token identifying the page of results to return."
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Requested page size.",
                  "type": "integer"
                },
                "parent": {
                  "description": "The parent resource. This may be \"projects/{project}\", \"folders/{folder}\", or \"organizations/{organization}\".",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^folders/[^/]+$"
                }
              },
              "response": {
                "$ref": "ListApprovalRequestsResponse"
              },
              "id": "accessapproval.folders.approvalRequests.list",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/folders/{foldersId}/approvalRequests",
              "description": "Lists approval requests associated with a project, folder, or organization. Approval requests can be filtered by state (pending, active, dismissed). The order is reverse chronological."
            },
            "approve": {
              "path": "v1/{+name}:approve",
              "response": {
                "$ref": "ApprovalRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/folders/{foldersId}/approvalRequests/{approvalRequestsId}:approve",
              "id": "accessapproval.folders.approvalRequests.approve",
              "request": {
                "$ref": "ApproveApprovalRequestMessage"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "description": "Approves a request and returns the updated ApprovalRequest. Returns NOT_FOUND if the request does not exist. Returns FAILED_PRECONDITION if the request exists but is not in a pending state.",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Name of the approval request to approve.",
                  "location": "path",
                  "required": true,
                  "pattern": "^folders/[^/]+/approvalRequests/[^/]+$"
                }
              }
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/folders/{foldersId}/approvalRequests/{approvalRequestsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets an approval request. Returns NOT_FOUND if the request does not exist.",
              "path": "v1/{+name}",
              "id": "accessapproval.folders.approvalRequests.get",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^folders/[^/]+/approvalRequests/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Name of the approval request to retrieve."
                }
              },
              "response": {
                "$ref": "ApprovalRequest"
              }
            },
            "dismiss": {
              "flatPath": "v1/folders/{foldersId}/approvalRequests/{approvalRequestsId}:dismiss",
              "id": "accessapproval.folders.approvalRequests.dismiss",
              "parameters": {
                "name": {
                  "description": "Name of the ApprovalRequest to dismiss.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^folders/[^/]+/approvalRequests/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}:dismiss",
              "description": "Dismisses a request. Returns the updated ApprovalRequest. NOTE: This does not deny access to the resource if another request has been made and approved. It is equivalent in effect to ignoring the request altogether. Returns NOT_FOUND if the request does not exist. Returns FAILED_PRECONDITION if the request exists but is not in a pending state.",
              "response": {
                "$ref": "ApprovalRequest"
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "DismissApprovalRequestMessage"
              },
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      },
      "methods": {
        "updateAccessApprovalSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/folders/{foldersId}/accessApprovalSettings",
          "description": "Updates the settings associated with a project, folder, or organization. Settings to update are determined by the value of field_mask.",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "pattern": "^folders/[^/]+/accessApprovalSettings$",
              "description": "The resource name of the settings. Format is one of: * \"projects/{project}/accessApprovalSettings\" * \"folders/{folder}/accessApprovalSettings\" * \"organizations/{organization}/accessApprovalSettings\"",
              "location": "path"
            },
            "updateMask": {
              "description": "The update mask applies to the settings. Only the top level fields of AccessApprovalSettings (notification_emails & enrolled_services) are supported. For each field, if it is included, the currently stored value will be entirely overwritten with the value of the field passed in this request. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask If this field is left unset, only the notification_emails field will be updated.",
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            }
          },
          "id": "accessapproval.folders.updateAccessApprovalSettings",
          "response": {
            "$ref": "AccessApprovalSettings"
          },
          "request": {
            "$ref": "AccessApprovalSettings"
          },
          "path": "v1/{+name}"
        },
        "deleteAccessApprovalSettings": {
          "httpMethod": "DELETE",
          "flatPath": "v1/folders/{foldersId}/accessApprovalSettings",
          "parameterOrder": [
            "name"
          ],
          "id": "accessapproval.folders.deleteAccessApprovalSettings",
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "^folders/[^/]+/accessApprovalSettings$",
              "description": "Name of the AccessApprovalSettings to delete."
            }
          },
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Deletes the settings associated with a project, folder, or organization. This will have the effect of disabling Access Approval for the project, folder, or organization, but only if all ancestors also have Access Approval disabled. If Access Approval is enabled at a higher level of the hierarchy, then Access Approval will still be enabled at this level as the settings are inherited.",
          "path": "v1/{+name}"
        },
        "getAccessApprovalSettings": {
          "httpMethod": "GET",
          "id": "accessapproval.folders.getAccessApprovalSettings",
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "description": "Name of the AccessApprovalSettings to retrieve.",
              "required": true,
              "pattern": "^folders/[^/]+/accessApprovalSettings$"
            }
          },
          "response": {
            "$ref": "AccessApprovalSettings"
          },
          "flatPath": "v1/folders/{foldersId}/accessApprovalSettings",
          "description": "Gets the settings associated with a project, folder, or organization."
        }
      }
    }
  },
  "schemas": {
    "ApprovalRequest": {
      "properties": {
        "requestedReason": {
          "$ref": "AccessReason",
          "description": "The justification for which approval is being requested."
        },
        "requestTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which approval was requested."
        },
        "requestedResourceProperties": {
          "description": "Properties related to the resource represented by requested_resource_name.",
          "$ref": "ResourceProperties"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the request. Format is \"{projects|folders|organizations}/{id}/approvalRequests/{approval_request}\"."
        },
        "requestedResourceName": {
          "type": "string",
          "description": "The resource for which approval is being requested. The format of the resource name is defined at https://cloud.google.com/apis/design/resource_names. The resource name here may either be a \"full\" resource name (e.g. \"//library.googleapis.com/shelves/shelf1/books/book2\") or a \"relative\" resource name (e.g. \"shelves/shelf1/books/book2\") as described in the resource name specification."
        },
        "requestedExpiration": {
          "description": "The requested expiration for the approval. If the request is approved, access will be granted from the time of approval until the expiration time.",
          "type": "string",
          "format": "google-datetime"
        },
        "requestedLocations": {
          "description": "The locations for which approval is being requested.",
          "$ref": "AccessLocations"
        },
        "dismiss": {
          "$ref": "DismissDecision",
          "description": "The request was dismissed."
        },
        "approve": {
          "description": "Access was approved.",
          "$ref": "ApproveDecision"
        }
      },
      "description": "A request for the customer to approve access to a resource.",
      "type": "object",
      "id": "ApprovalRequest"
    },
    "AccessReason": {
      "properties": {
        "detail": {
          "description": "More detail about certain reason types. See comments for each type above.",
          "type": "string"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "CUSTOMER_INITIATED_SUPPORT",
            "GOOGLE_INITIATED_SERVICE",
            "GOOGLE_INITIATED_REVIEW"
          ],
          "enumDescriptions": [
            "Default value for proto, shouldn't be used.",
            "Customer made a request or raised an issue that required the principal to access customer data. `detail` is of the form (\"#####\" is the issue ID): * \"Feedback Report: #####\" * \"Case Number: #####\" * \"Case ID: #####\" * \"E-PIN Reference: #####\" * \"Google-#####\" * \"T-#####\"",
            "The principal accessed customer data in order to diagnose or resolve a suspected issue in services or a known outage. Often this access is used to confirm that customers are not affected by a suspected service issue or to remediate a reversible system issue.",
            "Google initiated service for security, fraud, abuse, or compliance purposes."
          ],
          "type": "string",
          "description": "Type of access justification."
        }
      },
      "id": "AccessReason",
      "type": "object"
    },
    "DismissDecision": {
      "id": "DismissDecision",
      "type": "object",
      "properties": {
        "implicit": {
          "type": "boolean",
          "description": "This field will be true if the ApprovalRequest was implcitly dismissed due to inaction by the access approval approvers (the request is not acted on by the approvers before the exiration time)."
        },
        "dismissTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the approval request was dismissed."
        }
      },
      "description": "A decision that has been made to dismiss an approval request."
    },
    "ListApprovalRequestsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more."
        },
        "approvalRequests": {
          "type": "array",
          "items": {
            "$ref": "ApprovalRequest"
          },
          "description": "Approval request details."
        }
      },
      "id": "ListApprovalRequestsResponse",
      "description": "Response to listing of ApprovalRequest objects."
    },
    "EnrolledService": {
      "properties": {
        "enrollmentLevel": {
          "description": "The enrollment level of the service.",
          "enumDescriptions": [
            "Default value for proto, shouldn't be used.",
            "Service is enrolled in Access Approval for all requests"
          ],
          "enum": [
            "ENROLLMENT_LEVEL_UNSPECIFIED",
            "BLOCK_ALL"
          ],
          "type": "string"
        },
        "cloudProduct": {
          "description": "The product for which Access Approval will be enrolled. Allowed values are listed below (case-sensitive): * all * App Engine * BigQuery * Cloud Bigtable * Cloud Key Management Service * Compute Engine * Cloud Dataflow * Cloud Identity and Access Management * Cloud Pub/Sub * Cloud Storage * Persistent Disk Note: These values are supported as input for legacy purposes, but will not be returned from the API. * all * appengine.googleapis.com * bigquery.googleapis.com * bigtable.googleapis.com * cloudkms.googleapis.com * compute.googleapis.com * dataflow.googleapis.com * iam.googleapis.com * pubsub.googleapis.com * storage.googleapis.com Calls to UpdateAccessApprovalSettings using 'all' or any of the XXX.googleapis.com will be translated to the associated product name ('all', 'App Engine', etc.). Note: 'all' will enroll the resource in all products supported at both 'GA' and 'Preview' levels. More information about levels of support is available at https://cloud.google.com/access-approval/docs/supported-services",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents the enrollment of a cloud resource into a specific service.",
      "id": "EnrolledService"
    },
    "AccessLocations": {
      "properties": {
        "principalPhysicalLocationCountry": {
          "description": "Physical location of the principal at the time of the access. A two-letter country code (ISO 3166-1 alpha-2), such as \"US\", \"DE\" or \"GB\" or a region code. In some limited situations Google systems may refer refer to a region code instead of a country code. Possible Region Codes: * ASI: Asia * EUR: Europe * OCE: Oceania * AFR: Africa * NAM: North America * SAM: South America * ANT: Antarctica * ANY: Any location",
          "type": "string"
        },
        "principalOfficeCountry": {
          "type": "string",
          "description": "The \"home office\" location of the principal. A two-letter country code (ISO 3166-1 alpha-2), such as \"US\", \"DE\" or \"GB\" or a region code. In some limited situations Google systems may refer refer to a region code instead of a country code. Possible Region Codes: * ASI: Asia * EUR: Europe * OCE: Oceania * AFR: Africa * NAM: North America * SAM: South America * ANT: Antarctica * ANY: Any location"
        }
      },
      "description": "Home office and physical location of the principal.",
      "id": "AccessLocations",
      "type": "object"
    },
    "DismissApprovalRequestMessage": {
      "properties": {},
      "description": "Request to dismiss an approval request.",
      "type": "object",
      "id": "DismissApprovalRequestMessage"
    },
    "AccessApprovalSettings": {
      "type": "object",
      "description": "Settings on a Project/Folder/Organization related to Access Approval.",
      "id": "AccessApprovalSettings",
      "properties": {
        "name": {
          "description": "The resource name of the settings. Format is one of: * \"projects/{project}/accessApprovalSettings\" * \"folders/{folder}/accessApprovalSettings\" * \"organizations/{organization}/accessApprovalSettings\"",
          "type": "string"
        },
        "enrolledServices": {
          "type": "array",
          "description": "A list of Google Cloud Services for which the given resource has Access Approval enrolled. Access requests for the resource given by name against any of these services contained here will be required to have explicit approval. If name refers to an organization, enrollment can be done for individual services. If name refers to a folder or project, enrollment can only be done on an all or nothing basis. If a cloud_product is repeated in this list, the first entry will be honored and all following entries will be discarded. A maximum of 10 enrolled services will be enforced, to be expanded as the set of supported services is expanded.",
          "items": {
            "$ref": "EnrolledService"
          }
        },
        "enrolledAncestor": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. This field is read only (not settable via UpdateAccessAccessApprovalSettings method). If the field is true, that indicates that at least one service is enrolled for Access Approval in one or more ancestors of the Project or Folder (this field will always be unset for the organization since organizations do not have ancestors)."
        },
        "notificationEmails": {
          "description": "A list of email addresses to which notifications relating to approval requests should be sent. Notifications relating to a resource will be sent to all emails in the settings of ancestor resources of that resource. A maximum of 50 email addresses are allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ApproveApprovalRequestMessage": {
      "id": "ApproveApprovalRequestMessage",
      "properties": {
        "expireTime": {
          "type": "string",
          "description": "The expiration time of this approval.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "Request to approve an ApprovalRequest."
    },
    "ResourceProperties": {
      "properties": {
        "excludesDescendants": {
          "type": "boolean",
          "description": "Whether an approval will exclude the descendants of the resource being requested."
        }
      },
      "id": "ResourceProperties",
      "type": "object",
      "description": "The properties associated with the resource of the request."
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "id": "Empty"
    },
    "ApproveDecision": {
      "description": "A decision that has been made to approve access to a resource.",
      "properties": {
        "approveTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which approval was granted."
        },
        "expireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the approval expires."
        }
      },
      "type": "object",
      "id": "ApproveDecision"
    }
  },
  "revision": "20210312",
  "title": "Access Approval API",
  "name": "accessapproval",
  "version": "v1",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true
}
