{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v1",
  "baseUrl": "https://apigee.googleapis.com/",
  "revision": "20201210",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "rootUrl": "https://apigee.googleapis.com/",
  "description": "Use the Apigee API to programmatically develop and manage APIs with a set of RESTful operations. Develop and secure API proxies, deploy and undeploy API proxy revisions, monitor APIs, configure environments, manage users, and more. Get started using the APIs. *Note:* This product is available as a free trial for a time period of 60 days.",
  "schemas": {
    "GoogleCloudApigeeV1DeploymentChangeReportRoutingDeployment": {
      "id": "GoogleCloudApigeeV1DeploymentChangeReportRoutingDeployment",
      "type": "object",
      "properties": {
        "basepath": {
          "type": "string",
          "description": "The basepath receiving traffic."
        },
        "environment": {
          "description": "The name of the environment in which the proxy is deployed.",
          "type": "string"
        },
        "apiProxy": {
          "description": "The name of the deployed proxy revision containing the basepath.",
          "type": "string"
        },
        "revision": {
          "description": "The name of the deployed proxy revision containing the basepath.",
          "type": "string"
        }
      },
      "description": "A tuple representing a basepath and the deployment containing it."
    },
    "GoogleRpcPreconditionFailureViolation": {
      "description": "A message type used to describe a single precondition failure.",
      "id": "GoogleRpcPreconditionFailureViolation",
      "type": "object",
      "properties": {
        "subject": {
          "type": "string",
          "description": "The subject, relative to the type, that failed. For example, \"google.com/cloud\" relative to the \"TOS\" type would indicate which terms of service is being referenced."
        },
        "description": {
          "type": "string",
          "description": "A description of how the precondition failed. Developers can use this description to understand how to fix the failure. For example: \"Terms of service not accepted\"."
        },
        "type": {
          "type": "string",
          "description": "The type of PreconditionFailure. We recommend using a service-specific enum type to define the supported precondition violation subjects. For example, \"TOS\" for \"Terms of Service violation\"."
        }
      }
    },
    "GoogleCloudApigeeV1ApiProductRef": {
      "id": "GoogleCloudApigeeV1ApiProductRef",
      "properties": {
        "apiproduct": {
          "type": "string",
          "description": "Name of the API product."
        },
        "status": {
          "type": "string",
          "description": "Status of the API product."
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1ListExportsResponse": {
      "id": "GoogleCloudApigeeV1ListExportsResponse",
      "properties": {
        "exports": {
          "description": "Details of the export jobs.",
          "items": {
            "$ref": "GoogleCloudApigeeV1Export"
          },
          "type": "array"
        }
      },
      "description": "The response for ListExports",
      "type": "object"
    },
    "GoogleIamV1SetIamPolicyRequest": {
      "type": "object",
      "description": "Request message for `SetIamPolicy` method.",
      "id": "GoogleIamV1SetIamPolicyRequest",
      "properties": {
        "policy": {
          "$ref": "GoogleIamV1Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Cloud Platform services (such as Projects) might reject them."
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string",
          "format": "google-fieldmask"
        }
      }
    },
    "GoogleCloudApigeeV1Properties": {
      "type": "object",
      "id": "GoogleCloudApigeeV1Properties",
      "description": "Message for compatibility with legacy Edge specification for Java Properties object in JSON.",
      "properties": {
        "property": {
          "description": "List of all properties in the object",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Property"
          }
        }
      }
    },
    "GoogleCloudApigeeV1Point": {
      "description": "Point is a group of information collected by runtime plane at critical points of the message flow of the processed API request. This is a list of supported point IDs, categorized to three major buckets. For each category, debug points that we are currently supporting are listed below: - Flow status debug points: StateChange FlowInfo Condition Execution DebugMask Error - Flow control debug points: FlowCallout Paused Resumed FlowReturn BreakFlow Error - Runtime debug points: ScriptExecutor FlowCalloutStepDefinition CustomTarget StepDefinition Oauth2ServicePoint RaiseFault NodeJS The detail information of the given debug point is stored in a list of results.",
      "id": "GoogleCloudApigeeV1Point",
      "type": "object",
      "properties": {
        "results": {
          "description": "List of results extracted from a given debug point.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Result"
          }
        },
        "id": {
          "type": "string",
          "description": "Name of a step in the transaction."
        }
      }
    },
    "GoogleCloudApigeeV1ExportRequest": {
      "id": "GoogleCloudApigeeV1ExportRequest",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Display name of the export job."
        },
        "csvDelimiter": {
          "description": "Optional. Delimiter used in the CSV file, if `outputFormat` is set to `csv`. Defaults to the `,` (comma) character. Supported delimiter characters include comma (`,`), pipe (`|`), and tab (`\\t`).",
          "type": "string"
        },
        "outputFormat": {
          "description": "Optional. Output format of the export. Valid values include: `csv` or `json`. Defaults to `json`. Note: Configure the delimiter for CSV output using the `csvDelimiter` property.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the export job.",
          "type": "string"
        },
        "dateRange": {
          "description": "Required. Date range of the data to export.",
          "$ref": "GoogleCloudApigeeV1DateRange"
        },
        "datastoreName": {
          "description": "Required. Name of the preconfigured datastore.",
          "type": "string"
        }
      },
      "description": "Request body for [CreateExportRequest]"
    },
    "GoogleCloudApigeeV1TestDatastoreResponse": {
      "description": "The response for TestDatastore",
      "type": "object",
      "properties": {
        "error": {
          "type": "string",
          "description": "Output only. Error message of test connection failure",
          "readOnly": true
        },
        "state": {
          "description": "Output only. It could be `completed` or `failed`",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1TestDatastoreResponse"
    },
    "GoogleCloudApigeeV1CanaryEvaluation": {
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "description": "Required. End time for the evaluation's analysis.",
          "type": "string"
        },
        "metricLabels": {
          "$ref": "GoogleCloudApigeeV1CanaryEvaluationMetricLabels",
          "description": "Required. Labels used to filter the metrics used for a canary evaluation."
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "No state has been specified.",
            "The canary evaluation is still in progress.",
            "The canary evaluation has finished."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED"
          ],
          "description": "Output only. The current state of the canary evaluation."
        },
        "treatment": {
          "description": "Required. The newer version that is serving requests.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Create time of the canary evaluation.",
          "readOnly": true
        },
        "control": {
          "description": "Required. The stable version that is serving requests.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. Name of the canary evalution.",
          "readOnly": true
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. Start time for the canary evaluation's analysis."
        },
        "verdict": {
          "description": "Output only. The resulting verdict of the canary evaluations: NONE, PASS, or FAIL.",
          "enum": [
            "VERDICT_UNSPECIFIED",
            "NONE",
            "FAIL",
            "PASS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Verdict is not available yet.",
            "No verdict reached.",
            "Evaluation is not good.",
            "Evaluation is good."
          ],
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1CanaryEvaluation",
      "description": "CanaryEvaluation represents the canary analysis between two versions of the runtime that is serving requests."
    },
    "GoogleCloudApigeeV1DataCollector": {
      "properties": {
        "name": {
          "description": "ID of the data collector. Must begin with `dc_`.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "For future compatibility.",
            "For integer values.",
            "For float values.",
            "For string values.",
            "For boolean values.",
            "For datetime values."
          ],
          "description": "Immutable. The type of data this data collector will collect.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "INTEGER",
            "FLOAT",
            "STRING",
            "BOOLEAN",
            "DATETIME"
          ]
        },
        "description": {
          "type": "string",
          "description": "A description of the data collector."
        },
        "createdAt": {
          "readOnly": true,
          "description": "Output only. The time at which the data collector was created in milliseconds since the epoch.",
          "type": "string",
          "format": "int64"
        },
        "lastModifiedAt": {
          "readOnly": true,
          "description": "Output only. The time at which the Data Collector was last updated in milliseconds since the epoch.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "GoogleCloudApigeeV1DataCollector",
      "description": "Data collector configuration.",
      "type": "object"
    },
    "GoogleCloudApigeeV1ReportInstanceStatusResponse": {
      "id": "GoogleCloudApigeeV1ReportInstanceStatusResponse",
      "description": "Placeholder for future enhancements to status reporting protocol",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudApigeeV1Keystore": {
      "description": "Datastore for Certificates and Aliases.",
      "type": "object",
      "id": "GoogleCloudApigeeV1Keystore",
      "properties": {
        "aliases": {
          "readOnly": true,
          "description": "Output only. Aliases in this keystore.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "description": "Required. Resource ID for this keystore. Values must match the regular expression `[\\w[:space:]-.]{1,255}`.",
          "type": "string"
        }
      }
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1ListDatastoresResponse": {
      "type": "object",
      "properties": {
        "datastores": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Datastore"
          },
          "description": "A list of datastores",
          "type": "array"
        }
      },
      "description": "The response for ListDatastores",
      "id": "GoogleCloudApigeeV1ListDatastoresResponse"
    },
    "GoogleCloudApigeeV1Metric": {
      "properties": {
        "name": {
          "type": "string",
          "description": "This field contains the metric name."
        },
        "values": {
          "items": {
            "type": "any"
          },
          "type": "array",
          "description": "List of metric values. Possible value format: \"values\":[\"39.0\"] or \"values\":[ { \"value\": \"39.0\", \"timestamp\": 1232434354} ]"
        }
      },
      "description": "This message type encapsulates the metric data point. Example: { \"name\": \"sum(message_count)\", \"values\" : [ { \"timestamp\": 1549004400000, \"value\": \"39.0\" }, { \"timestamp\" : 1548997200000, \"value\" : \"0.0\" } ] } or { \"name\": \"sum(message_count)\", \"values\" : [\"39.0\"] }",
      "type": "object",
      "id": "GoogleCloudApigeeV1Metric"
    },
    "GoogleCloudApigeeV1FlowHookConfig": {
      "properties": {
        "sharedFlowName": {
          "type": "string",
          "description": "Name of the shared flow to invoke in the following format: `organizations/{org}/sharedflows/{sharedflow}`"
        },
        "continueOnError": {
          "description": "Flag that specifies whether the flow should abort after an error in the flow hook. Defaults to `true` (continue on error).",
          "type": "boolean"
        },
        "name": {
          "description": "Name of the flow hook in the following format: `organizations/{org}/environments/{env}/flowhooks/{point}`. Valid `point` values include: `PreProxyFlowHook`, `PostProxyFlowHook`, `PreTargetFlowHook`, and `PostTargetFlowHook`",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1FlowHookConfig",
      "type": "object"
    },
    "GoogleCloudApigeeV1DebugMask": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the debug mask.",
          "type": "string"
        },
        "requestJSONPaths": {
          "type": "array",
          "description": "List of JSON paths that specify the JSON elements to be filtered from JSON request message payloads.",
          "items": {
            "type": "string"
          }
        },
        "faultXPaths": {
          "items": {
            "type": "string"
          },
          "description": "List of XPaths that specify the XML elements to be filtered from XML payloads in error flows.",
          "type": "array"
        },
        "responseJSONPaths": {
          "description": "List of JSON paths that specify the JSON elements to be filtered from JSON response message payloads.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "variables": {
          "description": "List of variables that should be masked from the debug output.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "responseXPaths": {
          "type": "array",
          "description": "List of XPaths that specify the XML elements to be filtered from XML response message payloads.",
          "items": {
            "type": "string"
          }
        },
        "namespaces": {
          "description": "Map of namespaces to URIs.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "faultJSONPaths": {
          "items": {
            "type": "string"
          },
          "description": "List of JSON paths that specify the JSON elements to be filtered from JSON payloads in error flows.",
          "type": "array"
        },
        "requestXPaths": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of XPaths that specify the XML elements to be filtered from XML request message payloads."
        }
      },
      "id": "GoogleCloudApigeeV1DebugMask"
    },
    "GoogleCloudApigeeV1AccessGet": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      },
      "description": "Get action. For example, \"Get\" : { \"name\" : \"target.name\", \"value\" : \"default\" }",
      "id": "GoogleCloudApigeeV1AccessGet"
    },
    "GoogleCloudApigeeV1KeyValueMap": {
      "type": "object",
      "properties": {
        "encrypted": {
          "description": "Optional. If `true` entry values will be encrypted.",
          "type": "boolean"
        },
        "name": {
          "description": "Required. The id of the key value map.",
          "type": "string"
        }
      },
      "description": "A collection of key, value string pairs",
      "id": "GoogleCloudApigeeV1KeyValueMap"
    },
    "GoogleCloudApigeeV1Export": {
      "description": "Details of an export job.",
      "type": "object",
      "id": "GoogleCloudApigeeV1Export",
      "properties": {
        "error": {
          "description": "Output only. Error is set when export fails",
          "readOnly": true,
          "type": "string"
        },
        "datastoreName": {
          "description": "Name of the datastore that is the destination of the export job [datastore]",
          "type": "string"
        },
        "created": {
          "description": "Output only. Time the export job was created.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Status of the export job. Valid values include `enqueued`, `running`, `completed`, and `failed`."
        },
        "updated": {
          "readOnly": true,
          "description": "Output only. Time the export job was last updated.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Display name of the export job."
        },
        "self": {
          "readOnly": true,
          "description": "Output only. Self link of the export job. A URI that can be used to retrieve the status of an export job. Example: `/organizations/myorg/environments/myenv/analytics/exports/9cfc0d85-0f30-46d6-ae6f-318d0cb961bd`",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Description of the export job."
        },
        "executionTime": {
          "readOnly": true,
          "description": "Output only. Execution time for this export job. If the job is still in progress, it will be set to the amount of time that has elapsed since`created`, in seconds. Else, it will set to (`updated` - `created`), in seconds.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1OperationGroup": {
      "type": "object",
      "properties": {
        "operationConfigs": {
          "items": {
            "$ref": "GoogleCloudApigeeV1OperationConfig"
          },
          "description": "Required. List of operation configurations for either Apigee API proxies or other remote services that are associated with this API product.",
          "type": "array"
        },
        "operationConfigType": {
          "description": "Flag that specifes whether the configuration is for Apigee API proxy or a remote service. Valid values are `proxy` or `remoteservice`. Defaults to `proxy`. Set to `proxy` when Apigee API proxies are associated with the API product. Set to `remoteservice` when non-Apigee proxies like Istio-Envoy are associated with the API product.",
          "type": "string"
        }
      },
      "description": "List of operation configuration details associated with Apigee API proxies or remote services. Remote services are non-Apigee proxies, such as Istio-Envoy.",
      "id": "GoogleCloudApigeeV1OperationGroup"
    },
    "GoogleCloudApigeeV1QueryMetric": {
      "description": "More info about Metric: https://docs.apigee.com/api-platform/analytics/analytics-reference#metrics",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Metric name."
        },
        "function": {
          "description": "Aggregation function: avg, min, max, or sum.",
          "type": "string"
        },
        "operator": {
          "type": "string",
          "description": "One of `+`, `-`, `/`, `%`, `*`."
        },
        "alias": {
          "type": "string",
          "description": "Alias for the metric. Alias will be used to replace metric name in query results."
        },
        "value": {
          "description": "Operand value should be provided when operator is set.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1QueryMetric"
    },
    "GoogleCloudApigeeV1ListApiProxiesResponse": {
      "id": "GoogleCloudApigeeV1ListApiProxiesResponse",
      "type": "object",
      "properties": {
        "proxies": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ApiProxy"
          }
        }
      }
    },
    "GoogleCloudApigeeV1ListNatAddressesResponse": {
      "id": "GoogleCloudApigeeV1ListNatAddressesResponse",
      "description": "Response for ListNatAddresses.",
      "type": "object",
      "properties": {
        "natAddresses": {
          "items": {
            "$ref": "GoogleCloudApigeeV1NatAddress"
          },
          "description": "List of NAT Addresses for the instance.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token that you can include in a ListNatAddresses request to retrieve the next page of content. If omitted, no subsequent pages exist."
        }
      }
    },
    "GoogleCloudApigeeV1Quota": {
      "type": "object",
      "description": "Quota contains the essential parameters needed that can be applied on a proxy/remote service, resources and methods combination associated with this API product. While setting of Quota is optional, setting it prevents requests from exceeding the provisioned parameters.",
      "id": "GoogleCloudApigeeV1Quota",
      "properties": {
        "interval": {
          "type": "string",
          "description": "Required. Time interval over which the number of request messages is calculated."
        },
        "limit": {
          "description": "Required. Upper limit allowed for the time interval and time unit specified. Requests exceeding this limit will be rejected.",
          "type": "string"
        },
        "timeUnit": {
          "type": "string",
          "description": "Time unit defined for the `interval`. Valid values include `minute`, `hour`, `day`, or `month`. If `limit` and `interval` are valid, the default value is `hour`; otherwise, the default is null."
        }
      }
    },
    "GoogleCloudApigeeV1ApiProxy": {
      "properties": {
        "latestRevisionId": {
          "description": "The id of the most recently created revision for this api proxy.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of the API proxy."
        },
        "revision": {
          "description": "List of revisons defined for the API proxy.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "metaData": {
          "$ref": "GoogleCloudApigeeV1EntityMetadata",
          "description": "Metadata describing the API proxy."
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1ApiProxy",
      "description": "Metadata describing the API proxy"
    },
    "GoogleCloudApigeeV1ReportInstanceStatusRequest": {
      "type": "object",
      "id": "GoogleCloudApigeeV1ReportInstanceStatusRequest",
      "properties": {
        "reportTime": {
          "description": "The time the report was generated in the runtime. Used to prevent an old status from overwriting a newer one. An instance should space out it's status reports so that clock skew does not play a factor.",
          "type": "string",
          "format": "google-datetime"
        },
        "resources": {
          "description": "Status for config resources",
          "items": {
            "$ref": "GoogleCloudApigeeV1ResourceStatus"
          },
          "type": "array"
        },
        "instanceUid": {
          "type": "string",
          "description": "A unique ID for the instance which is guaranteed to be unique in case the user installs multiple hybrid runtimes with the same instance ID."
        }
      },
      "description": "Request for ReportInstanceStatus."
    },
    "GoogleCloudApigeeV1ResourceFile": {
      "type": "object",
      "description": "Metadata about a resource file.",
      "properties": {
        "type": {
          "type": "string",
          "description": "Resource file type. {{ resource_file_type }}"
        },
        "name": {
          "type": "string",
          "description": "ID of the resource file."
        }
      },
      "id": "GoogleCloudApigeeV1ResourceFile"
    },
    "GoogleCloudApigeeV1DeploymentChangeReport": {
      "properties": {
        "routingChanges": {
          "items": {
            "$ref": "GoogleCloudApigeeV1DeploymentChangeReportRoutingChange"
          },
          "description": "All routing changes that may result from a deployment request.",
          "type": "array"
        },
        "routingConflicts": {
          "items": {
            "$ref": "GoogleCloudApigeeV1DeploymentChangeReportRoutingConflict"
          },
          "type": "array",
          "description": "All basepath conflicts detected for a deployment request."
        },
        "validationErrors": {
          "description": "Validation errors that would cause the deployment change request to be rejected.",
          "$ref": "GoogleRpcPreconditionFailure"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1DeploymentChangeReport",
      "description": "Response for GenerateDeployChangeReport and GenerateUndeployChangeReport. This report contains any validation failures that would cause the deployment to be rejected, as well changes and conflicts in routing that may occur due to the new deployment. The existence of a routing warning does not necessarily imply that the deployment request is bad, if the desired state of the deployment request is to effect a routing change. The primary purposes of the routing messages are: 1) To inform users of routing changes that may have an effect on traffic currently being routed to other existing deployments. 2) To warn users if some basepath in the proxy will not receive traffic due to an existing deployment having already claimed that basepath. The presence of routing conflicts/changes will not cause non-dry-run DeployApiProxy/UndeployApiProxy requests to be rejected."
    },
    "GoogleCloudApigeeV1Datastore": {
      "type": "object",
      "description": "The data store defines the connection to export data repository (Cloud Storage, BigQuery), including the credentials used to access the data repository.",
      "id": "GoogleCloudApigeeV1Datastore",
      "properties": {
        "createTime": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Datastore create time, in milliseconds since the epoch of 1970-01-01T00:00:00Z"
        },
        "lastUpdateTime": {
          "description": "Output only. Datastore last update time, in milliseconds since the epoch of 1970-01-01T00:00:00Z",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name in UI"
        },
        "org": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Organization that the datastore belongs to"
        },
        "targetType": {
          "description": "Destination storage type. Supported types `gcs` or `bigquery`.",
          "type": "string"
        },
        "self": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource link of Datastore. Example: `/organizations/{org}/analytics/datastores/{uuid}`"
        },
        "datastoreConfig": {
          "$ref": "GoogleCloudApigeeV1DatastoreConfig",
          "description": "Datastore Configurations."
        }
      }
    },
    "GoogleCloudApigeeV1TargetServerConfig": {
      "id": "GoogleCloudApigeeV1TargetServerConfig",
      "properties": {
        "tlsInfo": {
          "$ref": "GoogleCloudApigeeV1TlsInfoConfig",
          "description": "TLS settings for the target server."
        },
        "host": {
          "type": "string",
          "description": "Host name of the target server."
        },
        "port": {
          "description": "Port number for the target server.",
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "description": "Target server revision name in the following format: `organizations/{org}/environments/{env}/targetservers/{targetserver}/revisions/{rev}`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1ApiResponseWrapper": {
      "type": "object",
      "id": "GoogleCloudApigeeV1ApiResponseWrapper",
      "properties": {
        "requestId": {
          "description": "ID that can be used to find request details in the log files.",
          "type": "string"
        },
        "message": {
          "description": "Description of the operation.",
          "type": "string"
        },
        "errorCode": {
          "type": "string",
          "description": "ID that can be used to find errors in the log files."
        },
        "status": {
          "description": "Status of the operation.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1Attribute": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Value of the attribute."
        },
        "name": {
          "description": "API key of the attribute.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1Attribute",
      "type": "object",
      "description": "Key-value pair to store extra metadata."
    },
    "GoogleCloudApigeeV1CanaryEvaluationMetricLabels": {
      "id": "GoogleCloudApigeeV1CanaryEvaluationMetricLabels",
      "properties": {
        "location": {
          "description": "Required. The location associated with the metrics.",
          "type": "string"
        },
        "instance_id": {
          "description": "Required. The instance ID associated with the metrics. In Apigee Hybrid, the value is configured during installation.",
          "type": "string"
        },
        "env": {
          "description": "The environment ID associated with the metrics.",
          "type": "string"
        }
      },
      "description": "Labels that can be used to filter Apigee metrics.",
      "type": "object"
    },
    "GoogleCloudApigeeV1ApiProxyRevision": {
      "properties": {
        "revision": {
          "description": "API proxy revision.",
          "type": "string"
        },
        "entityMetaDataAsProperties": {
          "description": "Metadata describing the API proxy revision as a key-value map.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "targetEndpoints": {
          "type": "array",
          "description": "List of TargetEndpoints in the `/targets` directory of the API proxy. Typically, this element is included only when the API proxy was created using the Edge UI. This is a 'manifest' setting designed to provide visibility into the contents of the API proxy.",
          "items": {
            "type": "string"
          }
        },
        "type": {
          "type": "string",
          "description": "Type. Set to `Application`. Maintained for compatibility with the Apigee Edge API."
        },
        "teams": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of the teams included in the API proxy revision."
        },
        "basepaths": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Base URL of the API proxy."
        },
        "policies": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of policy names included in the API proxy revision.."
        },
        "proxies": {
          "description": "List of proxy names included in the API proxy revision.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "createdAt": {
          "description": "Time that the API proxy revision was created in milliseconds since epoch.",
          "type": "string",
          "format": "int64"
        },
        "displayName": {
          "description": "Human-readable name of the API proxy.",
          "type": "string"
        },
        "resourceFiles": {
          "description": "List of resource files included in the API proxy revision.",
          "$ref": "GoogleCloudApigeeV1ResourceFiles"
        },
        "targetServers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of TargetServers referenced in any TargetEndpoint in the API proxy. Typically, you will see this element only when the API proxy was created using the Edge UI. This is a 'manifest' setting designed to provide visibility into the contents of the API proxy."
        },
        "configurationVersion": {
          "$ref": "GoogleCloudApigeeV1ConfigVersion",
          "description": "Version of the API proxy configuration schema to which the API proxy conforms. Currently, the only supported value is 4.0 (`majorVersion.minorVersion`). This setting may be used in the future to track the evolution of the API proxy format."
        },
        "targets": {
          "type": "array",
          "description": "List of the targets included in the API proxy revision.",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "type": "string",
          "description": "Description of the API proxy revision."
        },
        "name": {
          "description": "Name of the API proxy.",
          "type": "string"
        },
        "proxyEndpoints": {
          "description": "List of ProxyEndpoints in the `/proxies` directory of the API proxy. Typically, this element is included only when the API proxy was created using the Edge UI. This is a 'manifest' setting designed to provide visibility into the contents of the API proxy.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "lastModifiedAt": {
          "type": "string",
          "format": "int64",
          "description": "Time that the API proxy revision was last modified in milliseconds since epoch."
        },
        "spec": {
          "type": "string",
          "description": "OpenAPI Specification that is associated with the API proxy. The value is set to a URL or to a path in the specification store."
        },
        "sharedFlows": {
          "items": {
            "type": "string"
          },
          "description": "List of the shared flows included in the API proxy revision.",
          "type": "array"
        },
        "contextInfo": {
          "description": "Revision number, app name, and organization for the API proxy.",
          "type": "string"
        },
        "resources": {
          "description": "List of the resources included in the API proxy revision formatted as \"{type}://{name}\".",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1ApiProxyRevision",
      "description": "API proxy revision."
    },
    "GoogleCloudApigeeV1AsyncQuery": {
      "type": "object",
      "properties": {
        "resultRows": {
          "type": "string",
          "description": "ResultRows is available only after the query is completed.",
          "format": "int64"
        },
        "queryParams": {
          "description": "Contains information like metrics, dimenstions etc of the AsyncQuery.",
          "$ref": "GoogleCloudApigeeV1QueryMetadata"
        },
        "reportDefinitionId": {
          "type": "string",
          "description": "Asynchronous Report ID."
        },
        "updated": {
          "description": "Last updated timestamp for the query.",
          "type": "string"
        },
        "state": {
          "description": "Query state could be \"enqueued\", \"running\", \"completed\", \"failed\".",
          "type": "string"
        },
        "resultFileSize": {
          "type": "string",
          "description": "ResultFileSize is available only after the query is completed."
        },
        "envgroupHostname": {
          "description": "Hostname is available only when query is executed at host level.",
          "type": "string"
        },
        "self": {
          "type": "string",
          "description": "Self link of the query. Example: `/organizations/myorg/environments/myenv/queries/9cfc0d85-0f30-46d6-ae6f-318d0cb961bd` or following format if query is running at host level: `/organizations/myorg/hostQueries/9cfc0d85-0f30-46d6-ae6f-318d0cb961bd`"
        },
        "executionTime": {
          "type": "string",
          "description": "ExecutionTime is available only after the query is completed."
        },
        "name": {
          "type": "string",
          "description": "Asynchronous Query Name."
        },
        "error": {
          "type": "string",
          "description": "Error is set when query fails."
        },
        "created": {
          "description": "Creation time of the query.",
          "type": "string"
        },
        "result": {
          "description": "Result is available only after the query is completed.",
          "$ref": "GoogleCloudApigeeV1AsyncQueryResult"
        }
      },
      "id": "GoogleCloudApigeeV1AsyncQuery"
    },
    "GoogleCloudApigeeV1EntityMetadata": {
      "properties": {
        "lastModifiedAt": {
          "format": "int64",
          "description": "Time at which the API proxy was most recently modified, in milliseconds since epoch.",
          "type": "string"
        },
        "createdAt": {
          "format": "int64",
          "type": "string",
          "description": "Time at which the API proxy was created, in milliseconds since epoch."
        },
        "subType": {
          "description": "The type of entity described",
          "type": "string"
        }
      },
      "description": "Metadata common to many entities in this API.",
      "type": "object",
      "id": "GoogleCloudApigeeV1EntityMetadata"
    },
    "GoogleCloudApigeeV1DeploymentChangeReportRoutingChange": {
      "type": "object",
      "properties": {
        "description": {
          "description": "A human-readable description of this routing change.",
          "type": "string"
        },
        "fromDeployment": {
          "description": "The basepath/deployment that may stop receiving some traffic.",
          "$ref": "GoogleCloudApigeeV1DeploymentChangeReportRoutingDeployment"
        },
        "shouldSequenceRollout": {
          "description": "True if using sequenced rollout would make this routing change safer. Note: this does not necessarily imply that automated sequenced rollout mode is supported for the operation.",
          "type": "boolean"
        },
        "environmentGroup": {
          "description": "The name of the environment group affected by this routing change.",
          "type": "string"
        },
        "toDeployment": {
          "description": "The basepath/deployment that may start receiving that traffic. May be null if no deployment is able to receive the traffic.",
          "$ref": "GoogleCloudApigeeV1DeploymentChangeReportRoutingDeployment"
        }
      },
      "description": "Describes a potential routing change that may occur as a result of some deployment operation.",
      "id": "GoogleCloudApigeeV1DeploymentChangeReportRoutingChange"
    },
    "GoogleLongrunningListOperationsResponse": {
      "id": "GoogleLongrunningListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1Instance": {
      "description": "Apigee runtime instance.",
      "type": "object",
      "properties": {
        "lastModifiedAt": {
          "description": "Output only. Time the instance was last modified in milliseconds since epoch.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "location": {
          "type": "string",
          "description": "Required. Compute Engine location where the instance resides."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Display name for the instance."
        },
        "host": {
          "description": "Output only. Hostname or IP address of the exposed Apigee endpoint used by clients to connect to the service.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Resource is in an unspecified state.",
            "Resource is being created.",
            "Resource is provisioned and ready to use.",
            "The resource is being deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING"
          ],
          "description": "Output only. State of the instance. Values other than ACTIVE means the resource is not ready to use.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Required. Resource ID of the instance. Values must match the regular expression `^a-z{0,30}[a-z\\d]$`.",
          "type": "string"
        },
        "createdAt": {
          "description": "Output only. Time the instance was created in milliseconds since epoch.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "port": {
          "readOnly": true,
          "description": "Output only. Port number of the exposed Apigee endpoint.",
          "type": "string"
        },
        "diskEncryptionKeyName": {
          "type": "string",
          "description": "Customer Managed Encryption Key (CMEK) used for disk and volume encryption. Required for Apigee paid subscriptions only. Use the following format: `projects/([^/]+)/locations/([^/]+)/keyRings/([^/]+)/cryptoKeys/([^/]+)`"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the instance."
        }
      },
      "id": "GoogleCloudApigeeV1Instance"
    },
    "GoogleCloudApigeeV1KeyAliasReference": {
      "type": "object",
      "id": "GoogleCloudApigeeV1KeyAliasReference",
      "properties": {
        "reference": {
          "type": "string",
          "description": "Reference name in the following format: `organizations/{org}/environments/{env}/references/{reference}`"
        },
        "aliasId": {
          "description": "Alias ID. Must exist in the keystore referred to by the reference.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1AliasRevisionConfig": {
      "id": "GoogleCloudApigeeV1AliasRevisionConfig",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "ALIAS_TYPE_UNSPECIFIED",
            "CERT",
            "KEY_CERT"
          ],
          "enumDescriptions": [
            "Alias type is not specified.",
            "Certificate.",
            "Key/certificate pair."
          ]
        },
        "name": {
          "description": "Name of the alias revision included in the keystore in the following format: `organizations/{org}/environments/{env}/keystores/{keystore}/aliases/{alias}/revisions/{rev}`",
          "type": "string"
        },
        "location": {
          "description": "Location of the alias file. For example, a Google Cloud Storage URI.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1QueryMetadata": {
      "properties": {
        "metrics": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Metrics of the AsyncQuery. Example: [\"name:message_count,func:sum,alias:sum_message_count\"]"
        },
        "dimensions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Dimensions of the AsyncQuery."
        },
        "outputFormat": {
          "type": "string",
          "description": "Output format."
        },
        "startTimestamp": {
          "type": "string",
          "description": "Start timestamp of the query range."
        },
        "timeUnit": {
          "type": "string",
          "description": "Query GroupBy time unit."
        },
        "endTimestamp": {
          "description": "End timestamp of the query range.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1QueryMetadata"
    },
    "GoogleIamV1AuditLogConfig": {
      "properties": {
        "logType": {
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "description": "The log type that this config enables."
        },
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        }
      },
      "type": "object",
      "id": "GoogleIamV1AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
    },
    "GoogleCloudApigeeV1FlowHook": {
      "type": "object",
      "properties": {
        "continueOnError": {
          "description": "Optional. Flag that specifies whether execution should continue if the flow hook throws an exception. Set to `true` to continue execution. Set to `false` to stop execution if the flow hook throws an exception.Defaults to `true`.",
          "type": "boolean"
        },
        "flowHookPoint": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Where in the API call flow the flow hook is invoked. Must be one of `PreProxyFlowHook`, `PostProxyFlowHook`, `PreTargetFlowHook`, or `PostTargetFlowHook`."
        },
        "sharedFlow": {
          "type": "string",
          "description": "Shared flow attached to this flow hook, or empty if there is none attached."
        },
        "description": {
          "type": "string",
          "description": "Description of the flow hook."
        }
      },
      "id": "GoogleCloudApigeeV1FlowHook"
    },
    "GoogleCloudApigeeV1Reference": {
      "type": "object",
      "id": "GoogleCloudApigeeV1Reference",
      "description": "A Reference configuration. References must refer to a keystore that also exists in the parent environment.",
      "properties": {
        "resourceType": {
          "description": "The type of resource referred to by this reference. Valid values are 'KeyStore' or 'TrustStore'.",
          "type": "string"
        },
        "refers": {
          "type": "string",
          "description": "Required. The id of the resource to which this reference refers. Must be the id of a resource that exists in the parent environment and is of the given resource_type."
        },
        "description": {
          "description": "Optional. A human-readable description of this reference.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. The resource id of this reference. Values must match the regular expression [\\w\\s\\-.]+."
        }
      }
    },
    "GoogleCloudApigeeV1RoutingRule": {
      "properties": {
        "environment": {
          "type": "string",
          "description": "Name of an environment bound to the environment group in the following format: `organizations/{org}/environments/{env}`."
        },
        "basepath": {
          "type": "string",
          "description": "URI path prefix used to route to the specified environment. May contain one or more wildcards. For example, path segments consisting of a single `*` character will match any string."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The unix timestamp when this rule was updated. This is updated whenever env_group_revision is updated. This field is omitted from the IngressConfig unless the GetDeployedIngressConfig API is called with view=FULL."
        },
        "receiver": {
          "type": "string",
          "description": "The resource name of the proxy revision that is receiving this basepath in the following format: `organizations/{org}/apis/{api}/revisions/{rev}`. This field is omitted from the IngressConfig unless the GetDeployedIngressConfig API is called with view=FULL."
        },
        "envGroupRevision": {
          "type": "string",
          "format": "int64",
          "description": "The env group config revision_id when this rule was added or last updated. This value is set when the rule is created and will only update if the the environment_id changes. It is used to determine if the runtime is up to date with respect to this rule. This field is omitted from the IngressConfig unless the GetDeployedIngressConfig API is called with view=FULL."
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1RoutingRule"
    },
    "GoogleCloudApigeeV1Credential": {
      "type": "object",
      "properties": {
        "issuedAt": {
          "type": "string",
          "description": "Time the credential was issued in milliseconds since epoch.",
          "format": "int64"
        },
        "consumerKey": {
          "type": "string",
          "description": "Consumer key."
        },
        "status": {
          "type": "string",
          "description": "Status of the credential."
        },
        "consumerSecret": {
          "type": "string",
          "description": "Secret key."
        },
        "attributes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          },
          "description": "List of attributes associated with this credential."
        },
        "expiresAt": {
          "description": "Time the credential will expire in milliseconds since epoch.",
          "type": "string",
          "format": "int64"
        },
        "scopes": {
          "description": "List of scopes to apply to the app. Specified scopes must already exist on the API product that you associate with the app.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "apiProducts": {
          "description": "List of API products this credential can be used for.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ApiProductRef"
          }
        }
      },
      "id": "GoogleCloudApigeeV1Credential"
    },
    "GoogleCloudApigeeV1CustomReport": {
      "type": "object",
      "id": "GoogleCloudApigeeV1CustomReport",
      "properties": {
        "comments": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Legacy field: not used. This field contains a list of comments associated with custom report"
        },
        "createdAt": {
          "description": "Output only. Unix time when the app was created json key: createdAt",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "Legacy field: not used. This field contains a list of tags associated with custom report",
          "type": "array"
        },
        "filter": {
          "description": "This field contains the filter expression",
          "type": "string"
        },
        "fromTime": {
          "type": "string",
          "description": "Legacy field: not used. Contains the from time for the report"
        },
        "topk": {
          "description": "Legacy field: not used. This field contains the top k parameter value for restricting the result",
          "type": "string"
        },
        "lastViewedAt": {
          "description": "Output only. Last viewed time of this entity as milliseconds since epoch",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "timeUnit": {
          "description": "This field contains the time unit of aggregation for the report",
          "type": "string"
        },
        "sortOrder": {
          "type": "string",
          "description": "Legacy field: not used much. Contains the sort order for the sort columns"
        },
        "metrics": {
          "type": "array",
          "description": "Required. This contains the list of metrics",
          "items": {
            "$ref": "GoogleCloudApigeeV1CustomReportMetric"
          }
        },
        "chartType": {
          "type": "string",
          "description": "This field contains the chart type for the report"
        },
        "environment": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Environment name"
        },
        "dimensions": {
          "description": "This contains the list of dimensions for the report",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "displayName": {
          "description": "This is the display name for the report",
          "type": "string"
        },
        "toTime": {
          "description": "Legacy field: not used. Contains the end time for the report",
          "type": "string"
        },
        "organization": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Organization name"
        },
        "lastModifiedAt": {
          "description": "Output only. Modified time of this entity as milliseconds since epoch. json key: lastModifiedAt",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "properties": {
          "description": "This field contains report properties such as ui metadata etc.",
          "items": {
            "$ref": "GoogleCloudApigeeV1ReportProperty"
          },
          "type": "array"
        },
        "name": {
          "description": "Required. Unique identifier for the report T his is a legacy field used to encode custom report unique id",
          "type": "string"
        },
        "sortByCols": {
          "items": {
            "type": "string"
          },
          "description": "Legacy field: not used much. Contains the list of sort by columns",
          "type": "array"
        },
        "offset": {
          "description": "Legacy field: not used. This field contains the offset for the data",
          "type": "string"
        },
        "limit": {
          "type": "string",
          "description": "Legacy field: not used This field contains the limit for the result retrieved"
        }
      }
    },
    "GoogleCloudApigeeV1InstanceAttachment": {
      "id": "GoogleCloudApigeeV1InstanceAttachment",
      "properties": {
        "environment": {
          "description": "ID of the attached environment.",
          "type": "string"
        },
        "name": {
          "description": "Output only. ID of the attachment.",
          "type": "string",
          "readOnly": true
        },
        "createdAt": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time the attachment was created in milliseconds since epoch.",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "InstanceAttachment represents the installation of an environment onto an instance."
    },
    "GoogleCloudApigeeV1ListAsyncQueriesResponse": {
      "properties": {
        "queries": {
          "description": "The asynchronous queries belong to requested resource name.",
          "items": {
            "$ref": "GoogleCloudApigeeV1AsyncQuery"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudApigeeV1ListAsyncQueriesResponse",
      "type": "object",
      "description": "The response for ListAsyncQueries."
    },
    "GoogleCloudApigeeV1OperationConfig": {
      "id": "GoogleCloudApigeeV1OperationConfig",
      "description": "OperationConfig binds the resources in a proxy or remote service with the allowed REST methods and its associated quota enforcement.",
      "type": "object",
      "properties": {
        "attributes": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          },
          "type": "array",
          "description": "Custom attributes associated with the operation."
        },
        "operations": {
          "description": "List of resource/method pairs for the proxy/remote service, upon which quota will applied. **Note**: Currently, you can specify only a single resource/method pair. The call will fail if more than one resource/method pair is provided.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Operation"
          }
        },
        "quota": {
          "description": "Quota parameters to be enforced for the resources, methods, api_source combination. If none are specified, quota enforcement will not be done.",
          "$ref": "GoogleCloudApigeeV1Quota"
        },
        "apiSource": {
          "type": "string",
          "description": "Required. API proxy or remote service name with which the resources, methods, and quota are associated."
        }
      }
    },
    "GoogleCloudApigeeV1ListOfDevelopersResponse": {
      "properties": {
        "developer": {
          "description": "List of developers.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Developer"
          }
        }
      },
      "id": "GoogleCloudApigeeV1ListOfDevelopersResponse",
      "type": "object"
    },
    "GoogleCloudApigeeV1DebugSessionTransaction": {
      "type": "object",
      "id": "GoogleCloudApigeeV1DebugSessionTransaction",
      "properties": {
        "completed": {
          "description": "Flag indicating whether a transaction is completed or not",
          "type": "boolean"
        },
        "point": {
          "type": "array",
          "description": "List of debug data collected by runtime plane at various defined points in the flow.",
          "items": {
            "$ref": "GoogleCloudApigeeV1Point"
          }
        }
      },
      "description": "A transaction contains all of the debug information of the entire message flow of an API call processed by the runtime plane. The information is collected and recorded at critical points of the message flow in the runtime apiproxy."
    },
    "GoogleCloudApigeeV1InstanceDeploymentStatusDeployedRoute": {
      "type": "object",
      "properties": {
        "envgroup": {
          "type": "string",
          "description": "The envgroup where this route is installed."
        },
        "environment": {
          "type": "string",
          "description": "The destination environment. This will be empty if the route is not yet reported."
        },
        "percentage": {
          "format": "int32",
          "description": "The percentage of ingress replicas reporting this route.",
          "type": "integer"
        },
        "basepath": {
          "description": "The basepath in the routing table.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1InstanceDeploymentStatusDeployedRoute",
      "description": "A route deployed in the ingress routing table."
    },
    "GoogleIamV1TestIamPermissionsRequest": {
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as '*' or 'storage.*') are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      },
      "type": "object",
      "id": "GoogleIamV1TestIamPermissionsRequest"
    },
    "GoogleCloudApigeeV1EnvironmentGroupAttachment": {
      "id": "GoogleCloudApigeeV1EnvironmentGroupAttachment",
      "description": "EnvironmentGroupAttachment is a resource which defines an attachment of an environment to an environment group.",
      "type": "object",
      "properties": {
        "environment": {
          "description": "Required. ID of the attached environment.",
          "type": "string"
        },
        "name": {
          "description": "ID of the environment group attachment.",
          "type": "string"
        },
        "createdAt": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time at which the environment group attachment was created as milliseconds since epoch.",
          "format": "int64"
        }
      }
    },
    "GoogleCloudApigeeV1OptimizedStats": {
      "properties": {
        "Response": {
          "description": "This field wraps the stats response for Js Optimized Scenario with a Response key. E.g. { \"Response\": { \"TimeUnit\": [], \"metaData\": { \"errors\": [], \"notices\": [ \"Source:Postgres\", \"Table used: edge.api.aaxgroup001.agg_api\", \"PG Host:ruappg08-ro.production.apigeeks.net\", \"query served by:80c4ebca-6a10-4a2e-8faf-c60c1ee306ca\" ] }, \"resultTruncated\": false, \"stats\": { \"data\": [ { \"identifier\": { \"names\": [ \"apiproxy\" ], \"values\": [ \"sirjee\" ] }, \"metric\": [ { \"env\": \"prod\", \"name\": \"sum(message_count)\", \"values\": [ 36.0 ] }, { \"env\": \"prod\", \"name\": \"sum(is_error)\", \"values\": [ 36.0 ] } ] } ] } } }",
          "$ref": "GoogleCloudApigeeV1OptimizedStatsResponse"
        }
      },
      "id": "GoogleCloudApigeeV1OptimizedStats",
      "type": "object"
    },
    "GoogleCloudApigeeV1DatastoreConfig": {
      "id": "GoogleCloudApigeeV1DatastoreConfig",
      "properties": {
        "tablePrefix": {
          "description": "Prefix of BigQuery table Required for `bigquery` target_type.",
          "type": "string"
        },
        "datasetName": {
          "description": "BigQuery dataset name Required for `bigquery` target_type.",
          "type": "string"
        },
        "bucketName": {
          "description": "Name of the Cloud Storage bucket. Required for `gcs` target_type.",
          "type": "string"
        },
        "path": {
          "type": "string",
          "description": "Path of Cloud Storage bucket Required for `gcs` target_type."
        },
        "projectId": {
          "description": "Required. GCP project in which the datastore exists",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Configuration detail for datastore"
    },
    "GoogleCloudApigeeV1InstanceDeploymentStatusDeployedRevision": {
      "description": "Revisions deployed in the MPs.",
      "properties": {
        "percentage": {
          "description": "The percentage of MP replicas reporting this revision",
          "type": "integer",
          "format": "int32"
        },
        "revision": {
          "description": "The proxy revision reported as deployed.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1InstanceDeploymentStatusDeployedRevision"
    },
    "GoogleCloudApigeeV1RuntimeTraceConfig": {
      "type": "object",
      "properties": {
        "revisionCreateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The timestamp that the revision was created or updated."
        },
        "name": {
          "type": "string",
          "description": "Name of the trace config in the following format: `organizations/{org}/environment/{env}/traceConfig`"
        },
        "samplingConfig": {
          "description": "Trace configuration for all API proxies in an environment.",
          "$ref": "GoogleCloudApigeeV1RuntimeTraceSamplingConfig"
        },
        "overrides": {
          "description": "List of trace configuration overrides for spicific API proxies.",
          "items": {
            "$ref": "GoogleCloudApigeeV1RuntimeTraceConfigOverride"
          },
          "type": "array"
        },
        "revisionId": {
          "description": "Revision number which can be used by the runtime to detect if the trace config has changed between two versions.",
          "type": "string"
        },
        "endpoint": {
          "type": "string",
          "description": "Endpoint of the exporter."
        },
        "exporter": {
          "enum": [
            "EXPORTER_UNSPECIFIED",
            "JAEGER",
            "CLOUD_TRACE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Exporter unspecified",
            "Jaeger exporter",
            "Cloudtrace exporter"
          ],
          "description": "Exporter that is used to view the distributed trace captured using OpenCensus. An exporter sends traces to any backend that is capable of consuming them. Recorded spans can be exported by registered exporters."
        }
      },
      "id": "GoogleCloudApigeeV1RuntimeTraceConfig",
      "description": "NEXT ID: 8 RuntimeTraceConfig defines the configurations for distributed trace in an environment."
    },
    "GoogleRpcPreconditionFailure": {
      "type": "object",
      "properties": {
        "violations": {
          "items": {
            "$ref": "GoogleRpcPreconditionFailureViolation"
          },
          "description": "Describes all precondition violations.",
          "type": "array"
        }
      },
      "description": "Describes what preconditions have failed. For example, if an RPC failed because it required the Terms of Service to be acknowledged, it could list the terms of service violation in the PreconditionFailure message.",
      "id": "GoogleRpcPreconditionFailure"
    },
    "GoogleCloudApigeeV1IngressConfig": {
      "type": "object",
      "properties": {
        "uid": {
          "type": "string",
          "description": "A unique id for the ingress config that will only change if the organization is deleted and recreated."
        },
        "name": {
          "description": "Name of the resource in the following format: `organizations/{org}/deployedIngressConfig`.",
          "type": "string"
        },
        "revisionId": {
          "description": "Revision id that defines the ordering on IngressConfig resources. The higher the revision, the more recently the configuration was deployed.",
          "type": "string",
          "format": "int64"
        },
        "revisionCreateTime": {
          "format": "google-datetime",
          "description": "Time at which the IngressConfig revision was created.",
          "type": "string"
        },
        "environmentGroups": {
          "type": "array",
          "description": "List of environment groups in the organization.",
          "items": {
            "$ref": "GoogleCloudApigeeV1EnvironmentGroupConfig"
          }
        }
      },
      "id": "GoogleCloudApigeeV1IngressConfig"
    },
    "GoogleCloudApigeeV1EnvironmentConfig": {
      "type": "object",
      "properties": {
        "resources": {
          "description": "List of resource versions in the environment.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ResourceConfig"
          }
        },
        "deployments": {
          "description": "List of deployments in the environment.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1DeploymentConfig"
          }
        },
        "provider": {
          "description": "Used by the Control plane to add context information to help detect the source of the document during diagnostics and debugging.",
          "type": "string"
        },
        "flowhooks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1FlowHookConfig"
          },
          "description": "List of flow hooks in the environment."
        },
        "name": {
          "type": "string",
          "description": "Name of the environment configuration in the following format: `organizations/{org}/environments/{env}/configs/{config}`"
        },
        "targets": {
          "items": {
            "$ref": "GoogleCloudApigeeV1TargetServerConfig"
          },
          "description": "List of target servers in the environment. Disabled target servers are not displayed.",
          "type": "array"
        },
        "revisionId": {
          "description": "Revision ID of the environment configuration. The higher the value, the more recently the configuration was deployed.",
          "type": "string",
          "format": "int64"
        },
        "debugMask": {
          "description": "Debug mask that applies to all deployments in the environment.",
          "$ref": "GoogleCloudApigeeV1DebugMask"
        },
        "uid": {
          "type": "string",
          "description": "Unique ID for the environment configuration. The ID will only change if the environment is deleted and recreated."
        },
        "sequenceNumber": {
          "format": "int64",
          "description": "DEPRECATED: Use revision_id.",
          "type": "string"
        },
        "resourceReferences": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ReferenceConfig"
          },
          "description": "List of resource references in the environment."
        },
        "pubsubTopic": {
          "type": "string",
          "description": "Name of the PubSub topic for the environment."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time that the environment configuration was created."
        },
        "featureFlags": {
          "description": "Feature flags inherited from the organization and environment.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "traceConfig": {
          "$ref": "GoogleCloudApigeeV1RuntimeTraceConfig",
          "description": "Trace configurations. Contains config for the environment and config overrides for specific API proxies."
        },
        "dataCollectors": {
          "items": {
            "$ref": "GoogleCloudApigeeV1DataCollectorConfig"
          },
          "description": "List of data collectors used by the deployments in the environment.",
          "type": "array"
        },
        "keystores": {
          "type": "array",
          "description": "List of keystores in the environment.",
          "items": {
            "$ref": "GoogleCloudApigeeV1KeystoreConfig"
          }
        }
      },
      "id": "GoogleCloudApigeeV1EnvironmentConfig"
    },
    "GoogleCloudApigeeV1Result": {
      "id": "GoogleCloudApigeeV1Result",
      "properties": {
        "ActionResult": {
          "type": "string",
          "description": "Type of the action result. Can be one of the five: DebugInfo, RequestMessage, ResponseMessage, ErrorMessage, VariableAccess"
        },
        "timestamp": {
          "description": "Timestamp of when the result is recorded. Its format is dd-mm-yy hh:mm:ss:xxx. For example, `\"timestamp\" : \"12-08-19 00:31:59:960\"`",
          "type": "string"
        },
        "accessList": {
          "type": "array",
          "description": "A list of variable access actions agaist the api proxy. Supported values: Get, Set, Remove.",
          "items": {
            "$ref": "GoogleCloudApigeeV1Access"
          }
        },
        "content": {
          "description": "Error message content. for example, \"content\" : \"{\\\"fault\\\":{\\\"faultstring\\\":\\\"API timed out\\\",\\\"detail\\\":{\\\"errorcode\\\":\\\"flow.APITimedOut\\\"}}}\"",
          "type": "string"
        },
        "reasonPhrase": {
          "description": "HTTP response phrase",
          "type": "string"
        },
        "verb": {
          "description": "HTTP method verb",
          "type": "string"
        },
        "headers": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Property"
          },
          "description": "A list of HTTP headers. for example, '\"headers\" : [ { \"name\" : \"Content-Length\", \"value\" : \"83\" }, { \"name\" : \"Content-Type\", \"value\" : \"application/json\" } ]'",
          "type": "array"
        },
        "properties": {
          "description": "Name value pairs used for DebugInfo ActionResult.",
          "$ref": "GoogleCloudApigeeV1Properties"
        },
        "statusCode": {
          "description": "HTTP response code",
          "type": "string"
        },
        "uRI": {
          "description": "The relative path of the api proxy. for example, `\"uRI\" : \"/iloveapis\"`",
          "type": "string"
        }
      },
      "description": "Result is short for \"action result\", could be different types identified by \"action_result\" field. Supported types: 1. DebugInfo : generic debug info collected by runtime recorded as a list of properties. For example, the contents could be virtual host info, state change result, or execution metadata. Required fields : properties, timestamp 2. RequestMessage: information of a http request. Contains headers, request URI and http methods type.Required fields : headers, uri, verb 3. ResponseMessage: information of a http response. Contains headers, reason phrase and http status code. Required fields : headers, reasonPhrase, statusCode 4. ErrorMessage: information of a http error message. Contains detail error message, reason phrase and status code. Required fields : content, headers, reasonPhrase, statusCode 5. VariableAccess: a list of variable access actions, can be Get, Set and Remove. Required fields : accessList",
      "type": "object"
    },
    "GoogleCloudApigeeV1ResourceStatus": {
      "properties": {
        "uid": {
          "description": "The uid of the resource. In the unexpected case that the instance has multiple uids for the same name, they should be reported under separate ResourceStatuses.",
          "type": "string"
        },
        "resource": {
          "description": "The resource name. Currently only two resources are supported: EnvironmentGroup - organizations/{org}/envgroups/{envgroup} EnvironmentConfig - organizations/{org}/environments/{environment}/deployedConfig",
          "type": "string"
        },
        "totalReplicas": {
          "description": "The total number of replicas that should have this resource.",
          "type": "integer",
          "format": "int32"
        },
        "revisions": {
          "description": "Revisions of the resource currently deployed in the instance.",
          "items": {
            "$ref": "GoogleCloudApigeeV1RevisionStatus"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudApigeeV1ResourceStatus",
      "type": "object",
      "description": "The status of a resource loaded in the runtime."
    },
    "GoogleCloudApigeeV1CommonNameConfig": {
      "type": "object",
      "id": "GoogleCloudApigeeV1CommonNameConfig",
      "properties": {
        "matchWildCards": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1Alias": {
      "description": "Reference to a certificate or key/certificate pair.",
      "type": "object",
      "id": "GoogleCloudApigeeV1Alias",
      "properties": {
        "alias": {
          "type": "string",
          "description": "Resource ID for this alias. Values must match the regular expression `[^/]{1,255}`."
        },
        "type": {
          "description": "Type of alias.",
          "enum": [
            "ALIAS_TYPE_UNSPECIFIED",
            "CERT",
            "KEY_CERT"
          ],
          "enumDescriptions": [
            "Alias type is not specified.",
            "Certificate.",
            "Key/certificate pair."
          ],
          "type": "string"
        },
        "certsInfo": {
          "$ref": "GoogleCloudApigeeV1Certificate",
          "description": "Chain of certificates under this alias."
        }
      }
    },
    "GoogleCloudApigeeV1DebugSession": {
      "type": "object",
      "id": "GoogleCloudApigeeV1DebugSession",
      "properties": {
        "name": {
          "description": "A unique ID for this DebugSession.",
          "type": "string"
        },
        "tracesize": {
          "type": "integer",
          "description": "Optional. The maximum number of bytes captured from the response payload. Min = 0, Max = 5120, Default = 5120.",
          "format": "int32"
        },
        "filter": {
          "type": "string",
          "description": "Optional. A conditional statement which is evaluated against the request message to determine if it should be traced. Syntax matches that of on API Proxy bundle flow Condition."
        },
        "validity": {
          "type": "integer",
          "description": "Optional. The length of time, in seconds, that this debug session is valid, starting from when it's received in the control plane. Min = 1, Max = 15, Default = 10.",
          "format": "int32"
        },
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The number of request to be traced. Min = 1, Max = 15, Default = 10."
        },
        "timeout": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The time in seconds after which this DebugSession should end. This value will override the value in query param, if both are provided."
        }
      }
    },
    "GoogleCloudApigeeV1CertInfo": {
      "id": "GoogleCloudApigeeV1CertInfo",
      "description": "X.509 certificate as defined in RFC 5280.",
      "properties": {
        "publicKey": {
          "description": "Public key component of the X.509 subject public key info.",
          "type": "string"
        },
        "subject": {
          "type": "string",
          "description": "X.509 subject."
        },
        "serialNumber": {
          "description": "X.509 serial number.",
          "type": "string"
        },
        "validFrom": {
          "format": "int64",
          "description": "X.509 `notBefore` validity period in milliseconds since epoch.",
          "type": "string"
        },
        "isValid": {
          "type": "string",
          "description": "Flag that specifies whether the certificate is valid. Flag is set to `Yes` if the certificate is valid, `No` if expired, or `Not yet` if not yet valid."
        },
        "subjectAlternativeNames": {
          "items": {
            "type": "string"
          },
          "description": "X.509 subject alternative names (SANs) extension.",
          "type": "array"
        },
        "issuer": {
          "description": "X.509 issuer.",
          "type": "string"
        },
        "basicConstraints": {
          "description": "X.509 basic constraints extension.",
          "type": "string"
        },
        "sigAlgName": {
          "type": "string",
          "description": "X.509 signatureAlgorithm."
        },
        "version": {
          "type": "integer",
          "description": "X.509 version.",
          "format": "int32"
        },
        "expiryDate": {
          "format": "int64",
          "type": "string",
          "description": "X.509 `notAfter` validity period in milliseconds since epoch."
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1ListApiCategoriesResponse": {
      "type": "object",
      "description": "the response for ListApiCategoriesRequest.",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "ID that can be used to find request details in the log files."
        },
        "data": {
          "description": "Details of categories.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ApiCategoryData"
          }
        },
        "message": {
          "type": "string",
          "description": "Description of the operation."
        },
        "status": {
          "description": "Status of the operation.",
          "type": "string"
        },
        "errorCode": {
          "type": "string",
          "description": "ID that can be used to find errors in the log files."
        }
      },
      "id": "GoogleCloudApigeeV1ListApiCategoriesResponse"
    },
    "GoogleCloudApigeeV1ActivateNatAddressRequest": {
      "properties": {},
      "description": "Request for ActivateNatAddressRequest. Activate the nat address request.",
      "id": "GoogleCloudApigeeV1ActivateNatAddressRequest",
      "type": "object"
    },
    "GoogleCloudApigeeV1DeveloperAppKey": {
      "id": "GoogleCloudApigeeV1DeveloperAppKey",
      "properties": {
        "expiresAt": {
          "type": "string",
          "format": "int64",
          "description": "Time the developer app expires in milliseconds since epoch."
        },
        "consumerSecret": {
          "description": "Secret key.",
          "type": "string"
        },
        "attributes": {
          "description": "List of attributes associated with the credential.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          }
        },
        "status": {
          "description": "Status of the credential. Valid values include `approved` or `revoked`.",
          "type": "string"
        },
        "issuedAt": {
          "type": "string",
          "format": "int64",
          "description": "Time the developer app was created in milliseconds since epoch."
        },
        "consumerKey": {
          "description": "Consumer key.",
          "type": "string"
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "description": "Scopes to apply to the app. The specified scope names must already be defined for the API product that you associate with the app.",
          "type": "array"
        },
        "apiProducts": {
          "description": "List of API products for which the credential can be used. **Note**: Do not specify the list of API products when creating a consumer key and secret for a developer app. Instead, use the UpdateDeveloperAppKey API to make the association after the consumer key and secret are created.",
          "items": {
            "type": "any"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1ProvisionOrganizationRequest": {
      "description": "Request for ProvisionOrganization.",
      "id": "GoogleCloudApigeeV1ProvisionOrganizationRequest",
      "properties": {
        "analyticsRegion": {
          "description": "Primary Cloud Platform region for analytics data storage. For valid values, see [Create an organization](https://docs.apigee.com/hybrid/latest/precog-provision). Defaults to us-west1.",
          "type": "string"
        },
        "authorizedNetwork": {
          "description": "Name of the customer project's VPC network. If provided, the network needs to be peered through Service Networking. If none is provided, the organization will have access only to the public internet.",
          "type": "string"
        },
        "runtimeLocation": {
          "type": "string",
          "description": "Cloud Platform location for the runtime instance. Defaults to us-west1-a."
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1ListCustomReportsResponse": {
      "properties": {
        "qualifier": {
          "items": {
            "$ref": "GoogleCloudApigeeV1CustomReport"
          },
          "type": "array"
        }
      },
      "description": "This message encapsulates a list of custom report definitions",
      "type": "object",
      "id": "GoogleCloudApigeeV1ListCustomReportsResponse"
    },
    "GoogleCloudApigeeV1ListEnvironmentGroupsResponse": {
      "description": "Response for ListEnvironmentGroups.",
      "id": "GoogleCloudApigeeV1ListEnvironmentGroupsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Page token that you can include in a ListEnvironmentGroups request to retrieve the next page. If omitted, no subsequent pages exist.",
          "type": "string"
        },
        "environmentGroups": {
          "type": "array",
          "description": "EnvironmentGroups in the specified organization.",
          "items": {
            "$ref": "GoogleCloudApigeeV1EnvironmentGroup"
          }
        }
      },
      "type": "object"
    },
    "GoogleIamV1AuditConfig": {
      "id": "GoogleIamV1AuditConfig",
      "type": "object",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts jose@example.com from DATA_READ logging, and aliya@example.com from DATA_WRITE logging.",
      "properties": {
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        },
        "auditLogConfigs": {
          "type": "array",
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "GoogleIamV1AuditLogConfig"
          }
        }
      }
    },
    "GoogleCloudApigeeV1NatAddress": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Resource ID of the NAT address."
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The resource is in an unspecified state.",
            "The NAT address is being created.",
            "The NAT address is reserved but not yet used for Internet egress.",
            "The NAT address is active and used for Internet egress.",
            "The NAT address is being deleted."
          ],
          "description": "Required. State of the nat address.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "RESERVED",
            "ACTIVE",
            "DELETING"
          ]
        },
        "ipAddress": {
          "description": "Required. The static IPV4 address.",
          "type": "string"
        }
      },
      "description": "Apigee NAT(network address translation) address. A NAT address is a static external IP address used for Internet egress traffic.",
      "type": "object",
      "id": "GoogleCloudApigeeV1NatAddress"
    },
    "GoogleCloudApigeeV1StatsHostStats": {
      "description": "This message type encapsulates the hostname wrapper: \"hosts\": [ { \"metrics\": [ { \"name\": \"sum(message_count)\", \"values\": [ \"2.52056245E8\" ] } ], \"name\": \"example.com\" } ]",
      "properties": {
        "dimensions": {
          "type": "array",
          "description": "This field contains the list of metrics grouped under dimensions.",
          "items": {
            "$ref": "GoogleCloudApigeeV1DimensionMetric"
          }
        },
        "metrics": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Metric"
          },
          "type": "array",
          "description": "In the final response, only one of the following fields will be present based on the dimensions provided. If no dimensions are provided, then only a top level metrics is provided. If dimensions are included, then there will be a top level dimensions field under hostnames which will contain metrics values and the dimension name. Example: \"hosts\": [ { \"dimensions\": [ { \"metrics\": [ { \"name\": \"sum(message_count)\", \"values\": [ \"2.14049521E8\" ] } ], \"name\": \"nit_proxy\" } ], \"name\": \"example.com\" } ] OR \"hosts\": [ { \"metrics\": [ { \"name\": \"sum(message_count)\", \"values\": [ \"2.19026331E8\" ] } ], \"name\": \"example.com\" } ] This field contains the list of metric values."
        },
        "name": {
          "description": "This field contains the hostname used in query.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1StatsHostStats"
    },
    "GoogleCloudApigeeV1Metadata": {
      "properties": {
        "notices": {
          "items": {
            "type": "string"
          },
          "description": "List of additional information such as data source, if result was truncated etc. E.g \"notices\": [ \"Source:Postgres\", \"PG Host:uappg0rw.e2e.apigeeks.net\", \"query served by:4b64601e-40de-4eb1-bfb9-eeee7ac929ed\", \"Table used: edge.api.uapgroup2.agg_api\" ]",
          "type": "array"
        },
        "errors": {
          "type": "array",
          "description": "List of error messages as strings.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1Metadata",
      "description": "This message type encapsulates additional information about query execution."
    },
    "GoogleCloudApigeeV1ConfigVersion": {
      "description": "Version of the API proxy configuration schema. Currently, only 4.0 is supported.",
      "type": "object",
      "properties": {
        "minorVersion": {
          "description": "Minor version of the API proxy configuration schema.",
          "type": "integer",
          "format": "int32"
        },
        "majorVersion": {
          "description": "Major version of the API proxy configuration schema.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudApigeeV1ConfigVersion"
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleIamV1TestIamPermissionsResponse"
    },
    "GoogleCloudApigeeV1TlsInfo": {
      "description": "TLS configuration information for VirtualHosts and TargetServers.",
      "type": "object",
      "id": "GoogleCloudApigeeV1TlsInfo",
      "properties": {
        "trustStore": {
          "type": "string",
          "description": "The resource ID of the truststore. References not yet supported."
        },
        "clientAuthEnabled": {
          "description": "Optional. Enables two-way TLS.",
          "type": "boolean"
        },
        "ciphers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The SSL/TLS cipher suites to be used. Must be one of the cipher suite names listed in: http://docs.oracle.com/javase/8/docs/technotes/guides/security/StandardNames.html#ciphersuites"
        },
        "ignoreValidationErrors": {
          "type": "boolean",
          "description": "If true, Edge ignores TLS certificate errors. Valid when configuring TLS for target servers and target endpoints, and when configuring virtual hosts that use 2-way TLS. When used with a target endpoint/target server, if the backend system uses SNI and returns a cert with a subject Distinguished Name (DN) that does not match the hostname, there is no way to ignore the error and the connection fails."
        },
        "keyAlias": {
          "description": "Required if `client_auth_enabled` is true. The resource ID for the alias containing the private key and cert.",
          "type": "string"
        },
        "enabled": {
          "description": "Required. Enables TLS. If false, neither one-way nor two-way TLS will be enabled.",
          "type": "boolean"
        },
        "commonName": {
          "description": "The TLS Common Name of the certificate.",
          "$ref": "GoogleCloudApigeeV1TlsInfoCommonName"
        },
        "keyStore": {
          "description": "Required if `client_auth_enabled` is true. The resource ID of the keystore. References not yet supported.",
          "type": "string"
        },
        "protocols": {
          "description": "The TLS versioins to be used.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudApigeeV1ApiCategory": {
      "properties": {
        "errorCode": {
          "description": "ID that can be used to find errors in the log files.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "description": "Status of the operation."
        },
        "requestId": {
          "type": "string",
          "description": "ID that can be used to find request details in the log files."
        },
        "message": {
          "description": "Description of the operation.",
          "type": "string"
        },
        "data": {
          "$ref": "GoogleCloudApigeeV1ApiCategoryData",
[...]
