{
  "kind": "discovery#restDescription",
  "revision": "20201210",
  "description": "Use the Apigee API to programmatically develop and manage APIs with a set of RESTful operations. Develop and secure API proxies, deploy and undeploy API proxy revisions, monitor APIs, configure environments, manage users, and more. Get started using the APIs. *Note:* This product is available as a free trial for a time period of 60 days.",
  "id": "apigee:v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "basePath": "",
  "mtlsRootUrl": "https://apigee.mtls.googleapis.com/",
  "protocol": "rest",
  "documentationLink": "https://cloud.google.com/apigee-api-management/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "version": "v1",
  "servicePath": "",
  "version_module": true,
  "rootUrl": "https://apigee.googleapis.com/",
  "parameters": {
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    }
  },
  "name": "apigee",
  "ownerName": "Google",
  "baseUrl": "https://apigee.googleapis.com/",
  "resources": {
    "organizations": {
      "methods": {
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "apigee.organizations.delete",
          "path": "v1/{+name}",
          "flatPath": "v1/organizations/{organizationsId}",
          "description": "Delete an Apigee organization. Only supported for SubscriptionType TRIAL.",
          "parameters": {
            "name": {
              "description": "Required. Name of the organization. Use the following structure in your request: `organizations/{org}`",
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^organizations/[^/]+$"
            }
          },
          "httpMethod": "DELETE",
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "parameterOrder": [
            "name"
          ]
        },
        "update": {
          "request": {
            "$ref": "GoogleCloudApigeeV1Organization"
          },
          "response": {
            "$ref": "GoogleCloudApigeeV1Organization"
          },
          "path": "v1/{+name}",
          "id": "apigee.organizations.update",
          "httpMethod": "PUT",
          "flatPath": "v1/organizations/{organizationsId}",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "description": "Required. Apigee organization name in the following format: `organizations/{org}`",
              "pattern": "^organizations/[^/]+$",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "description": "Updates the properties for an Apigee organization. No other fields in the organization profile will be updated."
        },
        "getSyncAuthorization": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^organizations/[^/]+$",
              "required": true,
              "description": "Required. Name of the Apigee organization. Use the following structure in your request: `organizations/{org}`",
              "type": "string"
            }
          },
          "response": {
            "$ref": "GoogleCloudApigeeV1SyncAuthorization"
          },
          "id": "apigee.organizations.getSyncAuthorization",
          "flatPath": "v1/organizations/{organizationsId}:getSyncAuthorization",
          "path": "v1/{+name}:getSyncAuthorization",
          "httpMethod": "POST",
          "parameterOrder": [
            "name"
          ],
          "description": "Lists the service accounts with the permissions required to allow the Synchronizer to download environment data from the control plane. An ETag is returned in the response to `getSyncAuthorization`. Pass that ETag when calling [setSyncAuthorization](setSyncAuthorization) to ensure that you are updating the correct version. If you don't pass the ETag in the call to `setSyncAuthorization`, then the existing authorization is overwritten indiscriminately. For more information, see [Configure the Synchronizer](https://cloud.google.com/apigee/docs/hybrid/latest/synchronizer-access). **Note**: Available to Apigee hybrid only.",
          "request": {
            "$ref": "GoogleCloudApigeeV1GetSyncAuthorizationRequest"
          }
        },
        "create": {
          "description": "Creates an Apigee organization. See [Create an Apigee organization](https://cloud.google.com/apigee/docs/api-platform/get-started/create-org).",
          "parameterOrder": [],
          "flatPath": "v1/organizations",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "apigee.organizations.create",
          "httpMethod": "POST",
          "parameters": {
            "parent": {
              "type": "string",
              "description": "Required. Name of the GCP project in which to associate the Apigee organization. Pass the information as a query parameter using the following structure in your request: `projects/`",
              "location": "query"
            }
          },
          "request": {
            "$ref": "GoogleCloudApigeeV1Organization"
          },
          "path": "v1/organizations",
          "response": {
            "$ref": "GoogleLongrunningOperation"
          }
        },
        "list": {
          "response": {
            "$ref": "GoogleCloudApigeeV1ListOrganizationsResponse"
          },
          "id": "apigee.organizations.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/organizations",
          "path": "v1/{+parent}",
          "httpMethod": "GET",
          "description": "Lists the Apigee organizations and associated GCP projects that you have permission to access. See [Understanding organizations](https://cloud.google.com/apigee/docs/api-platform/fundamentals/organization-structure).",
          "parameters": {
            "parent": {
              "description": "Required. Use the following structure in your request: `organizations`",
              "type": "string",
              "pattern": "^organizations$",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "parent"
          ]
        },
        "get": {
          "id": "apigee.organizations.get",
          "description": "Gets the profile for an Apigee organization. See [Understanding organizations](https://cloud.google.com/apigee/docs/api-platform/fundamentals/organization-structure).",
          "response": {
            "$ref": "GoogleCloudApigeeV1Organization"
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/organizations/{organizationsId}",
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "description": "Required. Apigee organization name in the following format: `organizations/{org}`",
              "pattern": "^organizations/[^/]+$",
              "type": "string"
            }
          },
          "path": "v1/{+name}"
        },
        "getDeployedIngressConfig": {
          "id": "apigee.organizations.getDeployedIngressConfig",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "view": {
              "enum": [
                "INGRESS_CONFIG_VIEW_UNSPECIFIED",
                "BASIC",
                "FULL"
              ],
              "description": "When set to FULL, additional details about the specific deployments receiving traffic will be included in the IngressConfig response's RoutingRules.",
              "location": "query",
              "enumDescriptions": [
                "The default/unset value. The API will default to the BASIC view.",
                "Include all ingress config data necessary for the runtime to configure ingress, but no more. Routing rules will include only basepath and destination environment. This the default value.",
                "Include all ingress config data, including internal debug info for each routing rule such as the proxy claiming a particular basepath and when the routing rule first appeared in the env group."
              ],
              "type": "string"
            },
            "name": {
              "description": "Required. Name of the deployed configuration for the organization in the following format: 'organizations/{org}/deployedIngressConfig'.",
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^organizations/[^/]+/deployedIngressConfig$"
            }
          },
          "path": "v1/{+name}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/organizations/{organizationsId}/deployedIngressConfig",
          "response": {
            "$ref": "GoogleCloudApigeeV1IngressConfig"
          },
          "description": "Gets the deployed ingress configuration for an organization."
        },
        "setSyncAuthorization": {
          "request": {
            "$ref": "GoogleCloudApigeeV1SyncAuthorization"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "description": "Sets the permissions required to allow the Synchronizer to download environment data from the control plane. You must call this API to enable proper functioning of hybrid. Pass the ETag when calling `setSyncAuthorization` to ensure that you are updating the correct version. To get an ETag, call [getSyncAuthorization](getSyncAuthorization). If you don't pass the ETag in the call to `setSyncAuthorization`, then the existing authorization is overwritten indiscriminately. For more information, see [Configure the Synchronizer](https://cloud.google.com/apigee/docs/hybrid/latest/synchronizer-access). **Note**: Available to Apigee hybrid only.",
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+$",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. Name of the Apigee organization. Use the following structure in your request: `organizations/{org}`"
            }
          },
          "flatPath": "v1/organizations/{organizationsId}:setSyncAuthorization",
          "path": "v1/{+name}:setSyncAuthorization",
          "id": "apigee.organizations.setSyncAuthorization",
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleCloudApigeeV1SyncAuthorization"
          }
        }
      },
      "resources": {
        "datacollectors": {
          "methods": {
            "get": {
              "flatPath": "v1/organizations/{organizationsId}/datacollectors/{datacollectorsId}",
              "id": "apigee.organizations.datacollectors.get",
              "path": "v1/{+name}",
              "description": "Gets a data collector.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1DataCollector"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^organizations/[^/]+/datacollectors/[^/]+$",
                  "description": "Required. Name of the data collector in the following format: `organizations/{org}/datacollectors/{data_collector_id}`.",
                  "type": "string",
                  "location": "path"
                }
              }
            },
            "delete": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/datacollectors/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. Name of the data collector in the following format: `organizations/{org}/datacollectors/{data_collector_id}`.",
                  "required": true
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/datacollectors/{datacollectorsId}",
              "path": "v1/{+name}",
              "id": "apigee.organizations.datacollectors.delete",
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a data collector."
            },
            "create": {
              "response": {
                "$ref": "GoogleCloudApigeeV1DataCollector"
              },
              "flatPath": "v1/organizations/{organizationsId}/datacollectors",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "dataCollectorId": {
                  "location": "query",
                  "type": "string",
                  "description": "ID of the data collector. Overrides any ID in the data collector resource. Must begin with `dc_`."
                },
                "parent": {
                  "description": "Required. Name of the organization in which to create the data collector in the following format: `organizations/{org}`.",
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Creates a new data collector.",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudApigeeV1DataCollector"
              },
              "path": "v1/{+parent}/datacollectors",
              "id": "apigee.organizations.datacollectors.create"
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "id": "apigee.organizations.datacollectors.patch",
              "path": "v1/{+name}",
              "flatPath": "v1/organizations/{organizationsId}/datacollectors/{datacollectorsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Updates a data collector.",
              "response": {
                "$ref": "GoogleCloudApigeeV1DataCollector"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Name of the data collector in the following format: `organizations/{org}/datacollectors/{data_collector_id}`.",
                  "required": true,
                  "location": "path",
                  "pattern": "^organizations/[^/]+/datacollectors/[^/]+$"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "List of fields to be updated.",
                  "type": "string"
                }
              },
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleCloudApigeeV1DataCollector"
              }
            },
            "list": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the organization for which to list data collectors in the following format: `organizations/{org}`.",
                  "pattern": "^organizations/[^/]+$"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Page token, returned from a previous ListDataCollectors call, that you can use to retrieve the next page.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Maximum number of data collectors to return. The page size defaults to 25.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                }
              },
              "description": "Lists all data collectors.",
              "path": "v1/{+parent}/datacollectors",
              "id": "apigee.organizations.datacollectors.list",
              "response": {
                "$ref": "GoogleCloudApigeeV1ListDataCollectorsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/organizations/{organizationsId}/datacollectors"
            }
          }
        },
        "sites": {
          "resources": {
            "apicategories": {
              "methods": {
                "patch": {
                  "httpMethod": "PATCH",
                  "path": "v1/{+name}",
                  "description": "Updates a category on the portal.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/sites/{sitesId}/apicategories/{apicategoriesId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/sites/[^/]+/apicategories/[^/]+$",
                      "description": "Required. Name of the category. Use the following structure in your request: `organizations/{org}/sites/{site}/apicategories/{apicategory}`",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ApiCategory"
                  },
                  "request": {
                    "$ref": "GoogleCloudApigeeV1ApiCategoryData"
                  },
                  "id": "apigee.organizations.sites.apicategories.patch"
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ApiCategory"
                  },
                  "request": {
                    "$ref": "GoogleCloudApigeeV1ApiCategoryData"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/sites/{sitesId}/apicategories",
                  "path": "v1/{+parent}/apicategories",
                  "id": "apigee.organizations.sites.apicategories.create",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^organizations/[^/]+/sites/[^/]+$",
                      "description": "Required. Name of the portal. Use the following structure in your request: `organizations/{org}/sites/{site}`"
                    }
                  },
                  "description": "Creates a new category on the portal."
                },
                "get": {
                  "flatPath": "v1/organizations/{organizationsId}/sites/{sitesId}/apicategories/{apicategoriesId}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ApiCategory"
                  },
                  "id": "apigee.organizations.sites.apicategories.get",
                  "description": "Gets a category on the portal.",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. Name of the category. Use the following structure in your request: `organizations/{org}/sites/{site}/apicategories/{apicategory}`",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/sites/[^/]+/apicategories/[^/]+$",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET"
                },
                "list": {
                  "path": "v1/{+parent}/apicategories",
                  "flatPath": "v1/organizations/{organizationsId}/sites/{sitesId}/apicategories",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "description": "Required. Name of the portal. Use the following structure in your request: `organizations/{org}/sites/{site}`",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^organizations/[^/]+/sites/[^/]+$"
                    }
                  },
                  "description": "Lists the categories on the portal.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListApiCategoriesResponse"
                  },
                  "id": "apigee.organizations.sites.apicategories.list"
                },
                "delete": {
                  "path": "v1/{+name}",
                  "description": "Deletes a category from the portal.",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ApiResponseWrapper"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/sites/[^/]+/apicategories/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. Name of the category. Use the following structure in your request: `organizations/{org}/sites/{site}/apicategories/{apicategory}`",
                      "location": "path"
                    }
                  },
                  "id": "apigee.organizations.sites.apicategories.delete",
                  "flatPath": "v1/organizations/{organizationsId}/sites/{sitesId}/apicategories/{apicategoriesId}"
                }
              }
            }
          }
        },
        "instances": {
          "methods": {
            "reportStatus": {
              "httpMethod": "POST",
              "parameterOrder": [
                "instance"
              ],
              "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}:reportStatus",
              "parameters": {
                "instance": {
                  "pattern": "^organizations/[^/]+/instances/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "The name of the instance reporting this status. For SaaS the request will be rejected if no instance exists under this name. Format is organizations/{org}/instances/{instance}",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.instances.reportStatus",
              "path": "v1/{+instance}:reportStatus",
              "response": {
                "$ref": "GoogleCloudApigeeV1ReportInstanceStatusResponse"
              },
              "description": "Reports the latest status for a runtime instance.",
              "request": {
                "$ref": "GoogleCloudApigeeV1ReportInstanceStatusRequest"
              }
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "id": "apigee.organizations.instances.delete",
              "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "description": "Required. Name of the instance. Use the following structure in your request: `organizations/{org}/instances/{instance}`.",
                  "pattern": "^organizations/[^/]+/instances/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Deletes an Apigee runtime instance. The instance stops serving requests and the runtime data is deleted. **Note:** Not supported for Apigee hybrid."
            },
            "create": {
              "path": "v1/{+parent}/instances",
              "flatPath": "v1/organizations/{organizationsId}/instances",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the organization. Use the following structure in your request: `organizations/{org}`."
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudApigeeV1Instance"
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Creates an Apigee runtime instance. The instance is accessible from the authorized network configured on the organization. **Note:** Not supported for Apigee hybrid.",
              "id": "apigee.organizations.instances.create"
            },
            "list": {
              "flatPath": "v1/organizations/{organizationsId}/instances",
              "response": {
                "$ref": "GoogleCloudApigeeV1ListInstancesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/instances",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the organization. Use the following structure in your request: `organizations/{org}`."
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "Maximum number of instances to return. Defaults to 25.",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Page token, returned from a previous ListInstances call, that you can use to retrieve the next page of content."
                }
              },
              "id": "apigee.organizations.instances.list",
              "description": "Lists all Apigee runtime instances for the organization. **Note:** Not supported for Apigee hybrid.",
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "description": "Gets the details for an Apigee runtime instance. **Note:** Not supported for Apigee hybrid.",
              "id": "apigee.organizations.instances.get",
              "httpMethod": "GET",
              "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1Instance"
              },
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. Name of the instance. Use the following structure in your request: `organizations/{org}/instances/{instance}`.",
                  "required": true,
                  "pattern": "^organizations/[^/]+/instances/[^/]+$"
                }
              }
            }
          },
          "resources": {
            "canaryevaluations": {
              "methods": {
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a new canary evaluation for an organization.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudApigeeV1CanaryEvaluation"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}/canaryevaluations",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. Name of the organization. Use the following structure in your request: `organizations/{org}/instances/{instance}`.",
                      "required": true,
                      "pattern": "^organizations/[^/]+/instances/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "apigee.organizations.instances.canaryevaluations.create",
                  "path": "v1/{+parent}/canaryevaluations"
                },
                "get": {
                  "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}/canaryevaluations/{canaryevaluationsId}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets a CanaryEvaluation for an organization.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Required. Name of the CanaryEvaluation. Use the following structure in your request: `organizations/{org}/instances/*/canaryevaluations/{evaluation}`",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/instances/[^/]+/canaryevaluations/[^/]+$"
                    }
                  },
                  "id": "apigee.organizations.instances.canaryevaluations.get",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1CanaryEvaluation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "natAddresses": {
              "methods": {
                "create": {
                  "request": {
                    "$ref": "GoogleCloudApigeeV1NatAddress"
                  },
                  "path": "v1/{+parent}/natAddresses",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a NAT address. The address is created in the RESERVED state and a static external IP address will be provisioned. At this time, the instance will not use this IP address for Internet egress traffic. The address can be activated for use once any required firewall IP whitelisting has been completed. **Note:** Not supported for Apigee hybrid.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. Name of the instance. Use the following structure in your request: `organizations/{org}/instances/{instance}`",
                      "pattern": "^organizations/[^/]+/instances/[^/]+$"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}/natAddresses",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "apigee.organizations.instances.natAddresses.create",
                  "httpMethod": "POST"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/instances/[^/]+/natAddresses/[^/]+$",
                      "description": "Required. Name of the nat address. Use the following structure in your request: `organizations/{org}/instances/{instances}/natAddresses/{nataddress}``",
                      "type": "string"
                    }
                  },
                  "description": "Deletes the NAT address. Connections that are actively using the address are drained before it is removed. **Note:** Not supported for Apigee hybrid.",
                  "httpMethod": "DELETE",
                  "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}/natAddresses/{natAddressesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1/{+name}",
                  "id": "apigee.organizations.instances.natAddresses.delete"
                },
                "activate": {
                  "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}/natAddresses/{natAddressesId}:activate",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the nat address. Use the following structure in your request: `organizations/{org}/instances/{instances}/natAddresses/{nataddress}``",
                      "pattern": "^organizations/[^/]+/instances/[^/]+/natAddresses/[^/]+$",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "Activates the NAT address. The Apigee instance can now use this for Internet egress traffic. **Note:** Not supported for Apigee hybrid.",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1ActivateNatAddressRequest"
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+name}:activate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apigee.organizations.instances.natAddresses.activate"
                },
                "get": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the details of a NAT address. **Note:** Not supported for Apigee hybrid.",
                  "id": "apigee.organizations.instances.natAddresses.get",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the nat address. Use the following structure in your request: `organizations/{org}/instances/{instances}/natAddresses/{nataddress}`",
                      "type": "string",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/instances/[^/]+/natAddresses/[^/]+$",
                      "required": true
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}/natAddresses/{natAddressesId}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1NatAddress"
                  }
                },
                "list": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. Name of the instance. Use the following structure in your request: `organizations/{org}/instances/{instance}`",
                      "pattern": "^organizations/[^/]+/instances/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Maximum number of natAddresses to return. Defaults to 25."
                    },
                    "pageToken": {
                      "description": "Page token, returned from a previous ListNatAddresses call, that you can use to retrieve the next page of content.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "apigee.organizations.instances.natAddresses.list",
                  "description": "Lists the NAT addresses for an Apigee instance. **Note:** Not supported for Apigee hybrid.",
                  "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}/natAddresses",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/natAddresses",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListNatAddressesResponse"
                  }
                }
              }
            },
            "attachments": {
              "methods": {
                "get": {
                  "id": "apigee.organizations.instances.attachments.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "description": "Gets an attachment. **Note:** Not supported for Apigee hybrid.",
                  "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}/attachments/{attachmentsId}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. Name of the attachment. Use the following structure in your request: `organizations/{org}/instances/{instance}/attachments/{attachment}`",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/instances/[^/]+/attachments/[^/]+$",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1InstanceAttachment"
                  }
                },
                "delete": {
                  "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}/attachments/{attachmentsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apigee.organizations.instances.attachments.delete",
                  "description": "Deletes an attachment. **Note:** Not supported for Apigee hybrid.",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/instances/[^/]+/attachments/[^/]+$",
                      "location": "path",
                      "description": "Required. Name of the attachment. Use the following structure in your request: `organizations/{org}/instances/{instance}/attachments/{attachment}`.",
                      "required": true
                    }
                  }
                },
                "list": {
                  "path": "v1/{+parent}/attachments",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListInstanceAttachmentsResponse"
                  },
                  "id": "apigee.organizations.instances.attachments.list",
                  "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}/attachments",
                  "description": "Lists all attachments to an instance. **Note:** Not supported for Apigee hybrid.",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "Page token, returned by a previous ListInstanceAttachments call, that you can use to retrieve the next page of content.",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the organization. Use the following structure in your request: `organizations/{org}/instances/{instance}`",
                      "pattern": "^organizations/[^/]+/instances/[^/]+$",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Maximum number of instance attachments to return. Defaults to 25.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "httpMethod": "GET"
                },
                "create": {
                  "id": "apigee.organizations.instances.attachments.create",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1InstanceAttachment"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/attachments",
                  "httpMethod": "POST",
                  "description": "Creates a new attachment of an environment to an instance. **Note:** Not supported for Apigee hybrid.",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}/attachments",
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/instances/[^/]+$",
                      "required": true,
                      "description": "Required. Name of the instance. Use the following structure in your request: `organizations/{org}/instances/{instance}`.",
                      "type": "string",
                      "location": "path"
                    }
                  }
                }
              }
            }
          }
        },
        "operations": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^organizations/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/operations/{operationsId}",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "id": "apigee.organizations.operations.get",
              "path": "v1/{+name}"
            },
            "list": {
              "path": "v1/{+name}/operations",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageToken": {
                  "description": "The standard list page token.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The standard list page size.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "description": "The name of the operation's parent resource.",
                  "type": "string"
                },
                "filter": {
                  "description": "The standard list filter.",
                  "type": "string",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/operations",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
              "id": "apigee.organizations.operations.list"
            }
          }
        },
        "reports": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "description": "Retrieve a custom report definition.",
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudApigeeV1CustomReport"
              },
              "flatPath": "v1/organizations/{organizationsId}/reports/{reportsId}",
              "id": "apigee.organizations.reports.get",
              "parameters": {
                "name": {
                  "description": "Required. Custom Report name of the form: `organizations/{organization_id}/reports/{report_name}`",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^organizations/[^/]+/reports/[^/]+$"
                }
              }
            },
            "update": {
              "httpMethod": "PUT",
              "description": "Update an existing custom report definition",
              "parameterOrder": [
                "name"
              ],
              "id": "apigee.organizations.reports.update",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1CustomReport"
              },
              "parameters": {
                "name": {
                  "description": "Required. Custom Report name of the form: `organizations/{organization_id}/reports/{report_name}`",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/reports/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "request": {
                "$ref": "GoogleCloudApigeeV1CustomReport"
              },
              "flatPath": "v1/organizations/{organizationsId}/reports/{reportsId}",
              "path": "v1/{+name}"
            },
            "create": {
              "request": {
                "$ref": "GoogleCloudApigeeV1CustomReport"
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1CustomReport"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "path": "v1/{+parent}/reports",
              "flatPath": "v1/organizations/{organizationsId}/reports",
              "description": "Creates a Custom Report for an Organization. A Custom Report provides Apigee Customers to create custom dashboards in addition to the standard dashboards which are provided. The Custom Report in its simplest form contains specifications about metrics, dimensions and filters. It is important to note that the custom report by itself does not provide an executable entity. The Edge UI converts the custom report definition into an analytics query and displays the result in a chart.",
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The parent organization name under which the Custom Report will be created. Must be of the form: `organizations/{organization_id}/reports`",
                  "pattern": "^organizations/[^/]+$"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "apigee.organizations.reports.create"
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "id": "apigee.organizations.reports.list",
              "description": "Return a list of Custom Reports",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudApigeeV1ListCustomReportsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "description": "Required. The parent organization name under which the API product will be listed `organizations/{organization_id}/reports`",
                  "location": "path",
                  "type": "string"
                },
                "expand": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Set to 'true' to get expanded details about each custom report."
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/reports",
              "path": "v1/{+parent}/reports"
            },
            "delete": {
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "id": "apigee.organizations.reports.delete",
              "description": "Deletes an existing custom report definition",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1DeleteCustomReportResponse"
              },
              "flatPath": "v1/organizations/{organizationsId}/reports/{reportsId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Custom Report name of the form: `organizations/{organization_id}/reports/{report_name}`",
                  "pattern": "^organizations/[^/]+/reports/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              }
            }
          }
        },
        "environments": {
          "methods": {
            "subscribe": {
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleCloudApigeeV1Subscription"
              },
              "id": "apigee.organizations.environments.subscribe",
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a subscription for the environment's Pub/Sub topic. The server will assign a random name for this subscription. The \"name\" and \"push_config\" must *not* be specified.",
              "parameters": {
                "parent": {
                  "pattern": "^organizations/[^/]+/environments/[^/]+$",
                  "description": "Required. Name of the environment. Use the following structure in your request: `organizations/{org}/environments/{env}`",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}:subscribe",
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}:subscribe"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/environments/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. Name of the environment. Use the following structure in your request: `organizations/{org}/environments/{env}`"
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudApigeeV1Environment"
              },
              "id": "apigee.organizations.environments.get",
              "description": "Gets environment details.",
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}"
            },
            "update": {
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleCloudApigeeV1Environment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/environments/[^/]+$",
                  "type": "string",
                  "description": "Required. Name of the environment. Use the following structure in your request: `organizations/{org}/environments/{env}`",
                  "location": "path",
                  "required": true
                }
              },
              "id": "apigee.organizations.environments.update",
              "httpMethod": "PUT",
              "response": {
                "$ref": "GoogleCloudApigeeV1Environment"
              },
              "description": "Updates an existing environment. When updating properties, you must pass all existing properties to the API, even if they are not being changed. If you omit properties from the payload, the properties are removed. To get the current list of properties for the environment, use the [Get Environment API](get)."
            },
            "delete": {
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}",
              "id": "apigee.organizations.environments.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/environments/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. Name of the environment. Use the following structure in your request: `organizations/{org}/environments/{env}`"
                }
              },
              "httpMethod": "DELETE",
              "path": "v1/{+name}",
              "description": "Deletes an environment from an organization.",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            },
            "getDeployedConfig": {
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/deployedConfig",
              "response": {
                "$ref": "GoogleCloudApigeeV1EnvironmentConfig"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets the deployed configuration for an environment.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Name of the environment deployed configuration resource. Use the following structure in your request: `organizations/{org}/environments/{env}/deployedConfig`",
                  "pattern": "^organizations/[^/]+/environments/[^/]+/deployedConfig$",
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "v1/{+name}",
              "id": "apigee.organizations.environments.getDeployedConfig"
            },
            "unsubscribe": {
              "path": "v1/{+parent}:unsubscribe",
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}:unsubscribe",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.environments.unsubscribe",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "request": {
                "$ref": "GoogleCloudApigeeV1Subscription"
              },
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. Name of the environment. Use the following structure in your request: `organizations/{org}/environments/{env}`",
                  "pattern": "^organizations/[^/]+/environments/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Deletes a subscription for the environment's Pub/Sub topic."
            },
            "setIamPolicy": {
              "response": {
                "$ref": "GoogleIamV1Policy"
              },
              "path": "v1/{+resource}:setIamPolicy",
              "description": "Sets the IAM policy on an environment, if the policy already exists it will be replaced. For more information, see [Manage users, roles, and permissions using the API](https://cloud.google.com/apigee/docs/api-platform/system-administration/manage-users-roles). You must have the `apigee.environments.setIamPolicy` permission to call this API.",
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}:setIamPolicy",
              "httpMethod": "POST",
              "parameterOrder": [
                "resource"
              ],
              "id": "apigee.organizations.environments.setIamPolicy",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "resource": {
                  "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field.",
                  "required": true,
                  "pattern": "^organizations/[^/]+/environments/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "GoogleIamV1SetIamPolicyRequest"
              }
            },
            "updateDebugmask": {
              "response": {
                "$ref": "GoogleCloudApigeeV1DebugMask"
              },
              "id": "apigee.organizations.environments.updateDebugmask",
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/environments/[^/]+/debugmask$",
                  "type": "string",
                  "description": "Name of the debug mask.",
                  "required": true,
                  "location": "path"
                },
                "updateMask": {
                  "location": "query",
                  "description": "Field debug mask to support partial updates.",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "replaceRepeatedFields": {
                  "description": "Boolean flag that specifies whether to replace existing values in the debug mask when doing an update. Set to true to replace existing values. The default behavior is to append the values (false).",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/debugmask",
              "request": {
                "$ref": "GoogleCloudApigeeV1DebugMask"
              },
              "description": "Updates the debug mask singleton resource for an environment.",
              "parameterOrder": [
                "name"
              ]
            },
            "getIamPolicy": {
              "httpMethod": "GET",
              "description": "Gets the IAM policy on an environment. For more information, see [Manage users, roles, and permissions using the API](https://cloud.google.com/apigee/docs/api-platform/system-administration/manage-users-roles). You must have the `apigee.environments.getIamPolicy` permission to call this API.",
              "response": {
                "$ref": "GoogleIamV1Policy"
              },
              "parameterOrder": [
                "resource"
              ],
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}:getIamPolicy",
              "parameters": {
                "options.requestedPolicyVersion": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. The policy format version to be returned. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional bindings must specify version 3. Policies without any conditional bindings may specify any valid value or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                  "location": "query"
                },
                "resource": {
                  "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
                  "pattern": "^organizations/[^/]+/environments/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "id": "apigee.organizations.environments.getIamPolicy",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+resource}:getIamPolicy"
            },
            "updateEnvironment": {
              "request": {
                "$ref": "GoogleCloudApigeeV1Environment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.environments.updateEnvironment",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1Environment"
              },
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}",
              "description": "Updates an existing environment. When updating properties, you must pass all existing properties to the API, even if they are not being changed. If you omit properties from the payload, the properties are removed. To get the current list of properties for the environment, use the [Get Environment API](get).",
              "parameters": {
                "name": {
                  "description": "Required. Name of the environment. Use the following structure in your request: `organizations/{org}/environments/{env}`",
                  "pattern": "^organizations/[^/]+/environments/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "httpMethod": "POST"
            },
            "getDebugmask": {
              "response": {
                "$ref": "GoogleCloudApigeeV1DebugMask"
              },
              "id": "apigee.organizations.environments.getDebugmask",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets the debug mask singleton resource for an environment.",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Name of the debug mask. Use the following structure in your request: `organizations/{org}/environments/{env}/debugmask`.",
                  "pattern": "^organizations/[^/]+/environments/[^/]+/debugmask$"
                }
              },
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/debugmask"
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Name of the environment. Alternatively, the name may be specified in the request body in the name field."
                },
                "parent": {
                  "location": "path",
                  "description": "Required. Name of the organization in which the environment will be created. Use the following structure in your request: `organizations/{org}`",
                  "pattern": "^organizations/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/environments",
              "description": "Creates an environment in an organization.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "POST",
              "path": "v1/{+parent}/environments",
              "request": {
                "$ref": "GoogleCloudApigeeV1Environment"
              },
              "id": "apigee.organizations.environments.create"
            },
            "testIamPermissions": {
              "httpMethod": "POST",
              "id": "apigee.organizations.environments.testIamPermissions",
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}:testIamPermissions",
              "description": "Tests the permissions of a user on an environment, and returns a subset of permissions that the user has on the environment. If the environment does not exist, an empty permission set is returned (a NOT_FOUND error is not returned).",
              "parameterOrder": [
                "resource"
              ],
              "response": {
                "$ref": "GoogleIamV1TestIamPermissionsResponse"
              },
              "parameters": {
                "resource": {
                  "type": "string",
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/environments/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleIamV1TestIamPermissionsRequest"
              },
              "path": "v1/{+resource}:testIamPermissions"
            }
          },
          "resources": {
            "keystores": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets a keystore or truststore.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Keystore"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/keystores/{keystoresId}",
                  "path": "v1/{+name}",
                  "id": "apigee.organizations.environments.keystores.get",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the keystore. Use the following format in your request: `organizations/{org}/environments/{env}/keystores/{keystore}`.",
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/environments/[^/]+/keystores/[^/]+$",
                      "location": "path"
                    }
                  }
                },
                "create": {
                  "description": "Creates a keystore or truststore. - Keystore: Contains certificates and their associated keys. - Truststore: Contains trusted certificates used to validate a server's certificate. These certificates are typically self-signed certificates or certificates that are not signed by a trusted CA.",
                  "parameters": {
                    "name": {
                      "description": "Optional. Name of the keystore. Overrides the value in Keystore.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/environments/[^/]+$",
                      "description": "Required. Name of the environment in which to create the keystore. Use the following format in your request: `organizations/{org}/environments/{env}`",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudApigeeV1Keystore"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/keystores",
                  "id": "apigee.organizations.environments.keystores.create",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Keystore"
                  },
                  "path": "v1/{+parent}/keystores",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the keystore. Use the following format in your request: `organizations/{org}/environments/{env}/keystores/{keystore}`",
                      "required": true,
                      "pattern": "^organizations/[^/]+/environments/[^/]+/keystores/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Deletes a keystore or truststore.",
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Keystore"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.environments.keystores.delete",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/keystores/{keystoresId}"
                }
              },
              "resources": {
                "aliases": {
                  "methods": {
                    "get": {
                      "httpMethod": "GET",
                      "description": "Gets an alias.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^organizations/[^/]+/environments/[^/]+/keystores/[^/]+/aliases/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. Name of the alias. Use the following format in your request: `organizations/{org}/environments/{env}/keystores/{keystore}/aliases/{alias}`.",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudApigeeV1Alias"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/keystores/{keystoresId}/aliases/{aliasesId}",
                      "id": "apigee.organizations.environments.keystores.aliases.get",
                      "path": "v1/{+name}"
                    },
                    "update": {
                      "path": "v1/{+name}",
                      "request": {
                        "$ref": "GoogleApiHttpBody"
                      },
                      "httpMethod": "PUT",
                      "description": "Updates the certificate in an alias.",
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/keystores/{keystoresId}/aliases/{aliasesId}",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1Alias"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^organizations/[^/]+/environments/[^/]+/keystores/[^/]+/aliases/[^/]+$",
                          "required": true,
                          "description": "Required. Name of the alias. Use the following format in your request: `organizations/{org}/environments/{env}/keystores/{keystore}/aliases/{alias}`",
                          "location": "path"
                        },
                        "ignoreNewlineValidation": {
                          "type": "boolean",
                          "location": "query",
                          "description": "Flag that specifies whether to ignore newline validation. If set to `true`, no error is thrown when the file contains a certificate chain with no newline between each certificate. Defaults to `false`."
                        },
                        "ignoreExpiryValidation": {
                          "description": "Required. Flag that specifies whether to ignore expiry validation. If set to `true`, no expiry validation will be performed.",
                          "type": "boolean",
                          "location": "query"
                        }
                      },
                      "id": "apigee.organizations.environments.keystores.aliases.update"
                    },
                    "create": {
                      "id": "apigee.organizations.environments.keystores.aliases.create",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "ignoreExpiryValidation": {
                          "description": "Flag that specifies whether to ignore expiry validation. If set to `true`, no expiry validation will be performed.",
                          "type": "boolean",
                          "location": "query"
                        },
                        "parent": {
                          "location": "path",
                          "description": "Required. Name of the keystore. Use the following format in your request: `organizations/{org}/environments/{env}/keystores/{keystore}`.",
                          "required": true,
                          "type": "string",
                          "pattern": "^organizations/[^/]+/environments/[^/]+/keystores/[^/]+$"
                        },
                        "_password": {
                          "location": "query",
                          "description": "DEPRECATED: For improved security, specify the password in the request body instead of using the query parameter. To specify the password in the request body, set `Content-type: multipart/form-data` part with name `password`. Password for the private key file, if required.",
                          "type": "string"
                        },
                        "alias": {
                          "description": "Alias for the key/certificate pair. Values must match the regular expression `[\\w\\s-.]{1,255}`. This must be provided for all formats except `selfsignedcert`; self-signed certs may specify the alias in either this parameter or the JSON body.",
                          "location": "query",
                          "type": "string"
                        },
                        "format": {
                          "description": "Required. Format of the data. Valid values include: `selfsignedcert`, `keycertfile`, or `pkcs12`",
                          "location": "query",
                          "type": "string"
                        },
                        "ignoreNewlineValidation": {
                          "location": "query",
                          "type": "boolean",
                          "description": "Flag that specifies whether to ignore newline validation. If set to `true`, no error is thrown when the file contains a certificate chain with no newline between each certificate. Defaults to `false`."
                        }
                      },
                      "request": {
                        "$ref": "GoogleApiHttpBody"
                      },
                      "path": "v1/{+parent}/aliases",
                      "description": "Creates an alias from a key/certificate pair. The structure of the request is controlled by the `format` query parameter: - `keycertfile` - Separate PEM-encoded key and certificate files are uploaded. Set `Content-Type: multipart/form-data` and include the `keyFile`, `certFile`, and `password` (if keys are encrypted) fields in the request body. If uploading to a truststore, omit `keyFile`. - `pkcs12` - A PKCS12 file is uploaded. Set `Content-Type: multipart/form-data`, provide the file in the `file` field, and include the `password` field if the file is encrypted in the request body. - `selfsignedcert` - A new private key and certificate are generated. Set `Content-Type: application/json` and include CertificateGenerationSpec in the request body.",
                      "httpMethod": "POST",
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/keystores/{keystoresId}/aliases",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudApigeeV1Alias"
                      }
                    },
                    "getCertificate": {
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/keystores/{keystoresId}/aliases/{aliasesId}/certificate",
                      "response": {
                        "$ref": "GoogleApiHttpBody"
                      },
                      "id": "apigee.organizations.environments.keystores.aliases.getCertificate",
                      "path": "v1/{+name}/certificate",
                      "parameters": {
                        "name": {
                          "pattern": "^organizations/[^/]+/environments/[^/]+/keystores/[^/]+/aliases/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. Name of the alias. Use the following format in your request: `organizations/{org}/environments/{env}/keystores/{keystore}/aliases/{alias}`.",
                          "type": "string"
                        }
                      },
                      "description": "Gets the certificate from an alias in PEM-encoded form.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET"
                    },
                    "delete": {
                      "response": {
                        "$ref": "GoogleCloudApigeeV1Alias"
                      },
                      "path": "v1/{+name}",
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/keystores/{keystoresId}/aliases/{aliasesId}",
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. Name of the alias. Use the following format in your request: `organizations/{org}/environments/{env}/keystores/{keystore}/aliases/{alias}`.",
                          "type": "string",
                          "pattern": "^organizations/[^/]+/environments/[^/]+/keystores/[^/]+/aliases/[^/]+$",
                          "required": true
                        }
                      },
                      "description": "Deletes an alias.",
                      "id": "apigee.organizations.environments.keystores.aliases.delete",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "csr": {
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleApiHttpBody"
                      },
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/keystores/{keystoresId}/aliases/{aliasesId}/csr",
                      "id": "apigee.organizations.environments.keystores.aliases.csr",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^organizations/[^/]+/environments/[^/]+/keystores/[^/]+/aliases/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. Name of the alias. Use the following format in your request: `organizations/{org}/environments/{env}/keystores/{keystore}/aliases/{alias}`."
                        }
                      },
                      "description": "Generates a PKCS #10 Certificate Signing Request for the private key in an alias.",
                      "path": "v1/{+name}/csr"
                    }
                  }
                }
              }
            },
            "stats": {
              "methods": {
                "get": {
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/stats/{statsId}",
                  "parameters": {
                    "timeUnit": {
                      "description": "A value of second, minute, hour, day, week, month. Time Unit specifies the granularity of metrics returned.",
                      "type": "string",
                      "location": "query"
                    },
                    "sonar": {
                      "description": "This parameter routes the query to api monitoring service for last hour.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "topk": {
                      "description": "Take 'top k' results from results, for example, to return the top 5 results 'topk=5'.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/environments/[^/]+/stats/.*$",
                      "type": "string",
                      "description": "Required. The resource name for which the interactive query will be executed. Must be of the form `organizations/{organization_id}/environments/{environment_id/stats/{dimensions}` Dimensions let you view metrics in meaningful groupings. E.g. apiproxy, target_host. The value of dimensions should be comma separated list as shown below `organizations/{org}/environments/{env}/stats/apiproxy,request_verb`"
                    },
                    "accuracy": {
                      "description": "Legacy field: not used anymore. This field is present to support UI calls which still use this parameter.",
                      "type": "string",
                      "location": "query"
                    },
                    "timeRange": {
                      "description": "Time interval for the interactive query. Time range is specified as start~end E.g. 04/15/2017 00:00~05/15/2017 23:59",
                      "type": "string",
                      "location": "query"
                    },
                    "sortby": {
                      "type": "string",
                      "location": "query",
                      "description": "Comma separated list of columns to sort the final result."
                    },
                    "limit": {
                      "description": "This parameter is used to limit the number of result items. Default and the max value is 14400.",
                      "type": "string",
                      "location": "query"
                    },
                    "offset": {
                      "location": "query",
                      "type": "string",
                      "description": "Use offset with limit to enable pagination of results. For example, to display results 11-20, set limit to '10' and offset to '10'."
                    },
                    "tzo": {
                      "type": "string",
                      "description": "This parameters contains the timezone offset value.",
                      "location": "query"
                    },
                    "realtime": {
                      "location": "query",
                      "description": "Legacy field: not used anymore.",
                      "type": "boolean"
                    },
                    "select": {
                      "type": "string",
                      "location": "query",
                      "description": "The select parameter contains a comma separated list of metrics. E.g. sum(message_count),sum(error_count)"
                    },
                    "tsAscending": {
                      "description": "Lists timestamps in ascending order if set to true. Recommend setting this value to true if you are using sortby with sort=DESC.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "sort": {
                      "location": "query",
                      "description": "This parameter specifies if the sort order should be ascending or descending Supported values are DESC and ASC.",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Enables drill-down on specific dimension values"
                    },
                    "aggTable": {
                      "description": "If customers want to query custom aggregate tables, then this parameter can be used to specify the table name. If this parameter is skipped, then Edge Query will try to retrieve the data from fact tables which will be expensive.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Stats"
                  },
                  "description": "Retrieve metrics grouped by dimensions. The types of metrics you can retrieve include traffic, message counts, API call latency, response size, and cache hits and counts. Dimensions let you view metrics in meaningful groups. The stats api does accept dimensions as path params. The dimensions are optional in which case the metrics are computed on the entire data for the given timerange.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "id": "apigee.organizations.environments.stats.get"
                }
              }
            },
            "keyvaluemaps": {
              "methods": {
                "delete": {
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the key value map. Must be of the form `organizations/{organization}/environments/{environment}/keyvaluemaps/{keyvaluemap}`.",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/environments/[^/]+/keyvaluemaps/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "description": "Delete a key value map in an environment.",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/keyvaluemaps/{keyvaluemapsId}",
                  "id": "apigee.organizations.environments.keyvaluemaps.delete",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1KeyValueMap"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
[...]
