{
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    }
  },
  "name": "apigee",
  "ownerName": "Google",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "id": "apigee:v1",
  "version": "v1",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "schemas": {
    "GoogleCloudApigeeV1SharedFlow": {
      "description": "The metadata describing a shared flow",
      "properties": {
        "revision": {
          "description": "A list of revisions of this shared flow.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "metaData": {
          "$ref": "GoogleCloudApigeeV1EntityMetadata",
          "description": "Metadata describing the shared flow."
        },
        "latestRevisionId": {
          "description": "The id of the most recently created revision for this shared flow.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The ID of the shared flow."
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1SharedFlow"
    },
    "GoogleCloudApigeeV1ApiProxy": {
      "type": "object",
      "properties": {
        "revision": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of revisons defined for the API proxy."
        },
        "name": {
          "type": "string",
          "description": "Name of the API proxy."
        },
        "metaData": {
          "description": "Metadata describing the API proxy.",
          "$ref": "GoogleCloudApigeeV1EntityMetadata"
        },
        "latestRevisionId": {
          "type": "string",
          "description": "The id of the most recently created revision for this api proxy."
        }
      },
      "description": "Metadata describing the API proxy",
      "id": "GoogleCloudApigeeV1ApiProxy"
    },
    "GoogleRpcStatus": {
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "GoogleRpcStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "GoogleIamV1SetIamPolicyRequest": {
      "id": "GoogleIamV1SetIamPolicyRequest",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
        },
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Cloud Platform services (such as Projects) might reject them.",
          "$ref": "GoogleIamV1Policy"
        }
      },
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "type": "object",
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "properties": {}
    },
    "GoogleCloudApigeeV1DebugSessionTransaction": {
      "id": "GoogleCloudApigeeV1DebugSessionTransaction",
      "properties": {
        "point": {
          "type": "array",
          "description": "List of debug data collected by runtime plane at various defined points in the flow.",
          "items": {
            "$ref": "GoogleCloudApigeeV1Point"
          }
        },
        "completed": {
          "description": "Flag indicating whether a transaction is completed or not",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "A transaction contains all of the debug information of the entire message flow of an API call processed by the runtime plane. The information is collected and recorded at critical points of the message flow in the runtime apiproxy."
    },
    "GoogleCloudApigeeV1OperationGroup": {
      "properties": {
        "operationConfigs": {
          "items": {
            "$ref": "GoogleCloudApigeeV1OperationConfig"
          },
          "type": "array",
          "description": "Required. List of operation configurations for either Apigee API proxies or other remote services that are associated with this API product."
        },
        "operationConfigType": {
          "type": "string",
          "description": "Flag that specifes whether the configuration is for Apigee API proxy or a remote service. Valid values are `proxy` or `remoteservice`. Defaults to `proxy`. Set to `proxy` when Apigee API proxies are associated with the API product. Set to `remoteservice` when non-Apigee proxies like Istio-Envoy are associated with the API product."
        }
      },
      "description": "List of operation configuration details associated with Apigee API proxies or remote services. Remote services are non-Apigee proxies, such as Istio-Envoy.",
      "id": "GoogleCloudApigeeV1OperationGroup",
      "type": "object"
    },
    "GoogleCloudApigeeV1ListNatAddressesResponse": {
      "type": "object",
      "description": "Response for ListNatAddresses.",
      "properties": {
        "nextPageToken": {
          "description": "Page token that you can include in a ListNatAddresses request to retrieve the next page of content. If omitted, no subsequent pages exist.",
          "type": "string"
        },
        "natAddresses": {
          "items": {
            "$ref": "GoogleCloudApigeeV1NatAddress"
          },
          "type": "array",
          "description": "List of NAT Addresses for the instance."
        }
      },
      "id": "GoogleCloudApigeeV1ListNatAddressesResponse"
    },
    "GoogleCloudApigeeV1Deployment": {
      "id": "GoogleCloudApigeeV1Deployment",
      "type": "object",
      "properties": {
        "pods": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1PodStatus"
          },
          "description": "Status reported by runtime pods. This field is not populated for List APIs. **Note**: **This field is deprecated**. Runtime versions 1.3 and above report instance level status rather than pod status."
        },
        "deployStartTime": {
          "format": "int64",
          "description": "Time the API proxy was marked `deployed` in the control plane in millisconds since epoch.",
          "type": "string"
        },
        "errors": {
          "type": "array",
          "description": "Errors reported for this deployment. Populated only when state == ERROR. This field is not populated in List APIs.",
          "items": {
            "$ref": "GoogleRpcStatus"
          }
        },
        "revision": {
          "type": "string",
          "description": "API proxy revision."
        },
        "routeConflicts": {
          "description": "Conflicts in the desired state routing configuration. The presence of conflicts does not cause the state to be `ERROR`, but it will mean that some of the deployment's base paths are not routed to its environment. If the conflicts change, the state will transition to `PROGRESSING` until the latest configuration is rolled out to all instances. This field is not populated in List APIs.",
          "items": {
            "$ref": "GoogleCloudApigeeV1DeploymentChangeReportRoutingConflict"
          },
          "type": "array"
        },
        "state": {
          "enumDescriptions": [
            "This value should never be returned.",
            "Runtime has loaded the deployment.",
            "Deployment is not fully ready in the runtime.",
            "Encountered an error with the deployment that requires intervention."
          ],
          "enum": [
            "RUNTIME_STATE_UNSPECIFIED",
            "READY",
            "PROGRESSING",
            "ERROR"
          ],
          "description": "Current state of the deployment. This field is not populated in List APIs.",
          "type": "string"
        },
        "environment": {
          "type": "string",
          "description": "Environment."
        },
        "apiProxy": {
          "type": "string",
          "description": "API proxy."
        },
        "instances": {
          "description": "Status reported by each runtime instance. This field is not populated in List APIs.",
          "items": {
            "$ref": "GoogleCloudApigeeV1InstanceDeploymentStatus"
          },
          "type": "array"
        }
      }
    },
    "GoogleIamV1AuditLogConfig": {
      "id": "GoogleIamV1AuditLogConfig",
      "type": "object",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "properties": {
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        },
        "logType": {
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "description": "The log type that this config enables."
        }
      }
    },
    "GoogleCloudApigeeV1Properties": {
      "description": "Message for compatibility with legacy Edge specification for Java Properties object in JSON.",
      "type": "object",
      "properties": {
        "property": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Property"
          },
          "type": "array",
          "description": "List of all properties in the object"
        }
      },
      "id": "GoogleCloudApigeeV1Properties"
    },
    "GoogleCloudApigeeV1OptimizedStats": {
      "properties": {
        "Response": {
          "description": "This field wraps the stats response for Js Optimized Scenario with a Response key. E.g. { \"Response\": { \"TimeUnit\": [], \"metaData\": { \"errors\": [], \"notices\": [ \"Source:Postgres\", \"Table used: edge.api.aaxgroup001.agg_api\", \"PG Host:ruappg08-ro.production.apigeeks.net\", \"query served by:80c4ebca-6a10-4a2e-8faf-c60c1ee306ca\" ] }, \"resultTruncated\": false, \"stats\": { \"data\": [ { \"identifier\": { \"names\": [ \"apiproxy\" ], \"values\": [ \"sirjee\" ] }, \"metric\": [ { \"env\": \"prod\", \"name\": \"sum(message_count)\", \"values\": [ 36.0 ] }, { \"env\": \"prod\", \"name\": \"sum(is_error)\", \"values\": [ 36.0 ] } ] } ] } } }",
          "$ref": "GoogleCloudApigeeV1OptimizedStatsResponse"
        }
      },
      "id": "GoogleCloudApigeeV1OptimizedStats",
      "type": "object"
    },
    "GoogleCloudApigeeV1ListCustomReportsResponse": {
      "id": "GoogleCloudApigeeV1ListCustomReportsResponse",
      "type": "object",
      "properties": {
        "qualifier": {
          "items": {
            "$ref": "GoogleCloudApigeeV1CustomReport"
          },
          "type": "array"
        }
      },
      "description": "This message encapsulates a list of custom report definitions"
    },
    "GoogleCloudApigeeV1SchemaSchemaProperty": {
      "id": "GoogleCloudApigeeV1SchemaSchemaProperty",
      "type": "object",
      "description": "Message type for schema property",
      "properties": {
        "custom": {
          "type": "string",
          "description": "Custom is a flag signifying if the field was provided as part of the standard dataset or a custom field created by the customer"
        },
        "type": {
          "type": "string",
          "description": "Data type of the field."
        },
        "createTime": {
          "description": "Creation time of the field",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1Metric": {
      "properties": {
        "values": {
          "type": "array",
          "description": "List of metric values. Possible value format: \"values\":[\"39.0\"] or \"values\":[ { \"value\": \"39.0\", \"timestamp\": 1232434354} ]",
          "items": {
            "type": "any"
          }
        },
        "name": {
          "description": "This field contains the metric name.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1Metric",
      "description": "This message type encapsulates the metric data point. Example: { \"name\": \"sum(message_count)\", \"values\" : [ { \"timestamp\": 1549004400000, \"value\": \"39.0\" }, { \"timestamp\" : 1548997200000, \"value\" : \"0.0\" } ] } or { \"name\": \"sum(message_count)\", \"values\" : [\"39.0\"] }",
      "type": "object"
    },
    "GoogleCloudApigeeV1EnvironmentGroupConfig": {
      "type": "object",
      "id": "GoogleCloudApigeeV1EnvironmentGroupConfig",
      "properties": {
        "name": {
          "description": "Name of the environment group in the following format: `organizations/{org}/envgroups/{envgroup}`.",
          "type": "string"
        },
        "uid": {
          "description": "A unique id for the environment group config that will only change if the environment group is deleted and recreated.",
          "type": "string"
        },
        "routingRules": {
          "description": "Ordered list of routing rules defining how traffic to this environment group's hostnames should be routed to different environments.",
          "items": {
            "$ref": "GoogleCloudApigeeV1RoutingRule"
          },
          "type": "array"
        },
        "revisionId": {
          "description": "Revision id that defines the ordering of the EnvironmentGroupConfig resource. The higher the revision, the more recently the configuration was deployed.",
          "format": "int64",
          "type": "string"
        },
        "hostnames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Host names for the environment group."
        }
      },
      "description": "EnvironmentGroupConfig is a revisioned snapshot of an EnvironmentGroup and its associated routing rules."
    },
    "GoogleCloudApigeeV1SharedFlowRevision": {
      "type": "object",
      "description": "The metadata describing a shared flow revision.",
      "id": "GoogleCloudApigeeV1SharedFlowRevision",
      "properties": {
        "createdAt": {
          "description": "Time at which this shared flow revision was created, in milliseconds since epoch.",
          "type": "string",
          "format": "int64"
        },
        "revision": {
          "description": "The resource ID of this revision.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The string \"Application\""
        },
        "sharedFlows": {
          "description": "A list of the shared flow names included in this shared flow revision.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "resources": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of the resources included in this shared flow revision formatted as \"{type}://{name}\"."
        },
        "entityMetaDataAsProperties": {
          "description": "A Key-Value map of metadata about this shared flow revision.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "configurationVersion": {
          "$ref": "GoogleCloudApigeeV1ConfigVersion",
          "description": "The version of the configuration schema to which this shared flow conforms. The only supported value currently is majorVersion 4 and minorVersion 0. This setting may be used in the future to enable evolution of the shared flow format."
        },
        "description": {
          "type": "string",
          "description": "Description of the shared flow revision."
        },
        "displayName": {
          "description": "The human readable name of this shared flow.",
          "type": "string"
        },
        "contextInfo": {
          "type": "string",
          "description": "A textual description of the shared flow revision."
        },
        "name": {
          "description": "The resource ID of the parent shared flow.",
          "type": "string"
        },
        "policies": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of policy names included in this shared flow revision."
        },
        "lastModifiedAt": {
          "type": "string",
          "description": "Time at which this shared flow revision was most recently modified, in milliseconds since epoch.",
          "format": "int64"
        },
        "resourceFiles": {
          "$ref": "GoogleCloudApigeeV1ResourceFiles",
          "description": "The resource files included in this shared flow revision."
        }
      }
    },
    "GoogleCloudApigeeV1ProvisionOrganizationRequest": {
      "type": "object",
      "properties": {
        "analyticsRegion": {
          "type": "string",
          "description": "Primary Cloud Platform region for analytics data storage. For valid values, see [Create an organization](https://cloud.google.com/apigee/docs/hybrid/latest/precog-provision). Defaults to `us-west1`."
        },
        "runtimeLocation": {
          "description": "Cloud Platform location for the runtime instance. Defaults to `us-west1-a`.",
          "type": "string"
        },
        "authorizedNetwork": {
          "description": "Name of the customer project's VPC network. If provided, the network needs to be peered through Service Networking. If none is provided, the organization will have access only to the public internet.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1ProvisionOrganizationRequest",
      "description": "Request for ProvisionOrganization."
    },
    "GoogleCloudApigeeV1StatsEnvironmentStats": {
      "description": "This message type encapsulates the environment wrapper: \"environments\": [ { \"metrics\": [ { \"name\": \"sum(message_count)\", \"values\": [ \"2.52056245E8\" ] } ], \"name\": \"prod\" } ]",
      "properties": {
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Metric"
          },
          "description": "In the final response, only one of the following fields will be present based on the dimensions provided. If no dimensions are provided, then only a top level metrics is provided. If dimensions are included, then there will be a top level dimensions field under environments which will contain metrics values and the dimension name. Example: \"environments\": [ { \"dimensions\": [ { \"metrics\": [ { \"name\": \"sum(message_count)\", \"values\": [ \"2.14049521E8\" ] } ], \"name\": \"nit_proxy\" } ], \"name\": \"prod\" } ] OR \"environments\": [ { \"metrics\": [ { \"name\": \"sum(message_count)\", \"values\": [ \"2.19026331E8\" ] } ], \"name\": \"prod\" } ] This field contains the list of metric values."
        },
        "name": {
          "type": "string"
        },
        "dimensions": {
          "items": {
            "$ref": "GoogleCloudApigeeV1DimensionMetric"
          },
          "description": "This field contains the list of metrics grouped under dimensions.",
          "type": "array"
        }
      },
      "id": "GoogleCloudApigeeV1StatsEnvironmentStats",
      "type": "object"
    },
    "GoogleCloudApigeeV1CustomReport": {
      "id": "GoogleCloudApigeeV1CustomReport",
      "type": "object",
      "properties": {
        "limit": {
          "type": "string",
          "description": "Legacy field: not used This field contains the limit for the result retrieved"
        },
        "displayName": {
          "description": "This is the display name for the report",
          "type": "string"
        },
        "environment": {
          "type": "string",
          "description": "Output only. Environment name",
          "readOnly": true
        },
        "sortByCols": {
          "items": {
            "type": "string"
          },
          "description": "Legacy field: not used much. Contains the list of sort by columns",
          "type": "array"
        },
        "comments": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Legacy field: not used. This field contains a list of comments associated with custom report"
        },
        "fromTime": {
          "description": "Legacy field: not used. Contains the from time for the report",
          "type": "string"
        },
        "offset": {
          "description": "Legacy field: not used. This field contains the offset for the data",
          "type": "string"
        },
        "lastViewedAt": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Last viewed time of this entity as milliseconds since epoch"
        },
        "lastModifiedAt": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Modified time of this entity as milliseconds since epoch. json key: lastModifiedAt"
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "Legacy field: not used. This field contains a list of tags associated with custom report",
          "type": "array"
        },
        "timeUnit": {
          "type": "string",
          "description": "This field contains the time unit of aggregation for the report"
        },
        "name": {
          "description": "Required. Unique identifier for the report T his is a legacy field used to encode custom report unique id",
          "type": "string"
        },
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1CustomReportMetric"
          },
          "description": "Required. This contains the list of metrics"
        },
        "chartType": {
          "description": "This field contains the chart type for the report",
          "type": "string"
        },
        "properties": {
          "type": "array",
          "description": "This field contains report properties such as ui metadata etc.",
          "items": {
            "$ref": "GoogleCloudApigeeV1ReportProperty"
          }
        },
        "createdAt": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Unix time when the app was created json key: createdAt"
        },
        "filter": {
          "description": "This field contains the filter expression",
          "type": "string"
        },
        "dimensions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "This contains the list of dimensions for the report"
        },
        "sortOrder": {
          "type": "string",
          "description": "Legacy field: not used much. Contains the sort order for the sort columns"
        },
        "organization": {
          "readOnly": true,
          "description": "Output only. Organization name",
          "type": "string"
        },
        "toTime": {
          "type": "string",
          "description": "Legacy field: not used. Contains the end time for the report"
        },
        "topk": {
          "description": "Legacy field: not used. This field contains the top k parameter value for restricting the result",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1Query": {
      "type": "object",
      "properties": {
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1QueryMetric"
          },
          "description": "A list of Metrics."
        },
        "reportDefinitionId": {
          "description": "Asynchronous Report ID.",
          "type": "string"
        },
        "groupByTimeUnit": {
          "type": "string",
          "description": "Time unit used to group the result set. Valid values include: second, minute, hour, day, week, or month. If a query includes groupByTimeUnit, then the result is an aggregation based on the specified time unit and the resultant timestamp does not include milliseconds precision. If a query omits groupByTimeUnit, then the resultant timestamp includes milliseconds precision."
        },
        "limit": {
          "description": "Maximum number of rows that can be returned in the result.",
          "type": "integer",
          "format": "int32"
        },
        "envgroupHostname": {
          "description": "Hostname needs to be specified if query intends to run at host level. This field is only allowed when query is submitted by CreateHostAsyncQuery where analytics data will be grouped by organization and hostname.",
          "type": "string"
        },
        "csvDelimiter": {
          "type": "string",
          "description": "Delimiter used in the CSV file, if `outputFormat` is set to `csv`. Defaults to the `,` (comma) character. Supported delimiter characters include comma (`,`), pipe (`|`), and tab (`\\t`)."
        },
        "dimensions": {
          "description": "A list of dimensions. https://docs.apigee.com/api-platform/analytics/analytics-reference#dimensions",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "filter": {
          "description": "Boolean expression that can be used to filter data. Filter expressions can be combined using AND/OR terms and should be fully parenthesized to avoid ambiguity. See Analytics metrics, dimensions, and filters reference https://docs.apigee.com/api-platform/analytics/analytics-reference for more information on the fields available to filter on. For more information on the tokens that you use to build filter expressions, see Filter expression syntax. https://docs.apigee.com/api-platform/analytics/asynch-reports-api#filter-expression-syntax",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Asynchronous Query Name."
        },
        "timeRange": {
          "description": "Required. Time range for the query. Can use the following predefined strings to specify the time range: `last60minutes` `last24hours` `last7days` Or, specify the timeRange as a structure describing start and end timestamps in the ISO format: yyyy-mm-ddThh:mm:ssZ. Example: \"timeRange\": { \"start\": \"2018-07-29T00:13:00Z\", \"end\": \"2018-08-01T00:18:00Z\" }",
          "type": "any"
        },
        "outputFormat": {
          "type": "string",
          "description": "Valid values include: `csv` or `json`. Defaults to `json`. Note: Configure the delimiter for CSV output using the csvDelimiter property."
        }
      },
      "id": "GoogleCloudApigeeV1Query"
    },
    "GoogleCloudApigeeV1QueryMetadata": {
      "properties": {
        "timeUnit": {
          "type": "string",
          "description": "Query GroupBy time unit."
        },
        "startTimestamp": {
          "description": "Start timestamp of the query range.",
          "type": "string"
        },
        "metrics": {
          "items": {
            "type": "string"
          },
          "description": "Metrics of the AsyncQuery. Example: [\"name:message_count,func:sum,alias:sum_message_count\"]",
          "type": "array"
        },
        "endTimestamp": {
          "description": "End timestamp of the query range.",
          "type": "string"
        },
        "outputFormat": {
          "description": "Output format.",
          "type": "string"
        },
        "dimensions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Dimensions of the AsyncQuery."
        }
      },
      "id": "GoogleCloudApigeeV1QueryMetadata",
      "type": "object"
    },
    "GoogleCloudApigeeV1TraceConfig": {
      "id": "GoogleCloudApigeeV1TraceConfig",
      "type": "object",
      "description": "TraceConfig defines the configurations in an environment of distributed trace.",
      "properties": {
        "samplingConfig": {
          "description": "Distributed trace configuration for all API proxies in an environment. You can also override the configuration for a specific API proxy using the distributed trace configuration overrides API.",
          "$ref": "GoogleCloudApigeeV1TraceSamplingConfig"
        },
        "endpoint": {
          "type": "string",
          "description": "Required. Endpoint of the exporter."
        },
        "exporter": {
          "enum": [
            "EXPORTER_UNSPECIFIED",
            "JAEGER",
            "CLOUD_TRACE"
          ],
          "enumDescriptions": [
            "Exporter unspecified",
            "Jaeger exporter",
            "Cloudtrace exporter"
          ],
          "type": "string",
          "description": "Required. Exporter that is used to view the distributed trace captured using OpenCensus. An exporter sends traces to any backend that is capable of consuming them. Recorded spans can be exported by registered exporters."
        }
      }
    },
    "GoogleCloudApigeeV1CanaryEvaluationMetricLabels": {
      "description": "Labels that can be used to filter Apigee metrics.",
      "type": "object",
      "id": "GoogleCloudApigeeV1CanaryEvaluationMetricLabels",
      "properties": {
        "instance_id": {
          "description": "Required. The instance ID associated with the metrics. In Apigee Hybrid, the value is configured during installation.",
          "type": "string"
        },
        "env": {
          "type": "string",
          "description": "The environment ID associated with the metrics."
        },
        "location": {
          "type": "string",
          "description": "Required. The location associated with the metrics."
        }
      }
    },
    "GoogleCloudApigeeV1PodStatus": {
      "id": "GoogleCloudApigeeV1PodStatus",
      "type": "object",
      "properties": {
        "appVersion": {
          "description": "Version of the application running in the pod.",
          "type": "string"
        },
        "podStatus": {
          "type": "string",
          "description": "Overall status of the pod (not this specific deployment). Valid values include: - `active`: Up to date. - `stale` : Recently out of date. Pods that have not reported status in a long time are excluded from the output."
        },
        "deploymentTime": {
          "format": "int64",
          "type": "string",
          "description": "Time the proxy was deployed in milliseconds since epoch."
        },
        "deploymentStatusTime": {
          "format": "int64",
          "type": "string",
          "description": "Time the deployment status was reported in milliseconds since epoch."
        },
        "deploymentStatus": {
          "description": "Status of the deployment. Valid values include: - `deployed`: Successful. - `error` : Failed. - `pending` : Pod has not yet reported on the deployment.",
          "type": "string"
        },
        "statusCode": {
          "description": "Code associated with the deployment status.",
          "type": "string"
        },
        "statusCodeDetails": {
          "description": "Human-readable message associated with the status code.",
          "type": "string"
        },
        "podName": {
          "description": "Name of the pod which is reporting the status.",
          "type": "string"
        },
        "podStatusTime": {
          "format": "int64",
          "type": "string",
          "description": "Time the pod status was reported in milliseconds since epoch."
        }
      }
    },
    "GoogleCloudApigeeV1ConfigVersion": {
      "description": "Version of the API proxy configuration schema. Currently, only 4.0 is supported.",
      "type": "object",
      "id": "GoogleCloudApigeeV1ConfigVersion",
      "properties": {
        "minorVersion": {
          "format": "int32",
          "description": "Minor version of the API proxy configuration schema.",
          "type": "integer"
        },
        "majorVersion": {
          "description": "Major version of the API proxy configuration schema.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudApigeeV1DataCollector": {
      "id": "GoogleCloudApigeeV1DataCollector",
      "description": "Data collector configuration.",
      "properties": {
        "lastModifiedAt": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The time at which the Data Collector was last updated in milliseconds since the epoch.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "ID of the data collector. Must begin with `dc_`."
        },
        "createdAt": {
          "readOnly": true,
          "description": "Output only. The time at which the data collector was created in milliseconds since the epoch.",
          "format": "int64",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "A description of the data collector."
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "INTEGER",
            "FLOAT",
            "STRING",
            "BOOLEAN",
            "DATETIME"
          ],
          "type": "string",
          "enumDescriptions": [
            "For future compatibility.",
            "For integer values.",
            "For float values.",
            "For string values.",
            "For boolean values.",
            "For datetime values."
          ],
          "description": "Immutable. The type of data this data collector will collect."
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1CommonNameConfig": {
      "id": "GoogleCloudApigeeV1CommonNameConfig",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "matchWildCards": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudApigeeV1Keystore": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Resource ID for this keystore. Values must match the regular expression `[\\w[:space:]-.]{1,255}`."
        },
        "aliases": {
          "readOnly": true,
          "description": "Output only. Aliases in this keystore.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Datastore for Certificates and Aliases.",
      "id": "GoogleCloudApigeeV1Keystore",
      "type": "object"
    },
    "GoogleCloudApigeeV1ReportInstanceStatusResponse": {
      "id": "GoogleCloudApigeeV1ReportInstanceStatusResponse",
      "description": "Placeholder for future enhancements to status reporting protocol",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudApigeeV1DeploymentChangeReportRoutingChange": {
      "description": "Describes a potential routing change that may occur as a result of some deployment operation.",
      "properties": {
        "environmentGroup": {
          "type": "string",
          "description": "Name of the environment group affected by this routing change."
        },
        "description": {
          "description": "Human-readable description of this routing change.",
          "type": "string"
        },
        "shouldSequenceRollout": {
          "type": "boolean",
          "description": "Set to `true` if using sequenced rollout would make this routing change safer. **Note**: This does not necessarily imply that automated sequenced rollout mode is supported for the operation."
        },
        "toDeployment": {
          "description": "Base path/deployment that may start receiving that traffic. May be null if no deployment is able to receive the traffic.",
          "$ref": "GoogleCloudApigeeV1DeploymentChangeReportRoutingDeployment"
        },
        "fromDeployment": {
          "$ref": "GoogleCloudApigeeV1DeploymentChangeReportRoutingDeployment",
          "description": "Base path/deployment that may stop receiving some traffic."
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1DeploymentChangeReportRoutingChange"
    },
    "GoogleCloudApigeeV1Operation": {
      "description": "Operation represents the pairing of REST resource path and the actions (verbs) allowed on the resource path.",
      "properties": {
        "resource": {
          "type": "string",
          "description": "Required. resource represents REST resource path associated with the proxy/remote service."
        },
        "methods": {
          "description": "methods refers to the REST verbs as in https://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html. When none specified, all verb types are allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1Operation"
    },
    "GoogleCloudApigeeV1DeploymentChangeReportRoutingConflict": {
      "type": "object",
      "description": "Describes a routing conflict that may cause a deployment not to receive traffic at some base path.",
      "id": "GoogleCloudApigeeV1DeploymentChangeReportRoutingConflict",
      "properties": {
        "conflictingDeployment": {
          "$ref": "GoogleCloudApigeeV1DeploymentChangeReportRoutingDeployment",
          "description": "Existing base path/deployment causing the conflict."
        },
        "description": {
          "type": "string",
          "description": "Human-readable description of this conflict."
        },
        "environmentGroup": {
          "type": "string",
          "description": "Name of the environment group in which this conflict exists."
        }
      }
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleIamV1TestIamPermissionsResponse",
      "type": "object"
    },
    "GoogleCloudApigeeV1OperationMetadata": {
      "id": "GoogleCloudApigeeV1OperationMetadata",
      "description": "Metadata describing an Operation.",
      "type": "object",
      "properties": {
        "operationType": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "INSERT",
            "DELETE",
            "UPDATE"
          ]
        },
        "state": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "FINISHED"
          ]
        },
        "targetResourceName": {
          "description": "Name of the resource for which the operation is operating on.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1ActivateNatAddressRequest": {
      "id": "GoogleCloudApigeeV1ActivateNatAddressRequest",
      "properties": {},
      "description": "Request for ActivateNatAddressRequest. Activate the nat address request.",
      "type": "object"
    },
    "GoogleCloudApigeeV1ListAppsResponse": {
      "type": "object",
      "properties": {
        "app": {
          "items": {
            "$ref": "GoogleCloudApigeeV1App"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudApigeeV1ListAppsResponse"
    },
    "GoogleCloudApigeeV1Instance": {
      "id": "GoogleCloudApigeeV1Instance",
      "description": "Apigee runtime instance.",
      "properties": {
        "lastModifiedAt": {
          "description": "Output only. Time the instance was last modified in milliseconds since epoch.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "host": {
          "type": "string",
          "description": "Output only. Internal hostname or IP address of the Apigee endpoint used by clients to connect to the service.",
          "readOnly": true
        },
        "displayName": {
          "description": "Optional. Display name for the instance.",
          "type": "string"
        },
        "location": {
          "description": "Required. Compute Engine location where the instance resides.",
          "type": "string"
        },
        "port": {
          "description": "Output only. Port number of the exposed Apigee endpoint.",
          "readOnly": true,
          "type": "string"
        },
        "createdAt": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Time the instance was created in milliseconds since epoch."
        },
        "name": {
          "type": "string",
          "description": "Required. Resource ID of the instance. Values must match the regular expression `^a-z{0,30}[a-z\\d]$`."
        },
        "diskEncryptionKeyName": {
          "description": "Customer Managed Encryption Key (CMEK) used for disk and volume encryption. Required for Apigee paid subscriptions only. Use the following format: `projects/([^/]+)/locations/([^/]+)/keyRings/([^/]+)/cryptoKeys/([^/]+)`",
          "type": "string"
        },
        "state": {
          "description": "Output only. State of the instance. Values other than `ACTIVE` means the resource is not ready to use.",
          "type": "string",
          "enumDescriptions": [
            "Resource is in an unspecified state.",
            "Resource is being created.",
            "Resource is provisioned and ready to use.",
            "The resource is being deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING"
          ],
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the instance."
        },
        "peeringCidrRange": {
          "type": "string",
          "enum": [
            "CIDR_RANGE_UNSPECIFIED",
            "SLASH_16",
            "SLASH_20"
          ],
          "description": "Optional. Size of the CIDR block range that will be reserved by the instance. PAID organizations support `SLASH_16` to `SLASH_20` and defaults to `SLASH_16`. Evaluation organizations support only `SLASH_23`.",
          "enumDescriptions": [
            "Range not specified.",
            "`/16` CIDR range.",
            "`/20` CIDR range."
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1TraceSamplingConfig": {
      "type": "object",
      "description": "TraceSamplingConfig represents the detail settings of distributed tracing. Only the fields that are defined in the distributed trace configuration can be overridden using the distribute trace configuration override APIs.",
      "properties": {
        "samplingRate": {
          "format": "float",
          "type": "number",
          "description": "Field sampling rate. This value is only applicable when using the PROBABILITY sampler. The supported values are \u003e 0 and \u003c= 0.5."
        },
        "sampler": {
          "enumDescriptions": [
            "Sampler unspecified.",
            "OFF means distributed trace is disabled, or the sampling probability is 0.",
            "PROBABILITY means traces are captured on a probability that defined by sampling_rate. The sampling rate is limited to 0 to 0.5 when this is set."
          ],
          "type": "string",
          "enum": [
            "SAMPLER_UNSPECIFIED",
            "OFF",
            "PROBABILITY"
          ],
          "description": "Sampler of distributed tracing. OFF is the default value."
        }
      },
      "id": "GoogleCloudApigeeV1TraceSamplingConfig"
    },
    "GoogleCloudApigeeV1InstanceDeploymentStatus": {
      "type": "object",
      "properties": {
        "instance": {
          "type": "string",
          "description": "ID of the instance reporting the status."
        },
        "deployedRoutes": {
          "description": "Current routes deployed in the ingress routing table. A route which is missing will appear in `missing_routes`.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1InstanceDeploymentStatusDeployedRoute"
          }
        },
        "deployedRevisions": {
          "description": "Revisions currently deployed in MPs.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1InstanceDeploymentStatusDeployedRevision"
          }
        }
      },
      "description": "The status of a deployment as reported by a single instance.",
      "id": "GoogleCloudApigeeV1InstanceDeploymentStatus"
    },
    "GoogleCloudApigeeV1ListOfDevelopersResponse": {
      "properties": {
        "developer": {
          "description": "List of developers.",
          "items": {
            "$ref": "GoogleCloudApigeeV1Developer"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudApigeeV1ListOfDevelopersResponse",
      "type": "object"
    },
    "GoogleCloudApigeeV1Datastore": {
      "type": "object",
      "description": "The data store defines the connection to export data repository (Cloud Storage, BigQuery), including the credentials used to access the data repository.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. Display name in UI"
        },
        "datastoreConfig": {
          "description": "Datastore Configurations.",
          "$ref": "GoogleCloudApigeeV1DatastoreConfig"
        },
        "lastUpdateTime": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Datastore last update time, in milliseconds since the epoch of 1970-01-01T00:00:00Z"
        },
        "targetType": {
          "description": "Destination storage type. Supported types `gcs` or `bigquery`.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Datastore create time, in milliseconds since the epoch of 1970-01-01T00:00:00Z",
          "type": "string",
          "format": "int64"
        },
        "self": {
          "readOnly": true,
          "description": "Output only. Resource link of Datastore. Example: `/organizations/{org}/analytics/datastores/{uuid}`",
          "type": "string"
        },
        "org": {
          "description": "Output only. Organization that the datastore belongs to",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleCloudApigeeV1Datastore"
    },
    "GoogleCloudApigeeV1DeploymentChangeReportRoutingDeployment": {
      "id": "GoogleCloudApigeeV1DeploymentChangeReportRoutingDeployment",
      "description": "Tuple representing a base path and the deployment containing it.",
      "type": "object",
      "properties": {
        "basepath": {
          "type": "string",
          "description": "Base path receiving traffic."
        },
        "apiProxy": {
          "type": "string",
          "description": "Name of the deployed API proxy revision containing the base path."
        },
        "environment": {
          "type": "string",
          "description": "Name of the environment in which the proxy is deployed."
        },
        "revision": {
          "description": "Name of the deployed API proxy revision containing the base path.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1ApiCategory": {
      "id": "GoogleCloudApigeeV1ApiCategory",
      "properties": {
        "requestId": {
          "description": "ID that can be used to find request details in the log files.",
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "Description of the operation."
        },
        "errorCode": {
          "description": "ID that can be used to find errors in the log files.",
          "type": "string"
        },
        "data": {
          "description": "Details of category.",
          "$ref": "GoogleCloudApigeeV1ApiCategoryData"
        },
        "status": {
          "type": "string",
          "description": "Status of the operation."
        }
      },
      "type": "object",
      "description": "the Api category resource wrapped with response status, error_code etc."
    },
    "GoogleCloudApigeeV1TlsInfo": {
      "type": "object",
      "id": "GoogleCloudApigeeV1TlsInfo",
      "description": "TLS configuration information for VirtualHosts and TargetServers.",
      "properties": {
        "ignoreValidationErrors": {
          "description": "If true, Edge ignores TLS certificate errors. Valid when configuring TLS for target servers and target endpoints, and when configuring virtual hosts that use 2-way TLS. When used with a target endpoint/target server, if the backend system uses SNI and returns a cert with a subject Distinguished Name (DN) that does not match the hostname, there is no way to ignore the error and the connection fails.",
          "type": "boolean"
        },
        "enabled": {
          "type": "boolean",
          "description": "Required. Enables TLS. If false, neither one-way nor two-way TLS will be enabled."
        },
        "clientAuthEnabled": {
          "type": "boolean",
          "description": "Optional. Enables two-way TLS."
        },
        "keyStore": {
          "type": "string",
          "description": "Required if `client_auth_enabled` is true. The resource ID of the keystore. References not yet supported."
        },
        "ciphers": {
          "items": {
            "type": "string"
          },
          "description": "The SSL/TLS cipher suites to be used. Must be one of the cipher suite names listed in: http://docs.oracle.com/javase/8/docs/technotes/guides/security/StandardNames.html#ciphersuites",
          "type": "array"
        },
        "trustStore": {
          "description": "The resource ID of the truststore. References not yet supported.",
          "type": "string"
        },
        "keyAlias": {
          "description": "Required if `client_auth_enabled` is true. The resource ID for the alias containing the private key and cert.",
          "type": "string"
        },
        "protocols": {
          "description": "The TLS versioins to be used.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "commonName": {
          "$ref": "GoogleCloudApigeeV1TlsInfoCommonName",
          "description": "The TLS Common Name of the certificate."
        }
      }
    },
    "GoogleCloudApigeeV1DebugSession": {
      "id": "GoogleCloudApigeeV1DebugSession",
      "properties": {
        "timeout": {
          "format": "int64",
          "type": "string",
          "description": "Optional. The time in seconds after which this DebugSession should end. This value will override the value in query param, if both are provided."
        },
        "filter": {
          "type": "string",
          "description": "Optional. A conditional statement which is evaluated against the request message to determine if it should be traced. Syntax matches that of on API Proxy bundle flow Condition."
        },
        "validity": {
          "type": "integer",
          "description": "Optional. The length of time, in seconds, that this debug session is valid, starting from when it's received in the control plane. Min = 1, Max = 15, Default = 10.",
          "format": "int32"
        },
        "tracesize": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The maximum number of bytes captured from the response payload. Min = 0, Max = 5120, Default = 5120."
        },
        "count": {
          "description": "Optional. The number of request to be traced. Min = 1, Max = 15, Default = 10.",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string",
          "description": "A unique ID for this DebugSession."
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1TraceConfigOverride": {
      "type": "object",
      "id": "GoogleCloudApigeeV1TraceConfigOverride",
      "properties": {
        "samplingConfig": {
          "$ref": "GoogleCloudApigeeV1TraceSamplingConfig",
          "description": "Trace configuration to override."
        },
        "name": {
          "type": "string",
          "description": "ID of the trace configuration override specified as a system-generated UUID."
        },
        "apiProxy": {
          "type": "string",
          "description": "ID of the API proxy that will have its trace configuration overridden."
        }
      },
      "description": "A representation of a configuration override."
    },
    "GoogleLongrunningListOperationsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "id": "GoogleLongrunningListOperationsResponse",
      "type": "object"
    },
    "GoogleCloudApigeeV1TlsInfoConfig": {
      "type": "object",
      "id": "GoogleCloudApigeeV1TlsInfoConfig",
      "properties": {
        "commonName": {
          "$ref": "GoogleCloudApigeeV1CommonNameConfig",
          "description": "Common name to validate the target server against."
        },
        "keyAliasReference": {
          "$ref": "GoogleCloudApigeeV1KeyAliasReference",
          "description": "Reference name and alias pair to use for client-side authentication."
        },
        "protocols": {
          "type": "array",
          "description": "List of TLS protocols that are granted access.",
          "items": {
            "type": "string"
          }
        },
        "trustStore": {
          "type": "string",
          "description": "Name of the keystore or keystore reference containing trusted certificates for the server in the following format: `organizations/{org}/environments/{env}/keystores/{keystore}` or `organizations/{org}/environments/{env}/references/{reference}`"
        },
        "enabled": {
          "description": "Flag that specifies whether one-way TLS is enabled. Set to `true` to enable one-way TLS.",
          "type": "boolean"
        },
        "ignoreValidationErrors": {
          "description": "Flag that specifies whether to ignore TLS certificate validation errors. Set to `true` to ignore errors.",
          "type": "boolean"
        },
        "ciphers": {
          "type": "array",
          "description": "List of ciphers that are granted access.",
          "items": {
            "type": "string"
          }
        },
        "clientAuthEnabled": {
          "type": "boolean",
          "description": "Flag that specifies whether client-side authentication is enabled for the target server. Enables two-way TLS."
        },
        "keyAlias": {
          "description": "Name of the alias used for client-side authentication in the following format: `organizations/{org}/environments/{env}/keystores/{keystore}/aliases/{alias}`",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1Reference": {
      "id": "GoogleCloudApigeeV1Reference",
      "description": "A Reference configuration. References must refer to a keystore that also exists in the parent environment.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The resource id of this reference. Values must match the regular expression [\\w\\s\\-.]+."
        },
        "refers": {
          "description": "Required. The id of the resource to which this reference refers. Must be the id of a resource that exists in the parent environment and is of the given resource_type.",
          "type": "string"
        },
        "description": {
          "description": "Optional. A human-readable description of this reference.",
          "type": "string"
        },
        "resourceType": {
          "type": "string",
          "description": "The type of resource referred to by this reference. Valid values are 'KeyStore' or 'TrustStore'."
        }
      }
    },
    "GoogleCloudApigeeV1FlowHook": {
      "id": "GoogleCloudApigeeV1FlowHook",
      "type": "object",
      "properties": {
        "flowHookPoint": {
          "description": "Output only. Where in the API call flow the flow hook is invoked. Must be one of `PreProxyFlowHook`, `PostProxyFlowHook`, `PreTargetFlowHook`, or `PostTargetFlowHook`.",
          "type": "string",
          "readOnly": true
        },
        "continueOnError": {
          "type": "boolean",
          "description": "Optional. Flag that specifies whether execution should continue if the flow hook throws an exception. Set to `true` to continue execution. Set to `false` to stop execution if the flow hook throws an exception. Defaults to `true`."
        },
        "description": {
          "description": "Description of the flow hook.",
          "type": "string"
        },
        "sharedFlow": {
          "type": "string",
          "description": "Shared flow attached to this flow hook, or empty if there is none attached."
        }
      }
    },
    "GoogleCloudApigeeV1OptimizedStatsResponse": {
      "id": "GoogleCloudApigeeV1OptimizedStatsResponse",
      "description": "This message type encapsulates a response format for Js Optimized Scenario.",
      "properties": {
        "metaData": {
          "description": "This field contains metadata information about the query executed",
          "$ref": "GoogleCloudApigeeV1Metadata"
        },
        "resultTruncated": {
          "type": "boolean",
          "description": "This ia a boolean field to indicate if the results were truncated based on the limit parameter."
        },
        "stats": {
          "$ref": "GoogleCloudApigeeV1OptimizedStatsNode",
          "description": "This field contains a stats results."
        },
        "TimeUnit": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "This field contains a list of time unit values. Time unit refers to an epoch timestamp value."
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1ResourceFile": {
      "description": "Metadata about a resource file.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "ID of the resource file."
        },
        "type": {
          "type": "string",
          "description": "Resource file type. {{ resource_file_type }}"
        }
      },
      "id": "GoogleCloudApigeeV1ResourceFile"
    },
    "GoogleCloudApigeeV1RuntimeTraceConfigOverride": {
      "type": "object",
      "properties": {
        "uid": {
          "description": "Unique ID for the configuration override. The ID will only change if the override is deleted and recreated. Corresponds to name's \"override\" field.",
          "type": "string"
        },
        "apiProxy": {
          "description": "Name of the API proxy that will have its trace configuration overridden following format: `organizations/{org}/apis/{api}`",
          "type": "string"
        },
        "revisionCreateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The timestamp that the revision was created or updated."
        },
        "samplingConfig": {
          "$ref": "GoogleCloudApigeeV1RuntimeTraceSamplingConfig",
          "description": "Trace configuration override for a specific API proxy in an environment."
        },
        "name": {
          "description": "Name of the trace config override in the following format: `organizations/{org}/environment/{env}/traceConfig/overrides/{override}`",
          "type": "string"
        },
        "revisionId": {
          "type": "string",
          "description": "Revision number which can be used by the runtime to detect if the trace config override has changed between two versions."
        }
      },
      "id": "GoogleCloudApigeeV1RuntimeTraceConfigOverride",
      "description": "NEXT ID: 7 Trace configuration override for a specific API proxy in an environment."
    },
    "GoogleCloudApigeeV1Point": {
      "properties": {
        "results": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Result"
          },
          "description": "List of results extracted from a given debug point.",
          "type": "array"
        },
        "id": {
          "description": "Name of a step in the transaction.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Point is a group of information collected by runtime plane at critical points of the message flow of the processed API request. This is a list of supported point IDs, categorized to three major buckets. For each category, debug points that we are currently supporting are listed below: - Flow status debug points: StateChange FlowInfo Condition Execution DebugMask Error - Flow control debug points: FlowCallout Paused Resumed FlowReturn BreakFlow Error - Runtime debug points: ScriptExecutor FlowCalloutStepDefinition CustomTarget StepDefinition Oauth2ServicePoint RaiseFault NodeJS The detail information of the given debug point is stored in a list of results.",
      "id": "GoogleCloudApigeeV1Point"
    },
    "GoogleCloudApigeeV1Organization": {
      "id": "GoogleCloudApigeeV1Organization",
      "properties": {
        "analyticsRegion": {
          "description": "Required. Primary GCP region for analytics data storage. For valid values, see [Create an Apigee organization](https://cloud.google.com/apigee/docs/api-platform/get-started/create-org).",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the Apigee organization."
        },
        "environments": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. List of environments in the Apigee organization.",
          "readOnly": true
        },
        "projectId": {
          "readOnly": true,
          "description": "Output only. Project ID associated with the Apigee organization.",
          "type": "string"
        },
        "lastModifiedAt": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time that the Apigee organization was last modified in milliseconds since epoch.",
          "format": "int64"
        },
        "createdAt": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. Time that the Apigee organization was created in milliseconds since epoch."
        },
        "properties": {
          "description": "Properties defined in the Apigee organization profile.",
          "$ref": "GoogleCloudApigeeV1Properties"
        },
        "caCertificate": {
          "type": "string",
          "readOnly": true,
          "format": "byte",
          "description": "Output only. Base64-encoded public certificate for the root CA of the Apigee organization. Valid only when [RuntimeType](#RuntimeType) is `CLOUD`."
        },
        "displayName": {
          "type": "string"
        },
        "type": {
          "description": "Not used by Apigee.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_TRIAL",
            "TYPE_PAID",
            "TYPE_INTERNAL"
          ],
          "enumDescriptions": [
            "Subscription type not specified.",
            "Subscription to Apigee is free, limited, and used for evaluation purposes only.",
            "Full subscription to Apigee has been purchased. See [Apigee pricing](https://cloud.google.com/apigee/pricing/).",
            "For internal users only."
          ]
        },
        "billingType": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "BILLING_TYPE_UNSPECIFIED",
            "SUBSCRIPTION",
            "EVALUATION"
          ],
          "description": "Output only. Billing type of the Apigee organization. See [Apigee pricing](https://cloud.google.com/apigee/pricing).",
          "enumDescriptions": [
            "Billing type not specified.",
            "A pre-paid subscription to Apigee.",
            "Free and limited access to Apigee for evaluation purposes only. only."
          ]
        },
        "runtimeDatabaseEncryptionKeyName": {
          "description": "Cloud KMS key name used for encrypting the data that is stored and replicated across runtime instances. Update is not allowed after the organization is created. Required when [RuntimeType](#RuntimeType) is `CLOUD`. If not specified when [RuntimeType](#RuntimeType) is `TRIAL`, a Google-Managed encryption key will be used. For example: \"projects/foo/locations/us/keyRings/bar/cryptoKeys/baz\". **Note:** Not supported for Apigee hybrid.",
          "type": "string"
        },
        "runtimeType": {
          "description": "Required. Runtime type of the Apigee organization based on the Apigee subscription purchased.",
          "type": "string",
          "enumDescriptions": [
            "Runtime type not specified.",
            "Google-managed Apigee runtime.",
            "User-managed Apigee hybrid runtime."
          ],
          "enum": [
            "RUNTIME_TYPE_UNSPECIFIED",
            "CLOUD",
            "HYBRID"
          ]
        },
        "expiresAt": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Time that the Apigee organization is scheduled for deletion."
        },
        "customerName": {
          "description": "Not used by Apigee.",
          "type": "string"
        },
        "subscriptionType": {
          "enumDescriptions": [
            "Subscription type not specified.",
            "Full subscription to Apigee has been purchased.",
            "Subscription to Apigee is free, limited, and used for evaluation purposes only."
          ],
          "enum": [
            "SUBSCRIPTION_TYPE_UNSPECIFIED",
            "PAID",
            "TRIAL"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. DEPRECATED: This will eventually be replaced by BillingType. Subscription type of the Apigee organization. Valid values include trial (free, limited, and for evaluation purposes only) or paid (full subscription has been purchased). See [Apigee pricing](https://cloud.google.com/apigee/pricing/)."
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Resource is in an unspecified state.",
            "Resource is being created.",
            "Resource is provisioned and ready to use.",
            "The resource is being deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING"
          ],
          "description": "Output only. State of the organization. Values other than ACTIVE means the resource is not ready to use."
        },
        "description": {
          "description": "Description of the Apigee organization.",
          "type": "string"
        },
        "attributes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Not used by Apigee."
        },
        "authorizedNetwork": {
          "description": "Compute Engine network used for Service Networking to be peered with Apigee runtime instances. See [Getting started with the Service Networking API](https://cloud.google.com/service-infrastructure/docs/service-networking/getting-started). Valid only when [RuntimeType](#RuntimeType) is set to `CLOUD`. The value must be set before the creation of a runtime instance and can be updated only when there are no runtime instances. For example: `default`. Apigee also supports shared VPC (that is, the host network project is not the same as the one that is peering with Apigee). See [Shared VPC overview](https://cloud.google.com/vpc/docs/shared-vpc). To use a shared VPC network, use the following format: `projects/{host-project-id}/{region}/networks/{network-name}`. For example: `projects/my-sharedvpc-host/global/networks/mynetwork` **Note:** Not supported for Apigee hybrid.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1GraphQLOperation": {
      "description": "GraphQLOperation represents the pairing of graphQL operation types and the graphQL operation name.",
      "type": "object",
      "properties": {
        "operationType": {
          "items": {
            "type": "string"
          },
          "description": "Required. `query`, `mutation` and `subscription` are the three operation types offered by graphQL. Currently we support only `query` and `mutation`.",
          "type": "array"
        },
        "operation": {
          "type": "string",
          "description": "GraphQL operation name, along with operation type which will be used to associate quotas with. If no name is specified, the quota will be applied to all graphQL operations irrespective of their operation names in the payload."
        }
      },
      "id": "GoogleCloudApigeeV1GraphQLOperation"
    },
    "GoogleCloudApigeeV1Property": {
      "id": "GoogleCloudApigeeV1Property",
      "type": "object",
      "description": "A single property entry in the Properties message.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The property key"
        },
        "value": {
          "type": "string",
          "description": "The property value"
        }
      }
    },
    "GoogleCloudApigeeV1ResourceFiles": {
      "properties": {
        "resourceFile": {
          "items": {
            "$ref": "GoogleCloudApigeeV1ResourceFile"
          },
          "type": "array",
          "description": "List of resource files."
        }
      },
      "description": "List of resource files.",
      "id": "GoogleCloudApigeeV1ResourceFiles",
      "type": "object"
    },
    "GoogleCloudApigeeV1EntityMetadata": {
      "properties": {
        "lastModifiedAt": {
          "format": "int64",
          "type": "string",
          "description": "Time at which the API proxy was most recently modified, in milliseconds since epoch."
        },
        "createdAt": {
          "format": "int64",
          "type": "string",
          "description": "Time at which the API proxy was created, in milliseconds since epoch."
        },
        "subType": {
          "description": "The type of entity described",
          "type": "string"
        }
      },
      "description": "Metadata common to many entities in this API.",
      "type": "object",
      "id": "GoogleCloudApigeeV1EntityMetadata"
    },
    "GoogleCloudApigeeV1Result": {
      "id": "GoogleCloudApigeeV1Result",
      "type": "object",
      "description": "Result is short for \"action result\", could be different types identified by \"action_result\" field. Supported types: 1. DebugInfo : generic debug info collected by runtime recorded as a list of properties. For example, the contents could be virtual host info, state change result, or execution metadata. Required fields : properties, timestamp 2. RequestMessage: information of a http request. Contains headers, request URI and http methods type.Required fields : headers, uri, verb 3. ResponseMessage: information of a http response. Contains headers, reason phrase and http status code. Required fields : headers, reasonPhrase, statusCode 4. ErrorMessage: information of a http error message. Contains detail error message, reason phrase and status code. Required fields : content, headers, reasonPhrase, statusCode 5. VariableAccess: a list of variable access actions, can be Get, Set and Remove. Required fields : accessList",
      "properties": {
        "headers": {
          "description": "A list of HTTP headers. for example, '\"headers\" : [ { \"name\" : \"Content-Length\", \"value\" : \"83\" }, { \"name\" : \"Content-Type\", \"value\" : \"application/json\" } ]'",
          "items": {
            "$ref": "GoogleCloudApigeeV1Property"
          },
          "type": "array"
        },
        "ActionResult": {
          "description": "Type of the action result. Can be one of the five: DebugInfo, RequestMessage, ResponseMessage, ErrorMessage, VariableAccess",
          "type": "string"
        },
        "content": {
          "type": "string",
          "description": "Error message content. for example, \"content\" : \"{\\\"fault\\\":{\\\"faultstring\\\":\\\"API timed out\\\",\\\"detail\\\":{\\\"errorcode\\\":\\\"flow.APITimedOut\\\"}}}\""
        },
        "statusCode": {
          "description": "HTTP response code",
          "type": "string"
        },
        "properties": {
          "$ref": "GoogleCloudApigeeV1Properties",
          "description": "Name value pairs used for DebugInfo ActionResult."
        },
        "reasonPhrase": {
          "type": "string",
          "description": "HTTP response phrase"
        },
        "accessList": {
          "type": "array",
          "description": "A list of variable access actions agaist the api proxy. Supported values: Get, Set, Remove.",
          "items": {
            "$ref": "GoogleCloudApigeeV1Access"
          }
        },
        "uRI": {
          "description": "The relative path of the api proxy. for example, `\"uRI\" : \"/iloveapis\"`",
          "type": "string"
        },
        "timestamp": {
          "type": "string",
          "description": "Timestamp of when the result is recorded. Its format is dd-mm-yy hh:mm:ss:xxx. For example, `\"timestamp\" : \"12-08-19 00:31:59:960\"`"
        },
        "verb": {
          "type": "string",
          "description": "HTTP method verb"
        }
      }
    },
    "GoogleCloudApigeeV1AccessRemove": {
      "properties": {
        "success": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        }
      },
      "description": "Remove action. For example, \"Remove\" : { \"name\" : \"target.name\", \"success\" : true }",
      "id": "GoogleCloudApigeeV1AccessRemove",
      "type": "object"
    },
    "GoogleCloudApigeeV1App": {
      "id": "GoogleCloudApigeeV1App",
      "type": "object",
      "properties": {
        "companyName": {
          "type": "string",
          "description": "Name of the company that owns the app."
        },
        "apiProducts": {
          "description": "List of API products associated with the app.",
          "items": {
            "$ref": "GoogleCloudApigeeV1ApiProductRef"
          },
          "type": "array"
        },
        "developerId": {
          "description": "ID of the developer.",
          "type": "string"
        },
        "createdAt": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Unix time when the app was created.",
          "format": "int64"
        },
        "appId": {
          "type": "string",
          "description": "ID of the app."
        },
        "credentials": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Set of credentials for the app. Credentials are API key/secret pairs associated with API products.",
          "items": {
            "$ref": "GoogleCloudApigeeV1Credential"
          }
        },
        "name": {
          "type": "string",
          "description": "Name of the app."
        },
        "callbackUrl": {
          "description": "Callback URL used by OAuth 2.0 authorization servers to communicate authorization codes back to apps.",
          "type": "string"
        },
        "keyExpiresIn": {
          "format": "int64",
          "description": "Duration, in milliseconds, of the consumer key that will be generated for the app. The default value, -1, indicates an infinite validity period. Once set, the expiration can't be updated. json key: keyExpiresIn",
          "type": "string"
        },
        "attributes": {
          "type": "array",
          "description": "List of attributes.",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          }
        },
        "scopes": {
          "description": "Scopes to apply to the app. The specified scope names must already exist on the API product that you associate with the app.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "status": {
          "type": "string",
          "description": "Status of the credential."
        },
        "lastModifiedAt": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Last modified time as milliseconds since epoch.",
          "readOnly": true
        }
      }
    },
    "GoogleCloudApigeeV1CustomReportMetric": {
      "description": "This encapsulates a metric property of the form sum(message_count) where name is message_count and function is sum",
      "type": "object",
      "properties": {
        "name": {
          "description": "name of the metric",
          "type": "string"
        },
        "function": {
          "type": "string",
          "description": "aggregate function"
        }
      },
      "id": "GoogleCloudApigeeV1CustomReportMetric"
    },
    "GoogleCloudApigeeV1SchemaSchemaElement": {
      "id": "GoogleCloudApigeeV1SchemaSchemaElement",
      "description": "Message type for the schema element",
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "GoogleCloudApigeeV1SchemaSchemaProperty",
          "description": "Property of the schema field E.g. { \"createTime\": \"2016-02-26T10:23:09.592Z\", \"custom\": \"false\", \"type\": \"string\" }"
        },
        "name": {
          "type": "string",
          "description": "Name of the field"
        }
      }
    },
    "GoogleCloudApigeeV1ListHybridIssuersResponse": {
      "type": "object",
      "properties": {
        "issuers": {
          "items": {
            "$ref": "GoogleCloudApigeeV1ServiceIssuersMapping"
          },
          "type": "array",
          "description": "Lists of hybrid services and its trusted issuer email ids."
        }
      },
      "id": "GoogleCloudApigeeV1ListHybridIssuersResponse"
    },
    "GoogleCloudApigeeV1IngressConfig": {
      "type": "object",
      "properties": {
        "revisionCreateTime": {
          "description": "Time at which the IngressConfig revision was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "environmentGroups": {
          "items": {
            "$ref": "GoogleCloudApigeeV1EnvironmentGroupConfig"
          },
          "description": "List of environment groups in the organization.",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Name of the resource in the following format: `organizations/{org}/deployedIngressConfig`."
        },
        "revisionId": {
          "description": "Revision id that defines the ordering on IngressConfig resources. The higher the revision, the more recently the configuration was deployed.",
          "type": "string",
          "format": "int64"
        },
        "uid": {
          "description": "A unique id for the ingress config that will only change if the organization is deleted and recreated.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1IngressConfig"
    },
    "GoogleCloudApigeeV1ListDatastoresResponse": {
      "description": "The response for ListDatastores",
      "properties": {
        "datastores": {
          "description": "A list of datastores",
          "items": {
            "$ref": "GoogleCloudApigeeV1Datastore"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudApigeeV1ListDatastoresResponse",
      "type": "object"
    },
    "GoogleCloudApigeeV1GetSyncAuthorizationRequest": {
      "type": "object",
      "description": "Request for GetSyncAuthorization.",
      "properties": {},
      "id": "GoogleCloudApigeeV1GetSyncAuthorizationRequest"
    },
    "GoogleCloudApigeeV1Attributes": {
      "properties": {
        "attribute": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          },
          "description": "List of attributes."
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1Attributes"
    },
    "GoogleCloudApigeeV1ListInstancesResponse": {
      "description": "Response for ListInstances.",
      "id": "GoogleCloudApigeeV1ListInstancesResponse",
      "properties": {
        "instances": {
          "type": "array",
          "description": "Instances in the specified organization.",
          "items": {
            "$ref": "GoogleCloudApigeeV1Instance"
          }
        },
        "nextPageToken": {
          "description": "Page token that you can include in a ListInstance request to retrieve the next page of content. If omitted, no subsequent pages exist.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1EnvironmentGroupAttachment": {
      "type": "object",
      "id": "GoogleCloudApigeeV1EnvironmentGroupAttachment",
      "properties": {
        "name": {
          "type": "string",
          "description": "ID of the environment group attachment."
        },
        "createdAt": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time at which the environment group attachment was created as milliseconds since epoch.",
          "format": "int64"
        },
        "environment": {
          "description": "Required. ID of the attached environment.",
          "type": "string"
        }
      },
      "description": "EnvironmentGroupAttachment is a resource which defines an attachment of an environment to an environment group."
    },
    "GoogleCloudApigeeV1QueryMetric": {
      "id": "GoogleCloudApigeeV1QueryMetric",
      "properties": {
        "function": {
          "description": "Aggregation function: avg, min, max, or sum.",
          "type": "string"
        },
        "operator": {
          "type": "string",
          "description": "One of `+`, `-`, `/`, `%`, `*`."
        },
        "name": {
          "description": "Required. Metric name.",
          "type": "string"
        },
        "alias": {
          "description": "Alias for the metric. Alias will be used to replace metric name in query results.",
          "type": "string"
        },
        "value": {
          "description": "Operand value should be provided when operator is set.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "More info about Metric: https://docs.apigee.com/api-platform/analytics/analytics-reference#metrics"
    },
    "GoogleCloudApigeeV1Environment": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Description of the environment."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Display name for this environment."
        },
        "lastModifiedAt": {
          "readOnly": true,
          "description": "Output only. Last modification time of this environment as milliseconds since epoch.",
          "type": "string",
          "format": "int64"
        },
        "createdAt": {
          "format": "int64",
          "description": "Output only. Creation time of this environment as milliseconds since epoch.",
          "readOnly": true,
          "type": "string"
        },
        "properties": {
          "$ref": "GoogleCloudApigeeV1Properties",
          "description": "Optional. Key-value pairs that may be used for customizing the environment."
        },
        "name": {
          "description": "Required. Name of the environment. Values must match the regular expression `^[.\\\\p{Alnum}-_]{1,255}$`",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Resource is in an unspecified state.",
            "Resource is being created.",
            "Resource is provisioned and ready to use.",
            "The resource is being deleted."
          ],
          "description": "Output only. State of the environment. Values other than ACTIVE means the resource is not ready to use.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1Environment"
    },
    "GoogleCloudApigeeV1DataCollectorConfig": {
      "id": "GoogleCloudApigeeV1DataCollectorConfig",
      "type": "object",
      "description": "Data collector and its configuration.",
      "properties": {
        "name": {
          "description": "Name of the data collector in the following format: `organizations/{org}/datacollectors/{datacollector}`",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "For future compatibility.",
            "For integer values.",
            "For float values.",
            "For string values.",
            "For boolean values.",
            "For datetime values."
          ],
          "type": "string",
          "description": "Data type accepted by the data collector.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "INTEGER",
            "FLOAT",
            "STRING",
            "BOOLEAN",
            "DATETIME"
          ]
        }
      }
    },
    "GoogleCloudApigeeV1CanaryEvaluation": {
      "description": "CanaryEvaluation represents the canary analysis between two versions of the runtime that is serving requests.",
      "id": "GoogleCloudApigeeV1CanaryEvaluation",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the canary evalution."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Create time of the canary evaluation.",
          "readOnly": true,
          "type": "string"
        },
        "control": {
          "description": "Required. The stable version that is serving requests.",
          "type": "string"
        },
        "metricLabels": {
          "$ref": "GoogleCloudApigeeV1CanaryEvaluationMetricLabels",
          "description": "Required. Labels used to filter the metrics used for a canary evaluation."
        },
        "treatment": {
          "type": "string",
          "description": "Required. The newer version that is serving requests."
        },
        "verdict": {
          "type": "string",
          "description": "Output only. The resulting verdict of the canary evaluations: NONE, PASS, or FAIL.",
          "enumDescriptions": [
            "Verdict is not available yet.",
            "No verdict reached.",
            "Evaluation is not good.",
            "Evaluation is good."
          ],
          "readOnly": true,
          "enum": [
            "VERDICT_UNSPECIFIED",
            "NONE",
            "FAIL",
            "PASS"
          ]
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED"
          ],
          "description": "Output only. The current state of the canary evaluation.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "No state has been specified.",
            "The canary evaluation is still in progress.",
            "The canary evaluation has finished."
          ]
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. End time for the evaluation's analysis."
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Required. Start time for the canary evaluation's analysis.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1AsyncQueryResultView": {
      "properties": {
        "state": {
          "description": "State of retrieving ResultView.",
          "type": "string"
        },
        "code": {
          "format": "int32",
          "description": "Error code when there is a failure.",
          "type": "integer"
        },
        "error": {
          "description": "Error message when there is a failure.",
          "type": "string"
        },
        "rows": {
          "type": "array",
          "description": "Rows of query result. Each row is a JSON object. Example: {sum(message_count): 1, developer_app: \"(not set)\",…}",
          "items": {
            "type": "any"
          }
        },
        "metadata": {
          "description": "Metadata contains information like metrics, dimenstions etc of the AsyncQuery.",
          "$ref": "GoogleCloudApigeeV1QueryMetadata"
        }
      },
      "id": "GoogleCloudApigeeV1AsyncQueryResultView",
      "type": "object"
    },
    "GoogleCloudApigeeV1ListAsyncQueriesResponse": {
      "id": "GoogleCloudApigeeV1ListAsyncQueriesResponse",
      "type": "object",
      "properties": {
        "queries": {
          "description": "The asynchronous queries belong to requested resource name.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1AsyncQuery"
          }
        }
      },
      "description": "The response for ListAsyncQueries."
    },
    "GoogleCloudApigeeV1AsyncQueryResult": {
      "id": "GoogleCloudApigeeV1AsyncQueryResult",
      "type": "object",
      "properties": {
        "expires": {
          "type": "string",
          "description": "Query result will be unaccessable after this time."
        },
        "self": {
          "description": "Self link of the query results. Example: `/organizations/myorg/environments/myenv/queries/9cfc0d85-0f30-46d6-ae6f-318d0cb961bd/result` or following format if query is running at host level: `/organizations/myorg/hostQueries/9cfc0d85-0f30-46d6-ae6f-318d0cb961bd/result`",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1ListEnvironmentGroupAttachmentsResponse": {
      "properties": {
        "environmentGroupAttachments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1EnvironmentGroupAttachment"
          },
          "description": "EnvironmentGroupAttachments for the specified environment group."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token that you can include in a ListEnvironmentGroupAttachments request to retrieve the next page. If omitted, no subsequent pages exist."
        }
      },
      "id": "GoogleCloudApigeeV1ListEnvironmentGroupAttachmentsResponse",
      "description": "Response for ListEnvironmentGroupAttachments.",
      "type": "object"
    },
    "GoogleCloudApigeeV1Access": {
      "properties": {
        "Get": {
          "$ref": "GoogleCloudApigeeV1AccessGet"
        },
        "Remove": {
          "$ref": "GoogleCloudApigeeV1AccessRemove"
        },
        "Set": {
          "$ref": "GoogleCloudApigeeV1AccessSet"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1Access"
    },
    "GoogleCloudApigeeV1Alias": {
      "description": "Reference to a certificate or key/certificate pair.",
      "id": "GoogleCloudApigeeV1Alias",
      "type": "object",
      "properties": {
        "alias": {
          "type": "string",
          "description": "Resource ID for this alias. Values must match the regular expression `[^/]{1,255}`."
        },
        "type": {
          "type": "string",
          "description": "Type of alias.",
          "enumDescriptions": [
            "Alias type is not specified.",
            "Certificate.",
            "Key/certificate pair."
          ],
          "enum": [
            "ALIAS_TYPE_UNSPECIFIED",
            "CERT",
            "KEY_CERT"
          ]
        },
        "certsInfo": {
          "description": "Chain of certificates under this alias.",
          "$ref": "GoogleCloudApigeeV1Certificate"
        }
      }
    },
    "GoogleCloudApigeeV1InstanceAttachment": {
      "properties": {
        "name": {
          "description": "Output only. ID of the attachment.",
          "readOnly": true,
          "type": "string"
        },
        "environment": {
          "description": "ID of the attached environment.",
          "type": "string"
        },
        "createdAt": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time the attachment was created in milliseconds since epoch."
        }
      },
      "id": "GoogleCloudApigeeV1InstanceAttachment",
      "type": "object",
      "description": "InstanceAttachment represents the installation of an environment onto an instance."
    },
    "GoogleCloudApigeeV1Session": {
      "type": "object",
      "description": "Session carries the debug session id and its creation time.",
      "properties": {
        "id": {
          "description": "The debug session ID.",
          "type": "string"
        },
        "timestampMs": {
          "description": "The first transaction creation timestamp in millisecond, recoreded by UAP.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1Session"
    },
    "GoogleCloudApigeeV1DeveloperApp": {
      "properties": {
        "keyExpiresIn": {
          "format": "int64",
          "description": "Expiration time, in milliseconds, for the consumer key that is generated for the developer app. If not set or left to the default value of `-1`, the API key never expires. The expiration time can't be updated after it is set.",
          "type": "string"
[...]
