{
  "revision": "20210311",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "servicePath": "",
  "mtlsRootUrl": "https://bigquerydatatransfer.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "name": "bigquerydatatransfer",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/bigquery": {
          "description": "View and manage your data in Google BigQuery"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/bigquery.readonly": {
          "description": "View your data in Google BigQuery"
        }
      }
    }
  },
  "batchPath": "batch",
  "rootUrl": "https://bigquerydatatransfer.googleapis.com/",
  "description": "Schedule queries or transfer external data from SaaS applications to Google BigQuery on a regular basis.",
  "version_module": true,
  "id": "bigquerydatatransfer:v1",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "title": "BigQuery Data Transfer API",
  "basePath": "",
  "documentationLink": "https://cloud.google.com/bigquery-transfer/",
  "baseUrl": "https://bigquerydatatransfer.googleapis.com/",
  "protocol": "rest",
  "resources": {
    "projects": {
      "resources": {
        "transferConfigs": {
          "resources": {
            "runs": {
              "resources": {
                "transferLogs": {
                  "methods": {
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "messageTypes": {
                          "type": "string",
                          "description": "Message types to return. If not populated - INFO, WARNING and ERROR messages are returned.",
                          "location": "query",
                          "enumDescriptions": [
                            "No severity specified.",
                            "Informational message.",
                            "Warning message.",
                            "Error message."
                          ],
                          "repeated": true,
                          "enum": [
                            "MESSAGE_SEVERITY_UNSPECIFIED",
                            "INFO",
                            "WARNING",
                            "ERROR"
                          ]
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/transferConfigs/[^/]+/runs/[^/]+$",
                          "required": true,
                          "description": "Required. Transfer run name in the form: `projects/{project_id}/transferConfigs/{config_id}/runs/{run_id}` or `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}/runs/{run_id}`",
                          "type": "string",
                          "location": "path"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Page size. The default page size is the maximum value of 1000 results.",
                          "location": "query",
                          "format": "int32"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Pagination token, which can be used to request a specific page of `ListTransferLogsRequest` list results. For multiple-page results, `ListTransferLogsResponse` outputs a `next_page` token, which can be used as the `page_token` value to request the next page of list results.",
                          "type": "string"
                        }
                      },
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}/runs/{runsId}/transferLogs",
                      "response": {
                        "$ref": "ListTransferLogsResponse"
                      },
                      "id": "bigquerydatatransfer.projects.transferConfigs.runs.transferLogs.list",
                      "path": "v1/{+parent}/transferLogs",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/bigquery.readonly",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "description": "Returns user facing log messages for the data transfer run."
                    }
                  }
                }
              },
              "methods": {
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes the specified transfer run.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The field will contain name of the resource requested, for example: `projects/{project_id}/transferConfigs/{config_id}/runs/{run_id}` or `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}/runs/{run_id}`",
                      "required": true,
                      "pattern": "^projects/[^/]+/transferConfigs/[^/]+/runs/[^/]+$"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}/runs/{runsId}",
                  "id": "bigquerydatatransfer.projects.transferConfigs.runs.delete",
                  "path": "v1/{+name}"
                },
                "list": {
                  "id": "bigquerydatatransfer.projects.transferConfigs.runs.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListTransferRunsResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Page size. The default page size is the maximum value of 1000 results.",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Pagination token, which can be used to request a specific page of `ListTransferRunsRequest` list results. For multiple-page results, `ListTransferRunsResponse` outputs a `next_page` token, which can be used as the `page_token` value to request the next page of list results."
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "description": "Required. Name of transfer configuration for which transfer runs should be retrieved. Format of transfer configuration resource name is: `projects/{project_id}/transferConfigs/{config_id}` or `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/transferConfigs/[^/]+$"
                    },
                    "states": {
                      "description": "When specified, only transfer runs with requested states are returned.",
                      "repeated": true,
                      "location": "query",
                      "enumDescriptions": [
                        "State placeholder (0).",
                        "Data transfer is scheduled and is waiting to be picked up by data transfer backend (2).",
                        "Data transfer is in progress (3).",
                        "Data transfer completed successfully (4).",
                        "Data transfer failed (5).",
                        "Data transfer is cancelled (6)."
                      ],
                      "enum": [
                        "TRANSFER_STATE_UNSPECIFIED",
                        "PENDING",
                        "RUNNING",
                        "SUCCEEDED",
                        "FAILED",
                        "CANCELLED"
                      ],
                      "type": "string"
                    },
                    "runAttempt": {
                      "enumDescriptions": [
                        "All runs should be returned.",
                        "Only latest run per day should be returned."
                      ],
                      "enum": [
                        "RUN_ATTEMPT_UNSPECIFIED",
                        "LATEST"
                      ],
                      "location": "query",
                      "type": "string",
                      "description": "Indicates how run attempts are to be pulled."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}/runs",
                  "httpMethod": "GET",
                  "description": "Returns information about running and completed jobs.",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/bigquery.readonly",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "path": "v1/{+parent}/runs"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "TransferRun"
                  },
                  "httpMethod": "GET",
                  "description": "Returns information about the particular transfer run.",
                  "path": "v1/{+name}",
                  "id": "bigquerydatatransfer.projects.transferConfigs.runs.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/bigquery.readonly",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The field will contain name of the resource requested, for example: `projects/{project_id}/transferConfigs/{config_id}/runs/{run_id}` or `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}/runs/{run_id}`",
                      "required": true,
                      "pattern": "^projects/[^/]+/transferConfigs/[^/]+/runs/[^/]+$",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}/runs/{runsId}"
                }
              }
            }
          },
          "methods": {
            "delete": {
              "path": "v1/{+name}",
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}",
              "id": "bigquerydatatransfer.projects.transferConfigs.delete",
              "description": "Deletes a data transfer configuration, including any associated transfer runs and logs.",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The field will contain name of the resource requested, for example: `projects/{project_id}/transferConfigs/{config_id}` or `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}`",
                  "pattern": "^projects/[^/]+/transferConfigs/[^/]+$",
                  "required": true
                }
              }
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/bigquery.readonly",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}",
              "path": "v1/{+name}",
              "description": "Returns information about a data transfer config.",
              "parameterOrder": [
                "name"
              ],
              "id": "bigquerydatatransfer.projects.transferConfigs.get",
              "response": {
                "$ref": "TransferConfig"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/transferConfigs/[^/]+$",
                  "description": "Required. The field will contain name of the resource requested, for example: `projects/{project_id}/transferConfigs/{config_id}` or `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}`",
                  "required": true
                }
              },
              "httpMethod": "GET"
            },
            "startManualRuns": {
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Start manual transfer runs to be executed now with schedule_time equal to current time. The transfer runs can be created for a time range where the run_time is between start_time (inclusive) and end_time (exclusive), or for a specific run_time.",
              "path": "v1/{+parent}:startManualRuns",
              "httpMethod": "POST",
              "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}:startManualRuns",
              "id": "bigquerydatatransfer.projects.transferConfigs.startManualRuns",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Transfer configuration name in the form: `projects/{project_id}/transferConfigs/{config_id}` or `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}`.",
                  "required": true,
                  "pattern": "^projects/[^/]+/transferConfigs/[^/]+$",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "StartManualTransferRunsResponse"
              },
              "request": {
                "$ref": "StartManualTransferRunsRequest"
              }
            },
            "scheduleRuns": {
              "request": {
                "$ref": "ScheduleTransferRunsRequest"
              },
              "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}:scheduleRuns",
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "ScheduleTransferRunsResponse"
              },
              "id": "bigquerydatatransfer.projects.transferConfigs.scheduleRuns",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. Transfer configuration name in the form: `projects/{project_id}/transferConfigs/{config_id}` or `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}`.",
                  "required": true,
                  "pattern": "^projects/[^/]+/transferConfigs/[^/]+$"
                }
              },
              "description": "Creates transfer runs for a time range [start_time, end_time]. For each date - or whatever granularity the data source supports - in the range, one transfer run is created. Note that runs are created per UTC time in the time range. DEPRECATED: use StartManualTransferRuns instead.",
              "path": "v1/{+parent}:scheduleRuns",
              "parameterOrder": [
                "parent"
              ]
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "description": "Returns information about all data transfers in the project.",
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/bigquery.readonly",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "response": {
                "$ref": "ListTransferConfigsResponse"
              },
              "path": "v1/{+parent}/transferConfigs",
              "parameters": {
                "pageSize": {
                  "description": "Page size. The default page size is the maximum value of 1000 results.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "parent": {
                  "description": "Required. The BigQuery project id for which data sources should be returned: `projects/{project_id}` or `projects/{project_id}/locations/{location_id}`",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$"
                },
                "dataSourceIds": {
                  "repeated": true,
                  "type": "string",
                  "description": "When specified, only configurations of requested data sources are returned.",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Pagination token, which can be used to request a specific page of `ListTransfersRequest` list results. For multiple-page results, `ListTransfersResponse` outputs a `next_page` token, which can be used as the `page_token` value to request the next page of list results.",
                  "type": "string"
                }
              },
              "id": "bigquerydatatransfer.projects.transferConfigs.list",
              "flatPath": "v1/projects/{projectsId}/transferConfigs",
              "httpMethod": "GET"
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "serviceAccountName": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional service account name. If this field is set and \"service_account_name\" is set in update_mask, transfer config will be updated to use this service account credentials. It requires that requesting user calling this API has permissions to act as this service account."
                },
                "authorizationCode": {
                  "type": "string",
                  "description": "Optional OAuth2 authorization code to use with this transfer configuration. If it is provided, the transfer configuration will be associated with the authorizing user. In order to obtain authorization_code, please make a request to https://www.gstatic.com/bigquerydatatransfer/oauthz/auth?client_id=&scope=&redirect_uri= * client_id should be OAuth client_id of BigQuery DTS API for the given data source returned by ListDataSources method. * data_source_scopes are the scopes returned by ListDataSources method. * redirect_uri is an optional parameter. If not specified, then authorization code is posted to the opener of authorization flow window. Otherwise it will be sent to the redirect uri. A special value of urn:ietf:wg:oauth:2.0:oob means that authorization code should be returned in the title bar of the browser, with the page text prompting the user to copy the code and paste it in the application.",
                  "location": "query"
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "Required. Required list of fields to be updated in this request."
                },
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/transferConfigs/[^/]+$",
                  "description": "The resource name of the transfer config. Transfer config names have the form `projects/{project_id}/locations/{region}/transferConfigs/{config_id}`. Where `config_id` is usually a uuid, even though it is not guaranteed or required. The name is ignored when creating a transfer config.",
                  "type": "string",
                  "location": "path"
                },
                "versionInfo": {
                  "description": "Optional version info. If users want to find a very recent access token, that is, immediately after approving access, users have to set the version_info claim in the token request. To obtain the version_info, users must use the \"none+gsession\" response type. which be return a version_info back in the authorization response which be be put in a JWT claim in the token request.",
                  "type": "string",
                  "location": "query"
                }
              },
              "path": "v1/{+name}",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "TransferConfig"
              },
              "flatPath": "v1/projects/{projectsId}/transferConfigs/{transferConfigsId}",
              "request": {
                "$ref": "TransferConfig"
              },
              "description": "Updates a data transfer configuration. All fields must be set, even if they are not updated.",
              "id": "bigquerydatatransfer.projects.transferConfigs.patch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "TransferConfig"
              },
              "id": "bigquerydatatransfer.projects.transferConfigs.create",
              "parameters": {
                "authorizationCode": {
                  "description": "Optional OAuth2 authorization code to use with this transfer configuration. This is required if new credentials are needed, as indicated by `CheckValidCreds`. In order to obtain authorization_code, please make a request to https://www.gstatic.com/bigquerydatatransfer/oauthz/auth?client_id=&scope=&redirect_uri= * client_id should be OAuth client_id of BigQuery DTS API for the given data source returned by ListDataSources method. * data_source_scopes are the scopes returned by ListDataSources method. * redirect_uri is an optional parameter. If not specified, then authorization code is posted to the opener of authorization flow window. Otherwise it will be sent to the redirect uri. A special value of urn:ietf:wg:oauth:2.0:oob means that authorization code should be returned in the title bar of the browser, with the page text prompting the user to copy the code and paste it in the application.",
                  "type": "string",
                  "location": "query"
                },
                "serviceAccountName": {
                  "description": "Optional service account name. If this field is set, transfer config will be created with this service account credentials. It requires that requesting user calling this API has permissions to act as this service account.",
                  "location": "query",
                  "type": "string"
                },
                "versionInfo": {
                  "type": "string",
                  "description": "Optional version info. If users want to find a very recent access token, that is, immediately after approving access, users have to set the version_info claim in the token request. To obtain the version_info, users must use the \"none+gsession\" response type. which be return a version_info back in the authorization response which be be put in a JWT claim in the token request.",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The BigQuery project id where the transfer configuration should be created. Must be in the format projects/{project_id}/locations/{location_id} or projects/{project_id}. If specified location and location of the destination bigquery dataset do not match - the request will fail.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                }
              },
              "path": "v1/{+parent}/transferConfigs",
              "httpMethod": "POST",
              "description": "Creates a new data transfer configuration.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "TransferConfig"
              },
              "flatPath": "v1/projects/{projectsId}/transferConfigs"
            }
          }
        },
        "locations": {
          "methods": {
            "list": {
              "description": "Lists information about the supported locations for this service.",
              "path": "v1/{+name}/locations",
              "flatPath": "v1/projects/{projectsId}/locations",
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service will select a default.",
                  "format": "int32"
                },
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "type": "string",
                  "required": true
                },
                "filter": {
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like \"displayName=tokyo\", and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "bigquerydatatransfer.projects.locations.list",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/bigquery.readonly",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ]
            },
            "get": {
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "id": "bigquerydatatransfer.projects.locations.get",
              "response": {
                "$ref": "Location"
              },
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/bigquery.readonly",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Resource name for the location."
                }
              },
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets information about a location."
            }
          },
          "resources": {
            "transferConfigs": {
              "resources": {
                "runs": {
                  "resources": {
                    "transferLogs": {
                      "methods": {
                        "list": {
                          "id": "bigquerydatatransfer.projects.locations.transferConfigs.runs.transferLogs.list",
                          "scopes": [
                            "https://www.googleapis.com/auth/bigquery",
                            "https://www.googleapis.com/auth/bigquery.readonly",
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/cloud-platform.read-only"
                          ],
                          "httpMethod": "GET",
                          "parameters": {
                            "parent": {
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/transferConfigs/[^/]+/runs/[^/]+$",
                              "type": "string",
                              "required": true,
                              "description": "Required. Transfer run name in the form: `projects/{project_id}/transferConfigs/{config_id}/runs/{run_id}` or `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}/runs/{run_id}`"
                            },
                            "messageTypes": {
                              "description": "Message types to return. If not populated - INFO, WARNING and ERROR messages are returned.",
                              "enum": [
                                "MESSAGE_SEVERITY_UNSPECIFIED",
                                "INFO",
                                "WARNING",
                                "ERROR"
                              ],
                              "location": "query",
                              "repeated": true,
                              "enumDescriptions": [
                                "No severity specified.",
                                "Informational message.",
                                "Warning message.",
                                "Error message."
                              ],
                              "type": "string"
                            },
                            "pageToken": {
                              "type": "string",
                              "description": "Pagination token, which can be used to request a specific page of `ListTransferLogsRequest` list results. For multiple-page results, `ListTransferLogsResponse` outputs a `next_page` token, which can be used as the `page_token` value to request the next page of list results.",
                              "location": "query"
                            },
                            "pageSize": {
                              "format": "int32",
                              "type": "integer",
                              "description": "Page size. The default page size is the maximum value of 1000 results.",
                              "location": "query"
                            }
                          },
                          "path": "v1/{+parent}/transferLogs",
                          "description": "Returns user facing log messages for the data transfer run.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs/{transferConfigsId}/runs/{runsId}/transferLogs",
                          "response": {
                            "$ref": "ListTransferLogsResponse"
                          },
                          "parameterOrder": [
                            "parent"
                          ]
                        }
                      }
                    }
                  },
                  "methods": {
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/bigquery.readonly",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "id": "bigquerydatatransfer.projects.locations.transferConfigs.runs.get",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs/{transferConfigsId}/runs/{runsId}",
                      "response": {
                        "$ref": "TransferRun"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/transferConfigs/[^/]+/runs/[^/]+$",
                          "location": "path",
                          "description": "Required. The field will contain name of the resource requested, for example: `projects/{project_id}/transferConfigs/{config_id}/runs/{run_id}` or `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}/runs/{run_id}`"
                        }
                      },
                      "description": "Returns information about the particular transfer run.",
                      "httpMethod": "GET"
                    },
                    "list": {
                      "parameters": {
                        "states": {
                          "description": "When specified, only transfer runs with requested states are returned.",
                          "location": "query",
                          "enum": [
                            "TRANSFER_STATE_UNSPECIFIED",
                            "PENDING",
                            "RUNNING",
                            "SUCCEEDED",
                            "FAILED",
                            "CANCELLED"
                          ],
                          "repeated": true,
                          "enumDescriptions": [
                            "State placeholder (0).",
                            "Data transfer is scheduled and is waiting to be picked up by data transfer backend (2).",
                            "Data transfer is in progress (3).",
                            "Data transfer completed successfully (4).",
                            "Data transfer failed (5).",
                            "Data transfer is cancelled (6)."
                          ],
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Page size. The default page size is the maximum value of 1000 results.",
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Pagination token, which can be used to request a specific page of `ListTransferRunsRequest` list results. For multiple-page results, `ListTransferRunsResponse` outputs a `next_page` token, which can be used as the `page_token` value to request the next page of list results.",
                          "location": "query"
                        },
                        "runAttempt": {
                          "description": "Indicates how run attempts are to be pulled.",
                          "location": "query",
                          "enum": [
                            "RUN_ATTEMPT_UNSPECIFIED",
                            "LATEST"
                          ],
                          "enumDescriptions": [
                            "All runs should be returned.",
                            "Only latest run per day should be returned."
                          ],
                          "type": "string"
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/transferConfigs/[^/]+$",
                          "description": "Required. Name of transfer configuration for which transfer runs should be retrieved. Format of transfer configuration resource name is: `projects/{project_id}/transferConfigs/{config_id}` or `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}`.",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs/{transferConfigsId}/runs",
                      "httpMethod": "GET",
                      "id": "bigquerydatatransfer.projects.locations.transferConfigs.runs.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListTransferRunsResponse"
                      },
                      "description": "Returns information about running and completed jobs.",
                      "path": "v1/{+parent}/runs",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/bigquery.readonly",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ]
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "description": "Deletes the specified transfer run.",
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "description": "Required. The field will contain name of the resource requested, for example: `projects/{project_id}/transferConfigs/{config_id}/runs/{run_id}` or `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}/runs/{run_id}`",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/transferConfigs/[^/]+/runs/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "id": "bigquerydatatransfer.projects.locations.transferConfigs.runs.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs/{transferConfigsId}/runs/{runsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Empty"
                      }
                    }
                  }
                }
              },
              "methods": {
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs/{transferConfigsId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/transferConfigs/[^/]+$",
                      "location": "path",
                      "description": "Required. The field will contain name of the resource requested, for example: `projects/{project_id}/transferConfigs/{config_id}` or `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}`",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/{+name}",
                  "id": "bigquerydatatransfer.projects.locations.transferConfigs.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a data transfer configuration, including any associated transfer runs and logs."
                },
                "startManualRuns": {
                  "request": {
                    "$ref": "StartManualTransferRunsRequest"
                  },
                  "path": "v1/{+parent}:startManualRuns",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/transferConfigs/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Transfer configuration name in the form: `projects/{project_id}/transferConfigs/{config_id}` or `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}`.",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "description": "Start manual transfer runs to be executed now with schedule_time equal to current time. The transfer runs can be created for a time range where the run_time is between start_time (inclusive) and end_time (exclusive), or for a specific run_time.",
                  "response": {
                    "$ref": "StartManualTransferRunsResponse"
                  },
                  "id": "bigquerydatatransfer.projects.locations.transferConfigs.startManualRuns",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs/{transferConfigsId}:startManualRuns"
                },
                "patch": {
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "TransferConfig"
                  },
                  "parameters": {
                    "authorizationCode": {
                      "description": "Optional OAuth2 authorization code to use with this transfer configuration. If it is provided, the transfer configuration will be associated with the authorizing user. In order to obtain authorization_code, please make a request to https://www.gstatic.com/bigquerydatatransfer/oauthz/auth?client_id=&scope=&redirect_uri= * client_id should be OAuth client_id of BigQuery DTS API for the given data source returned by ListDataSources method. * data_source_scopes are the scopes returned by ListDataSources method. * redirect_uri is an optional parameter. If not specified, then authorization code is posted to the opener of authorization flow window. Otherwise it will be sent to the redirect uri. A special value of urn:ietf:wg:oauth:2.0:oob means that authorization code should be returned in the title bar of the browser, with the page text prompting the user to copy the code and paste it in the application.",
                      "type": "string",
                      "location": "query"
                    },
                    "serviceAccountName": {
                      "description": "Optional service account name. If this field is set and \"service_account_name\" is set in update_mask, transfer config will be updated to use this service account credentials. It requires that requesting user calling this API has permissions to act as this service account.",
                      "location": "query",
                      "type": "string"
                    },
                    "versionInfo": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional version info. If users want to find a very recent access token, that is, immediately after approving access, users have to set the version_info claim in the token request. To obtain the version_info, users must use the \"none+gsession\" response type. which be return a version_info back in the authorization response which be be put in a JWT claim in the token request."
                    },
                    "updateMask": {
                      "description": "Required. Required list of fields to be updated in this request.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/transferConfigs/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "The resource name of the transfer config. Transfer config names have the form `projects/{project_id}/locations/{region}/transferConfigs/{config_id}`. Where `config_id` is usually a uuid, even though it is not guaranteed or required. The name is ignored when creating a transfer config."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs/{transferConfigsId}",
                  "httpMethod": "PATCH",
                  "id": "bigquerydatatransfer.projects.locations.transferConfigs.patch",
                  "description": "Updates a data transfer configuration. All fields must be set, even if they are not updated.",
                  "request": {
                    "$ref": "TransferConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "response": {
                    "$ref": "TransferConfig"
                  },
                  "description": "Creates a new data transfer configuration.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "bigquerydatatransfer.projects.locations.transferConfigs.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The BigQuery project id where the transfer configuration should be created. Must be in the format projects/{project_id}/locations/{location_id} or projects/{project_id}. If specified location and location of the destination bigquery dataset do not match - the request will fail."
                    },
                    "authorizationCode": {
                      "type": "string",
                      "description": "Optional OAuth2 authorization code to use with this transfer configuration. This is required if new credentials are needed, as indicated by `CheckValidCreds`. In order to obtain authorization_code, please make a request to https://www.gstatic.com/bigquerydatatransfer/oauthz/auth?client_id=&scope=&redirect_uri= * client_id should be OAuth client_id of BigQuery DTS API for the given data source returned by ListDataSources method. * data_source_scopes are the scopes returned by ListDataSources method. * redirect_uri is an optional parameter. If not specified, then authorization code is posted to the opener of authorization flow window. Otherwise it will be sent to the redirect uri. A special value of urn:ietf:wg:oauth:2.0:oob means that authorization code should be returned in the title bar of the browser, with the page text prompting the user to copy the code and paste it in the application.",
                      "location": "query"
                    },
                    "serviceAccountName": {
                      "location": "query",
                      "description": "Optional service account name. If this field is set, transfer config will be created with this service account credentials. It requires that requesting user calling this API has permissions to act as this service account.",
                      "type": "string"
                    },
                    "versionInfo": {
                      "description": "Optional version info. If users want to find a very recent access token, that is, immediately after approving access, users have to set the version_info claim in the token request. To obtain the version_info, users must use the \"none+gsession\" response type. which be return a version_info back in the authorization response which be be put in a JWT claim in the token request.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs",
                  "request": {
                    "$ref": "TransferConfig"
                  },
                  "path": "v1/{+parent}/transferConfigs",
                  "httpMethod": "POST"
                },
                "scheduleRuns": {
                  "path": "v1/{+parent}:scheduleRuns",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ScheduleTransferRunsResponse"
                  },
                  "id": "bigquerydatatransfer.projects.locations.transferConfigs.scheduleRuns",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs/{transferConfigsId}:scheduleRuns",
                  "request": {
                    "$ref": "ScheduleTransferRunsRequest"
                  },
                  "description": "Creates transfer runs for a time range [start_time, end_time]. For each date - or whatever granularity the data source supports - in the range, one transfer run is created. Note that runs are created per UTC time in the time range. DEPRECATED: use StartManualTransferRuns instead.",
                  "parameters": {
                    "parent": {
                      "description": "Required. Transfer configuration name in the form: `projects/{project_id}/transferConfigs/{config_id}` or `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}`.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/transferConfigs/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Returns information about all data transfers in the project.",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The BigQuery project id for which data sources should be returned: `projects/{project_id}` or `projects/{project_id}/locations/{location_id}`"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Pagination token, which can be used to request a specific page of `ListTransfersRequest` list results. For multiple-page results, `ListTransfersResponse` outputs a `next_page` token, which can be used as the `page_token` value to request the next page of list results."
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Page size. The default page size is the maximum value of 1000 results.",
                      "location": "query",
                      "type": "integer"
                    },
                    "dataSourceIds": {
                      "location": "query",
                      "repeated": true,
                      "description": "When specified, only configurations of requested data sources are returned.",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "id": "bigquerydatatransfer.projects.locations.transferConfigs.list",
                  "response": {
                    "$ref": "ListTransferConfigsResponse"
                  },
                  "path": "v1/{+parent}/transferConfigs",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/bigquery.readonly",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/transferConfigs/{transferConfigsId}",
                  "id": "bigquerydatatransfer.projects.locations.transferConfigs.get",
                  "response": {
                    "$ref": "TransferConfig"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/bigquery.readonly",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "path": "v1/{+name}",
                  "description": "Returns information about a data transfer config.",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The field will contain name of the resource requested, for example: `projects/{project_id}/transferConfigs/{config_id}` or `projects/{project_id}/locations/{location_id}/transferConfigs/{config_id}`",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/transferConfigs/[^/]+$"
                    }
                  }
                }
              }
            },
            "dataSources": {
              "methods": {
                "checkValidCreds": {
                  "description": "Returns true if valid credentials exist for the given data source and requesting user. Some data sources doesn't support service account, so we need to talk to them on behalf of the end user. This API just checks whether we have OAuth token for the particular user, which is a pre-requisite before user can create a transfer config.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataSources/[^/]+$",
                      "description": "Required. The data source in the form: `projects/{project_id}/dataSources/{data_source_id}` or `projects/{project_id}/locations/{location_id}/dataSources/{data_source_id}`."
                    }
                  },
                  "response": {
                    "$ref": "CheckValidCredsResponse"
                  },
                  "id": "bigquerydatatransfer.projects.locations.dataSources.checkValidCreds",
                  "request": {
                    "$ref": "CheckValidCredsRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataSources/{dataSourcesId}:checkValidCreds",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/bigquery.readonly",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "path": "v1/{+name}:checkValidCreds"
                },
                "get": {
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataSources/{dataSourcesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/bigquery.readonly",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "bigquerydatatransfer.projects.locations.dataSources.get",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "DataSource"
                  },
                  "description": "Retrieves a supported data source and returns its settings, which can be used for UI rendering.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataSources/[^/]+$",
                      "location": "path",
                      "description": "Required. The field will contain name of the resource requested, for example: `projects/{project_id}/dataSources/{data_source_id}` or `projects/{project_id}/locations/{location_id}/dataSources/{data_source_id}`"
                    }
                  }
                },
                "list": {
                  "description": "Lists supported data sources and returns their settings, which can be used for UI rendering.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/dataSources",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/bigquery.readonly",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataSources",
                  "response": {
                    "$ref": "ListDataSourcesResponse"
                  },
                  "id": "bigquerydatatransfer.projects.locations.dataSources.list",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Pagination token, which can be used to request a specific page of `ListDataSourcesRequest` list results. For multiple-page results, `ListDataSourcesResponse` outputs a `next_page` token, which can be used as the `page_token` value to request the next page of list results."
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The BigQuery project id for which data sources should be returned. Must be in the form: `projects/{project_id}` or `projects/{project_id}/locations/{location_id}"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Page size. The default page size is the maximum value of 1000 results."
                    }
                  }
                }
              }
            }
          }
        },
        "dataSources": {
          "methods": {
            "checkValidCreds": {
              "response": {
                "$ref": "CheckValidCredsResponse"
              },
              "parameters": {
                "name": {
                  "description": "Required. The data source in the form: `projects/{project_id}/dataSources/{data_source_id}` or `projects/{project_id}/locations/{location_id}/dataSources/{data_source_id}`.",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/dataSources/[^/]+$"
                }
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "CheckValidCredsRequest"
              },
              "id": "bigquerydatatransfer.projects.dataSources.checkValidCreds",
              "description": "Returns true if valid credentials exist for the given data source and requesting user. Some data sources doesn't support service account, so we need to talk to them on behalf of the end user. This API just checks whether we have OAuth token for the particular user, which is a pre-requisite before user can create a transfer config.",
              "flatPath": "v1/projects/{projectsId}/dataSources/{dataSourcesId}:checkValidCreds",
              "path": "v1/{+name}:checkValidCreds",
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/bigquery.readonly",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ]
            },
            "list": {
              "description": "Lists supported data sources and returns their settings, which can be used for UI rendering.",
              "response": {
                "$ref": "ListDataSourcesResponse"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The BigQuery project id for which data sources should be returned. Must be in the form: `projects/{project_id}` or `projects/{project_id}/locations/{location_id}",
                  "pattern": "^projects/[^/]+$"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Pagination token, which can be used to request a specific page of `ListDataSourcesRequest` list results. For multiple-page results, `ListDataSourcesResponse` outputs a `next_page` token, which can be used as the `page_token` value to request the next page of list results."
                },
                "pageSize": {
                  "description": "Page size. The default page size is the maximum value of 1000 results.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                }
              },
              "path": "v1/{+parent}/dataSources",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/projects/{projectsId}/dataSources",
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/bigquery.readonly",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "id": "bigquerydatatransfer.projects.dataSources.list"
            },
            "get": {
              "description": "Retrieves a supported data source and returns its settings, which can be used for UI rendering.",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/dataSources/[^/]+$",
                  "required": true,
                  "description": "Required. The field will contain name of the resource requested, for example: `projects/{project_id}/dataSources/{data_source_id}` or `projects/{project_id}/locations/{location_id}/dataSources/{data_source_id}`",
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/dataSources/{dataSourcesId}",
              "httpMethod": "GET",
              "response": {
                "$ref": "DataSource"
              },
              "id": "bigquerydatatransfer.projects.dataSources.get",
              "scopes": [
                "https://www.googleapis.com/auth/bigquery",
                "https://www.googleapis.com/auth/bigquery.readonly",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ]
            }
          }
        }
      }
    }
  },
  "schemas": {
    "Empty": {
      "id": "Empty",
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`."
    },
    "Status": {
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array"
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object"
    },
    "TransferRun": {
      "description": "Represents a data transfer run.",
      "id": "TransferRun",
      "type": "object",
      "properties": {
        "errorStatus": {
          "description": "Status of the transfer run.",
          "$ref": "Status"
        },
        "schedule": {
          "readOnly": true,
          "description": "Output only. Describes the schedule of this transfer run if it was created as part of a regular schedule. For batch transfer runs that are scheduled manually, this is empty. NOTE: the system might choose to delay the schedule depending on the current load, so `schedule_time` doesn't always match this.",
          "type": "string"
        },
        "dataSourceId": {
          "description": "Output only. Data source id.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "TRANSFER_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ],
          "description": "Data transfer run state. Ignored for input requests.",
          "enumDescriptions": [
            "State placeholder (0).",
            "Data transfer is scheduled and is waiting to be picked up by data transfer backend (2).",
            "Data transfer is in progress (3).",
            "Data transfer completed successfully (4).",
            "Data transfer failed (5).",
            "Data transfer is cancelled (6)."
          ]
        },
        "name": {
          "type": "string",
          "description": "The resource name of the transfer run. Transfer run names have the form `projects/{project_id}/locations/{location}/transferConfigs/{config_id}/runs/{run_id}`. The name is ignored when creating a transfer run."
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when transfer run was started. Parameter ignored by server for input requests.",
          "readOnly": true
        },
        "destinationDatasetId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The BigQuery target dataset id."
        },
        "runTime": {
          "type": "string",
          "description": "For batch transfer runs, specifies the date and time of the data should be ingested.",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time when transfer run ended. Parameter ignored by server for input requests.",
          "format": "google-datetime"
        },
        "scheduleTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Minimum time after which a transfer run can be started."
        },
        "updateTime": {
          "description": "Output only. Last time the data transfer run state was updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "emailPreferences": {
          "$ref": "EmailPreferences",
          "readOnly": true,
          "description": "Output only. Email notifications will be sent according to these preferences to the email address of the user who owns the transfer config this run was derived from."
        },
        "notificationPubsubTopic": {
          "description": "Output only. Pub/Sub topic where a notification will be sent after this transfer run finishes",
          "type": "string",
          "readOnly": true
        },
        "userId": {
          "description": "Deprecated. Unique ID of the user on whose behalf transfer is done.",
          "format": "int64",
          "type": "string"
        },
        "params": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Output only. Parameters specific to each data source. For more information see the bq tab in the 'Setting up a data transfer' section for each data source. For example the parameters for Cloud Storage transfers are listed here: https://cloud.google.com/bigquery-transfer/docs/cloud-storage-transfer#bq"
        }
      }
    },
    "TimeRange": {
      "type": "object",
      "id": "TimeRange",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Start time of the range of transfer runs. For example, `\"2017-05-25T00:00:00+00:00\"`. The start_time must be strictly less than the end_time. Creates transfer runs where run_time is in the range between start_time (inclusive) and end_time (exclusive)."
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "End time of the range of transfer runs. For example, `\"2017-05-30T00:00:00+00:00\"`. The end_time must not be in the future. Creates transfer runs where run_time is in the range between start_time (inclusive) and end_time (exclusive)."
        }
      },
      "description": "A specification for a time range, this will request transfer runs with run_time between start_time (inclusive) and end_time (exclusive)."
    },
    "TransferMessage": {
      "properties": {
        "messageTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time when message was logged."
        },
        "severity": {
          "enumDescriptions": [
            "No severity specified.",
            "Informational message.",
            "Warning message.",
            "Error message."
          ],
          "enum": [
            "MESSAGE_SEVERITY_UNSPECIFIED",
            "INFO",
            "WARNING",
            "ERROR"
          ],
          "description": "Message severity.",
          "type": "string"
        },
        "messageText": {
          "description": "Message text.",
          "type": "string"
        }
      },
      "description": "Represents a user facing message for a particular data transfer run.",
      "type": "object",
      "id": "TransferMessage"
    },
    "DataSourceParameter": {
      "properties": {
        "repeated": {
          "description": "Deprecated. This field has no effect.",
          "type": "boolean"
        },
        "fields": {
          "type": "array",
          "description": "Deprecated. This field has no effect.",
          "items": {
            "$ref": "DataSourceParameter"
          }
        },
        "minValue": {
          "type": "number",
          "format": "double",
          "description": "For integer and double values specifies minimum allowed value."
        },
        "recurse": {
          "type": "boolean",
          "description": "Deprecated. This field has no effect."
        },
        "validationDescription": {
          "description": "Description of the requirements for this field, in case the user input does not fulfill the regex pattern or min/max values.",
          "type": "string"
        },
        "validationRegex": {
          "type": "string",
          "description": "Regular expression which can be used for parameter validation."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Type unspecified.",
            "String parameter.",
            "Integer parameter (64-bits). Will be serialized to json as string.",
            "Double precision floating point parameter.",
            "Boolean parameter.",
            "Deprecated. This field has no effect.",
            "Page ID for a Google+ Page."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "STRING",
            "INTEGER",
            "DOUBLE",
            "BOOLEAN",
            "RECORD",
            "PLUS_PAGE"
          ],
          "description": "Parameter type."
        },
        "validationHelpUrl": {
          "description": "URL to a help document to further explain the naming requirements.",
          "type": "string"
        },
        "allowedValues": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "All possible values for the parameter."
        },
        "maxValue": {
          "type": "number",
          "format": "double",
          "description": "For integer and double values specifies maxminum allowed value."
        },
        "deprecated": {
          "type": "boolean",
          "description": "If true, it should not be used in new transfers, and it should not be visible to users."
        },
        "displayName": {
          "description": "Parameter display name in the user interface.",
          "type": "string"
        },
        "required": {
          "description": "Is parameter required.",
          "type": "boolean"
        },
        "paramId": {
          "description": "Parameter identifier.",
          "type": "string"
        },
        "description": {
          "description": "Parameter description.",
          "type": "string"
        },
        "immutable": {
          "type": "boolean",
          "description": "Cannot be changed after initial creation."
        }
      },
      "type": "object",
      "description": "Represents a data source parameter with validation rules, so that parameters can be rendered in the UI. These parameters are given to us by supported data sources, and include all needed information for rendering and validation. Thus, whoever uses this api can decide to generate either generic ui, or custom data source specific forms.",
      "id": "DataSourceParameter"
    },
    "TransferConfig": {
      "type": "object",
      "description": "Represents a data transfer configuration. A transfer configuration contains all metadata needed to perform a data transfer. For example, `destination_dataset_id` specifies where data should be stored. When a new transfer configuration is created, the specified `destination_dataset_id` is created when needed and shared with the appropriate data source service account.",
      "properties": {
        "params": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Parameters specific to each data source. For more information see the bq tab in the 'Setting up a data transfer' section for each data source. For example the parameters for Cloud Storage transfers are listed here: https://cloud.google.com/bigquery-transfer/docs/cloud-storage-transfer#bq",
          "type": "object"
        },
        "emailPreferences": {
          "description": "Email notifications will be sent according to these preferences to the email address of the user who owns this transfer config.",
          "$ref": "EmailPreferences"
        },
        "datasetRegion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Region in which BigQuery dataset is located."
        },
        "displayName": {
          "description": "User specified display name for the data transfer.",
          "type": "string"
        },
        "dataRefreshWindowDays": {
          "type": "integer",
          "description": "The number of days to look back to automatically refresh the data. For example, if `data_refresh_window_days = 10`, then every day BigQuery reingests data for [today-10, today-1], rather than ingesting data for just [today-1]. Only valid if the data source supports the feature. Set the value to 0 to use the default value.",
          "format": "int32"
        },
        "userId": {
          "type": "string",
          "format": "int64",
          "description": "Deprecated. Unique ID of the user on whose behalf transfer is done."
        },
        "updateTime": {
          "description": "Output only. Data transfer modification time. Ignored by server on input.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "destinationDatasetId": {
          "type": "string",
          "description": "The BigQuery target dataset id."
        },
        "disabled": {
          "description": "Is this config disabled. When set to true, no runs are scheduled for a given transfer.",
          "type": "boolean"
        },
        "scheduleOptions": {
          "description": "Options customizing the data transfer schedule.",
          "$ref": "ScheduleOptions"
        },
        "state": {
          "enum": [
            "TRANSFER_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED"
          ],
          "description": "Output only. State of the most recently updated transfer run.",
          "enumDescriptions": [
            "State placeholder (0).",
            "Data transfer is scheduled and is waiting to be picked up by data transfer backend (2).",
            "Data transfer is in progress (3).",
            "Data transfer completed successfully (4).",
            "Data transfer failed (5).",
            "Data transfer is cancelled (6)."
          ],
          "type": "string",
          "readOnly": true
        },
        "schedule": {
          "type": "string",
          "description": "Data transfer schedule. If the data source does not support a custom schedule, this should be empty. If it is empty, the default value for the data source will be used. The specified times are in UTC. Examples of valid format: `1st,3rd monday of month 15:30`, `every wed,fri of jan,jun 13:15`, and `first sunday of quarter 00:00`. See more explanation about the format here: https://cloud.google.com/appengine/docs/flexible/python/scheduling-jobs-with-cron-yaml#the_schedule_format NOTE: the granularity should be at least 8 hours, or less frequent."
        },
        "nextRunTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Next time when data transfer will run.",
          "readOnly": true
        },
        "notificationPubsubTopic": {
          "description": "Pub/Sub topic where notifications will be sent after transfer runs associated with this transfer config finish.",
          "type": "string"
        },
        "dataSourceId": {
          "type": "string",
          "description": "Data source id. Cannot be changed once data transfer is created."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the transfer config. Transfer config names have the form `projects/{project_id}/locations/{region}/transferConfigs/{config_id}`. Where `config_id` is usually a uuid, even though it is not guaranteed or required. The name is ignored when creating a transfer config."
        }
      },
      "id": "TransferConfig"
    },
    "StartManualTransferRunsResponse": {
      "properties": {
        "runs": {
          "items": {
            "$ref": "TransferRun"
          },
          "type": "array",
          "description": "The transfer runs that were created."
        }
      },
      "id": "StartManualTransferRunsResponse",
      "description": "A response to start manual transfer runs.",
      "type": "object"
    },
    "DataSource": {
      "properties": {
        "scopes": {
          "items": {
            "type": "string"
          },
          "description": "Api auth scopes for which refresh token needs to be obtained. These are scopes needed by a data source to prepare data and ingest them into BigQuery, e.g., https://www.googleapis.com/auth/bigquery",
          "type": "array"
        },
        "helpUrl": {
          "description": "Url for the help document for this data source.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "User friendly data source description string."
        },
        "parameters": {
          "description": "Data source parameters.",
          "type": "array",
          "items": {
            "$ref": "DataSourceParameter"
          }
        },
        "manualRunsDisabled": {
          "description": "Disables backfilling and manual run scheduling for the data source.",
          "type": "boolean"
        },
        "updateDeadlineSeconds": {
          "description": "The number of seconds to wait for an update from the data source before the Data Transfer Service marks the transfer as FAILED.",
          "format": "int32",
          "type": "integer"
        },
        "minimumScheduleInterval": {
          "format": "google-duration",
          "description": "The minimum interval for scheduler to schedule runs.",
          "type": "string"
        },
        "defaultDataRefreshWindowDays": {
          "type": "integer",
          "description": "Default data refresh window on days. Only meaningful when `data_refresh_type` = `SLIDING_WINDOW`.",
          "format": "int32"
        },
        "supportsMultipleTransfers": {
          "description": "Deprecated. This field has no effect.",
          "type": "boolean"
        },
        "transferType": {
          "enum": [
            "TRANSFER_TYPE_UNSPECIFIED",
            "BATCH",
            "STREAMING"
          ],
          "type": "string",
          "description": "Deprecated. This field has no effect.",
          "enumDescriptions": [
            "Invalid or Unknown transfer type placeholder.",
            "Batch data transfer.",
            "Streaming data transfer. Streaming data source currently doesn't support multiple transfer configs per project."
          ]
        },
        "clientId": {
          "description": "Data source client id which should be used to receive refresh token.",
          "type": "string"
        },
        "authorizationType": {
          "description": "Indicates the type of authorization.",
          "enum": [
            "AUTHORIZATION_TYPE_UNSPECIFIED",
            "AUTHORIZATION_CODE",
            "GOOGLE_PLUS_AUTHORIZATION_CODE",
            "FIRST_PARTY_OAUTH"
          ],
          "enumDescriptions": [
            "Type unspecified.",
            "Use OAuth 2 authorization codes that can be exchanged for a refresh token on the backend.",
            "Return an authorization code for a given Google+ page that can then be exchanged for a refresh token on the backend.",
            "Use First Party OAuth based on Loas Owned Clients. First Party OAuth doesn't require a refresh token to get an offline access token. Instead, it uses a client-signed JWT assertion to retrieve an access token."
          ],
          "type": "string"
        },
        "dataSourceId": {
          "type": "string",
          "description": "Data source id."
        },
        "displayName": {
          "description": "User friendly data source name.",
          "type": "string"
        },
        "supportsCustomSchedule": {
          "description": "Specifies whether the data source supports a user defined schedule, or operates on the default schedule. When set to `true`, user can override default schedule.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Output only. Data source resource name.",
          "readOnly": true
        },
        "dataRefreshType": {
          "enumDescriptions": [
            "The data source won't support data auto refresh, which is default value.",
            "The data source supports data auto refresh, and runs will be scheduled for the past few days. Does not allow custom values to be set for each transfer config.",
            "The data source supports data auto refresh, and runs will be scheduled for the past few days. Allows custom values to be set for each transfer config."
          ],
          "description": "Specifies whether the data source supports automatic data refresh for the past few days, and how it's supported. For some data sources, data might not be complete until a few days later, so it's useful to refresh data automatically.",
          "enum": [
            "DATA_REFRESH_TYPE_UNSPECIFIED",
            "SLIDING_WINDOW",
            "CUSTOM_SLIDING_WINDOW"
          ],
          "type": "string"
        },
        "defaultSchedule": {
          "description": "Default data transfer schedule. Examples of valid schedules include: `1st,3rd monday of month 15:30`, `every wed,fri of jan,jun 13:15`, and `first sunday of quarter 00:00`.",
          "type": "string"
        }
      },
      "description": "Represents data source metadata. Metadata is sufficient to render UI and request proper OAuth tokens.",
      "id": "DataSource",
      "type": "object"
    },
    "EmailPreferences": {
      "properties": {
        "enableFailureEmail": {
          "description": "If true, email notifications will be sent on transfer run failures.",
          "type": "boolean"
        }
      },
      "description": "Represents preferences for sending email notifications for transfer run events.",
      "id": "EmailPreferences",
      "type": "object"
    },
    "ScheduleOptions": {
      "properties": {
        "disableAutoScheduling": {
          "description": "If true, automatic scheduling of data transfer runs for this configuration will be disabled. The runs can be started on ad-hoc basis using StartManualTransferRuns API. When automatic scheduling is disabled, the TransferConfig.schedule field will be ignored.",
          "type": "boolean"
        },
        "endTime": {
          "type": "string",
          "description": "Defines time to stop scheduling transfer runs. A transfer run cannot be scheduled at or after the end time. The end time can be changed at any moment. The time when a data transfer can be trigerred manually is not limited by this option.",
          "format": "google-datetime"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Specifies time to start scheduling transfer runs. The first run will be scheduled at or after the start time according to a recurrence pattern defined in the schedule string. The start time can be changed at any moment. The time when a data transfer can be trigerred manually is not limited by this option."
        }
      },
      "type": "object",
      "description": "Options customizing the data transfer schedule.",
      "id": "ScheduleOptions"
    },
    "CheckValidCredsRequest": {
      "properties": {},
      "description": "A request to determine whether the user has valid credentials. This method is used to limit the number of OAuth popups in the user interface. The user id is inferred from the API call context. If the data source has the Google+ authorization type, this method returns false, as it cannot be determined whether the credentials are already valid merely based on the user id.",
      "id": "CheckValidCredsRequest",
      "type": "object"
    },
    "ListTransferRunsResponse": {
      "type": "object",
      "description": "The returned list of pipelines in the project.",
      "properties": {
        "transferRuns": {
          "description": "Output only. The stored pipeline transfer runs.",
          "readOnly": true,
          "items": {
            "$ref": "TransferRun"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Output only. The next-pagination token. For multiple-page list results, this token can be used as the `ListTransferRunsRequest.page_token` to request the next page of list results.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "ListTransferRunsResponse"
    },
    "Location": {
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        }
      },
      "description": "A resource that represents Google Cloud Platform location.",
      "id": "Location",
      "type": "object"
    },
    "ListDataSourcesResponse": {
      "description": "Returns list of supported data sources and their metadata.",
      "type": "object",
      "properties": {
        "dataSources": {
          "type": "array",
          "items": {
            "$ref": "DataSource"
          },
          "description": "List of supported data sources and their transfer settings."
        },
        "nextPageToken": {
          "description": "Output only. The next-pagination token. For multiple-page list results, this token can be used as the `ListDataSourcesRequest.page_token` to request the next page of list results.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "ListDataSourcesResponse"
    },
    "CheckValidCredsResponse": {
      "properties": {
        "hasValidCreds": {
          "description": "If set to `true`, the credentials exist and are valid.",
          "type": "boolean"
        }
      },
      "description": "A response indicating whether the credentials exist and are valid.",
      "id": "CheckValidCredsResponse",
      "type": "object"
    },
    "ListTransferConfigsResponse": {
      "description": "The returned list of pipelines in the project.",
      "properties": {
        "nextPageToken": {
          "description": "Output only. The next-pagination token. For multiple-page list results, this token can be used as the `ListTransferConfigsRequest.page_token` to request the next page of list results.",
          "type": "string",
          "readOnly": true
        },
        "transferConfigs": {
          "type": "array",
          "description": "Output only. The stored pipeline transfer configurations.",
[...]
