{
  "servicePath": "",
  "baseUrl": "https://cloudsearch.googleapis.com/",
  "mtlsRootUrl": "https://cloudsearch.mtls.googleapis.com/",
  "protocol": "rest",
  "id": "cloudsearch:v1",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/cloud-search/docs/guides/",
  "description": "Cloud Search provides cloud-based search capabilities over G Suite data. The Cloud Search API allows indexing of non-G Suite data into Cloud Search.",
  "rootUrl": "https://cloudsearch.googleapis.com/",
  "title": "Cloud Search API",
  "resources": {
    "operations": {
      "resources": {
        "lro": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "flatPath": "v1/operations/{operationsId}/lro",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.debug",
                "https://www.googleapis.com/auth/cloud_search.indexing",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing",
                "https://www.googleapis.com/auth/cloud_search.settings.query"
              ],
              "path": "v1/{+name}/lro",
              "id": "cloudsearch.operations.lro.list",
              "response": {
                "$ref": "ListOperationsResponse"
              },
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "The name of the operation's parent resource.",
                  "required": true,
                  "location": "path",
                  "pattern": "^operations/.*$"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "The standard list page size."
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "The standard list filter."
                },
                "pageToken": {
                  "description": "The standard list page token.",
                  "type": "string",
                  "location": "query"
                }
              }
            }
          }
        }
      },
      "methods": {
        "get": {
          "parameters": {
            "name": {
              "pattern": "^operations/.*$",
              "location": "path",
              "type": "string",
              "description": "The name of the operation resource.",
              "required": true
            }
          },
          "httpMethod": "GET",
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.debug",
            "https://www.googleapis.com/auth/cloud_search.indexing",
            "https://www.googleapis.com/auth/cloud_search.settings",
            "https://www.googleapis.com/auth/cloud_search.settings.indexing",
            "https://www.googleapis.com/auth/cloud_search.settings.query"
          ],
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/operations/{operationsId}",
          "id": "cloudsearch.operations.get",
          "path": "v1/{+name}"
        }
      }
    },
    "media": {
      "methods": {
        "upload": {
          "response": {
            "$ref": "Media"
          },
          "request": {
            "$ref": "Media"
          },
          "parameterOrder": [
            "resourceName"
          ],
          "supportsMediaUpload": true,
          "description": "Uploads media for indexing. The upload endpoint supports direct and resumable upload protocols and is intended for large items that can not be [inlined during index requests](https://developers.google.com/cloud-search/docs/reference/rest/v1/indexing.datasources.items#itemcontent). To index large content: 1. Call indexing.datasources.items.upload with the item name to begin an upload session and retrieve the UploadItemRef. 1. Call media.upload to upload the content, as a streaming request, using the same resource name from the UploadItemRef from step 1. 1. Call indexing.datasources.items.index to index the item. Populate the [ItemContent](/cloud-search/docs/reference/rest/v1/indexing.datasources.items#ItemContent) with the UploadItemRef from step 1. For additional information, see [Create a content connector using the REST API](https://developers.google.com/cloud-search/docs/guides/content-connector#rest). **Note:** This API requires a service account to execute.",
          "httpMethod": "POST",
          "flatPath": "v1/media/{mediaId}",
          "parameters": {
            "resourceName": {
              "pattern": "^.*$",
              "required": true,
              "description": "Name of the media that is being downloaded. See ReadRequest.resource_name.",
              "type": "string",
              "location": "path"
            }
          },
          "path": "v1/media/{+resourceName}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.indexing"
          ],
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/v1/media/{+resourceName}"
              }
            }
          },
          "id": "cloudsearch.media.upload"
        }
      }
    },
    "settings": {
      "resources": {
        "searchapplications": {
          "methods": {
            "create": {
              "request": {
                "$ref": "SearchApplication"
              },
              "parameterOrder": [],
              "flatPath": "v1/settings/searchapplications",
              "response": {
                "$ref": "Operation"
              },
              "httpMethod": "POST",
              "id": "cloudsearch.settings.searchapplications.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.query"
              ],
              "description": "Creates a search application. **Note:** This API requires an admin account to execute.",
              "path": "v1/settings/searchapplications",
              "parameters": {}
            },
            "update": {
              "request": {
                "$ref": "SearchApplication"
              },
              "description": "Updates a search application. **Note:** This API requires an admin account to execute.",
              "id": "cloudsearch.settings.searchapplications.update",
              "flatPath": "v1/settings/searchapplications/{searchapplicationsId}",
              "path": "v1/settings/{+name}",
              "parameters": {
                "name": {
                  "description": "Name of the Search Application. Format: searchapplications/{application_id}.",
                  "required": true,
                  "location": "path",
                  "pattern": "^searchapplications/[^/]+$",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Operation"
              },
              "httpMethod": "PUT",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.query"
              ]
            },
            "reset": {
              "request": {
                "$ref": "ResetSearchApplicationRequest"
              },
              "path": "v1/settings/{+name}:reset",
              "description": "Resets a search application to default settings. This will return an empty response. **Note:** This API requires an admin account to execute.",
              "response": {
                "$ref": "Operation"
              },
              "flatPath": "v1/settings/searchapplications/{searchapplicationsId}:reset",
              "id": "cloudsearch.settings.searchapplications.reset",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^searchapplications/[^/]+$",
                  "description": "The name of the search application to be reset. Format: applications/{application_id}.",
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.query"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST"
            },
            "get": {
              "id": "cloudsearch.settings.searchapplications.get",
              "description": "Gets the specified search application. **Note:** This API requires an admin account to execute.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.query"
              ],
              "response": {
                "$ref": "SearchApplication"
              },
              "path": "v1/settings/{+name}",
              "flatPath": "v1/settings/searchapplications/{searchapplicationsId}",
              "parameters": {
                "name": {
                  "pattern": "^searchapplications/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Name of the search application. Format: searchapplications/{application_id}.",
                  "required": true
                },
                "debugOptions.enableDebugging": {
                  "type": "boolean",
                  "location": "query",
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field."
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "delete": {
              "flatPath": "v1/settings/searchapplications/{searchapplicationsId}",
              "id": "cloudsearch.settings.searchapplications.delete",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.query"
              ],
              "description": "Deletes a search application. **Note:** This API requires an admin account to execute.",
              "path": "v1/settings/{+name}",
              "parameters": {
                "debugOptions.enableDebugging": {
                  "type": "boolean",
                  "location": "query",
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field."
                },
                "name": {
                  "location": "path",
                  "pattern": "^searchapplications/[^/]+$",
                  "type": "string",
                  "description": "The name of the search application to be deleted. Format: applications/{application_id}.",
                  "required": true
                }
              }
            },
            "list": {
              "response": {
                "$ref": "ListSearchApplicationsResponse"
              },
              "parameterOrder": [],
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.query"
              ],
              "parameters": {
                "debugOptions.enableDebugging": {
                  "location": "query",
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                  "type": "boolean"
                },
                "pageToken": {
                  "description": "The next_page_token value returned from a previous List request, if any. The default value is 10",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of items to return.",
                  "format": "int32",
                  "location": "query"
                }
              },
              "id": "cloudsearch.settings.searchapplications.list",
              "description": "Lists all search applications. **Note:** This API requires an admin account to execute.",
              "httpMethod": "GET",
              "flatPath": "v1/settings/searchapplications",
              "path": "v1/settings/searchapplications"
            }
          }
        },
        "datasources": {
          "methods": {
            "delete": {
              "flatPath": "v1/settings/datasources/{datasourcesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "parameters": {
                "name": {
                  "pattern": "^datasources/[^/]+$",
                  "description": "Name of the datasource. Format: datasources/{source_id}.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "debugOptions.enableDebugging": {
                  "type": "boolean",
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "Operation"
              },
              "id": "cloudsearch.settings.datasources.delete",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/settings/{+name}",
              "httpMethod": "DELETE",
              "description": "Deletes a datasource. **Note:** This API requires an admin account to execute."
            },
            "update": {
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^datasources/[^/]+$",
                  "description": "Name of the datasource resource. Format: datasources/{source_id}. The name is ignored when creating a datasource.",
                  "required": true
                }
              },
              "description": "Updates a datasource. **Note:** This API requires an admin account to execute.",
              "id": "cloudsearch.settings.datasources.update",
              "flatPath": "v1/settings/datasources/{datasourcesId}",
              "request": {
                "$ref": "UpdateDataSourceRequest"
              },
              "response": {
                "$ref": "Operation"
              },
              "path": "v1/settings/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "httpMethod": "PUT",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "parameters": {
                "debugOptions.enableDebugging": {
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                  "location": "query",
                  "type": "boolean"
                },
                "name": {
                  "description": "Name of the datasource resource. Format: datasources/{source_id}.",
                  "pattern": "^datasources/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v1/settings/datasources/{datasourcesId}",
              "id": "cloudsearch.settings.datasources.get",
              "path": "v1/settings/{+name}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "description": "Gets a datasource. **Note:** This API requires an admin account to execute.",
              "response": {
                "$ref": "DataSource"
              }
            },
            "create": {
              "description": "Creates a datasource. **Note:** This API requires an admin account to execute.",
              "flatPath": "v1/settings/datasources",
              "request": {
                "$ref": "DataSource"
              },
              "parameters": {},
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "path": "v1/settings/datasources",
              "httpMethod": "POST",
              "parameterOrder": [],
              "id": "cloudsearch.settings.datasources.create",
              "response": {
                "$ref": "Operation"
              }
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "path": "v1/settings/datasources",
              "flatPath": "v1/settings/datasources",
              "description": "Lists datasources. **Note:** This API requires an admin account to execute.",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListDataSourceResponse"
              },
              "parameterOrder": [],
              "id": "cloudsearch.settings.datasources.list",
              "parameters": {
                "pageToken": {
                  "description": "Starting index of the results.",
                  "location": "query",
                  "type": "string"
                },
                "debugOptions.enableDebugging": {
                  "type": "boolean",
                  "location": "query",
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field."
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Maximum number of datasources to fetch in a request. The max value is 100. The default value is 10"
                }
              }
            }
          }
        }
      }
    },
    "debug": {
      "resources": {
        "identitysources": {
          "resources": {
            "unmappedids": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.debug"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "debugOptions.enableDebugging": {
                      "location": "query",
                      "type": "boolean",
                      "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field."
                    },
                    "pageToken": {
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "location": "query",
                      "type": "string"
                    },
                    "resolutionStatusCode": {
                      "enum": [
                        "CODE_UNSPECIFIED",
                        "NOT_FOUND",
                        "IDENTITY_SOURCE_NOT_FOUND",
                        "IDENTITY_SOURCE_MISCONFIGURED",
                        "TOO_MANY_MAPPINGS_FOUND",
                        "INTERNAL_ERROR"
                      ],
                      "enumDescriptions": [
                        "Input-only value. Used to list all unmapped identities regardless of status.",
                        "The unmapped identity was not found in IDaaS, and needs to be provided by the user.",
                        "The identity source associated with the identity was either not found or deleted.",
                        "IDaaS does not understand the identity source, probably because the schema was modified in a non compatible way.",
                        "The number of users associated with the external identity is too large.",
                        "Internal error."
                      ],
                      "location": "query",
                      "description": "Limit users selection to this status.",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Maximum number of items to fetch in a request. Defaults to 100.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "The name of the identity source, in the following format: identitysources/{source_id}",
                      "location": "path",
                      "pattern": "^identitysources/[^/]+$"
                    }
                  },
                  "description": "Lists unmapped user identities for an identity source. **Note:** This API requires an admin account to execute.",
                  "httpMethod": "GET",
                  "flatPath": "v1/debug/identitysources/{identitysourcesId}/unmappedids",
                  "path": "v1/debug/{+parent}/unmappedids",
                  "id": "cloudsearch.debug.identitysources.unmappedids.list",
                  "response": {
                    "$ref": "ListUnmappedIdentitiesResponse"
                  }
                }
              }
            },
            "items": {
              "methods": {
                "listForunmappedidentity": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "cloudsearch.debug.identitysources.items.listForunmappedidentity",
                  "parameters": {
                    "debugOptions.enableDebugging": {
                      "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "userResourceName": {
                      "location": "query",
                      "type": "string"
                    },
                    "groupResourceName": {
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Maximum number of items to fetch in a request. Defaults to 100."
                    },
                    "parent": {
                      "type": "string",
                      "description": "The name of the identity source, in the following format: identitysources/{source_id}}",
                      "pattern": "^identitysources/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "type": "string"
                    }
                  },
                  "path": "v1/debug/{+parent}/items:forunmappedidentity",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.debug"
                  ],
                  "flatPath": "v1/debug/identitysources/{identitysourcesId}/items:forunmappedidentity",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListItemNamesForUnmappedIdentityResponse"
                  },
                  "description": "Lists names of items associated with an unmapped identity. **Note:** This API requires an admin account to execute."
                }
              }
            }
          }
        },
        "datasources": {
          "resources": {
            "items": {
              "methods": {
                "checkAccess": {
                  "id": "cloudsearch.debug.datasources.items.checkAccess",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.debug"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Item name, format: datasources/{source_id}/items/{item_id}",
                      "required": true,
                      "pattern": "^datasources/[^/]+/items/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "debugOptions.enableDebugging": {
                      "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/debug/datasources/{datasourcesId}/items/{itemsId}:checkAccess",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "CheckAccessResponse"
                  },
                  "httpMethod": "POST",
                  "path": "v1/debug/{+name}:checkAccess",
                  "description": "Checks whether an item is accessible by specified principal. **Note:** This API requires an admin account to execute.",
                  "request": {
                    "$ref": "Principal"
                  }
                },
                "searchByViewUrl": {
                  "httpMethod": "POST",
                  "description": "Fetches the item whose viewUrl exactly matches that of the URL provided in the request. **Note:** This API requires an admin account to execute.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Source name, format: datasources/{source_id}",
                      "type": "string",
                      "location": "path",
                      "pattern": "^datasources/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.debug"
                  ],
                  "id": "cloudsearch.debug.datasources.items.searchByViewUrl",
                  "path": "v1/debug/{+name}/items:searchByViewUrl",
                  "response": {
                    "$ref": "SearchItemsByViewUrlResponse"
                  },
                  "flatPath": "v1/debug/datasources/{datasourcesId}/items:searchByViewUrl",
                  "request": {
                    "$ref": "SearchItemsByViewUrlRequest"
                  }
                }
              },
              "resources": {
                "unmappedids": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/debug/{+parent}/unmappedids",
                      "id": "cloudsearch.debug.datasources.items.unmappedids.list",
                      "response": {
                        "$ref": "ListUnmappedIdentitiesResponse"
                      },
                      "parameters": {
                        "parent": {
                          "description": "The name of the item, in the following format: datasources/{source_id}/items/{ID}",
                          "location": "path",
                          "pattern": "^datasources/[^/]+/items/[^/]+$",
                          "type": "string",
                          "required": true
                        },
                        "debugOptions.enableDebugging": {
                          "type": "boolean",
                          "location": "query",
                          "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field."
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "The next_page_token value returned from a previous List request, if any."
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "description": "Maximum number of items to fetch in a request. Defaults to 100.",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud_search",
                        "https://www.googleapis.com/auth/cloud_search.debug"
                      ],
                      "flatPath": "v1/debug/datasources/{datasourcesId}/items/{itemsId}/unmappedids",
                      "description": "List all unmapped identities for a specific item. **Note:** This API requires an admin account to execute."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "indexing": {
      "resources": {
        "datasources": {
          "resources": {
            "items": {
              "methods": {
                "deleteQueueItems": {
                  "path": "v1/indexing/{+name}/items:deleteQueueItems",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^datasources/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Name of the Data Source to delete items in a queue. Format: datasources/{source_id}"
                    }
                  },
                  "request": {
                    "$ref": "DeleteQueueItemsRequest"
                  },
                  "description": "Deletes all items in a queue. This method is useful for deleting stale items. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "id": "cloudsearch.indexing.datasources.items.deleteQueueItems",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items:deleteQueueItems"
                },
                "poll": {
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items:poll",
                  "request": {
                    "$ref": "PollItemsRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "description": "Polls for unreserved items from the indexing queue and marks a set as reserved, starting with items that have the oldest timestamp from the highest priority ItemStatus. The priority order is as follows: ERROR MODIFIED NEW_ITEM ACCEPTED Reserving items ensures that polling from other threads cannot create overlapping sets. After handling the reserved items, the client should put items back into the unreserved state, either by calling index, or by calling push with the type REQUEUE. Items automatically become available (unreserved) after 4 hours even if no update or push method is called. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "id": "cloudsearch.indexing.datasources.items.poll",
                  "parameters": {
                    "name": {
                      "pattern": "^datasources/[^/]+$",
                      "location": "path",
                      "description": "Name of the Data Source to poll items. Format: datasources/{source_id}",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/indexing/{+name}/items:poll",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "PollItemsResponse"
                  }
                },
                "list": {
                  "response": {
                    "$ref": "ListItemsResponse"
                  },
                  "description": "Lists all or a subset of Item resources. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "parameters": {
                    "debugOptions.enableDebugging": {
                      "type": "boolean",
                      "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The next_page_token value returned from a previous List request, if any."
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Maximum number of items to fetch in a request. The max value is 1000 when brief is true. The max value is 10 if brief is false. The default value is 10",
                      "type": "integer",
                      "location": "query"
                    },
                    "brief": {
                      "type": "boolean",
                      "description": "When set to true, the indexing system only populates the following fields: name, version, queue. metadata.hash, metadata.title, metadata.sourceRepositoryURL, metadata.objectType, metadata.createTime, metadata.updateTime, metadata.contentLanguage, metadata.mimeType, structured_data.hash, content.hash, itemType, itemStatus.code, itemStatus.processingError.code, itemStatus.repositoryError.type, If this value is false, then all the fields are populated in Item.",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Name of the Data Source to list Items. Format: datasources/{source_id}",
                      "location": "path",
                      "pattern": "^datasources/[^/]+$"
                    },
                    "connectorName": {
                      "type": "string",
                      "location": "query",
                      "description": "Name of connector making this call. Format: datasources/{source_id}/connectors/{ID}"
                    }
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items",
                  "path": "v1/indexing/{+name}/items",
                  "id": "cloudsearch.indexing.datasources.items.list",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "description": "Gets Item resource by item name. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items/{itemsId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^datasources/[^/]+/items/[^/]+$",
                      "required": true,
                      "description": "Name of the item to get info. Format: datasources/{source_id}/items/{item_id}",
                      "location": "path"
                    },
                    "debugOptions.enableDebugging": {
                      "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "connectorName": {
                      "location": "query",
                      "description": "Name of connector making this call. Format: datasources/{source_id}/connectors/{ID}",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Item"
                  },
                  "id": "cloudsearch.indexing.datasources.items.get",
                  "path": "v1/indexing/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "id": "cloudsearch.indexing.datasources.items.delete",
                  "path": "v1/indexing/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items/{itemsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "description": "Deletes Item resource for the specified resource name. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "version": {
                      "description": "Required. The incremented version of the item to delete from the index. The indexing system stores the version from the datasource as a byte string and compares the Item version in the index to the version of the queued Item using lexical ordering. Cloud Search Indexing won't delete any queued item with a version value that is less than or equal to the version of the currently indexed item. The maximum length for this field is 1024 bytes.",
                      "format": "byte",
                      "location": "query",
                      "type": "string"
                    },
                    "debugOptions.enableDebugging": {
                      "type": "boolean",
                      "location": "query",
                      "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field."
                    },
                    "mode": {
                      "type": "string",
                      "location": "query",
                      "enum": [
                        "UNSPECIFIED",
                        "SYNCHRONOUS",
                        "ASYNCHRONOUS"
                      ],
                      "description": "Required. The RequestMode for this request.",
                      "enumDescriptions": [
                        "Priority is not specified in the update request. Leaving priority unspecified results in an update failure.",
                        "For real-time updates.",
                        "For changes that are executed after the response is sent back to the caller."
                      ]
                    },
                    "connectorName": {
                      "type": "string",
                      "location": "query",
                      "description": "Name of connector making this call. Format: datasources/{source_id}/connectors/{ID}"
                    },
                    "name": {
                      "pattern": "^datasources/[^/]+/items/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. Name of the item to delete. Format: datasources/{source_id}/items/{item_id}"
                    }
                  }
                },
                "unreserve": {
                  "httpMethod": "POST",
                  "id": "cloudsearch.indexing.datasources.items.unreserve",
                  "path": "v1/indexing/{+name}/items:unreserve",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "request": {
                    "$ref": "UnreserveItemsRequest"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^datasources/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Name of the Data Source to unreserve all items. Format: datasources/{source_id}",
                      "location": "path"
                    }
                  },
                  "description": "Unreserves all items from a queue, making them all eligible to be polled. This method is useful for resetting the indexing queue after a connector has been restarted. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items:unreserve"
                },
                "upload": {
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items/{itemsId}:upload",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "StartUploadItemRequest"
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "UploadItemRef"
                  },
                  "path": "v1/indexing/{+name}:upload",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Name of the Item to start a resumable upload. Format: datasources/{source_id}/items/{item_id}. The maximum length is 1536 bytes.",
                      "pattern": "^datasources/[^/]+/items/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "cloudsearch.indexing.datasources.items.upload",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "description": "Creates an upload session for uploading item content. For items smaller than 100 KB, it's easier to embed the content inline within an index request. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source."
                },
                "push": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^datasources/[^/]+/items/[^/]+$",
                      "description": "Name of the item to push into the indexing queue. Format: datasources/{source_id}/items/{ID} This is a required field. The maximum length is 1536 characters.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "PushItemRequest"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Item"
                  },
                  "id": "cloudsearch.indexing.datasources.items.push",
                  "description": "Pushes an item onto a queue for later polling and updating. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "path": "v1/indexing/{+name}:push",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items/{itemsId}:push"
                },
                "index": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.indexing"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^datasources/[^/]+/items/[^/]+$",
                      "required": true,
                      "description": "Name of the Item. Format: datasources/{source_id}/items/{item_id} This is a required field. The maximum length is 1536 characters.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates Item ACL, metadata, and content. It will insert the Item if it does not exist. This method does not support partial updates. Fields with no provided values are cleared out in the Cloud Search index. This API requires an admin or service account to execute. The service account used is the one whitelisted in the corresponding data source.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/indexing/{+name}:index",
                  "id": "cloudsearch.indexing.datasources.items.index",
                  "request": {
                    "$ref": "IndexItemRequest"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/indexing/datasources/{datasourcesId}/items/{itemsId}:index"
                }
              }
            }
          },
          "methods": {
            "deleteSchema": {
              "response": {
                "$ref": "Operation"
              },
              "id": "cloudsearch.indexing.datasources.deleteSchema",
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes the schema of a data source. **Note:** This API requires an admin or service account to execute.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "flatPath": "v1/indexing/datasources/{datasourcesId}/schema",
              "path": "v1/indexing/{+name}/schema",
              "httpMethod": "DELETE",
              "parameters": {
                "debugOptions.enableDebugging": {
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                  "location": "query",
                  "type": "boolean"
                },
                "name": {
                  "location": "path",
                  "pattern": "^datasources/[^/]+$",
                  "required": true,
                  "description": "Name of the data source to delete Schema. Format: datasources/{source_id}",
                  "type": "string"
                }
              }
            },
            "getSchema": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Schema"
              },
              "description": "Gets the schema of a data source. **Note:** This API requires an admin or service account to execute.",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^datasources/[^/]+$",
                  "description": "Name of the data source to get Schema. Format: datasources/{source_id}"
                },
                "debugOptions.enableDebugging": {
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "httpMethod": "GET",
              "path": "v1/indexing/{+name}/schema",
              "flatPath": "v1/indexing/datasources/{datasourcesId}/schema",
              "id": "cloudsearch.indexing.datasources.getSchema"
            },
            "updateSchema": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^datasources/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Name of the data source to update Schema. Format: datasources/{source_id}",
                  "type": "string"
                }
              },
              "id": "cloudsearch.indexing.datasources.updateSchema",
              "path": "v1/indexing/{+name}/schema",
              "httpMethod": "PUT",
              "request": {
                "$ref": "UpdateSchemaRequest"
              },
              "response": {
                "$ref": "Operation"
              },
              "description": "Updates the schema of a data source. This method does not perform incremental updates to the schema. Instead, this method updates the schema by overwriting the entire schema. **Note:** This API requires an admin or service account to execute.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.settings",
                "https://www.googleapis.com/auth/cloud_search.settings.indexing"
              ],
              "flatPath": "v1/indexing/datasources/{datasourcesId}/schema"
            }
          }
        }
      }
    },
    "stats": {
      "resources": {
        "session": {
          "resources": {
            "searchapplications": {
              "methods": {
                "get": {
                  "path": "v1/stats/session/{+name}",
                  "httpMethod": "GET",
                  "description": "Get the # of search sessions, % of successful sessions with a click query statistics for search application. **Note:** This API requires a standard end user account to execute.",
                  "flatPath": "v1/stats/session/searchapplications/{searchapplicationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.stats",
                    "https://www.googleapis.com/auth/cloud_search.stats.indexing"
                  ],
                  "response": {
                    "$ref": "GetSearchApplicationSessionStatsResponse"
                  },
                  "parameters": {
                    "fromDate.day": {
                      "location": "query",
                      "type": "integer",
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
                      "format": "int32"
                    },
                    "toDate.year": {
                      "location": "query",
                      "description": "Year of date. Must be from 1 to 9999.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "toDate.day": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
                      "location": "query"
                    },
                    "fromDate.month": {
                      "description": "Month of date. Must be from 1 to 12.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "fromDate.year": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Year of date. Must be from 1 to 9999."
                    },
                    "toDate.month": {
                      "location": "query",
                      "type": "integer",
                      "description": "Month of date. Must be from 1 to 12.",
                      "format": "int32"
                    },
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The resource id of the search application session stats, in the following format: searchapplications/{application_id}",
                      "pattern": "^searchapplications/[^/]+$"
                    }
                  },
                  "id": "cloudsearch.stats.session.searchapplications.get",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          }
        },
        "user": {
          "resources": {
            "searchapplications": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "GetSearchApplicationUserStatsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.stats",
                    "https://www.googleapis.com/auth/cloud_search.stats.indexing"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^searchapplications/[^/]+$",
                      "description": "The resource id of the search application session stats, in the following format: searchapplications/{application_id}",
                      "required": true,
                      "location": "path"
                    },
                    "toDate.year": {
                      "description": "Year of date. Must be from 1 to 9999.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "toDate.month": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Month of date. Must be from 1 to 12."
                    },
                    "toDate.day": {
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "fromDate.day": {
                      "type": "integer",
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
                      "format": "int32",
                      "location": "query"
                    },
                    "fromDate.year": {
                      "location": "query",
                      "format": "int32",
                      "description": "Year of date. Must be from 1 to 9999.",
                      "type": "integer"
                    },
                    "fromDate.month": {
                      "description": "Month of date. Must be from 1 to 12.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudsearch.stats.user.searchapplications.get",
                  "httpMethod": "GET",
                  "path": "v1/stats/user/{+name}",
                  "description": "Get the users statistics for search application. **Note:** This API requires a standard end user account to execute.",
                  "flatPath": "v1/stats/user/searchapplications/{searchapplicationsId}"
                }
              }
            }
          }
        },
        "index": {
          "resources": {
            "datasources": {
              "methods": {
                "get": {
                  "description": "Gets indexed item statistics for a single data source. **Note:** This API requires a standard end user account to execute.",
                  "id": "cloudsearch.stats.index.datasources.get",
                  "flatPath": "v1/stats/index/datasources/{datasourcesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.stats",
                    "https://www.googleapis.com/auth/cloud_search.stats.indexing"
                  ],
                  "parameters": {
                    "fromDate.month": {
                      "description": "Month of date. Must be from 1 to 12.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "toDate.year": {
                      "description": "Year of date. Must be from 1 to 9999.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "fromDate.day": {
                      "format": "int32",
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
                      "location": "query",
                      "type": "integer"
                    },
                    "toDate.month": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Month of date. Must be from 1 to 12."
                    },
                    "fromDate.year": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Year of date. Must be from 1 to 9999.",
                      "location": "query"
                    },
                    "toDate.day": {
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "name": {
                      "description": "The resource id of the data source to retrieve statistics for, in the following format: \"datasources/{source_id}\"",
                      "required": true,
                      "type": "string",
                      "pattern": "^datasources/[^/]+$",
                      "location": "path"
                    }
                  },
                  "path": "v1/stats/index/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GetDataSourceIndexStatsResponse"
                  }
                }
              }
            }
          }
        },
        "query": {
          "resources": {
            "searchapplications": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "GetSearchApplicationQueryStatsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud_search",
                    "https://www.googleapis.com/auth/cloud_search.stats",
                    "https://www.googleapis.com/auth/cloud_search.stats.indexing"
                  ],
                  "flatPath": "v1/stats/query/searchapplications/{searchapplicationsId}",
                  "path": "v1/stats/query/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "id": "cloudsearch.stats.query.searchapplications.get",
                  "parameters": {
                    "toDate.year": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Year of date. Must be from 1 to 9999."
                    },
                    "fromDate.day": {
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "description": "The resource id of the search application query stats, in the following format: searchapplications/{application_id}",
                      "required": true,
                      "type": "string",
                      "pattern": "^searchapplications/[^/]+$"
                    },
                    "fromDate.month": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Month of date. Must be from 1 to 12.",
                      "location": "query"
                    },
                    "fromDate.year": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Year of date. Must be from 1 to 9999."
                    },
                    "toDate.month": {
                      "type": "integer",
                      "description": "Month of date. Must be from 1 to 12.",
                      "format": "int32",
                      "location": "query"
                    },
                    "toDate.day": {
                      "format": "int32",
                      "location": "query",
                      "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
                      "type": "integer"
                    }
                  },
                  "description": "Get the query statistics for search application. **Note:** This API requires a standard end user account to execute."
                }
              }
            }
          }
        }
      },
      "methods": {
        "getQuery": {
          "id": "cloudsearch.stats.getQuery",
          "parameters": {
            "toDate.day": {
              "type": "integer",
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
              "format": "int32",
              "location": "query"
            },
            "fromDate.year": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Year of date. Must be from 1 to 9999."
            },
            "toDate.month": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Month of date. Must be from 1 to 12."
            },
            "fromDate.day": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month."
            },
            "fromDate.month": {
              "location": "query",
              "format": "int32",
              "description": "Month of date. Must be from 1 to 12.",
              "type": "integer"
            },
            "toDate.year": {
              "type": "integer",
              "location": "query",
              "description": "Year of date. Must be from 1 to 9999.",
              "format": "int32"
            }
          },
          "path": "v1/stats/query",
          "flatPath": "v1/stats/query",
          "description": "Get the query statistics for customer. **Note:** This API requires a standard end user account to execute.",
          "response": {
            "$ref": "GetCustomerQueryStatsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.stats",
            "https://www.googleapis.com/auth/cloud_search.stats.indexing"
          ],
          "parameterOrder": [],
          "httpMethod": "GET"
        },
        "getIndex": {
          "parameterOrder": [],
          "response": {
            "$ref": "GetCustomerIndexStatsResponse"
          },
          "httpMethod": "GET",
          "id": "cloudsearch.stats.getIndex",
          "parameters": {
            "toDate.month": {
              "type": "integer",
              "description": "Month of date. Must be from 1 to 12.",
              "format": "int32",
              "location": "query"
            },
            "toDate.day": {
              "type": "integer",
              "location": "query",
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
              "format": "int32"
            },
            "toDate.year": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Year of date. Must be from 1 to 9999."
            },
            "fromDate.month": {
              "description": "Month of date. Must be from 1 to 12.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "fromDate.day": {
              "format": "int32",
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
              "type": "integer",
              "location": "query"
            },
            "fromDate.year": {
              "format": "int32",
              "type": "integer",
              "description": "Year of date. Must be from 1 to 9999.",
              "location": "query"
            }
          },
          "path": "v1/stats/index",
          "flatPath": "v1/stats/index",
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.stats",
            "https://www.googleapis.com/auth/cloud_search.stats.indexing"
          ],
          "description": "Gets indexed item statistics aggreggated across all data sources. This API only returns statistics for previous dates; it doesn't return statistics for the current day. **Note:** This API requires a standard end user account to execute."
        },
        "getSession": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.stats",
            "https://www.googleapis.com/auth/cloud_search.stats.indexing"
          ],
          "path": "v1/stats/session",
          "description": "Get the # of search sessions, % of successful sessions with a click query statistics for customer. **Note:** This API requires a standard end user account to execute.",
          "response": {
            "$ref": "GetCustomerSessionStatsResponse"
          },
          "parameters": {
            "fromDate.day": {
              "type": "integer",
              "format": "int32",
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
              "location": "query"
            },
            "fromDate.year": {
              "type": "integer",
              "description": "Year of date. Must be from 1 to 9999.",
              "format": "int32",
              "location": "query"
            },
            "fromDate.month": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Month of date. Must be from 1 to 12."
            },
            "toDate.year": {
              "type": "integer",
              "description": "Year of date. Must be from 1 to 9999.",
              "format": "int32",
              "location": "query"
            },
            "toDate.day": {
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "toDate.month": {
              "location": "query",
              "description": "Month of date. Must be from 1 to 12.",
              "format": "int32",
              "type": "integer"
            }
          },
          "parameterOrder": [],
          "id": "cloudsearch.stats.getSession",
          "httpMethod": "GET",
          "flatPath": "v1/stats/session"
        },
        "getUser": {
          "description": "Get the users statistics for customer. **Note:** This API requires a standard end user account to execute.",
          "parameterOrder": [],
          "response": {
            "$ref": "GetCustomerUserStatsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.stats",
            "https://www.googleapis.com/auth/cloud_search.stats.indexing"
          ],
          "httpMethod": "GET",
          "id": "cloudsearch.stats.getUser",
          "parameters": {
            "fromDate.year": {
              "description": "Year of date. Must be from 1 to 9999.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "toDate.day": {
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "fromDate.day": {
              "location": "query",
              "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
              "format": "int32",
              "type": "integer"
            },
            "fromDate.month": {
              "format": "int32",
              "description": "Month of date. Must be from 1 to 12.",
              "type": "integer",
              "location": "query"
            },
            "toDate.year": {
              "description": "Year of date. Must be from 1 to 9999.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "toDate.month": {
              "description": "Month of date. Must be from 1 to 12.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            }
          },
          "flatPath": "v1/stats/user",
          "path": "v1/stats/user"
        }
      }
    },
    "query": {
      "methods": {
        "search": {
          "parameters": {},
          "description": "The Cloud Search Query API provides the search method, which returns the most relevant results from a user query. The results can come from G Suite Apps, such as Gmail or Google Drive, or they can come from data that you have indexed from a third party. **Note:** This API requires a standard end user account to execute. A service account can't perform Query API requests directly; to use a service account to perform queries, set up [G Suite domain-wide delegation of authority](https://developers.google.com/cloud-search/docs/guides/delegation/).",
          "request": {
            "$ref": "SearchRequest"
          },
          "flatPath": "v1/query/search",
          "response": {
            "$ref": "SearchResponse"
          },
          "id": "cloudsearch.query.search",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.query"
          ],
          "path": "v1/query/search",
          "parameterOrder": []
        },
        "suggest": {
          "httpMethod": "POST",
          "request": {
            "$ref": "SuggestRequest"
          },
          "path": "v1/query/suggest",
          "parameters": {},
          "description": "Provides suggestions for autocompleting the query. **Note:** This API requires a standard end user account to execute. A service account can't perform Query API requests directly; to use a service account to perform queries, set up [G Suite domain-wide delegation of authority](https://developers.google.com/cloud-search/docs/guides/delegation/).",
          "scopes": [
            "https://www.googleapis.com/auth/cloud_search",
            "https://www.googleapis.com/auth/cloud_search.query"
          ],
          "response": {
            "$ref": "SuggestResponse"
          },
          "id": "cloudsearch.query.suggest",
          "flatPath": "v1/query/suggest",
          "parameterOrder": []
        }
      },
      "resources": {
        "sources": {
          "methods": {
            "list": {
              "parameters": {
                "requestOptions.languageCode": {
                  "description": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier. For translations. Set this field using the language set in browser or for the page. In the event that the user's language preference is known, set this field to the known user language. When specified, the documents in search results are biased towards the specified language. The suggest API does not use this parameter. Instead, suggest autocompletes only based on characters in the query.",
                  "location": "query",
                  "type": "string"
                },
                "requestOptions.debugOptions.enableDebugging": {
                  "location": "query",
                  "type": "boolean",
                  "description": "If you are asked by Google to help with debugging, set this field. Otherwise, ignore this field."
                },
                "requestOptions.searchApplicationId": {
                  "type": "string",
                  "location": "query",
                  "description": "The ID generated when you create a search application using the [admin console](https://support.google.com/a/answer/9043922)."
                },
                "requestOptions.timeZone": {
                  "location": "query",
                  "type": "string",
                  "description": "Current user's time zone id, such as \"America/Los_Angeles\" or \"Australia/Sydney\". These IDs are defined by [Unicode Common Locale Data Repository (CLDR)](http://cldr.unicode.org/) project, and currently available in the file [timezone.xml](http://unicode.org/repos/cldr/trunk/common/bcp47/timezone.xml). This field is used to correctly interpret date and time queries. If this field is not specified, the default time zone (UTC) is used."
                },
                "pageToken": {
                  "type": "string",
                  "description": "Number of sources to return in the response.",
                  "location": "query"
                }
              },
              "parameterOrder": [],
              "flatPath": "v1/query/sources",
              "description": "Returns list of sources that user can use for Search and Suggest APIs. **Note:** This API requires a standard end user account to execute. A service account can't perform Query API requests directly; to use a service account to perform queries, set up [G Suite domain-wide delegation of authority](https://developers.google.com/cloud-search/docs/guides/delegation/).",
              "id": "cloudsearch.query.sources.list",
              "response": {
                "$ref": "ListQuerySourcesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud_search",
                "https://www.googleapis.com/auth/cloud_search.query"
              ],
              "httpMethod": "GET",
              "path": "v1/query/sources"
            }
          }
        }
      }
    }
  },
  "canonicalName": "Cloud Search",
  "schemas": {
    "CustomerQueryStats": {
      "id": "CustomerQueryStats",
      "properties": {
        "queryCountByStatus": {
          "type": "array",
          "items": {
            "$ref": "QueryCountByStatus"
          }
        },
        "date": {
          "$ref": "Date",
          "description": "Date for which query stats were calculated. Stats calculated on the next day close to midnight are returned."
        }
      },
      "type": "object"
    },
    "Date": {
      "description": "Represents a whole calendar date, for example a date of birth. The time of day and time zone are either specified elsewhere or are not significant. The date is relative to the [Proleptic Gregorian Calendar](https://en.wikipedia.org/wiki/Proleptic_Gregorian_calendar). The date must be a valid calendar date between the year 1 and 9999.",
      "properties": {
        "day": {
          "type": "integer",
          "description": "Day of month. Must be from 1 to 31 and valid for the year and month.",
          "format": "int32"
        },
        "year": {
          "format": "int32",
          "type": "integer",
          "description": "Year of date. Must be from 1 to 9999."
        },
        "month": {
          "format": "int32",
          "type": "integer",
          "description": "Month of date. Must be from 1 to 12."
        }
      },
      "type": "object",
      "id": "Date"
    },
    "Metadata": {
      "description": "Metadata of a matched search result.",
      "properties": {
        "createTime": {
          "description": "The creation time for this document or object in the search result.",
          "format": "google-datetime",
          "type": "string"
        },
        "owner": {
          "$ref": "Person",
          "description": "Owner (usually creator) of the document or object of the search result."
        },
        "source": {
          "$ref": "Source",
          "description": "The named source for the result, such as Gmail."
        },
        "displayOptions": {
          "description": "Options that specify how to display a structured data search result.",
          "$ref": "ResultDisplayMetadata"
        },
        "fields": {
          "type": "array",
          "description": "Indexed fields in structured data, returned as a generic named property.",
          "items": {
            "$ref": "NamedProperty"
          }
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The last modified date for the object in the search result. If not set in the item, the value returned here is empty. When `updateTime` is used for calculating freshness and is not set, this value defaults to 2 years from the current time."
        },
        "objectType": {
          "type": "string",
          "description": "Object type of the search result."
        },
        "mimeType": {
          "type": "string",
          "description": "Mime type of the search result."
        }
      },
      "id": "Metadata",
      "type": "object"
    },
    "EnumValues": {
      "id": "EnumValues",
      "type": "object",
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The maximum allowable length for string values is 32 characters."
        }
      },
      "description": "List of enum values."
    },
    "CustomerSessionStats": {
      "id": "CustomerSessionStats",
      "type": "object",
      "properties": {
        "searchSessionsCount": {
          "description": "The count of search sessions on the day",
          "type": "string",
          "format": "int64"
        },
        "date": {
          "$ref": "Date",
          "description": "Date for which session stats were calculated. Stats calculated on the next day close to midnight are returned."
        }
      }
    },
    "PeopleSuggestion": {
      "type": "object",
      "properties": {
        "person": {
          "$ref": "Person",
          "description": "Suggested person. All fields of the person object might not be populated."
        }
      },
      "description": "This field contains information about the person being suggested.",
      "id": "PeopleSuggestion"
    },
    "GetCustomerSessionStatsResponse": {
      "properties": {
        "stats": {
          "items": {
            "$ref": "CustomerSessionStats"
          },
          "type": "array"
        }
      },
      "id": "GetCustomerSessionStatsResponse",
      "type": "object"
    },
    "UpdateSchemaRequest": {
      "id": "UpdateSchemaRequest",
      "properties": {
        "validateOnly": {
          "description": "If true, the schema will be checked for validity, but will not be registered with the data source, even if valid.",
          "type": "boolean"
        },
        "debugOptions": {
          "description": "Common debug options.",
          "$ref": "DebugOptions"
        },
        "schema": {
          "$ref": "Schema",
          "description": "The new schema for the source."
        }
      },
      "type": "object"
    },
    "DriveFollowUpRestrict": {
      "type": "object",
      "id": "DriveFollowUpRestrict",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED",
            "FOLLOWUP_SUGGESTIONS",
            "FOLLOWUP_ACTION_ITEMS"
          ]
        }
      },
      "description": "Drive follow-up search restricts (e.g. \"followup:suggestions\")."
    },
    "QueryItem": {
      "description": "Information relevant only to a query entry.",
      "properties": {
        "isSynthetic": {
          "type": "boolean",
          "description": "True if the text was generated by means other than a previous user search."
        }
      },
      "type": "object",
      "id": "QueryItem"
    },
    "PushItemRequest": {
      "properties": {
        "item": {
          "description": "Item to push onto the queue.",
          "$ref": "PushItem"
        },
        "connectorName": {
          "description": "Name of connector making this call. Format: datasources/{source_id}/connectors/{ID}",
          "type": "string"
        },
        "debugOptions": {
          "description": "Common debug options.",
          "$ref": "DebugOptions"
        }
      },
      "type": "object",
      "id": "PushItemRequest"
    },
    "ListDataSourceResponse": {
      "id": "ListDataSourceResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "sources": {
          "items": {
            "$ref": "DataSource"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "DoubleOperatorOptions": {
      "id": "DoubleOperatorOptions",
      "type": "object",
      "properties": {
        "operatorName": {
          "description": "Indicates the operator name required in the query in order to use the double property in sorting or as a facet. The operator name can only contain lowercase letters (a-z). The maximum length is 32 characters.",
          "type": "string"
        }
      },
      "description": "Used to provide a search operator for double properties. This is optional. Search operators let users restrict the query to specific fields relevant to the type of item being searched."
    },
    "DriveLocationRestrict": {
      "id": "DriveLocationRestrict",
      "description": "Drive location search restricts (e.g. \"is:starred\").",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "UNSPECIFIED",
            "TRASHED",
            "STARRED"
          ]
        }
      },
      "type": "object"
    },
    "GetCustomerIndexStatsResponse": {
      "id": "GetCustomerIndexStatsResponse",
      "properties": {
        "stats": {
          "items": {
            "$ref": "CustomerIndexStats"
          },
          "type": "array",
          "description": "Summary of indexed item counts, one for each day in the requested range."
        }
      },
      "type": "object"
    },
    "Value": {
      "properties": {
        "booleanValue": {
          "type": "boolean"
        },
        "timestampValue": {
          "type": "string",
          "format": "google-datetime"
        },
        "dateValue": {
          "$ref": "Date"
        },
        "stringValue": {
          "type": "string"
        },
        "doubleValue": {
          "format": "double",
          "type": "number"
        },
        "integerValue": {
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "Definition of a single value with generic type.",
      "id": "Value"
    },
    "SearchRequest": {
      "id": "SearchRequest",
      "properties": {
        "sortOptions": {
          "description": "The options for sorting the search results",
          "$ref": "SortOptions"
        },
        "pageSize": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum number of search results to return in one page. Valid values are between 1 and 100, inclusive. Default value is 10. Minimum value is 50 when results beyond 2000 are requested."
        },
        "queryInterpretationOptions": {
          "description": "Options to interpret the user query.",
          "$ref": "QueryInterpretationOptions"
        },
        "requestOptions": {
          "description": "Request options, such as the search application and user timezone.",
          "$ref": "RequestOptions"
        },
        "query": {
          "type": "string",
          "description": "The raw query string. See supported search operators in the [Cloud search Cheat Sheet](https://support.google.com/a/users/answer/9299929)"
        },
        "start": {
          "type": "integer",
          "format": "int32",
          "description": "Starting index of the results."
        },
        "dataSourceRestrictions": {
          "description": "The sources to use for querying. If not specified, all data sources from the current search application are used.",
          "items": {
            "$ref": "DataSourceRestriction"
          },
          "type": "array"
        },
        "facetOptions": {
          "type": "array",
          "items": {
            "$ref": "FacetOptions"
          }
        }
      },
      "type": "object",
      "description": "The search API request."
    },
    "CheckAccessResponse": {
      "type": "object",
      "id": "CheckAccessResponse",
      "properties": {
        "hasAccess": {
          "type": "boolean",
          "description": "Returns true if principal has access. Returns false otherwise."
        }
      }
    },
    "ResultDisplayField": {
      "properties": {
        "property": {
          "$ref": "NamedProperty",
          "description": "The name value pair for the property."
        },
        "label": {
          "type": "string",
          "description": "The display label for the property."
        },
        "operatorName": {
          "type": "string",
          "description": "The operator name of the property."
        }
      },
      "description": "Display Fields for Search Results",
      "type": "object",
      "id": "ResultDisplayField"
    },
    "ListUnmappedIdentitiesResponse": {
      "type": "object",
      "id": "ListUnmappedIdentitiesResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "unmappedIdentities": {
          "items": {
            "$ref": "UnmappedIdentity"
          },
          "type": "array"
        }
      }
    },
    "StructuredDataObject": {
      "type": "object",
      "properties": {
        "properties": {
          "description": "The properties for the object. The maximum number of elements is 1000.",
          "items": {
            "$ref": "NamedProperty"
          },
          "type": "array"
        }
      },
      "description": "A structured data object consisting of named properties.",
      "id": "StructuredDataObject"
    },
    "QueryInterpretation": {
      "type": "object",
      "id": "QueryInterpretation",
      "properties": {
        "interpretedQuery": {
          "description": "The interpretation of the query used in search. For example, queries with natural language intent like \"email from john\" will be interpreted as \"from:john source:mail\". This field will not be filled when the reason is NOT_ENOUGH_RESULTS_FOUND_FOR_USER_QUERY.",
          "type": "string"
        },
        "interpretationType": {
          "enum": [
            "NONE",
            "BLEND",
            "REPLACE"
          ],
          "enumDescriptions": [
            "Neither the natural language interpretation, nor a broader version of the query is used to fetch the search results.",
            "The results from original query are blended with other results. The reason for blending these other results with the results from original query is populated in the 'Reason' field below.",
            "The results from original query are replaced. The reason for replacing the results from original query is populated in the 'Reason' field below."
          ],
          "type": "string"
        },
        "reason": {
          "description": "The reason for interpretation of the query. This field will not be UNSPECIFIED if the interpretation type is not NONE.",
          "enum": [
            "UNSPECIFIED",
            "QUERY_HAS_NATURAL_LANGUAGE_INTENT",
            "NOT_ENOUGH_RESULTS_FOUND_FOR_USER_QUERY"
          ],
          "enumDescriptions": [
            "",
            "Natural language interpretation of the query is used to fetch the search results.",
            "Query and document terms similarity is used to selectively broaden the query to retrieve additional search results since enough results were not found for the user query. Interpreted query will be empty for this case."
          ],
          "type": "string"
        }
      }
    },
    "ObjectOptions": {
      "id": "ObjectOptions",
      "properties": {
        "displayOptions": {
          "$ref": "ObjectDisplayOptions",
          "description": "Options that determine how the object is displayed in the Cloud Search results page."
        },
        "freshnessOptions": {
          "$ref": "FreshnessOptions",
          "description": "The freshness options for an object."
        }
      },
      "description": "The options for an object.",
      "type": "object"
    },
    "IndexItemOptions": {
      "properties": {
        "allowUnknownGsuitePrincipals": {
          "description": "Specifies if the index request should allow gsuite principals that do not exist or are deleted in the index request.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "IndexItemOptions"
    },
    "SourceConfig": {
      "properties": {
        "crowdingConfig": {
          "$ref": "SourceCrowdingConfig",
          "description": "The crowding configuration for the source."
        },
        "scoringConfig": {
          "$ref": "SourceScoringConfig",
          "description": "The scoring configuration for the source."
        },
        "source": {
          "description": "The source for which this configuration is to be used.",
          "$ref": "Source"
        }
      },
      "type": "object",
      "id": "SourceConfig",
      "description": "Configurations for a source while processing a Search or Suggest request."
    },
    "EnumPropertyOptions": {
      "description": "Options for enum properties, which allow you to define a restricted set of strings to match user queries, set rankings for those string values, and define an operator name to be paired with those strings so that users can narrow results to only items with a specific value. For example, for items in a request tracking system with priority information, you could define *p0* as an allowable enum value and tie this enum to the operator name *priority* so that search users could add *priority:p0* to their query to restrict the set of results to only those items indexed with the value *p0*.",
      "id": "EnumPropertyOptions",
      "type": "object",
      "properties": {
        "possibleValues": {
          "type": "array",
          "items": {
            "$ref": "EnumValuePair"
          },
          "description": "The list of possible values for the enumeration property. All EnumValuePairs must provide a string value. If you specify an integer value for one EnumValuePair, then all possible EnumValuePairs must provide an integer value. Both the string value and integer value must be unique over all possible values. Once set, possible values cannot be removed or modified. If you supply an ordered ranking and think you might insert additional enum values in the future, leave gaps in the initial integer values to allow adding a value in between previously registered values. The maximum number of elements is 100."
        },
        "orderedRanking": {
[...]
