{
  "title": "Cloud Shell API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "rootUrl": "https://cloudshell.googleapis.com/",
  "revision": "20201217",
  "mtlsRootUrl": "https://cloudshell.mtls.googleapis.com/",
  "servicePath": "",
  "id": "cloudshell:v1alpha1",
  "parameters": {
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "version": "v1alpha1",
  "description": "Allows users to start, configure, and connect to interactive shell sessions running in the cloud. ",
  "documentationLink": "https://cloud.google.com/shell/docs/",
  "batchPath": "batch",
  "version_module": true,
  "discoveryVersion": "v1",
  "canonicalName": "Cloud Shell",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "name": "cloudshell",
  "protocol": "rest",
  "baseUrl": "https://cloudshell.googleapis.com/",
  "resources": {
    "users": {
      "resources": {
        "environments": {
          "methods": {
            "authorize": {
              "httpMethod": "POST",
              "request": {
                "$ref": "AuthorizeEnvironmentRequest"
              },
              "path": "v1alpha1/{+name}:authorize",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha1/users/{usersId}/environments/{environmentsId}:authorize",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^users/[^/]+/environments/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Name of the resource that should receive the credentials, for example `users/me/environments/default` or `users/someone@example.com/environments/default`."
                }
              },
              "description": "Sends OAuth credentials to a running environment on behalf of a user. When this completes, the environment will be authorized to run various Google Cloud command line tools without requiring the user to manually authenticate.",
              "id": "cloudshell.users.environments.authorize"
            },
            "patch": {
              "flatPath": "v1alpha1/users/{usersId}/environments/{environmentsId}",
              "id": "cloudshell.users.environments.patch",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Name of the resource to be updated, for example `users/me/environments/default` or `users/someone@example.com/environments/default`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^users/[^/]+/environments/[^/]+$"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "Mask specifying which fields in the environment should be updated.",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Environment"
              },
              "description": "Updates an existing environment.",
              "request": {
                "$ref": "Environment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1alpha1/{+name}",
              "httpMethod": "PATCH"
            },
            "get": {
              "httpMethod": "GET",
              "response": {
                "$ref": "Environment"
              },
              "flatPath": "v1alpha1/users/{usersId}/environments/{environmentsId}",
              "description": "Gets an environment. Returns NOT_FOUND if the environment does not exist.",
              "parameters": {
                "name": {
                  "pattern": "^users/[^/]+/environments/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Name of the requested resource, for example `users/me/environments/default` or `users/someone@example.com/environments/default`.",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "cloudshell.users.environments.get",
              "path": "v1alpha1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "start": {
              "request": {
                "$ref": "StartEnvironmentRequest"
              },
              "description": "Starts an existing environment, allowing clients to connect to it. The returned operation will contain an instance of StartEnvironmentMetadata in its metadata field. Users can wait for the environment to start by polling this operation via GetOperation. Once the environment has finished starting and is ready to accept connections, the operation will contain a StartEnvironmentResponse in its response field.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha1/users/{usersId}/environments/{environmentsId}:start",
              "id": "cloudshell.users.environments.start",
              "httpMethod": "POST",
              "path": "v1alpha1/{+name}:start",
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Name of the resource that should be started, for example `users/me/environments/default` or `users/someone@example.com/environments/default`.",
                  "type": "string",
                  "pattern": "^users/[^/]+/environments/[^/]+$",
                  "required": true
                }
              }
            }
          },
          "resources": {
            "publicKeys": {
              "methods": {
                "create": {
                  "response": {
                    "$ref": "PublicKey"
                  },
                  "id": "cloudshell.users.environments.publicKeys.create",
                  "httpMethod": "POST",
                  "path": "v1alpha1/{+parent}/publicKeys",
                  "flatPath": "v1alpha1/users/{usersId}/environments/{environmentsId}/publicKeys",
                  "request": {
                    "$ref": "CreatePublicKeyRequest"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^users/[^/]+/environments/[^/]+$",
                      "description": "Parent resource name, e.g. `users/me/environments/default`.",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Adds a public SSH key to an environment, allowing clients with the corresponding private key to connect to that environment via SSH. If a key with the same format and content already exists, this will return the existing key."
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "description": "Name of the resource to be deleted, e.g. `users/me/environments/default/publicKeys/my-key`.",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^users/[^/]+/environments/[^/]+/publicKeys/[^/]+$"
                    }
                  },
                  "path": "v1alpha1/{+name}",
                  "description": "Removes a public SSH key from an environment. Clients will no longer be able to connect to the environment using the corresponding private key.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha1/users/{usersId}/environments/{environmentsId}/publicKeys/{publicKeysId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "id": "cloudshell.users.environments.publicKeys.delete",
                  "response": {
                    "$ref": "Empty"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "schemas": {
    "CreatePublicKeyRequest": {
      "properties": {
        "key": {
          "$ref": "PublicKey",
          "description": "Key that should be added to the environment."
        }
      },
      "id": "CreatePublicKeyRequest",
      "description": "Request message for CreatePublicKey.",
      "type": "object"
    },
    "Operation": {
      "type": "object",
      "id": "Operation",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "response": {
          "type": "object",
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "PublicKey": {
      "id": "PublicKey",
      "type": "object",
      "properties": {
        "format": {
          "enumDescriptions": [
            "Unknown format. Do not use.",
            "`ssh-dss` key format (see RFC4253).",
            "`ssh-rsa` key format (see RFC4253).",
            "`ecdsa-sha2-nistp256` key format (see RFC5656).",
            "`ecdsa-sha2-nistp384` key format (see RFC5656).",
            "`ecdsa-sha2-nistp521` key format (see RFC5656)."
          ],
          "description": "Required. Format of this key's content.",
          "enum": [
            "FORMAT_UNSPECIFIED",
            "SSH_DSS",
            "SSH_RSA",
            "ECDSA_SHA2_NISTP256",
            "ECDSA_SHA2_NISTP384",
            "ECDSA_SHA2_NISTP521"
          ],
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. Full name of this resource, in the format `users/{owner_email}/environments/{environment_id}/publicKeys/{key_id}`. `{owner_email}` is the email address of the user to whom the key belongs. `{environment_id}` is the identifier of the environment to which the key grants access. `{key_id}` is the unique identifier of the key. For example, `users/someone@example.com/environments/default/publicKeys/myKey`."
        },
        "key": {
          "description": "Required. Content of this key.",
          "format": "byte",
          "type": "string"
        }
      },
      "description": "A public SSH key, corresponding to a private SSH key held by the client."
    },
    "StartEnvironmentResponse": {
      "description": "Message included in the response field of operations returned from StartEnvironment once the operation is complete.",
      "id": "StartEnvironmentResponse",
      "type": "object",
      "properties": {
        "environment": {
          "$ref": "Environment",
          "description": "Environment that was started."
        }
      }
    },
    "Environment": {
      "properties": {
        "size": {
          "enum": [
            "VM_SIZE_UNSPECIFIED",
            "DEFAULT",
            "BOOSTED"
          ],
          "type": "string",
          "enumDescriptions": [
            "The VM size is unknown.",
            "The default VM size.",
            "The boosted VM size."
          ],
          "description": "Indicates the size of the backing VM running the environment. If set to something other than DEFAULT, it will be reverted to the default VM size after vm_size_expire_time."
        },
        "dockerImage": {
          "description": "Required. Full path to the Docker image used to run this environment, e.g. \"gcr.io/dev-con/cloud-devshell:latest\".",
          "type": "string"
        },
        "sshHost": {
          "type": "string",
          "description": "Output only. Host to which clients can connect to initiate SSH sessions with the environment."
        },
        "sshPort": {
          "type": "integer",
          "description": "Output only. Port to which clients can connect to initiate SSH sessions with the environment.",
          "format": "int32"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "DISABLED",
            "STARTING",
            "RUNNING",
            "DELETING"
          ],
          "type": "string",
          "description": "Output only. Current execution state of this environment.",
          "enumDescriptions": [
            "The environment's states is unknown.",
            "The environment is not running and can't be connected to. Starting the environment will transition it to the STARTING state.",
            "The environment is being started but is not yet ready to accept connections.",
            "The environment is running and ready to accept connections. It will automatically transition back to DISABLED after a period of inactivity or if another environment is started.",
            "The environment is being deleted and can't be connected to."
          ]
        },
        "webHost": {
          "description": "Output only. Host to which clients can connect to initiate HTTPS or WSS connections with the environment.",
          "type": "string"
        },
        "publicKeys": {
          "description": "Output only. Public keys associated with the environment. Clients can connect to this environment via SSH only if they possess a private key corresponding to at least one of these public keys. Keys can be added to or removed from the environment using the CreatePublicKey and DeletePublicKey methods.",
          "items": {
            "$ref": "PublicKey"
          },
          "type": "array"
        },
        "webPorts": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "description": "Output only. Ports to which clients can connect to initiate HTTPS or WSS connections with the environment.",
          "type": "array"
        },
        "id": {
          "type": "string",
          "description": "Output only. The environment's identifier, unique among the user's environments."
        },
        "sshUsername": {
          "description": "Output only. Username that clients should use when initiating SSH sessions with the environment.",
          "type": "string"
        },
        "vmSizeExpireTime": {
          "type": "string",
          "description": "Output only. The time when the Environment will expire back to the default VM size.",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Output only. Full name of this resource, in the format `users/{owner_email}/environments/{environment_id}`. `{owner_email}` is the email address of the user to whom this environment belongs, and `{environment_id}` is the identifier of this environment. For example, `users/someone@example.com/environments/default`."
        }
      },
      "id": "Environment",
      "description": "A Cloud Shell environment, which is defined as the combination of a Docker image specifying what is installed on the environment and a home directory containing the user's data that will remain across sessions. Each user has a single environment with the ID \"default\".",
      "type": "object"
    },
    "StartEnvironmentRequest": {
      "properties": {
        "publicKeys": {
          "items": {
            "$ref": "PublicKey"
          },
          "description": "Public keys that should be added to the environment before it is started.",
          "type": "array"
        },
        "accessToken": {
          "type": "string",
          "description": "The initial access token passed to the environment. If this is present and valid, the environment will be pre-authenticated with gcloud so that the user can run gcloud commands in Cloud Shell without having to log in. This code can be updated later by calling AuthorizeEnvironment."
        }
      },
      "type": "object",
      "description": "Request message for StartEnvironment.",
      "id": "StartEnvironmentRequest"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "id": "Status",
      "type": "object"
    },
    "AuthorizeEnvironmentRequest": {
      "properties": {
        "idToken": {
          "description": "The OAuth ID token that should be sent to the environment.",
          "type": "string"
        },
        "accessToken": {
          "type": "string",
          "description": "The OAuth access token that should be sent to the environment."
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "The time when the credentials expire. If not set, defaults to one hour from when the server received the request.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request message for AuthorizeEnvironment.",
      "id": "AuthorizeEnvironmentRequest"
    },
    "StartEnvironmentMetadata": {
      "type": "object",
      "description": "Message included in the metadata field of operations returned from StartEnvironment.",
      "properties": {
        "state": {
          "description": "Current state of the environment being started.",
          "enumDescriptions": [
            "The environment's start state is unknown.",
            "The environment is in the process of being started, but no additional details are available.",
            "Startup is waiting for the user's disk to be unarchived. This can happen when the user returns to Cloud Shell after not having used it for a while, and suggests that startup will take longer than normal.",
            "Startup is waiting for a VM to be assigned to the environment. This should normally happen very quickly, but an environment might stay in this state for an extended period of time if the system is experiencing heavy load.",
            "Startup is waiting for compute resources to be assigned to the environment. This should normally happen very quickly, but an environment might stay in this state for an extended period of time if the system is experiencing heavy load.",
            "Startup has completed. If the start operation was successful, the user should be able to establish an SSH connection to their environment. Otherwise, the operation will contain details of the failure."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTING",
            "UNARCHIVING_DISK",
            "AWAITING_VM",
            "AWAITING_COMPUTE_RESOURCES",
            "FINISHED"
          ],
          "type": "string"
        }
      },
      "id": "StartEnvironmentMetadata"
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`."
    }
  },
  "ownerName": "Google"
}
