{
  "description": "",
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/apps.order": {
          "description": "Manage users on your domain"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "baseUrl": "https://cloudchannel.googleapis.com/",
  "canonicalName": "Cloudchannel",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/channel",
  "protocol": "rest",
  "title": "Cloud Channel API",
  "basePath": "",
  "version": "v1",
  "ownerDomain": "google.com",
  "resources": {
    "operations": {
      "methods": {
        "cancel": {
          "flatPath": "v1/operations/{operationsId}:cancel",
          "parameterOrder": [
            "name"
          ],
          "id": "cloudchannel.operations.cancel",
          "scopes": [
            "https://www.googleapis.com/auth/apps.order"
          ],
          "path": "v1/{+name}:cancel",
          "request": {
            "$ref": "GoogleLongrunningCancelOperationRequest"
          },
          "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "httpMethod": "POST",
          "parameters": {
            "name": {
              "type": "string",
              "description": "The name of the operation resource to be cancelled.",
              "required": true,
              "location": "path",
              "pattern": "^operations/.*$"
            }
          },
          "response": {
            "$ref": "GoogleProtobufEmpty"
          }
        },
        "delete": {
          "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
          "scopes": [
            "https://www.googleapis.com/auth/apps.order"
          ],
          "parameters": {
            "name": {
              "pattern": "^operations/.*$",
              "type": "string",
              "description": "The name of the operation resource to be deleted.",
              "required": true,
              "location": "path"
            }
          },
          "id": "cloudchannel.operations.delete",
          "httpMethod": "DELETE",
          "flatPath": "v1/operations/{operationsId}",
          "path": "v1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleProtobufEmpty"
          }
        },
        "get": {
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/operations/{operationsId}",
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "path": "v1/{+name}",
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "scopes": [
            "https://www.googleapis.com/auth/apps.order"
          ],
          "parameters": {
            "name": {
              "pattern": "^operations/.*$",
              "description": "The name of the operation resource.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "GET",
          "id": "cloudchannel.operations.get"
        },
        "list": {
          "id": "cloudchannel.operations.list",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
          "path": "v1/{+name}",
          "parameters": {
            "filter": {
              "location": "query",
              "description": "The standard list filter.",
              "type": "string"
            },
            "name": {
              "type": "string",
              "required": true,
              "pattern": "^operations$",
              "location": "path",
              "description": "The name of the operation's parent resource."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The standard list page token."
            },
            "pageSize": {
              "format": "int32",
              "description": "The standard list page size.",
              "location": "query",
              "type": "integer"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/apps.order"
          ],
          "response": {
            "$ref": "GoogleLongrunningListOperationsResponse"
          },
          "flatPath": "v1/operations"
        }
      }
    },
    "products": {
      "resources": {
        "skus": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "description": "Lists the SKUs for a product the reseller is authorized to sell. Possible error codes: * INVALID_ARGUMENT: Required request parameters are missing or invalid.",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A token for a page of results other than the first page. Optional."
                },
                "account": {
                  "description": "Required. Resource name of the reseller. Format: accounts/{account_id}.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "pattern": "^products/[^/]+$",
                  "description": "Required. The resource name of the Product to list SKUs for. Parent uses the format: products/{product_id}. Supports products/- to retrieve SKUs for all products.",
                  "location": "path",
                  "required": true
                },
                "languageCode": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The BCP-47 language code. For example, \"en-US\". The response will localize in the corresponding language code, if specified. The default value is \"en-US\"."
                },
                "pageSize": {
                  "description": "Optional. Requested page size. Server might return fewer results than requested. If unspecified, returns at most 100 SKUs. The maximum value is 1000; the server will coerce values above 1000.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "id": "cloudchannel.products.skus.list",
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "response": {
                "$ref": "GoogleCloudChannelV1ListSkusResponse"
              },
              "path": "v1/{+parent}/skus",
              "flatPath": "v1/products/{productsId}/skus"
            }
          }
        }
      },
      "methods": {
        "list": {
          "path": "v1/products",
          "id": "cloudchannel.products.list",
          "flatPath": "v1/products",
          "scopes": [
            "https://www.googleapis.com/auth/apps.order"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleCloudChannelV1ListProductsResponse"
          },
          "parameters": {
            "account": {
              "description": "Required. The resource name of the reseller account. Format: accounts/{account_id}.",
              "type": "string",
              "location": "query"
            },
            "languageCode": {
              "location": "query",
              "type": "string",
              "description": "Optional. The BCP-47 language code. For example, \"en-US\". The response will localize in the corresponding language code, if specified. The default value is \"en-US\"."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A token for a page of results other than the first page."
            },
            "pageSize": {
              "type": "integer",
              "location": "query",
              "description": "Optional. Requested page size. Server might return fewer results than requested. If unspecified, returns at most 100 Products. The maximum value is 1000; the server will coerce values above 1000.",
              "format": "int32"
            }
          },
          "parameterOrder": [],
          "description": "Lists the Products the reseller is authorized to sell. Possible error codes: * INVALID_ARGUMENT: Required request parameters are missing or invalid."
        }
      }
    },
    "accounts": {
      "resources": {
        "channelPartnerLinks": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "description": "List ChannelPartnerLinks belonging to a distributor. You must be a distributor to call this method. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * INVALID_ARGUMENT: Required request parameters are missing or invalid. Return value: The list of the distributor account's ChannelPartnerLink resources.",
              "response": {
                "$ref": "GoogleCloudChannelV1ListChannelPartnerLinksResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "description": "Optional. A token for a page of results other than the first page. Obtained using ListChannelPartnerLinksResponse.next_page_token of the previous CloudChannelService.ListChannelPartnerLinks call.",
                  "location": "query",
                  "type": "string"
                },
                "view": {
                  "enum": [
                    "UNSPECIFIED",
                    "BASIC",
                    "FULL"
                  ],
                  "location": "query",
                  "enumDescriptions": [
                    "The default / unset value. The API will default to the BASIC view.",
                    "Includes all fields except the ChannelPartnerLink.channel_partner_cloud_identity_info.",
                    "Includes all fields."
                  ],
                  "description": "Optional. The level of granularity the ChannelPartnerLink will display.",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "description": "Required. The resource name of the reseller account for listing channel partner links. Parent uses the format: accounts/{account_id}",
                  "location": "path"
                },
                "pageSize": {
                  "description": "Optional. Requested page size. Server might return fewer results than requested. If unspecified, server will pick a default size (25). The maximum value is 200; the server will coerce values above 200.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                }
              },
              "id": "cloudchannel.accounts.channelPartnerLinks.list",
              "flatPath": "v1/accounts/{accountsId}/channelPartnerLinks",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/channelPartnerLinks"
            },
            "patch": {
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/channelPartnerLinks/[^/]+$",
                  "location": "path",
                  "description": "Required. The resource name of the channel partner link to cancel. Name uses the format: accounts/{account_id}/channelPartnerLinks/{id} where {id} is the Cloud Identity ID of the partner.",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudChannelV1ChannelPartnerLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "cloudchannel.accounts.channelPartnerLinks.patch",
              "description": "Updates a channel partner link. Distributors call this method to change a link's status. For example, to suspend a partner link. You must be a distributor to call this method. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * INVALID_ARGUMENT: * Required request parameters are missing or invalid. * Link state cannot change from invited to active or suspended. * Cannot send reseller_cloud_identity_id, invite_url, or name in update mask. * NOT_FOUND: ChannelPartnerLink resource not found. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The updated ChannelPartnerLink resource.",
              "flatPath": "v1/accounts/{accountsId}/channelPartnerLinks/{channelPartnerLinksId}",
              "request": {
                "$ref": "GoogleCloudChannelV1UpdateChannelPartnerLinkRequest"
              }
            },
            "create": {
              "flatPath": "v1/accounts/{accountsId}/channelPartnerLinks",
              "description": "Initiates a channel partner link between a distributor and a reseller, or between resellers in an n-tier reseller channel. Invited partners need to follow the invite_link_uri provided in the response to accept. After accepting the invitation, a link is set up between the two parties. You must be a distributor to call this method. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * ALREADY_EXISTS: The ChannelPartnerLink sent in the request already exists. * NOT_FOUND: No Cloud Identity customer exists for provided domain. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The new ChannelPartnerLink resource.",
              "httpMethod": "POST",
              "path": "v1/{+parent}/channelPartnerLinks",
              "id": "cloudchannel.accounts.channelPartnerLinks.create",
              "request": {
                "$ref": "GoogleCloudChannelV1ChannelPartnerLink"
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudChannelV1ChannelPartnerLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. Create a channel partner link for the provided reseller account's resource name. Parent uses the format: accounts/{account_id}",
                  "required": true
                }
              }
            },
            "get": {
              "response": {
                "$ref": "GoogleCloudChannelV1ChannelPartnerLink"
              },
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "flatPath": "v1/accounts/{accountsId}/channelPartnerLinks/{channelPartnerLinksId}",
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/channelPartnerLinks/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The resource name of the channel partner link to retrieve. Name uses the format: accounts/{account_id}/channelPartnerLinks/{id} where {id} is the Cloud Identity ID of the partner."
                },
                "view": {
                  "enumDescriptions": [
                    "The default / unset value. The API will default to the BASIC view.",
                    "Includes all fields except the ChannelPartnerLink.channel_partner_cloud_identity_info.",
                    "Includes all fields."
                  ],
                  "type": "string",
                  "description": "Optional. The level of granularity the ChannelPartnerLink will display.",
                  "enum": [
                    "UNSPECIFIED",
                    "BASIC",
                    "FULL"
                  ],
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "id": "cloudchannel.accounts.channelPartnerLinks.get",
              "parameterOrder": [
                "name"
              ],
              "description": "Returns a requested ChannelPartnerLink resource. You must be a distributor to call this method. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: ChannelPartnerLink resource not found because of an invalid channel partner link name. Return value: The ChannelPartnerLink resource."
            }
          }
        },
        "customers": {
          "methods": {
            "provisionCloudIdentity": {
              "id": "cloudchannel.accounts.customers.provisionCloudIdentity",
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "parameterOrder": [
                "customer"
              ],
              "httpMethod": "POST",
              "parameters": {
                "customer": {
                  "location": "path",
                  "description": "Required. Resource name of the customer. Format: accounts/{account_id}/customers/{customer_id}",
                  "type": "string",
                  "required": true,
                  "pattern": "^accounts/[^/]+/customers/[^/]+$"
                }
              },
              "path": "v1/{+customer}:provisionCloudIdentity",
              "flatPath": "v1/accounts/{accountsId}/customers/{customersId}:provisionCloudIdentity",
              "request": {
                "$ref": "GoogleCloudChannelV1ProvisionCloudIdentityRequest"
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Creates a Cloud Identity for the given customer using the customer's information, or the information provided here. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: The customer was not found. * ALREADY_EXISTS: The customer's primary email already exists. Retry after changing the customer's primary contact email. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The ID of a long-running operation. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The Operation metadata contains an instance of OperationMetadata."
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "response": {
                "$ref": "GoogleCloudChannelV1ListCustomersResponse"
              },
              "id": "cloudchannel.accounts.customers.list",
              "flatPath": "v1/accounts/{accountsId}/customers",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "description": "List Customers. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * INVALID_ARGUMENT: Required request parameters are missing or invalid. Return value: List of Customers, or an empty list if there are no customers.",
              "parameters": {
                "parent": {
                  "description": "Required. The resource name of the reseller account to list customers from. Parent uses the format: accounts/{account_id}.",
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A token identifying a page of results other than the first page. Obtained through ListCustomersResponse.next_page_token of the previous CloudChannelService.ListCustomers call.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of customers to return. The service may return fewer than this value. If unspecified, returns at most 10 customers. The maximum value is 50.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "path": "v1/{+parent}/customers"
            },
            "transferEntitlements": {
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudChannelV1TransferEntitlementsRequest"
              },
              "description": "Transfers customer entitlements to new reseller. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: The customer or offer resource was not found. * ALREADY_EXISTS: The SKU was already transferred for the customer. * CONDITION_NOT_MET or FAILED_PRECONDITION: * The SKU requires domain verification to transfer, but the domain is not verified. * An Add-On SKU (example, Vault or Drive) is missing the pre-requisite SKU (example, G Suite Basic). * (Developer accounts only) Reseller and resold domain must meet the following naming requirements: * Domain names must start with goog-test. * Domain names must include the reseller domain. * Specify all transferring entitlements. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The ID of a long-running operation. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The Operation metadata will contain an instance of OperationMetadata.",
              "parameters": {
                "parent": {
                  "description": "Required. The resource name of the reseller's customer account that will receive transferred entitlements. Parent uses the format: accounts/{account_id}/customers/{customer_id}",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^accounts/[^/]+/customers/[^/]+$"
                }
              },
              "flatPath": "v1/accounts/{accountsId}/customers/{customersId}:transferEntitlements",
              "path": "v1/{+parent}:transferEntitlements",
              "httpMethod": "POST",
              "id": "cloudchannel.accounts.customers.transferEntitlements",
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            },
            "transferEntitlementsToGoogle": {
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "request": {
                "$ref": "GoogleCloudChannelV1TransferEntitlementsToGoogleRequest"
              },
              "description": "Transfers customer entitlements from their current reseller to Google. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: The customer or offer resource was not found. * ALREADY_EXISTS: The SKU was already transferred for the customer. * CONDITION_NOT_MET or FAILED_PRECONDITION: * The SKU requires domain verification to transfer, but the domain is not verified. * An Add-On SKU (example, Vault or Drive) is missing the pre-requisite SKU (example, G Suite Basic). * (Developer accounts only) Reseller and resold domain must meet the following naming requirements: * Domain names must start with goog-test. * Domain names must include the reseller domain. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The ID of a long-running operation. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The response will contain google.protobuf.Empty on success. The Operation metadata will contain an instance of OperationMetadata.",
              "id": "cloudchannel.accounts.customers.transferEntitlementsToGoogle",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The resource name of the reseller's customer account where the entitlements transfer from. Parent uses the format: accounts/{account_id}/customers/{customer_id}",
                  "pattern": "^accounts/[^/]+/customers/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v1/accounts/{accountsId}/customers/{customersId}:transferEntitlementsToGoogle",
              "path": "v1/{+parent}:transferEntitlementsToGoogle",
              "httpMethod": "POST"
            },
            "create": {
              "request": {
                "$ref": "GoogleCloudChannelV1Customer"
              },
              "response": {
                "$ref": "GoogleCloudChannelV1Customer"
              },
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "flatPath": "v1/accounts/{accountsId}/customers",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/customers",
              "id": "cloudchannel.accounts.customers.create",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The resource name of reseller account in which to create the customer. Parent uses the format: accounts/{account_id}",
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "type": "string"
                }
              },
              "description": "Creates a new Customer resource under the reseller or distributor account. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * INVALID_ARGUMENT: * Required request parameters are missing or invalid. * Domain field value doesn't match the primary email domain. Return value: The newly created Customer resource.",
              "httpMethod": "POST"
            },
            "listPurchasableOffers": {
              "description": "Lists the following: * Offers that you can purchase for a customer. * Offers that you can change for an entitlement. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller * INVALID_ARGUMENT: Required request parameters are missing or invalid.",
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A token for a page of results other than the first page.",
                  "type": "string"
                },
                "changeOfferPurchase.newSku": {
                  "location": "query",
                  "description": "Optional. Resource name of the new target SKU. Provide this SKU when upgrading or downgrading an entitlement. Format: products/{product_id}/skus/{sku_id}",
                  "type": "string"
                },
                "changeOfferPurchase.entitlement": {
                  "description": "Required. Resource name of the entitlement. Format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
                  "location": "query",
                  "type": "string"
                },
                "languageCode": {
                  "description": "Optional. The BCP-47 language code. For example, \"en-US\". The response will localize in the corresponding language code, if specified. The default value is \"en-US\".",
                  "location": "query",
                  "type": "string"
                },
                "createEntitlementPurchase.sku": {
                  "description": "Required. SKU that the result should be restricted to. Format: products/{product_id}/skus/{sku_id}.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. Requested page size. Server might return fewer results than requested. If unspecified, returns at most 100 Offers. The maximum value is 1000; the server will coerce values above 1000."
                },
                "customer": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The resource name of the customer to list Offers for. Format: accounts/{account_id}/customers/{customer_id}.",
                  "location": "path",
                  "pattern": "^accounts/[^/]+/customers/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleCloudChannelV1ListPurchasableOffersResponse"
              },
              "parameterOrder": [
                "customer"
              ],
              "flatPath": "v1/accounts/{accountsId}/customers/{customersId}:listPurchasableOffers",
              "httpMethod": "GET",
              "path": "v1/{+customer}:listPurchasableOffers",
              "id": "cloudchannel.accounts.customers.listPurchasableOffers"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudChannelV1Customer"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^accounts/[^/]+/customers/[^/]+$",
                  "description": "Required. The resource name of the customer to retrieve. Name uses the format: accounts/{account_id}/customers/{customer_id}",
                  "required": true,
                  "location": "path"
                }
              },
              "description": "Returns a requested Customer resource. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: The customer resource doesn't exist. Usually the result of an invalid name parameter. Return value: The Customer resource.",
              "httpMethod": "GET",
              "id": "cloudchannel.accounts.customers.get",
              "flatPath": "v1/accounts/{accountsId}/customers/{customersId}",
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ]
            },
            "listPurchasableSkus": {
              "path": "v1/{+customer}:listPurchasableSkus",
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "flatPath": "v1/accounts/{accountsId}/customers/{customersId}:listPurchasableSkus",
              "response": {
                "$ref": "GoogleCloudChannelV1ListPurchasableSkusResponse"
              },
              "id": "cloudchannel.accounts.customers.listPurchasableSkus",
              "parameterOrder": [
                "customer"
              ],
              "description": "Lists the following: * SKUs that you can purchase for a customer * SKUs that you can upgrade or downgrade for an entitlement. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller. * INVALID_ARGUMENT: Required request parameters are missing or invalid.",
              "parameters": {
                "pageSize": {
                  "description": "Optional. Requested page size. Server might return fewer results than requested. If unspecified, returns at most 100 SKUs. The maximum value is 1000; the server will coerce values above 1000.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "changeOfferPurchase.entitlement": {
                  "type": "string",
                  "description": "Required. Resource name of the entitlement. Format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
                  "location": "query"
                },
                "createEntitlementPurchase.product": {
                  "description": "Required. List SKUs belonging to this Product. Format: products/{product_id}. Supports products/- to retrieve SKUs for all products.",
                  "type": "string",
                  "location": "query"
                },
                "customer": {
                  "type": "string",
                  "description": "Required. The resource name of the customer to list SKUs for. Format: accounts/{account_id}/customers/{customer_id}.",
                  "pattern": "^accounts/[^/]+/customers/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "pageToken": {
                  "description": "Optional. A token for a page of results other than the first page.",
                  "location": "query",
                  "type": "string"
                },
                "changeOfferPurchase.changeType": {
                  "location": "query",
                  "enumDescriptions": [
                    "Not used.",
                    "SKU is an upgrade on the current entitlement.",
                    "SKU is a downgrade on the current entitlement."
                  ],
                  "description": "Required. Change Type for the entitlement.",
                  "type": "string",
                  "enum": [
                    "CHANGE_TYPE_UNSPECIFIED",
                    "UPGRADE",
                    "DOWNGRADE"
                  ]
                },
                "languageCode": {
                  "location": "query",
                  "description": "Optional. The BCP-47 language code. For example, \"en-US\". The response will localize in the corresponding language code, if specified. The default value is \"en-US\".",
                  "type": "string"
                }
              },
              "httpMethod": "GET"
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "description": "Deletes the given Customer permanently and irreversibly. Possible error codes: * PERMISSION_DENIED: The account making the request does not own this customer. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * FAILED_PRECONDITION: The customer has existing entitlements. * NOT_FOUND: No Customer resource found for the name in the request.",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+/customers/[^/]+$",
                  "description": "Required. The resource name of the customer to delete.",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "id": "cloudchannel.accounts.customers.delete",
              "flatPath": "v1/accounts/{accountsId}/customers/{customersId}"
            },
            "patch": {
              "description": "Updates an existing Customer resource for the reseller or distributor. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: No Customer resource found for the name in the request. Return value: The updated Customer resource.",
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudChannelV1Customer"
              },
              "path": "v1/{+name}",
              "id": "cloudchannel.accounts.customers.patch",
              "flatPath": "v1/accounts/{accountsId}/customers/{customersId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Output only. Resource name of the customer. Format: accounts/{account_id}/customers/{customer_id}",
                  "pattern": "^accounts/[^/]+/customers/[^/]+$",
                  "required": true
                },
                "updateMask": {
                  "description": "The update mask that applies to the resource. Optional.",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                }
              },
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleCloudChannelV1Customer"
              }
            }
          },
          "resources": {
            "entitlements": {
              "methods": {
                "activate": {
                  "request": {
                    "$ref": "GoogleCloudChannelV1ActivateEntitlementRequest"
                  },
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements/{entitlementsId}:activate",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^accounts/[^/]+/customers/[^/]+/entitlements/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The resource name of the entitlement to activate. Name uses the format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1/{+name}:activate",
                  "id": "cloudchannel.accounts.customers.entitlements.activate",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "description": "Activates a previously suspended entitlement. Entitlements suspended for pending ToS acceptance can't be activated using this method. An entitlement activation is a long-running operation and it updates the state of the customer entitlement. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: Entitlement resource not found. * SUSPENSION_NOT_RESELLER_INITIATED: Can only activate reseller-initiated suspensions and entitlements that have accepted the TOS. * NOT_SUSPENDED: Can only activate suspended entitlements not in an ACTIVE state. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The ID of a long-running operation. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The Operation metadata will contain an instance of OperationMetadata.",
                  "httpMethod": "POST"
                },
                "create": {
                  "request": {
                    "$ref": "GoogleCloudChannelV1CreateEntitlementRequest"
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/entitlements",
                  "id": "cloudchannel.accounts.customers.entitlements.create",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^accounts/[^/]+/customers/[^/]+$",
                      "location": "path",
                      "description": "Required. The resource name of the reseller's customer account in which to create the entitlement. Parent uses the format: accounts/{account_id}/customers/{customer_id}"
                    }
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "description": "Creates an entitlement for a customer. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller. * INVALID_ARGUMENT: * Required request parameters are missing or invalid. * There is already a customer entitlement for a SKU from the same product family. * INVALID_VALUE: Make sure the OfferId is valid. If it is, contact Google Channel support for further troubleshooting. * NOT_FOUND: The customer or offer resource was not found. * ALREADY_EXISTS: * The SKU was already purchased for the customer. * The customer's primary email already exists. Retry after changing the customer's primary contact email. * CONDITION_NOT_MET or FAILED_PRECONDITION: * The domain required for purchasing a SKU has not been verified. * A pre-requisite SKU required to purchase an Add-On SKU is missing. For example, Google Workspace Business Starter is required to purchase Vault or Drive. * (Developer accounts only) Reseller and resold domain must meet the following naming requirements: * Domain names must start with goog-test. * Domain names must include the reseller domain. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The ID of a long-running operation. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The Operation metadata will contain an instance of OperationMetadata."
                },
                "suspend": {
                  "id": "cloudchannel.accounts.customers.entitlements.suspend",
                  "request": {
                    "$ref": "GoogleCloudChannelV1SuspendEntitlementRequest"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the entitlement to suspend. Name uses the format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
                      "required": true,
                      "location": "path",
                      "pattern": "^accounts/[^/]+/customers/[^/]+/entitlements/[^/]+$",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "httpMethod": "POST",
                  "description": "Suspends a previously fulfilled entitlement. An entitlement suspension is a long-running operation. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: Entitlement resource not found. * NOT_ACTIVE: Entitlement is not active. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The ID of a long-running operation. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The Operation metadata will contain an instance of OperationMetadata.",
                  "path": "v1/{+name}:suspend",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements/{entitlementsId}:suspend"
                },
                "changeOffer": {
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements/{entitlementsId}:changeOffer",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "id": "cloudchannel.accounts.customers.entitlements.changeOffer",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "Updates the Offer for an existing customer entitlement. An entitlement update is a long-running operation and it updates the entitlement as a result of fulfillment. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: Offer or Entitlement resource not found. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The ID of a long-running operation. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The Operation metadata will contain an instance of OperationMetadata.",
                  "request": {
                    "$ref": "GoogleCloudChannelV1ChangeOfferRequest"
                  },
                  "path": "v1/{+name}:changeOffer",
                  "parameters": {
                    "name": {
                      "pattern": "^accounts/[^/]+/customers/[^/]+/entitlements/[^/]+$",
                      "location": "path",
                      "description": "Required. The resource name of the entitlement to update. Name uses the format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
                      "type": "string",
                      "required": true
                    }
                  },
                  "httpMethod": "POST"
                },
                "get": {
                  "id": "cloudchannel.accounts.customers.entitlements.get",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The resource name of the entitlement to retrieve. Name uses the format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
                      "type": "string",
                      "pattern": "^accounts/[^/]+/customers/[^/]+/entitlements/[^/]+$",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements/{entitlementsId}",
                  "response": {
                    "$ref": "GoogleCloudChannelV1Entitlement"
                  },
                  "description": "Returns a requested Entitlement resource. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: The customer entitlement was not found. Return value: The requested Entitlement resource."
                },
                "cancel": {
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "description": "Cancels a previously fulfilled entitlement. An entitlement cancellation is a long-running operation. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * FAILED_PRECONDITION: There are Google Cloud projects linked to the Google Cloud entitlement's Cloud Billing subaccount. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: Entitlement resource not found. * DELETION_TYPE_NOT_ALLOWED: Cancel is only allowed for Google Workspace add-ons, or entitlements for Google Cloud's development platform. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The ID of a long-running operation. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The response will contain google.protobuf.Empty on success. The Operation metadata will contain an instance of OperationMetadata.",
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements/{entitlementsId}:cancel",
                  "request": {
                    "$ref": "GoogleCloudChannelV1CancelEntitlementRequest"
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "id": "cloudchannel.accounts.customers.entitlements.cancel",
                  "path": "v1/{+name}:cancel",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^accounts/[^/]+/customers/[^/]+/entitlements/[^/]+$",
                      "description": "Required. The resource name of the entitlement to cancel. Name uses the format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
                      "location": "path",
                      "type": "string"
                    }
                  }
                },
                "startPaidService": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "cloudchannel.accounts.customers.entitlements.startPaidService",
                  "path": "v1/{+name}:startPaidService",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the entitlement to start a paid service for. Name uses the format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
                      "type": "string",
                      "pattern": "^accounts/[^/]+/customers/[^/]+/entitlements/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "request": {
                    "$ref": "GoogleCloudChannelV1StartPaidServiceRequest"
                  },
                  "description": "Starts paid service for a trial entitlement. Starts paid service for a trial entitlement immediately. This method is only applicable if a plan is set up for a trial entitlement but has some trial days remaining. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: Entitlement resource not found. * FAILED_PRECONDITION/NOT_IN_TRIAL: This method only works for entitlement on trial plans. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The ID of a long-running operation. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The Operation metadata will contain an instance of OperationMetadata.",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements/{entitlementsId}:startPaidService",
                  "httpMethod": "POST"
                },
                "list": {
                  "response": {
                    "$ref": "GoogleCloudChannelV1ListEntitlementsResponse"
                  },
                  "path": "v1/{+parent}/entitlements",
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements",
                  "id": "cloudchannel.accounts.customers.entitlements.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The resource name of the reseller's customer account to list entitlements for. Parent uses the format: accounts/{account_id}/customers/{customer_id}",
                      "pattern": "^accounts/[^/]+/customers/[^/]+$",
                      "required": true
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A token for a page of results other than the first page. Obtained using ListEntitlementsResponse.next_page_token of the previous CloudChannelService.ListEntitlements call.",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. Requested page size. Server might return fewer results than requested. If unspecified, return at most 50 entitlements. The maximum value is 100; the server will coerce values above 100."
                    }
                  },
                  "description": "Lists Entitlements belonging to a customer. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller. * INVALID_ARGUMENT: Required request parameters are missing or invalid. Return value: A list of the customer's Entitlements.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET"
                },
                "changeParameters": {
                  "path": "v1/{+name}:changeParameters",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Change parameters of the entitlement. An entitlement update is a long-running operation and it updates the entitlement as a result of fulfillment. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller. * INVALID_ARGUMENT: Required request parameters are missing or invalid. For example, the number of seats being changed is greater than the allowed number of max seats, or decreasing seats for a commitment based plan. * NOT_FOUND: Entitlement resource not found. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The ID of a long-running operation. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The Operation metadata will contain an instance of OperationMetadata.",
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements/{entitlementsId}:changeParameters",
                  "request": {
                    "$ref": "GoogleCloudChannelV1ChangeParametersRequest"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^accounts/[^/]+/customers/[^/]+/entitlements/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the entitlement to update. Name uses the format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "cloudchannel.accounts.customers.entitlements.changeParameters"
                },
                "changeRenewalSettings": {
                  "request": {
                    "$ref": "GoogleCloudChannelV1ChangeRenewalSettingsRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v1/accounts/{accountsId}/customers/{customersId}/entitlements/{entitlementsId}:changeRenewalSettings",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the entitlement to update. Name uses the format: accounts/{account_id}/customers/{customer_id}/entitlements/{entitlement_id}",
                      "type": "string",
                      "pattern": "^accounts/[^/]+/customers/[^/]+/entitlements/[^/]+$",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/apps.order"
                  ],
                  "path": "v1/{+name}:changeRenewalSettings",
                  "description": "Updates the renewal settings for an existing customer entitlement. An entitlement update is a long-running operation and it updates the entitlement as a result of fulfillment. Possible error codes: * PERMISSION_DENIED: The customer doesn't belong to the reseller. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: Entitlement resource not found. * NOT_COMMITMENT_PLAN: Renewal Settings are only applicable for a commitment plan. Can't enable or disable renewals for non-commitment plans. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The ID of a long-running operation. To get the results of the operation, call the GetOperation method of CloudChannelOperationsService. The Operation metadata will contain an instance of OperationMetadata.",
                  "id": "cloudchannel.accounts.customers.entitlements.changeRenewalSettings"
                }
              }
            }
          }
        },
        "offers": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "id": "cloudchannel.accounts.offers.list",
              "description": "Lists the Offers the reseller can sell. Possible error codes: * INVALID_ARGUMENT: Required request parameters are missing or invalid.",
              "scopes": [
                "https://www.googleapis.com/auth/apps.order"
              ],
              "response": {
                "$ref": "GoogleCloudChannelV1ListOffersResponse"
              },
              "flatPath": "v1/accounts/{accountsId}/offers",
              "httpMethod": "GET",
              "path": "v1/{+parent}/offers",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "Optional. Requested page size. Server might return fewer results than requested. If unspecified, returns at most 500 Offers. The maximum value is 1000; the server will coerce values above 1000.",
                  "type": "integer",
                  "format": "int32"
                },
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The resource name of the reseller account from which to list Offers. Parent uses the format: accounts/{account_id}.",
                  "required": true
                },
                "languageCode": {
                  "location": "query",
                  "description": "Optional. The BCP-47 language code. For example, \"en-US\". The response will localize in the corresponding language code, if specified. The default value is \"en-US\".",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Optional. A token for a page of results other than the first page.",
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "description": "Optional. The expression to filter results by name (name of the Offer), sku.name (name of the SKU), or sku.product.name (name of the Product). Example 1: sku.product.name=products/p1 AND sku.name!=products/p1/skus/s1 Example 2: name=accounts/a1/offers/o1",
                  "location": "query",
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "methods": {
        "register": {
          "parameters": {
            "account": {
              "pattern": "^accounts/[^/]+$",
              "location": "path",
              "type": "string",
              "description": "Required. Resource name of the account.",
              "required": true
            }
          },
          "request": {
            "$ref": "GoogleCloudChannelV1RegisterSubscriberRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/apps.order"
          ],
          "response": {
            "$ref": "GoogleCloudChannelV1RegisterSubscriberResponse"
          },
          "id": "cloudchannel.accounts.register",
          "description": "Registers a service account with subscriber privileges on the Cloud Pub/Sub topic for this Channel Services account. After you create a subscriber, you get the events through SubscriberEvent Possible error codes: * PERMISSION_DENIED: The reseller account making the request and the provided reseller account are different, or the impersonated user is not a super admin. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The topic name with the registered service email address.",
          "path": "v1/{+account}:register",
          "flatPath": "v1/accounts/{accountsId}:register",
          "httpMethod": "POST",
          "parameterOrder": [
            "account"
          ]
        },
        "listTransferableSkus": {
          "scopes": [
            "https://www.googleapis.com/auth/apps.order"
          ],
          "description": "List TransferableSkus of a customer based on the Cloud Identity ID or Customer Name in the request. Use this method to list the entitlements information of an unowned customer. You should provide the customer's Cloud Identity ID or Customer Name. Possible error codes: * PERMISSION_DENIED: * The customer doesn't belong to the reseller and has no auth token. * The supplied auth token is invalid. * The reseller account making the request is different from the reseller account in the query. * INVALID_ARGUMENT: Required request parameters are missing or invalid. Return value: A list of the customer's TransferableSku.",
          "httpMethod": "POST",
          "id": "cloudchannel.accounts.listTransferableSkus",
          "request": {
            "$ref": "GoogleCloudChannelV1ListTransferableSkusRequest"
          },
          "path": "v1/{+parent}:listTransferableSkus",
          "flatPath": "v1/accounts/{accountsId}:listTransferableSkus",
          "response": {
            "$ref": "GoogleCloudChannelV1ListTransferableSkusResponse"
          },
          "parameters": {
            "parent": {
              "location": "path",
              "description": "Required. The reseller account's resource name. Parent uses the format: accounts/{account_id}",
              "required": true,
              "pattern": "^accounts/[^/]+$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "parent"
          ]
        },
        "listSubscribers": {
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleCloudChannelV1ListSubscribersResponse"
          },
          "description": "Lists service accounts with subscriber privileges on the Cloud Pub/Sub topic created for this Channel Services account. Possible error codes: * PERMISSION_DENIED: The reseller account making the request and the provided reseller account are different, or the impersonated user is not a super admin. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: The topic resource doesn't exist. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: A list of service email addresses.",
          "parameters": {
            "account": {
              "pattern": "^accounts/[^/]+$",
              "description": "Required. Resource name of the account.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "pageToken": {
              "description": "Optional. A page token, received from a previous `ListSubscribers` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSubscribers` must match the call that provided the page token.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "format": "int32",
              "location": "query",
              "description": "Optional. The maximum number of service accounts to return. The service may return fewer than this value. If unspecified, returns at most 100 service accounts. The maximum value is 1000; the server will coerce values above 1000.",
              "type": "integer"
            }
          },
          "parameterOrder": [
            "account"
          ],
          "path": "v1/{+account}:listSubscribers",
          "id": "cloudchannel.accounts.listSubscribers",
          "flatPath": "v1/accounts/{accountsId}:listSubscribers",
          "scopes": [
            "https://www.googleapis.com/auth/apps.order"
          ]
        },
        "checkCloudIdentityAccountsExist": {
          "flatPath": "v1/accounts/{accountsId}:checkCloudIdentityAccountsExist",
          "parameters": {
            "parent": {
              "pattern": "^accounts/[^/]+$",
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. The reseller account's resource name. Parent uses the format: accounts/{account_id}"
            }
          },
          "response": {
            "$ref": "GoogleCloudChannelV1CheckCloudIdentityAccountsExistResponse"
          },
          "request": {
            "$ref": "GoogleCloudChannelV1CheckCloudIdentityAccountsExistRequest"
          },
          "id": "cloudchannel.accounts.checkCloudIdentityAccountsExist",
          "scopes": [
            "https://www.googleapis.com/auth/apps.order"
          ],
          "description": "Confirms the existence of Cloud Identity accounts based on the domain and if the Cloud Identity accounts are owned by the reseller. Possible error codes: * PERMISSION_DENIED: The reseller account making the request is different from the reseller account in the API request. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * INVALID_VALUE: Invalid domain value in the request. Return value: A list of CloudIdentityCustomerAccount resources for the domain (may be empty) Note: in the v1alpha1 version of the API, a NOT_FOUND error returns if no CloudIdentityCustomerAccount resources match the domain.",
          "path": "v1/{+parent}:checkCloudIdentityAccountsExist",
          "httpMethod": "POST",
          "parameterOrder": [
            "parent"
          ]
        },
        "listTransferableOffers": {
          "scopes": [
            "https://www.googleapis.com/auth/apps.order"
          ],
          "id": "cloudchannel.accounts.listTransferableOffers",
          "description": "List TransferableOffers of a customer based on Cloud Identity ID or Customer Name in the request. Use this method when a reseller gets the entitlement information of an unowned customer. The reseller should provide the customer's Cloud Identity ID or Customer Name. Possible error codes: * PERMISSION_DENIED: * The customer doesn't belong to the reseller and has no auth token. * The supplied auth token is invalid. * The reseller account making the request is different from the reseller account in the query. * INVALID_ARGUMENT: Required request parameters are missing or invalid. Return value: List of TransferableOffer for the given customer and SKU.",
          "response": {
            "$ref": "GoogleCloudChannelV1ListTransferableOffersResponse"
          },
          "flatPath": "v1/accounts/{accountsId}:listTransferableOffers",
          "request": {
            "$ref": "GoogleCloudChannelV1ListTransferableOffersRequest"
          },
          "parameters": {
            "parent": {
              "description": "Required. The resource name of the reseller's account.",
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^accounts/[^/]+$"
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "parent"
          ],
          "path": "v1/{+parent}:listTransferableOffers"
        },
        "unregister": {
          "httpMethod": "POST",
          "parameterOrder": [
            "account"
          ],
          "response": {
            "$ref": "GoogleCloudChannelV1UnregisterSubscriberResponse"
          },
          "parameters": {
            "account": {
              "location": "path",
              "required": true,
              "description": "Required. Resource name of the account.",
              "type": "string",
              "pattern": "^accounts/[^/]+$"
            }
          },
          "request": {
            "$ref": "GoogleCloudChannelV1UnregisterSubscriberRequest"
          },
          "flatPath": "v1/accounts/{accountsId}:unregister",
          "id": "cloudchannel.accounts.unregister",
          "description": "Unregisters a service account with subscriber privileges on the Cloud Pub/Sub topic created for this Channel Services account. If there are no service accounts left with subscriber privileges, this deletes the topic. You can call ListSubscribers to check for these accounts. Possible error codes: * PERMISSION_DENIED: The reseller account making the request and the provided reseller account are different, or the impersonated user is not a super admin. * INVALID_ARGUMENT: Required request parameters are missing or invalid. * NOT_FOUND: The topic resource doesn't exist. * INTERNAL: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. * UNKNOWN: Any non-user error related to a technical issue in the backend. Contact Cloud Channel support. Return value: The topic name that unregistered the service email address. Returns a success response if the service email address wasn't registered with the topic.",
          "path": "v1/{+account}:unregister",
          "scopes": [
            "https://www.googleapis.com/auth/apps.order"
          ]
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "revision": "20210317",
  "name": "cloudchannel",
  "parameters": {
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "id": "cloudchannel:v1",
  "batchPath": "batch",
  "mtlsRootUrl": "https://cloudchannel.mtls.googleapis.com/",
  "schemas": {
    "GoogleCloudChannelV1Constraints": {
      "description": "Represents the constraints for buying the Offer.",
      "type": "object",
      "id": "GoogleCloudChannelV1Constraints",
      "properties": {
        "customerConstraints": {
          "description": "Represents constraints required to purchase the Offer for a customer.",
          "$ref": "GoogleCloudChannelV1CustomerConstraints"
        }
      }
    },
    "GoogleCloudChannelV1AssociationInfo": {
      "id": "GoogleCloudChannelV1AssociationInfo",
      "properties": {
        "baseEntitlement": {
          "type": "string",
          "description": "The name of the base entitlement, for which this entitlement is an add-on."
        }
      },
      "description": "Association links that an entitlement has to other entitlements.",
      "type": "object"
    },
    "GoogleCloudChannelV1CustomerConstraints": {
      "id": "GoogleCloudChannelV1CustomerConstraints",
      "description": "Represents constraints required to purchase the Offer for a customer.",
      "properties": {
        "allowedRegions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Allowed geographical regions of the customer."
        },
        "allowedCustomerTypes": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value. This state doesn't show unless an error occurs.",
              "Domain-owning customer which needs domain verification to use services.",
              "Team customer which needs email verification to use services."
            ],
            "enum": [
              "CUSTOMER_TYPE_UNSPECIFIED",
              "DOMAIN",
              "TEAM"
            ]
          },
          "description": "Allowed Customer Type.",
          "type": "array"
        },
        "promotionalOrderTypes": {
          "items": {
            "enum": [
              "PROMOTIONAL_TYPE_UNSPECIFIED",
              "NEW_UPGRADE",
              "TRANSFER",
              "PROMOTION_SWITCH"
            ],
            "type": "string",
            "enumDescriptions": [
              "Not used.",
              "Order used for new customers, trial conversions and upgrades.",
              "All orders for transferring an existing customer.",
              "Orders for modifying an existing customer's promotion on the same SKU."
            ]
          },
          "description": "Allowed Promotional Order Type. Present for Promotional offers.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1Value": {
      "id": "GoogleCloudChannelV1Value",
      "properties": {
        "doubleValue": {
          "type": "number",
          "description": "Represents a double value.",
          "format": "double"
        },
        "int64Value": {
          "description": "Represents an int64 value.",
          "format": "int64",
          "type": "string"
        },
        "stringValue": {
          "type": "string",
          "description": "Represents a string value."
        },
        "protoValue": {
          "type": "object",
          "description": "Represents an 'Any' proto value.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "type": "object",
      "description": "Data type and value of a parameter."
    },
    "GoogleCloudChannelV1TransferEntitlementsRequest": {
      "properties": {
        "authToken": {
          "type": "string",
          "description": "The super admin of the resold customer generates this token to authorize a reseller to access their Cloud Identity and purchase entitlements on their behalf. You can omit this token after authorization. See https://support.google.com/a/answer/7643790 for more details."
        },
        "entitlements": {
          "description": "Required. The new entitlements to create or transfer.",
          "items": {
            "$ref": "GoogleCloudChannelV1Entitlement"
          },
          "type": "array"
        },
        "requestId": {
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).",
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1TransferEntitlementsRequest",
      "type": "object",
      "description": "Request message for CloudChannelService.TransferEntitlements."
    },
    "GoogleCloudChannelV1alpha1CustomerEvent": {
      "description": "Represents Pub/Sub message content describing customer update.",
      "type": "object",
      "properties": {
        "customer": {
          "description": "Resource name of the customer. Format: accounts/{account_id}/customers/{customer_id}",
          "type": "string"
        },
        "eventType": {
          "description": "Type of event which happened on the customer.",
          "enum": [
            "TYPE_UNSPECIFIED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This state doesn't show unless an error occurs."
          ]
        }
      },
      "id": "GoogleCloudChannelV1alpha1CustomerEvent"
    },
    "GoogleCloudChannelV1ProvisionedService": {
      "type": "object",
      "properties": {
        "productId": {
          "description": "Output only. The product pertaining to the provisioning resource as specified in the Offer.",
          "readOnly": true,
          "type": "string"
        },
        "provisioningId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Provisioning ID of the entitlement. For Google Workspace, this would be the underlying Subscription ID."
        },
        "skuId": {
          "description": "Output only. The SKU pertaining to the provisioning resource as specified in the Offer.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Service provisioned for an entitlement.",
      "id": "GoogleCloudChannelV1ProvisionedService"
    },
    "GoogleCloudChannelV1alpha1OperationMetadata": {
      "id": "GoogleCloudChannelV1alpha1OperationMetadata",
      "type": "object",
      "properties": {
        "operationType": {
          "type": "string",
          "description": "The RPC that initiated this Long Running Operation.",
          "enumDescriptions": [
            "Default value. This state doesn't show unless an error occurs.",
            "Long Running Operation was triggered by CreateEntitlement.",
            "Long Running Operation was triggered by ChangeQuantity.",
            "Long Running Operation was triggered by ChangeRenewalSettings.",
            "Long Running Operation was triggered by ChangePlan.",
            "Long Running Operation was triggered by StartPaidService.",
            "Long Running Operation was triggered by ChangeSku.",
            "Long Running Operation was triggered by ActivateEntitlement.",
            "Long Running Operation was triggered by SuspendEntitlement.",
            "Long Running Operation was triggered by CancelEntitlement.",
            "Long Running Operation was triggered by TransferEntitlements.",
            "Long Running Operation was triggered by TransferEntitlementsToGoogle.",
            "Long Running Operation was triggered by ChangeOffer.",
            "Long Running Operation was triggered by ChangeParameters.",
            "Long Running Operation was triggered by ProvisionCloudIdentity."
          ],
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "CREATE_ENTITLEMENT",
            "CHANGE_QUANTITY",
            "CHANGE_RENEWAL_SETTINGS",
            "CHANGE_PLAN",
            "START_PAID_SERVICE",
            "CHANGE_SKU",
            "ACTIVATE_ENTITLEMENT",
            "SUSPEND_ENTITLEMENT",
            "CANCEL_ENTITLEMENT",
            "TRANSFER_ENTITLEMENTS",
            "TRANSFER_ENTITLEMENTS_TO_GOOGLE",
            "CHANGE_OFFER",
            "CHANGE_PARAMETERS",
            "PROVISION_CLOUD_IDENTITY"
          ]
        }
      },
      "description": "Provides contextual information about a google.longrunning.Operation."
    },
    "GoogleCloudChannelV1alpha1CommitmentSettings": {
      "type": "object",
      "properties": {
        "startTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Commitment start timestamp."
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Commitment end timestamp."
        },
        "renewalSettings": {
          "$ref": "GoogleCloudChannelV1alpha1RenewalSettings",
          "description": "Optional. Renewal settings applicable for a commitment-based Offer."
        }
      },
      "id": "GoogleCloudChannelV1alpha1CommitmentSettings",
      "description": "Commitment settings for commitment-based offers."
    },
    "GoogleCloudChannelV1RenewalSettings": {
      "description": "Renewal settings for renewable Offers.",
      "id": "GoogleCloudChannelV1RenewalSettings",
      "properties": {
        "enableRenewal": {
          "description": "If false, the plan will be completed at the end date.",
          "type": "boolean"
        },
        "resizeUnitCount": {
          "type": "boolean",
          "description": "If true and enable_renewal = true, the unit (for example seats or licenses) will be set to the number of active units at renewal time."
        },
        "paymentPlan": {
          "enumDescriptions": [
            "Not used.",
            "Commitment.",
            "No commitment.",
            "Free.",
            "Trial.",
            "Price and ordering not available through API."
          ],
          "enum": [
            "PAYMENT_PLAN_UNSPECIFIED",
            "COMMITMENT",
            "FLEXIBLE",
            "FREE",
            "TRIAL",
            "OFFLINE"
          ],
          "description": "Describes how a reseller will be billed.",
          "type": "string"
        },
        "paymentCycle": {
          "$ref": "GoogleCloudChannelV1Period",
          "description": "Describes how frequently the reseller will be billed, such as once per month."
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1TransferEntitlementsResponse": {
      "properties": {
        "entitlements": {
          "items": {
            "$ref": "GoogleCloudChannelV1Entitlement"
          },
          "description": "The transferred entitlements.",
          "type": "array"
        }
      },
      "id": "GoogleCloudChannelV1TransferEntitlementsResponse",
      "description": "Response message for CloudChannelService.TransferEntitlements. This is put in the response field of google.longrunning.Operation.",
      "type": "object"
    },
    "GoogleCloudChannelV1ListSkusResponse": {
      "type": "object",
      "properties": {
        "skus": {
          "items": {
            "$ref": "GoogleCloudChannelV1Sku"
          },
          "type": "array",
          "description": "The list of SKUs requested."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results.",
          "type": "string"
        }
      },
      "description": "Response message for ListSkus.",
      "id": "GoogleCloudChannelV1ListSkusResponse"
    },
    "GoogleCloudChannelV1ProvisionCloudIdentityRequest": {
      "id": "GoogleCloudChannelV1ProvisionCloudIdentityRequest",
      "description": "Request message for CloudChannelService.ProvisionCloudIdentity",
      "type": "object",
      "properties": {
        "validateOnly": {
          "description": "Validate the request and preview the review, but do not post it.",
          "type": "boolean"
        },
        "cloudIdentityInfo": {
          "description": "CloudIdentity-specific customer information.",
          "$ref": "GoogleCloudChannelV1CloudIdentityInfo"
        },
        "user": {
          "description": "Admin user information.",
          "$ref": "GoogleCloudChannelV1AdminUser"
        }
      }
    },
    "GoogleCloudChannelV1RegisterSubscriberResponse": {
      "properties": {
        "topic": {
          "description": "Name of the topic the subscriber will listen to.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response Message for RegisterSubscriber.",
      "id": "GoogleCloudChannelV1RegisterSubscriberResponse"
    },
    "GoogleCloudChannelV1alpha1TransferEntitlementsResponse": {
      "id": "GoogleCloudChannelV1alpha1TransferEntitlementsResponse",
      "description": "Response message for CloudChannelService.TransferEntitlements. This is put in the response field of google.longrunning.Operation.",
      "properties": {
        "entitlements": {
          "description": "The transferred entitlements.",
          "items": {
            "$ref": "GoogleCloudChannelV1alpha1Entitlement"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudChannelV1ListChannelPartnerLinksResponse": {
      "id": "GoogleCloudChannelV1ListChannelPartnerLinksResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass to ListChannelPartnerLinksRequest.page_token to obtain that page.",
          "type": "string"
        },
        "channelPartnerLinks": {
          "type": "array",
          "description": "The Channel partner links for a reseller.",
          "items": {
            "$ref": "GoogleCloudChannelV1ChannelPartnerLink"
          }
        }
      },
      "type": "object",
      "description": "Response message for CloudChannelService.ListChannelPartnerLinks."
    },
    "GoogleCloudChannelV1Period": {
      "description": "Represents period in days/months/years.",
      "type": "object",
      "properties": {
        "periodType": {
          "description": "Period Type.",
          "enum": [
            "PERIOD_TYPE_UNSPECIFIED",
            "DAY",
            "MONTH",
            "YEAR"
          ],
          "enumDescriptions": [
            "Not used.",
            "Day.",
            "Month.",
            "Year."
          ],
          "type": "string"
        },
        "duration": {
          "description": "Total duration of Period Type defined.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudChannelV1Period"
    },
    "GoogleCloudChannelV1CommitmentSettings": {
      "properties": {
        "renewalSettings": {
          "$ref": "GoogleCloudChannelV1RenewalSettings",
          "description": "Optional. Renewal settings applicable for a commitment-based Offer."
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Commitment start timestamp."
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Commitment end timestamp.",
          "readOnly": true
        }
      },
      "description": "Commitment settings for commitment-based offers.",
      "type": "object",
      "id": "GoogleCloudChannelV1CommitmentSettings"
    },
    "GoogleCloudChannelV1TransferEntitlementsToGoogleRequest": {
      "properties": {
        "requestId": {
          "description": "Optional. You can specify an optional unique request ID, and if you need to retry your request, the server will know to ignore the request if it's complete. For example, you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if it received the original operation with the same request ID. If it did, it will ignore the second request. The request ID must be a valid [UUID](https://tools.ietf.org/html/rfc4122) with the exception that zero UUID is not supported (`00000000-0000-0000-0000-000000000000`).",
          "type": "string"
        },
        "entitlements": {
          "items": {
            "$ref": "GoogleCloudChannelV1Entitlement"
          },
          "type": "array",
          "description": "Required. The entitlements to transfer to Google."
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1TransferEntitlementsToGoogleRequest",
      "description": "Request message for CloudChannelService.TransferEntitlementsToGoogle."
    },
    "GoogleCloudChannelV1ListTransferableSkusResponse": {
      "description": "Response message for CloudChannelService.ListTransferableSkus.",
      "properties": {
        "transferableSkus": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudChannelV1TransferableSku"
          },
          "description": "Information about existing SKUs for a customer that needs a transfer."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass to ListTransferableSkusRequest.page_token to obtain that page.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudChannelV1ListTransferableSkusResponse"
    },
    "GoogleCloudChannelV1alpha1Value": {
      "description": "Data type and value of a parameter.",
      "id": "GoogleCloudChannelV1alpha1Value",
      "properties": {
        "int64Value": {
          "format": "int64",
          "type": "string",
          "description": "Represents an int64 value."
        },
        "protoValue": {
          "description": "Represents an 'Any' proto value.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "doubleValue": {
          "type": "number",
          "format": "double",
          "description": "Represents a double value."
        },
        "stringValue": {
          "description": "Represents a string value.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "properties": {},
      "id": "GoogleProtobufEmpty",
      "type": "object"
    },
    "GoogleCloudChannelV1ListSubscribersResponse": {
      "properties": {
        "topic": {
          "type": "string",
          "description": "Name of the topic registered with the reseller."
        },
        "serviceAccounts": {
          "description": "List of service accounts which have subscriber access to the topic.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleCloudChannelV1ListSubscribersResponse",
      "type": "object",
      "description": "Response Message for ListSubscribers."
    },
    "GoogleCloudChannelV1OperationMetadata": {
[...]
