{
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "servicePath": "",
  "basePath": "",
  "kind": "discovery#restDescription",
  "revision": "20201214",
  "description": "Creates, reads, and updates metadata for Google Cloud Platform resource containers.",
  "rootUrl": "https://cloudresourcemanager.googleapis.com/",
  "ownerName": "Google",
  "name": "cloudresourcemanager",
  "mtlsRootUrl": "https://cloudresourcemanager.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud Platform services"
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "canonicalName": "Cloud Resource Manager",
  "id": "cloudresourcemanager:v1",
  "fullyEncodeReservedExpansion": true,
  "version": "v1",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    }
  },
  "schemas": {
    "BooleanPolicy": {
      "type": "object",
      "description": "Used in `policy_type` to specify how `boolean_policy` will behave at this resource.",
      "id": "BooleanPolicy",
      "properties": {
        "enforced": {
          "description": "If `true`, then the `Policy` is enforced. If `false`, then any configuration is acceptable. Suppose you have a `Constraint` `constraints/compute.disableSerialPortAccess` with `constraint_default` set to `ALLOW`. A `Policy` for that `Constraint` exhibits the following behavior: - If the `Policy` at this resource has enforced set to `false`, serial port connection attempts will be allowed. - If the `Policy` at this resource has enforced set to `true`, serial port connection attempts will be refused. - If the `Policy` at this resource is `RestoreDefault`, serial port connection attempts will be allowed. - If no `Policy` is set at this resource or anywhere higher in the resource hierarchy, serial port connection attempts will be allowed. - If no `Policy` is set at this resource, but one exists higher in the resource hierarchy, the behavior is as if the`Policy` were set at this resource. The following examples demonstrate the different possible layerings: Example 1 (nearest `Constraint` wins): `organizations/foo` has a `Policy` with: {enforced: false} `projects/bar` has no `Policy` set. The constraint at `projects/bar` and `organizations/foo` will not be enforced. Example 2 (enforcement gets replaced): `organizations/foo` has a `Policy` with: {enforced: false} `projects/bar` has a `Policy` with: {enforced: true} The constraint at `organizations/foo` is not enforced. The constraint at `projects/bar` is enforced. Example 3 (RestoreDefault): `organizations/foo` has a `Policy` with: {enforced: true} `projects/bar` has a `Policy` with: {RestoreDefault: {}} The constraint at `organizations/foo` is enforced. The constraint at `projects/bar` is not enforced, because `constraint_default` for the `Constraint` is `ALLOW`.",
          "type": "boolean"
        }
      }
    },
    "CreateProjectMetadata": {
      "description": "A status object which is used as the `metadata` field for the Operation returned by CreateProject. It provides insight for when significant phases of Project creation have completed.",
      "id": "CreateProjectMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Creation time of the project creation workflow.",
          "type": "string",
          "format": "google-datetime"
        },
        "ready": {
          "description": "True if the project creation process is complete.",
          "type": "boolean"
        },
        "gettable": {
          "description": "True if the project can be retrieved using GetProject. No other operations on the project are guaranteed to work until the project creation is complete.",
          "type": "boolean"
        }
      }
    },
    "ProjectCreationStatus": {
      "description": "A status object which is used as the `metadata` field for the Operation returned by CreateProject. It provides insight for when significant phases of Project creation have completed.",
      "id": "ProjectCreationStatus",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Creation time of the project creation workflow.",
          "type": "string"
        },
        "ready": {
          "type": "boolean",
          "description": "True if the project creation process is complete."
        },
        "gettable": {
          "type": "boolean",
          "description": "True if the project can be retrieved using GetProject. No other operations on the project are guaranteed to work until the project creation is complete."
        }
      }
    },
    "UpdateFolderMetadata": {
      "description": "A status object which is used as the `metadata` field for the Operation returned by UpdateFolder.",
      "properties": {},
      "id": "UpdateFolderMetadata",
      "type": "object"
    },
    "TestIamPermissionsRequest": {
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as '*' or 'storage.*') are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array"
        }
      },
      "type": "object",
      "id": "TestIamPermissionsRequest"
    },
    "CreateTagKeyMetadata": {
      "description": "Runtime operation information for creating a TagKey.",
      "properties": {},
      "type": "object",
      "id": "CreateTagKeyMetadata"
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message for `TestIamPermissions` method."
    },
    "CreateTagValueMetadata": {
      "type": "object",
      "description": "Runtime operation information for creating a TagValue.",
      "properties": {},
      "id": "CreateTagValueMetadata"
    },
    "SearchOrganizationsResponse": {
      "description": "The response returned from the `SearchOrganizations` method.",
      "id": "SearchOrganizationsResponse",
      "type": "object",
      "properties": {
        "organizations": {
          "description": "The list of Organizations that matched the search query, possibly paginated.",
          "items": {
            "$ref": "Organization"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token to be used to retrieve the next page of results. If the result is too large to fit within the page size specified in the request, this field will be set with a token that can be used to fetch the next page of results. If this field is empty, it indicates that this response contains the last page of results."
        }
      }
    },
    "ListAvailableOrgPolicyConstraintsRequest": {
      "description": "The request sent to the `ListAvailableOrgPolicyConstraints` method on the project, folder, or organization.",
      "type": "object",
      "id": "ListAvailableOrgPolicyConstraintsRequest",
      "properties": {
        "pageToken": {
          "type": "string",
          "description": "Page token used to retrieve the next page. This is currently unsupported and will be ignored. The server may at any point start using this field."
        },
        "pageSize": {
          "description": "Size of the pages to be returned. This is currently unsupported and will be ignored. The server may at any point start using this field to limit page size.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "DeleteTagKeyMetadata": {
      "id": "DeleteTagKeyMetadata",
      "properties": {},
      "type": "object",
      "description": "Runtime operation information for deleting a TagKey."
    },
    "GetIamPolicyRequest": {
      "description": "Request message for `GetIamPolicy` method.",
      "id": "GetIamPolicyRequest",
      "type": "object",
      "properties": {
        "options": {
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`.",
          "$ref": "GetPolicyOptions"
        }
      }
    },
    "GetAncestryRequest": {
      "description": "The request sent to the GetAncestry method.",
      "properties": {},
      "id": "GetAncestryRequest",
      "type": "object"
    },
    "ListOrgPoliciesRequest": {
      "description": "The request sent to the ListOrgPolicies method.",
      "id": "ListOrgPoliciesRequest",
      "properties": {
        "pageSize": {
          "description": "Size of the pages to be returned. This is currently unsupported and will be ignored. The server may at any point start using this field to limit page size.",
          "format": "int32",
          "type": "integer"
        },
        "pageToken": {
          "type": "string",
          "description": "Page token used to retrieve the next page. This is currently unsupported and will be ignored. The server may at any point start using this field."
        }
      },
      "type": "object"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "Operation",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "response": {
          "type": "object",
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      }
    },
    "DeleteTagValueMetadata": {
      "properties": {},
      "type": "object",
      "id": "DeleteTagValueMetadata",
      "description": "Runtime operation information for deleting a TagValue."
    },
    "Project": {
      "description": "A Project is a high-level Google Cloud Platform entity. It is a container for ACLs, APIs, App Engine Apps, VMs, and other Google Cloud Platform resources.",
      "id": "Project",
      "properties": {
        "name": {
          "type": "string",
          "description": "The optional user-assigned display name of the Project. When present it must be between 4 to 30 characters. Allowed characters are: lowercase and uppercase letters, numbers, hyphen, single-quote, double-quote, space, and exclamation point. Example: `My Project` Read-write."
        },
        "parent": {
          "$ref": "ResourceId",
          "description": "An optional reference to a parent Resource. Supported parent types include \"organization\" and \"folder\". Once set, the parent cannot be cleared. The `parent` can be set on creation or using the `UpdateProject` method; the end user must have the `resourcemanager.projects.create` permission on the parent."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The labels associated with this Project. Label keys must be between 1 and 63 characters long and must conform to the following regular expression: a-z{0,62}. Label values must be between 0 and 63 characters long and must conform to the regular expression [a-z0-9_-]{0,63}. A label value can be empty. No more than 256 labels can be associated with a given resource. Clients should store labels in a representation such as JSON that does not depend on specific characters being disallowed. Example: \"environment\" : \"dev\" Read-write."
        },
        "projectId": {
          "type": "string",
          "description": "The unique, user-assigned ID of the Project. It must be 6 to 30 lowercase letters, digits, or hyphens. It must start with a letter. Trailing hyphens are prohibited. Example: `tokyo-rain-123` Read-only after creation."
        },
        "projectNumber": {
          "format": "int64",
          "description": "The number uniquely identifying the project. Example: `415104041262` Read-only.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Creation time. Read-only.",
          "type": "string"
        },
        "lifecycleState": {
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETE_REQUESTED",
            "DELETE_IN_PROGRESS"
          ],
          "type": "string",
          "description": "The Project lifecycle state. Read-only.",
          "enumDescriptions": [
            "Unspecified state. This is only used/useful for distinguishing unset values.",
            "The normal and active state.",
            "The project has been marked for deletion by the user (by invoking DeleteProject) or by the system (Google Cloud Platform). This can generally be reversed by invoking UndeleteProject.",
            "This lifecycle state is no longer used and not returned by the API."
          ]
        }
      },
      "type": "object"
    },
    "UpdateTagKeyMetadata": {
      "type": "object",
      "description": "Runtime operation information for updating a TagKey.",
      "properties": {},
      "id": "UpdateTagKeyMetadata"
    },
    "CloudresourcemanagerGoogleCloudResourcemanagerV2beta1FolderOperation": {
      "description": "Metadata describing a long running folder operation",
      "id": "CloudresourcemanagerGoogleCloudResourcemanagerV2beta1FolderOperation",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The display name of the folder.",
          "type": "string"
        },
        "sourceParent": {
          "description": "The resource name of the folder's parent. Only applicable when the operation_type is MOVE.",
          "type": "string"
        },
        "operationType": {
          "enumDescriptions": [
            "Operation type not specified.",
            "A create folder operation.",
            "A move folder operation."
          ],
          "type": "string",
          "description": "The type of this operation.",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "CREATE",
            "MOVE"
          ]
        },
        "destinationParent": {
          "description": "The resource name of the folder or organization we are either creating the folder under or moving the folder to.",
          "type": "string"
        }
      }
    },
    "ListOrgPoliciesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Page token used to retrieve the next page. This is currently not used, but the server may at any point start supplying a valid token."
        },
        "policies": {
          "items": {
            "$ref": "OrgPolicy"
          },
          "description": "The `Policies` that are set on the resource. It will be empty if no `Policies` are set.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "The response returned from the `ListOrgPolicies` method. It will be empty if no `Policies` are set on the resource.",
      "id": "ListOrgPoliciesResponse"
    },
    "Ancestor": {
      "type": "object",
      "description": "Identifying information for a single ancestor of a project.",
      "id": "Ancestor",
      "properties": {
        "resourceId": {
          "$ref": "ResourceId",
          "description": "Resource id of the ancestor."
        }
      }
    },
    "DeleteProjectMetadata": {
      "properties": {},
      "type": "object",
      "description": "A status object which is used as the `metadata` field for the Operation returned by DeleteProject.",
      "id": "DeleteProjectMetadata"
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`."
    },
    "GetPolicyOptions": {
      "type": "object",
      "id": "GetPolicyOptions",
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "properties": {
        "requestedPolicyVersion": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The policy format version to be returned. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional bindings must specify version 3. Policies without any conditional bindings may specify any valid value or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      }
    },
    "GetOrgPolicyRequest": {
      "id": "GetOrgPolicyRequest",
      "properties": {
        "constraint": {
          "description": "Name of the `Constraint` to get the `Policy`.",
          "type": "string"
        }
      },
      "description": "The request sent to the GetOrgPolicy method.",
      "type": "object"
    },
    "OrgPolicy": {
      "type": "object",
      "description": "Defines a Cloud Organization `Policy` which is used to specify `Constraints` for configurations of Cloud Platform resources.",
      "id": "OrgPolicy",
      "properties": {
        "booleanPolicy": {
          "description": "For boolean `Constraints`, whether to enforce the `Constraint` or not.",
          "$ref": "BooleanPolicy"
        },
        "listPolicy": {
          "description": "List of values either allowed or disallowed.",
          "$ref": "ListPolicy"
        },
        "etag": {
          "description": "An opaque tag indicating the current version of the `Policy`, used for concurrency control. When the `Policy` is returned from either a `GetPolicy` or a `ListOrgPolicy` request, this `etag` indicates the version of the current `Policy` to use when executing a read-modify-write loop. When the `Policy` is returned from a `GetEffectivePolicy` request, the `etag` will be unset. When the `Policy` is used in a `SetOrgPolicy` method, use the `etag` value that was returned from a `GetOrgPolicy` request as part of a read-modify-write loop for concurrency control. Not setting the `etag`in a `SetOrgPolicy` request will result in an unconditional write of the `Policy`.",
          "format": "byte",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "The time stamp the `Policy` was previously updated. This is set by the server, not specified by the caller, and represents the last time a call to `SetOrgPolicy` was made for that `Policy`. Any value set by the client will be ignored.",
          "type": "string"
        },
        "version": {
          "description": "Version of the `Policy`. Default version is 0;",
          "type": "integer",
          "format": "int32"
        },
        "restoreDefault": {
          "description": "Restores the default behavior of the constraint; independent of `Constraint` type.",
          "$ref": "RestoreDefault"
        },
        "constraint": {
          "type": "string",
          "description": "The name of the `Constraint` the `Policy` is configuring, for example, `constraints/serviceuser.services`. A [list of available constraints](/resource-manager/docs/organization-policy/org-policy-constraints) is available. Immutable after creation."
        }
      }
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "id": "Status"
    },
    "OrganizationOwner": {
      "type": "object",
      "description": "The entity that owns an Organization. The lifetime of the Organization and all of its descendants are bound to the `OrganizationOwner`. If the `OrganizationOwner` is deleted, the Organization and all its descendants will be deleted.",
      "properties": {
        "directoryCustomerId": {
          "description": "The G Suite customer id used in the Directory API.",
          "type": "string"
        }
      },
      "id": "OrganizationOwner"
    },
    "CreateFolderMetadata": {
      "id": "CreateFolderMetadata",
      "properties": {
        "parent": {
          "description": "The resource name of the folder or organization we are creating the folder under.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the folder."
        }
      },
      "type": "object",
      "description": "Metadata pertaining to the Folder creation process."
    },
    "SetIamPolicyRequest": {
      "properties": {
        "updateMask": {
          "type": "string",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask"
        },
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Cloud Platform services (such as Projects) might reject them."
        }
      },
      "description": "Request message for `SetIamPolicy` method.",
      "id": "SetIamPolicyRequest",
      "type": "object"
    },
    "AuditConfig": {
      "properties": {
        "auditLogConfigs": {
          "type": "array",
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "AuditLogConfig"
          }
        },
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        }
      },
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts jose@example.com from DATA_READ logging, and aliya@example.com from DATA_WRITE logging.",
      "type": "object",
      "id": "AuditConfig"
    },
    "AuditLogConfig": {
      "properties": {
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "logType": {
          "description": "The log type that this config enables.",
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ]
        }
      },
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "id": "AuditLogConfig",
      "type": "object"
    },
    "ListConstraint": {
      "type": "object",
      "description": "A `Constraint` that allows or disallows a list of string values, which are configured by an Organization's policy administrator with a `Policy`.",
      "id": "ListConstraint",
      "properties": {
        "suggestedValue": {
          "type": "string",
          "description": "Optional. The Google Cloud Console will try to default to a configuration that matches the value specified in this `Constraint`."
        },
        "supportsUnder": {
          "type": "boolean",
          "description": "Indicates whether subtrees of Cloud Resource Manager resource hierarchy can be used in `Policy.allowed_values` and `Policy.denied_values`. For example, `\"under:folders/123\"` would match any resource under the 'folders/123' folder."
        }
      }
    },
    "FolderOperation": {
      "type": "object",
      "description": "Metadata describing a long running folder operation",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The display name of the folder."
        },
        "operationType": {
          "description": "The type of this operation.",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "CREATE",
            "MOVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Operation type not specified.",
            "A create folder operation.",
            "A move folder operation."
          ]
        },
        "sourceParent": {
          "type": "string",
          "description": "The resource name of the folder's parent. Only applicable when the operation_type is MOVE."
        },
        "destinationParent": {
          "description": "The resource name of the folder or organization we are either creating the folder under or moving the folder to.",
          "type": "string"
        }
      },
      "id": "FolderOperation"
    },
    "FolderOperationError": {
      "id": "FolderOperationError",
      "description": "A classification of the Folder Operation error.",
      "properties": {
        "errorMessageId": {
          "type": "string",
          "enumDescriptions": [
            "The error type was unrecognized or unspecified.",
            "The attempted action would violate the max folder depth constraint.",
            "The attempted action would violate the max child folders constraint.",
            "The attempted action would violate the locally-unique folder display_name constraint.",
            "The resource being moved has been deleted.",
            "The resource a folder was being added to has been deleted.",
            "The attempted action would introduce cycle in resource path.",
            "The attempted action would move a folder that is already being moved.",
            "The folder the caller is trying to delete contains active resources.",
            "The attempted action would violate the max deleted folder depth constraint."
          ],
          "description": "The type of operation error experienced.",
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "ACTIVE_FOLDER_HEIGHT_VIOLATION",
            "MAX_CHILD_FOLDERS_VIOLATION",
            "FOLDER_NAME_UNIQUENESS_VIOLATION",
            "RESOURCE_DELETED_VIOLATION",
            "PARENT_DELETED_VIOLATION",
            "CYCLE_INTRODUCED_VIOLATION",
            "FOLDER_BEING_MOVED_VIOLATION",
            "FOLDER_TO_DELETE_NON_EMPTY_VIOLATION",
            "DELETED_FOLDER_HEIGHT_VIOLATION"
          ]
        }
      },
      "type": "object"
    },
    "ListAvailableOrgPolicyConstraintsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Page token used to retrieve the next page. This is currently not used."
        },
        "constraints": {
          "type": "array",
          "items": {
            "$ref": "Constraint"
          },
          "description": "The collection of constraints that are settable on the request resource."
        }
      },
      "id": "ListAvailableOrgPolicyConstraintsResponse",
      "type": "object",
      "description": "The response returned from the `ListAvailableOrgPolicyConstraints` method. Returns all `Constraints` that could be set at this level of the hierarchy (contrast with the response from `ListPolicies`, which returns all policies which are set)."
    },
    "ResourceId": {
      "description": "A container to reference an id for any resource type. A `resource` in Google Cloud Platform is a generic term for something you (a developer) may want to interact with through one of our API's. Some examples are an App Engine app, a Compute Engine instance, a Cloud SQL database, and so on.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The type-specific id. This should correspond to the id used in the type-specific API's."
        },
        "type": {
          "description": "The resource type this id is for. At present, the valid types are: \"organization\", \"folder\", and \"project\".",
          "type": "string"
        }
      },
      "id": "ResourceId",
      "type": "object"
    },
    "RestoreDefault": {
      "properties": {},
      "id": "RestoreDefault",
      "description": "Ignores policies set above this resource and restores the `constraint_default` enforcement behavior of the specific `Constraint` at this resource. Suppose that `constraint_default` is set to `ALLOW` for the `Constraint` `constraints/serviceuser.services`. Suppose that organization foo.com sets a `Policy` at their Organization resource node that restricts the allowed service activations to deny all service activations. They could then set a `Policy` with the `policy_type` `restore_default` on several experimental projects, restoring the `constraint_default` enforcement of the `Constraint` for only those projects, allowing those projects to have all services activated.",
      "type": "object"
    },
    "BooleanConstraint": {
      "properties": {},
      "description": "A `Constraint` that is either enforced or not. For example a constraint `constraints/compute.disableSerialPortAccess`. If it is enforced on a VM instance, serial port connections will not be opened to that instance.",
      "id": "BooleanConstraint",
      "type": "object"
    },
    "ClearOrgPolicyRequest": {
      "properties": {
        "constraint": {
          "description": "Name of the `Constraint` of the `Policy` to clear.",
          "type": "string"
        },
        "etag": {
          "description": "The current version, for concurrency control. Not sending an `etag` will cause the `Policy` to be cleared blindly.",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "ClearOrgPolicyRequest",
      "type": "object",
      "description": "The request sent to the ClearOrgPolicy method."
    },
    "GetEffectiveOrgPolicyRequest": {
      "type": "object",
      "description": "The request sent to the GetEffectiveOrgPolicy method.",
      "properties": {
        "constraint": {
          "description": "The name of the `Constraint` to compute the effective `Policy`.",
          "type": "string"
        }
      },
      "id": "GetEffectiveOrgPolicyRequest"
    },
    "Constraint": {
      "id": "Constraint",
      "properties": {
        "name": {
          "type": "string",
          "description": "Immutable value, required to globally be unique. For example, `constraints/serviceuser.services`"
        },
        "version": {
          "description": "Version of the `Constraint`. Default version is 0;",
          "format": "int32",
          "type": "integer"
        },
        "description": {
          "description": "Detailed description of what this `Constraint` controls as well as how and where it is enforced. Mutable.",
          "type": "string"
        },
        "booleanConstraint": {
          "$ref": "BooleanConstraint",
          "description": "Defines this constraint as being a BooleanConstraint."
        },
        "displayName": {
          "type": "string",
          "description": "The human readable name. Mutable."
        },
        "constraintDefault": {
          "description": "The evaluation behavior of this constraint in the absence of 'Policy'.",
          "enumDescriptions": [
            "This is only used for distinguishing unset values and should never be used.",
            "Indicate that all values are allowed for list constraints. Indicate that enforcement is off for boolean constraints.",
            "Indicate that all values are denied for list constraints. Indicate that enforcement is on for boolean constraints."
          ],
          "type": "string",
          "enum": [
            "CONSTRAINT_DEFAULT_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ]
        },
        "listConstraint": {
          "description": "Defines this constraint as being a ListConstraint.",
          "$ref": "ListConstraint"
        }
      },
      "description": "A `Constraint` describes a way in which a resource's configuration can be restricted. For example, it controls which cloud services can be activated across an organization, or whether a Compute Engine instance can have serial port connections established. `Constraints` can be configured by the organization's policy administrator to fit the needs of the organzation by setting Policies for `Constraints` at different locations in the organization's resource hierarchy. Policies are inherited down the resource hierarchy from higher levels, but can also be overridden. For details about the inheritance rules please read about [Policies](/resource-manager/reference/rest/v1/Policy). `Constraints` have a default behavior determined by the `constraint_default` field, which is the enforcement behavior that is used in the absence of a `Policy` being defined or inherited for the resource in question.",
      "type": "object"
    },
    "CloudresourcemanagerGoogleCloudResourcemanagerV2alpha1FolderOperation": {
      "description": "Metadata describing a long running folder operation",
      "id": "CloudresourcemanagerGoogleCloudResourcemanagerV2alpha1FolderOperation",
      "properties": {
        "destinationParent": {
          "description": "The resource name of the folder or organization we are either creating the folder under or moving the folder to.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the folder."
        },
        "sourceParent": {
          "description": "The resource name of the folder's parent. Only applicable when the operation_type is MOVE.",
          "type": "string"
        },
        "operationType": {
          "description": "The type of this operation.",
          "type": "string",
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "CREATE",
            "MOVE"
          ],
          "enumDescriptions": [
            "Operation type not specified.",
            "A create folder operation.",
            "A move folder operation."
          ]
        }
      },
      "type": "object"
    },
    "Binding": {
      "type": "object",
      "id": "Binding",
      "properties": {
        "role": {
          "description": "Role that is assigned to `members`. For example, `roles/viewer`, `roles/editor`, or `roles/owner`.",
          "type": "string"
        },
        "members": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities requesting access for a Cloud Platform resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. "
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the members in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        }
      },
      "description": "Associates `members` with a `role`."
    },
    "UndeleteProjectRequest": {
      "description": "The request sent to the UndeleteProject method.",
      "type": "object",
      "id": "UndeleteProjectRequest",
      "properties": {}
    },
    "MoveProjectMetadata": {
      "description": "A status object which is used as the `metadata` field for the Operation returned by MoveProject.",
      "id": "MoveProjectMetadata",
      "type": "object",
      "properties": {}
    },
    "UndeleteFolderMetadata": {
      "type": "object",
      "description": "A status object which is used as the `metadata` field for the Operation returned by UndeleteFolder.",
      "properties": {},
      "id": "UndeleteFolderMetadata"
    },
    "DeleteOrganizationMetadata": {
      "description": "A status object which is used as the `metadata` field for the Operation returned by DeleteOrganization.",
      "properties": {},
      "id": "DeleteOrganizationMetadata",
      "type": "object"
    },
    "ListLiensResponse": {
      "id": "ListLiensResponse",
      "description": "The response message for Liens.ListLiens.",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "liens": {
          "items": {
            "$ref": "Lien"
          },
          "description": "A list of Liens.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "SearchOrganizationsRequest": {
      "description": "The request sent to the `SearchOrganizations` method.",
      "id": "SearchOrganizationsRequest",
      "properties": {
        "pageSize": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of Organizations to return in the response. This field is optional."
        },
        "pageToken": {
          "description": "A pagination token returned from a previous call to `SearchOrganizations` that indicates from where listing should continue. This field is optional.",
          "type": "string"
        },
        "filter": {
          "type": "string",
          "description": "An optional query string used to filter the Organizations to return in the response. Filter rules are case-insensitive. Organizations may be filtered by `owner.directoryCustomerId` or by `domain`, where the domain is a G Suite domain, for example: * Filter `owner.directorycustomerid:123456789` returns Organization resources with `owner.directory_customer_id` equal to `123456789`. * Filter `domain:google.com` returns Organization resources corresponding to the domain `google.com`. This field is optional."
        }
      },
      "type": "object"
    },
    "Policy": {
      "id": "Policy",
      "properties": {
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "auditConfigs": {
          "items": {
            "$ref": "AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array"
        },
        "bindings": {
          "description": "Associates a list of `members` to a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one member.",
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte",
          "type": "string"
        }
      },
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members` to a single `role`. Members can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time \u003c timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } **YAML example:** bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time \u003c timestamp('2020-10-01T00:00:00.000Z') - etag: BwWWja0YfJA= - version: 3 For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
    },
    "UpdateProjectMetadata": {
      "properties": {},
      "description": "A status object which is used as the `metadata` field for the Operation returned by UpdateProject.",
      "type": "object",
      "id": "UpdateProjectMetadata"
    },
    "Organization": {
      "properties": {
        "lifecycleState": {
          "description": "The organization's current lifecycle state. Assigned by the server.",
          "enumDescriptions": [
            "Unspecified state. This is only useful for distinguishing unset values.",
            "The normal and active state.",
            "The organization has been marked for deletion by the user."
          ],
          "type": "string",
          "enum": [
            "LIFECYCLE_STATE_UNSPECIFIED",
            "ACTIVE",
            "DELETE_REQUESTED"
          ]
        },
        "displayName": {
          "description": "A human-readable string that refers to the Organization in the GCP Console UI. This string is set by the server and cannot be changed. The string will be set to the primary domain (for example, \"google.com\") of the G Suite customer that owns the organization.",
          "type": "string"
        },
        "creationTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp when the Organization was created. Assigned by the server."
        },
        "owner": {
          "$ref": "OrganizationOwner",
          "description": "The owner of this Organization. The owner should be specified on creation. Once set, it cannot be changed. This field is required."
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the organization. This is the organization's relative path in the API. Its format is \"organizations/[organization_id]\". For example, \"organizations/1234\"."
        }
      },
      "description": "The root node in the resource hierarchy to which a particular entity's (e.g., company) resources belong.",
      "type": "object",
      "id": "Organization"
    },
    "Lien": {
      "type": "object",
      "description": "A Lien represents an encumbrance on the actions that can be performed on a resource.",
      "properties": {
        "parent": {
          "description": "A reference to the resource this Lien is attached to. The server will validate the parent against those for which Liens are supported. Example: `projects/1234`",
          "type": "string"
        },
        "createTime": {
          "description": "The creation time of this Lien.",
          "format": "google-datetime",
          "type": "string"
        },
        "origin": {
          "type": "string",
          "description": "A stable, user-visible/meaningful string identifying the origin of the Lien, intended to be inspected programmatically. Maximum length of 200 characters. Example: 'compute.googleapis.com'"
        },
        "reason": {
          "type": "string",
          "description": "Concise user-visible strings indicating why an action cannot be performed on a resource. Maximum length of 200 characters. Example: 'Holds production API key'"
        },
        "name": {
          "description": "A system-generated unique identifier for this Lien. Example: `liens/1234abcd`",
          "type": "string"
        },
        "restrictions": {
          "description": "The types of operations which should be blocked as a result of this Lien. Each value should correspond to an IAM permission. The server will validate the permissions against those for which Liens are supported. An empty list is meaningless and will be rejected. Example: ['resourcemanager.projects.delete']",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "Lien"
    },
    "GetAncestryResponse": {
      "properties": {
        "ancestor": {
          "items": {
            "$ref": "Ancestor"
          },
          "type": "array",
          "description": "Ancestors are ordered from bottom to top of the resource hierarchy. The first ancestor is the project itself, followed by the project's parent, etc.."
        }
      },
      "id": "GetAncestryResponse",
      "type": "object",
      "description": "Response from the projects.getAncestry method."
    },
    "UpdateTagValueMetadata": {
      "description": "Runtime operation information for updating a TagValue.",
      "type": "object",
      "id": "UpdateTagValueMetadata",
      "properties": {}
    },
    "ListProjectsResponse": {
      "type": "object",
      "description": "A page of the response received from the ListProjects method. A paginated response where more pages are available has `next_page_token` set. This token can be used in a subsequent request to retrieve the next request page.",
      "id": "ListProjectsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Pagination token. If the result set is too large to fit in a single response, this token is returned. It encodes the position of the current result cursor. Feeding this value into a new list request with the `page_token` parameter gives the next page of the results. When `next_page_token` is not filled in, there is no next page and the list returned is the last page in the result set. Pagination tokens have a limited lifetime.",
          "type": "string"
        },
        "projects": {
          "type": "array",
          "description": "The list of Projects that matched the list filter. This list can be paginated.",
          "items": {
            "$ref": "Project"
          }
        }
      }
    },
    "SetOrgPolicyRequest": {
      "properties": {
        "policy": {
          "description": "`Policy` to set on the resource.",
          "$ref": "OrgPolicy"
        }
      },
      "description": "The request sent to the SetOrgPolicyRequest method.",
      "id": "SetOrgPolicyRequest",
      "type": "object"
    },
    "UndeleteOrganizationMetadata": {
      "type": "object",
      "description": "A status object which is used as the `metadata` field for the Operation returned by UndeleteOrganization.",
      "id": "UndeleteOrganizationMetadata",
      "properties": {}
    },
    "MoveFolderMetadata": {
      "id": "MoveFolderMetadata",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The display name of the folder.",
          "type": "string"
        },
        "sourceParent": {
          "description": "The resource name of the folder's parent.",
          "type": "string"
        },
        "destinationParent": {
          "description": "The resource name of the folder or organization to move the folder to.",
          "type": "string"
        }
      },
      "description": "Metadata pertaining to the Folder move process."
    },
    "UndeleteProjectMetadata": {
      "properties": {},
      "description": "A status object which is used as the `metadata` field for the Operation returned by UndeleteProject.",
      "id": "UndeleteProjectMetadata",
      "type": "object"
    },
    "Expr": {
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        }
      }
    },
    "ListPolicy": {
      "description": "Used in `policy_type` to specify how `list_policy` behaves at this resource. `ListPolicy` can define specific values and subtrees of Cloud Resource Manager resource hierarchy (`Organizations`, `Folders`, `Projects`) that are allowed or denied by setting the `allowed_values` and `denied_values` fields. This is achieved by using the `under:` and optional `is:` prefixes. The `under:` prefix is used to denote resource subtree values. The `is:` prefix is used to denote specific values, and is required only if the value contains a \":\". Values prefixed with \"is:\" are treated the same as values with no prefix. Ancestry subtrees must be in one of the following formats: - \"projects/\", e.g. \"projects/tokyo-rain-123\" - \"folders/\", e.g. \"folders/1234\" - \"organizations/\", e.g. \"organizations/1234\" The `supports_under` field of the associated `Constraint` defines whether ancestry prefixes can be used. You can set `allowed_values` and `denied_values` in the same `Policy` if `all_values` is `ALL_VALUES_UNSPECIFIED`. `ALLOW` or `DENY` are used to allow or deny all values. If `all_values` is set to either `ALLOW` or `DENY`, `allowed_values` and `denied_values` must be unset.",
      "properties": {
        "deniedValues": {
          "description": "List of values denied at this resource. Can only be set if `all_values` is set to `ALL_VALUES_UNSPECIFIED`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "allowedValues": {
          "description": "List of values allowed at this resource. Can only be set if `all_values` is set to `ALL_VALUES_UNSPECIFIED`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "suggestedValue": {
          "type": "string",
          "description": "Optional. The Google Cloud Console will try to default to a configuration that matches the value specified in this `Policy`. If `suggested_value` is not set, it will inherit the value specified higher in the hierarchy, unless `inherit_from_parent` is `false`."
        },
        "inheritFromParent": {
          "type": "boolean",
          "description": "Determines the inheritance behavior for this `Policy`. By default, a `ListPolicy` set at a resource supersedes any `Policy` set anywhere up the resource hierarchy. However, if `inherit_from_parent` is set to `true`, then the values from the effective `Policy` of the parent resource are inherited, meaning the values set in this `Policy` are added to the values inherited up the hierarchy. Setting `Policy` hierarchies that inherit both allowed values and denied values isn't recommended in most circumstances to keep the configuration simple and understandable. However, it is possible to set a `Policy` with `allowed_values` set that inherits a `Policy` with `denied_values` set. In this case, the values that are allowed must be in `allowed_values` and not present in `denied_values`. For example, suppose you have a `Constraint` `constraints/serviceuser.services`, which has a `constraint_type` of `list_constraint`, and with `constraint_default` set to `ALLOW`. Suppose that at the Organization level, a `Policy` is applied that restricts the allowed API activations to {`E1`, `E2`}. Then, if a `Policy` is applied to a project below the Organization that has `inherit_from_parent` set to `false` and field all_values set to DENY, then an attempt to activate any API will be denied. The following examples demonstrate different possible layerings for `projects/bar` parented by `organizations/foo`: Example 1 (no inherited values): `organizations/foo` has a `Policy` with values: {allowed_values: \"E1\" allowed_values:\"E2\"} `projects/bar` has `inherit_from_parent` `false` and values: {allowed_values: \"E3\" allowed_values: \"E4\"} The accepted values at `organizations/foo` are `E1`, `E2`. The accepted values at `projects/bar` are `E3`, and `E4`. Example 2 (inherited values): `organizations/foo` has a `Policy` with values: {allowed_values: \"E1\" allowed_values:\"E2\"} `projects/bar` has a `Policy` with values: {value: \"E3\" value: \"E4\" inherit_from_parent: true} The accepted values at `organizations/foo` are `E1`, `E2`. The accepted values at `projects/bar` are `E1`, `E2`, `E3`, and `E4`. Example 3 (inheriting both allowed and denied values): `organizations/foo` has a `Policy` with values: {allowed_values: \"E1\" allowed_values: \"E2\"} `projects/bar` has a `Policy` with: {denied_values: \"E1\"} The accepted values at `organizations/foo` are `E1`, `E2`. The value accepted at `projects/bar` is `E2`. Example 4 (RestoreDefault): `organizations/foo` has a `Policy` with values: {allowed_values: \"E1\" allowed_values:\"E2\"} `projects/bar` has a `Policy` with values: {RestoreDefault: {}} The accepted values at `organizations/foo` are `E1`, `E2`. The accepted values at `projects/bar` are either all or none depending on the value of `constraint_default` (if `ALLOW`, all; if `DENY`, none). Example 5 (no policy inherits parent policy): `organizations/foo` has no `Policy` set. `projects/bar` has no `Policy` set. The accepted values at both levels are either all or none depending on the value of `constraint_default` (if `ALLOW`, all; if `DENY`, none). Example 6 (ListConstraint allowing all): `organizations/foo` has a `Policy` with values: {allowed_values: \"E1\" allowed_values: \"E2\"} `projects/bar` has a `Policy` with: {all: ALLOW} The accepted values at `organizations/foo` are `E1`, E2`. Any value is accepted at `projects/bar`. Example 7 (ListConstraint allowing none): `organizations/foo` has a `Policy` with values: {allowed_values: \"E1\" allowed_values: \"E2\"} `projects/bar` has a `Policy` with: {all: DENY} The accepted values at `organizations/foo` are `E1`, E2`. No value is accepted at `projects/bar`. Example 10 (allowed and denied subtrees of Resource Manager hierarchy): Given the following resource hierarchy O1-\u003e{F1, F2}; F1-\u003e{P1}; F2-\u003e{P2, P3}, `organizations/foo` has a `Policy` with values: {allowed_values: \"under:organizations/O1\"} `projects/bar` has a `Policy` with: {allowed_values: \"under:projects/P3\"} {denied_values: \"under:folders/F2\"} The accepted values at `organizations/foo` are `organizations/O1`, `folders/F1`, `folders/F2`, `projects/P1`, `projects/P2`, `projects/P3`. The accepted values at `projects/bar` are `organizations/O1`, `folders/F1`, `projects/P1`."
        },
        "allValues": {
          "type": "string",
          "enum": [
            "ALL_VALUES_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ],
          "description": "The policy all_values state.",
          "enumDescriptions": [
            "Indicates that allowed_values or denied_values must be set.",
            "A policy with this set allows all values.",
            "A policy with this set denies all values."
          ]
        }
      },
      "id": "ListPolicy",
      "type": "object"
    },
    "DeleteFolderMetadata": {
      "id": "DeleteFolderMetadata",
      "properties": {},
      "type": "object",
      "description": "A status object which is used as the `metadata` field for the Operation returned by DeleteFolder."
    }
  },
  "documentationLink": "https://cloud.google.com/resource-manager",
  "protocol": "rest",
  "baseUrl": "https://cloudresourcemanager.googleapis.com/",
  "resources": {
    "projects": {
      "methods": {
        "listOrgPolicies": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Lists all the `Policies` set for a particular resource.",
          "flatPath": "v1/projects/{projectsId}:listOrgPolicies",
          "httpMethod": "POST",
          "parameterOrder": [
            "resource"
          ],
          "id": "cloudresourcemanager.projects.listOrgPolicies",
          "parameters": {
            "resource": {
              "description": "Name of the resource to list Policies for.",
              "type": "string",
              "required": true,
              "pattern": "^projects/[^/]+$",
              "location": "path"
            }
          },
          "request": {
            "$ref": "ListOrgPoliciesRequest"
          },
          "response": {
            "$ref": "ListOrgPoliciesResponse"
          },
          "path": "v1/{+resource}:listOrgPolicies"
        },
        "setIamPolicy": {
          "parameters": {
            "resource": {
              "location": "path",
              "type": "string",
              "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field.",
              "required": true
            }
          },
          "request": {
            "$ref": "SetIamPolicyRequest"
          },
          "description": "Sets the IAM access control policy for the specified Project. CAUTION: This method will replace the existing policy, and cannot be used to append additional IAM settings. NOTE: Removing service accounts from policies or changing their roles can render services completely inoperable. It is important to understand how the service account is being used before removing or updating its roles. For additional information about `resource` (e.g. my-project-id) structure and identification, see [Resource Names](https://cloud.google.com/apis/design/resource_names). The following constraints apply when using `setIamPolicy()`: + Project does not support `allUsers` and `allAuthenticatedUsers` as `members` in a `Binding` of a `Policy`. + The owner role can be granted to a `user`, `serviceAccount`, or a group that is part of an organization. For example, group@myownpersonaldomain.com could be added as an owner to a project in the myownpersonaldomain.com organization, but not the examplepetstore.com organization. + Service accounts can be made owners of a project directly without any restrictions. However, to be added as an owner, a user must be invited via Cloud Platform console and must accept the invitation. + A user cannot be granted the owner role using `setIamPolicy()`. The user must be granted the owner role using the Cloud Platform Console and must explicitly accept the invitation. + You can only grant ownership of a project to a member by using the GCP Console. Inviting a member will deliver an invitation email that they must accept. An invitation email is not generated if you are granting a role other than owner, or if both the member you are inviting and the project are part of your organization. + Membership changes that leave the project without any owners that have accepted the Terms of Service (ToS) will be rejected. + If the project is not part of an organization, there must be at least one owner who has accepted the Terms of Service (ToS) agreement in the policy. Calling `setIamPolicy()` to remove the last ToS-accepted owner from the policy will fail. This restriction also applies to legacy projects that no longer have owners who have accepted the ToS. Edits to IAM policies will be rejected until the lack of a ToS-accepting owner is rectified. Authorization requires the Google IAM permission `resourcemanager.projects.setIamPolicy` on the project",
          "response": {
            "$ref": "Policy"
          },
          "id": "cloudresourcemanager.projects.setIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1/projects/{resource}:setIamPolicy",
          "flatPath": "v1/projects/{resource}:setIamPolicy",
          "httpMethod": "POST",
          "parameterOrder": [
            "resource"
          ]
        },
        "delete": {
          "parameterOrder": [
            "projectId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "DELETE",
          "description": "Marks the Project identified by the specified `project_id` (for example, `my-project-123`) for deletion. This method will only affect the Project if it has a lifecycle state of ACTIVE. This method changes the Project's lifecycle state from ACTIVE to DELETE_REQUESTED. The deletion starts at an unspecified time, at which point the Project is no longer accessible. Until the deletion completes, you can check the lifecycle state checked by retrieving the Project with GetProject, and the Project remains visible to ListProjects. However, you cannot update the project. After the deletion completes, the Project is not retrievable by the GetProject and ListProjects methods. The caller must have delete permissions for this Project.",
          "response": {
            "$ref": "Empty"
          },
          "path": "v1/projects/{projectId}",
          "id": "cloudresourcemanager.projects.delete",
          "flatPath": "v1/projects/{projectId}",
          "parameters": {
            "projectId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The Project ID (for example, `foo-bar-123`). Required."
            }
          }
        },
        "getOrgPolicy": {
          "response": {
            "$ref": "OrgPolicy"
          },
          "id": "cloudresourcemanager.projects.getOrgPolicy",
          "httpMethod": "POST",
          "description": "Gets a `Policy` on a resource. If no `Policy` is set on the resource, a `Policy` is returned with default values including `POLICY_TYPE_NOT_SET` for the `policy_type oneof`. The `etag` value can be used with `SetOrgPolicy()` to create or update a `Policy` during read-modify-write.",
          "request": {
            "$ref": "GetOrgPolicyRequest"
          },
          "parameters": {
            "resource": {
              "description": "Name of the resource the `Policy` is set on.",
              "pattern": "^projects/[^/]+$",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "v1/{+resource}:getOrgPolicy",
          "flatPath": "v1/projects/{projectsId}:getOrgPolicy",
          "parameterOrder": [
            "resource"
          ]
        },
        "create": {
          "flatPath": "v1/projects",
          "id": "cloudresourcemanager.projects.create",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {},
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "path": "v1/projects",
          "parameterOrder": [],
          "description": "Request that a new Project be created. The result is an Operation which can be used to track the creation process. This process usually takes a few seconds, but can sometimes take much longer. The tracking Operation is automatically deleted after a few hours, so there is no need to call DeleteOperation. Authorization requires the Google IAM permission `resourcemanager.projects.create` on the specified parent for the new project. The parent is identified by a specified ResourceId, which must include both an ID and a type, such as organization. This method does not associate the new project with a billing account. You can set or update the billing account associated with a project using the [`projects.updateBillingInfo`] (/billing/reference/rest/v1/projects/updateBillingInfo) method.",
          "request": {
            "$ref": "Project"
          }
        },
        "testIamPermissions": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "request": {
            "$ref": "TestIamPermissionsRequest"
          },
          "response": {
            "$ref": "TestIamPermissionsResponse"
          },
          "parameterOrder": [
            "resource"
          ],
          "flatPath": "v1/projects/{resource}:testIamPermissions",
          "parameters": {
            "resource": {
              "required": true,
              "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
              "location": "path",
              "type": "string"
            }
          },
          "description": "Returns permissions that a caller has on the specified Project. For additional information about `resource` (e.g. my-project-id) structure and identification, see [Resource Names](https://cloud.google.com/apis/design/resource_names). There are no permissions required for making this API call.",
          "path": "v1/projects/{resource}:testIamPermissions",
          "id": "cloudresourcemanager.projects.testIamPermissions"
        },
        "setOrgPolicy": {
          "path": "v1/{+resource}:setOrgPolicy",
          "flatPath": "v1/projects/{projectsId}:setOrgPolicy",
          "parameterOrder": [
            "resource"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "OrgPolicy"
          },
          "description": "Updates the specified `Policy` on the resource. Creates a new `Policy` for that `Constraint` on the resource if one does not exist. Not supplying an `etag` on the request `Policy` results in an unconditional write of the `Policy`.",
          "id": "cloudresourcemanager.projects.setOrgPolicy",
          "parameters": {
            "resource": {
              "pattern": "^projects/[^/]+$",
              "required": true,
              "location": "path",
              "description": "Resource name of the resource to attach the `Policy`.",
              "type": "string"
            }
          },
          "request": {
            "$ref": "SetOrgPolicyRequest"
          },
          "httpMethod": "POST"
        },
        "list": {
          "parameterOrder": [],
          "parameters": {
            "pageSize": {
              "type": "integer",
              "description": "Optional. The maximum number of Projects to return in the response. The server can return fewer Projects than requested. If unspecified, server picks an appropriate default.",
              "location": "query",
              "format": "int32"
            },
            "filter": {
              "description": "Optional. An expression for filtering the results of the request. Filter rules are case insensitive. If multiple fields are included in a filter query, the query will return results that match any of the fields. Some eligible fields for filtering are: + `name` + `id` + `labels.` (where *key* is the name of a label) + `parent.type` + `parent.id` + `lifecycleState` Some examples of filter strings: | Filter | Description | |------------------|-----------------------------------------------------| | name:how* | The project's name starts with \"how\". | | name:Howl | The project's name is `Howl` or `howl`. | | name:HOWL | Equivalent to above. | | NAME:howl | Equivalent to above. | | labels.color:* | The project has the label `color`. | | labels.color:red | The project's label `color` has the value `red`. | | labels.color:red labels.size:big | The project's label `color` | : : has the value `red` and its : : : label`size` has the value : : : `big`. : | lifecycleState:DELETE_REQUESTED | Only show projects that are | : : pending deletion. : If no filter is specified, the call will return projects for which the user has the `resourcemanager.projects.get` permission. NOTE: To perform a by-parent query (eg., what projects are directly in a Folder), the caller must have the `resourcemanager.projects.list` permission on the parent and the filter must contain both a `parent.type` and a `parent.id` restriction (example: \"parent.type:folder parent.id:123\"). In this case an alternate search index is used which provides more consistent results.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A pagination token returned from a previous call to ListProjects that indicates from where listing should continue."
            }
          },
          "flatPath": "v1/projects",
          "response": {
            "$ref": "ListProjectsResponse"
          },
          "path": "v1/projects",
          "description": "Lists Projects that the caller has the `resourcemanager.projects.get` permission on and satisfy the specified filter. This method returns Projects in an unspecified order. This method is eventually consistent with project mutations; this means that a newly created project may not appear in the results or recent updates to an existing project may not be reflected in the results. To retrieve the latest state of a project, use the GetProject method. NOTE: If the request filter contains a `parent.type` and `parent.id` and the caller has the `resourcemanager.projects.list` permission on the parent, the results will be drawn from an alternate index which provides more consistent results. In future versions of this API, this List method will be split into List and Search to properly capture the behavioral difference.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "GET",
          "id": "cloudresourcemanager.projects.list"
        },
        "getIamPolicy": {
          "response": {
            "$ref": "Policy"
          },
          "flatPath": "v1/projects/{resource}:getIamPolicy",
          "httpMethod": "POST",
          "parameterOrder": [
            "resource"
          ],
          "request": {
            "$ref": "GetIamPolicyRequest"
          },
          "parameters": {
            "resource": {
              "type": "string",
              "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Returns the IAM access control policy for the specified Project. Permission is denied if the policy or the resource does not exist. Authorization requires the Google IAM permission `resourcemanager.projects.getIamPolicy` on the project. For additional information about `resource` (e.g. my-project-id) structure and identification, see [Resource Names](https://cloud.google.com/apis/design/resource_names).",
          "path": "v1/projects/{resource}:getIamPolicy",
          "id": "cloudresourcemanager.projects.getIamPolicy"
        },
        "getAncestry": {
          "id": "cloudresourcemanager.projects.getAncestry",
          "response": {
            "$ref": "GetAncestryResponse"
          },
          "path": "v1/projects/{projectId}:getAncestry",
          "request": {
            "$ref": "GetAncestryRequest"
          },
          "description": "Gets a list of ancestors in the resource hierarchy for the Project identified by the specified `project_id` (for example, `my-project-123`). The caller must have read permissions for this Project.",
          "parameters": {
            "projectId": {
              "description": "Required. The Project ID (for example, `my-project-123`).",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "v1/projects/{projectId}:getAncestry",
          "parameterOrder": [
            "projectId"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "get": {
          "id": "cloudresourcemanager.projects.get",
          "path": "v1/projects/{projectId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "projectId": {
              "description": "Required. The Project ID (for example, `my-project-123`).",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "Project"
          },
          "description": "Retrieves the Project identified by the specified `project_id` (for example, `my-project-123`). The caller must have read permissions for this Project.",
          "parameterOrder": [
            "projectId"
          ],
          "flatPath": "v1/projects/{projectId}",
          "httpMethod": "GET"
        },
        "update": {
          "id": "cloudresourcemanager.projects.update",
          "response": {
            "$ref": "Project"
          },
          "request": {
            "$ref": "Project"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/projects/{projectId}",
          "parameterOrder": [
            "projectId"
          ],
          "path": "v1/projects/{projectId}",
          "description": "Updates the attributes of the Project identified by the specified `project_id` (for example, `my-project-123`). The caller must have modify permissions for this Project.",
          "parameters": {
            "projectId": {
              "type": "string",
              "required": true,
              "description": "The project ID (for example, `my-project-123`). Required.",
              "location": "path"
            }
          },
          "httpMethod": "PUT"
        },
        "listAvailableOrgPolicyConstraints": {
          "parameterOrder": [
            "resource"
          ],
          "httpMethod": "POST",
          "id": "cloudresourcemanager.projects.listAvailableOrgPolicyConstraints",
          "description": "Lists `Constraints` that could be applied on the specified resource.",
          "path": "v1/{+resource}:listAvailableOrgPolicyConstraints",
          "flatPath": "v1/projects/{projectsId}:listAvailableOrgPolicyConstraints",
          "response": {
            "$ref": "ListAvailableOrgPolicyConstraintsResponse"
          },
          "parameters": {
            "resource": {
              "pattern": "^projects/[^/]+$",
              "required": true,
              "type": "string",
              "description": "Name of the resource to list `Constraints` for.",
              "location": "path"
            }
          },
          "request": {
            "$ref": "ListAvailableOrgPolicyConstraintsRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "undelete": {
          "request": {
            "$ref": "UndeleteProjectRequest"
          },
          "flatPath": "v1/projects/{projectId}:undelete",
          "parameters": {
            "projectId": {
              "description": "Required. The project ID (for example, `foo-bar-123`).",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "path": "v1/projects/{projectId}:undelete",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Empty"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "projectId"
          ],
          "description": "Restores the Project identified by the specified `project_id` (for example, `my-project-123`). You can only use this method for a Project that has a lifecycle state of DELETE_REQUESTED. After deletion starts, the Project cannot be restored. The caller must have undelete permissions for this Project.",
          "id": "cloudresourcemanager.projects.undelete"
        },
        "getEffectiveOrgPolicy": {
          "description": "Gets the effective `Policy` on a resource. This is the result of merging `Policies` in the resource hierarchy. The returned `Policy` will not have an `etag`set because it is a computed `Policy` across multiple resources. Subtrees of Resource Manager resource hierarchy with 'under:' prefix will not be expanded.",
          "response": {
            "$ref": "OrgPolicy"
          },
          "request": {
            "$ref": "GetEffectiveOrgPolicyRequest"
          },
          "parameterOrder": [
            "resource"
          ],
          "path": "v1/{+resource}:getEffectiveOrgPolicy",
          "id": "cloudresourcemanager.projects.getEffectiveOrgPolicy",
          "parameters": {
            "resource": {
              "location": "path",
              "description": "The name of the resource to start computing the effective `Policy`.",
              "type": "string",
              "pattern": "^projects/[^/]+$",
              "required": true
            }
          },
          "httpMethod": "POST",
          "flatPath": "v1/projects/{projectsId}:getEffectiveOrgPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "clearOrgPolicy": {
          "parameterOrder": [
            "resource"
          ],
          "path": "v1/{+resource}:clearOrgPolicy",
          "httpMethod": "POST",
          "id": "cloudresourcemanager.projects.clearOrgPolicy",
          "description": "Clears a `Policy` from a resource.",
          "response": {
            "$ref": "Empty"
          },
          "flatPath": "v1/projects/{projectsId}:clearOrgPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "ClearOrgPolicyRequest"
          },
          "parameters": {
            "resource": {
              "type": "string",
              "pattern": "^projects/[^/]+$",
              "location": "path",
              "required": true,
              "description": "Name of the resource for the `Policy` to clear."
            }
          }
        }
      }
    },
    "organizations": {
      "methods": {
        "search": {
          "request": {
            "$ref": "SearchOrganizationsRequest"
          },
          "httpMethod": "POST",
          "id": "cloudresourcemanager.organizations.search",
          "flatPath": "v1/organizations:search",
          "response": {
            "$ref": "SearchOrganizationsResponse"
          },
          "description": "Searches Organization resources that are visible to the user and satisfy the specified filter. This method returns Organizations in an unspecified order. New Organizations do not necessarily appear at the end of the results. Search will only return organizations on which the user has the permission `resourcemanager.organizations.get`",
          "parameterOrder": [],
          "path": "v1/organizations:search",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {}
        },
        "getEffectiveOrgPolicy": {
          "flatPath": "v1/organizations/{organizationsId}:getEffectiveOrgPolicy",
          "httpMethod": "POST",
          "response": {
            "$ref": "OrgPolicy"
          },
          "id": "cloudresourcemanager.organizations.getEffectiveOrgPolicy",
          "description": "Gets the effective `Policy` on a resource. This is the result of merging `Policies` in the resource hierarchy. The returned `Policy` will not have an `etag`set because it is a computed `Policy` across multiple resources. Subtrees of Resource Manager resource hierarchy with 'under:' prefix will not be expanded.",
          "path": "v1/{+resource}:getEffectiveOrgPolicy",
          "request": {
            "$ref": "GetEffectiveOrgPolicyRequest"
          },
          "parameters": {
            "resource": {
              "required": true,
              "description": "The name of the resource to start computing the effective `Policy`.",
              "pattern": "^organizations/[^/]+$",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "resource"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        },
        "get": {
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "cloudresourcemanager.organizations.get",
          "flatPath": "v1/organizations/{organizationsId}",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The resource name of the Organization to fetch. This is the organization's relative path in the API, formatted as \"organizations/[organizationId]\". For example, \"organizations/1234\".",
              "pattern": "^organizations/[^/]+$"
            }
          },
          "description": "Fetches an Organization resource identified by the specified resource name.",
          "httpMethod": "GET",
          "response": {
            "$ref": "Organization"
          }
        },
        "listAvailableOrgPolicyConstraints": {
          "description": "Lists `Constraints` that could be applied on the specified resource.",
          "id": "cloudresourcemanager.organizations.listAvailableOrgPolicyConstraints",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "ListAvailableOrgPolicyConstraintsResponse"
          },
          "httpMethod": "POST",
          "parameters": {
            "resource": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Name of the resource to list `Constraints` for.",
              "pattern": "^organizations/[^/]+$"
            }
          },
          "parameterOrder": [
            "resource"
          ],
          "request": {
            "$ref": "ListAvailableOrgPolicyConstraintsRequest"
          },
          "flatPath": "v1/organizations/{organizationsId}:listAvailableOrgPolicyConstraints",
          "path": "v1/{+resource}:listAvailableOrgPolicyConstraints"
        },
        "clearOrgPolicy": {
          "path": "v1/{+resource}:clearOrgPolicy",
          "request": {
            "$ref": "ClearOrgPolicyRequest"
          },
          "parameters": {
            "resource": {
              "type": "string",
              "location": "path",
              "pattern": "^organizations/[^/]+$",
              "required": true,
              "description": "Name of the resource for the `Policy` to clear."
            }
          },
          "httpMethod": "POST",
          "flatPath": "v1/organizations/{organizationsId}:clearOrgPolicy",
          "description": "Clears a `Policy` from a resource.",
          "id": "cloudresourcemanager.organizations.clearOrgPolicy",
          "parameterOrder": [
            "resource"
          ],
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "listOrgPolicies": {
          "response": {
            "$ref": "ListOrgPoliciesResponse"
          },
          "parameters": {
            "resource": {
              "description": "Name of the resource to list Policies for.",
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^organizations/[^/]+$"
            }
          },
          "description": "Lists all the `Policies` set for a particular resource.",
          "request": {
            "$ref": "ListOrgPoliciesRequest"
          },
          "path": "v1/{+resource}:listOrgPolicies",
          "flatPath": "v1/organizations/{organizationsId}:listOrgPolicies",
          "parameterOrder": [
            "resource"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "POST",
          "id": "cloudresourcemanager.organizations.listOrgPolicies"
        },
        "getOrgPolicy": {
          "flatPath": "v1/organizations/{organizationsId}:getOrgPolicy",
          "description": "Gets a `Policy` on a resource. If no `Policy` is set on the resource, a `Policy` is returned with default values including `POLICY_TYPE_NOT_SET` for the `policy_type oneof`. The `etag` value can be used with `SetOrgPolicy()` to create or update a `Policy` during read-modify-write.",
          "request": {
            "$ref": "GetOrgPolicyRequest"
          },
          "path": "v1/{+resource}:getOrgPolicy",
          "parameters": {
            "resource": {
              "type": "string",
              "pattern": "^organizations/[^/]+$",
              "description": "Name of the resource the `Policy` is set on.",
              "location": "path",
[...]
