{
  "baseUrl": "https://cloudtrace.googleapis.com/",
  "discoveryVersion": "v1",
  "revision": "20201207",
  "kind": "discovery#restDescription",
  "documentationLink": "https://cloud.google.com/trace",
  "ownerName": "Google",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "name": "cloudtrace",
  "servicePath": "",
  "rootUrl": "https://cloudtrace.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "version": "v2",
  "schemas": {
    "Attributes": {
      "type": "object",
      "id": "Attributes",
      "properties": {
        "droppedAttributesCount": {
          "description": "The number of attributes that were discarded. Attributes can be discarded because their keys are too long or because there are too many attributes. If this value is 0 then all attributes are valid.",
          "type": "integer",
          "format": "int32"
        },
        "attributeMap": {
          "type": "object",
          "additionalProperties": {
            "$ref": "AttributeValue"
          },
          "description": "The set of attributes. Each attribute's key can be up to 128 bytes long. The value can be a string up to 256 bytes, a signed 64-bit integer, or the Boolean values `true` and `false`. For example: \"/instance_id\": { \"string_value\": { \"value\": \"my-instance\" } } \"/http/request_bytes\": { \"int_value\": 300 } \"abc.com/myattribute\": { \"bool_value\": false }"
        }
      },
      "description": "A set of attributes, each in the format `[KEY]:[VALUE]`."
    },
    "StackFrame": {
      "type": "object",
      "description": "Represents a single stack frame in a stack trace.",
      "properties": {
        "functionName": {
          "$ref": "TruncatableString",
          "description": "The fully-qualified name that uniquely identifies the function or method that is active in this frame (up to 1024 bytes)."
        },
        "loadModule": {
          "description": "The binary module from where the code was loaded.",
          "$ref": "Module"
        },
        "sourceVersion": {
          "description": "The version of the deployed source code (up to 128 bytes).",
          "$ref": "TruncatableString"
        },
        "lineNumber": {
          "format": "int64",
          "description": "The line number in `file_name` where the function call appears.",
          "type": "string"
        },
        "originalFunctionName": {
          "$ref": "TruncatableString",
          "description": "An un-mangled function name, if `function_name` is [mangled](http://www.avabodh.com/cxxin/namemangling.html). The name can be fully-qualified (up to 1024 bytes)."
        },
        "columnNumber": {
          "type": "string",
          "format": "int64",
          "description": "The column number where the function call appears, if available. This is important in JavaScript because of its anonymous functions."
        },
        "fileName": {
          "$ref": "TruncatableString",
          "description": "The name of the source file where the function call appears (up to 256 bytes)."
        }
      },
      "id": "StackFrame"
    },
    "Links": {
      "description": "A collection of links, which are references from this span to a span in the same or different trace.",
      "type": "object",
      "properties": {
        "droppedLinksCount": {
          "description": "The number of dropped links after the maximum size was enforced. If this value is 0, then no links were dropped.",
          "format": "int32",
          "type": "integer"
        },
        "link": {
          "items": {
            "$ref": "Link"
          },
          "description": "A collection of links.",
          "type": "array"
        }
      },
      "id": "Links"
    },
    "StackTrace": {
      "type": "object",
      "properties": {
        "stackFrames": {
          "$ref": "StackFrames",
          "description": "Stack frames in this stack trace. A maximum of 128 frames are allowed."
        },
        "stackTraceHashId": {
          "type": "string",
          "description": "The hash ID is used to conserve network bandwidth for duplicate stack traces within a single trace. Often multiple spans will have identical stack traces. The first occurrence of a stack trace should contain both the `stackFrame` content and a value in `stackTraceHashId`. Subsequent spans within the same request can refer to that stack trace by only setting `stackTraceHashId`.",
          "format": "int64"
        }
      },
      "description": "A call stack appearing in a trace.",
      "id": "StackTrace"
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "id": "Empty"
    },
    "Annotation": {
      "id": "Annotation",
      "type": "object",
      "description": "Text annotation with a set of attributes.",
      "properties": {
        "attributes": {
          "description": "A set of attributes on the annotation. You can have up to 4 attributes per Annotation.",
          "$ref": "Attributes"
        },
        "description": {
          "$ref": "TruncatableString",
          "description": "A user-supplied message describing the event. The maximum length for the description is 256 bytes."
        }
      }
    },
    "TimeEvents": {
      "description": "A collection of `TimeEvent`s. A `TimeEvent` is a time-stamped annotation on the span, consisting of either user-supplied key:value pairs, or details of a message sent/received between Spans.",
      "type": "object",
      "properties": {
        "timeEvent": {
          "items": {
            "$ref": "TimeEvent"
          },
          "type": "array",
          "description": "A collection of `TimeEvent`s."
        },
        "droppedMessageEventsCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of dropped message events in all the included time events. If the value is 0, then no message events were dropped."
        },
        "droppedAnnotationsCount": {
          "type": "integer",
          "description": "The number of dropped annotations in all the included time events. If the value is 0, then no annotations were dropped.",
          "format": "int32"
        }
      },
      "id": "TimeEvents"
    },
    "Module": {
      "description": "Binary module.",
      "properties": {
        "buildId": {
          "$ref": "TruncatableString",
          "description": "A unique identifier for the module, usually a hash of its contents (up to 128 bytes)."
        },
        "module": {
          "description": "For example: main binary, kernel modules, and dynamic libraries such as libc.so, sharedlib.so (up to 256 bytes).",
          "$ref": "TruncatableString"
        }
      },
      "id": "Module",
      "type": "object"
    },
    "BatchWriteSpansRequest": {
      "type": "object",
      "properties": {
        "spans": {
          "items": {
            "$ref": "Span"
          },
          "description": "Required. A list of new spans. The span names must not match existing spans, or the results are undefined.",
          "type": "array"
        }
      },
      "description": "The request message for the `BatchWriteSpans` method.",
      "id": "BatchWriteSpansRequest"
    },
    "AttributeValue": {
      "description": "The allowed types for [VALUE] in a `[KEY]:[VALUE]` attribute.",
      "properties": {
        "boolValue": {
          "type": "boolean",
          "description": "A Boolean value represented by `true` or `false`."
        },
        "intValue": {
          "description": "A 64-bit signed integer.",
          "format": "int64",
          "type": "string"
        },
        "stringValue": {
          "description": "A string up to 256 bytes long.",
          "$ref": "TruncatableString"
        }
      },
      "id": "AttributeValue",
      "type": "object"
    },
    "TruncatableString": {
      "properties": {
        "truncatedByteCount": {
          "description": "The number of bytes removed from the original string. If this value is 0, then the string was not shortened.",
          "format": "int32",
          "type": "integer"
        },
        "value": {
          "type": "string",
          "description": "The shortened string. For example, if the original string is 500 bytes long and the limit of the string is 128 bytes, then `value` contains the first 128 bytes of the 500-byte string. Truncation always happens on a UTF8 character boundary. If there are multi-byte characters in the string, then the length of the shortened string might be less than the size limit."
        }
      },
      "id": "TruncatableString",
      "type": "object",
      "description": "Represents a string that might be shortened to a specified length."
    },
    "TimeEvent": {
      "description": "A time-stamped annotation or message event in the Span.",
      "properties": {
        "time": {
          "description": "The timestamp indicating the time the event occurred.",
          "format": "google-datetime",
          "type": "string"
        },
        "messageEvent": {
          "description": "An event describing a message sent/received between Spans.",
          "$ref": "MessageEvent"
        },
        "annotation": {
          "$ref": "Annotation",
          "description": "Text annotation with a set of attributes."
        }
      },
      "id": "TimeEvent",
      "type": "object"
    },
    "Link": {
      "id": "Link",
      "description": "A pointer from the current span to another span in the same trace or in a different trace. For example, this can be used in batching operations, where a single batch handler processes multiple requests from different traces or when the handler receives a request from a different project.",
      "type": "object",
      "properties": {
        "traceId": {
          "description": "The [TRACE_ID] for a trace within a project.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CHILD_LINKED_SPAN",
            "PARENT_LINKED_SPAN"
          ],
          "description": "The relationship of the current span relative to the linked span.",
          "enumDescriptions": [
            "The relationship of the two spans is unknown.",
            "The linked span is a child of the current span.",
            "The linked span is a parent of the current span."
          ]
        },
        "attributes": {
          "$ref": "Attributes",
          "description": "A set of attributes on the link. You have have up to 32 attributes per link."
        },
        "spanId": {
          "description": "The [SPAN_ID] for a span within a trace.",
          "type": "string"
        }
      }
    },
    "StackFrames": {
      "type": "object",
      "id": "StackFrames",
      "description": "A collection of stack frames, which can be truncated.",
      "properties": {
        "droppedFramesCount": {
          "type": "integer",
          "description": "The number of stack frames that were dropped because there were too many stack frames. If this value is 0, then no stack frames were dropped.",
          "format": "int32"
        },
        "frame": {
          "items": {
            "$ref": "StackFrame"
          },
          "type": "array",
          "description": "Stack frames in this call stack."
        }
      }
    },
    "Span": {
      "id": "Span",
      "description": "A span represents a single operation within a trace. Spans can be nested to form a trace tree. Often, a trace contains a root span that describes the end-to-end latency, and one or more subspans for its sub-operations. A trace can also contain multiple root spans, or none at all. Spans do not need to be contiguous—there may be gaps or overlaps between spans in a trace.",
      "properties": {
        "status": {
          "$ref": "Status",
          "description": "Optional. The final status for this span."
        },
        "sameProcessAsParentSpan": {
          "type": "boolean",
          "description": "Optional. Set this parameter to indicate whether this span is in the same process as its parent. If you do not set this parameter, Trace is unable to take advantage of this helpful information."
        },
        "displayName": {
          "$ref": "TruncatableString",
          "description": "Required. A description of the span's operation (up to 128 bytes). Trace displays the description in the Google Cloud Platform Console. For example, the display name can be a qualified method name or a file name and a line number where the operation is called. A best practice is to use the same display name within an application and at the same call point. This makes it easier to correlate spans in different traces."
        },
        "attributes": {
          "$ref": "Attributes",
          "description": "A set of attributes on the span. You can have up to 32 attributes per span."
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. The end time of the span. On the client side, this is the time kept by the local machine where the span execution ends. On the server side, this is the time when the server application handler stops running."
        },
        "timeEvents": {
          "$ref": "TimeEvents",
          "description": "A set of time events. You can have up to 32 annotations and 128 message events per span."
        },
        "spanId": {
          "description": "Required. The [SPAN_ID] portion of the span's resource name.",
          "type": "string"
        },
        "stackTrace": {
          "description": "Stack trace captured at the start of the span.",
          "$ref": "StackTrace"
        },
        "startTime": {
          "description": "Required. The start time of the span. On the client side, this is the time kept by the local machine where the span execution starts. On the server side, this is the time when the server's application handler starts running.",
          "type": "string",
          "format": "google-datetime"
        },
        "links": {
          "$ref": "Links",
          "description": "Links associated with the span. You can have up to 128 links per Span."
        },
        "childSpanCount": {
          "format": "int32",
          "description": "Optional. The number of child spans that were generated while this span was active. If set, allows implementation to detect missing child spans.",
          "type": "integer"
        },
        "parentSpanId": {
          "type": "string",
          "description": "The [SPAN_ID] of this span's parent span. If this is a root span, then this field must be empty."
        },
        "spanKind": {
          "type": "string",
          "description": "Optional. Distinguishes between spans generated in a particular context. For example, two spans with the same name may be distinguished using `CLIENT` (caller) and `SERVER` (callee) to identify an RPC call.",
          "enum": [
            "SPAN_KIND_UNSPECIFIED",
            "INTERNAL",
            "SERVER",
            "CLIENT",
            "PRODUCER",
            "CONSUMER"
          ],
          "enumDescriptions": [
            "Unspecified. Do NOT use as default. Implementations MAY assume SpanKind.INTERNAL to be default.",
            "Indicates that the span is used internally. Default value.",
            "Indicates that the span covers server-side handling of an RPC or other remote network request.",
            "Indicates that the span covers the client-side wrapper around an RPC or other remote request.",
            "Indicates that the span describes producer sending a message to a broker. Unlike client and server, there is no direct critical path latency relationship between producer and consumer spans (e.g. publishing a message to a pubsub service).",
            "Indicates that the span describes consumer receiving a message from a broker. Unlike client and server, there is no direct critical path latency relationship between producer and consumer spans (e.g. receiving a message from a pubsub service subscription)."
          ]
        },
        "name": {
          "type": "string",
          "description": "Required. The resource name of the span in the following format: projects/[PROJECT_ID]/traces/[TRACE_ID]/spans/SPAN_ID is a unique identifier for a trace within a project; it is a 32-character hexadecimal encoding of a 16-byte array. [SPAN_ID] is a unique identifier for a span within a trace; it is a 16-character hexadecimal encoding of an 8-byte array. It should not be zero."
        }
      },
      "type": "object"
    },
    "MessageEvent": {
      "type": "object",
      "id": "MessageEvent",
      "description": "An event describing a message sent/received between Spans.",
      "properties": {
        "id": {
          "format": "int64",
          "type": "string",
          "description": "An identifier for the MessageEvent's message that can be used to match SENT and RECEIVED MessageEvents. It is recommended to be unique within a Span."
        },
        "type": {
          "type": "string",
          "description": "Type of MessageEvent. Indicates whether the message was sent or received.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "SENT",
            "RECEIVED"
          ],
          "enumDescriptions": [
            "Unknown event type.",
            "Indicates a sent message.",
            "Indicates a received message."
          ]
        },
        "compressedSizeBytes": {
          "format": "int64",
          "description": "The number of compressed bytes sent or received. If missing assumed to be the same size as uncompressed.",
          "type": "string"
        },
        "uncompressedSizeBytes": {
          "description": "The number of uncompressed bytes sent or received.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "Status": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status"
    }
  },
  "protocol": "rest",
  "description": "Sends application trace data to Cloud Trace for viewing. Trace data is collected for all App Engine applications by default. Trace data from other applications can be provided using this API. This library is used to interact with the Cloud Trace API directly. If you are looking to instrument your application for Cloud Trace, we recommend using OpenCensus. ",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/trace.append": {
          "description": "Write Trace data for a project or application"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "mtlsRootUrl": "https://cloudtrace.mtls.googleapis.com/",
  "version_module": true,
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "default": "json",
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "traces": {
          "methods": {
            "batchWrite": {
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v2/projects/{projectsId}/traces:batchWrite",
              "parameterOrder": [
                "name"
              ],
              "description": "Sends new spans to new or existing traces. You cannot update existing spans.",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/trace.append"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the project where the spans belong. The format is `projects/[PROJECT_ID]`.",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "BatchWriteSpansRequest"
              },
              "path": "v2/{+name}/traces:batchWrite",
              "id": "cloudtrace.projects.traces.batchWrite"
            }
          },
          "resources": {
            "spans": {
              "methods": {
                "createSpan": {
                  "description": "Creates a new span.",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/trace.append"
                  ],
                  "flatPath": "v2/projects/{projectsId}/traces/{tracesId}/spans/{spansId}",
                  "path": "v2/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the span in the following format: projects/[PROJECT_ID]/traces/[TRACE_ID]/spans/SPAN_ID is a unique identifier for a trace within a project; it is a 32-character hexadecimal encoding of a 16-byte array. [SPAN_ID] is a unique identifier for a span within a trace; it is a 16-character hexadecimal encoding of an 8-byte array. It should not be zero.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/traces/[^/]+/spans/[^/]+$",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "Span"
                  },
                  "response": {
                    "$ref": "Span"
                  },
                  "id": "cloudtrace.projects.traces.spans.createSpan"
                }
              }
            }
          }
        }
      }
    }
  },
  "id": "cloudtrace:v2",
  "canonicalName": "Cloud Trace",
  "title": "Cloud Trace API",
  "basePath": ""
}
