{
  "ownerDomain": "google.com",
  "version": "v1",
  "batchPath": "batch",
  "revision": "20201003",
  "ownerName": "Google",
  "documentationLink": "https://cloud.google.com/datastore/",
  "mtlsRootUrl": "https://datastore.mtls.googleapis.com/",
  "servicePath": "",
  "name": "datastore",
  "version_module": true,
  "id": "datastore:v1",
  "rootUrl": "https://datastore.googleapis.com/",
  "title": "Cloud Datastore API",
  "protocol": "rest",
  "baseUrl": "https://datastore.googleapis.com/",
  "discoveryVersion": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/datastore": {
          "description": "View and manage your Google Cloud Datastore data"
        }
      }
    }
  },
  "resources": {
    "projects": {
      "methods": {
        "import": {
          "request": {
            "$ref": "GoogleDatastoreAdminV1ImportEntitiesRequest"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "path": "v1/projects/{projectId}:import",
          "parameters": {
            "projectId": {
              "location": "path",
              "type": "string",
              "description": "Required. Project ID against which to make the request.",
              "required": true
            }
          },
          "flatPath": "v1/projects/{projectId}:import",
          "id": "datastore.projects.import",
          "parameterOrder": [
            "projectId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "description": "Imports entities into Google Cloud Datastore. Existing entities with the same key are overwritten. The import occurs in the background and its progress can be monitored and managed via the Operation resource that is created. If an ImportEntities operation is cancelled, it is possible that a subset of the data has already been imported to Cloud Datastore."
        },
        "beginTransaction": {
          "httpMethod": "POST",
          "response": {
            "$ref": "BeginTransactionResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "description": "Begins a new transaction.",
          "parameters": {
            "projectId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. The ID of the project against which to make the request."
            }
          },
          "request": {
            "$ref": "BeginTransactionRequest"
          },
          "flatPath": "v1/projects/{projectId}:beginTransaction",
          "parameterOrder": [
            "projectId"
          ],
          "id": "datastore.projects.beginTransaction",
          "path": "v1/projects/{projectId}:beginTransaction"
        },
        "export": {
          "id": "datastore.projects.export",
          "parameterOrder": [
            "projectId"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleDatastoreAdminV1ExportEntitiesRequest"
          },
          "parameters": {
            "projectId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. Project ID against which to make the request."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "path": "v1/projects/{projectId}:export",
          "description": "Exports a copy of all or a subset of entities from Google Cloud Datastore to another storage system, such as Google Cloud Storage. Recent updates to entities may not be reflected in the export. The export occurs in the background and its progress can be monitored and managed via the Operation resource that is created. The output of an export may only be used once the associated operation is done. If an export operation is cancelled before completion it may leave partial data behind in Google Cloud Storage.",
          "flatPath": "v1/projects/{projectId}:export"
        },
        "rollback": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "path": "v1/projects/{projectId}:rollback",
          "parameters": {
            "projectId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The ID of the project against which to make the request."
            }
          },
          "response": {
            "$ref": "RollbackResponse"
          },
          "description": "Rolls back a transaction.",
          "parameterOrder": [
            "projectId"
          ],
          "id": "datastore.projects.rollback",
          "flatPath": "v1/projects/{projectId}:rollback",
          "httpMethod": "POST",
          "request": {
            "$ref": "RollbackRequest"
          }
        },
        "reserveIds": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "request": {
            "$ref": "ReserveIdsRequest"
          },
          "id": "datastore.projects.reserveIds",
          "response": {
            "$ref": "ReserveIdsResponse"
          },
          "path": "v1/projects/{projectId}:reserveIds",
          "httpMethod": "POST",
          "parameters": {
            "projectId": {
              "type": "string",
              "description": "Required. The ID of the project against which to make the request.",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "v1/projects/{projectId}:reserveIds",
          "parameterOrder": [
            "projectId"
          ],
          "description": "Prevents the supplied keys' IDs from being auto-allocated by Cloud Datastore."
        },
        "commit": {
          "description": "Commits a transaction, optionally creating, deleting or modifying some entities.",
          "parameterOrder": [
            "projectId"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "CommitRequest"
          },
          "parameters": {
            "projectId": {
              "description": "Required. The ID of the project against which to make the request.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "response": {
            "$ref": "CommitResponse"
          },
          "flatPath": "v1/projects/{projectId}:commit",
          "id": "datastore.projects.commit",
          "path": "v1/projects/{projectId}:commit"
        },
        "allocateIds": {
          "response": {
            "$ref": "AllocateIdsResponse"
          },
          "httpMethod": "POST",
          "flatPath": "v1/projects/{projectId}:allocateIds",
          "description": "Allocates IDs for the given keys, which is useful for referencing an entity before it is inserted.",
          "parameterOrder": [
            "projectId"
          ],
          "request": {
            "$ref": "AllocateIdsRequest"
          },
          "id": "datastore.projects.allocateIds",
          "path": "v1/projects/{projectId}:allocateIds",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "parameters": {
            "projectId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. The ID of the project against which to make the request."
            }
          }
        },
        "lookup": {
          "request": {
            "$ref": "LookupRequest"
          },
          "parameters": {
            "projectId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The ID of the project against which to make the request."
            }
          },
          "path": "v1/projects/{projectId}:lookup",
          "response": {
            "$ref": "LookupResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "flatPath": "v1/projects/{projectId}:lookup",
          "id": "datastore.projects.lookup",
          "httpMethod": "POST",
          "parameterOrder": [
            "projectId"
          ],
          "description": "Looks up entities by key."
        },
        "runQuery": {
          "parameterOrder": [
            "projectId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/datastore"
          ],
          "id": "datastore.projects.runQuery",
          "path": "v1/projects/{projectId}:runQuery",
          "request": {
            "$ref": "RunQueryRequest"
          },
          "flatPath": "v1/projects/{projectId}:runQuery",
          "description": "Queries for entities.",
          "httpMethod": "POST",
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "Required. The ID of the project against which to make the request.",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "RunQueryResponse"
          }
        }
      },
      "resources": {
        "operations": {
          "methods": {
            "delete": {
              "path": "v1/{+name}",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "flatPath": "v1/projects/{projectsId}/operations/{operationsId}",
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "id": "datastore.projects.operations.delete",
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to be deleted.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              }
            },
            "list": {
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "path": "v1/{+name}/operations",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "parameters": {
                "pageToken": {
                  "description": "The standard list page token.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "The name of the operation's parent resource."
                },
                "pageSize": {
                  "description": "The standard list page size.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "filter": {
                  "type": "string",
                  "description": "The standard list filter.",
                  "location": "query"
                }
              },
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
              "flatPath": "v1/projects/{projectsId}/operations",
              "id": "datastore.projects.operations.list"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "The name of the operation resource.",
                  "required": true,
                  "pattern": "^projects/[^/]+/operations/[^/]+$"
                }
              },
              "flatPath": "v1/projects/{projectsId}/operations/{operationsId}",
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "datastore.projects.operations.get"
            },
            "cancel": {
              "httpMethod": "POST",
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/projects/{projectsId}/operations/{operationsId}:cancel",
              "id": "datastore.projects.operations.cancel",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "The name of the operation resource to be cancelled.",
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}:cancel"
            }
          }
        },
        "indexes": {
          "methods": {
            "list": {
              "path": "v1/projects/{projectId}/indexes",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectId}/indexes",
              "description": "Lists the indexes that match the specified filters. Datastore uses an eventually consistent query to fetch the list of indexes and may occasionally return stale results.",
              "parameters": {
                "projectId": {
                  "location": "path",
                  "required": true,
                  "description": "Project ID against which to make the request.",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of items to return. If zero, then all results will be returned.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The next_page_token value returned from a previous List request, if any.",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "GoogleDatastoreAdminV1ListIndexesResponse"
              },
              "parameterOrder": [
                "projectId"
              ],
              "id": "datastore.projects.indexes.list"
            },
            "delete": {
              "description": "Deletes an existing index. An index can only be deleted if it is in a `READY` or `ERROR` state. On successful execution of the request, the index will be in a `DELETING` state. And on completion of the returned google.longrunning.Operation, the index will be removed. During index deletion, the process could result in an error, in which case the index will move to the `ERROR` state. The process can be recovered by fixing the data that caused the error, followed by calling delete again.",
              "flatPath": "v1/projects/{projectId}/indexes/{indexId}",
              "parameterOrder": [
                "projectId",
                "indexId"
              ],
              "httpMethod": "DELETE",
              "path": "v1/projects/{projectId}/indexes/{indexId}",
              "id": "datastore.projects.indexes.delete",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "parameters": {
                "projectId": {
                  "type": "string",
                  "required": true,
                  "description": "Project ID against which to make the request.",
                  "location": "path"
                },
                "indexId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The resource ID of the index to delete."
                }
              }
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "parameters": {
                "projectId": {
                  "required": true,
                  "type": "string",
                  "description": "Project ID against which to make the request.",
                  "location": "path"
                }
              },
              "description": "Creates the specified index. A newly created index's initial state is `CREATING`. On completion of the returned google.longrunning.Operation, the state will be `READY`. If the index already exists, the call will return an `ALREADY_EXISTS` status. During index creation, the process could result in an error, in which case the index will move to the `ERROR` state. The process can be recovered by fixing the data that caused the error, removing the index with delete, then re-creating the index with create. Indexes with a single property cannot be created.",
              "path": "v1/projects/{projectId}/indexes",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameterOrder": [
                "projectId"
              ],
              "flatPath": "v1/projects/{projectId}/indexes",
              "id": "datastore.projects.indexes.create",
              "request": {
                "$ref": "GoogleDatastoreAdminV1Index"
              },
              "httpMethod": "POST"
            },
            "get": {
              "response": {
                "$ref": "GoogleDatastoreAdminV1Index"
              },
              "flatPath": "v1/projects/{projectId}/indexes/{indexId}",
              "description": "Gets an index.",
              "parameters": {
                "indexId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The resource ID of the index to get."
                },
                "projectId": {
                  "description": "Project ID against which to make the request.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "projectId",
                "indexId"
              ],
              "id": "datastore.projects.indexes.get",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/datastore"
              ],
              "path": "v1/projects/{projectId}/indexes/{indexId}"
            }
          }
        }
      }
    }
  },
  "description": "Accesses the schemaless NoSQL database to provide fully managed, robust, scalable storage for your application. ",
  "schemas": {
    "GoogleDatastoreAdminV1ImportEntitiesMetadata": {
      "type": "object",
      "id": "GoogleDatastoreAdminV1ImportEntitiesMetadata",
      "properties": {
        "common": {
          "description": "Metadata common to all Datastore Admin operations.",
          "$ref": "GoogleDatastoreAdminV1CommonMetadata"
        },
        "inputUrl": {
          "type": "string",
          "description": "The location of the import metadata file. This will be the same value as the google.datastore.admin.v1.ExportEntitiesResponse.output_url field."
        },
        "entityFilter": {
          "description": "Description of which entities are being imported.",
          "$ref": "GoogleDatastoreAdminV1EntityFilter"
        },
        "progressEntities": {
          "description": "An estimate of the number of entities processed.",
          "$ref": "GoogleDatastoreAdminV1Progress"
        },
        "progressBytes": {
          "description": "An estimate of the number of bytes processed.",
          "$ref": "GoogleDatastoreAdminV1Progress"
        }
      },
      "description": "Metadata for ImportEntities operations."
    },
    "Mutation": {
      "id": "Mutation",
      "description": "A mutation to apply to an entity.",
      "type": "object",
      "properties": {
        "insert": {
          "description": "The entity to insert. The entity must not already exist. The entity key's final path element may be incomplete.",
          "$ref": "Entity"
        },
        "baseVersion": {
          "format": "int64",
          "type": "string",
          "description": "The version of the entity that this mutation is being applied to. If this does not match the current version on the server, the mutation conflicts."
        },
        "upsert": {
          "$ref": "Entity",
          "description": "The entity to upsert. The entity may or may not already exist. The entity key's final path element may be incomplete."
        },
        "delete": {
          "$ref": "Key",
          "description": "The key of the entity to delete. The entity may or may not already exist. Must have a complete key path and must not be reserved/read-only."
        },
        "update": {
          "description": "The entity to update. The entity must already exist. Must have a complete key path.",
          "$ref": "Entity"
        }
      }
    },
    "ReadOptions": {
      "properties": {
        "readConsistency": {
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "Strong consistency.",
            "Eventual consistency."
          ],
          "type": "string",
          "description": "The non-transactional read consistency to use. Cannot be set to `STRONG` for global queries.",
          "enum": [
            "READ_CONSISTENCY_UNSPECIFIED",
            "STRONG",
            "EVENTUAL"
          ]
        },
        "transaction": {
          "format": "byte",
          "type": "string",
          "description": "The identifier of the transaction in which to read. A transaction identifier is returned by a call to Datastore.BeginTransaction."
        }
      },
      "id": "ReadOptions",
      "description": "The options shared by read requests.",
      "type": "object"
    },
    "GoogleDatastoreAdminV1EntityFilter": {
      "description": "Identifies a subset of entities in a project. This is specified as combinations of kinds and namespaces (either or both of which may be all, as described in the following examples). Example usage: Entire project: kinds=[], namespace_ids=[] Kinds Foo and Bar in all namespaces: kinds=['Foo', 'Bar'], namespace_ids=[] Kinds Foo and Bar only in the default namespace: kinds=['Foo', 'Bar'], namespace_ids=[''] Kinds Foo and Bar in both the default and Baz namespaces: kinds=['Foo', 'Bar'], namespace_ids=['', 'Baz'] The entire Baz namespace: kinds=[], namespace_ids=['Baz']",
      "properties": {
        "kinds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "If empty, then this represents all kinds."
        },
        "namespaceIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "An empty list represents all namespaces. This is the preferred usage for projects that don't use namespaces. An empty string element represents the default namespace. This should be used if the project has data in non-default namespaces, but doesn't want to include them. Each namespace in this list must be unique."
        }
      },
      "id": "GoogleDatastoreAdminV1EntityFilter",
      "type": "object"
    },
    "Filter": {
      "properties": {
        "compositeFilter": {
          "$ref": "CompositeFilter",
          "description": "A composite filter."
        },
        "propertyFilter": {
          "description": "A filter on a property.",
          "$ref": "PropertyFilter"
        }
      },
      "type": "object",
      "description": "A holder for any type of filter.",
      "id": "Filter"
    },
    "Projection": {
      "description": "A representation of a property in a projection.",
      "id": "Projection",
      "type": "object",
      "properties": {
        "property": {
          "description": "The property to project.",
          "$ref": "PropertyReference"
        }
      }
    },
    "AllocateIdsRequest": {
      "id": "AllocateIdsRequest",
      "type": "object",
      "description": "The request for Datastore.AllocateIds.",
      "properties": {
        "keys": {
          "type": "array",
          "items": {
            "$ref": "Key"
          },
          "description": "Required. A list of keys with incomplete key paths for which to allocate IDs. No key may be reserved/read-only."
        }
      }
    },
    "Value": {
      "id": "Value",
      "description": "A message that can hold any of the supported value types and associated metadata.",
      "properties": {
        "arrayValue": {
          "$ref": "ArrayValue",
          "description": "An array value. Cannot contain another array value. A `Value` instance that sets field `array_value` must not set fields `meaning` or `exclude_from_indexes`."
        },
        "blobValue": {
          "type": "string",
          "description": "A blob value. May have at most 1,000,000 bytes. When `exclude_from_indexes` is false, may have at most 1500 bytes. In JSON requests, must be base64-encoded.",
          "format": "byte"
        },
        "meaning": {
          "description": "The `meaning` field should only be populated for backwards compatibility.",
          "format": "int32",
          "type": "integer"
        },
        "nullValue": {
          "enumDescriptions": [
            "Null value."
          ],
          "type": "string",
          "description": "A null value.",
          "enum": [
            "NULL_VALUE"
          ]
        },
        "keyValue": {
          "description": "A key value.",
          "$ref": "Key"
        },
        "geoPointValue": {
          "description": "A geo point value representing a point on the surface of Earth.",
          "$ref": "LatLng"
        },
        "stringValue": {
          "type": "string",
          "description": "A UTF-8 encoded string value. When `exclude_from_indexes` is false (it is indexed) , may have at most 1500 bytes. Otherwise, may be set to at most 1,000,000 bytes."
        },
        "timestampValue": {
          "format": "google-datetime",
          "type": "string",
          "description": "A timestamp value. When stored in the Datastore, precise only to microseconds; any additional precision is rounded down."
        },
        "entityValue": {
          "$ref": "Entity",
          "description": "An entity value. - May have no key. - May have a key with an incomplete key path. - May have a reserved/read-only key."
        },
        "doubleValue": {
          "description": "A double value.",
          "format": "double",
          "type": "number"
        },
        "excludeFromIndexes": {
          "type": "boolean",
          "description": "If the value should be excluded from all indexes including those defined explicitly."
        },
        "integerValue": {
          "format": "int64",
          "description": "An integer value.",
          "type": "string"
        },
        "booleanValue": {
          "type": "boolean",
          "description": "A boolean value."
        }
      },
      "type": "object"
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object"
    },
    "GoogleDatastoreAdminV1ImportEntitiesRequest": {
      "properties": {
        "entityFilter": {
          "description": "Optionally specify which kinds/namespaces are to be imported. If provided, the list must be a subset of the EntityFilter used in creating the export, otherwise a FAILED_PRECONDITION error will be returned. If no filter is specified then all entities from the export are imported.",
          "$ref": "GoogleDatastoreAdminV1EntityFilter"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Client-assigned labels."
        },
        "inputUrl": {
          "type": "string",
          "description": "Required. The full resource URL of the external storage location. Currently, only Google Cloud Storage is supported. So input_url should be of the form: `gs://BUCKET_NAME[/NAMESPACE_PATH]/OVERALL_EXPORT_METADATA_FILE`, where `BUCKET_NAME` is the name of the Cloud Storage bucket, `NAMESPACE_PATH` is an optional Cloud Storage namespace path (this is not a Cloud Datastore namespace), and `OVERALL_EXPORT_METADATA_FILE` is the metadata file written by the ExportEntities operation. For more information about Cloud Storage namespace paths, see [Object name considerations](https://cloud.google.com/storage/docs/naming#object-considerations). For more information, see google.datastore.admin.v1.ExportEntitiesResponse.output_url."
        }
      },
      "id": "GoogleDatastoreAdminV1ImportEntitiesRequest",
      "type": "object",
      "description": "The request for google.datastore.admin.v1.DatastoreAdmin.ImportEntities."
    },
    "GoogleDatastoreAdminV1ExportEntitiesMetadata": {
      "description": "Metadata for ExportEntities operations.",
      "properties": {
        "common": {
          "description": "Metadata common to all Datastore Admin operations.",
          "$ref": "GoogleDatastoreAdminV1CommonMetadata"
        },
        "progressBytes": {
          "$ref": "GoogleDatastoreAdminV1Progress",
          "description": "An estimate of the number of bytes processed."
        },
        "progressEntities": {
          "description": "An estimate of the number of entities processed.",
          "$ref": "GoogleDatastoreAdminV1Progress"
        },
        "outputUrlPrefix": {
          "description": "Location for the export metadata and data files. This will be the same value as the google.datastore.admin.v1.ExportEntitiesRequest.output_url_prefix field. The final output location is provided in google.datastore.admin.v1.ExportEntitiesResponse.output_url.",
          "type": "string"
        },
        "entityFilter": {
          "$ref": "GoogleDatastoreAdminV1EntityFilter",
          "description": "Description of which entities are being exported."
        }
      },
      "type": "object",
      "id": "GoogleDatastoreAdminV1ExportEntitiesMetadata"
    },
    "GqlQueryParameter": {
      "id": "GqlQueryParameter",
      "properties": {
        "cursor": {
          "description": "A query cursor. Query cursors are returned in query result batches.",
          "type": "string",
          "format": "byte"
        },
        "value": {
          "$ref": "Value",
          "description": "A value parameter."
        }
      },
      "type": "object",
      "description": "A binding parameter for a GQL query."
    },
    "GoogleDatastoreAdminV1beta1CommonMetadata": {
      "type": "object",
      "description": "Metadata common to all Datastore Admin operations.",
      "id": "GoogleDatastoreAdminV1beta1CommonMetadata",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "description": "The time the operation ended, either successfully or otherwise.",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time that work began on the operation."
        },
        "state": {
          "type": "string",
          "description": "The current state of the Operation.",
          "enum": [
            "STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ]
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The client-assigned labels which were provided when the operation was created. May also include additional labels.",
          "type": "object"
        },
        "operationType": {
          "enumDescriptions": [
            "Unspecified.",
            "ExportEntities.",
            "ImportEntities."
          ],
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "EXPORT_ENTITIES",
            "IMPORT_ENTITIES"
          ],
          "type": "string",
          "description": "The type of the operation. Can be used as a filter in ListOperationsRequest."
        }
      }
    },
    "ArrayValue": {
      "properties": {
        "values": {
          "type": "array",
          "description": "Values in the array. The order of values in an array is preserved as long as all values have identical settings for 'exclude_from_indexes'.",
          "items": {
            "$ref": "Value"
          }
        }
      },
      "description": "An array value.",
      "id": "ArrayValue",
      "type": "object"
    },
    "Key": {
      "type": "object",
      "description": "A unique identifier for an entity. If a key's partition ID or any of its path kinds or names are reserved/read-only, the key is reserved/read-only. A reserved/read-only key is forbidden in certain documented contexts.",
      "properties": {
        "partitionId": {
          "$ref": "PartitionId",
          "description": "Entities are partitioned into subsets, currently identified by a project ID and namespace ID. Queries are scoped to a single partition."
        },
        "path": {
          "type": "array",
          "items": {
            "$ref": "PathElement"
          },
          "description": "The entity path. An entity path consists of one or more elements composed of a kind and a string or numerical identifier, which identify entities. The first element identifies a _root entity_, the second element identifies a _child_ of the root entity, the third element identifies a child of the second entity, and so forth. The entities identified by all prefixes of the path are called the element's _ancestors_. An entity path is always fully complete: *all* of the entity's ancestors are required to be in the path along with the entity identifier itself. The only exception is that in some documented cases, the identifier in the last path element (for the entity) itself may be omitted. For example, the last path element of the key of `Mutation.insert` may have no identifier. A path can never be empty, and a path can have at most 100 elements."
        }
      },
      "id": "Key"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "id": "Empty",
      "type": "object",
      "properties": {}
    },
    "GoogleDatastoreAdminV1ListIndexesResponse": {
      "id": "GoogleDatastoreAdminV1ListIndexesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "indexes": {
          "items": {
            "$ref": "GoogleDatastoreAdminV1Index"
          },
          "type": "array",
          "description": "The indexes."
        }
      },
      "description": "The response for google.datastore.admin.v1.DatastoreAdmin.ListIndexes."
    },
    "GqlQuery": {
      "type": "object",
      "description": "A [GQL query](https://cloud.google.com/datastore/docs/apis/gql/gql_reference).",
      "properties": {
        "positionalBindings": {
          "items": {
            "$ref": "GqlQueryParameter"
          },
          "type": "array",
          "description": "Numbered binding site @1 references the first numbered parameter, effectively using 1-based indexing, rather than the usual 0. For each binding site numbered i in `query_string`, there must be an i-th numbered parameter. The inverse must also be true."
        },
        "namedBindings": {
          "additionalProperties": {
            "$ref": "GqlQueryParameter"
          },
          "description": "For each non-reserved named binding site in the query string, there must be a named parameter with that name, but not necessarily the inverse. Key must match regex `A-Za-z_$*`, must not match regex `__.*__`, and must not be `\"\"`.",
          "type": "object"
        },
        "queryString": {
          "description": "A string of the format described [here](https://cloud.google.com/datastore/docs/apis/gql/gql_reference).",
          "type": "string"
        },
        "allowLiterals": {
          "type": "boolean",
          "description": "When false, the query string must not contain any literals and instead must bind all values. For example, `SELECT * FROM Kind WHERE a = 'string literal'` is not allowed, while `SELECT * FROM Kind WHERE a = @value` is."
        }
      },
      "id": "GqlQuery"
    },
    "RollbackResponse": {
      "description": "The response for Datastore.Rollback. (an empty message).",
      "properties": {},
      "type": "object",
      "id": "RollbackResponse"
    },
    "BeginTransactionRequest": {
      "properties": {
        "transactionOptions": {
          "$ref": "TransactionOptions",
          "description": "Options for a new transaction."
        }
      },
      "type": "object",
      "id": "BeginTransactionRequest",
      "description": "The request for Datastore.BeginTransaction."
    },
    "GoogleDatastoreAdminV1Index": {
      "id": "GoogleDatastoreAdminV1Index",
      "description": "Datastore composite index definition.",
      "properties": {
        "kind": {
          "description": "Required. The entity kind to which this index applies.",
          "type": "string"
        },
        "indexId": {
          "description": "Output only. The resource ID of the index.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "description": "Output only. The state of the index.",
          "enumDescriptions": [
            "The state is unspecified.",
            "The index is being created, and cannot be used by queries. There is an active long-running operation for the index. The index is updated when writing an entity. Some index data may exist.",
            "The index is ready to be used. The index is updated when writing an entity. The index is fully populated from all stored entities it applies to.",
            "The index is being deleted, and cannot be used by queries. There is an active long-running operation for the index. The index is not updated when writing an entity. Some index data may exist.",
            "The index was being created or deleted, but something went wrong. The index cannot by used by queries. There is no active long-running operation for the index, and the most recently finished long-running operation failed. The index is not updated when writing an entity. Some index data may exist."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "ERROR"
          ],
          "type": "string",
          "readOnly": true
        },
        "ancestor": {
          "enum": [
            "ANCESTOR_MODE_UNSPECIFIED",
            "NONE",
            "ALL_ANCESTORS"
          ],
          "enumDescriptions": [
            "The ancestor mode is unspecified.",
            "Do not include the entity's ancestors in the index.",
            "Include all the entity's ancestors in the index."
          ],
          "type": "string",
          "description": "Required. The index's ancestor mode. Must not be ANCESTOR_MODE_UNSPECIFIED."
        },
        "projectId": {
          "type": "string",
          "description": "Output only. Project ID.",
          "readOnly": true
        },
        "properties": {
          "description": "Required. An ordered sequence of property names and their index attributes.",
          "items": {
            "$ref": "GoogleDatastoreAdminV1IndexedProperty"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ReserveIdsResponse": {
      "description": "The response for Datastore.ReserveIds.",
      "properties": {},
      "id": "ReserveIdsResponse",
      "type": "object"
    },
    "ReserveIdsRequest": {
      "description": "The request for Datastore.ReserveIds.",
      "id": "ReserveIdsRequest",
      "type": "object",
      "properties": {
        "keys": {
          "type": "array",
          "items": {
            "$ref": "Key"
          },
          "description": "Required. A list of keys with complete key paths whose numeric IDs should not be auto-allocated."
        },
        "databaseId": {
          "type": "string",
          "description": "If not empty, the ID of the database against which to make the request."
        }
      }
    },
    "RollbackRequest": {
      "properties": {
        "transaction": {
          "description": "Required. The transaction identifier, returned by a call to Datastore.BeginTransaction.",
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object",
      "description": "The request for Datastore.Rollback.",
      "id": "RollbackRequest"
    },
    "Entity": {
      "id": "Entity",
      "description": "A Datastore data object. An entity is limited to 1 megabyte when stored. That _roughly_ corresponds to a limit of 1 megabyte for the serialized form of this message.",
      "properties": {
        "key": {
          "$ref": "Key",
          "description": "The entity's key. An entity must have a key, unless otherwise documented (for example, an entity in `Value.entity_value` may have no key). An entity's kind is its key path's last element's kind, or null if it has no key."
        },
        "properties": {
          "description": "The entity's properties. The map's keys are property names. A property name matching regex `__.*__` is reserved. A reserved property name is forbidden in certain documented contexts. The name must not contain more than 500 characters. The name cannot be `\"\"`.",
          "additionalProperties": {
            "$ref": "Value"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "EntityResult": {
      "id": "EntityResult",
      "properties": {
        "entity": {
          "description": "The resulting entity.",
          "$ref": "Entity"
        },
        "version": {
          "description": "The version of the entity, a strictly positive number that monotonically increases with changes to the entity. This field is set for `FULL` entity results. For missing entities in `LookupResponse`, this is the version of the snapshot that was used to look up the entity, and it is always set except for eventually consistent reads.",
          "type": "string",
          "format": "int64"
        },
        "cursor": {
          "description": "A cursor that points to the position after the result entity. Set only when the `EntityResult` is part of a `QueryResultBatch` message.",
          "format": "byte",
          "type": "string"
        }
      },
      "description": "The result of fetching an entity from Datastore.",
      "type": "object"
    },
    "GoogleDatastoreAdminV1Progress": {
      "id": "GoogleDatastoreAdminV1Progress",
      "properties": {
        "workEstimated": {
          "type": "string",
          "description": "An estimate of how much work needs to be performed. May be zero if the work estimate is unavailable.",
          "format": "int64"
        },
        "workCompleted": {
          "type": "string",
          "description": "The amount of work that has been completed. Note that this may be greater than work_estimated.",
          "format": "int64"
        }
      },
      "description": "Measures the progress of a particular metric.",
      "type": "object"
    },
    "GoogleDatastoreAdminV1ExportEntitiesResponse": {
      "description": "The response for google.datastore.admin.v1.DatastoreAdmin.ExportEntities.",
      "type": "object",
      "id": "GoogleDatastoreAdminV1ExportEntitiesResponse",
      "properties": {
        "outputUrl": {
          "description": "Location of the output metadata file. This can be used to begin an import into Cloud Datastore (this project or another project). See google.datastore.admin.v1.ImportEntitiesRequest.input_url. Only present if the operation completed successfully.",
          "type": "string"
        }
      }
    },
    "GoogleDatastoreAdminV1IndexOperationMetadata": {
      "properties": {
        "common": {
          "description": "Metadata common to all Datastore Admin operations.",
          "$ref": "GoogleDatastoreAdminV1CommonMetadata"
        },
        "progressEntities": {
          "description": "An estimate of the number of entities processed.",
          "$ref": "GoogleDatastoreAdminV1Progress"
        },
        "indexId": {
          "type": "string",
          "description": "The index resource ID that this operation is acting on."
        }
      },
      "type": "object",
      "description": "Metadata for Index operations.",
      "id": "GoogleDatastoreAdminV1IndexOperationMetadata"
    },
    "PropertyReference": {
      "type": "object",
      "id": "PropertyReference",
      "properties": {
        "name": {
          "description": "The name of the property. If name includes \".\"s, it may be interpreted as a property name path.",
          "type": "string"
        }
      },
      "description": "A reference to a property relative to the kind expressions."
    },
    "BeginTransactionResponse": {
      "description": "The response for Datastore.BeginTransaction.",
      "properties": {
        "transaction": {
          "description": "The transaction identifier (always present).",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "BeginTransactionResponse",
      "type": "object"
    },
    "PropertyOrder": {
      "description": "The desired order for a specific property.",
      "type": "object",
      "properties": {
        "direction": {
          "type": "string",
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "ASCENDING",
            "DESCENDING"
          ],
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "Ascending.",
            "Descending."
          ],
          "description": "The direction to order by. Defaults to `ASCENDING`."
        },
        "property": {
          "$ref": "PropertyReference",
          "description": "The property to order by."
        }
      },
      "id": "PropertyOrder"
    },
    "RunQueryResponse": {
      "properties": {
        "batch": {
          "$ref": "QueryResultBatch",
          "description": "A batch of query results (always present)."
        },
        "query": {
          "$ref": "Query",
          "description": "The parsed form of the `GqlQuery` from the request, if it was set."
        }
      },
      "id": "RunQueryResponse",
      "description": "The response for Datastore.RunQuery.",
      "type": "object"
    },
    "GoogleDatastoreAdminV1beta1Progress": {
      "description": "Measures the progress of a particular metric.",
      "type": "object",
      "id": "GoogleDatastoreAdminV1beta1Progress",
      "properties": {
        "workEstimated": {
          "format": "int64",
          "type": "string",
          "description": "An estimate of how much work needs to be performed. May be zero if the work estimate is unavailable."
        },
        "workCompleted": {
          "type": "string",
          "format": "int64",
          "description": "The amount of work that has been completed. Note that this may be greater than work_estimated."
        }
      }
    },
    "CompositeFilter": {
      "description": "A filter that merges multiple other filters using the given operator.",
      "id": "CompositeFilter",
      "type": "object",
      "properties": {
        "filters": {
          "type": "array",
          "items": {
            "$ref": "Filter"
          },
          "description": "The list of filters to combine. Must contain at least one filter."
        },
        "op": {
          "type": "string",
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "AND"
          ],
          "description": "The operator for combining multiple filters.",
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "The results are required to satisfy each of the combined filters."
          ]
        }
      }
    },
    "LatLng": {
      "type": "object",
      "properties": {
        "longitude": {
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0].",
          "type": "number",
          "format": "double"
        },
        "latitude": {
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0].",
          "format": "double",
          "type": "number"
        }
      },
      "id": "LatLng",
      "description": "An object representing a latitude/longitude pair. This is expressed as a pair of doubles representing degrees latitude and degrees longitude. Unless specified otherwise, this must conform to the WGS84 standard. Values must be within normalized ranges."
    },
    "CommitResponse": {
      "properties": {
        "indexUpdates": {
          "description": "The number of index entries updated during the commit, or zero if none were updated.",
          "format": "int32",
          "type": "integer"
        },
        "mutationResults": {
          "description": "The result of performing the mutations. The i-th mutation result corresponds to the i-th mutation in the request.",
          "items": {
            "$ref": "MutationResult"
          },
          "type": "array"
        }
      },
      "description": "The response for Datastore.Commit.",
      "id": "CommitResponse",
      "type": "object"
    },
    "GoogleDatastoreAdminV1beta1ExportEntitiesMetadata": {
      "type": "object",
      "id": "GoogleDatastoreAdminV1beta1ExportEntitiesMetadata",
      "properties": {
        "progressBytes": {
          "$ref": "GoogleDatastoreAdminV1beta1Progress",
          "description": "An estimate of the number of bytes processed."
        },
        "common": {
          "description": "Metadata common to all Datastore Admin operations.",
          "$ref": "GoogleDatastoreAdminV1beta1CommonMetadata"
        },
        "outputUrlPrefix": {
          "description": "Location for the export metadata and data files. This will be the same value as the google.datastore.admin.v1beta1.ExportEntitiesRequest.output_url_prefix field. The final output location is provided in google.datastore.admin.v1beta1.ExportEntitiesResponse.output_url.",
          "type": "string"
        },
        "progressEntities": {
          "$ref": "GoogleDatastoreAdminV1beta1Progress",
          "description": "An estimate of the number of entities processed."
        },
        "entityFilter": {
          "$ref": "GoogleDatastoreAdminV1beta1EntityFilter",
          "description": "Description of which entities are being exported."
        }
      },
      "description": "Metadata for ExportEntities operations."
    },
    "CommitRequest": {
      "description": "The request for Datastore.Commit.",
      "properties": {
        "mutations": {
          "description": "The mutations to perform. When mode is `TRANSACTIONAL`, mutations affecting a single entity are applied in order. The following sequences of mutations affecting a single entity are not permitted in a single `Commit` request: - `insert` followed by `insert` - `update` followed by `insert` - `upsert` followed by `insert` - `delete` followed by `update` When mode is `NON_TRANSACTIONAL`, no two mutations may affect a single entity.",
          "type": "array",
          "items": {
            "$ref": "Mutation"
          }
        },
        "mode": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "Transactional: The mutations are either all applied, or none are applied. Learn about transactions [here](https://cloud.google.com/datastore/docs/concepts/transactions).",
            "Non-transactional: The mutations may not apply as all or none."
          ],
          "enum": [
            "MODE_UNSPECIFIED",
            "TRANSACTIONAL",
            "NON_TRANSACTIONAL"
          ],
          "description": "The type of commit to perform. Defaults to `TRANSACTIONAL`."
        },
        "transaction": {
          "description": "The identifier of the transaction associated with the commit. A transaction identifier is returned by a call to Datastore.BeginTransaction.",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "CommitRequest",
      "type": "object"
    },
    "ReadWrite": {
      "type": "object",
      "properties": {
        "previousTransaction": {
          "type": "string",
          "format": "byte",
          "description": "The transaction identifier of the transaction being retried."
        }
      },
      "id": "ReadWrite",
      "description": "Options specific to read / write transactions."
    },
    "MutationResult": {
      "properties": {
        "conflictDetected": {
          "type": "boolean",
          "description": "Whether a conflict was detected for this mutation. Always false when a conflict detection strategy field is not set in the mutation."
        },
        "key": {
          "$ref": "Key",
          "description": "The automatically allocated key. Set only when the mutation allocated a key."
        },
        "version": {
          "format": "int64",
          "description": "The version of the entity on the server after processing the mutation. If the mutation doesn't change anything on the server, then the version will be the version of the current entity or, if no entity is present, a version that is strictly greater than the version of any previous entity and less than the version of any possible future entity.",
          "type": "string"
        }
      },
      "description": "The result of applying a mutation.",
      "type": "object",
      "id": "MutationResult"
    },
    "Query": {
      "properties": {
        "order": {
          "type": "array",
          "description": "The order to apply to the query results (if empty, order is unspecified).",
          "items": {
            "$ref": "PropertyOrder"
          }
        },
        "limit": {
          "description": "The maximum number of results to return. Applies after all other constraints. Optional. Unspecified is interpreted as no limit. Must be \u003e= 0 if specified.",
          "format": "int32",
          "type": "integer"
        },
        "kind": {
          "type": "array",
          "items": {
            "$ref": "KindExpression"
          },
          "description": "The kinds to query (if empty, returns entities of all kinds). Currently at most 1 kind may be specified."
        },
        "offset": {
          "format": "int32",
          "description": "The number of results to skip. Applies before limit, but after all other constraints. Optional. Must be \u003e= 0 if specified.",
          "type": "integer"
        },
        "projection": {
          "type": "array",
          "description": "The projection to return. Defaults to returning all properties.",
          "items": {
            "$ref": "Projection"
          }
        },
        "startCursor": {
          "type": "string",
          "description": "A starting point for the query results. Query cursors are returned in query result batches and [can only be used to continue the same query](https://cloud.google.com/datastore/docs/concepts/queries#cursors_limits_and_offsets).",
          "format": "byte"
        },
        "endCursor": {
          "description": "An ending point for the query results. Query cursors are returned in query result batches and [can only be used to limit the same query](https://cloud.google.com/datastore/docs/concepts/queries#cursors_limits_and_offsets).",
          "type": "string",
          "format": "byte"
        },
        "filter": {
          "$ref": "Filter",
          "description": "The filter to apply."
        },
        "distinctOn": {
          "items": {
            "$ref": "PropertyReference"
          },
          "description": "The properties to make distinct. The query results will contain the first result for each distinct combination of values for the given properties (if empty, all results are returned).",
          "type": "array"
        }
      },
      "id": "Query",
      "type": "object",
      "description": "A query for entities."
    },
    "PartitionId": {
      "description": "A partition ID identifies a grouping of entities. The grouping is always by project and namespace, however the namespace ID may be empty. A partition ID contains several dimensions: project ID and namespace ID. Partition dimensions: - May be `\"\"`. - Must be valid UTF-8 bytes. - Must have values that match regex `[A-Za-z\\d\\.\\-_]{1,100}` If the value of any dimension matches regex `__.*__`, the partition is reserved/read-only. A reserved/read-only partition ID is forbidden in certain documented contexts. Foreign partition IDs (in which the project ID does not match the context project ID ) are discouraged. Reads and writes of foreign partition IDs may fail if the project is not in an active state.",
      "type": "object",
      "id": "PartitionId",
      "properties": {
        "namespaceId": {
          "description": "If not empty, the ID of the namespace to which the entities belong.",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "The ID of the project to which the entities belong."
        }
      }
    },
    "GoogleDatastoreAdminV1CommonMetadata": {
      "description": "Metadata common to all Datastore Admin operations.",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "description": "The time that work began on the operation.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "The current state of the Operation.",
          "enumDescriptions": [
            "Unspecified.",
            "Request is being prepared for processing.",
            "Request is actively being processed.",
            "Request is in the process of being cancelled after user called google.longrunning.Operations.CancelOperation on the operation.",
            "Request has been processed and is in its finalization stage.",
            "Request has completed successfully.",
            "Request has finished being processed, but encountered an error.",
            "Request has finished being cancelled after user called google.longrunning.Operations.CancelOperation."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "INITIALIZING",
            "PROCESSING",
            "CANCELLING",
            "FINALIZING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ]
        },
        "endTime": {
          "description": "The time the operation ended, either successfully or otherwise.",
          "format": "google-datetime",
          "type": "string"
        },
        "operationType": {
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "EXPORT_ENTITIES",
            "IMPORT_ENTITIES",
            "CREATE_INDEX",
            "DELETE_INDEX"
          ],
          "description": "The type of the operation. Can be used as a filter in ListOperationsRequest.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "ExportEntities.",
            "ImportEntities.",
            "CreateIndex.",
            "DeleteIndex."
          ]
        },
        "labels": {
          "description": "The client-assigned labels which were provided when the operation was created. May also include additional labels.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "GoogleDatastoreAdminV1CommonMetadata",
      "type": "object"
    },
    "AllocateIdsResponse": {
      "properties": {
        "keys": {
          "items": {
            "$ref": "Key"
          },
          "type": "array",
          "description": "The keys specified in the request (in the same order), each with its key path completed with a newly allocated ID."
        }
      },
      "description": "The response for Datastore.AllocateIds.",
      "type": "object",
      "id": "AllocateIdsResponse"
    },
    "GoogleDatastoreAdminV1beta1EntityFilter": {
      "id": "GoogleDatastoreAdminV1beta1EntityFilter",
      "type": "object",
      "description": "Identifies a subset of entities in a project. This is specified as combinations of kinds and namespaces (either or both of which may be all, as described in the following examples). Example usage: Entire project: kinds=[], namespace_ids=[] Kinds Foo and Bar in all namespaces: kinds=['Foo', 'Bar'], namespace_ids=[] Kinds Foo and Bar only in the default namespace: kinds=['Foo', 'Bar'], namespace_ids=[''] Kinds Foo and Bar in both the default and Baz namespaces: kinds=['Foo', 'Bar'], namespace_ids=['', 'Baz'] The entire Baz namespace: kinds=[], namespace_ids=['Baz']",
      "properties": {
        "kinds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "If empty, then this represents all kinds."
        },
        "namespaceIds": {
          "type": "array",
          "description": "An empty list represents all namespaces. This is the preferred usage for projects that don't use namespaces. An empty string element represents the default namespace. This should be used if the project has data in non-default namespaces, but doesn't want to include them. Each namespace in this list must be unique.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleLongrunningListOperationsResponse": {
      "type": "object",
      "id": "GoogleLongrunningListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        }
      }
    },
    "PropertyFilter": {
      "description": "A filter on a specific property.",
      "id": "PropertyFilter",
      "type": "object",
      "properties": {
        "value": {
          "description": "The value to compare the property to.",
          "$ref": "Value"
        },
        "property": {
          "description": "The property to filter by.",
          "$ref": "PropertyReference"
        },
        "op": {
          "type": "string",
          "description": "The operator to filter by.",
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "LESS_THAN",
            "LESS_THAN_OR_EQUAL",
            "GREATER_THAN",
            "GREATER_THAN_OR_EQUAL",
            "EQUAL",
            "HAS_ANCESTOR"
          ],
          "enumDescriptions": [
            "Unspecified. This value must not be used.",
            "Less than.",
            "Less than or equal.",
            "Greater than.",
            "Greater than or equal.",
            "Equal.",
            "Has ancestor."
          ]
        }
      }
    },
    "QueryResultBatch": {
      "type": "object",
      "properties": {
        "entityResultType": {
          "enumDescriptions": [
            "Unspecified. This value is never used.",
            "The key and properties.",
            "A projected subset of properties. The entity may have no key.",
            "Only the key."
          ],
          "description": "The result type for every entity in `entity_results`.",
          "type": "string",
          "enum": [
            "RESULT_TYPE_UNSPECIFIED",
            "FULL",
            "PROJECTION",
            "KEY_ONLY"
          ]
        },
        "snapshotVersion": {
          "type": "string",
          "description": "The version number of the snapshot this batch was returned from. This applies to the range of results from the query's `start_cursor` (or the beginning of the query if no cursor was given) to this batch's `end_cursor` (not the query's `end_cursor`). In a single transaction, subsequent query result batches for the same query can have a greater snapshot version number. Each batch's snapshot version is valid for all preceding batches. The value will be zero for eventually consistent queries.",
          "format": "int64"
        },
        "skippedResults": {
          "format": "int32",
          "description": "The number of results skipped, typically because of an offset.",
          "type": "integer"
        },
        "skippedCursor": {
          "description": "A cursor that points to the position after the last skipped result. Will be set when `skipped_results` != 0.",
          "type": "string",
          "format": "byte"
        },
        "endCursor": {
          "format": "byte",
          "type": "string",
          "description": "A cursor that points to the position after the last result in the batch."
        },
        "moreResults": {
          "description": "The state of the query after the current batch.",
          "enum": [
            "MORE_RESULTS_TYPE_UNSPECIFIED",
            "NOT_FINISHED",
            "MORE_RESULTS_AFTER_LIMIT",
            "MORE_RESULTS_AFTER_CURSOR",
            "NO_MORE_RESULTS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified. This value is never used.",
            "There may be additional batches to fetch from this query.",
            "The query is finished, but there may be more results after the limit.",
            "The query is finished, but there may be more results after the end cursor.",
            "The query is finished, and there are no more results."
          ]
        },
        "entityResults": {
          "items": {
            "$ref": "EntityResult"
          },
          "description": "The results for this batch.",
          "type": "array"
        }
      },
      "description": "A batch of results produced by a query.",
      "id": "QueryResultBatch"
    },
    "LookupRequest": {
      "description": "The request for Datastore.Lookup.",
      "properties": {
        "readOptions": {
          "$ref": "ReadOptions",
          "description": "The options for this lookup request."
        },
        "keys": {
          "items": {
            "$ref": "Key"
          },
          "type": "array",
          "description": "Required. Keys of entities to look up."
        }
      },
      "type": "object",
      "id": "LookupRequest"
    },
    "PathElement": {
      "id": "PathElement",
      "description": "A (kind, ID/name) pair used to construct a key path. If either name or ID is set, the element is complete. If neither is set, the element is incomplete.",
      "properties": {
        "id": {
          "format": "int64",
          "description": "The auto-allocated ID of the entity. Never equal to zero. Values less than zero are discouraged and may not be supported in the future.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "The kind of the entity. A kind matching regex `__.*__` is reserved/read-only. A kind must not contain more than 1500 bytes when UTF-8 encoded. Cannot be `\"\"`."
        },
        "name": {
          "description": "The name of the entity. A name matching regex `__.*__` is reserved/read-only. A name must not be more than 1500 bytes when UTF-8 encoded. Cannot be `\"\"`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "RunQueryRequest": {
      "properties": {
        "partitionId": {
          "description": "Entities are partitioned into subsets, identified by a partition ID. Queries are scoped to a single partition. This partition ID is normalized with the standard default context partition ID.",
          "$ref": "PartitionId"
        },
        "readOptions": {
          "$ref": "ReadOptions",
          "description": "The options for this query."
        },
        "gqlQuery": {
          "description": "The GQL query to run.",
          "$ref": "GqlQuery"
        },
        "query": {
          "$ref": "Query",
          "description": "The query to run."
        }
      },
      "id": "RunQueryRequest",
      "type": "object",
      "description": "The request for Datastore.RunQuery."
    },
    "GoogleDatastoreAdminV1beta1ImportEntitiesMetadata": {
      "id": "GoogleDatastoreAdminV1beta1ImportEntitiesMetadata",
      "description": "Metadata for ImportEntities operations.",
      "type": "object",
      "properties": {
        "progressBytes": {
          "description": "An estimate of the number of bytes processed.",
          "$ref": "GoogleDatastoreAdminV1beta1Progress"
        },
        "entityFilter": {
          "$ref": "GoogleDatastoreAdminV1beta1EntityFilter",
          "description": "Description of which entities are being imported."
        },
        "progressEntities": {
          "$ref": "GoogleDatastoreAdminV1beta1Progress",
          "description": "An estimate of the number of entities processed."
        },
        "inputUrl": {
          "description": "The location of the import metadata file. This will be the same value as the google.datastore.admin.v1beta1.ExportEntitiesResponse.output_url field.",
          "type": "string"
        },
        "common": {
          "description": "Metadata common to all Datastore Admin operations.",
          "$ref": "GoogleDatastoreAdminV1beta1CommonMetadata"
        }
      }
    },
    "KindExpression": {
      "type": "object",
      "id": "KindExpression",
      "description": "A representation of a kind.",
      "properties": {
        "name": {
          "description": "The name of the kind.",
          "type": "string"
        }
      }
    },
    "GoogleDatastoreAdminV1beta1ExportEntitiesResponse": {
      "id": "GoogleDatastoreAdminV1beta1ExportEntitiesResponse",
      "type": "object",
      "properties": {
        "outputUrl": {
          "type": "string",
          "description": "Location of the output metadata file. This can be used to begin an import into Cloud Datastore (this project or another project). See google.datastore.admin.v1beta1.ImportEntitiesRequest.input_url. Only present if the operation completed successfully."
        }
      },
      "description": "The response for google.datastore.admin.v1beta1.DatastoreAdmin.ExportEntities."
    },
    "LookupResponse": {
      "description": "The response for Datastore.Lookup.",
      "id": "LookupResponse",
      "type": "object",
      "properties": {
        "deferred": {
          "items": {
            "$ref": "Key"
          },
          "type": "array",
          "description": "A list of keys that were not looked up due to resource constraints. The order of results in this field is undefined and has no relation to the order of the keys in the input."
        },
        "found": {
          "description": "Entities found as `ResultType.FULL` entities. The order of results in this field is undefined and has no relation to the order of the keys in the input.",
          "type": "array",
          "items": {
            "$ref": "EntityResult"
          }
        },
        "missing": {
          "type": "array",
          "description": "Entities not found as `ResultType.KEY_ONLY` entities. The order of results in this field is undefined and has no relation to the order of the keys in the input.",
          "items": {
            "$ref": "EntityResult"
          }
        }
      }
    },
    "ReadOnly": {
      "type": "object",
      "id": "ReadOnly",
      "description": "Options specific to read-only transactions.",
      "properties": {}
    },
    "GoogleDatastoreAdminV1IndexedProperty": {
      "id": "GoogleDatastoreAdminV1IndexedProperty",
      "properties": {
        "name": {
          "description": "Required. The property name to index.",
          "type": "string"
        },
        "direction": {
          "enumDescriptions": [
            "The direction is unspecified.",
            "The property's values are indexed so as to support sequencing in ascending order and also query by \u003c, \u003e, \u003c=, \u003e=, and =.",
            "The property's values are indexed so as to support sequencing in descending order and also query by \u003c, \u003e, \u003c=, \u003e=, and =."
          ],
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "ASCENDING",
            "DESCENDING"
          ],
          "type": "string",
          "description": "Required. The indexed property's direction. Must not be DIRECTION_UNSPECIFIED."
        }
      },
      "type": "object",
      "description": "A property of an index."
    },
    "TransactionOptions": {
      "type": "object",
      "properties": {
        "readWrite": {
          "description": "The transaction should allow both reads and writes.",
          "$ref": "ReadWrite"
        },
        "readOnly": {
          "description": "The transaction should only allow reads.",
          "$ref": "ReadOnly"
        }
      },
      "id": "TransactionOptions",
      "description": "Options for beginning a new transaction. Transactions can be created explicitly with calls to Datastore.BeginTransaction or implicitly by setting ReadOptions.new_transaction in read requests."
    },
    "GoogleDatastoreAdminV1ExportEntitiesRequest": {
      "type": "object",
      "id": "GoogleDatastoreAdminV1ExportEntitiesRequest",
      "properties": {
        "labels": {
          "type": "object",
          "description": "Client-assigned labels.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "outputUrlPrefix": {
          "description": "Required. Location for the export metadata and data files. The full resource URL of the external storage location. Currently, only Google Cloud Storage is supported. So output_url_prefix should be of the form: `gs://BUCKET_NAME[/NAMESPACE_PATH]`, where `BUCKET_NAME` is the name of the Cloud Storage bucket and `NAMESPACE_PATH` is an optional Cloud Storage namespace path (this is not a Cloud Datastore namespace). For more information about Cloud Storage namespace paths, see [Object name considerations](https://cloud.google.com/storage/docs/naming#object-considerations). The resulting files will be nested deeper than the specified URL prefix. The final output URL will be provided in the google.datastore.admin.v1.ExportEntitiesResponse.output_url field. That value should be used for subsequent ImportEntities operations. By nesting the data files deeper, the same Cloud Storage bucket can be used in multiple ExportEntities operations without conflict.",
          "type": "string"
        },
        "entityFilter": {
          "description": "Description of what data from the project is included in the export.",
          "$ref": "GoogleDatastoreAdminV1EntityFilter"
        }
      },
      "description": "The request for google.datastore.admin.v1.DatastoreAdmin.ExportEntities."
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "parameters": {
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    }
  }
}
