{
  "title": "IAM Service Account Credentials API",
  "description": "Creates short-lived credentials for impersonating IAM service accounts. To enable this API, you must enable the IAM API (iam.googleapis.com). ",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "id": "iamcredentials:v1",
  "schemas": {
    "SignJwtResponse": {
      "properties": {
        "signedJwt": {
          "description": "The signed JWT. Contains the automatically generated header; the client-supplied payload; and the signature, which is generated using the key referenced by the `kid` field in the header. After the key pair referenced by the `key_id` response field expires, Google no longer exposes the public key that can be used to verify the JWT. As a result, the receiver can no longer verify the signature.",
          "type": "string"
        },
        "keyId": {
          "description": "The ID of the key used to sign the JWT. The key used for signing will remain valid for at least 12 hours after the JWT is signed. To verify the signature, you can retrieve the public key in several formats from the following endpoints: - RSA public key wrapped in an X.509 v3 certificate: `https://www.googleapis.com/service_accounts/v1/metadata/x509/{ACCOUNT_EMAIL}` - Raw key in JSON format: `https://www.googleapis.com/service_accounts/v1/metadata/raw/{ACCOUNT_EMAIL}` - JSON Web Key (JWK): `https://www.googleapis.com/service_accounts/v1/metadata/jwk/{ACCOUNT_EMAIL}`",
          "type": "string"
        }
      },
      "id": "SignJwtResponse",
      "type": "object"
    },
    "GenerateIdTokenResponse": {
      "properties": {
        "token": {
          "type": "string",
          "description": "The OpenId Connect ID token."
        }
      },
      "id": "GenerateIdTokenResponse",
      "type": "object"
    },
    "GenerateAccessTokenResponse": {
      "id": "GenerateAccessTokenResponse",
      "type": "object",
      "properties": {
        "accessToken": {
          "description": "The OAuth 2.0 access token.",
          "type": "string"
        },
        "expireTime": {
          "description": "Token expiration time. The expiration time is always set.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "SignJwtRequest": {
      "type": "object",
      "properties": {
        "payload": {
          "description": "Required. The JWT payload to sign. Must be a serialized JSON object that contains a JWT Claims Set. For example: `{\"sub\": \"user@example.com\", \"iat\": 313435}` If the JWT Claims Set contains an expiration time (`exp`) claim, it must be an integer timestamp that is not in the past and no more than 12 hours in the future.",
          "type": "string"
        },
        "delegates": {
          "type": "array",
          "description": "The sequence of service accounts in a delegation chain. Each service account must be granted the `roles/iam.serviceAccountTokenCreator` role on its next service account in the chain. The last service account in the chain must be granted the `roles/iam.serviceAccountTokenCreator` role on the service account that is specified in the `name` field of the request. The delegates must have the following format: `projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`. The `-` wildcard character is required; replacing it with a project ID is invalid.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "SignJwtRequest"
    },
    "SignBlobRequest": {
      "properties": {
        "payload": {
          "format": "byte",
          "type": "string",
          "description": "Required. The bytes to sign."
        },
        "delegates": {
          "type": "array",
          "description": "The sequence of service accounts in a delegation chain. Each service account must be granted the `roles/iam.serviceAccountTokenCreator` role on its next service account in the chain. The last service account in the chain must be granted the `roles/iam.serviceAccountTokenCreator` role on the service account that is specified in the `name` field of the request. The delegates must have the following format: `projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`. The `-` wildcard character is required; replacing it with a project ID is invalid.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "SignBlobRequest"
    },
    "SignBlobResponse": {
      "properties": {
        "keyId": {
          "type": "string",
          "description": "The ID of the key used to sign the blob. The key used for signing will remain valid for at least 12 hours after the blob is signed. To verify the signature, you can retrieve the public key in several formats from the following endpoints: - RSA public key wrapped in an X.509 v3 certificate: `https://www.googleapis.com/service_accounts/v1/metadata/x509/{ACCOUNT_EMAIL}` - Raw key in JSON format: `https://www.googleapis.com/service_accounts/v1/metadata/raw/{ACCOUNT_EMAIL}` - JSON Web Key (JWK): `https://www.googleapis.com/service_accounts/v1/metadata/jwk/{ACCOUNT_EMAIL}`"
        },
        "signedBlob": {
          "description": "The signature for the blob. Does not include the original blob. After the key pair referenced by the `key_id` response field expires, Google no longer exposes the public key that can be used to verify the blob. As a result, the receiver can no longer verify the signature.",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "SignBlobResponse",
      "type": "object"
    },
    "GenerateIdTokenRequest": {
      "type": "object",
      "properties": {
        "delegates": {
          "items": {
            "type": "string"
          },
          "description": "The sequence of service accounts in a delegation chain. Each service account must be granted the `roles/iam.serviceAccountTokenCreator` role on its next service account in the chain. The last service account in the chain must be granted the `roles/iam.serviceAccountTokenCreator` role on the service account that is specified in the `name` field of the request. The delegates must have the following format: `projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`. The `-` wildcard character is required; replacing it with a project ID is invalid.",
          "type": "array"
        },
        "audience": {
          "type": "string",
          "description": "Required. The audience for the token, such as the API or account that this token grants access to."
        },
        "includeEmail": {
          "description": "Include the service account email in the token. If set to `true`, the token will contain `email` and `email_verified` claims.",
          "type": "boolean"
        }
      },
      "id": "GenerateIdTokenRequest"
    },
    "GenerateAccessTokenRequest": {
      "type": "object",
      "properties": {
        "scope": {
          "description": "Required. Code to identify the scopes to be included in the OAuth 2.0 access token. See https://developers.google.com/identity/protocols/googlescopes for more information. At least one value required.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "delegates": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The sequence of service accounts in a delegation chain. Each service account must be granted the `roles/iam.serviceAccountTokenCreator` role on its next service account in the chain. The last service account in the chain must be granted the `roles/iam.serviceAccountTokenCreator` role on the service account that is specified in the `name` field of the request. The delegates must have the following format: `projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`. The `-` wildcard character is required; replacing it with a project ID is invalid."
        },
        "lifetime": {
          "format": "google-duration",
          "description": "The desired lifetime duration of the access token in seconds. By default, the maximum allowed value is 1 hour. To set a lifetime of up to 12 hours, you can add the service account as an allowed value in an Organization Policy that enforces the `constraints/iam.allowServiceAccountCredentialLifetimeExtension` constraint. See detailed instructions at https://cloud.google.com/iam/help/credentials/lifetime If a value is not specified, the token's lifetime will be set to a default value of 1 hour.",
          "type": "string"
        }
      },
      "id": "GenerateAccessTokenRequest"
    }
  },
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "type": "string",
      "description": "Data format for response."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    }
  },
  "revision": "20201204",
  "protocol": "rest",
  "batchPath": "batch",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "mtlsRootUrl": "https://iamcredentials.mtls.googleapis.com/",
  "servicePath": "",
  "resources": {
    "projects": {
      "resources": {
        "serviceAccounts": {
          "methods": {
            "signBlob": {
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/serviceAccounts/[^/]+$",
                  "type": "string",
                  "description": "Required. The resource name of the service account for which the credentials are requested, in the following format: `projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`. The `-` wildcard character is required; replacing it with a project ID is invalid."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "iamcredentials.projects.serviceAccounts.signBlob",
              "description": "Signs a blob using a service account's system-managed private key.",
              "request": {
                "$ref": "SignBlobRequest"
              },
              "path": "v1/{+name}:signBlob",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "SignBlobResponse"
              },
              "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}:signBlob"
            },
            "generateAccessToken": {
              "response": {
                "$ref": "GenerateAccessTokenResponse"
              },
              "httpMethod": "POST",
              "id": "iamcredentials.projects.serviceAccounts.generateAccessToken",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/serviceAccounts/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The resource name of the service account for which the credentials are requested, in the following format: `projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`. The `-` wildcard character is required; replacing it with a project ID is invalid."
                }
              },
              "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}:generateAccessToken",
              "parameterOrder": [
                "name"
              ],
              "description": "Generates an OAuth 2.0 access token for a service account.",
              "path": "v1/{+name}:generateAccessToken",
              "request": {
                "$ref": "GenerateAccessTokenRequest"
              }
            },
            "generateIdToken": {
              "id": "iamcredentials.projects.serviceAccounts.generateIdToken",
              "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}:generateIdToken",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The resource name of the service account for which the credentials are requested, in the following format: `projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`. The `-` wildcard character is required; replacing it with a project ID is invalid.",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/serviceAccounts/[^/]+$"
                }
              },
              "request": {
                "$ref": "GenerateIdTokenRequest"
              },
              "path": "v1/{+name}:generateIdToken",
              "response": {
                "$ref": "GenerateIdTokenResponse"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Generates an OpenID Connect ID token for a service account."
            },
            "signJwt": {
              "description": "Signs a JWT using a service account's system-managed private key.",
              "response": {
                "$ref": "SignJwtResponse"
              },
              "httpMethod": "POST",
              "flatPath": "v1/projects/{projectsId}/serviceAccounts/{serviceAccountsId}:signJwt",
              "id": "iamcredentials.projects.serviceAccounts.signJwt",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:signJwt",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "SignJwtRequest"
              },
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the service account for which the credentials are requested, in the following format: `projects/-/serviceAccounts/{ACCOUNT_EMAIL_OR_UNIQUEID}`. The `-` wildcard character is required; replacing it with a project ID is invalid.",
                  "pattern": "^projects/[^/]+/serviceAccounts/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              }
            }
          }
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://iamcredentials.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/iam/docs/creating-short-lived-service-account-credentials",
  "canonicalName": "IAM Credentials",
  "basePath": "",
  "baseUrl": "https://iamcredentials.googleapis.com/",
  "version_module": true,
  "name": "iamcredentials",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "version": "v1"
}
