{
  "discoveryVersion": "v1",
  "version": "v1beta",
  "batchPath": "batch",
  "baseUrl": "https://osconfig.googleapis.com/",
  "basePath": "",
  "revision": "20201214",
  "id": "osconfig:v1beta",
  "resources": {
    "projects": {
      "resources": {
        "patchDeployments": {
          "methods": {
            "delete": {
              "id": "osconfig.projects.patchDeployments.delete",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/patchDeployments/[^/]+$",
                  "location": "path",
                  "description": "Required. The resource name of the patch deployment in the form `projects/*/patchDeployments/*`."
                }
              },
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}",
              "flatPath": "v1beta/projects/{projectsId}/patchDeployments/{patchDeploymentsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Empty"
              },
              "description": "Delete an OS Config patch deployment."
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "PatchDeployment"
              },
              "flatPath": "v1beta/projects/{projectsId}/patchDeployments",
              "id": "osconfig.projects.patchDeployments.create",
              "request": {
                "$ref": "PatchDeployment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The project to apply this patch deployment to in the form `projects/*`."
                },
                "patchDeploymentId": {
                  "type": "string",
                  "location": "query",
                  "description": "Required. A name for the patch deployment in the project. When creating a name the following rules apply: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the project."
                }
              },
              "description": "Create an OS Config patch deployment.",
              "path": "v1beta/{+parent}/patchDeployments"
            },
            "get": {
              "flatPath": "v1beta/projects/{projectsId}/patchDeployments/{patchDeploymentsId}",
              "response": {
                "$ref": "PatchDeployment"
              },
              "httpMethod": "GET",
              "path": "v1beta/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/patchDeployments/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The resource name of the patch deployment in the form `projects/*/patchDeployments/*`."
                }
              },
              "description": "Get an OS Config patch deployment.",
              "id": "osconfig.projects.patchDeployments.get",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "osconfig.projects.patchDeployments.list",
              "description": "Get a page of OS Config patch deployments.",
              "response": {
                "$ref": "ListPatchDeploymentsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta/{+parent}/patchDeployments",
              "flatPath": "v1beta/projects/{projectsId}/patchDeployments",
              "parameters": {
                "parent": {
                  "description": "Required. The resource name of the parent in the form `projects/*`.",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Optional. A pagination token returned from a previous call to ListPatchDeployments that indicates where this listing should continue from.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "Optional. The maximum number of patch deployments to return. Default is 100."
                }
              },
              "httpMethod": "GET"
            }
          }
        },
        "guestPolicies": {
          "methods": {
            "patch": {
              "id": "osconfig.projects.guestPolicies.patch",
              "parameterOrder": [
                "name"
              ],
              "description": "Update an OS Config guest policy.",
              "response": {
                "$ref": "GuestPolicy"
              },
              "flatPath": "v1beta/projects/{projectsId}/guestPolicies/{guestPoliciesId}",
              "parameters": {
                "updateMask": {
                  "description": "Field mask that controls which fields of the guest policy should be updated.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "name": {
                  "required": true,
                  "description": "Required. Unique name of the resource in this project using one of the following forms: `projects/{project_number}/guestPolicies/{guest_policy_id}`.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/guestPolicies/[^/]+$",
                  "type": "string"
                }
              },
              "path": "v1beta/{+name}",
              "request": {
                "$ref": "GuestPolicy"
              },
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "create": {
              "description": "Create an OS Config guest policy.",
              "response": {
                "$ref": "GuestPolicy"
              },
              "id": "osconfig.projects.guestPolicies.create",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The resource name of the parent using one of the following forms: `projects/{project_number}`.",
                  "pattern": "^projects/[^/]+$"
                },
                "guestPolicyId": {
                  "type": "string",
                  "location": "query",
                  "description": "Required. The logical name of the guest policy in the project with the following restrictions: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the project."
                }
              },
              "flatPath": "v1beta/projects/{projectsId}/guestPolicies",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GuestPolicy"
              },
              "path": "v1beta/{+parent}/guestPolicies",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "response": {
                "$ref": "GuestPolicy"
              },
              "path": "v1beta/{+name}",
              "flatPath": "v1beta/projects/{projectsId}/guestPolicies/{guestPoliciesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The resource name of the guest policy using one of the following forms: `projects/{project_number}/guestPolicies/{guest_policy_id}`.",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/guestPolicies/[^/]+$"
                }
              },
              "description": "Get an OS Config guest policy.",
              "id": "osconfig.projects.guestPolicies.get"
            },
            "delete": {
              "path": "v1beta/{+name}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/guestPolicies/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The resource name of the guest policy using one of the following forms: `projects/{project_number}/guestPolicies/{guest_policy_id}`."
                }
              },
              "flatPath": "v1beta/projects/{projectsId}/guestPolicies/{guestPoliciesId}",
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "DELETE",
              "id": "osconfig.projects.guestPolicies.delete",
              "description": "Delete an OS Config guest policy.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "osconfig.projects.guestPolicies.list",
              "flatPath": "v1beta/projects/{projectsId}/guestPolicies",
              "response": {
                "$ref": "ListGuestPoliciesResponse"
              },
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of guest policies to return.",
                  "location": "query"
                },
                "pageToken": {
                  "description": "A pagination token returned from a previous call to `ListGuestPolicies` that indicates where this listing should continue from.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "description": "Required. The resource name of the parent using one of the following forms: `projects/{project_number}`.",
                  "required": true
                }
              },
              "description": "Get a page of OS Config guest policies.",
              "path": "v1beta/{+parent}/guestPolicies",
              "httpMethod": "GET"
            }
          }
        },
        "patchJobs": {
          "resources": {
            "instanceDetails": {
              "methods": {
                "list": {
                  "path": "v1beta/{+parent}/instanceDetails",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent for the instances are in the form of `projects/*/patchJobs/*`.",
                      "pattern": "^projects/[^/]+/patchJobs/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "filter": {
                      "type": "string",
                      "description": "A filter expression that filters results listed in the response. This field supports filtering results by instance zone, name, state, or `failure_reason`.",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "A pagination token returned from a previous call that indicates where this listing should continue from.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of instance details records to return. Default is 100.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListPatchJobInstanceDetailsResponse"
                  },
                  "id": "osconfig.projects.patchJobs.instanceDetails.list",
                  "flatPath": "v1beta/projects/{projectsId}/patchJobs/{patchJobsId}/instanceDetails",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Get a list of instance details for a given patch job.",
                  "httpMethod": "GET"
                }
              }
            }
          },
          "methods": {
            "get": {
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Name of the patch in the form `projects/*/patchJobs/*`",
                  "pattern": "^projects/[^/]+/patchJobs/[^/]+$"
                }
              },
              "id": "osconfig.projects.patchJobs.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Get the patch job. This can be used to track the progress of an ongoing patch job or review the details of completed jobs.",
              "path": "v1beta/{+name}",
              "response": {
                "$ref": "PatchJob"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta/projects/{projectsId}/patchJobs/{patchJobsId}"
            },
            "execute": {
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The project in which to run this patch in the form `projects/*`",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "id": "osconfig.projects.patchJobs.execute",
              "description": "Patch VM instances by creating and running a patch job.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/projects/{projectsId}/patchJobs:execute",
              "path": "v1beta/{+parent}/patchJobs:execute",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "PatchJob"
              },
              "request": {
                "$ref": "ExecutePatchJobRequest"
              }
            },
            "list": {
              "id": "osconfig.projects.patchJobs.list",
              "path": "v1beta/{+parent}/patchJobs",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListPatchJobsResponse"
              },
              "httpMethod": "GET",
              "description": "Get a list of patch jobs.",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. In the form of `projects/*`",
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A pagination token returned from a previous call that indicates where this listing should continue from."
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "If provided, this field specifies the criteria that must be met by patch jobs to be included in the response. Currently, filtering is only available on the patch_deployment field."
                },
                "pageSize": {
                  "description": "The maximum number of instance status to return.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "flatPath": "v1beta/projects/{projectsId}/patchJobs",
              "parameterOrder": [
                "parent"
              ]
            },
            "cancel": {
              "flatPath": "v1beta/projects/{projectsId}/patchJobs/{patchJobsId}:cancel",
              "description": "Cancel a patch job. The patch job must be active. Canceled patch jobs cannot be restarted.",
              "path": "v1beta/{+name}:cancel",
              "response": {
                "$ref": "PatchJob"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/patchJobs/[^/]+$",
                  "type": "string",
                  "description": "Required. Name of the patch in the form `projects/*/patchJobs/*`",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "osconfig.projects.patchJobs.cancel",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "CancelPatchJobRequest"
              },
              "httpMethod": "POST"
            }
          }
        },
        "zones": {
          "resources": {
            "instances": {
              "methods": {
                "lookupEffectiveGuestPolicy": {
                  "httpMethod": "POST",
                  "id": "osconfig.projects.zones.instances.lookupEffectiveGuestPolicy",
                  "path": "v1beta/{+instance}:lookupEffectiveGuestPolicy",
                  "parameterOrder": [
                    "instance"
                  ],
                  "description": "Lookup the effective guest policy that applies to a VM instance. This lookup merges all policies that are assigned to the instance ancestry.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "instance": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/zones/[^/]+/instances/[^/]+$",
                      "description": "Required. The VM instance whose policies are being looked up.",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "EffectiveGuestPolicy"
                  },
                  "request": {
                    "$ref": "LookupEffectiveGuestPolicyRequest"
                  },
                  "flatPath": "v1beta/projects/{projectsId}/zones/{zonesId}/instances/{instancesId}:lookupEffectiveGuestPolicy"
                }
              }
            }
          }
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "description": "OS management tools that can be used for patch management, patch compliance, and configuration management on VM instances.",
  "name": "osconfig",
  "mtlsRootUrl": "https://osconfig.mtls.googleapis.com/",
  "servicePath": "",
  "version_module": true,
  "canonicalName": "OS Config",
  "parameters": {
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "documentationLink": "https://cloud.google.com/compute/docs/manage-os",
  "kind": "discovery#restDescription",
  "schemas": {
    "GuestPolicy": {
      "type": "object",
      "description": "An OS Config resource representing a guest configuration policy. These policies represent the desired state for VM instance guest environments including packages to install or remove, package repository configurations, and software to install.",
      "id": "GuestPolicy",
      "properties": {
        "recipes": {
          "items": {
            "$ref": "SoftwareRecipe"
          },
          "type": "array",
          "description": "A list of Recipes to install on the VM instance."
        },
        "etag": {
          "type": "string",
          "description": "The etag for this guest policy. If this is provided on update, it must match the server's etag."
        },
        "createTime": {
          "description": "Output only. Time this guest policy was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Required. Unique name of the resource in this project using one of the following forms: `projects/{project_number}/guestPolicies/{guest_policy_id}`."
        },
        "packages": {
          "description": "The software packages to be managed by this policy.",
          "items": {
            "$ref": "Package"
          },
          "type": "array"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Last time this guest policy was updated."
        },
        "assignment": {
          "description": "Required. Specifies the VM instances that are assigned to this policy. This allows you to target sets or groups of VM instances by different parameters such as labels, names, OS, or zones. If left empty, all VM instances underneath this policy are targeted. At the same level in the resource hierarchy (that is within a project), the service prevents the creation of multiple policies that conflict with each other. For more information, see how the service [handles assignment conflicts](/compute/docs/os-config-management/create-guest-policy#handle-conflicts).",
          "$ref": "Assignment"
        },
        "description": {
          "description": "Description of the guest policy. Length of the description is limited to 1024 characters.",
          "type": "string"
        },
        "packageRepositories": {
          "type": "array",
          "items": {
            "$ref": "PackageRepository"
          },
          "description": "A list of package repositories to configure on the VM instance. This is done before any other configs are applied so they can use these repos. Package repositories are only configured if the corresponding package manager(s) are available."
        }
      }
    },
    "AptSettings": {
      "description": "Apt patching is completed by executing `apt-get update && apt-get upgrade`. Additional options can be set to control how this is executed.",
      "type": "object",
      "properties": {
        "exclusivePackages": {
          "description": "An exclusive list of packages to be updated. These are the only packages that will be updated. If these packages are not installed, they will be ignored. This field cannot be specified with any other patch configuration fields.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "type": {
          "enumDescriptions": [
            "By default, upgrade will be performed.",
            "Runs `apt-get dist-upgrade`.",
            "Runs `apt-get upgrade`."
          ],
          "description": "By changing the type to DIST, the patching is performed using `apt-get dist-upgrade` instead.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "DIST",
            "UPGRADE"
          ]
        },
        "excludes": {
          "description": "List of packages to exclude from update. These packages will be excluded",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "AptSettings"
    },
    "ListPatchJobInstanceDetailsResponse": {
      "type": "object",
      "description": "A response message for listing the instances details for a patch job.",
      "properties": {
        "nextPageToken": {
          "description": "A pagination token that can be used to get the next page of results.",
          "type": "string"
        },
        "patchJobInstanceDetails": {
          "description": "A list of instance status.",
          "items": {
            "$ref": "PatchJobInstanceDetails"
          },
          "type": "array"
        }
      },
      "id": "ListPatchJobInstanceDetailsResponse"
    },
    "SoftwareRecipeArtifactRemote": {
      "description": "Specifies an artifact available via some URI.",
      "properties": {
        "checksum": {
          "type": "string",
          "description": "Must be provided if `allow_insecure` is `false`. SHA256 checksum in hex format, to compare to the checksum of the artifact. If the checksum is not empty and it doesn't match the artifact then the recipe installation fails before running any of the steps."
        },
        "uri": {
          "description": "URI from which to fetch the object. It should contain both the protocol and path following the format {protocol}://{location}.",
          "type": "string"
        }
      },
      "id": "SoftwareRecipeArtifactRemote",
      "type": "object"
    },
    "YumSettings": {
      "type": "object",
      "properties": {
        "minimal": {
          "type": "boolean",
          "description": "Will cause patch to run `yum update-minimal` instead."
        },
        "excludes": {
          "description": "List of packages to exclude from update. These packages are excluded by using the yum `--exclude` flag.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "exclusivePackages": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "An exclusive list of packages to be updated. These are the only packages that will be updated. If these packages are not installed, they will be ignored. This field must not be specified with any other patch configuration fields."
        },
        "security": {
          "description": "Adds the `--security` flag to `yum update`. Not supported on all platforms.",
          "type": "boolean"
        }
      },
      "description": "Yum patching is performed by executing `yum update`. Additional options can be set to control how this is executed. Note that not all settings are supported on all platforms.",
      "id": "YumSettings"
    },
    "SoftwareRecipeStepInstallRpm": {
      "type": "object",
      "id": "SoftwareRecipeStepInstallRpm",
      "description": "Installs an rpm file via the rpm utility.",
      "properties": {
        "artifactId": {
          "type": "string",
          "description": "Required. The id of the relevant artifact in the recipe."
        }
      }
    },
    "InventoryWindowsUpdatePackageWindowsUpdateCategory": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The identifier of the windows update category."
        },
        "name": {
          "type": "string",
          "description": "The name of the windows update category."
        }
      },
      "id": "InventoryWindowsUpdatePackageWindowsUpdateCategory",
      "type": "object",
      "description": "Categories specified by the Windows Update."
    },
    "InventorySoftwarePackage": {
      "type": "object",
      "properties": {
        "yumPackage": {
          "description": "Yum package info. For details about the yum package manager, see https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/6/html/deployment_guide/ch-yum.",
          "$ref": "InventoryVersionedPackage"
        },
        "googetPackage": {
          "description": "Details of a Googet package. For details about the googet package manager, see https://github.com/google/googet.",
          "$ref": "InventoryVersionedPackage"
        },
        "wuaPackage": {
          "$ref": "InventoryWindowsUpdatePackage",
          "description": "Details of a Windows Update package. See https://docs.microsoft.com/en-us/windows/win32/api/_wua/ for information about Windows Update."
        },
        "cosPackage": {
          "$ref": "InventoryVersionedPackage",
          "description": "Details of a COS package."
        },
        "zypperPatch": {
          "description": "Details of a Zypper patch. For details about the Zypper package manager, see https://en.opensuse.org/SDB:Zypper_manual.",
          "$ref": "InventoryZypperPatch"
        },
        "qfePackage": {
          "description": "Details of a Windows Quick Fix engineering package. See https://docs.microsoft.com/en-us/windows/win32/cimwin32prov/win32-quickfixengineering for info in Windows Quick Fix Engineering.",
          "$ref": "InventoryWindowsQuickFixEngineeringPackage"
        },
        "aptPackage": {
          "$ref": "InventoryVersionedPackage",
          "description": "Details of an APT package. For details about the apt package manager, see https://wiki.debian.org/Apt."
        },
        "zypperPackage": {
          "description": "Details of a Zypper package. For details about the Zypper package manager, see https://en.opensuse.org/SDB:Zypper_manual.",
          "$ref": "InventoryVersionedPackage"
        }
      },
      "id": "InventorySoftwarePackage",
      "description": "Software package information of the operating system."
    },
    "ZypperRepository": {
      "type": "object",
      "id": "ZypperRepository",
      "properties": {
        "baseUrl": {
          "type": "string",
          "description": "Required. The location of the repository directory."
        },
        "gpgKeys": {
          "description": "URIs of GPG keys.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the repository."
        },
        "id": {
          "type": "string",
          "description": "Required. A one word, unique name for this repository. This is the `repo id` in the zypper config file and also the `display_name` if `display_name` is omitted. This id is also used as the unique identifier when checking for guest policy conflicts."
        }
      },
      "description": "Represents a single Zypper package repository. This repository is added to a repo file that is stored at `/etc/zypp/repos.d/google_osconfig.repo`."
    },
    "SoftwareRecipeArtifactGcs": {
      "properties": {
        "bucket": {
          "type": "string",
          "description": "Bucket of the Google Cloud Storage object. Given an example URL: `https://storage.googleapis.com/my-bucket/foo/bar#1234567` this value would be `my-bucket`."
        },
        "object": {
          "type": "string",
          "description": "Name of the Google Cloud Storage object. As specified [here] (https://cloud.google.com/storage/docs/naming#objectnames) Given an example URL: `https://storage.googleapis.com/my-bucket/foo/bar#1234567` this value would be `foo/bar`."
        },
        "generation": {
          "description": "Must be provided if allow_insecure is false. Generation number of the Google Cloud Storage object. `https://storage.googleapis.com/my-bucket/foo/bar#1234567` this value would be `1234567`.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "SoftwareRecipeArtifactGcs",
      "description": "Specifies an artifact available as a Google Cloud Storage object."
    },
    "SoftwareRecipeStepExecFile": {
      "id": "SoftwareRecipeStepExecFile",
      "description": "Executes an artifact or local file.",
      "properties": {
        "localPath": {
          "type": "string",
          "description": "The absolute path of the file on the local filesystem."
        },
        "args": {
          "description": "Arguments to be passed to the provided executable.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "artifactId": {
          "type": "string",
          "description": "The id of the relevant artifact in the recipe."
        },
        "allowedExitCodes": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array",
          "description": "Defaults to [0]. A list of possible return values that the program can return to indicate a success."
        }
      },
      "type": "object"
    },
    "EffectiveGuestPolicySourcedSoftwareRecipe": {
      "type": "object",
      "id": "EffectiveGuestPolicySourcedSoftwareRecipe",
      "description": "A guest policy recipe including its source.",
      "properties": {
        "softwareRecipe": {
          "$ref": "SoftwareRecipe",
          "description": "A software recipe to configure on the VM instance."
        },
        "source": {
          "type": "string",
          "description": "Name of the guest policy providing this config."
        }
      }
    },
    "SoftwareRecipeStepRunScript": {
      "type": "object",
      "description": "Runs a script through an interpreter.",
      "properties": {
        "interpreter": {
          "description": "The script interpreter to use to run the script. If no interpreter is specified the script is executed directly, which likely only succeed for scripts with [shebang lines](https://en.wikipedia.org/wiki/Shebang_\\(Unix\\)).",
          "enumDescriptions": [
            "Default value for ScriptType.",
            "Indicates that the script is run with `/bin/sh` on Linux and `cmd` on windows.",
            "Indicates that the script is run with powershell."
          ],
          "enum": [
            "INTERPRETER_UNSPECIFIED",
            "SHELL",
            "POWERSHELL"
          ],
          "type": "string"
        },
        "script": {
          "type": "string",
          "description": "Required. The shell script to be executed."
        },
        "allowedExitCodes": {
          "description": "Return codes that indicate that the software installed or updated successfully. Behaviour defaults to [0]",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array"
        }
      },
      "id": "SoftwareRecipeStepRunScript"
    },
    "ListPatchJobsResponse": {
      "type": "object",
      "description": "A response message for listing patch jobs.",
      "properties": {
        "patchJobs": {
          "items": {
            "$ref": "PatchJob"
          },
          "description": "The list of patch jobs.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token that can be used to get the next page of results."
        }
      },
      "id": "ListPatchJobsResponse"
    },
    "SoftwareRecipeStep": {
      "id": "SoftwareRecipeStep",
      "type": "object",
      "description": "An action that can be taken as part of installing or updating a recipe.",
      "properties": {
        "rpmInstallation": {
          "$ref": "SoftwareRecipeStepInstallRpm",
          "description": "Installs an rpm file via the rpm utility."
        },
        "scriptRun": {
          "description": "Runs commands in a shell.",
          "$ref": "SoftwareRecipeStepRunScript"
        },
        "fileCopy": {
          "description": "Copies a file onto the instance.",
          "$ref": "SoftwareRecipeStepCopyFile"
        },
        "archiveExtraction": {
          "description": "Extracts an archive into the specified directory.",
          "$ref": "SoftwareRecipeStepExtractArchive"
        },
        "msiInstallation": {
          "description": "Installs an MSI file.",
          "$ref": "SoftwareRecipeStepInstallMsi"
        },
        "dpkgInstallation": {
          "$ref": "SoftwareRecipeStepInstallDpkg",
          "description": "Installs a deb file via dpkg."
        },
        "fileExec": {
          "$ref": "SoftwareRecipeStepExecFile",
          "description": "Executes an artifact or local file."
        }
      }
    },
    "CancelPatchJobRequest": {
      "id": "CancelPatchJobRequest",
      "type": "object",
      "properties": {},
      "description": "Message for canceling a patch job."
    },
    "Assignment": {
      "properties": {
        "groupLabels": {
          "type": "array",
          "items": {
            "$ref": "AssignmentGroupLabel"
          },
          "description": "Targets instances matching at least one of these label sets. This allows an assignment to target disparate groups, for example \"env=prod or env=staging\"."
        },
        "instances": {
          "items": {
            "type": "string"
          },
          "description": "Targets any of the instances specified. Instances are specified by their URI in the form `zones/[ZONE]/instances/[INSTANCE_NAME]`. Instance targeting is uncommon and is supported to facilitate the management of changes by the instance or to target specific VM instances for development and testing. Only supported for project-level policies and must reference instances within this project.",
          "type": "array"
        },
        "osTypes": {
          "items": {
            "$ref": "AssignmentOsType"
          },
          "type": "array",
          "description": "Targets VM instances matching at least one of the following OS types. VM instances must match all supplied criteria for a given OsType to be included."
        },
        "zones": {
          "items": {
            "type": "string"
          },
          "description": "Targets instances in any of these zones. Leave empty to target instances in any zone. Zonal targeting is uncommon and is supported to facilitate the management of changes by zone.",
          "type": "array"
        },
        "instanceNamePrefixes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Targets VM instances whose name starts with one of these prefixes. Like labels, this is another way to group VM instances when targeting configs, for example prefix=\"prod-\". Only supported for project-level policies."
        }
      },
      "type": "object",
      "id": "Assignment",
      "description": "An assignment represents the group or groups of VM instances that the policy applies to. If an assignment is empty, it applies to all VM instances. Otherwise, the targeted VM instances must meet all the criteria specified. So if both labels and zones are specified, the policy applies to VM instances with those labels and in those zones."
    },
    "PatchJob": {
      "type": "object",
      "description": "A high level representation of a patch job that is either in progress or has completed. Instance details are not included in the job. To paginate through instance details, use `ListPatchJobInstanceDetails`. For more information about patch jobs, see [Creating patch jobs](https://cloud.google.com/compute/docs/os-patch-management/create-patch-job).",
      "properties": {
        "updateTime": {
          "description": "Last time this patch job was updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "percentComplete": {
          "type": "number",
          "format": "double",
          "description": "Reflects the overall progress of the patch job in the range of 0.0 being no progress to 100.0 being complete."
        },
        "name": {
          "description": "Unique identifier for this patch job in the form `projects/*/patchJobs/*`",
          "type": "string"
        },
        "description": {
          "description": "Description of the patch job. Length of the description is limited to 1024 characters.",
          "type": "string"
        },
        "dryRun": {
          "description": "If this patch job is a dry run, the agent reports that it has finished without running any updates on the VM instance.",
          "type": "boolean"
        },
        "errorMessage": {
          "description": "If this patch job failed, this message provides information about the failure.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time this patch job was created."
        },
        "displayName": {
          "description": "Display name for this patch job. This is not a unique identifier.",
          "type": "string"
        },
        "rollout": {
          "description": "Rollout strategy being applied.",
          "$ref": "PatchRollout"
        },
        "state": {
          "enumDescriptions": [
            "State must be specified.",
            "The patch job was successfully initiated.",
            "The patch job is looking up instances to run the patch on.",
            "Instances are being patched.",
            "Patch job completed successfully.",
            "Patch job completed but there were errors.",
            "The patch job was canceled.",
            "The patch job timed out."
          ],
          "description": "The current state of the PatchJob.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "STARTED",
            "INSTANCE_LOOKUP",
            "PATCHING",
            "SUCCEEDED",
            "COMPLETED_WITH_ERRORS",
            "CANCELED",
            "TIMED_OUT"
          ]
        },
        "instanceDetailsSummary": {
          "description": "Summary of instance details.",
          "$ref": "PatchJobInstanceDetailsSummary"
        },
        "duration": {
          "format": "google-duration",
          "description": "Duration of the patch job. After the duration ends, the patch job times out.",
          "type": "string"
        },
        "patchConfig": {
          "$ref": "PatchConfig",
          "description": "Patch configuration being applied."
        },
        "instanceFilter": {
          "$ref": "PatchInstanceFilter",
          "description": "Instances to patch."
        },
        "patchDeployment": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the patch deployment that created this patch job."
        }
      },
      "id": "PatchJob"
    },
    "PatchInstanceFilter": {
      "description": "A filter to target VM instances for patching. The targeted VMs must meet all criteria specified. So if both labels and zones are specified, the patch job targets only VMs with those labels and in those zones.",
      "type": "object",
      "id": "PatchInstanceFilter",
      "properties": {
        "instances": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Targets any of the VM instances specified. Instances are specified by their URI in the form `zones/[ZONE]/instances/[INSTANCE_NAME]`, `projects/[PROJECT_ID]/zones/[ZONE]/instances/[INSTANCE_NAME]`, or `https://www.googleapis.com/compute/v1/projects/[PROJECT_ID]/zones/[ZONE]/instances/[INSTANCE_NAME]`"
        },
        "zones": {
          "type": "array",
          "description": "Targets VM instances in ANY of these zones. Leave empty to target VM instances in any zone.",
          "items": {
            "type": "string"
          }
        },
        "groupLabels": {
          "description": "Targets VM instances matching at least one of these label sets. This allows targeting of disparate groups, for example \"env=prod or env=staging\".",
          "items": {
            "$ref": "PatchInstanceFilterGroupLabel"
          },
          "type": "array"
        },
        "all": {
          "description": "Target all VM instances in the project. If true, no other criteria is permitted.",
          "type": "boolean"
        },
        "instanceNamePrefixes": {
          "description": "Targets VMs whose name starts with one of these prefixes. Similar to labels, this is another way to group VMs when targeting configs, for example prefix=\"prod-\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ExecStep": {
      "id": "ExecStep",
      "type": "object",
      "properties": {
        "linuxExecStepConfig": {
          "description": "The ExecStepConfig for all Linux VMs targeted by the PatchJob.",
          "$ref": "ExecStepConfig"
        },
        "windowsExecStepConfig": {
          "$ref": "ExecStepConfig",
          "description": "The ExecStepConfig for all Windows VMs targeted by the PatchJob."
        }
      },
      "description": "A step that runs an executable for a PatchJob."
    },
    "WeeklySchedule": {
      "type": "object",
      "id": "WeeklySchedule",
      "description": "Represents a weekly schedule.",
      "properties": {
        "dayOfWeek": {
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "type": "string",
          "description": "Required. Day of the week."
        }
      }
    },
    "YumRepository": {
      "properties": {
        "baseUrl": {
          "type": "string",
          "description": "Required. The location of the repository directory."
        },
        "gpgKeys": {
          "description": "URIs of GPG keys.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the repository."
        },
        "id": {
          "type": "string",
          "description": "Required. A one word, unique name for this repository. This is the `repo id` in the Yum config file and also the `display_name` if `display_name` is omitted. This id is also used as the unique identifier when checking for guest policy conflicts."
        }
      },
      "type": "object",
      "description": "Represents a single Yum package repository. This repository is added to a repo file that is stored at `/etc/yum.repos.d/google_osconfig.repo`.",
      "id": "YumRepository"
    },
    "EffectiveGuestPolicySourcedPackage": {
      "description": "A guest policy package including its source.",
      "properties": {
        "package": {
          "description": "A software package to configure on the VM instance.",
          "$ref": "Package"
        },
        "source": {
          "type": "string",
          "description": "Name of the guest policy providing this config."
        }
      },
      "type": "object",
      "id": "EffectiveGuestPolicySourcedPackage"
    },
    "AssignmentGroupLabel": {
      "id": "AssignmentGroupLabel",
      "properties": {
        "labels": {
          "description": "Google Compute Engine instance labels that must be present for an instance to be included in this assignment group.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "description": "Represents a group of VM intances that can be identified as having all these labels, for example \"env=prod and app=web\".",
      "type": "object"
    },
    "Package": {
      "description": "Package is a reference to the software package to be installed or removed. The agent on the VM instance uses the system package manager to apply the config. These are the commands that the agent uses to install or remove packages. Apt install: `apt-get update && apt-get -y install package1 package2 package3` remove: `apt-get -y remove package1 package2 package3` Yum install: `yum -y install package1 package2 package3` remove: `yum -y remove package1 package2 package3` Zypper install: `zypper install package1 package2 package3` remove: `zypper rm package1 package2` Googet install: `googet -noconfirm install package1 package2 package3` remove: `googet -noconfirm remove package1 package2 package3`",
      "id": "Package",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The name of the package. A package is uniquely identified for conflict validation by checking the package name and the manager(s) that the package targets."
        },
        "manager": {
          "enum": [
            "MANAGER_UNSPECIFIED",
            "ANY",
            "APT",
            "YUM",
            "ZYPPER",
            "GOO"
          ],
          "description": "Type of package manager that can be used to install this package. If a system does not have the package manager, the package is not installed or removed no error message is returned. By default, or if you specify `ANY`, the agent attempts to install and remove this package using the default package manager. This is useful when creating a policy that applies to different types of systems. The default behavior is ANY.",
          "type": "string",
          "enumDescriptions": [
            "The default behavior is ANY.",
            "Apply this package config using the default system package manager.",
            "Apply this package config only if Apt is available on the system.",
            "Apply this package config only if Yum is available on the system.",
            "Apply this package config only if Zypper is available on the system.",
            "Apply this package config only if GooGet is available on the system."
          ]
        },
        "desiredState": {
          "type": "string",
          "description": "The desired_state the agent should maintain for this package. The default is to ensure the package is installed.",
          "enum": [
            "DESIRED_STATE_UNSPECIFIED",
            "INSTALLED",
            "UPDATED",
            "REMOVED"
          ],
          "enumDescriptions": [
            "The default is to ensure the package is installed.",
            "The agent ensures that the package is installed.",
            "The agent ensures that the package is installed and periodically checks for and install any updates.",
            "The agent ensures that the package is not installed and uninstall it if detected."
          ]
        }
      },
      "type": "object"
    },
    "RecurringSchedule": {
      "description": "Sets the time for recurring patch deployments.",
      "id": "RecurringSchedule",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. The end time at which a recurring patch deployment schedule is no longer active."
        },
        "startTime": {
          "description": "Optional. The time that the recurring schedule becomes effective. Defaults to `create_time` of the patch deployment.",
          "type": "string",
          "format": "google-datetime"
        },
        "timeZone": {
          "description": "Required. Defines the time zone that `time_of_day` is relative to. The rules for daylight saving time are determined by the chosen time zone.",
          "$ref": "TimeZone"
        },
        "timeOfDay": {
          "description": "Required. Time of the day to run a recurring deployment.",
          "$ref": "TimeOfDay"
        },
        "monthly": {
          "$ref": "MonthlySchedule",
          "description": "Required. Schedule with monthly executions."
        },
        "frequency": {
          "description": "Required. The frequency unit of this recurring schedule.",
          "enumDescriptions": [
            "Invalid. A frequency must be specified.",
            "Indicates that the frequency should be expressed in terms of weeks.",
            "Indicates that the frequency should be expressed in terms of months."
          ],
          "enum": [
            "FREQUENCY_UNSPECIFIED",
            "WEEKLY",
            "MONTHLY"
          ],
          "type": "string"
        },
        "nextExecuteTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the next patch job is scheduled to run.",
          "readOnly": true
        },
        "lastExecuteTime": {
          "description": "Output only. The time the last patch job ran successfully.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "weekly": {
          "description": "Required. Schedule with weekly executions.",
          "$ref": "WeeklySchedule"
        }
      },
      "type": "object"
    },
    "Inventory": {
      "properties": {
        "osInfo": {
          "description": "Base level operating system information for the VM.",
          "$ref": "InventoryOsInfo"
        },
        "items": {
          "description": "Inventory items related to the VM keyed by an opaque unique identifier for each inventory item. The identifier is unique to each distinct and addressable inventory item and will change, when there is a new package version.",
          "additionalProperties": {
            "$ref": "InventoryItem"
          },
          "type": "object"
        }
      },
      "description": "The inventory details of a VM.",
      "type": "object",
      "id": "Inventory"
    },
    "EffectiveGuestPolicySourcedPackageRepository": {
      "description": "A guest policy package repository including its source.",
      "type": "object",
      "id": "EffectiveGuestPolicySourcedPackageRepository",
      "properties": {
        "source": {
          "description": "Name of the guest policy providing this config.",
          "type": "string"
        },
        "packageRepository": {
          "$ref": "PackageRepository",
          "description": "A software package repository to configure on the VM instance."
        }
      }
    },
    "OneTimeSchedule": {
      "properties": {
        "executeTime": {
          "type": "string",
          "description": "Required. The desired patch job execution time.",
          "format": "google-datetime"
        }
      },
      "description": "Sets the time for a one time patch deployment. Timestamp is in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
      "type": "object",
      "id": "OneTimeSchedule"
    },
    "LookupEffectiveGuestPolicyRequest": {
      "id": "LookupEffectiveGuestPolicyRequest",
      "properties": {
        "osVersion": {
          "description": "Version of the OS running on the instance. The OS Config agent only provides this field for targeting if OS Inventory is enabled for that VM instance.",
          "type": "string"
        },
        "osShortName": {
          "type": "string",
          "description": "Short name of the OS running on the instance. The OS Config agent only provides this field for targeting if OS Inventory is enabled for that instance."
        },
        "osArchitecture": {
          "description": "Architecture of OS running on the instance. The OS Config agent only provides this field for targeting if OS Inventory is enabled for that instance.",
          "type": "string"
        }
      },
      "description": "A request message for getting the effective guest policy assigned to the instance.",
      "type": "object"
    },
    "ListPatchDeploymentsResponse": {
      "type": "object",
      "properties": {
        "patchDeployments": {
          "type": "array",
          "description": "The list of patch deployments.",
          "items": {
            "$ref": "PatchDeployment"
          }
        },
        "nextPageToken": {
          "description": "A pagination token that can be used to get the next page of patch deployments.",
          "type": "string"
        }
      },
      "id": "ListPatchDeploymentsResponse",
      "description": "A response message for listing patch deployments."
    },
    "PatchJobInstanceDetails": {
      "id": "PatchJobInstanceDetails",
      "description": "Patch details for a VM instance. For more information about reviewing VM instance details, see [Listing all VM instance details for a specific patch job](https://cloud.google.com/compute/docs/os-patch-management/manage-patch-jobs#list-instance-details).",
      "type": "object",
      "properties": {
        "failureReason": {
          "description": "If the patch fails, this field provides the reason.",
          "type": "string"
        },
        "instanceSystemId": {
          "type": "string",
          "description": "The unique identifier for the instance. This identifier is defined by the server."
        },
        "name": {
          "description": "The instance name in the form `projects/*/zones/*/instances/*`",
          "type": "string"
        },
        "state": {
          "description": "Current state of instance patch.",
          "enum": [
            "PATCH_STATE_UNSPECIFIED",
            "PENDING",
            "INACTIVE",
            "NOTIFIED",
            "STARTED",
            "DOWNLOADING_PATCHES",
            "APPLYING_PATCHES",
            "REBOOTING",
            "SUCCEEDED",
            "SUCCEEDED_REBOOT_REQUIRED",
            "FAILED",
            "ACKED",
            "TIMED_OUT",
            "RUNNING_PRE_PATCH_STEP",
            "RUNNING_POST_PATCH_STEP",
            "NO_AGENT_DETECTED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "The instance is not yet notified.",
            "Instance is inactive and cannot be patched.",
            "The instance is notified that it should be patched.",
            "The instance has started the patching process.",
            "The instance is downloading patches.",
            "The instance is applying patches.",
            "The instance is rebooting.",
            "The instance has completed applying patches.",
            "The instance has completed applying patches but a reboot is required.",
            "The instance has failed to apply the patch.",
            "The instance acked the notification and will start shortly.",
            "The instance exceeded the time out while applying the patch.",
            "The instance is running the pre-patch step.",
            "The instance is running the post-patch step.",
            "The service could not detect the presence of the agent. Check to ensure that the agent is installed, running, and able to communicate with the service."
          ]
        },
        "attemptCount": {
          "format": "int64",
          "description": "The number of times the agent that the agent attempts to apply the patch.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`.",
      "type": "object"
    },
    "ListGuestPoliciesResponse": {
      "id": "ListGuestPoliciesResponse",
      "properties": {
        "guestPolicies": {
          "items": {
            "$ref": "GuestPolicy"
          },
          "type": "array",
          "description": "The list of GuestPolicies."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A pagination token that can be used to get the next page of guest policies."
        }
      },
      "description": "A response message for listing guest policies.",
      "type": "object"
    },
    "FixedOrPercent": {
      "id": "FixedOrPercent",
      "description": "Message encapsulating a value that can be either absolute (\"fixed\") or relative (\"percent\") to a value.",
      "type": "object",
      "properties": {
        "fixed": {
          "type": "integer",
          "description": "Specifies a fixed value.",
          "format": "int32"
        },
        "percent": {
          "description": "Specifies the relative value defined as a percentage, which will be multiplied by a reference value.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "TimeOfDay": {
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "id": "TimeOfDay",
      "type": "object",
      "properties": {
        "minutes": {
          "type": "integer",
          "format": "int32",
          "description": "Minutes of hour of day. Must be from 0 to 59."
        },
        "hours": {
          "type": "integer",
          "format": "int32",
          "description": "Hours of day in 24 hour format. Should be from 0 to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
        },
        "seconds": {
          "description": "Seconds of minutes of the time. Must normally be from 0 to 59. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer",
          "format": "int32"
        },
        "nanos": {
          "format": "int32",
          "type": "integer",
          "description": "Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999."
        }
      }
    },
    "SoftwareRecipeStepExtractArchive": {
      "type": "object",
      "properties": {
        "destination": {
          "type": "string",
          "description": "Directory to extract archive to. Defaults to `/` on Linux or `C:\\` on Windows."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Indicates that the archive type isn't specified.",
            "Indicates that the archive is a tar archive with no encryption.",
            "Indicates that the archive is a tar archive with gzip encryption.",
            "Indicates that the archive is a tar archive with bzip encryption.",
            "Indicates that the archive is a tar archive with lzma encryption.",
            "Indicates that the archive is a tar archive with xz encryption.",
            "Indicates that the archive is a zip archive."
          ],
          "enum": [
            "ARCHIVE_TYPE_UNSPECIFIED",
            "TAR",
            "TAR_GZIP",
            "TAR_BZIP",
            "TAR_LZMA",
            "TAR_XZ",
            "ZIP"
          ],
          "description": "Required. The type of the archive to extract."
        },
        "artifactId": {
          "description": "Required. The id of the relevant artifact in the recipe.",
          "type": "string"
        }
      },
      "id": "SoftwareRecipeStepExtractArchive",
      "description": "Extracts an archive of the type specified in the specified directory."
    },
    "PackageRepository": {
      "description": "A package repository.",
      "properties": {
        "zypper": {
          "description": "A Zypper Repository.",
          "$ref": "ZypperRepository"
        },
        "yum": {
          "description": "A Yum Repository.",
          "$ref": "YumRepository"
        },
        "goo": {
          "$ref": "GooRepository",
          "description": "A Goo Repository."
        },
        "apt": {
          "description": "An Apt Repository.",
          "$ref": "AptRepository"
        }
      },
      "id": "PackageRepository",
      "type": "object"
    },
    "GcsObject": {
      "description": "Google Cloud Storage object representation.",
      "id": "GcsObject",
      "type": "object",
      "properties": {
        "bucket": {
          "description": "Required. Bucket of the Google Cloud Storage object.",
          "type": "string"
        },
        "generationNumber": {
          "description": "Required. Generation number of the Google Cloud Storage object. This is used to ensure that the ExecStep specified by this PatchJob does not change.",
          "type": "string",
          "format": "int64"
        },
        "object": {
          "description": "Required. Name of the Google Cloud Storage object.",
          "type": "string"
        }
      }
    },
    "AssignmentOsType": {
      "properties": {
        "osShortName": {
          "description": "Targets VM instances with OS Inventory enabled and having the following OS short name, for example \"debian\" or \"windows\".",
          "type": "string"
        },
        "osVersion": {
          "type": "string",
          "description": "Targets VM instances with OS Inventory enabled and having the following following OS version."
        },
        "osArchitecture": {
          "type": "string",
          "description": "Targets VM instances with OS Inventory enabled and having the following OS architecture."
        }
      },
      "id": "AssignmentOsType",
      "description": "Defines the criteria for selecting VM Instances by OS type.",
      "type": "object"
    },
    "PatchJobInstanceDetailsSummary": {
      "id": "PatchJobInstanceDetailsSummary",
      "description": "A summary of the current patch state across all instances that this patch job affects. Contains counts of instances in different states. These states map to `InstancePatchState`. List patch job instance details to see the specific states of each instance.",
      "properties": {
        "pendingInstanceCount": {
          "description": "Number of instances pending patch job.",
          "type": "string",
          "format": "int64"
        },
        "failedInstanceCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of instances that failed."
        },
        "notifiedInstanceCount": {
          "description": "Number of instances notified about patch job.",
          "format": "int64",
          "type": "string"
        },
        "downloadingPatchesInstanceCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of instances that are downloading patches."
        },
        "ackedInstanceCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of instances that have acked and will start shortly."
        },
        "postPatchStepInstanceCount": {
          "format": "int64",
          "description": "Number of instances that are running the post-patch step.",
          "type": "string"
        },
        "succeededRebootRequiredInstanceCount": {
          "description": "Number of instances that require reboot.",
          "type": "string",
          "format": "int64"
        },
        "prePatchStepInstanceCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of instances that are running the pre-patch step."
        },
        "inactiveInstanceCount": {
          "description": "Number of instances that are inactive.",
          "type": "string",
          "format": "int64"
        },
        "timedOutInstanceCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of instances that exceeded the time out while applying the patch."
        },
        "applyingPatchesInstanceCount": {
          "description": "Number of instances that are applying patches.",
          "format": "int64",
          "type": "string"
        },
        "noAgentDetectedInstanceCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of instances that do not appear to be running the agent. Check to ensure that the agent is installed, running, and able to communicate with the service."
        },
        "rebootingInstanceCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of instances rebooting."
        },
        "succeededInstanceCount": {
          "type": "string",
          "description": "Number of instances that have completed successfully.",
          "format": "int64"
        },
        "startedInstanceCount": {
          "description": "Number of instances that have started.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "SoftwareRecipeStepInstallDpkg": {
      "properties": {
        "artifactId": {
          "description": "Required. The id of the relevant artifact in the recipe.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Installs a deb via dpkg.",
      "id": "SoftwareRecipeStepInstallDpkg"
    },
    "InventoryVersionedPackage": {
      "type": "object",
      "id": "InventoryVersionedPackage",
      "description": "Information related to the a standard versioned package. This includes package info for APT, Yum, Zypper, and Googet package managers.",
      "properties": {
        "packageName": {
          "type": "string",
          "description": "The name of the package."
        },
        "version": {
          "type": "string",
          "description": "The version of the package."
        },
        "architecture": {
          "description": "The system architecture this package is intended for.",
          "type": "string"
        }
      }
    },
    "SoftwareRecipeStepInstallMsi": {
      "id": "SoftwareRecipeStepInstallMsi",
      "type": "object",
      "properties": {
        "artifactId": {
          "type": "string",
          "description": "Required. The id of the relevant artifact in the recipe."
        },
        "allowedExitCodes": {
          "type": "array",
          "description": "Return codes that indicate that the software installed or updated successfully. Behaviour defaults to [0]",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "flags": {
          "description": "The flags to use when installing the MSI defaults to [\"/i\"] (i.e. the install flag).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Installs an MSI file."
    },
    "PatchInstanceFilterGroupLabel": {
      "properties": {
        "labels": {
          "description": "Compute Engine instance labels that must be present for a VM instance to be targeted by this filter.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "Represents a group of VMs that can be identified as having all these labels, for example \"env=prod and app=web\".",
      "id": "PatchInstanceFilterGroupLabel",
      "type": "object"
    },
    "MonthlySchedule": {
      "description": "Represents a monthly schedule. An example of a valid monthly schedule is \"on the third Tuesday of the month\" or \"on the 15th of the month\".",
      "properties": {
        "weekDayOfMonth": {
          "description": "Required. Week day in a month.",
          "$ref": "WeekDayOfMonth"
        },
        "monthDay": {
          "format": "int32",
          "type": "integer",
          "description": "Required. One day of the month. 1-31 indicates the 1st to the 31st day. -1 indicates the last day of the month. Months without the target day will be skipped. For example, a schedule to run \"every month on the 31st\" will not run in February, April, June, etc."
        }
      },
      "type": "object",
      "id": "MonthlySchedule"
    },
    "EffectiveGuestPolicy": {
      "description": "The effective guest policy that applies to a VM instance.",
      "type": "object",
      "properties": {
        "softwareRecipes": {
          "items": {
            "$ref": "EffectiveGuestPolicySourcedSoftwareRecipe"
          },
          "description": "List of recipes assigned to the VM instance.",
          "type": "array"
        },
        "packageRepositories": {
          "description": "List of package repository configurations assigned to the VM instance.",
          "items": {
            "$ref": "EffectiveGuestPolicySourcedPackageRepository"
          },
          "type": "array"
        },
        "packages": {
          "items": {
            "$ref": "EffectiveGuestPolicySourcedPackage"
          },
          "type": "array",
          "description": "List of package configurations assigned to the VM instance."
        }
      },
      "id": "EffectiveGuestPolicy"
    },
    "SoftwareRecipeArtifact": {
      "description": "Specifies a resource to be used in the recipe.",
      "properties": {
        "id": {
          "description": "Required. Id of the artifact, which the installation and update steps of this recipe can reference. Artifacts in a recipe cannot have the same id.",
          "type": "string"
        },
        "remote": {
          "description": "A generic remote artifact.",
          "$ref": "SoftwareRecipeArtifactRemote"
        },
        "gcs": {
          "description": "A Google Cloud Storage artifact.",
          "$ref": "SoftwareRecipeArtifactGcs"
        },
        "allowInsecure": {
          "type": "boolean",
          "description": "Defaults to false. When false, recipes are subject to validations based on the artifact type: Remote: A checksum must be specified, and only protocols with transport-layer security are permitted. GCS: An object generation number must be specified."
        }
      },
      "type": "object",
      "id": "SoftwareRecipeArtifact"
    },
    "InventoryWindowsUpdatePackage": {
      "description": "Details related to a Windows Update package. Field data and names are taken from Windows Update API IUpdate Interface: https://docs.microsoft.com/en-us/windows/win32/api/_wua/ Descriptive fields like title, and description are localized based on the locale of the VM being updated.",
      "properties": {
        "lastDeploymentChangeTime": {
          "format": "google-datetime",
          "description": "The last published date of the update, in (UTC) date and time.",
          "type": "string"
        },
        "title": {
          "description": "The localized title of the update package.",
          "type": "string"
        },
        "supportUrl": {
          "type": "string",
          "description": "A hyperlink to the language-specific support information for the update."
        },
        "kbArticleIds": {
          "description": "A collection of Microsoft Knowledge Base article IDs that are associated with the update package.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "description": "The localized description of the update package.",
          "type": "string"
        },
        "moreInfoUrls": {
          "items": {
            "type": "string"
          },
          "description": "A collection of URLs that provide more information about the update package.",
          "type": "array"
        },
        "revisionNumber": {
          "description": "The revision number of this update package.",
          "format": "int32",
          "type": "integer"
        },
        "updateId": {
          "description": "Gets the identifier of an update package. Stays the same across revisions.",
          "type": "string"
        },
        "categories": {
          "type": "array",
          "items": {
            "$ref": "InventoryWindowsUpdatePackageWindowsUpdateCategory"
          },
          "description": "The categories that are associated with this update package."
        }
      },
      "type": "object",
      "id": "InventoryWindowsUpdatePackage"
    },
    "SoftwareRecipe": {
      "properties": {
        "installSteps": {
          "description": "Actions to be taken for installing this recipe. On failure it stops executing steps and does not attempt another installation. Any steps taken (including partially completed steps) are not rolled back.",
          "items": {
            "$ref": "SoftwareRecipeStep"
          },
          "type": "array"
        },
        "artifacts": {
          "items": {
            "$ref": "SoftwareRecipeArtifact"
          },
          "description": "Resources available to be used in the steps in the recipe.",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Required. Unique identifier for the recipe. Only one recipe with a given name is installed on an instance. Names are also used to identify resources which helps to determine whether guest policies have conflicts. This means that requests to create multiple recipes with the same name and version are rejected since they could potentially have conflicting assignments."
        },
        "updateSteps": {
          "description": "Actions to be taken for updating this recipe. On failure it stops executing steps and does not attempt another update for this recipe. Any steps taken (including partially completed steps) are not rolled back.",
          "items": {
            "$ref": "SoftwareRecipeStep"
          },
          "type": "array"
        },
        "desiredState": {
          "description": "Default is INSTALLED. The desired state the agent should maintain for this recipe. INSTALLED: The software recipe is installed on the instance but won't be updated to new versions. UPDATED: The software recipe is installed on the instance. The recipe is updated to a higher version, if a higher version of the recipe is assigned to this instance. REMOVE: Remove is unsupported for software recipes and attempts to create or update a recipe to the REMOVE state is rejected.",
          "type": "string",
          "enumDescriptions": [
            "The default is to ensure the package is installed.",
            "The agent ensures that the package is installed.",
            "The agent ensures that the package is installed and periodically checks for and install any updates.",
            "The agent ensures that the package is not installed and uninstall it if detected."
          ],
          "enum": [
            "DESIRED_STATE_UNSPECIFIED",
            "INSTALLED",
            "UPDATED",
            "REMOVED"
          ]
        },
        "version": {
          "type": "string",
          "description": "The version of this software recipe. Version can be up to 4 period separated numbers (e.g. 12.34.56.78)."
        }
      },
      "id": "SoftwareRecipe",
      "type": "object",
      "description": "A software recipe is a set of instructions for installing and configuring a piece of software. It consists of a set of artifacts that are downloaded, and a set of steps that install, configure, and/or update the software. Recipes support installing and updating software from artifacts in the following formats: Zip archive, Tar archive, Windows MSI, Debian package, and RPM package. Additionally, recipes support executing a script (either defined in a file or directly in this api) in bash, sh, cmd, and powershell. Updating a software recipe If a recipe is assigned to an instance and there is a recipe with the same name but a lower version already installed and the assigned state of the recipe is `UPDATED`, then the recipe is updated to the new version. Script Working Directories Each script or execution step is run in its own temporary directory which is deleted after completing the step."
    },
    "WindowsUpdateSettings": {
      "type": "object",
      "description": "Windows patching is performed using the Windows Update Agent.",
      "id": "WindowsUpdateSettings",
      "properties": {
        "classifications": {
          "items": {
            "enum": [
              "CLASSIFICATION_UNSPECIFIED",
              "CRITICAL",
              "SECURITY",
              "DEFINITION",
              "DRIVER",
              "FEATURE_PACK",
              "SERVICE_PACK",
              "TOOL",
              "UPDATE_ROLLUP",
              "UPDATE"
            ],
            "enumDescriptions": [
              "Invalid. If classifications are included, they must be specified.",
              "\"A widely released fix for a specific problem that addresses a critical, non-security-related bug.\" [1]",
              "\"A widely released fix for a product-specific, security-related vulnerability. Security vulnerabilities are rated by their severity. The severity rating is indicated in the Microsoft security bulletin as critical, important, moderate, or low.\" [1]",
              "\"A widely released and frequent software update that contains additions to a product's definition database. Definition databases are often used to detect objects that have specific attributes, such as malicious code, phishing websites, or junk mail.\" [1]",
              "\"Software that controls the input and output of a device.\" [1]",
              "\"New product functionality that is first distributed outside the context of a product release and that is typically included in the next full product release.\" [1]",
              "\"A tested, cumulative set of all hotfixes, security updates, critical updates, and updates. Additionally, service packs may contain additional fixes for problems that are found internally since the release of the product. Service packs my also contain a limited number of customer-requested design changes or features.\" [1]",
              "\"A utility or feature that helps complete a task or set of tasks.\" [1]",
              "\"A tested, cumulative set of hotfixes, security updates, critical updates, and updates that are packaged together for easy deployment. A rollup generally targets a specific area, such as security, or a component of a product, such as Internet Information Services (IIS).\" [1]",
              "\"A widely released fix for a specific problem. An update addresses a noncritical, non-security-related bug.\" [1]"
            ],
            "type": "string"
          },
          "description": "Only apply updates of these windows update classifications. If empty, all updates are applied.",
          "type": "array"
        },
        "exclusivePatches": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "An exclusive list of kbs to be updated. These are the only patches that will be updated. This field must not be used with other patch configurations."
        },
        "excludes": {
          "items": {
            "type": "string"
          },
          "description": "List of KBs to exclude from update.",
          "type": "array"
        }
      }
    },
    "ExecStepConfig": {
      "type": "object",
      "description": "Common configurations for an ExecStep.",
      "id": "ExecStepConfig",
      "properties": {
        "interpreter": {
          "type": "string",
          "enum": [
            "INTERPRETER_UNSPECIFIED",
            "SHELL",
            "POWERSHELL"
          ],
          "enumDescriptions": [
            "Invalid for a Windows ExecStepConfig. For a Linux ExecStepConfig, the interpreter will be parsed from the shebang line of the script if unspecified.",
            "Indicates that the script is run with `/bin/sh` on Linux and `cmd` on Windows.",
            "Indicates that the file is run with PowerShell flags `-NonInteractive`, `-NoProfile`, and `-ExecutionPolicy Bypass`."
          ],
          "description": "The script interpreter to use to run the script. If no interpreter is specified the script will be executed directly, which will likely only succeed for scripts with [shebang lines] (https://en.wikipedia.org/wiki/Shebang_\\(Unix\\))."
        },
        "allowedSuccessCodes": {
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "description": "Defaults to [0]. A list of possible return values that the execution can return to indicate a success."
        },
        "gcsObject": {
          "$ref": "GcsObject",
          "description": "A Google Cloud Storage object containing the executable."
        },
        "localPath": {
          "type": "string",
          "description": "An absolute path to the executable on the VM."
        }
      }
    },
    "PatchDeployment": {
      "properties": {
        "createTime": {
          "description": "Output only. Time the patch deployment was created. Timestamp is in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time the patch deployment was last updated. Timestamp is in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.",
          "readOnly": true
        },
        "rollout": {
          "$ref": "PatchRollout",
          "description": "Optional. Rollout strategy of the patch job."
        },
        "oneTimeSchedule": {
          "description": "Required. Schedule a one-time execution.",
          "$ref": "OneTimeSchedule"
        },
        "recurringSchedule": {
          "description": "Required. Schedule recurring executions.",
          "$ref": "RecurringSchedule"
        },
        "lastExecuteTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The last time a patch job was started by this deployment. Timestamp is in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format."
        },
        "instanceFilter": {
          "description": "Required. VM instances to patch.",
          "$ref": "PatchInstanceFilter"
        },
        "patchConfig": {
          "description": "Optional. Patch configuration that is applied.",
          "$ref": "PatchConfig"
        },
        "name": {
          "description": "Unique name for the patch deployment resource in a project. The patch deployment name is in the form: `projects/{project_id}/patchDeployments/{patch_deployment_id}`. This field is ignored when you create a new patch deployment.",
          "type": "string"
        },
        "duration": {
          "description": "Optional. Duration of the patch. After the duration ends, the patch times out.",
          "type": "string",
          "format": "google-duration"
        },
        "description": {
          "description": "Optional. Description of the patch deployment. Length of the description is limited to 1024 characters.",
          "type": "string"
        }
      },
      "description": "Patch deployments are configurations that individual patch jobs use to complete a patch. These configurations include instance filter, package repository settings, and a schedule. For more information about creating and managing patch deployments, see [Scheduling patch jobs](https://cloud.google.com/compute/docs/os-patch-management/schedule-patch-jobs).",
      "type": "object",
      "id": "PatchDeployment"
    },
    "InventoryZypperPatch": {
      "id": "InventoryZypperPatch",
      "properties": {
        "category": {
          "type": "string",
          "description": "The category of the patch."
        },
        "patchName": {
          "description": "The name of the patch.",
          "type": "string"
        },
        "severity": {
          "description": "The severity specified for this patch",
          "type": "string"
        },
        "summary": {
          "description": "Any summary information provided about this patch.",
          "type": "string"
        }
      },
      "description": "Details related to a Zypper Patch.",
      "type": "object"
    },
    "GooSettings": {
      "properties": {},
      "description": "Googet patching is performed by running `googet update`.",
      "id": "GooSettings",
      "type": "object"
    },
    "PatchRollout": {
      "properties": {
        "mode": {
          "description": "Mode of the patch rollout.",
          "type": "string",
          "enumDescriptions": [
            "Mode must be specified.",
            "Patches are applied one zone at a time. The patch job begins in the region with the lowest number of targeted VMs. Within the region, patching begins in the zone with the lowest number of targeted VMs. If multiple regions (or zones within a region) have the same number of targeted VMs, a tie-breaker is achieved by sorting the regions or zones in alphabetical order.",
            "Patches are applied to VMs in all zones at the same time."
          ],
          "enum": [
            "MODE_UNSPECIFIED",
            "ZONE_BY_ZONE",
            "CONCURRENT_ZONES"
          ]
        },
        "disruptionBudget": {
          "$ref": "FixedOrPercent",
          "description": "The maximum number (or percentage) of VMs per zone to disrupt at any given moment. The number of VMs calculated from multiplying the percentage by the total number of VMs in a zone is rounded up. During patching, a VM is considered disrupted from the time the agent is notified to begin until patching has completed. This disruption time includes the time to complete reboot and any post-patch steps. A VM contributes to the disruption budget if its patching operation fails either when applying the patches, running pre or post patch steps, or if it fails to respond with a success notification before timing out. VMs that are not running or do not have an active agent do not count toward this disruption budget. For zone-by-zone rollouts, if the disruption budget in a zone is exceeded, the patch job stops, because continuing to the next zone requires completion of the patch process in the previous zone. For example, if the disruption budget has a fixed value of `10`, and 8 VMs fail to patch in the current zone, the patch job continues to patch 2 VMs at a time until the zone is completed. When that zone is completed successfully, patching begins with 10 VMs at a time in the next zone. If 10 VMs in the next zone fail to patch, the patch job stops."
        }
      },
      "type": "object",
      "id": "PatchRollout",
      "description": "Patch rollout configuration specifications. Contains details on the concurrency control when applying patch(es) to all targeted VMs."
    },
    "InventoryWindowsQuickFixEngineeringPackage": {
      "id": "InventoryWindowsQuickFixEngineeringPackage",
      "properties": {
        "caption": {
          "description": "A short textual description of the QFE update.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "A textual description of the QFE update."
        },
        "installTime": {
          "description": "Date that the QFE update was installed. Mapped from installed_on field.",
          "type": "string",
          "format": "google-datetime"
        },
        "hotFixId": {
          "description": "Unique identifier associated with a particular QFE update.",
          "type": "string"
        }
      },
      "description": "Information related to a Quick Fix Engineering package. Fields are taken from Windows QuickFixEngineering Interface and match the source names: https://docs.microsoft.com/en-us/windows/win32/cimwin32prov/win32-quickfixengineering",
      "type": "object"
    },
    "InventoryOsInfo": {
      "id": "InventoryOsInfo",
      "properties": {
        "kernelRelease": {
          "description": "The kernel release of the operating system.",
          "type": "string"
        },
        "kernelVersion": {
          "description": "The kernel version of the operating system.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "The version of the operating system."
        },
        "shortName": {
          "type": "string",
          "description": "The operating system short name. For example, 'windows' or 'debian'."
        },
        "hostname": {
          "description": "The VM hostname.",
          "type": "string"
        },
        "longName": {
          "description": "The operating system long name. For example 'Debian GNU/Linux 9' or 'Microsoft Window Server 2019 Datacenter'.",
          "type": "string"
        },
        "architecture": {
          "description": "The system architecture of the operating system.",
          "type": "string"
        },
        "osconfigAgentVersion": {
          "type": "string",
          "description": "The current version of the OS Config agent running on the VM."
        }
      },
      "description": "Operating system information for the VM.",
      "type": "object"
    },
    "InventoryItem": {
      "description": "A single piece of inventory on a VM.",
      "id": "InventoryItem",
      "type": "object",
      "properties": {
        "installedPackage": {
          "description": "Software package present on the VM instance.",
          "$ref": "InventorySoftwarePackage"
        },
        "originType": {
          "description": "The origin of this inventory item.",
          "enumDescriptions": [
            "Invalid. An origin type must be specified.",
            "This inventory item was discovered as the result of the agent reporting inventory via the reporting API."
          ],
          "enum": [
            "ORIGIN_TYPE_UNSPECIFIED",
            "INVENTORY_REPORT"
          ],
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "When this inventory item was last modified.",
          "type": "string"
        },
        "id": {
          "description": "Identifier for this item, unique across items for this VM.",
          "type": "string"
        },
        "availablePackage": {
          "$ref": "InventorySoftwarePackage",
          "description": "Software package available to be installed on the VM instance."
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "INSTALLED_PACKAGE",
            "AVAILABLE_PACKAGE"
          ],
          "description": "The specific type of inventory, correlating to its specific details.",
          "enumDescriptions": [
            "Invalid. An type must be specified.",
            "This represents a package that is installed on the VM.",
            "This represents an update that is available for a package."
          ]
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "When this inventory item was first detected."
        }
      }
    },
    "ExecutePatchJobRequest": {
      "type": "object",
      "properties": {
        "description": {
          "description": "Description of the patch job. Length of the description is limited to 1024 characters.",
          "type": "string"
        },
        "patchConfig": {
          "$ref": "PatchConfig",
          "description": "Patch configuration being applied. If omitted, instances are patched using the default configurations."
        },
        "instanceFilter": {
          "$ref": "PatchInstanceFilter",
          "description": "Required. Instances to patch, either explicitly or filtered by some criteria such as zone or labels."
        },
        "rollout": {
          "description": "Rollout strategy of the patch job.",
          "$ref": "PatchRollout"
        },
        "duration": {
[...]
