{
  "batchPath": "batch",
  "version": "v1beta1",
  "id": "privateca:v1beta1",
  "protocol": "rest",
  "mtlsRootUrl": "https://privateca.mtls.googleapis.com/",
  "baseUrl": "https://privateca.googleapis.com/",
  "canonicalName": "Certificate Authority Service",
  "rootUrl": "https://privateca.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "cancel": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "privateca.projects.locations.operations.cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "path": "v1beta1/{+name}:cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "description": "The name of the operation resource to be cancelled."
                    }
                  },
                  "httpMethod": "POST"
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "description": "The name of the operation resource to be deleted.",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "id": "privateca.projects.locations.operations.delete",
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1beta1/{+name}",
                  "httpMethod": "DELETE"
                },
                "get": {
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "The name of the operation resource.",
                      "type": "string"
                    }
                  },
                  "path": "v1beta1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "privateca.projects.locations.operations.get"
                },
                "list": {
                  "path": "v1beta1/{+name}/operations",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The standard list page size.",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "filter": {
                      "location": "query",
                      "description": "The standard list filter.",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "privateca.projects.locations.operations.list"
                }
              }
            },
            "reusableConfigs": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "ReusableConfig"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/reusableConfigs/[^/]+$",
                      "description": "Required. The name of the ReusableConfigs to get.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/reusableConfigs/{reusableConfigsId}",
                  "path": "v1beta1/{+name}",
                  "description": "Returns a ReusableConfig.",
                  "id": "privateca.projects.locations.reusableConfigs.get"
                },
                "list": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListReusableConfigsResponse"
                  },
                  "description": "Lists ReusableConfigs.",
                  "id": "privateca.projects.locations.reusableConfigs.list",
                  "parameters": {
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. Specify how the results should be sorted.",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "Optional. Pagination token, returned earlier via ListReusableConfigsResponse.next_page_token.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The resource name of the location associated with the ReusableConfigs, in the format `projects/*/locations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Only include resources that match the filter in the response."
                    },
                    "pageSize": {
                      "description": "Optional. Limit on the number of ReusableConfigs to include in the response. Further ReusableConfigs can subsequently be obtained by including the ListReusableConfigsResponse.next_page_token in a subsequent request. If unspecified, the server will pick an appropriate default.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/reusableConfigs",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+parent}/reusableConfigs"
                },
                "getIamPolicy": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Policy"
                  },
                  "parameters": {
                    "resource": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/reusableConfigs/[^/]+$",
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
                      "location": "path"
                    },
                    "options.requestedPolicyVersion": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. The policy format version to be returned. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional bindings must specify version 3. Policies without any conditional bindings may specify any valid value or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "format": "int32"
                    }
                  },
                  "id": "privateca.projects.locations.reusableConfigs.getIamPolicy",
                  "path": "v1beta1/{+resource}:getIamPolicy",
                  "httpMethod": "GET",
                  "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/reusableConfigs/{reusableConfigsId}:getIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ]
                },
                "testIamPermissions": {
                  "parameterOrder": [
                    "resource"
                  ],
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "privateca.projects.locations.reusableConfigs.testIamPermissions",
                  "path": "v1beta1/{+resource}:testIamPermissions",
                  "parameters": {
                    "resource": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/reusableConfigs/[^/]+$"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/reusableConfigs/{reusableConfigsId}:testIamPermissions",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning."
                },
                "setIamPolicy": {
                  "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                  "parameterOrder": [
                    "resource"
                  ],
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/reusableConfigs/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field.",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "path": "v1beta1/{+resource}:setIamPolicy",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/reusableConfigs/{reusableConfigsId}:setIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "privateca.projects.locations.reusableConfigs.setIamPolicy",
                  "httpMethod": "POST"
                }
              }
            },
            "certificateAuthorities": {
              "resources": {
                "certificateRevocationLists": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "ListCertificateRevocationListsResponse"
                      },
                      "httpMethod": "GET",
                      "description": "Lists CertificateRevocationLists.",
                      "parameters": {
                        "parent": {
                          "description": "Required. The resource name of the location associated with the CertificateRevocationLists, in the format `projects/*/locations/*/certificateauthorities/*`.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/certificateAuthorities/[^/]+$",
                          "required": true,
                          "location": "path"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Optional. Limit on the number of CertificateRevocationLists to include in the response. Further CertificateRevocationLists can subsequently be obtained by including the ListCertificateRevocationListsResponse.next_page_token in a subsequent request. If unspecified, the server will pick an appropriate default.",
                          "format": "int32",
                          "location": "query"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Pagination token, returned earlier via ListCertificateRevocationListsResponse.next_page_token."
                        },
                        "orderBy": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Specify how the results should be sorted."
                        },
                        "filter": {
                          "location": "query",
                          "description": "Optional. Only include resources that match the filter in the response.",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/certificateAuthorities/{certificateAuthoritiesId}/certificateRevocationLists",
                      "id": "privateca.projects.locations.certificateAuthorities.certificateRevocationLists.list",
                      "path": "v1beta1/{+parent}/certificateRevocationLists"
                    },
                    "getIamPolicy": {
                      "id": "privateca.projects.locations.certificateAuthorities.certificateRevocationLists.getIamPolicy",
                      "response": {
                        "$ref": "Policy"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/{+resource}:getIamPolicy",
                      "parameterOrder": [
                        "resource"
                      ],
                      "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                      "parameters": {
                        "options.requestedPolicyVersion": {
                          "location": "query",
                          "format": "int32",
                          "type": "integer",
                          "description": "Optional. The policy format version to be returned. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional bindings must specify version 3. Policies without any conditional bindings may specify any valid value or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
                        },
                        "resource": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/certificateAuthorities/[^/]+/certificateRevocationLists/[^/]+$",
                          "location": "path",
                          "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
                          "type": "string"
                        }
                      },
                      "httpMethod": "GET",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/certificateAuthorities/{certificateAuthoritiesId}/certificateRevocationLists/{certificateRevocationListsId}:getIamPolicy"
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. The name of the CertificateRevocationList to get.",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/certificateAuthorities/[^/]+/certificateRevocationLists/[^/]+$"
                        }
                      },
                      "description": "Returns a CertificateRevocationList.",
                      "id": "privateca.projects.locations.certificateAuthorities.certificateRevocationLists.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "path": "v1beta1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "CertificateRevocationList"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/certificateAuthorities/{certificateAuthoritiesId}/certificateRevocationLists/{certificateRevocationListsId}"
                    },
                    "testIamPermissions": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "resource": {
                          "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/certificateAuthorities/[^/]+/certificateRevocationLists/[^/]+$",
                          "required": true
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/certificateAuthorities/{certificateAuthoritiesId}/certificateRevocationLists/{certificateRevocationListsId}:testIamPermissions",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "TestIamPermissionsRequest"
                      },
                      "response": {
                        "$ref": "TestIamPermissionsResponse"
                      },
                      "id": "privateca.projects.locations.certificateAuthorities.certificateRevocationLists.testIamPermissions",
                      "path": "v1beta1/{+resource}:testIamPermissions",
                      "parameterOrder": [
                        "resource"
                      ],
                      "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning."
                    },
                    "patch": {
                      "description": "Update a CertificateRevocationList.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta1/{+name}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "privateca.projects.locations.certificateAuthorities.certificateRevocationLists.patch",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "requestId": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. An ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                        },
                        "updateMask": {
                          "type": "string",
                          "description": "Required. A list of fields to be updated in this request.",
                          "format": "google-fieldmask",
                          "location": "query"
                        },
                        "name": {
                          "location": "path",
                          "type": "string",
                          "description": "Output only. The resource path for this CertificateRevocationList in the format `projects/*/locations/*/certificateAuthorities/*/ certificateRevocationLists/*`.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/certificateAuthorities/[^/]+/certificateRevocationLists/[^/]+$"
                        }
                      },
                      "request": {
                        "$ref": "CertificateRevocationList"
                      },
                      "httpMethod": "PATCH",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/certificateAuthorities/{certificateAuthoritiesId}/certificateRevocationLists/{certificateRevocationListsId}"
                    },
                    "setIamPolicy": {
                      "parameterOrder": [
                        "resource"
                      ],
                      "parameters": {
                        "resource": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/certificateAuthorities/[^/]+/certificateRevocationLists/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field.",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "SetIamPolicyRequest"
                      },
                      "id": "privateca.projects.locations.certificateAuthorities.certificateRevocationLists.setIamPolicy",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/certificateAuthorities/{certificateAuthoritiesId}/certificateRevocationLists/{certificateRevocationListsId}:setIamPolicy",
                      "response": {
                        "$ref": "Policy"
                      },
                      "path": "v1beta1/{+resource}:setIamPolicy",
                      "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                      "httpMethod": "POST"
                    }
                  }
                },
                "certificates": {
                  "methods": {
                    "get": {
                      "path": "v1beta1/{+name}",
                      "id": "privateca.projects.locations.certificateAuthorities.certificates.get",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the Certificate to get.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/certificateAuthorities/[^/]+/certificates/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "description": "Returns a Certificate.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Certificate"
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/certificateAuthorities/{certificateAuthoritiesId}/certificates/{certificatesId}",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "create": {
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/certificateAuthorities/{certificateAuthoritiesId}/certificates",
                      "path": "v1beta1/{+parent}/certificates",
                      "request": {
                        "$ref": "Certificate"
                      },
                      "description": "Create a new Certificate in a given Project, Location from a particular CertificateAuthority.",
                      "response": {
                        "$ref": "Certificate"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "description": "Required. The resource name of the location and CertificateAuthority associated with the Certificate, in the format `projects/*/locations/*/certificateAuthorities/*`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/certificateAuthorities/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "certificateId": {
                          "description": "Optional. It must be unique within a location and match the regular expression `[a-zA-Z0-9_-]{1,63}`. This field is required when using a CertificateAuthority in the Enterprise CertificateAuthority.Tier, but is optional and its value is ignored otherwise.",
                          "type": "string",
                          "location": "query"
                        },
                        "requestId": {
                          "description": "Optional. An ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "id": "privateca.projects.locations.certificateAuthorities.certificates.create",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST"
                    },
                    "revoke": {
                      "request": {
                        "$ref": "RevokeCertificateRequest"
                      },
                      "description": "Revoke a Certificate.",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/certificateAuthorities/[^/]+/certificates/[^/]+$",
                          "type": "string",
                          "description": "Required. The resource name for this Certificate in the format `projects/*/locations/*/certificateAuthorities/*/certificates/*`.",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "path": "v1beta1/{+name}:revoke",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/certificateAuthorities/{certificateAuthoritiesId}/certificates/{certificatesId}:revoke",
                      "response": {
                        "$ref": "Certificate"
                      },
                      "id": "privateca.projects.locations.certificateAuthorities.certificates.revoke"
                    },
                    "list": {
                      "path": "v1beta1/{+parent}/certificates",
                      "description": "Lists Certificates.",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/certificateAuthorities/{certificateAuthoritiesId}/certificates",
                      "response": {
                        "$ref": "ListCertificatesResponse"
                      },
                      "id": "privateca.projects.locations.certificateAuthorities.certificates.list",
                      "parameters": {
                        "pageSize": {
                          "description": "Optional. Limit on the number of Certificates to include in the response. Further Certificates can subsequently be obtained by including the ListCertificatesResponse.next_page_token in a subsequent request. If unspecified, the server will pick an appropriate default.",
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/certificateAuthorities/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The resource name of the location associated with the Certificates, in the format `projects/*/locations/*/certificateauthorities/*`."
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Only include resources that match the filter in the response. For details on supported filters and syntax, see [Certificates Filtering documentation](https://cloud.google.com/certificate-authority-service/docs/sorting-filtering-certificates#filtering_support)."
                        },
                        "orderBy": {
                          "description": "Optional. Specify how the results should be sorted. For details on supported fields and syntax, see [Certificates Sorting documentation](https://cloud.google.com/certificate-authority-service/docs/sorting-filtering-certificates#sorting_support).",
                          "location": "query",
                          "type": "string"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. Pagination token, returned earlier via ListCertificatesResponse.next_page_token.",
                          "location": "query"
                        }
                      }
                    },
                    "patch": {
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "Certificate"
                      },
                      "description": "Update a Certificate. Currently, the only field you can update is the labels field.",
                      "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/certificateAuthorities/{certificateAuthoritiesId}/certificates/{certificatesId}",
                      "response": {
                        "$ref": "Certificate"
                      },
                      "path": "v1beta1/{+name}",
                      "id": "privateca.projects.locations.certificateAuthorities.certificates.patch",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "PATCH",
                      "parameters": {
                        "updateMask": {
                          "description": "Required. A list of fields to be updated in this request.",
                          "format": "google-fieldmask",
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/certificateAuthorities/[^/]+/certificates/[^/]+$",
                          "description": "Output only. The resource path for this Certificate in the format `projects/*/locations/*/certificateAuthorities/*/certificates/*`.",
                          "type": "string",
                          "required": true
                        },
                        "requestId": {
                          "location": "query",
                          "description": "Optional. An ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              },
              "methods": {
                "testIamPermissions": {
                  "parameterOrder": [
                    "resource"
                  ],
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificateAuthorities/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "path": "v1beta1/{+resource}:testIamPermissions",
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/certificateAuthorities/{certificateAuthoritiesId}:testIamPermissions",
                  "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "httpMethod": "POST",
                  "id": "privateca.projects.locations.certificateAuthorities.testIamPermissions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "path": "v1beta1/{+name}",
                  "description": "Returns a CertificateAuthority.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "CertificateAuthority"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificateAuthorities/[^/]+$",
                      "description": "Required. The name of the CertificateAuthority to get.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/certificateAuthorities/{certificateAuthoritiesId}",
                  "id": "privateca.projects.locations.certificateAuthorities.get",
                  "httpMethod": "GET"
                },
                "create": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The resource name of the location associated with the CertificateAuthorities, in the format `projects/*/locations/*`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "certificateAuthorityId": {
                      "type": "string",
                      "description": "Required. It must be unique within a location and match the regular expression `[a-zA-Z0-9_-]{1,63}`",
                      "location": "query"
                    },
                    "requestId": {
                      "description": "Optional. An ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "Create a new CertificateAuthority in a given Project and Location.",
                  "request": {
                    "$ref": "CertificateAuthority"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/certificateAuthorities",
                  "id": "privateca.projects.locations.certificateAuthorities.create",
                  "path": "v1beta1/{+parent}/certificateAuthorities"
                },
                "enable": {
                  "path": "v1beta1/{+name}:enable",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "EnableCertificateAuthorityRequest"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificateAuthorities/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The resource name for this CertificateAuthority in the format `projects/*/locations/*/certificateAuthorities/*`."
                    }
                  },
                  "id": "privateca.projects.locations.certificateAuthorities.enable",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/certificateAuthorities/{certificateAuthoritiesId}:enable",
                  "description": "Enable a CertificateAuthority.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST"
                },
                "setIamPolicy": {
                  "response": {
                    "$ref": "Policy"
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+resource}:setIamPolicy",
                  "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "parameters": {
                    "resource": {
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificateAuthorities/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/certificateAuthorities/{certificateAuthoritiesId}:setIamPolicy",
                  "id": "privateca.projects.locations.certificateAuthorities.setIamPolicy",
                  "httpMethod": "POST"
                },
                "restore": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Restore a CertificateAuthority that is scheduled for deletion.",
                  "path": "v1beta1/{+name}:restore",
                  "request": {
                    "$ref": "RestoreCertificateAuthorityRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "privateca.projects.locations.certificateAuthorities.restore",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/certificateAuthorities/{certificateAuthoritiesId}:restore",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificateAuthorities/[^/]+$",
                      "required": true,
                      "description": "Required. The resource name for this CertificateAuthority in the format `projects/*/locations/*/certificateAuthorities/*`.",
                      "location": "path",
                      "type": "string"
                    }
                  }
                },
                "patch": {
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "updateMask": {
                      "location": "query",
                      "description": "Required. A list of fields to be updated in this request.",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "type": "string",
                      "description": "Output only. The resource name for this CertificateAuthority in the format `projects/*/locations/*/certificateAuthorities/*`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificateAuthorities/[^/]+$"
                    }
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/certificateAuthorities/{certificateAuthoritiesId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "privateca.projects.locations.certificateAuthorities.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+name}",
                  "description": "Update a CertificateAuthority.",
                  "request": {
                    "$ref": "CertificateAuthority"
                  },
                  "httpMethod": "PATCH"
                },
                "activate": {
                  "id": "privateca.projects.locations.certificateAuthorities.activate",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Activate a CertificateAuthority that is in state PENDING_ACTIVATION and is of type SUBORDINATE. After the parent Certificate Authority signs a certificate signing request from FetchCertificateAuthorityCsr, this method can complete the activation process.",
                  "request": {
                    "$ref": "ActivateCertificateAuthorityRequest"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The resource name for this CertificateAuthority in the format `projects/*/locations/*/certificateAuthorities/*`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificateAuthorities/[^/]+$"
                    }
                  },
                  "httpMethod": "POST",
                  "path": "v1beta1/{+name}:activate",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/certificateAuthorities/{certificateAuthoritiesId}:activate"
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists CertificateAuthorities.",
                  "id": "privateca.projects.locations.certificateAuthorities.list",
                  "response": {
                    "$ref": "ListCertificateAuthoritiesResponse"
                  },
                  "parameters": {
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Specify how the results should be sorted."
                    },
                    "filter": {
                      "description": "Optional. Only include resources that match the filter in the response.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. Limit on the number of CertificateAuthorities to include in the response. Further CertificateAuthorities can subsequently be obtained by including the ListCertificateAuthoritiesResponse.next_page_token in a subsequent request. If unspecified, the server will pick an appropriate default.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Pagination token, returned earlier via ListCertificateAuthoritiesResponse.next_page_token."
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The resource name of the location associated with the CertificateAuthorities, in the format `projects/*/locations/*`.",
                      "location": "path"
                    }
                  },
                  "path": "v1beta1/{+parent}/certificateAuthorities",
                  "httpMethod": "GET",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/certificateAuthorities"
                },
                "disable": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "DisableCertificateAuthorityRequest"
                  },
                  "description": "Disable a CertificateAuthority.",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/certificateAuthorities/{certificateAuthoritiesId}:disable",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The resource name for this CertificateAuthority in the format `projects/*/locations/*/certificateAuthorities/*`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificateAuthorities/[^/]+$",
                      "required": true
                    }
                  },
                  "path": "v1beta1/{+name}:disable",
                  "httpMethod": "POST",
                  "id": "privateca.projects.locations.certificateAuthorities.disable"
                },
                "fetch": {
                  "response": {
                    "$ref": "FetchCertificateAuthorityCsrResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "description": "Fetch a certificate signing request (CSR) from a CertificateAuthority that is in state PENDING_ACTIVATION and is of type SUBORDINATE. The CSR must then be signed by the desired parent Certificate Authority, which could be another CertificateAuthority resource, or could be an on-prem certificate authority. See also ActivateCertificateAuthority.",
                  "path": "v1beta1/{+name}:fetch",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/certificateAuthorities/{certificateAuthoritiesId}:fetch",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificateAuthorities/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The resource name for this CertificateAuthority in the format `projects/*/locations/*/certificateAuthorities/*`.",
                      "required": true
                    }
                  },
                  "id": "privateca.projects.locations.certificateAuthorities.fetch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "getIamPolicy": {
                  "response": {
                    "$ref": "Policy"
                  },
                  "id": "privateca.projects.locations.certificateAuthorities.getIamPolicy",
                  "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                  "httpMethod": "GET",
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/certificateAuthorities/{certificateAuthoritiesId}:getIamPolicy",
                  "path": "v1beta1/{+resource}:getIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificateAuthorities/[^/]+$",
                      "location": "path"
                    },
                    "options.requestedPolicyVersion": {
                      "location": "query",
                      "description": "Optional. The policy format version to be returned. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional bindings must specify version 3. Policies without any conditional bindings may specify any valid value or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "scheduleDelete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/certificateAuthorities/[^/]+$",
                      "description": "Required. The resource name for this CertificateAuthority in the format `projects/*/locations/*/certificateAuthorities/*`."
                    }
                  },
                  "path": "v1beta1/{+name}:scheduleDelete",
                  "request": {
                    "$ref": "ScheduleDeleteCertificateAuthorityRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}/certificateAuthorities/{certificateAuthoritiesId}:scheduleDelete",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Schedule a CertificateAuthority for deletion.",
                  "id": "privateca.projects.locations.certificateAuthorities.scheduleDelete",
                  "httpMethod": "POST"
                }
              }
            }
          },
          "methods": {
            "list": {
              "flatPath": "v1beta1/projects/{projectsId}/locations",
              "description": "Lists information about the supported locations for this service.",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The resource that owns the locations collection, if applicable."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The standard list page token."
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "The standard list page size.",
                  "format": "int32"
                },
                "filter": {
                  "type": "string",
                  "description": "The standard list filter.",
                  "location": "query"
                }
              },
              "id": "privateca.projects.locations.list",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "path": "v1beta1/{+name}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/locations/{locationsId}",
              "id": "privateca.projects.locations.get",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets information about a location.",
              "path": "v1beta1/{+name}",
              "response": {
                "$ref": "Location"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Resource name for the location.",
                  "location": "path"
                }
              }
            }
          }
        }
      }
    }
  },
  "name": "privateca",
  "title": "Certificate Authority API",
  "documentationLink": "https://cloud.google.com/",
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    }
  },
  "description": "The Certificate Authority Service API is a highly-available, scalable service that enables you to simplify and automate the management of private certificate authorities (CAs) while staying in control of your private keys.\" ",
  "ownerName": "Google",
  "revision": "20210218",
  "basePath": "",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "ownerDomain": "google.com",
  "schemas": {
    "KeyId": {
      "id": "KeyId",
      "type": "object",
      "description": "A KeyId identifies a specific public key, usually by hashing the public key.",
      "properties": {
        "keyId": {
          "type": "string",
          "description": "Optional. The value of this KeyId encoded in lowercase hexadecimal. This is most likely the 160 bit SHA-1 hash of the public key."
        }
      }
    },
    "SubjectAltNames": {
      "properties": {
        "uris": {
          "description": "Contains only valid RFC 3986 URIs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dnsNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Contains only valid, fully-qualified host names."
        },
        "customSans": {
          "description": "Contains additional subject alternative name values.",
          "items": {
            "$ref": "X509Extension"
          },
          "type": "array"
        },
        "ipAddresses": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Contains only valid 32-bit IPv4 addresses or RFC 4291 IPv6 addresses."
        },
        "emailAddresses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Contains only valid RFC 2822 E-mail addresses."
        }
      },
      "type": "object",
      "description": "SubjectAltNames corresponds to a more modern way of listing what the asserted identity is in a certificate (i.e., compared to the \"common name\" in the distinguished name).",
      "id": "SubjectAltNames"
    },
    "EnableCertificateAuthorityRequest": {
      "properties": {
        "requestId": {
          "description": "Optional. An ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request message for CertificateAuthorityService.EnableCertificateAuthority.",
      "id": "EnableCertificateAuthorityRequest"
    },
    "ListCertificateAuthoritiesResponse": {
      "description": "Response message for CertificateAuthorityService.ListCertificateAuthorities.",
      "properties": {
        "unreachable": {
          "description": "A list of locations (e.g. \"us-west1\") that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "certificateAuthorities": {
          "type": "array",
          "items": {
            "$ref": "CertificateAuthority"
          },
          "description": "The list of CertificateAuthorities."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve next page of results. Pass this value in ListCertificateAuthoritiesRequest.next_page_token to retrieve the next page of results."
        }
      },
      "type": "object",
      "id": "ListCertificateAuthoritiesResponse"
    },
    "CaOptions": {
      "type": "object",
      "properties": {
        "isCa": {
          "description": "Optional. Refers to the \"CA\" X.509 extension, which is a boolean value. When this value is missing, the extension will be omitted from the CA certificate.",
          "type": "boolean"
        },
        "maxIssuerPathLength": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Refers to the path length restriction X.509 extension. For a CA certificate, this value describes the depth of subordinate CA certificates that are allowed. If this value is less than 0, the request will fail. If this value is missing, the max path length will be omitted from the CA certificate."
        }
      },
      "description": "Describes values that are relevant in a CA certificate.",
      "id": "CaOptions"
    },
    "GoogleApiServicecontrolV1TraceSpan": {
      "id": "GoogleApiServicecontrolV1TraceSpan",
      "type": "object",
      "description": "A span represents a single operation within a trace. Spans can be nested to form a trace tree. Often, a trace contains a root span that describes the end-to-end latency, and one or more subspans for its sub-operations. A trace can also contain multiple root spans, or none at all. Spans do not need to be contiguous—there may be gaps or overlaps between spans in a trace.",
      "properties": {
        "attributes": {
          "$ref": "GoogleApiServicecontrolV1Attributes",
          "description": "A set of attributes on the span. You can have up to 32 attributes per span."
        },
        "name": {
          "description": "The resource name of the span in the following format: projects/[PROJECT_ID]/traces/[TRACE_ID]/spans/SPAN_ID is a unique identifier for a trace within a project; it is a 32-character hexadecimal encoding of a 16-byte array. [SPAN_ID] is a unique identifier for a span within a trace; it is a 16-character hexadecimal encoding of an 8-byte array.",
          "type": "string"
        },
        "spanKind": {
          "type": "string",
          "enum": [
            "SPAN_KIND_UNSPECIFIED",
            "INTERNAL",
            "SERVER",
            "CLIENT",
            "PRODUCER",
            "CONSUMER"
          ],
          "enumDescriptions": [
            "Unspecified. Do NOT use as default. Implementations MAY assume SpanKind.INTERNAL to be default.",
            "Indicates that the span is used internally. Default value.",
            "Indicates that the span covers server-side handling of an RPC or other remote network request.",
            "Indicates that the span covers the client-side wrapper around an RPC or other remote request.",
            "Indicates that the span describes producer sending a message to a broker. Unlike client and server, there is no direct critical path latency relationship between producer and consumer spans (e.g. publishing a message to a pubsub service).",
            "Indicates that the span describes consumer receiving a message from a broker. Unlike client and server, there is no direct critical path latency relationship between producer and consumer spans (e.g. receiving a message from a pubsub service subscription)."
          ],
          "description": "Distinguishes between spans generated in a particular context. For example, two spans with the same name may be distinguished using `CLIENT` (caller) and `SERVER` (callee) to identify an RPC call."
        },
        "endTime": {
          "description": "The end time of the span. On the client side, this is the time kept by the local machine where the span execution ends. On the server side, this is the time when the server application handler stops running.",
          "format": "google-datetime",
          "type": "string"
        },
        "parentSpanId": {
          "type": "string",
          "description": "The [SPAN_ID] of this span's parent span. If this is a root span, then this field must be empty."
        },
        "childSpanCount": {
          "format": "int32",
          "description": "An optional number of child spans that were generated while this span was active. If set, allows implementation to detect missing child spans.",
          "type": "integer"
        },
        "sameProcessAsParentSpan": {
          "type": "boolean",
          "description": "(Optional) Set this parameter to indicate whether this span is in the same process as its parent. If you do not set this parameter, Stackdriver Trace is unable to take advantage of this helpful information."
        },
        "status": {
          "description": "An optional final status for this span.",
          "$ref": "Status"
        },
        "startTime": {
          "description": "The start time of the span. On the client side, this is the time kept by the local machine where the span execution starts. On the server side, this is the time when the server's application handler starts running.",
          "format": "google-datetime",
          "type": "string"
        },
        "displayName": {
          "$ref": "GoogleApiServicecontrolV1TruncatableString",
          "description": "A description of the span's operation (up to 128 bytes). Stackdriver Trace displays the description in the Google Cloud Platform Console. For example, the display name can be a qualified method name or a file name and a line number where the operation is called. A best practice is to use the same display name within an application and at the same call point. This makes it easier to correlate spans in different traces."
        },
        "spanId": {
          "description": "The [SPAN_ID] portion of the span's resource name.",
          "type": "string"
        }
      }
    },
    "KeyUsageOptions": {
      "id": "KeyUsageOptions",
      "type": "object",
      "description": "KeyUsage.KeyUsageOptions corresponds to the key usage values described in https://tools.ietf.org/html/rfc5280#section-4.2.1.3.",
      "properties": {
        "contentCommitment": {
          "type": "boolean",
          "description": "The key may be used for cryptographic commitments. Note that this may also be referred to as \"non-repudiation\"."
        },
        "certSign": {
          "type": "boolean",
          "description": "The key may be used to sign certificates."
        },
        "decipherOnly": {
          "type": "boolean",
          "description": "The key may be used to decipher only."
        },
        "encipherOnly": {
          "description": "The key may be used to encipher only.",
          "type": "boolean"
        },
        "dataEncipherment": {
          "description": "The key may be used to encipher data.",
          "type": "boolean"
        },
        "keyEncipherment": {
          "description": "The key may be used to encipher other keys.",
          "type": "boolean"
        },
        "digitalSignature": {
          "type": "boolean",
          "description": "The key may be used for digital signatures."
        },
        "crlSign": {
          "description": "The key may be used sign certificate revocation lists.",
          "type": "boolean"
        },
        "keyAgreement": {
          "description": "The key may be used in a key agreement protocol.",
          "type": "boolean"
        }
      }
    },
    "RevokeCertificateRequest": {
      "properties": {
        "reason": {
          "description": "Required. The RevocationReason for revoking this certificate.",
          "enum": [
            "REVOCATION_REASON_UNSPECIFIED",
            "KEY_COMPROMISE",
            "CERTIFICATE_AUTHORITY_COMPROMISE",
            "AFFILIATION_CHANGED",
            "SUPERSEDED",
            "CESSATION_OF_OPERATION",
            "CERTIFICATE_HOLD",
            "PRIVILEGE_WITHDRAWN",
            "ATTRIBUTE_AUTHORITY_COMPROMISE"
          ],
          "enumDescriptions": [
            "Default unspecified value. This value does indicate that a Certificate has been revoked, but that a reason has not been recorded.",
            "Key material for this Certificate may have leaked.",
            "The key material for a certificate authority in the issuing path may have leaked.",
            "The subject or other attributes in this Certificate have changed.",
            "This Certificate has been superseded.",
            "This Certificate or entities in the issuing path have ceased to operate.",
            "This Certificate should not be considered valid, it is expected that it may become valid in the future.",
            "This Certificate no longer has permission to assert the listed attributes.",
            "The authority which determines appropriate attributes for a Certificate may have been compromised."
          ],
          "type": "string"
        },
        "requestId": {
          "description": "Optional. An ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and t he request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "description": "Request message for CertificateAuthorityService.RevokeCertificate.",
      "id": "RevokeCertificateRequest",
      "type": "object"
    },
    "GoogleApiServicecontrolV1HttpRequest": {
      "id": "GoogleApiServicecontrolV1HttpRequest",
      "properties": {
        "protocol": {
          "description": "Protocol used for the request. Examples: \"HTTP/1.1\", \"HTTP/2\", \"websocket\"",
          "type": "string"
        },
        "referer": {
          "description": "The referer URL of the request, as defined in [HTTP/1.1 Header Field Definitions](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html).",
          "type": "string"
        },
        "cacheFillBytes": {
          "format": "int64",
          "description": "The number of HTTP response bytes inserted into cache. Set only when a cache fill was attempted.",
          "type": "string"
        },
        "latency": {
          "format": "google-duration",
          "type": "string",
          "description": "The request processing latency on the server, from the time the request was received until the response was sent."
        },
        "serverIp": {
          "type": "string",
          "description": "The IP address (IPv4 or IPv6) of the origin server that the request was sent to."
        },
        "userAgent": {
          "type": "string",
          "description": "The user agent sent by the client. Example: `\"Mozilla/4.0 (compatible; MSIE 6.0; Windows 98; Q312461; .NET CLR 1.0.3705)\"`."
        },
        "cacheValidatedWithOriginServer": {
          "type": "boolean",
          "description": "Whether or not the response was validated with the origin server before being served from cache. This field is only meaningful if `cache_hit` is True."
        },
        "cacheLookup": {
          "type": "boolean",
          "description": "Whether or not a cache lookup was attempted."
        },
        "responseSize": {
          "type": "string",
          "description": "The size of the HTTP response message sent back to the client, in bytes, including the response headers and the response body.",
          "format": "int64"
        },
        "status": {
          "description": "The response code indicating the status of the response. Examples: 200, 404.",
          "type": "integer",
          "format": "int32"
        },
        "cacheHit": {
          "description": "Whether or not an entity was served from cache (with or without validation).",
          "type": "boolean"
        },
        "remoteIp": {
          "description": "The IP address (IPv4 or IPv6) of the client that issued the HTTP request. Examples: `\"192.168.1.1\"`, `\"FE80::0202:B3FF:FE1E:8329\"`.",
          "type": "string"
        },
        "requestUrl": {
          "type": "string",
          "description": "The scheme (http, https), the host name, the path, and the query portion of the URL that was requested. Example: `\"http://example.com/some/info?color=red\"`."
        },
        "requestMethod": {
          "description": "The request method. Examples: `\"GET\"`, `\"HEAD\"`, `\"PUT\"`, `\"POST\"`.",
          "type": "string"
        },
        "requestSize": {
          "type": "string",
          "format": "int64",
          "description": "The size of the HTTP request message in bytes, including the request headers and the request body."
        }
      },
      "description": "A common proto for logging HTTP requests. Only contains semantics defined by the HTTP specification. Product-specific logging information MUST be defined in a separate message.",
      "type": "object"
    },
    "CertificateDescription": {
      "type": "object",
      "description": "A CertificateDescription describes an X.509 certificate or CSR that has been issued, as an alternative to using ASN.1 / X.509.",
      "properties": {
        "crlDistributionPoints": {
          "description": "Describes a list of locations to obtain CRL information, i.e. the DistributionPoint.fullName described by https://tools.ietf.org/html/rfc5280#section-4.2.1.13",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "publicKey": {
          "description": "The public key that corresponds to an issued certificate.",
          "$ref": "PublicKey"
        },
        "certFingerprint": {
          "description": "The hash of the x.509 certificate.",
          "$ref": "CertificateFingerprint"
        },
        "subjectKeyId": {
          "description": "Provides a means of identifiying certificates that contain a particular public key, per https://tools.ietf.org/html/rfc5280#section-4.2.1.2.",
          "$ref": "KeyId"
        },
        "authorityKeyId": {
          "description": "Identifies the subject_key_id of the parent certificate, per https://tools.ietf.org/html/rfc5280#section-4.2.1.1",
          "$ref": "KeyId"
        },
        "aiaIssuingCertificateUrls": {
          "items": {
            "type": "string"
          },
          "description": "Describes lists of issuer CA certificate URLs that appear in the \"Authority Information Access\" extension in the certificate.",
          "type": "array"
        },
        "configValues": {
          "description": "Describes some of the technical fields in a certificate.",
          "$ref": "ReusableConfigValues"
        },
        "subjectDescription": {
          "$ref": "SubjectDescription",
          "description": "Describes some of the values in a certificate that are related to the subject and lifetime."
        }
      },
      "id": "CertificateDescription"
    },
    "Money": {
      "description": "Represents an amount of money with its currency type.",
      "id": "Money",
      "type": "object",
      "properties": {
        "nanos": {
          "type": "integer",
          "format": "int32",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000."
        },
        "currencyCode": {
          "type": "string",
          "description": "The three-letter currency code defined in ISO 4217."
        },
        "units": {
          "type": "string",
          "format": "int64",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
        }
      }
    },
    "ObjectId": {
      "type": "object",
      "description": "An ObjectId specifies an object identifier (OID). These provide context and describe types in ASN.1 messages.",
      "properties": {
        "objectIdPath": {
          "description": "Required. The parts of an OID path. The most significant parts of the path come first.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "id": "ObjectId"
    },
    "BillingView": {
      "id": "BillingView",
      "description": "Message for reporting billing requests through Eventstream.",
      "properties": {
        "reportRequests": {
          "type": "array",
          "items": {
            "$ref": "GoogleApiServicecontrolV1ReportRequest"
          },
          "description": "Billing requests to be reported for cloud.eventstream.v2.ResourceEvent Each request contains billing operations to be reported under a service name. See go/billing-view-construction for documentation on constructing billing view report requests."
        }
      },
      "type": "object"
    },
    "GoogleApiServicecontrolV1MetricValueSet": {
      "type": "object",
      "description": "Represents a set of metric values in the same metric. Each metric value in the set should have a unique combination of start time, end time, and label values.",
      "properties": {
        "metricValues": {
          "items": {
            "$ref": "GoogleApiServicecontrolV1MetricValue"
          },
          "type": "array",
          "description": "The values in this metric."
        },
        "metricName": {
          "description": "The metric name defined in the service configuration.",
          "type": "string"
        }
      },
      "id": "GoogleApiServicecontrolV1MetricValueSet"
    },
    "GoogleApiServicecontrolV1MetricValue": {
      "type": "object",
      "description": "Represents a single metric value.",
      "id": "GoogleApiServicecontrolV1MetricValue",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels describing the metric value. See comments on google.api.servicecontrol.v1.Operation.labels for the overriding relationship. Note that this map must not contain monitored resource labels.",
          "type": "object"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The start of the time period over which this metric value's measurement applies. The time period has different semantics for different metric types (cumulative, delta, and gauge). See the metric definition documentation in the service configuration for details. If not specified, google.api.servicecontrol.v1.Operation.start_time will be used.",
          "type": "string"
        },
        "int64Value": {
          "description": "A signed 64-bit integer value.",
          "format": "int64",
          "type": "string"
        },
        "moneyValue": {
          "$ref": "Money",
          "description": "A money value."
        },
        "boolValue": {
          "type": "boolean",
          "description": "A boolean value."
        },
        "stringValue": {
          "description": "A text string value.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "The end of the time period over which this metric value's measurement applies. If not specified, google.api.servicecontrol.v1.Operation.end_time will be used.",
          "format": "google-datetime"
        },
        "distributionValue": {
          "$ref": "GoogleApiServicecontrolV1Distribution",
          "description": "A distribution value."
        },
        "doubleValue": {
          "type": "number",
          "format": "double",
          "description": "A double precision floating point value."
        }
      }
    },
    "GoogleApiServicecontrolV1ReportRequest": {
      "description": "Request message for the Report method.",
      "type": "object",
      "id": "GoogleApiServicecontrolV1ReportRequest",
      "properties": {
        "operations": {
          "items": {
            "$ref": "GoogleApiServicecontrolV1Operation"
          },
          "type": "array",
          "description": "Operations to be reported. Typically the service should report one operation per request. Putting multiple operations into a single request is allowed, but should be used only when multiple operations are natually available at the time of the report. There is no limit on the number of operations in the same ReportRequest, however the ReportRequest size should be no larger than 1MB. See ReportResponse.report_errors for partial failure behavior."
        },
        "serviceConfigId": {
          "type": "string",
          "description": "Specifies which version of service config should be used to process the request. If unspecified or no matching version can be found, the latest one will be used."
        },
        "serviceName": {
          "description": "The service name as specified in its service configuration. For example, `\"pubsub.googleapis.com\"`. See [google.api.Service](https://cloud.google.com/service-management/reference/rpc/google.api#google.api.Service) for the definition of a service name.",
          "type": "string"
        }
      }
    },
    "ReusableConfigValues": {
      "type": "object",
      "id": "ReusableConfigValues",
      "properties": {
        "policyIds": {
          "description": "Optional. Describes the X.509 certificate policy object identifiers, per https://tools.ietf.org/html/rfc5280#section-4.2.1.4.",
          "items": {
            "$ref": "ObjectId"
          },
          "type": "array"
        },
        "caOptions": {
          "$ref": "CaOptions",
          "description": "Optional. Describes options in this ReusableConfigValues that are relevant in a CA certificate."
        },
        "keyUsage": {
          "$ref": "KeyUsage",
          "description": "Optional. Indicates the intended use for keys that correspond to a certificate."
        },
        "additionalExtensions": {
          "items": {
            "$ref": "X509Extension"
          },
          "description": "Optional. Describes custom X.509 extensions.",
          "type": "array"
        },
        "aiaOcspServers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Describes Online Certificate Status Protocol (OCSP) endpoint addresses that appear in the \"Authority Information Access\" extension in the certificate."
        }
      },
      "description": "A ReusableConfigValues is used to describe certain fields of an X.509 certificate, such as the key usage fields, fields specific to CA certificates, certificate policy extensions and custom extensions."
    },
    "SubjectConfig": {
      "description": "These values are used to create the distinguished name and subject alternative name fields in an X.509 certificate.",
      "properties": {
        "subjectAltName": {
          "description": "Optional. The subject alternative name fields.",
          "$ref": "SubjectAltNames"
        },
        "commonName": {
          "description": "Optional. The \"common name\" of the distinguished name.",
          "type": "string"
        },
        "subject": {
          "description": "Required. Contains distinguished name fields such as the location and organization.",
          "$ref": "Subject"
        }
      },
      "id": "SubjectConfig",
      "type": "object"
    },
    "ListReusableConfigsResponse": {
      "description": "Response message for CertificateAuthorityService.ListReusableConfigs.",
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "A list of locations (e.g. \"us-west1\") that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "reusableConfigs": {
          "items": {
            "$ref": "ReusableConfig"
          },
          "type": "array",
          "description": "The list of ReusableConfigs."
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass this value in ListReusableConfigsRequest.next_page_token to retrieve the next page of results.",
          "type": "string"
        }
      },
      "id": "ListReusableConfigsResponse"
    },
    "AccessUrls": {
      "type": "object",
      "id": "AccessUrls",
      "description": "URLs where a CertificateAuthority will publish content.",
      "properties": {
        "crlAccessUrl": {
          "description": "The URL where this CertificateAuthority's CRLs are published. This will only be set for CAs that have been activated.",
          "type": "string"
        },
        "caCertificateAccessUrl": {
          "description": "The URL where this CertificateAuthority's CA certificate is published. This will only be set for CAs that have been activated.",
          "type": "string"
        }
      }
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
        },
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Cloud Platform services (such as Projects) might reject them."
        }
      },
      "type": "object",
      "id": "SetIamPolicyRequest"
    },
    "GoogleApiServicecontrolV1LogEntryOperation": {
      "properties": {
        "producer": {
          "type": "string",
          "description": "Optional. An arbitrary producer identifier. The combination of `id` and `producer` must be globally unique. Examples for `producer`: `\"MyDivision.MyBigCompany.com\"`, `\"github.com/MyProject/MyApplication\"`."
        },
        "id": {
          "description": "Optional. An arbitrary operation identifier. Log entries with the same identifier are assumed to be part of the same operation.",
          "type": "string"
        },
        "last": {
          "type": "boolean",
[...]
