{
  "canonicalName": "Cloud Run",
  "version_module": true,
  "version": "v1",
  "revision": "20201204",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "basePath": "",
  "name": "run",
  "mtlsRootUrl": "https://run.mtls.googleapis.com/",
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    }
  },
  "protocol": "rest",
  "id": "run:v1",
  "baseUrl": "https://run.googleapis.com/",
  "discoveryVersion": "v1",
  "description": "Deploy and manage user provided container images that scale automatically based on HTTP traffic.",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "parameterOrder": [
                "name"
              ],
              "description": "Lists information about the supported locations for this service.",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "flatPath": "v1/projects/{projectsId}/locations",
              "path": "v1/{+name}/locations",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "run.projects.locations.list",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The standard list page size."
                },
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The standard list page token.",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "description": "The standard list filter.",
                  "location": "query"
                }
              }
            }
          },
          "resources": {
            "revisions": {
              "methods": {
                "delete": {
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/revisions/{revisionsId}",
                  "response": {
                    "$ref": "Status"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "run.projects.locations.revisions.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "kind": {
                      "description": "Cloud Run currently ignores this parameter.",
                      "type": "string",
                      "location": "query"
                    },
                    "apiVersion": {
                      "description": "Cloud Run currently ignores this parameter.",
                      "type": "string",
                      "location": "query"
                    },
                    "propagationPolicy": {
                      "description": "Specifies the propagation policy of delete. Cloud Run currently ignores this setting, and deletes in the background. Please see kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/ for more information.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/revisions/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The name of the revision to delete. For Cloud Run (fully managed), replace {namespace_id} with the project ID or number."
                    }
                  },
                  "description": "Delete a revision.",
                  "httpMethod": "DELETE"
                },
                "get": {
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Revision"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/revisions/{revisionsId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/revisions/[^/]+$",
                      "description": "The name of the revision to retrieve. For Cloud Run (fully managed), replace {namespace_id} with the project ID or number.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "id": "run.projects.locations.revisions.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Get information about a revision."
                },
                "list": {
                  "path": "v1/{+parent}/revisions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/revisions",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListRevisionsResponse"
                  },
                  "id": "run.projects.locations.revisions.list",
                  "parameters": {
                    "continue": {
                      "description": "Optional encoded string to continue paging.",
                      "location": "query",
                      "type": "string"
                    },
                    "limit": {
                      "location": "query",
                      "description": "The maximum number of records that should be returned.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "resourceVersion": {
                      "type": "string",
                      "location": "query",
                      "description": "The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run."
                    },
                    "includeUninitialized": {
                      "description": "Not currently used by Cloud Run.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The namespace from which the revisions should be listed. For Cloud Run (fully managed), replace {namespace_id} with the project ID or number.",
                      "required": true
                    },
                    "labelSelector": {
                      "type": "string",
                      "location": "query",
                      "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn."
                    },
                    "fieldSelector": {
                      "type": "string",
                      "location": "query",
                      "description": "Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run."
                    },
                    "watch": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run."
                    }
                  },
                  "description": "List revisions."
                }
              }
            },
            "authorizeddomains": {
              "methods": {
                "list": {
                  "id": "run.projects.locations.authorizeddomains.list",
                  "parameters": {
                    "parent": {
                      "description": "Name of the parent Project resource. Example: `projects/myproject`.",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Maximum results to return per page.",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Continuation token for fetching the next page of results."
                    }
                  },
                  "path": "v1/{+parent}/authorizeddomains",
                  "response": {
                    "$ref": "ListAuthorizedDomainsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authorizeddomains",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "List authorized domains."
                }
              }
            },
            "services": {
              "methods": {
                "delete": {
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "description": "Delete a service. This will cause the Service to stop serving traffic and will delete the child entities like Routes, Configurations and Revisions.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Status"
                  },
                  "parameters": {
                    "apiVersion": {
                      "type": "string",
                      "description": "Cloud Run currently ignores this parameter.",
                      "location": "query"
                    },
                    "kind": {
                      "type": "string",
                      "location": "query",
                      "description": "Cloud Run currently ignores this parameter."
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "required": true,
                      "description": "The name of the service to delete. For Cloud Run (fully managed), replace {namespace_id} with the project ID or number."
                    },
                    "propagationPolicy": {
                      "location": "query",
                      "type": "string",
                      "description": "Specifies the propagation policy of delete. Cloud Run currently ignores this setting, and deletes in the background. Please see kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/ for more information."
                    }
                  },
                  "id": "run.projects.locations.services.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}"
                },
                "setIamPolicy": {
                  "path": "v1/{+resource}:setIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}:setIamPolicy",
                  "httpMethod": "POST",
                  "id": "run.projects.locations.services.setIamPolicy",
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "description": "Sets the IAM Access control policy for the specified Service. Overwrites any existing policy.",
                  "parameterOrder": [
                    "resource"
                  ]
                },
                "create": {
                  "path": "v1/{+parent}/services",
                  "id": "run.projects.locations.services.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "Service"
                  },
                  "description": "Create a service.",
                  "response": {
                    "$ref": "Service"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "The namespace in which the service should be created. For Cloud Run (fully managed), replace {namespace_id} with the project ID or number.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "replaceService": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}",
                  "path": "v1/{+name}",
                  "httpMethod": "PUT",
                  "id": "run.projects.locations.services.replaceService",
                  "description": "Replace a service. Only the spec and metadata labels and annotations are modifiable. After the Update request, Cloud Run will work to make the 'status' match the requested 'spec'. May provide metadata.resourceVersion to enforce update from last read for optimistic concurrency control.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "location": "path",
                      "description": "The name of the service being replaced. For Cloud Run (fully managed), replace {namespace_id} with the project ID or number.",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "Service"
                  },
                  "response": {
                    "$ref": "Service"
                  }
                },
                "getIamPolicy": {
                  "description": "Get the IAM Access Control policy currently in effect for the given Cloud Run service. This result does not include any inherited policies.",
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "options.requestedPolicyVersion": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. The policy format version to be returned. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional bindings must specify version 3. Policies without any conditional bindings may specify any valid value or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "format": "int32"
                    }
                  },
                  "path": "v1/{+resource}:getIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Policy"
                  },
                  "httpMethod": "GET",
                  "id": "run.projects.locations.services.getIamPolicy",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}:getIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ]
                },
                "get": {
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "The name of the service to retrieve. For Cloud Run (fully managed), replace {namespace_id} with the project ID or number.",
                      "location": "path"
                    }
                  },
                  "description": "Get information about a service.",
                  "id": "run.projects.locations.services.get",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Service"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "testIamPermissions": {
                  "description": "Returns permissions that a caller has on the specified Project. There are no permissions required for making this API call.",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+resource}:testIamPermissions",
                  "id": "run.projects.locations.services.testIamPermissions",
                  "parameterOrder": [
                    "resource"
                  ],
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}:testIamPermissions",
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  }
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListServicesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "run.projects.locations.services.list",
                  "description": "List services.",
                  "parameters": {
                    "continue": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional encoded string to continue paging."
                    },
                    "parent": {
                      "type": "string",
                      "description": "The namespace from which the services should be listed. For Cloud Run (fully managed), replace {namespace_id} with the project ID or number.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "watch": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run."
                    },
                    "resourceVersion": {
                      "type": "string",
                      "description": "The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run.",
                      "location": "query"
                    },
                    "labelSelector": {
                      "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.",
                      "type": "string",
                      "location": "query"
                    },
                    "includeUninitialized": {
                      "location": "query",
                      "description": "Not currently used by Cloud Run.",
                      "type": "boolean"
                    },
                    "fieldSelector": {
                      "description": "Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run.",
                      "location": "query",
                      "type": "string"
                    },
                    "limit": {
                      "description": "The maximum number of records that should be returned.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services",
                  "path": "v1/{+parent}/services",
                  "httpMethod": "GET"
                }
              }
            },
            "domainmappings": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The name of the domain mapping to retrieve. For Cloud Run (fully managed), replace {namespace_id} with the project ID or number.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/domainmappings/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Get information about a domain mapping.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/domainmappings/{domainmappingsId}",
                  "id": "run.projects.locations.domainmappings.get",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "DomainMapping"
                  },
                  "httpMethod": "GET"
                },
                "create": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/domainmappings",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "run.projects.locations.domainmappings.create",
                  "path": "v1/{+parent}/domainmappings",
                  "response": {
                    "$ref": "DomainMapping"
                  },
                  "description": "Create a new domain mapping.",
                  "request": {
                    "$ref": "DomainMapping"
                  },
                  "parameters": {
                    "parent": {
                      "description": "The namespace in which the domain mapping should be created. For Cloud Run (fully managed), replace {namespace_id} with the project ID or number.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  }
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "run.projects.locations.domainmappings.delete",
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/domainmappings/{domainmappingsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Delete a domain mapping.",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Status"
                  },
                  "parameters": {
                    "propagationPolicy": {
                      "location": "query",
                      "description": "Specifies the propagation policy of delete. Cloud Run currently ignores this setting, and deletes in the background. Please see kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/ for more information.",
                      "type": "string"
                    },
                    "apiVersion": {
                      "description": "Cloud Run currently ignores this parameter.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "The name of the domain mapping to delete. For Cloud Run (fully managed), replace {namespace_id} with the project ID or number.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/domainmappings/[^/]+$",
                      "type": "string"
                    },
                    "kind": {
                      "location": "query",
                      "description": "Cloud Run currently ignores this parameter.",
                      "type": "string"
                    }
                  }
                },
                "list": {
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/domainmappings",
                  "description": "List domain mappings.",
                  "response": {
                    "$ref": "ListDomainMappingsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "run.projects.locations.domainmappings.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/domainmappings",
                  "parameters": {
                    "includeUninitialized": {
                      "location": "query",
                      "description": "Not currently used by Cloud Run.",
                      "type": "boolean"
                    },
                    "labelSelector": {
                      "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.",
                      "type": "string",
                      "location": "query"
                    },
                    "continue": {
                      "description": "Optional encoded string to continue paging.",
                      "type": "string",
                      "location": "query"
                    },
                    "fieldSelector": {
                      "type": "string",
                      "description": "Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run.",
                      "location": "query"
                    },
                    "watch": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run."
                    },
                    "resourceVersion": {
                      "location": "query",
                      "description": "The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run.",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "The namespace from which the domain mappings should be listed. For Cloud Run (fully managed), replace {namespace_id} with the project ID or number.",
                      "required": true
                    },
                    "limit": {
                      "type": "integer",
                      "location": "query",
                      "description": "The maximum number of records that should be returned.",
                      "format": "int32"
                    }
                  }
                }
              }
            },
            "routes": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "Route"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "run.projects.locations.routes.get",
                  "description": "Get information about a route.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/routes/{routesId}",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/routes/[^/]+$",
                      "description": "The name of the route to retrieve. For Cloud Run (fully managed), replace {namespace_id} with the project ID or number.",
                      "type": "string"
                    }
                  }
                },
                "list": {
                  "id": "run.projects.locations.routes.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/routes",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "limit": {
                      "location": "query",
                      "description": "The maximum number of records that should be returned.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "The namespace from which the routes should be listed. For Cloud Run (fully managed), replace {namespace_id} with the project ID or number.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "fieldSelector": {
                      "location": "query",
                      "description": "Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run.",
                      "type": "string"
                    },
                    "watch": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run."
                    },
                    "continue": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional encoded string to continue paging."
                    },
                    "labelSelector": {
                      "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.",
                      "location": "query",
                      "type": "string"
                    },
                    "resourceVersion": {
                      "type": "string",
                      "description": "The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run.",
                      "location": "query"
                    },
                    "includeUninitialized": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Not currently used by Cloud Run."
                    }
                  },
                  "response": {
                    "$ref": "ListRoutesResponse"
                  },
                  "description": "List routes.",
                  "path": "v1/{+parent}/routes",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            },
            "configurations": {
              "methods": {
                "list": {
                  "description": "List configurations.",
                  "id": "run.projects.locations.configurations.list",
                  "path": "v1/{+parent}/configurations",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "The namespace from which the configurations should be listed. For Cloud Run (fully managed), replace {namespace_id} with the project ID or number.",
                      "required": true,
                      "type": "string"
                    },
                    "includeUninitialized": {
                      "description": "Not currently used by Cloud Run.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "watch": {
                      "description": "Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "fieldSelector": {
                      "type": "string",
                      "description": "Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run.",
                      "location": "query"
                    },
                    "labelSelector": {
                      "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.",
                      "type": "string",
                      "location": "query"
                    },
                    "continue": {
                      "type": "string",
                      "description": "Optional encoded string to continue paging.",
                      "location": "query"
                    },
                    "limit": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of records that should be returned."
                    },
                    "resourceVersion": {
                      "description": "The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListConfigurationsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/configurations"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "id": "run.projects.locations.configurations.get",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/configurations/{configurationsId}",
                  "parameters": {
                    "name": {
                      "description": "The name of the configuration to retrieve. For Cloud Run (fully managed), replace {namespace_id} with the project ID or number.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/configurations/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Get information about a configuration.",
                  "response": {
                    "$ref": "Configuration"
                  }
                }
              }
            }
          }
        },
        "authorizeddomains": {
          "methods": {
            "list": {
              "path": "v1/{+parent}/authorizeddomains",
              "description": "List authorized domains.",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageToken": {
                  "description": "Continuation token for fetching the next page of results.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Maximum results to return per page.",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Name of the parent Project resource. Example: `projects/myproject`.",
                  "type": "string"
                }
              },
              "flatPath": "v1/projects/{projectsId}/authorizeddomains",
              "id": "run.projects.authorizeddomains.list",
              "response": {
                "$ref": "ListAuthorizedDomainsResponse"
              },
              "httpMethod": "GET"
            }
          }
        }
      }
    },
    "namespaces": {
      "resources": {
        "services": {
          "methods": {
            "get": {
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/services/{servicesId}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "run.namespaces.services.get",
              "path": "apis/serving.knative.dev/v1/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^namespaces/[^/]+/services/[^/]+$",
                  "description": "The name of the service to retrieve. For Cloud Run (fully managed), replace {namespace_id} with the project ID or number.",
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "Service"
              },
              "description": "Get information about a service."
            },
            "delete": {
              "path": "apis/serving.knative.dev/v1/{+name}",
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/services/{servicesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Status"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "run.namespaces.services.delete",
              "description": "Delete a service. This will cause the Service to stop serving traffic and will delete the child entities like Routes, Configurations and Revisions.",
              "parameters": {
                "apiVersion": {
                  "type": "string",
                  "location": "query",
                  "description": "Cloud Run currently ignores this parameter."
                },
                "kind": {
                  "description": "Cloud Run currently ignores this parameter.",
                  "location": "query",
                  "type": "string"
                },
                "propagationPolicy": {
                  "type": "string",
                  "description": "Specifies the propagation policy of delete. Cloud Run currently ignores this setting, and deletes in the background. Please see kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/ for more information.",
                  "location": "query"
                },
                "name": {
                  "description": "The name of the service to delete. For Cloud Run (fully managed), replace {namespace_id} with the project ID or number.",
                  "pattern": "^namespaces/[^/]+/services/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              }
            },
            "replaceService": {
              "request": {
                "$ref": "Service"
              },
              "description": "Replace a service. Only the spec and metadata labels and annotations are modifiable. After the Update request, Cloud Run will work to make the 'status' match the requested 'spec'. May provide metadata.resourceVersion to enforce update from last read for optimistic concurrency control.",
              "id": "run.namespaces.services.replaceService",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "The name of the service being replaced. For Cloud Run (fully managed), replace {namespace_id} with the project ID or number.",
                  "required": true,
                  "pattern": "^namespaces/[^/]+/services/[^/]+$"
                }
              },
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/services/{servicesId}",
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Service"
              },
              "path": "apis/serving.knative.dev/v1/{+name}",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/services",
              "response": {
                "$ref": "ListServicesResponse"
              },
              "id": "run.namespaces.services.list",
              "parameters": {
                "includeUninitialized": {
                  "type": "boolean",
                  "description": "Not currently used by Cloud Run.",
                  "location": "query"
                },
                "watch": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run."
                },
                "fieldSelector": {
                  "location": "query",
                  "type": "string",
                  "description": "Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run."
                },
                "labelSelector": {
                  "type": "string",
                  "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^namespaces/[^/]+$",
                  "location": "path",
                  "description": "The namespace from which the services should be listed. For Cloud Run (fully managed), replace {namespace_id} with the project ID or number."
                },
                "resourceVersion": {
                  "type": "string",
                  "description": "The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run.",
                  "location": "query"
                },
                "limit": {
                  "format": "int32",
                  "description": "The maximum number of records that should be returned.",
                  "location": "query",
                  "type": "integer"
                },
                "continue": {
                  "location": "query",
                  "description": "Optional encoded string to continue paging.",
                  "type": "string"
                }
              },
              "path": "apis/serving.knative.dev/v1/{+parent}/services",
              "description": "List services.",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET"
            },
            "create": {
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/services",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "The namespace in which the service should be created. For Cloud Run (fully managed), replace {namespace_id} with the project ID or number.",
                  "pattern": "^namespaces/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "path": "apis/serving.knative.dev/v1/{+parent}/services",
              "description": "Create a service.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Service"
              },
              "id": "run.namespaces.services.create",
              "request": {
                "$ref": "Service"
              }
            }
          }
        },
        "revisions": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The name of the revision to retrieve. For Cloud Run (fully managed), replace {namespace_id} with the project ID or number.",
                  "pattern": "^namespaces/[^/]+/revisions/[^/]+$"
                }
              },
              "id": "run.namespaces.revisions.get",
              "response": {
                "$ref": "Revision"
              },
              "description": "Get information about a revision.",
              "path": "apis/serving.knative.dev/v1/{+name}",
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/revisions/{revisionsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ]
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "apis/serving.knative.dev/v1/{+name}",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/revisions/{revisionsId}",
              "parameters": {
                "kind": {
                  "type": "string",
                  "description": "Cloud Run currently ignores this parameter.",
                  "location": "query"
                },
                "apiVersion": {
                  "description": "Cloud Run currently ignores this parameter.",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "description": "The name of the revision to delete. For Cloud Run (fully managed), replace {namespace_id} with the project ID or number.",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^namespaces/[^/]+/revisions/[^/]+$"
                },
                "propagationPolicy": {
                  "location": "query",
                  "type": "string",
                  "description": "Specifies the propagation policy of delete. Cloud Run currently ignores this setting, and deletes in the background. Please see kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/ for more information."
                }
              },
              "response": {
                "$ref": "Status"
              },
              "id": "run.namespaces.revisions.delete",
              "description": "Delete a revision."
            },
            "list": {
              "path": "apis/serving.knative.dev/v1/{+parent}/revisions",
              "id": "run.namespaces.revisions.list",
              "httpMethod": "GET",
              "parameters": {
                "watch": {
                  "type": "boolean",
                  "description": "Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run.",
                  "location": "query"
                },
                "resourceVersion": {
                  "type": "string",
                  "description": "The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run.",
                  "location": "query"
                },
                "includeUninitialized": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Not currently used by Cloud Run."
                },
                "labelSelector": {
                  "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.",
                  "location": "query",
                  "type": "string"
                },
                "limit": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of records that should be returned."
                },
                "continue": {
                  "description": "Optional encoded string to continue paging.",
                  "location": "query",
                  "type": "string"
                },
                "fieldSelector": {
                  "location": "query",
                  "type": "string",
                  "description": "Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run."
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^namespaces/[^/]+$",
                  "description": "The namespace from which the revisions should be listed. For Cloud Run (fully managed), replace {namespace_id} with the project ID or number.",
                  "required": true
                }
              },
              "response": {
                "$ref": "ListRevisionsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/revisions",
              "description": "List revisions.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "configurations": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "path": "apis/serving.knative.dev/v1/{+name}",
              "parameters": {
                "name": {
                  "description": "The name of the configuration to retrieve. For Cloud Run (fully managed), replace {namespace_id} with the project ID or number.",
                  "required": true,
                  "pattern": "^namespaces/[^/]+/configurations/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/configurations/{configurationsId}",
              "description": "Get information about a configuration.",
              "response": {
                "$ref": "Configuration"
              },
              "id": "run.namespaces.configurations.get"
            },
            "list": {
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/configurations",
              "id": "run.namespaces.configurations.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "labelSelector": {
                  "type": "string",
                  "location": "query",
                  "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn."
                },
                "limit": {
                  "location": "query",
                  "description": "The maximum number of records that should be returned.",
                  "type": "integer",
                  "format": "int32"
                },
                "parent": {
                  "description": "The namespace from which the configurations should be listed. For Cloud Run (fully managed), replace {namespace_id} with the project ID or number.",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^namespaces/[^/]+$"
                },
                "resourceVersion": {
                  "description": "The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run.",
                  "location": "query",
                  "type": "string"
                },
                "watch": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run."
                },
                "includeUninitialized": {
                  "description": "Not currently used by Cloud Run.",
                  "type": "boolean",
                  "location": "query"
                },
                "fieldSelector": {
                  "type": "string",
                  "location": "query",
                  "description": "Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run."
                },
                "continue": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional encoded string to continue paging."
                }
              },
              "description": "List configurations.",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListConfigurationsResponse"
              },
              "path": "apis/serving.knative.dev/v1/{+parent}/configurations"
            }
          }
        },
        "authorizeddomains": {
          "methods": {
            "list": {
              "id": "run.namespaces.authorizeddomains.list",
              "flatPath": "apis/domains.cloudrun.com/v1/namespaces/{namespacesId}/authorizeddomains",
              "response": {
                "$ref": "ListAuthorizedDomainsResponse"
              },
              "description": "List authorized domains.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "apis/domains.cloudrun.com/v1/{+parent}/authorizeddomains",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "Name of the parent Project resource. Example: `projects/myproject`.",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^namespaces/[^/]+$"
                },
                "pageToken": {
                  "description": "Continuation token for fetching the next page of results.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Maximum results to return per page.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "routes": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "The name of the route to retrieve. For Cloud Run (fully managed), replace {namespace_id} with the project ID or number.",
                  "location": "path",
                  "required": true,
                  "pattern": "^namespaces/[^/]+/routes/[^/]+$"
                }
              },
              "response": {
                "$ref": "Route"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "description": "Get information about a route.",
              "id": "run.namespaces.routes.get",
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/routes/{routesId}",
              "path": "apis/serving.knative.dev/v1/{+name}",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "httpMethod": "GET",
              "description": "List routes.",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "labelSelector": {
                  "location": "query",
                  "type": "string",
                  "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn."
                },
                "resourceVersion": {
                  "location": "query",
                  "description": "The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run.",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "description": "The namespace from which the routes should be listed. For Cloud Run (fully managed), replace {namespace_id} with the project ID or number.",
                  "pattern": "^namespaces/[^/]+$",
                  "type": "string"
                },
                "limit": {
                  "type": "integer",
                  "description": "The maximum number of records that should be returned.",
                  "format": "int32",
                  "location": "query"
                },
                "includeUninitialized": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Not currently used by Cloud Run."
                },
                "continue": {
                  "type": "string",
                  "description": "Optional encoded string to continue paging.",
                  "location": "query"
                },
                "watch": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run."
                },
                "fieldSelector": {
                  "location": "query",
                  "description": "Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "apis/serving.knative.dev/v1/namespaces/{namespacesId}/routes",
              "path": "apis/serving.knative.dev/v1/{+parent}/routes",
              "response": {
                "$ref": "ListRoutesResponse"
              },
              "id": "run.namespaces.routes.list"
            }
          }
        },
        "domainmappings": {
          "methods": {
            "list": {
              "path": "apis/domains.cloudrun.com/v1/{+parent}/domainmappings",
              "id": "run.namespaces.domainmappings.list",
              "description": "List domain mappings.",
              "flatPath": "apis/domains.cloudrun.com/v1/namespaces/{namespacesId}/domainmappings",
              "response": {
                "$ref": "ListDomainMappingsResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "watch": {
                  "type": "boolean",
                  "description": "Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run.",
                  "location": "query"
                },
                "includeUninitialized": {
                  "location": "query",
                  "description": "Not currently used by Cloud Run.",
                  "type": "boolean"
                },
                "continue": {
                  "description": "Optional encoded string to continue paging.",
                  "type": "string",
                  "location": "query"
                },
                "limit": {
                  "description": "The maximum number of records that should be returned.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "labelSelector": {
                  "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^namespaces/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The namespace from which the domain mappings should be listed. For Cloud Run (fully managed), replace {namespace_id} with the project ID or number."
                },
                "resourceVersion": {
                  "location": "query",
                  "description": "The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run.",
                  "type": "string"
                },
                "fieldSelector": {
                  "description": "Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "response": {
                "$ref": "DomainMapping"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "run.namespaces.domainmappings.get",
              "path": "apis/domains.cloudrun.com/v1/{+name}",
              "description": "Get information about a domain mapping.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The name of the domain mapping to retrieve. For Cloud Run (fully managed), replace {namespace_id} with the project ID or number.",
                  "pattern": "^namespaces/[^/]+/domainmappings/[^/]+$"
                }
              },
              "httpMethod": "GET",
              "flatPath": "apis/domains.cloudrun.com/v1/namespaces/{namespacesId}/domainmappings/{domainmappingsId}"
            },
            "delete": {
              "httpMethod": "DELETE",
              "flatPath": "apis/domains.cloudrun.com/v1/namespaces/{namespacesId}/domainmappings/{domainmappingsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "run.namespaces.domainmappings.delete",
              "parameters": {
                "propagationPolicy": {
                  "location": "query",
                  "type": "string",
                  "description": "Specifies the propagation policy of delete. Cloud Run currently ignores this setting, and deletes in the background. Please see kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/ for more information."
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^namespaces/[^/]+/domainmappings/[^/]+$",
                  "type": "string",
                  "description": "The name of the domain mapping to delete. For Cloud Run (fully managed), replace {namespace_id} with the project ID or number."
                },
                "kind": {
                  "location": "query",
                  "type": "string",
                  "description": "Cloud Run currently ignores this parameter."
                },
                "apiVersion": {
                  "location": "query",
                  "type": "string",
                  "description": "Cloud Run currently ignores this parameter."
                }
              },
              "description": "Delete a domain mapping.",
              "response": {
                "$ref": "Status"
              },
              "path": "apis/domains.cloudrun.com/v1/{+name}"
            },
            "create": {
              "path": "apis/domains.cloudrun.com/v1/{+parent}/domainmappings",
              "httpMethod": "POST",
              "description": "Create a new domain mapping.",
              "id": "run.namespaces.domainmappings.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "apis/domains.cloudrun.com/v1/namespaces/{namespacesId}/domainmappings",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "The namespace in which the domain mapping should be created. For Cloud Run (fully managed), replace {namespace_id} with the project ID or number.",
                  "pattern": "^namespaces/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "DomainMapping"
              },
              "response": {
                "$ref": "DomainMapping"
              }
            }
          }
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "rootUrl": "https://run.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://cloud.google.com/run/",
  "title": "Cloud Run Admin API",
  "batchPath": "batch",
  "schemas": {
    "ConfigMapKeySelector": {
      "properties": {
        "optional": {
          "description": "(Optional) Cloud Run fully managed: not supported Cloud Run for Anthos: supported Specify whether the ConfigMap or its key must be defined",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Cloud Run fully managed: not supported Cloud Run for Anthos: supported The ConfigMap to select from."
        },
        "localObjectReference": {
          "description": "This field should not be used directly as it is meant to be inlined directly into the message. Use the \"name\" field instead.",
          "$ref": "LocalObjectReference"
        },
        "key": {
          "type": "string",
          "description": "Cloud Run fully managed: not supported Cloud Run for Anthos: supported The key to select."
        }
      },
      "type": "object",
      "id": "ConfigMapKeySelector",
      "description": "Cloud Run fully managed: not supported Cloud Run for Anthos: supported Selects a key from a ConfigMap."
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Cloud Platform services (such as Projects) might reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
        }
      }
    },
    "DomainMapping": {
      "id": "DomainMapping",
      "properties": {
        "status": {
          "$ref": "DomainMappingStatus",
          "description": "The current status of the DomainMapping."
        },
        "spec": {
          "$ref": "DomainMappingSpec",
          "description": "The spec for this DomainMapping."
        },
        "apiVersion": {
          "type": "string",
          "description": "The API version for this call such as \"domains.cloudrun.com/v1\"."
        },
        "metadata": {
          "description": "Metadata associated with this BuildTemplate.",
          "$ref": "ObjectMeta"
        },
        "kind": {
          "type": "string",
          "description": "The kind of resource, in this case \"DomainMapping\"."
        }
      },
      "type": "object",
      "description": "Resource to hold the state and status of a user's domain mapping. NOTE: This resource is currently in Beta."
    },
    "ContainerPort": {
      "properties": {
        "containerPort": {
          "format": "int32",
          "description": "(Optional) Port number the container listens on. This must be a valid port number, 0 \u003c x \u003c 65536.",
          "type": "integer"
        },
        "protocol": {
          "type": "string",
          "description": "(Optional) Cloud Run fully managed: not supported Cloud Run for Anthos: supported Protocol for port. Must be \"TCP\". Defaults to \"TCP\"."
        },
        "name": {
          "description": "(Optional) Cloud Run fully managed: not supported Cloud Run for Anthos: supported If specified, used to specify which protocol to use. Allowed values are \"http1\" and \"h2c\".",
          "type": "string"
        }
      },
      "id": "ContainerPort",
      "type": "object",
      "description": "ContainerPort represents a network port in a single container."
    },
    "ResourceRecord": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Relative name of the object affected by this record. Only applicable for `CNAME` records. Example: 'www'."
        },
        "rrdata": {
          "description": "Data for this record. Values vary by record type, as defined in RFC 1035 (section 5) and RFC 1034 (section 3.6.1).",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "RECORD_TYPE_UNSPECIFIED",
            "A",
            "AAAA",
            "CNAME"
          ],
          "description": "Resource record type. Example: `AAAA`.",
          "enumDescriptions": [
            "An unknown resource record.",
            "An A resource record. Data is an IPv4 address.",
            "An AAAA resource record. Data is an IPv6 address.",
            "A CNAME resource record. Data is a domain name to be aliased."
          ]
        }
      },
      "id": "ResourceRecord",
      "type": "object",
      "description": "A DNS resource record."
    },
    "ListRoutesResponse": {
      "id": "ListRoutesResponse",
      "properties": {
        "kind": {
          "description": "The kind of this resource, in this case always \"RouteList\".",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "items": {
          "items": {
            "$ref": "Route"
          },
          "type": "array",
          "description": "List of Routes."
        },
        "metadata": {
          "$ref": "ListMeta",
          "description": "Metadata associated with this Route list."
        },
        "apiVersion": {
          "description": "The API version for this call such as \"serving.knative.dev/v1\".",
          "type": "string"
        }
      },
      "description": "ListRoutesResponse is a list of Route resources.",
      "type": "object"
    },
    "TestIamPermissionsRequest": {
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object",
      "id": "TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as '*' or 'storage.*') are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array"
        }
      }
    },
    "ListMeta": {
      "type": "object",
      "properties": {
        "continue": {
          "type": "string",
          "description": "continue may be set if the user set a limit on the number of items returned, and indicates that the server has more data available. The value is opaque and may be used to issue another request to the endpoint that served this list to retrieve the next set of available objects. Continuing a list may not be possible if the server configuration has changed or more than a few minutes have passed. The resourceVersion field returned when using this continue value will be identical to the value in the first response."
        },
        "selfLink": {
          "description": "SelfLink is a URL representing this object. Populated by the system. Read-only. +optional",
          "type": "string"
        },
        "resourceVersion": {
          "description": "String that identifies the server's internal version of this object that can be used by clients to determine when objects have changed. Value must be treated as opaque by clients and passed unmodified back to the server. Populated by the system. Read-only. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#concurrency-control-and-consistency +optional",
          "type": "string"
        }
      },
      "id": "ListMeta",
      "description": "ListMeta describes metadata that synthetic resources must have, including lists and various status objects. A resource may have only one of {ObjectMeta, ListMeta}."
    },
    "ObjectMeta": {
      "properties": {
        "name": {
          "description": "Name must be unique within a namespace, within a Cloud Run region. Is required when creating resources, although some resources may allow a client to request the generation of an appropriate name automatically. Name is primarily intended for creation idempotence and configuration definition. Cannot be updated. More info: http://kubernetes.io/docs/user-guide/identifiers#names +optional",
          "type": "string"
        },
        "creationTimestamp": {
          "format": "google-datetime",
          "description": "(Optional) CreationTimestamp is a timestamp representing the server time when this object was created. It is not guaranteed to be set in happens-before order across separate operations. Clients may not set this value. It is represented in RFC3339 form and is in UTC. Populated by the system. Read-only. Null for lists. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#metadata",
          "type": "string"
        },
        "annotations": {
          "description": "(Optional) Annotations is an unstructured key value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: http://kubernetes.io/docs/user-guide/annotations",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "ownerReferences": {
          "description": "(Optional) Cloud Run fully managed: not supported Cloud Run for Anthos: supported List of objects that own this object. If ALL objects in the list have been deleted, this object will be garbage collected.",
          "items": {
            "$ref": "OwnerReference"
          },
          "type": "array"
        },
        "uid": {
          "description": "(Optional) UID is the unique in time and space value for this object. It is typically generated by the server on successful creation of a resource and is not allowed to change on PUT operations. Populated by the system. Read-only. More info: http://kubernetes.io/docs/user-guide/identifiers#uids",
          "type": "string"
        },
        "generation": {
          "type": "integer",
          "description": "(Optional) A sequence number representing a specific generation of the desired state. Populated by the system. Read-only.",
          "format": "int32"
        },
        "generateName": {
          "description": "(Optional) Cloud Run fully managed: not supported Cloud Run for Anthos: supported GenerateName is an optional prefix, used by the server, to generate a unique name ONLY IF the Name field has not been provided. If this field is used, the name returned to the client will be different than the name passed. This value will also be combined with a unique suffix. The provided value has the same validation rules as the Name field, and may be truncated by the length of the suffix required to make the value unique on the server. If this field is specified and the generated name exists, the server will NOT return a 409 - instead, it will either return 201 Created or 500 with Reason ServerTimeout indicating a unique name could not be found in the time allotted, and the client should retry (optionally after the time indicated in the Retry-After header). Applied only if Name is not specified. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#idempotency string generateName = 2;",
          "type": "string"
        },
        "namespace": {
          "type": "string",
          "description": "Namespace defines the space within each name must be unique, within a Cloud Run region. In Cloud Run the namespace must be equal to either the project ID or project number."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "(Optional) Map of string keys and values that can be used to organize and categorize (scope and select) objects. May match selectors of replication controllers and routes. More info: http://kubernetes.io/docs/user-guide/labels",
          "type": "object"
        },
        "clusterName": {
          "type": "string",
          "description": "(Optional) Cloud Run fully managed: not supported Cloud Run for Anthos: supported The name of the cluster which the object belongs to. This is used to distinguish resources with same name and namespace in different clusters. This field is not set anywhere right now and apiserver is going to ignore it if set in create or update request."
        },
        "finalizers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "(Optional) Cloud Run fully managed: not supported Cloud Run for Anthos: supported Must be empty before the object is deleted from the registry. Each entry is an identifier for the responsible component that will remove the entry from the list. If the deletionTimestamp of the object is non-nil, entries in this list can only be removed. +patchStrategy=merge"
        },
        "deletionGracePeriodSeconds": {
          "description": "(Optional) Cloud Run fully managed: not supported Cloud Run for Anthos: supported Number of seconds allowed for this object to gracefully terminate before it will be removed from the system. Only set when deletionTimestamp is also set. May only be shortened. Read-only.",
          "type": "integer",
          "format": "int32"
        },
        "resourceVersion": {
          "type": "string",
          "description": "(Optional) An opaque value that represents the internal version of this object that can be used by clients to determine when objects have changed. May be used for optimistic concurrency, change detection, and the watch operation on a resource or set of resources. Clients must treat these values as opaque and passed unmodified back to the server. They may only be valid for a particular resource or set of resources. Populated by the system. Read-only. Value must be treated as opaque by clients. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#concurrency-control-and-consistency"
        },
        "selfLink": {
          "type": "string",
          "description": "(Optional) SelfLink is a URL representing this object. Populated by the system. Read-only. string selfLink = 4;"
        },
        "deletionTimestamp": {
          "description": "(Optional) Cloud Run fully managed: not supported Cloud Run for Anthos: supported DeletionTimestamp is RFC 3339 date and time at which this resource will be deleted. This field is set by the server when a graceful deletion is requested by the user, and is not directly settable by a client. The resource is expected to be deleted (no longer visible from resource lists, and not reachable by name) after the time in this field, once the finalizers list is empty. As long as the finalizers list contains items, deletion is blocked. Once the deletionTimestamp is set, this value may not be unset or be set further into the future, although it may be shortened or the resource may be deleted prior to this time. For example, a user may request that a pod is deleted in 30 seconds. The Kubelet will react by sending a graceful termination signal to the containers in the pod. After that 30 seconds, the Kubelet will send a hard termination signal (SIGKILL) to the container and after cleanup, remove the pod from the API. In the presence of network partitions, this object may still exist after this timestamp, until an administrator or automated process can determine the resource is fully terminated. If not set, graceful deletion of the object has not been requested. Populated by the system when a graceful deletion is requested. Read-only. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#metadata",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "ObjectMeta",
      "description": "k8s.io.apimachinery.pkg.apis.meta.v1.ObjectMeta is metadata that all persisted resources must have, which includes all objects users must create.",
      "type": "object"
    },
    "StatusCause": {
      "properties": {
        "message": {
          "description": "A human-readable description of the cause of the error. This field may be presented as-is to a reader. +optional",
          "type": "string"
        },
        "reason": {
          "type": "string",
          "description": "A machine-readable description of the cause of the error. If this value is empty there is no information available. +optional"
        },
        "field": {
          "description": "The field of the resource that has caused this error, as named by its JSON serialization. May include dot and postfix notation for nested attributes. Arrays are zero-indexed. Fields may appear more than once in an array of causes due to fields having multiple errors. Optional. Examples: \"name\" - the field \"name\" on the current resource \"items[0].name\" - the field \"name\" on the first array entry in \"items\" +optional",
          "type": "string"
        }
      },
      "type": "object",
      "description": "StatusCause provides more information about an api.Status failure, including cases when multiple errors are encountered.",
      "id": "StatusCause"
    },
    "RouteStatus": {
      "type": "object",
      "description": "RouteStatus communicates the observed state of the Route (from the controller).",
      "properties": {
        "url": {
          "description": "URL holds the url that will distribute traffic over the provided traffic targets. It generally has the form: https://{route-hash}-{project-hash}-{cluster-level-suffix}.a.run.app",
          "type": "string"
        },
        "conditions": {
          "type": "array",
          "description": "Conditions communicates information about ongoing/complete reconciliation processes that bring the \"spec\" inline with the observed state of the world.",
          "items": {
            "$ref": "GoogleCloudRunV1Condition"
          }
        },
        "traffic": {
          "type": "array",
          "items": {
            "$ref": "TrafficTarget"
          },
          "description": "Traffic holds the configured traffic distribution. These entries will always contain RevisionName references. When ConfigurationName appears in the spec, this will hold the LatestReadyRevisionName that we last observed."
        },
        "observedGeneration": {
          "type": "integer",
          "format": "int32",
          "description": "ObservedGeneration is the 'Generation' of the Route that was last processed by the controller. Clients polling for completed reconciliation should poll until observedGeneration = metadata.generation and the Ready condition's status is True or False. Note that providing a trafficTarget that only has a configurationName will result in a Route that does not increment either its metadata.generation or its observedGeneration, as new \"latest ready\" revisions from the Configuration are processed without an update to the Route's spec."
        },
        "address": {
          "description": "Similar to url, information on where the service is available on HTTP.",
          "$ref": "Addressable"
        }
      },
      "id": "RouteStatus"
    },
    "ConfigurationSpec": {
      "type": "object",
      "properties": {
        "template": {
          "$ref": "RevisionTemplate",
          "description": "Template holds the latest specification for the Revision to be stamped out."
        }
      },
      "id": "ConfigurationSpec",
      "description": "ConfigurationSpec holds the desired state of the Configuration (from the client)."
    },
    "AuditLogConfig": {
      "id": "AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "type": "object",
      "properties": {
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "logType": {
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "description": "The log type that this config enables.",
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        }
      }
    },
    "HTTPGetAction": {
      "properties": {
        "host": {
          "type": "string",
          "description": "(Optional) Cloud Run fully managed: not supported Cloud Run for Anthos: supported Host name to connect to, defaults to the pod IP. You probably want to set \"Host\" in httpHeaders instead."
        },
        "path": {
          "type": "string",
          "description": "(Optional) Cloud Run fully managed: not supported Cloud Run for Anthos: supported Path to access on the HTTP server."
        },
        "httpHeaders": {
          "type": "array",
          "description": "(Optional) Cloud Run fully managed: not supported Cloud Run for Anthos: supported Custom headers to set in the request. HTTP allows repeated headers.",
          "items": {
            "$ref": "HTTPHeader"
          }
        },
        "scheme": {
          "type": "string",
          "description": "(Optional) Cloud Run fully managed: not supported Cloud Run for Anthos: supported Scheme to use for connecting to the host. Defaults to HTTP."
        }
      },
      "description": "Cloud Run fully managed: not supported Cloud Run for Anthos: supported HTTPGetAction describes an action based on HTTP Get requests.",
      "id": "HTTPGetAction",
      "type": "object"
    },
    "GoogleCloudRunV1Condition": {
      "properties": {
        "type": {
          "description": "type is used to communicate the status of the reconciliation process. See also: https://github.com/knative/serving/blob/master/docs/spec/errors.md#error-conditions-and-reporting Types common to all resources include: * \"Ready\": True when the Resource is ready.",
          "type": "string"
        },
        "reason": {
          "type": "string",
          "description": "Optional. One-word CamelCase reason for the condition's last transition."
        },
        "status": {
          "type": "string",
          "description": "Status of the condition, one of True, False, Unknown."
        },
        "lastTransitionTime": {
          "format": "google-datetime",
          "description": "Optional. Last time the condition transitioned from one status to another.",
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "Optional. Human readable message indicating details about the current status."
        },
        "severity": {
          "type": "string",
          "description": "Optional. How to interpret failures of this condition, one of Error, Warning, Info"
        }
      },
      "type": "object",
      "description": "Condition defines a generic condition for a Resource",
      "id": "GoogleCloudRunV1Condition"
    },
    "Policy": {
      "id": "Policy",
      "type": "object",
[...]
