{
  "parameters": {
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "ownerDomain": "google.com",
  "title": "Cloud Run Admin API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "version": "v1alpha1",
  "name": "run",
  "ownerName": "Google",
  "rootUrl": "https://run.googleapis.com/",
  "protocol": "rest",
  "description": "Deploy and manage user provided container images that scale automatically based on HTTP traffic.",
  "discoveryVersion": "v1",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://run.googleapis.com/",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://run.mtls.googleapis.com/",
  "basePath": "",
  "servicePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "id": "run:v1alpha1",
  "revision": "20201204",
  "batchPath": "batch",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "id": "run.projects.locations.list",
              "description": "Lists information about the supported locations for this service.",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "description": "The standard list page size.",
                  "location": "query",
                  "type": "integer"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "The standard list filter."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The standard list page token."
                },
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "The resource that owns the locations collection, if applicable."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha1/projects/{projectsId}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha1/{+name}/locations"
            }
          },
          "resources": {
            "services": {
              "methods": {
                "list": {
                  "description": "Rpc to list services.",
                  "path": "v1alpha1/{+parent}/services",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/services",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "limit": {
                      "description": "The maximum number of records that should be returned.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "resourceVersion": {
                      "type": "string",
                      "description": "The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run.",
                      "location": "query"
                    },
                    "watch": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run."
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The project ID or project number from which the services should be listed."
                    },
                    "labelSelector": {
                      "type": "string",
                      "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.",
                      "location": "query"
                    },
                    "continue": {
                      "type": "string",
                      "description": "Optional encoded string to continue paging.",
                      "location": "query"
                    },
                    "fieldSelector": {
                      "type": "string",
                      "location": "query",
                      "description": "Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run."
                    },
                    "includeUninitialized": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Not currently used by Cloud Run."
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListServicesResponse"
                  },
                  "id": "run.projects.locations.services.list"
                },
                "getIamPolicy": {
                  "description": "Get the IAM Access Control policy currently in effect for the given Cloud Run service. This result does not include any inherited policies.",
                  "path": "v1alpha1/{+resource}:getIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "resource"
                  ],
                  "id": "run.projects.locations.services.getIamPolicy",
                  "parameters": {
                    "options.requestedPolicyVersion": {
                      "description": "Optional. The policy format version to be returned. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional bindings must specify version 3. Policies without any conditional bindings may specify any valid value or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "resource": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy is being requested. See the operation documentation for the appropriate value for this field.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}:getIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  }
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/services",
                  "id": "run.projects.locations.services.create",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The project ID or project number in which this service should be created.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Service"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Rpc to create a service.",
                  "path": "v1alpha1/{+parent}/services",
                  "response": {
                    "$ref": "Service"
                  }
                },
                "replaceService": {
                  "httpMethod": "PUT",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha1/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The name of the service being replaced. If needed, replace {namespace_id} with the project ID.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "Service"
                  },
                  "description": "Rpc to replace a service. Only the spec and metadata labels and annotations are modifiable. After the Update request, Cloud Run will work to make the 'status' match the requested 'spec'. May provide metadata.resourceVersion to enforce update from last read for optimistic concurrency control.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "run.projects.locations.services.replaceService",
                  "response": {
                    "$ref": "Service"
                  },
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}"
                },
                "get": {
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "description": "The name of the service being retrieved. If needed, replace {namespace_id} with the project ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Rpc to get information about a service.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "run.projects.locations.services.get",
                  "response": {
                    "$ref": "Service"
                  },
                  "path": "v1alpha1/{+name}",
                  "httpMethod": "GET"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "orphanDependents": {
                      "description": "Deprecated. Specifies the cascade behavior on delete. Cloud Run only supports cascading behavior, so this must be false. This attribute is deprecated, and is now replaced with PropagationPolicy See https://github.com/kubernetes/kubernetes/issues/46659 for more info.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "kind": {
                      "location": "query",
                      "type": "string",
                      "description": "Cloud Run currently ignores this parameter."
                    },
                    "apiVersion": {
                      "location": "query",
                      "type": "string",
                      "description": "Cloud Run currently ignores this parameter."
                    },
                    "name": {
                      "type": "string",
                      "description": "The name of the service being deleted. If needed, replace {namespace_id} with the project ID.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "required": true
                    },
                    "propagationPolicy": {
                      "location": "query",
                      "type": "string",
                      "description": "Specifies the propagation policy of delete. Cloud Run currently ignores this setting, and deletes in the background. Please see kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/ for more information."
                    }
                  },
                  "description": "Rpc to delete a service. This will cause the Service to stop serving traffic and will delete the child entities like Routes, Configurations and Revisions.",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1alpha1/{+name}",
                  "id": "run.projects.locations.services.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE"
                },
                "testIamPermissions": {
                  "path": "v1alpha1/{+resource}:testIamPermissions",
                  "id": "run.projects.locations.services.testIamPermissions",
                  "parameterOrder": [
                    "resource"
                  ],
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}:testIamPermissions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Returns permissions that a caller has on the specified Project. There are no permissions required for making this API call.",
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See the operation documentation for the appropriate value for this field.",
                      "required": true
                    }
                  },
                  "httpMethod": "POST"
                },
                "setIamPolicy": {
                  "description": "Sets the IAM Access control policy for the specified Service. Overwrites any existing policy.",
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}:setIamPolicy",
                  "path": "v1alpha1/{+resource}:setIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "id": "run.projects.locations.services.setIamPolicy",
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy is being specified. See the operation documentation for the appropriate value for this field."
                    }
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Policy"
                  }
                }
              }
            },
            "authorizeddomains": {
              "methods": {
                "list": {
                  "id": "run.projects.locations.authorizeddomains.list",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListAuthorizedDomainsResponse"
                  },
                  "path": "v1alpha1/{+parent}/authorizeddomains",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/authorizeddomains",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "RPC to list authorized domains.",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Name of the parent Application resource. Example: `apps/myapp`.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "pageSize": {
                      "description": "Maximum results to return per page.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Continuation token for fetching the next page of results.",
                      "location": "query"
                    }
                  }
                }
              }
            },
            "revisions": {
              "methods": {
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "propagationPolicy": {
                      "location": "query",
                      "type": "string",
                      "description": "Specifies the propagation policy of delete. Cloud Run currently ignores this setting, and deletes in the background. Please see kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/ for more information."
                    },
                    "orphanDependents": {
                      "description": "Deprecated. Specifies the cascade behavior on delete. Cloud Run only supports cascading behavior, so this must be false. This attribute is deprecated, and is now replaced with PropagationPolicy See https://github.com/kubernetes/kubernetes/issues/46659 for more info.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/revisions/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "The name of the revision being deleted. If needed, replace {namespace_id} with the project ID.",
                      "location": "path"
                    },
                    "kind": {
                      "location": "query",
                      "type": "string",
                      "description": "Cloud Run currently ignores this parameter."
                    },
                    "apiVersion": {
                      "type": "string",
                      "location": "query",
                      "description": "Cloud Run currently ignores this parameter."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "run.projects.locations.revisions.delete",
                  "description": "Rpc to delete a revision.",
                  "path": "v1alpha1/{+name}",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/revisions/{revisionsId}"
                },
                "get": {
                  "path": "v1alpha1/{+name}",
                  "response": {
                    "$ref": "Revision"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "The name of the revision being retrieved. If needed, replace {namespace_id} with the project ID.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/revisions/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/revisions/{revisionsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "run.projects.locations.revisions.get",
                  "description": "Rpc to get information about a revision."
                },
                "list": {
                  "parameters": {
                    "continue": {
                      "type": "string",
                      "description": "Optional encoded string to continue paging.",
                      "location": "query"
                    },
                    "limit": {
                      "description": "The maximum number of records that should be returned.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "includeUninitialized": {
                      "description": "Not currently used by Cloud Run.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "labelSelector": {
                      "location": "query",
                      "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.",
                      "type": "string"
                    },
                    "fieldSelector": {
                      "type": "string",
                      "location": "query",
                      "description": "Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run."
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "The project ID or project number from which the revisions should be listed.",
                      "type": "string",
                      "required": true
                    },
                    "resourceVersion": {
                      "type": "string",
                      "location": "query",
                      "description": "The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run."
                    },
                    "watch": {
                      "type": "boolean",
                      "description": "Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run.",
                      "location": "query"
                    }
                  },
                  "path": "v1alpha1/{+parent}/revisions",
                  "description": "Rpc to list revisions.",
                  "id": "run.projects.locations.revisions.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListRevisionsResponse"
                  },
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/revisions"
                }
              }
            },
            "cloudauditlogssources": {
              "methods": {
                "delete": {
                  "parameters": {
                    "propagationPolicy": {
                      "location": "query",
                      "type": "string",
                      "description": "Specifies the propagation policy of delete. Cloud Run currently ignores this setting, and deletes in the background. Please see kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/ for more information."
                    },
                    "kind": {
                      "type": "string",
                      "description": "Cloud Run currently ignores this parameter.",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/cloudauditlogssources/[^/]+$",
                      "type": "string",
                      "description": "The name of the cloudauditlogssource being deleted. If needed, replace {namespace_id} with the project ID."
                    },
                    "apiVersion": {
                      "location": "query",
                      "type": "string",
                      "description": "Cloud Run currently ignores this parameter."
                    }
                  },
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/cloudauditlogssources/{cloudauditlogssourcesId}",
                  "path": "v1alpha1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Rpc to delete a cloudauditlogssource.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "run.projects.locations.cloudauditlogssources.delete",
                  "httpMethod": "DELETE"
                },
                "list": {
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/cloudauditlogssources",
                  "id": "run.projects.locations.cloudauditlogssources.list",
                  "httpMethod": "GET",
                  "parameters": {
                    "includeUninitialized": {
                      "location": "query",
                      "description": "Not currently used by Cloud Run.",
                      "type": "boolean"
                    },
                    "limit": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of records that should be returned.",
                      "location": "query"
                    },
                    "watch": {
                      "location": "query",
                      "description": "Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run.",
                      "type": "boolean"
                    },
                    "continue": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional encoded string to continue paging."
                    },
                    "labelSelector": {
                      "location": "query",
                      "type": "string",
                      "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn."
                    },
                    "fieldSelector": {
                      "description": "Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "description": "The project ID or project number from which the cloudauditlogssources should be listed.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "resourceVersion": {
                      "type": "string",
                      "description": "The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Rpc to list cloudauditlogssources.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha1/{+parent}/cloudauditlogssources",
                  "response": {
                    "$ref": "ListCloudAuditLogsSourcesResponse"
                  }
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Rpc to get information about a cloudauditlogssource.",
                  "response": {
                    "$ref": "CloudAuditLogsSource"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/cloudauditlogssources/{cloudauditlogssourcesId}",
                  "id": "run.projects.locations.cloudauditlogssources.get",
                  "path": "v1alpha1/{+name}",
                  "parameters": {
                    "name": {
                      "description": "The name of the cloudauditlogssource being retrieved. If needed, replace {namespace_id} with the project ID.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/cloudauditlogssources/[^/]+$",
                      "type": "string"
                    }
                  }
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "path": "v1alpha1/{+parent}/cloudauditlogssources",
                  "id": "run.projects.locations.cloudauditlogssources.create",
                  "request": {
                    "$ref": "CloudAuditLogsSource"
                  },
                  "description": "Creates a new cloudauditlogssource.",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/cloudauditlogssources",
                  "response": {
                    "$ref": "CloudAuditLogsSource"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The project ID or project number in which this cloudauditlogssource should be created."
                    }
                  }
                }
              }
            },
            "triggers": {
              "methods": {
                "delete": {
                  "parameters": {
                    "propagationPolicy": {
                      "description": "Specifies the propagation policy of delete. Cloud Run currently ignores this setting, and deletes in the background. Please see kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/ for more information.",
                      "type": "string",
                      "location": "query"
                    },
                    "apiVersion": {
                      "location": "query",
                      "type": "string",
                      "description": "Cloud Run currently ignores this parameter."
                    },
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/triggers/[^/]+$",
                      "description": "The name of the trigger being deleted. If needed, replace {namespace_id} with the project ID.",
                      "type": "string"
                    },
                    "kind": {
                      "location": "query",
                      "description": "Cloud Run currently ignores this parameter.",
                      "type": "string"
                    }
                  },
                  "path": "v1alpha1/{+name}",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/triggers/{triggersId}",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Rpc to delete a trigger.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "run.projects.locations.triggers.delete",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "path": "v1alpha1/{+name}",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/triggers/{triggersId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Rpc to get information about a trigger.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "The name of the trigger being retrieved. If needed, replace {namespace_id} with the project ID.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/triggers/[^/]+$",
                      "type": "string"
                    }
                  },
                  "id": "run.projects.locations.triggers.get",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Trigger"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "httpMethod": "POST",
                  "description": "Creates a new trigger.",
                  "id": "run.projects.locations.triggers.create",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The project ID or project number in which this trigger should be created.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha1/{+parent}/triggers",
                  "request": {
                    "$ref": "Trigger"
                  },
                  "response": {
                    "$ref": "Trigger"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/triggers"
                },
                "list": {
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/triggers",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha1/{+parent}/triggers",
                  "id": "run.projects.locations.triggers.list",
                  "response": {
                    "$ref": "ListTriggersResponse"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "fieldSelector": {
                      "description": "Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run.",
                      "type": "string",
                      "location": "query"
                    },
                    "includeUninitialized": {
                      "description": "Not currently used by Cloud Run.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "continue": {
                      "location": "query",
                      "description": "Optional. Encoded string to continue paging.",
                      "type": "string"
                    },
                    "limit": {
                      "format": "int32",
                      "type": "integer",
                      "description": "The maximum number of records that should be returned.",
                      "location": "query"
                    },
                    "labelSelector": {
                      "location": "query",
                      "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.",
                      "type": "string"
                    },
                    "watch": {
                      "location": "query",
                      "description": "Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run.",
                      "type": "boolean"
                    },
                    "resourceVersion": {
                      "description": "The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "The project ID or project number from which the triggers should be listed.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "description": "Rpc to list triggers."
                }
              }
            },
            "routes": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "parameters": {
                    "labelSelector": {
                      "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.",
                      "type": "string",
                      "location": "query"
                    },
                    "resourceVersion": {
                      "description": "The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The project ID or project number from which the routes should be listed."
                    },
                    "fieldSelector": {
                      "description": "Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run.",
                      "location": "query",
                      "type": "string"
                    },
                    "continue": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional encoded string to continue paging."
                    },
                    "limit": {
                      "description": "The maximum number of records that should be returned.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "includeUninitialized": {
                      "type": "boolean",
                      "description": "Not currently used by Cloud Run.",
                      "location": "query"
                    },
                    "watch": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run."
                    }
                  },
                  "response": {
                    "$ref": "ListRoutesResponse"
                  },
                  "path": "v1alpha1/{+parent}/routes",
                  "description": "Rpc to list routes.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/routes",
                  "id": "run.projects.locations.routes.list"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Rpc to get information about a route.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/routes/{routesId}",
                  "path": "v1alpha1/{+name}",
                  "response": {
                    "$ref": "Route"
                  },
                  "httpMethod": "GET",
                  "id": "run.projects.locations.routes.get",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/routes/[^/]+$",
                      "required": true,
                      "description": "The name of the route being retrieved. If needed, replace {namespace_id} with the project ID."
                    }
                  }
                }
              }
            },
            "cloudschedulersources": {
              "methods": {
                "replaceCloudSchedulerSource": {
                  "httpMethod": "PUT",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/cloudschedulersources/{cloudschedulersourcesId}",
                  "id": "run.projects.locations.cloudschedulersources.replaceCloudSchedulerSource",
                  "path": "v1alpha1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the cloudschedulersource being retrieved. If needed, replace {namespace_id} with the project ID.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/cloudschedulersources/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "CloudSchedulerSource"
                  },
                  "description": "Rpc to replace a cloudschedulersource. Only the spec and metadata labels and annotations are modifiable. After the Update request, Cloud Run will work to make the 'status' match the requested 'spec'. May provide metadata.resourceVersion to enforce update from last read for optimistic concurrency control.",
                  "response": {
                    "$ref": "CloudSchedulerSource"
                  }
                },
                "list": {
                  "response": {
                    "$ref": "ListCloudSchedulerSourcesResponse"
                  },
                  "path": "v1alpha1/{+parent}/cloudschedulersources",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "includeUninitialized": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Not currently used by Cloud Run."
                    },
                    "labelSelector": {
                      "type": "string",
                      "location": "query",
                      "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn."
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The project ID or project number from which the cloudschedulersources should be listed.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "resourceVersion": {
                      "type": "string",
                      "description": "The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run.",
                      "location": "query"
                    },
                    "watch": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run."
                    },
                    "fieldSelector": {
                      "description": "Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run.",
                      "type": "string",
                      "location": "query"
                    },
                    "limit": {
                      "format": "int32",
                      "description": "The maximum number of records that should be returned.",
                      "type": "integer",
                      "location": "query"
                    },
                    "continue": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional encoded string to continue paging."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Rpc to list cloudschedulersources.",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/cloudschedulersources",
                  "id": "run.projects.locations.cloudschedulersources.list",
                  "httpMethod": "GET"
                },
                "get": {
                  "description": "Rpc to get information about a cloudschedulersource.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the cloudschedulersource being retrieved. If needed, replace {namespace_id} with the project ID.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/cloudschedulersources/[^/]+$",
                      "required": true
                    }
                  },
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/cloudschedulersources/{cloudschedulersourcesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha1/{+name}",
                  "id": "run.projects.locations.cloudschedulersources.get",
                  "response": {
                    "$ref": "CloudSchedulerSource"
                  },
                  "httpMethod": "GET"
                },
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1alpha1/{+name}",
                  "description": "Rpc to delete a cloudschedulersource.",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/cloudschedulersources/{cloudschedulersourcesId}",
                  "parameters": {
                    "kind": {
                      "location": "query",
                      "type": "string",
                      "description": "Cloud Run currently ignores this parameter."
                    },
                    "apiVersion": {
                      "description": "Cloud Run currently ignores this parameter.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/cloudschedulersources/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the cloudschedulersource being deleted. If needed, replace {namespace_id} with the project ID."
                    },
                    "propagationPolicy": {
                      "description": "Specifies the propagation policy of delete. Cloud Run currently ignores this setting, and deletes in the background. Please see kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/ for more information.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "id": "run.projects.locations.cloudschedulersources.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "response": {
                    "$ref": "CloudSchedulerSource"
                  },
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/cloudschedulersources",
                  "path": "v1alpha1/{+parent}/cloudschedulersources",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The project ID or project number in which this cloudschedulersource should be created.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "CloudSchedulerSource"
                  },
                  "id": "run.projects.locations.cloudschedulersources.create",
                  "description": "Creates a new cloudschedulersource.",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            },
            "domainmappings": {
              "methods": {
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/domainmappings/{domainmappingsId}",
                  "id": "run.projects.locations.domainmappings.delete",
                  "description": "Rpc to delete a domain mapping.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "path": "v1alpha1/{+name}",
                  "parameters": {
                    "propagationPolicy": {
                      "location": "query",
                      "type": "string",
                      "description": "Specifies the propagation policy of delete. Cloud Run currently ignores this setting, and deletes in the background. Please see kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/ for more information."
                    },
                    "name": {
                      "type": "string",
                      "description": "The name of the domain mapping being deleted. If needed, replace {namespace_id} with the project ID.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/domainmappings/[^/]+$",
                      "required": true
                    },
                    "orphanDependents": {
                      "description": "Deprecated. Specifies the cascade behavior on delete. Cloud Run only supports cascading behavior, so this must be false. This attribute is deprecated, and is now replaced with PropagationPolicy See https://github.com/kubernetes/kubernetes/issues/46659 for more info.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "kind": {
                      "type": "string",
                      "description": "Cloud Run currently ignores this parameter.",
                      "location": "query"
                    },
                    "apiVersion": {
                      "description": "Cloud Run currently ignores this parameter.",
                      "type": "string",
                      "location": "query"
                    }
                  }
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "DomainMapping"
                  },
                  "parameters": {
                    "parent": {
                      "description": "The project ID or project number in which this domain mapping should be created.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "run.projects.locations.domainmappings.create",
                  "response": {
                    "$ref": "DomainMapping"
                  },
                  "path": "v1alpha1/{+parent}/domainmappings",
                  "description": "Creates a new domain mapping.",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/domainmappings",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "run.projects.locations.domainmappings.list",
                  "parameters": {
                    "resourceVersion": {
                      "location": "query",
                      "description": "The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run.",
                      "type": "string"
                    },
                    "labelSelector": {
                      "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.",
                      "type": "string",
                      "location": "query"
                    },
                    "includeUninitialized": {
                      "location": "query",
                      "description": "Not currently used by Cloud Run.",
                      "type": "boolean"
                    },
                    "parent": {
                      "description": "The project ID or project number from which the domain mappings should be listed.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "limit": {
                      "type": "integer",
                      "description": "The maximum number of records that should be returned.",
                      "location": "query",
                      "format": "int32"
                    },
                    "watch": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run."
                    },
                    "continue": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional encoded string to continue paging."
                    },
                    "fieldSelector": {
                      "type": "string",
                      "description": "Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run.",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/domainmappings",
                  "response": {
                    "$ref": "ListDomainMappingsResponse"
                  },
                  "httpMethod": "GET",
                  "path": "v1alpha1/{+parent}/domainmappings",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Rpc to list domain mappings."
                },
                "get": {
                  "path": "v1alpha1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "DomainMapping"
                  },
                  "parameters": {
                    "name": {
                      "description": "The name of the domain mapping being retrieved. If needed, replace {namespace_id} with the project ID.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/domainmappings/[^/]+$"
                    }
                  },
                  "description": "Rpc to get information about a domain mapping.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/domainmappings/{domainmappingsId}",
                  "id": "run.projects.locations.domainmappings.get"
                }
              }
            },
            "cloudstoragesources": {
              "methods": {
                "replaceCloudStorageSource": {
                  "httpMethod": "PUT",
                  "path": "v1alpha1/{+name}",
                  "id": "run.projects.locations.cloudstoragesources.replaceCloudStorageSource",
                  "response": {
                    "$ref": "CloudStorageSource"
                  },
                  "request": {
                    "$ref": "CloudStorageSource"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/cloudstoragesources/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the cloudstoragesource being retrieved. If needed, replace {namespace_id} with the project ID."
                    }
                  },
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/cloudstoragesources/{cloudstoragesourcesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Rpc to replace a cloudstoragesource. Only the spec and metadata labels and annotations are modifiable. After the Update request, Cloud Run will work to make the 'status' match the requested 'spec'. May provide metadata.resourceVersion to enforce update from last read for optimistic concurrency control."
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "run.projects.locations.cloudstoragesources.delete",
                  "path": "v1alpha1/{+name}",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/cloudstoragesources/{cloudstoragesourcesId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Rpc to delete a cloudstoragesource.",
                  "parameters": {
                    "apiVersion": {
                      "type": "string",
                      "location": "query",
                      "description": "Cloud Run currently ignores this parameter."
                    },
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/cloudstoragesources/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the cloudstoragesource being deleted. If needed, replace {namespace_id} with the project ID.",
                      "type": "string"
                    },
                    "kind": {
                      "description": "Cloud Run currently ignores this parameter.",
                      "location": "query",
                      "type": "string"
                    },
                    "propagationPolicy": {
                      "description": "Specifies the propagation policy of delete. Cloud Run currently ignores this setting, and deletes in the background. Please see kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/ for more information.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "httpMethod": "DELETE"
                },
                "list": {
                  "description": "Rpc to list cloudstoragesources.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "run.projects.locations.cloudstoragesources.list",
                  "path": "v1alpha1/{+parent}/cloudstoragesources",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/cloudstoragesources",
                  "response": {
                    "$ref": "ListCloudStorageSourcesResponse"
                  },
                  "parameters": {
                    "continue": {
                      "type": "string",
                      "description": "Optional encoded string to continue paging.",
                      "location": "query"
                    },
                    "limit": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "The maximum number of records that should be returned."
                    },
                    "labelSelector": {
                      "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.",
                      "location": "query",
                      "type": "string"
                    },
                    "fieldSelector": {
                      "location": "query",
                      "description": "Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run.",
                      "type": "string"
                    },
                    "includeUninitialized": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Not currently used by Cloud Run."
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The project ID or project number from which the cloudstoragesources should be listed.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "resourceVersion": {
                      "description": "The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run.",
                      "location": "query",
                      "type": "string"
                    },
                    "watch": {
                      "description": "Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run.",
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET"
                },
                "get": {
                  "path": "v1alpha1/{+name}",
                  "response": {
                    "$ref": "CloudStorageSource"
                  },
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/cloudstoragesources/{cloudstoragesourcesId}",
                  "description": "Rpc to get information about a cloudstoragesource.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the cloudstoragesource being retrieved. If needed, replace {namespace_id} with the project ID.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/cloudstoragesources/[^/]+$"
                    }
                  },
                  "httpMethod": "GET",
                  "id": "run.projects.locations.cloudstoragesources.get"
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The project ID or project number in which this cloudstoragesource should be created.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    }
                  },
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/cloudstoragesources",
                  "description": "Creates a new cloudstoragesource.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha1/{+parent}/cloudstoragesources",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "run.projects.locations.cloudstoragesources.create",
                  "response": {
                    "$ref": "CloudStorageSource"
                  },
                  "request": {
                    "$ref": "CloudStorageSource"
                  },
                  "httpMethod": "POST"
                }
              }
            },
            "cloudpubsubsources": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "run.projects.locations.cloudpubsubsources.get",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "CloudPubSubSource"
                  },
                  "path": "v1alpha1/{+name}",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/cloudpubsubsources/{cloudpubsubsourcesId}",
                  "description": "Rpc to get information about a cloudpubsubsource.",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/cloudpubsubsources/[^/]+$",
                      "type": "string",
                      "description": "The name of the cloudpubsubsource being retrieved. If needed, replace {namespace_id} with the project ID."
                    }
                  }
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "kind": {
                      "description": "Cloud Run currently ignores this parameter.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/cloudpubsubsources/[^/]+$",
                      "description": "The name of the cloudpubsubsource being deleted. If needed, replace {namespace_id} with the project ID.",
                      "location": "path"
                    },
                    "propagationPolicy": {
                      "location": "query",
                      "description": "Specifies the propagation policy of delete. Cloud Run currently ignores this setting, and deletes in the background. Please see kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/ for more information.",
                      "type": "string"
                    },
                    "apiVersion": {
                      "location": "query",
                      "type": "string",
                      "description": "Cloud Run currently ignores this parameter."
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "path": "v1alpha1/{+name}",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/cloudpubsubsources/{cloudpubsubsourcesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "run.projects.locations.cloudpubsubsources.delete",
                  "description": "Rpc to delete a cloudpubsubsource."
                },
                "list": {
                  "response": {
                    "$ref": "ListCloudPubSubSourcesResponse"
                  },
                  "parameters": {
                    "watch": {
                      "type": "boolean",
                      "description": "Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run.",
                      "location": "query"
                    },
                    "continue": {
                      "location": "query",
                      "description": "Optional encoded string to continue paging.",
                      "type": "string"
                    },
                    "labelSelector": {
                      "location": "query",
                      "type": "string",
                      "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn."
                    },
                    "includeUninitialized": {
                      "description": "Not currently used by Cloud Run.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "fieldSelector": {
                      "description": "Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "description": "The project ID or project number from which the cloudpubsubsources should be listed.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "resourceVersion": {
                      "type": "string",
                      "location": "query",
                      "description": "The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run."
                    },
                    "limit": {
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of records that should be returned.",
                      "format": "int32"
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Rpc to list cloudpubsubsources.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/cloudpubsubsources",
                  "path": "v1alpha1/{+parent}/cloudpubsubsources",
                  "id": "run.projects.locations.cloudpubsubsources.list"
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "CloudPubSubSource"
                  },
                  "description": "Creates a new cloudpubsubsource.",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The project ID or project number in which this cloudpubsubsource should be created.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/cloudpubsubsources",
                  "request": {
                    "$ref": "CloudPubSubSource"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "path": "v1alpha1/{+parent}/cloudpubsubsources",
                  "id": "run.projects.locations.cloudpubsubsources.create"
                }
              }
            },
            "configurations": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "path": "v1alpha1/{+parent}/configurations",
                  "parameters": {
                    "includeUninitialized": {
                      "type": "boolean",
                      "description": "Not currently used by Cloud Run.",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The project ID or project number from which the configurations should be listed.",
                      "type": "string"
                    },
                    "resourceVersion": {
                      "location": "query",
                      "description": "The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run.",
                      "type": "string"
                    },
                    "continue": {
                      "location": "query",
                      "description": "Optional encoded string to continue paging.",
                      "type": "string"
                    },
                    "watch": {
                      "location": "query",
                      "description": "Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run.",
                      "type": "boolean"
                    },
                    "fieldSelector": {
                      "description": "Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run.",
                      "type": "string",
                      "location": "query"
                    },
                    "limit": {
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of records that should be returned.",
                      "format": "int32"
                    },
                    "labelSelector": {
                      "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/configurations",
                  "description": "Rpc to list configurations.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "run.projects.locations.configurations.list",
                  "response": {
                    "$ref": "ListConfigurationsResponse"
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "flatPath": "v1alpha1/projects/{projectsId}/locations/{locationsId}/configurations/{configurationsId}",
                  "description": "Rpc to get information about a configuration.",
                  "id": "run.projects.locations.configurations.get",
                  "response": {
                    "$ref": "Configuration"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The name of the configuration being retrieved. If needed, replace {namespace_id} with the project ID.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/configurations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "path": "v1alpha1/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "namespaces": {
      "resources": {
        "triggers": {
          "methods": {
            "delete": {
              "description": "Rpc to delete a trigger.",
              "httpMethod": "DELETE",
              "id": "run.namespaces.triggers.delete",
              "flatPath": "apis/eventing.knative.dev/v1alpha1/namespaces/{namespacesId}/triggers/{triggersId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "path": "apis/eventing.knative.dev/v1alpha1/{+name}",
              "parameters": {
                "apiVersion": {
                  "location": "query",
                  "type": "string",
                  "description": "Cloud Run currently ignores this parameter."
                },
                "propagationPolicy": {
                  "location": "query",
                  "type": "string",
                  "description": "Specifies the propagation policy of delete. Cloud Run currently ignores this setting, and deletes in the background. Please see kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/ for more information."
                },
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^namespaces/[^/]+/triggers/[^/]+$",
                  "description": "The name of the trigger being deleted. If needed, replace {namespace_id} with the project ID."
                },
                "kind": {
                  "location": "query",
                  "type": "string",
                  "description": "Cloud Run currently ignores this parameter."
                }
              }
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "id": "run.namespaces.triggers.get",
              "path": "apis/eventing.knative.dev/v1alpha1/{+name}",
              "response": {
                "$ref": "Trigger"
              },
              "description": "Rpc to get information about a trigger.",
              "flatPath": "apis/eventing.knative.dev/v1alpha1/namespaces/{namespacesId}/triggers/{triggersId}",
              "parameters": {
                "name": {
                  "pattern": "^namespaces/[^/]+/triggers/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The name of the trigger being retrieved. If needed, replace {namespace_id} with the project ID."
                }
              }
            },
            "list": {
              "httpMethod": "GET",
              "path": "apis/eventing.knative.dev/v1alpha1/{+parent}/triggers",
              "flatPath": "apis/eventing.knative.dev/v1alpha1/namespaces/{namespacesId}/triggers",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListTriggersResponse"
              },
              "parameters": {
                "includeUninitialized": {
                  "type": "boolean",
                  "description": "Not currently used by Cloud Run.",
                  "location": "query"
                },
                "labelSelector": {
                  "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^namespaces/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "The project ID or project number from which the triggers should be listed."
                },
                "fieldSelector": {
                  "description": "Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run.",
                  "location": "query",
                  "type": "string"
                },
                "continue": {
                  "type": "string",
                  "description": "Optional. Encoded string to continue paging.",
                  "location": "query"
                },
                "limit": {
                  "type": "integer",
                  "description": "The maximum number of records that should be returned.",
                  "location": "query",
                  "format": "int32"
                },
                "resourceVersion": {
                  "location": "query",
                  "description": "The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run.",
                  "type": "string"
                },
                "watch": {
                  "description": "Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "id": "run.namespaces.triggers.list",
              "description": "Rpc to list triggers."
            },
            "create": {
              "request": {
                "$ref": "Trigger"
              },
              "parameters": {
                "parent": {
                  "pattern": "^namespaces/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The project ID or project number in which this trigger should be created."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Trigger"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "apis/eventing.knative.dev/v1alpha1/namespaces/{namespacesId}/triggers",
              "httpMethod": "POST",
              "path": "apis/eventing.knative.dev/v1alpha1/{+parent}/triggers",
              "description": "Creates a new trigger.",
              "id": "run.namespaces.triggers.create"
            }
          }
        },
        "cloudschedulersources": {
          "methods": {
            "create": {
              "response": {
                "$ref": "CloudSchedulerSource"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The project ID or project number in which this cloudschedulersource should be created.",
                  "pattern": "^namespaces/[^/]+$"
                }
              },
              "path": "apis/events.cloud.google.com/v1alpha1/{+parent}/cloudschedulersources",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "apis/events.cloud.google.com/v1alpha1/namespaces/{namespacesId}/cloudschedulersources",
              "id": "run.namespaces.cloudschedulersources.create",
              "httpMethod": "POST",
              "description": "Creates a new cloudschedulersource.",
              "request": {
                "$ref": "CloudSchedulerSource"
              }
            },
            "delete": {
              "path": "apis/events.cloud.google.com/v1alpha1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "apis/events.cloud.google.com/v1alpha1/namespaces/{namespacesId}/cloudschedulersources/{cloudschedulersourcesId}",
              "id": "run.namespaces.cloudschedulersources.delete",
              "description": "Rpc to delete a cloudschedulersource.",
              "parameters": {
                "propagationPolicy": {
                  "description": "Specifies the propagation policy of delete. Cloud Run currently ignores this setting, and deletes in the background. Please see kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/ for more information.",
                  "location": "query",
                  "type": "string"
                },
                "apiVersion": {
                  "description": "Cloud Run currently ignores this parameter.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "required": true,
                  "description": "Required. The name of the cloudschedulersource being deleted. If needed, replace {namespace_id} with the project ID.",
                  "pattern": "^namespaces/[^/]+/cloudschedulersources/[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "kind": {
                  "description": "Cloud Run currently ignores this parameter.",
                  "location": "query",
                  "type": "string"
                }
              }
            },
            "replaceCloudSchedulerSource": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the cloudschedulersource being retrieved. If needed, replace {namespace_id} with the project ID.",
                  "pattern": "^namespaces/[^/]+/cloudschedulersources/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "apis/events.cloud.google.com/v1alpha1/namespaces/{namespacesId}/cloudschedulersources/{cloudschedulersourcesId}",
              "request": {
                "$ref": "CloudSchedulerSource"
              },
              "response": {
                "$ref": "CloudSchedulerSource"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "PUT",
              "path": "apis/events.cloud.google.com/v1alpha1/{+name}",
              "description": "Rpc to replace a cloudschedulersource. Only the spec and metadata labels and annotations are modifiable. After the Update request, Cloud Run will work to make the 'status' match the requested 'spec'. May provide metadata.resourceVersion to enforce update from last read for optimistic concurrency control.",
              "id": "run.namespaces.cloudschedulersources.replaceCloudSchedulerSource"
            },
            "list": {
              "httpMethod": "GET",
              "response": {
                "$ref": "ListCloudSchedulerSourcesResponse"
              },
              "id": "run.namespaces.cloudschedulersources.list",
              "flatPath": "apis/events.cloud.google.com/v1alpha1/namespaces/{namespacesId}/cloudschedulersources",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Rpc to list cloudschedulersources.",
              "parameters": {
                "watch": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Flag that indicates that the client expects to watch this resource as well. Not currently used by Cloud Run."
                },
                "labelSelector": {
                  "type": "string",
                  "location": "query",
                  "description": "Allows to filter resources based on a label. Supported operations are =, !=, exists, in, and notIn."
                },
                "continue": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional encoded string to continue paging."
                },
                "resourceVersion": {
                  "type": "string",
                  "description": "The baseline resource version from which the list or watch operation should start. Not currently used by Cloud Run.",
                  "location": "query"
                },
                "fieldSelector": {
                  "type": "string",
                  "location": "query",
                  "description": "Allows to filter resources based on a specific value for a field name. Send this in a query string format. i.e. 'metadata.name%3Dlorem'. Not currently used by Cloud Run."
                },
                "limit": {
                  "type": "integer",
                  "description": "The maximum number of records that should be returned.",
                  "format": "int32",
                  "location": "query"
                },
                "includeUninitialized": {
                  "location": "query",
                  "description": "Not currently used by Cloud Run.",
                  "type": "boolean"
                },
                "parent": {
                  "pattern": "^namespaces/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The project ID or project number from which the cloudschedulersources should be listed."
                }
              },
[...]
