{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/sqlservice.admin": {
          "description": "Manage your Google SQL Service instances"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "canonicalName": "SQL Admin",
  "rootUrl": "https://sqladmin.googleapis.com/",
  "batchPath": "batch",
  "id": "sqladmin:v1beta4",
  "discoveryVersion": "v1",
  "resources": {
    "databases": {
      "methods": {
        "list": {
          "id": "sql.databases.list",
          "description": "Lists databases in the specified Cloud SQL instance.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases",
          "httpMethod": "GET",
          "parameters": {
            "project": {
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "type": "string"
            },
            "instance": {
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases",
          "response": {
            "$ref": "DatabasesListResponse"
          },
          "parameterOrder": [
            "project",
            "instance"
          ]
        },
        "update": {
          "description": "Updates a resource containing information about a database inside a Cloud SQL instance.",
          "id": "sql.databases.update",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "project": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Project ID of the project that contains the instance."
            },
            "instance": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Database instance ID. This does not include the project ID."
            },
            "database": {
              "location": "path",
              "description": "Name of the database to be updated in the instance.",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "Database"
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "PUT"
        },
        "patch": {
          "description": "Partially updates a resource containing information about a database inside a Cloud SQL instance. This method supports patch semantics.",
          "parameters": {
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            },
            "instance": {
              "description": "Database instance ID. This does not include the project ID.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "database": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Name of the database to be updated in the instance."
            }
          },
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "id": "sql.databases.patch",
          "request": {
            "$ref": "Database"
          },
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ]
        },
        "delete": {
          "parameters": {
            "database": {
              "required": true,
              "type": "string",
              "description": "Name of the database to be deleted in the instance.",
              "location": "path"
            },
            "instance": {
              "location": "path",
              "description": "Database instance ID. This does not include the project ID.",
              "type": "string",
              "required": true
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ],
          "id": "sql.databases.delete",
          "description": "Deletes a database from a Cloud SQL instance."
        },
        "get": {
          "id": "sql.databases.get",
          "parameters": {
            "database": {
              "description": "Name of the database in the instance.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "instance": {
              "description": "Database instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "project": {
              "type": "string",
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "project",
            "instance",
            "database"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "Database"
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}",
          "httpMethod": "GET",
          "description": "Retrieves a resource containing information about a database inside a Cloud SQL instance."
        },
        "insert": {
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/databases",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance"
          ],
          "request": {
            "$ref": "Database"
          },
          "description": "Inserts a resource containing information about a database inside a Cloud SQL instance.",
          "id": "sql.databases.insert",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/databases",
          "parameters": {
            "project": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID of the project that contains the instance."
            },
            "instance": {
              "required": true,
              "type": "string",
              "description": "Database instance ID. This does not include the project ID.",
              "location": "path"
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST"
        }
      }
    },
    "backupRuns": {
      "methods": {
        "delete": {
          "parameterOrder": [
            "project",
            "instance",
            "id"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns/{id}",
          "parameters": {
            "project": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Project ID of the project that contains the instance."
            },
            "id": {
              "format": "int64",
              "required": true,
              "location": "path",
              "description": "The ID of the Backup Run to delete. To find a Backup Run ID, use the list method.",
              "type": "string"
            },
            "instance": {
              "location": "path",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string"
            }
          },
          "description": "Deletes the backup taken by a backup run.",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns/{id}",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.backupRuns.delete"
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "POST",
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "instance": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "description": "Creates a new backup run on demand. This method is applicable only to Second Generation instances.",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns",
          "request": {
            "$ref": "BackupRun"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "id": "sql.backupRuns.insert"
        },
        "list": {
          "parameters": {
            "project": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Project ID of the project that contains the instance."
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "maxResults": {
              "description": "Maximum number of backup runs per response.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "A previously-returned page token representing part of the larger set of results to view."
            }
          },
          "description": "Lists all backup runs associated with a given instance and configuration in the reverse chronological order of the backup initiation time.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns",
          "httpMethod": "GET",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns",
          "id": "sql.backupRuns.list",
          "response": {
            "$ref": "BackupRunsListResponse"
          },
          "parameterOrder": [
            "project",
            "instance"
          ]
        },
        "get": {
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns/{id}",
          "httpMethod": "GET",
          "response": {
            "$ref": "BackupRun"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Retrieves a resource containing information about a backup run.",
          "id": "sql.backupRuns.get",
          "parameterOrder": [
            "project",
            "instance",
            "id"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/backupRuns/{id}",
          "parameters": {
            "instance": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            },
            "id": {
              "description": "The ID of this Backup Run.",
              "type": "string",
              "location": "path",
              "required": true,
              "format": "int64"
            },
            "project": {
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "location": "path"
            }
          }
        }
      }
    },
    "flags": {
      "methods": {
        "list": {
          "description": "List all available database flags for Cloud SQL instances.",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.flags.list",
          "flatPath": "sql/v1beta4/flags",
          "response": {
            "$ref": "FlagsListResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "databaseVersion": {
              "location": "query",
              "type": "string",
              "description": "Database type and version you want to retrieve flags for. By default, this method returns flags for all database types and versions."
            }
          },
          "path": "sql/v1beta4/flags"
        }
      }
    },
    "operations": {
      "methods": {
        "list": {
          "parameterOrder": [
            "project"
          ],
          "response": {
            "$ref": "OperationsListResponse"
          },
          "description": "Lists all instance operations that have been performed on the given Cloud SQL instance in the reverse chronological order of the start time.",
          "flatPath": "sql/v1beta4/projects/{project}/operations",
          "parameters": {
            "maxResults": {
              "description": "Maximum number of operations per response.",
              "location": "query",
              "format": "uint32",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "description": "A previously-returned page token representing part of the larger set of results to view.",
              "location": "query"
            },
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "instance": {
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.operations.list",
          "httpMethod": "GET",
          "path": "sql/v1beta4/projects/{project}/operations"
        },
        "get": {
          "flatPath": "sql/v1beta4/projects/{project}/operations/{operation}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "operation"
          ],
          "id": "sql.operations.get",
          "description": "Retrieves an instance operation that has been performed on an instance.",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "GET",
          "parameters": {
            "operation": {
              "type": "string",
              "location": "path",
              "description": "Instance operation ID.",
              "required": true
            },
            "project": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Project ID of the project that contains the instance."
            }
          },
          "path": "sql/v1beta4/projects/{project}/operations/{operation}"
        }
      }
    },
    "users": {
      "methods": {
        "insert": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "id": "sql.users.insert",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Creates a new user in a Cloud SQL instance.",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "instance": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Database instance ID. This does not include the project ID."
            }
          },
          "request": {
            "$ref": "User"
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "httpMethod": "POST",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/users"
        },
        "update": {
          "id": "sql.users.update",
          "httpMethod": "PUT",
          "description": "Updates an existing user in a Cloud SQL instance.",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "instance": {
              "description": "Database instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "host": {
              "type": "string",
              "location": "query",
              "description": "Optional. Host of the user in the instance."
            },
            "project": {
              "required": true,
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "type": "string"
            },
            "name": {
              "description": "Name of the user in the instance.",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "User"
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/users"
        },
        "delete": {
          "response": {
            "$ref": "Operation"
          },
          "description": "Deletes a user from a Cloud SQL instance.",
          "id": "sql.users.delete",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "parameters": {
            "project": {
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true
            },
            "host": {
              "description": "Host of the user in the instance.",
              "location": "query",
              "type": "string"
            },
            "name": {
              "type": "string",
              "location": "query",
              "description": "Name of the user in the instance."
            },
            "instance": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Database instance ID. This does not include the project ID."
            }
          },
          "parameterOrder": [
            "project",
            "instance"
          ]
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.users.list",
          "description": "Lists users in the specified Cloud SQL instance.",
          "httpMethod": "GET",
          "response": {
            "$ref": "UsersListResponse"
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/users",
          "parameters": {
            "instance": {
              "description": "Database instance ID. This does not include the project ID.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/users"
        }
      }
    },
    "projects": {
      "resources": {
        "instances": {
          "methods": {
            "rescheduleMaintenance": {
              "parameters": {
                "instance": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Cloud SQL instance ID. This does not include the project ID."
                },
                "project": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "ID of the project that contains the instance."
                }
              },
              "description": "Reschedules the maintenance on the given instance.",
              "httpMethod": "POST",
              "path": "sql/v1beta4/projects/{project}/instances/{instance}/rescheduleMaintenance",
              "id": "sql.projects.instances.rescheduleMaintenance",
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "request": {
                "$ref": "SqlInstancesRescheduleMaintenanceRequestBody"
              },
              "parameterOrder": [
                "project",
                "instance"
              ],
              "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/rescheduleMaintenance"
            },
            "startExternalSync": {
              "id": "sql.projects.instances.startExternalSync",
              "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/startExternalSync",
              "response": {
                "$ref": "Operation"
              },
              "httpMethod": "POST",
              "parameters": {
                "syncMode": {
                  "type": "string",
                  "enumDescriptions": [
                    "Unknown external sync mode, will be defaulted to ONLINE mode",
                    "Online external sync will set up replication after initial data external sync",
                    "Offline external sync only dumps and loads a one-time snapshot of the primary instance's data"
                  ],
                  "location": "query",
                  "description": "External sync mode.",
                  "enum": [
                    "EXTERNAL_SYNC_MODE_UNSPECIFIED",
                    "ONLINE",
                    "OFFLINE"
                  ]
                },
                "project": {
                  "description": "ID of the project that contains the instance.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "instance": {
                  "location": "path",
                  "description": "Cloud SQL instance ID. This does not include the project ID.",
                  "type": "string",
                  "required": true
                },
                "skipVerification": {
                  "type": "boolean",
                  "description": "Whether to skip the verification step (VESS).",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "project",
                "instance"
              ],
              "path": "sql/v1beta4/projects/{project}/instances/{instance}/startExternalSync",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "description": "Start External primary instance migration."
            },
            "verifyExternalSyncSettings": {
              "parameters": {
                "verifyConnectionOnly": {
                  "type": "boolean",
                  "description": "Flag to enable verifying connection only",
                  "location": "query"
                },
                "project": {
                  "description": "Project ID of the project that contains the instance.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "instance": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Cloud SQL instance ID. This does not include the project ID."
                },
                "syncMode": {
                  "enumDescriptions": [
                    "Unknown external sync mode, will be defaulted to ONLINE mode",
                    "Online external sync will set up replication after initial data external sync",
                    "Offline external sync only dumps and loads a one-time snapshot of the primary instance's data"
                  ],
                  "type": "string",
                  "description": "External sync mode",
                  "location": "query",
                  "enum": [
                    "EXTERNAL_SYNC_MODE_UNSPECIFIED",
                    "ONLINE",
                    "OFFLINE"
                  ]
                }
              },
              "response": {
                "$ref": "SqlInstancesVerifyExternalSyncSettingsResponse"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "project",
                "instance"
              ],
              "id": "sql.projects.instances.verifyExternalSyncSettings",
              "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/verifyExternalSyncSettings",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/sqlservice.admin"
              ],
              "description": "Verify External primary instance external sync settings.",
              "path": "sql/v1beta4/projects/{project}/instances/{instance}/verifyExternalSyncSettings"
            }
          }
        }
      }
    },
    "instances": {
      "methods": {
        "rotateServerCa": {
          "request": {
            "$ref": "InstancesRotateServerCaRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/rotateServerCa",
          "description": "Rotates the server certificate to one signed by the Certificate Authority (CA) version previously added with the addServerCA method.",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/rotateServerCa",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.instances.rotateServerCa",
          "httpMethod": "POST",
          "parameters": {
            "instance": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID."
            },
            "project": {
              "type": "string",
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true
            }
          }
        },
        "export": {
          "description": "Exports data from a Cloud SQL instance to a Cloud Storage bucket as a SQL dump or CSV file.",
          "id": "sql.instances.export",
          "request": {
            "$ref": "InstancesExportRequest"
          },
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Project ID of the project that contains the instance to be exported."
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/export",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/export",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST"
        },
        "listServerCas": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "InstancesListServerCasResponse"
          },
          "id": "sql.instances.listServerCas",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/listServerCas",
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "project": {
              "location": "path",
              "description": "Project ID of the project that contains the instance.",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/listServerCas",
          "description": "Lists all of the trusted Certificate Authorities (CAs) for the specified instance. There can be up to three CAs listed: the CA that was used to sign the certificate that is currently in use, a CA that has been added but not yet used to sign a certificate, and a CA used to sign a certificate that has previously rotated out."
        },
        "promoteReplica": {
          "httpMethod": "POST",
          "description": "Promotes the read replica instance to be a stand-alone Cloud SQL instance. Using this operation might cause your instance to restart.",
          "id": "sql.instances.promoteReplica",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/promoteReplica",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/promoteReplica",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "project": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "ID of the project that contains the read replica."
            },
            "instance": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Cloud SQL read replica instance name."
            }
          },
          "response": {
            "$ref": "Operation"
          }
        },
        "get": {
          "path": "sql/v1beta4/projects/{project}/instances/{instance}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "GET",
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "instance": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Database instance ID. This does not include the project ID."
            }
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "id": "sql.instances.get",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}",
          "description": "Retrieves a resource containing information about a Cloud SQL instance.",
          "response": {
            "$ref": "DatabaseInstance"
          }
        },
        "resetSslConfig": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/resetSslConfig",
          "parameters": {
            "project": {
              "location": "path",
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "required": true
            },
            "instance": {
              "required": true,
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "description": "Deletes all client certificates and generates a new server SSL certificate for the instance.",
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.instances.resetSslConfig",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/resetSslConfig"
        },
        "insert": {
          "httpMethod": "POST",
          "parameters": {
            "project": {
              "description": "Project ID of the project to which the newly created Cloud SQL instances should belong.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "path": "sql/v1beta4/projects/{project}/instances",
          "request": {
            "$ref": "DatabaseInstance"
          },
          "parameterOrder": [
            "project"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances",
          "id": "sql.instances.insert",
          "description": "Creates a new Cloud SQL instance."
        },
        "patch": {
          "id": "sql.instances.patch",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}",
          "httpMethod": "PATCH",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}",
          "request": {
            "$ref": "DatabaseInstance"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "required": true,
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path"
            },
            "project": {
              "type": "string",
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "location": "path"
            }
          },
          "description": "Updates settings of a Cloud SQL instance. This method supports patch semantics.",
          "response": {
            "$ref": "Operation"
          }
        },
        "failover": {
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/failover",
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "project": {
              "description": "ID of the project that contains the read replica.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "InstancesFailoverRequest"
          },
          "id": "sql.instances.failover",
          "description": "Failover the instance to its failover replica instance. Using this operation might cause your instance to restart.",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/failover"
        },
        "demoteMaster": {
          "id": "sql.instances.demoteMaster",
          "parameters": {
            "project": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "ID of the project that contains the instance."
            },
            "instance": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Cloud SQL instance name."
            }
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "InstancesDemoteMasterRequest"
          },
          "description": "Demotes the stand-alone instance to be a Cloud SQL read replica for an external database server.",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/demoteMaster",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/demoteMaster",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "Operation"
          }
        },
        "update": {
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "project": {
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "location": "path"
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}",
          "request": {
            "$ref": "DatabaseInstance"
          },
          "description": "Updates settings of a Cloud SQL instance. Using this operation might cause your instance to restart.",
          "id": "sql.instances.update"
        },
        "stopReplica": {
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/stopReplica",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "project": {
              "required": true,
              "description": "ID of the project that contains the read replica.",
              "location": "path",
              "type": "string"
            },
            "instance": {
              "required": true,
              "location": "path",
              "description": "Cloud SQL read replica instance name.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "Operation"
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/stopReplica",
          "httpMethod": "POST",
          "description": "Stops the replication in the read replica instance.",
          "id": "sql.instances.stopReplica"
        },
        "addServerCa": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "id": "sql.instances.addServerCa",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/addServerCa",
          "description": "Add a new trusted Certificate Authority (CA) version for the specified instance. Required to prepare for a certificate rotation. If a CA version was previously added but never used in a certificate rotation, this operation replaces that version. There cannot be more than one CA version waiting to be rotated in.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "POST",
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "instance": {
              "type": "string",
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/addServerCa",
          "response": {
            "$ref": "Operation"
          }
        },
        "truncateLog": {
          "id": "sql.instances.truncateLog",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "request": {
            "$ref": "InstancesTruncateLogRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/truncateLog",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/truncateLog",
          "description": "Truncate MySQL general and slow query log tables",
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Project ID of the Cloud SQL project."
            },
            "instance": {
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "location": "path"
            }
          }
        },
        "import": {
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/import",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/import",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "sql.instances.import",
          "httpMethod": "POST",
          "request": {
            "$ref": "InstancesImportRequest"
          },
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "project": {
              "type": "string",
              "description": "Project ID of the project that contains the instance.",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Imports data into a Cloud SQL instance from a SQL dump or CSV file in Cloud Storage."
        },
        "list": {
          "parameters": {
            "filter": {
              "type": "string",
              "location": "query",
              "description": "A filter expression that filters resources listed in the response. The expression is in the form of field:value. For example, 'instanceType:CLOUD_SQL_INSTANCE'. Fields can be nested as needed as per their JSON representation, such as 'settings.userLabels.auto_start:true'. Multiple filter queries are space-separated. For example. 'state:RUNNABLE instanceType:CLOUD_SQL_INSTANCE'. By default, each expression is an AND expression. However, you can include AND and OR expressions explicitly."
            },
            "project": {
              "required": true,
              "description": "Project ID of the project for which to list Cloud SQL instances.",
              "type": "string",
              "location": "path"
            },
            "maxResults": {
              "description": "The maximum number of results to return per response.",
              "location": "query",
              "type": "integer",
              "format": "uint32"
            },
            "pageToken": {
              "type": "string",
              "description": "A previously-returned page token representing part of the larger set of results to view.",
              "location": "query"
            }
          },
          "id": "sql.instances.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "httpMethod": "GET",
          "flatPath": "sql/v1beta4/projects/{project}/instances",
          "path": "sql/v1beta4/projects/{project}/instances",
          "response": {
            "$ref": "InstancesListResponse"
          },
          "description": "Lists instances under a given project.",
          "parameterOrder": [
            "project"
          ]
        },
        "delete": {
          "description": "Deletes a Cloud SQL instance.",
          "id": "sql.instances.delete",
          "httpMethod": "DELETE",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "parameters": {
            "instance": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            },
            "project": {
              "required": true,
              "location": "path",
              "description": "Project ID of the project that contains the instance to be deleted.",
              "type": "string"
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}"
        },
        "restart": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.instances.restart",
          "httpMethod": "POST",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/restart",
          "description": "Restarts a Cloud SQL instance.",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Cloud SQL instance ID. This does not include the project ID."
            },
            "project": {
              "required": true,
              "description": "Project ID of the project that contains the instance to be restarted.",
              "location": "path",
              "type": "string"
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/restart",
          "response": {
            "$ref": "Operation"
          }
        },
        "clone": {
          "parameterOrder": [
            "project",
            "instance"
          ],
          "parameters": {
            "instance": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the Cloud SQL instance to be cloned (source). This does not include the project ID."
            },
            "project": {
              "required": true,
              "description": "Project ID of the source as well as the clone Cloud SQL instance.",
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "InstancesCloneRequest"
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/clone",
          "id": "sql.instances.clone",
          "description": "Creates a Cloud SQL instance as a clone of the source instance. Using this operation might cause your instance to restart.",
          "httpMethod": "POST",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/clone",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        },
        "startReplica": {
          "parameters": {
            "instance": {
              "description": "Cloud SQL read replica instance name.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "project": {
              "location": "path",
              "type": "string",
              "description": "ID of the project that contains the read replica.",
              "required": true
            }
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "description": "Starts the replication in the read replica instance.",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/startReplica",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "response": {
            "$ref": "Operation"
          },
          "id": "sql.instances.startReplica",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/startReplica"
        },
        "restoreBackup": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "request": {
            "$ref": "InstancesRestoreBackupRequest"
          },
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Restores a backup of a Cloud SQL instance. Using this operation might cause your instance to restart.",
          "parameters": {
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance."
            }
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/restoreBackup",
          "id": "sql.instances.restoreBackup",
          "response": {
            "$ref": "Operation"
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/restoreBackup",
          "httpMethod": "POST"
        }
      }
    },
    "sslCerts": {
      "methods": {
        "delete": {
          "description": "Deletes the SSL certificate. For First Generation instances, the certificate remains valid until the instance is restarted.",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "instance",
            "sha1Fingerprint"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.sslCerts.delete",
          "httpMethod": "DELETE",
          "parameters": {
            "sha1Fingerprint": {
              "location": "path",
              "description": "Sha1 FingerPrint.",
              "required": true,
              "type": "string"
            },
            "instance": {
              "type": "string",
              "location": "path",
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true
            },
            "project": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Project ID of the project that contains the instance."
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}"
        },
        "createEphemeral": {
          "id": "sql.sslCerts.createEphemeral",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "description": "Generates a short-lived X509 certificate containing the provided public key and signed by a private key specific to the target instance. Users may use the certificate to authenticate as themselves when connecting to the database.",
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/createEphemeral",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "request": {
            "$ref": "SslCertsCreateEphemeralRequest"
          },
          "parameters": {
            "project": {
              "required": true,
              "location": "path",
              "description": "Project ID of the Cloud SQL project.",
              "type": "string"
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/createEphemeral",
          "response": {
            "$ref": "SslCert"
          }
        },
        "list": {
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "instance"
          ],
          "id": "sql.sslCerts.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "response": {
            "$ref": "SslCertsListResponse"
          },
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts",
          "description": "Lists all of the current SSL certificates for the instance.",
          "parameters": {
            "instance": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID."
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "Project ID of the project that contains the instance.",
              "type": "string"
            }
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts"
        },
        "insert": {
          "parameters": {
            "project": {
              "description": "Project ID of the project that contains the instance.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "instance": {
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "id": "sql.sslCerts.insert",
          "response": {
            "$ref": "SslCertsInsertResponse"
          },
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts",
          "description": "Creates an SSL certificate and returns it along with the private key and server certificate authority. The new certificate will not be usable until the instance is restarted.",
          "request": {
            "$ref": "SslCertsInsertRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts",
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "instance"
          ]
        },
        "get": {
          "flatPath": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ],
          "id": "sql.sslCerts.get",
          "parameterOrder": [
            "project",
            "instance",
            "sha1Fingerprint"
          ],
          "path": "sql/v1beta4/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}",
          "response": {
            "$ref": "SslCert"
          },
          "httpMethod": "GET",
          "parameters": {
            "sha1Fingerprint": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Sha1 FingerPrint."
            },
            "instance": {
              "required": true,
              "description": "Cloud SQL instance ID. This does not include the project ID.",
              "location": "path",
              "type": "string"
            },
            "project": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Project ID of the project that contains the instance."
            }
          },
          "description": "Retrieves a particular SSL certificate. Does not include the private key (required for usage). The private key must be saved from the response to initial creation."
        }
      }
    },
    "tiers": {
      "methods": {
        "list": {
          "parameters": {
            "project": {
              "location": "path",
              "description": "Project ID of the project for which to list tiers.",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "TiersListResponse"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "project"
          ],
          "path": "sql/v1beta4/projects/{project}/tiers",
          "description": "Lists all available machine types (tiers) for Cloud SQL, for example, db-n1-standard-1. For related information, see Pricing.",
          "flatPath": "sql/v1beta4/projects/{project}/tiers",
          "id": "sql.tiers.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/sqlservice.admin"
          ]
        }
      }
    }
  },
  "name": "sqladmin",
  "schemas": {
    "BinLogCoordinates": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "This is always *sql#binLogCoordinates*.",
          "type": "string"
        },
        "binLogPosition": {
          "type": "string",
          "format": "int64",
          "description": "Position (offset) within the binary log file."
        },
        "binLogFileName": {
          "type": "string",
          "description": "Name of the binary log file for a Cloud SQL instance."
        }
      },
      "description": "Binary log coordinates.",
      "id": "BinLogCoordinates"
    },
    "Reschedule": {
      "id": "Reschedule",
      "properties": {
        "rescheduleType": {
          "enum": [
            "RESCHEDULE_TYPE_UNSPECIFIED",
            "IMMEDIATE",
            "NEXT_AVAILABLE_WINDOW",
            "SPECIFIC_TIME"
          ],
          "enumDescriptions": [
            "",
            "If the user wants to schedule the maintenance to happen now.",
            "If the user wants to use the existing maintenance policy to find the next available window.",
            "If the user wants to reschedule the maintenance to a specific time."
          ],
          "description": "Required. The type of the reschedule.",
          "type": "string"
        },
        "scheduleTime": {
          "format": "google-datetime",
          "description": "Optional. Timestamp when the maintenance shall be rescheduled to if reschedule_type=SPECIFIC_TIME, in RFC 3339 format, for example *2012-11-15T16:19:00.094Z*.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DatabasesListResponse": {
      "properties": {
        "items": {
          "items": {
            "$ref": "Database"
          },
          "type": "array",
          "description": "List of database resources in the instance."
        },
        "kind": {
          "type": "string",
          "description": "This is always *sql#databasesList*."
        }
      },
      "id": "DatabasesListResponse",
      "description": "Database list response.",
      "type": "object"
    },
    "Database": {
      "type": "object",
      "id": "Database",
      "properties": {
        "charset": {
          "description": "The Cloud SQL charset value.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "This field is deprecated and will be removed from a future version of the API."
        },
        "name": {
          "type": "string",
          "description": "The name of the database in the Cloud SQL instance. This does not include the project ID or instance name."
        },
        "kind": {
          "type": "string",
          "description": "This is always *sql#database*."
        },
        "sqlserverDatabaseDetails": {
          "$ref": "SqlServerDatabaseDetails"
        },
        "instance": {
          "description": "The name of the Cloud SQL instance. This does not include the project ID.",
          "type": "string"
        },
        "project": {
          "description": "The project ID of the project containing the Cloud SQL database. The Google apps domain is prefixed if applicable.",
          "type": "string"
        },
        "selfLink": {
          "description": "The URI of this resource.",
          "type": "string"
        },
        "collation": {
          "type": "string",
          "description": "The Cloud SQL collation value."
        }
      },
      "description": "Represents a SQL database on the Cloud SQL instance."
    },
    "BackupConfiguration": {
      "type": "object",
      "description": "Database instance backup configuration.",
      "id": "BackupConfiguration",
      "properties": {
        "binaryLogEnabled": {
          "description": "(MySQL only) Whether binary log is enabled. If backup configuration is disabled, binarylog must be disabled as well.",
          "type": "boolean"
        },
        "transactionLogRetentionDays": {
          "format": "int32",
          "description": "The number of days of transaction logs we retain for point in time restore, from 1-7.",
          "type": "integer"
        },
        "replicationLogArchivingEnabled": {
          "description": "Reserved for future use.",
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "description": "This is always *sql#backupConfiguration*."
        },
        "startTime": {
          "type": "string",
          "description": "Start time for the daily backup configuration in UTC timezone in the 24 hour format - *HH:MM*."
        },
        "backupRetentionSettings": {
          "$ref": "BackupRetentionSettings",
          "description": "Backup retention settings."
        },
        "location": {
          "type": "string",
          "description": "Location of the backup"
        },
        "pointInTimeRecoveryEnabled": {
          "description": "Reserved for future use.",
          "type": "boolean"
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether this configuration is enabled."
        }
      }
    },
    "DatabaseInstance": {
      "type": "object",
      "description": "A Cloud SQL instance resource. Next field: 36",
      "properties": {
        "kind": {
          "description": "This is always *sql#instance*.",
          "type": "string"
        },
        "connectionName": {
          "type": "string",
          "description": "Connection name of the Cloud SQL instance used in connection strings."
        },
        "name": {
          "description": "Name of the Cloud SQL instance. This does not include the project ID.",
          "type": "string"
        },
        "selfLink": {
          "type": "string",
          "description": "The URI of this resource."
        },
        "etag": {
          "type": "string",
          "description": "This field is deprecated and will be removed from a future version of the API. Use the *settings.settingsVersion* field instead."
        },
        "diskEncryptionStatus": {
          "$ref": "DiskEncryptionStatus",
          "description": "Disk encryption status specific to an instance. Applies only to Second Generation instances."
        },
        "state": {
          "enum": [
            "SQL_INSTANCE_STATE_UNSPECIFIED",
            "RUNNABLE",
            "SUSPENDED",
            "PENDING_DELETE",
            "PENDING_CREATE",
            "MAINTENANCE",
            "FAILED"
          ],
          "enumDescriptions": [
            "The state of the instance is unknown.",
            "The instance has been stopped by owner. It is not currently running, but it's ready to be restarted.",
            "The instance is not available, for example due to problems with billing.",
            "The instance is being deleted.",
            "The instance is being created.",
            "The instance is down for maintenance.",
            "The creation of the instance failed or a fatal error occurred during maintenance."
          ],
          "type": "string",
          "description": "The current serving state of the Cloud SQL instance. This can be one of the following. *SQL_INSTANCE_STATE_UNSPECIFIED*: The state of the instance is unknown. *RUNNABLE*: The instance has been stopped by owner. It is not currently running, but it's ready to be restarted. *SUSPENDED*: The instance is not available, for example due to problems with billing. for example due to problems with billing. *PENDING_DELETE*: The instance is being deleted. *PENDING_CREATE*: The instance is being created. *MAINTENANCE*: The instance is down for maintenance. *FAILED*: The instance creation failed."
        },
        "databaseVersion": {
          "type": "string",
          "enum": [
            "SQL_DATABASE_VERSION_UNSPECIFIED",
            "MYSQL_5_1",
            "MYSQL_5_5",
            "MYSQL_5_6",
            "MYSQL_5_7",
            "POSTGRES_9_6",
            "POSTGRES_11",
            "SQLSERVER_2017_STANDARD",
            "SQLSERVER_2017_ENTERPRISE",
            "SQLSERVER_2017_EXPRESS",
            "SQLSERVER_2017_WEB",
            "POSTGRES_10",
            "POSTGRES_12",
            "MYSQL_8_0",
            "POSTGRES_13"
          ],
          "description": "The database engine type and version. The *databaseVersion* field cannot be changed after instance creation. MySQL instances: *MYSQL_8_0*, *MYSQL_5_7* (default), or *MYSQL_5_6*. PostgreSQL instances: *POSTGRES_9_6*, *POSTGRES_10*, *POSTGRES_11* or *POSTGRES_12* (default). SQL Server instances: *SQLSERVER_2017_STANDARD* (default), *SQLSERVER_2017_ENTERPRISE*, *SQLSERVER_2017_EXPRESS*, or *SQLSERVER_2017_WEB*.",
          "enumDescriptions": [
            "This is an unknown database version.",
            "The database version is MySQL 5.1.",
            "The database version is MySQL 5.5.",
            "The database version is MySQL 5.6.",
            "The database version is MySQL 5.7.",
            "The database version is PostgreSQL 9.6.",
            "The database version is PostgreSQL 11.",
            "The database version is SQL Server 2017 Standard.",
            "The database version is SQL Server 2017 Enterprise.",
            "The database version is SQL Server 2017 Express.",
            "The database version is SQL Server 2017 Web.",
            "The database version is PostgreSQL 10.",
            "The database version is PostgreSQL 12.",
            "The database version is MySQL 8.",
            "The database version is PostgreSQL 13."
          ]
        },
        "diskEncryptionConfiguration": {
          "$ref": "DiskEncryptionConfiguration",
          "description": "Disk encryption configuration specific to an instance. Applies only to Second Generation instances."
        },
        "project": {
          "type": "string",
          "description": "The project ID of the project containing the Cloud SQL instance. The Google apps domain is prefixed if applicable."
        },
        "replicaNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The replicas of the instance."
        },
        "rootPassword": {
          "type": "string",
          "description": "Initial root password. Use only on creation."
        },
        "currentDiskSize": {
          "type": "string",
          "description": "The current disk usage of the instance in bytes. This property has been deprecated. Use the \"cloudsql.googleapis.com/database/disk/bytes_used\" metric in Cloud Monitoring API instead. Please see this announcement for details.",
          "format": "int64"
        },
        "suspensionReason": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "This is an unknown suspension reason.",
              "The instance is suspended due to billing issues (for example:, GCP account issue)",
              "The instance is suspended due to illegal content (for example:, child pornography, copyrighted material, etc.).",
              "The instance is causing operational issues (for example:, causing the database to crash).",
              "The KMS key used by the instance is either revoked or denied access to"
            ],
            "enum": [
              "SQL_SUSPENSION_REASON_UNSPECIFIED",
              "BILLING_ISSUE",
              "LEGAL_ISSUE",
              "OPERATIONAL_ISSUE",
              "KMS_KEY_ISSUE"
            ]
          },
          "type": "array",
          "description": "If the instance state is SUSPENDED, the reason for the suspension."
        },
        "secondaryGceZone": {
          "type": "string",
          "description": "The Compute Engine zone that the failover instance is currently serving from for a regional instance. This value could be different from the zone that was specified when the instance was created if the instance has failed over to its secondary/failover zone. Reserved for future use."
        },
        "serviceAccountEmailAddress": {
          "description": "The service account email address assigned to the instance. This property is applicable only to Second Generation instances.",
          "type": "string"
        },
        "scheduledMaintenance": {
          "$ref": "SqlScheduledMaintenance",
          "description": "The start time of any upcoming scheduled maintenance for this instance."
        },
        "serverCaCert": {
          "description": "SSL configuration.",
          "$ref": "SslCert"
        },
        "ipAddresses": {
          "type": "array",
          "items": {
            "$ref": "IpMapping"
          },
          "description": "The assigned IP addresses for the instance."
        },
        "replicaConfiguration": {
          "$ref": "ReplicaConfiguration",
          "description": "Configuration specific to failover replicas and read replicas."
        },
        "failoverReplica": {
          "description": "The name and status of the failover replica. This property is applicable only to Second Generation instances.",
          "properties": {
            "available": {
              "description": "The availability status of the failover replica. A false status indicates that the failover replica is out of sync. The primary instance can only failover to the failover replica when the status is true.",
              "type": "boolean"
            },
            "name": {
              "type": "string",
              "description": "The name of the failover replica. If specified at instance creation, a failover replica is created for the instance. The name doesn't include the project ID. This property is applicable only to Second Generation instances."
            }
          },
          "type": "object"
        },
        "backendType": {
          "description": " *SECOND_GEN*: Cloud SQL database instance. *EXTERNAL*: A database server that is not managed by Google. This property is read-only; use the *tier* property in the *settings* object to determine the database type.",
          "enumDescriptions": [
            "This is an unknown backend type for instance.",
            "V1 speckle instance.",
            "V2 speckle instance.",
            "On premises instance."
          ],
          "enum": [
            "SQL_BACKEND_TYPE_UNSPECIFIED",
            "FIRST_GEN",
            "SECOND_GEN",
            "EXTERNAL"
          ],
          "type": "string"
        },
        "ipv6Address": {
          "description": "The IPv6 address assigned to the instance. (Deprecated) This property was applicable only to First Generation instances.",
          "type": "string"
        },
        "gceZone": {
          "description": "The Compute Engine zone that the instance is currently serving from. This value could be different from the zone that was specified when the instance was created if the instance has failed over to its secondary zone.",
          "type": "string"
        },
        "satisfiesPzs": {
          "type": "boolean",
          "description": "The status indicating if instance satisfies physical zone separation. Reserved for future use."
        },
        "onPremisesConfiguration": {
          "description": "Configuration specific to on-premises instances.",
          "$ref": "OnPremisesConfiguration"
        },
        "instanceType": {
          "description": "The instance type. This can be one of the following. *CLOUD_SQL_INSTANCE*: A Cloud SQL instance that is not replicating from a primary instance. *ON_PREMISES_INSTANCE*: An instance running on the customer's premises. *READ_REPLICA_INSTANCE*: A Cloud SQL instance configured as a read-replica.",
          "enum": [
            "SQL_INSTANCE_TYPE_UNSPECIFIED",
            "CLOUD_SQL_INSTANCE",
            "ON_PREMISES_INSTANCE",
            "READ_REPLICA_INSTANCE"
          ],
          "type": "string",
          "enumDescriptions": [
            "This is an unknown Cloud SQL instance type.",
            "A regular Cloud SQL instance.",
            "An instance running on the customer's premises that is not managed by Cloud SQL.",
            "A Cloud SQL instance acting as a read-replica."
          ]
        },
        "masterInstanceName": {
          "type": "string",
          "description": "The name of the instance which will act as primary in the replication setup."
        },
        "maxDiskSize": {
          "type": "string",
          "format": "int64",
          "description": "The maximum disk size of the instance in bytes."
        },
        "settings": {
          "description": "The user settings.",
          "$ref": "Settings"
        },
        "region": {
          "type": "string",
          "description": "The geographical region. Can be *us-central* (*FIRST_GEN* instances only) *us-central1* (*SECOND_GEN* instances only) *asia-east1* or *europe-west1*. Defaults to *us-central* or *us-central1* depending on the instance type. The region cannot be changed after instance creation."
        }
      },
      "id": "DatabaseInstance"
    },
    "Tier": {
      "properties": {
        "RAM": {
          "type": "string",
          "format": "int64",
          "description": "The maximum RAM usage of this tier in bytes."
        },
        "DiskQuota": {
          "type": "string",
          "description": "The maximum disk size of this tier in bytes.",
          "format": "int64"
        },
        "tier": {
          "type": "string",
          "description": "An identifier for the machine type, for example, db-n1-standard-1. For related information, see Pricing."
        },
        "region": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The applicable regions for this tier."
        },
        "kind": {
          "description": "This is always *sql#tier*.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A Google Cloud SQL service tier resource.",
      "id": "Tier"
    },
    "InstancesExportRequest": {
      "type": "object",
      "id": "InstancesExportRequest",
      "description": "Database instance export request.",
      "properties": {
        "exportContext": {
          "description": "Contains details about the export operation.",
          "$ref": "ExportContext"
        }
      }
    },
    "InstancesDemoteMasterRequest": {
      "properties": {
        "demoteMasterContext": {
          "description": "Contains details about the demoteMaster operation.",
          "$ref": "DemoteMasterContext"
        }
      },
      "id": "InstancesDemoteMasterRequest",
      "type": "object",
      "description": "Database demote primary instance request."
    },
    "TruncateLogContext": {
      "type": "object",
      "id": "TruncateLogContext",
      "description": "Database Instance truncate log context.",
      "properties": {
        "logType": {
          "description": "The type of log to truncate. Valid values are *MYSQL_GENERAL_TABLE* and *MYSQL_SLOW_TABLE*.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always *sql#truncateLogContext*."
        }
      }
    },
    "ApiWarning": {
      "properties": {
        "code": {
          "type": "string",
          "enum": [
            "SQL_API_WARNING_CODE_UNSPECIFIED",
            "REGION_UNREACHABLE"
          ],
          "enumDescriptions": [
            "An unknown or unset warning type from Cloud SQL API.",
            "Warning when one or more regions are not reachable. The returned result set may be incomplete."
          ],
          "description": "Code to uniquely identify the warning type."
        },
        "message": {
          "description": "The warning message.",
          "type": "string"
        }
      },
      "id": "ApiWarning",
      "description": "An Admin API warning message.",
      "type": "object"
    },
    "SslCertDetail": {
      "type": "object",
      "properties": {
        "certPrivateKey": {
          "description": "The private key for the client cert, in pem format. Keep private in order to protect your security.",
          "type": "string"
        },
        "certInfo": {
          "description": "The public information about the cert.",
          "$ref": "SslCert"
        }
      },
      "id": "SslCertDetail",
      "description": "SslCertDetail."
    },
    "Operation": {
      "properties": {
        "error": {
          "description": "If errors occurred during processing of this operation, this field will be populated.",
          "$ref": "OperationErrors"
        },
        "importContext": {
          "$ref": "ImportContext",
          "description": "The context for import operation, if applicable."
        },
        "operationType": {
          "enum": [
            "SQL_OPERATION_TYPE_UNSPECIFIED",
            "IMPORT",
            "EXPORT",
            "CREATE",
            "UPDATE",
            "DELETE",
            "RESTART",
            "BACKUP",
            "SNAPSHOT",
            "BACKUP_VOLUME",
            "DELETE_VOLUME",
            "RESTORE_VOLUME",
            "INJECT_USER",
            "CLONE",
            "STOP_REPLICA",
            "START_REPLICA",
            "PROMOTE_REPLICA",
            "CREATE_REPLICA",
            "CREATE_USER",
            "DELETE_USER",
            "UPDATE_USER",
            "CREATE_DATABASE",
            "DELETE_DATABASE",
            "UPDATE_DATABASE",
            "FAILOVER",
            "DELETE_BACKUP",
            "RECREATE_REPLICA",
            "TRUNCATE_LOG",
            "DEMOTE_MASTER",
            "MAINTENANCE",
            "ENABLE_PRIVATE_IP",
            "DEFER_MAINTENANCE",
            "CREATE_CLONE",
            "RESCHEDULE_MAINTENANCE",
            "START_EXTERNAL_SYNC"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown operation type.",
            "Imports data into a Cloud SQL instance.",
            "Exports data from a Cloud SQL instance to a Cloud Storage bucket.",
            "Creates a new Cloud SQL instance.",
            "Updates the settings of a Cloud SQL instance.",
            "Deletes a Cloud SQL instance.",
            "Restarts the Cloud SQL instance.",
            "",
            "",
            "Performs instance backup.",
            "Deletes an instance backup.",
            "Restores an instance backup.",
            "Injects a privileged user in mysql for MOB instances.",
            "Clones a Cloud SQL instance.",
            "Stops replication on a Cloud SQL read replica instance.",
            "Starts replication on a Cloud SQL read replica instance.",
            "Promotes a Cloud SQL replica instance.",
            "Creates a Cloud SQL replica instance.",
            "Creates a new user in a Cloud SQL instance.",
            "Deletes a user from a Cloud SQL instance.",
            "Updates an existing user in a Cloud SQL instance.",
            "Creates a database in the Cloud SQL instance.",
            "Deletes a database in the Cloud SQL instance.",
            "Updates a database in the Cloud SQL instance.",
            "Performs failover of an HA-enabled Cloud SQL failover replica.",
            "Deletes the backup taken by a backup run.",
            "",
            "Truncates a general or slow log table in MySQL.",
            "Demotes the stand-alone instance to be a Cloud SQL read replica for an external database server.",
            "Indicates that the instance is currently in maintenance. Maintenance typically causes the instance to be unavailable for 1-3 minutes.",
            "This field is deprecated, and will be removed in future version of API.",
            "",
            "Creates clone instance.",
            "Reschedule maintenance to another time.",
            "Starts external sync of a Cloud SQL EM replica to an external primary instance."
          ],
          "description": "The type of the operation. Valid values are: *CREATE* *DELETE* *UPDATE* *RESTART* *IMPORT* *EXPORT* *BACKUP_VOLUME* *RESTORE_VOLUME* *CREATE_USER* *DELETE_USER* *CREATE_DATABASE* *DELETE_DATABASE*"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The time this operation actually started in UTC timezone in RFC 3339 format, for example *2012-11-15T16:19:00.094Z*.",
          "type": "string"
        },
        "insertTime": {
          "format": "google-datetime",
          "description": "The time this operation was enqueued in UTC timezone in RFC 3339 format, for example *2012-11-15T16:19:00.094Z*.",
          "type": "string"
        },
        "targetId": {
          "description": "Name of the database instance related to this operation.",
          "type": "string"
        },
        "endTime": {
          "description": "The time this operation finished in UTC timezone in RFC 3339 format, for example *2012-11-15T16:19:00.094Z*.",
          "format": "google-datetime",
          "type": "string"
        },
        "selfLink": {
          "type": "string",
          "description": "The URI of this resource."
        },
        "kind": {
          "type": "string",
          "description": "This is always *sql#operation*."
        },
        "targetLink": {
          "type": "string"
        },
        "backupContext": {
          "description": "The context for backup operation, if applicable.",
          "$ref": "BackupContext"
        },
        "name": {
          "type": "string",
          "description": "An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation."
        },
        "status": {
          "type": "string",
          "enum": [
            "SQL_OPERATION_STATUS_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE"
          ],
          "enumDescriptions": [
            "The state of the operation is unknown.",
            "The operation has been queued, but has not started yet.",
            "The operation is running.",
            "The operation completed."
          ],
          "description": "The status of an operation. Valid values are: *PENDING* *RUNNING* *DONE* *SQL_OPERATION_STATUS_UNSPECIFIED*"
        },
        "user": {
          "type": "string",
          "description": "The email address of the user who initiated this operation."
        },
        "targetProject": {
          "description": "The project ID of the target instance related to this operation.",
          "type": "string"
        },
        "exportContext": {
          "$ref": "ExportContext",
          "description": "The context for export operation, if applicable."
        }
      },
      "type": "object",
      "id": "Operation",
      "description": "An Operation resource. For successful operations that return an Operation resource, only the fields relevant to the operation are populated in the resource. Next field: 18"
    },
    "SslCertsInsertResponse": {
      "type": "object",
      "properties": {
        "serverCaCert": {
          "description": "The server Certificate Authority's certificate. If this is missing you can force a new one to be generated by calling resetSslConfig method on instances resource.",
          "$ref": "SslCert"
        },
        "clientCert": {
          "$ref": "SslCertDetail",
          "description": "The new client certificate and private key."
        },
        "kind": {
          "description": "This is always *sql#sslCertsInsert*.",
          "type": "string"
        },
        "operation": {
          "description": "The operation to track the ssl certs insert request.",
          "$ref": "Operation"
        }
      },
      "id": "SslCertsInsertResponse",
      "description": "SslCert insert response."
    },
    "Settings": {
      "description": "Database instance settings.",
      "properties": {
        "insightsConfig": {
          "description": "Insights configuration, for now relevant only for Postgres.",
          "$ref": "InsightsConfig"
        },
        "collation": {
          "type": "string",
          "description": "The name of server Instance collation."
        },
        "authorizedGaeApplications": {
          "description": "The App Engine app IDs that can access this instance. (Deprecated) Applied to First Generation instances only.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "availabilityType": {
          "enum": [
            "SQL_AVAILABILITY_TYPE_UNSPECIFIED",
            "ZONAL",
            "REGIONAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "This is an unknown Availability type.",
            "Zonal available instance.",
            "Regional available instance."
          ],
          "description": "Availability type. Potential values: *ZONAL*: The instance serves data from only one zone. Outages in that zone affect data accessibility. *REGIONAL*: The instance can serve data from more than one zone in a region (it is highly available). For more information, see Overview of the High Availability Configuration."
        },
        "activationPolicy": {
          "enumDescriptions": [
            "Unknown activation plan.",
            "The instance is always up and running.",
            "The instance never starts.",
            "The instance starts upon receiving requests."
          ],
          "description": "The activation policy specifies when the instance is activated; it is applicable only when the instance state is RUNNABLE. Valid values: *ALWAYS*: The instance is on, and remains so even in the absence of connection requests. *NEVER*: The instance is off; it is not activated, even if a connection request arrives.",
          "type": "string",
          "enum": [
            "SQL_ACTIVATION_POLICY_UNSPECIFIED",
            "ALWAYS",
            "NEVER",
            "ON_DEMAND"
          ]
        },
        "maintenanceWindow": {
          "description": "The maintenance window for this instance. This specifies when the instance can be restarted for maintenance purposes.",
          "$ref": "MaintenanceWindow"
        },
        "locationPreference": {
          "$ref": "LocationPreference",
          "description": "The location preference settings. This allows the instance to be located as near as possible to either an App Engine app or Compute Engine zone for better performance. App Engine co-location was only applicable to First Generation instances."
        },
        "denyMaintenancePeriods": {
          "items": {
            "$ref": "DenyMaintenancePeriod"
          },
          "type": "array",
          "description": "Deny maintenance periods"
        },
        "pricingPlan": {
          "description": "The pricing plan for this instance. This can be either *PER_USE* or *PACKAGE*. Only *PER_USE* is supported for Second Generation instances.",
          "enum": [
            "SQL_PRICING_PLAN_UNSPECIFIED",
            "PACKAGE",
            "PER_USE"
          ],
          "type": "string",
          "enumDescriptions": [
            "This is an unknown pricing plan for this instance.",
            "The instance is billed at a monthly flat rate.",
            "The instance is billed per usage."
          ]
        },
        "dataDiskType": {
          "type": "string",
          "enumDescriptions": [
            "This is an unknown data disk type.",
            "An SSD data disk.",
            "An HDD data disk.",
            "This field is deprecated and will be removed from a future version of the API."
          ],
          "description": "The type of data disk: PD_SSD (default) or PD_HDD. Not used for First Generation instances.",
          "enum": [
            "SQL_DATA_DISK_TYPE_UNSPECIFIED",
            "PD_SSD",
            "PD_HDD",
            "OBSOLETE_LOCAL_SSD"
          ]
        },
        "replicationType": {
          "enumDescriptions": [
            "This is an unknown replication type for a Cloud SQL instance.",
            "The synchronous replication mode for First Generation instances. It is the default value.",
            "The asynchronous replication mode for First Generation instances. It provides a slight performance gain, but if an outage occurs while this option is set to asynchronous, you can lose up to a few seconds of updates to your data."
          ],
          "description": "The type of replication this instance uses. This can be either *ASYNCHRONOUS* or *SYNCHRONOUS*. (Deprecated_ This property was only applicable to First Generation instances.",
          "type": "string",
          "enum": [
            "SQL_REPLICATION_TYPE_UNSPECIFIED",
            "SYNCHRONOUS",
            "ASYNCHRONOUS"
          ]
        },
        "databaseFlags": {
          "type": "array",
          "description": "The database flags passed to the instance at startup.",
          "items": {
            "$ref": "DatabaseFlags"
          }
        },
        "databaseReplicationEnabled": {
          "description": "Configuration specific to read replica instances. Indicates whether replication is enabled or not.",
          "type": "boolean"
        },
        "settingsVersion": {
          "format": "int64",
          "type": "string",
          "description": "The version of instance settings. This is a required field for update method to make sure concurrent updates are handled properly. During update, use the most recent settingsVersion value for this instance and do not try to update this value."
        },
        "crashSafeReplicationEnabled": {
          "type": "boolean",
          "description": "Configuration specific to read replica instances. Indicates whether database flags for crash-safe replication are enabled. This property was only applicable to First Generation instances."
        },
        "activeDirectoryConfig": {
          "$ref": "SqlActiveDirectoryConfig",
          "description": "Active Directory configuration, relevant only for Cloud SQL for SQL Server."
        },
        "userLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "User-provided labels, represented as a dictionary where each label is a single key value pair.",
          "type": "object"
        },
        "tier": {
          "description": "The tier (or machine type) for this instance, for example *db-n1-standard-1* (MySQL instances) or *db-custom-1-3840* (PostgreSQL instances).",
          "type": "string"
        },
        "dataDiskSizeGb": {
          "type": "string",
[...]
