{
  "batchPath": "batch/translate",
  "servicePath": "language/translate/",
  "description": "The Google Cloud Translation API lets websites and programs integrate with\n    Google Translate programmatically.",
  "schemas": {
    "TranslationsListResponse": {
      "id": "TranslationsListResponse",
      "type": "object",
      "properties": {
        "translations": {
          "type": "array",
          "description": "Translations contains list of translation results of given text",
          "items": {
            "$ref": "TranslationsResource"
          }
        }
      },
      "description": "The main language translation response message."
    },
    "DetectionsResource": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "language": {
            "type": "string",
            "description": "The language we detected."
          },
          "confidence": {
            "description": "The confidence of the detection result of this language.",
            "format": "float",
            "type": "number"
          },
          "isReliable": {
            "type": "boolean",
            "description": "A boolean to indicate is the language detection result reliable."
          }
        }
      },
      "description": "An array of languages which we detect for the given text The most likely language list first.",
      "id": "DetectionsResource"
    },
    "TranslateTextRequest": {
      "description": "The main translation request message for the Cloud Translation API.",
      "type": "object",
      "properties": {
        "model": {
          "type": "string",
          "description": "The `model` type requested for this translation. Valid values are\nlisted in public documentation."
        },
        "format": {
          "description": "The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text.",
          "type": "string"
        },
        "q": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs."
        },
        "source": {
          "type": "string",
          "description": "The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response."
        },
        "target": {
          "type": "string",
          "description": "The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support."
        }
      },
      "id": "TranslateTextRequest"
    },
    "DetectionsListResponse": {
      "properties": {
        "detections": {
          "description": "A detections contains detection results of several text",
          "items": {
            "$ref": "DetectionsResource"
          },
          "type": "array"
        }
      },
      "id": "DetectionsListResponse",
      "type": "object"
    },
    "LanguagesResource": {
      "type": "object",
      "id": "LanguagesResource",
      "properties": {
        "language": {
          "type": "string",
          "description": "Supported language code, generally consisting of its ISO 639-1\nidentifier. (E.g. 'en', 'ja'). In certain cases, BCP-47 codes including\nlanguage + region identifiers are returned (e.g. 'zh-TW' and 'zh-CH')"
        },
        "name": {
          "description": "Human readable name of the language localized to the target language.",
          "type": "string"
        }
      }
    },
    "TranslationsResource": {
      "id": "TranslationsResource",
      "type": "object",
      "properties": {
        "model": {
          "description": "The `model` type used for this translation. Valid values are\nlisted in public documentation. Can be different from requested `model`.\nPresent only if specific model type was explicitly requested.",
          "type": "string"
        },
        "translatedText": {
          "type": "string",
          "description": "Text translated into the target language."
        },
        "detectedSourceLanguage": {
          "description": "The source language of the initial request, detected automatically, if\nno source language was passed within the initial request. If the\nsource language was passed, auto-detection of the language will not\noccur and this field will be empty.",
          "type": "string"
        }
      }
    },
    "GetSupportedLanguagesRequest": {
      "properties": {
        "target": {
          "description": "The language to use to return localized, human readable names of supported\nlanguages.",
          "type": "string"
        }
      },
      "id": "GetSupportedLanguagesRequest",
      "description": "The request message for discovering supported languages.",
      "type": "object"
    },
    "LanguagesListResponse": {
      "properties": {
        "languages": {
          "items": {
            "$ref": "LanguagesResource"
          },
          "description": "List of source/target languages supported by the translation API. If target parameter is unspecified, the list is sorted by the ASCII code point order of the language code. If target parameter is specified, the list is sorted by the collation order of the language name in the target language.",
          "type": "array"
        }
      },
      "id": "LanguagesListResponse",
      "type": "object"
    },
    "DetectLanguageRequest": {
      "properties": {
        "q": {
          "description": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "DetectLanguageRequest",
      "description": "The request message for language detection.",
      "type": "object"
    }
  },
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/cloud-translation": {
          "description": "Translate text from one language to another using Google Translate"
        }
      }
    }
  },
  "ownerName": "Google",
  "icons": {
    "x16": "https://www.google.com/images/icons/product/translate-16.png",
    "x32": "https://www.google.com/images/icons/product/translate-32.png"
  },
  "title": "Google Cloud Translation API",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "features": [
    "dataWrapper"
  ],
  "basePath": "/language/translate/",
  "resources": {
    "translations": {
      "methods": {
        "list": {
          "parameters": {
            "cid": {
              "location": "query",
              "repeated": true,
              "description": "The customization id for translate",
              "type": "string"
            },
            "model": {
              "description": "The `model` type requested for this translation. Valid values are\nlisted in public documentation.",
              "type": "string",
              "location": "query"
            },
            "q": {
              "location": "query",
              "required": true,
              "type": "string",
              "repeated": true,
              "description": "The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs."
            },
            "target": {
              "location": "query",
              "description": "The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support.",
              "type": "string",
              "required": true
            },
            "source": {
              "type": "string",
              "description": "The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response.",
              "location": "query"
            },
            "format": {
              "enum": [
                "html",
                "text"
              ],
              "description": "The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text.",
              "type": "string",
              "enumDescriptions": [
                "Specifies the input is in HTML",
                "Specifies the input is in plain textual format"
              ],
              "location": "query"
            }
          },
          "description": "Translates input text, returning translated text.",
          "parameterOrder": [
            "q",
            "target"
          ],
          "httpMethod": "GET",
          "id": "language.translations.list",
          "path": "v2",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "TranslationsListResponse"
          }
        },
        "translate": {
          "description": "Translates input text, returning translated text.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "TranslateTextRequest"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "TranslationsListResponse"
          },
          "parameterOrder": [],
          "parameters": {},
          "id": "language.translations.translate",
          "path": "v2"
        }
      }
    },
    "languages": {
      "methods": {
        "list": {
          "path": "v2/languages",
          "response": {
            "$ref": "LanguagesListResponse"
          },
          "id": "language.languages.list",
          "parameters": {
            "target": {
              "type": "string",
              "description": "The language to use to return localized, human readable names of supported\nlanguages.",
              "location": "query"
            },
            "model": {
              "location": "query",
              "type": "string",
              "description": "The model type for which supported languages should be returned."
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Returns a list of supported languages for translation."
        }
      }
    },
    "detections": {
      "methods": {
        "detect": {
          "parameters": {},
          "request": {
            "$ref": "DetectLanguageRequest"
          },
          "id": "language.detections.detect",
          "description": "Detects the language of text within a request.",
          "httpMethod": "POST",
          "path": "v2/detect",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "DetectionsListResponse"
          },
          "parameterOrder": []
        },
        "list": {
          "description": "Detects the language of text within a request.",
          "httpMethod": "GET",
          "path": "v2/detect",
          "parameterOrder": [
            "q"
          ],
          "parameters": {
            "q": {
              "required": true,
              "description": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs.",
              "repeated": true,
              "type": "string",
              "location": "query"
            }
          },
          "id": "language.detections.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "DetectionsListResponse"
          }
        }
      }
    }
  },
  "canonicalName": "Translate",
  "documentationLink": "https://code.google.com/apis/language/translate/v2/getting_started.html",
  "version": "v2",
  "protocol": "rest",
  "id": "translate:v2",
  "name": "translate",
  "revision": "20170525",
  "baseUrl": "https://translation.googleapis.com/language/translate/",
  "rootUrl": "https://translation.googleapis.com/",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "bearer_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth bearer token."
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
      "type": "string",
      "location": "query"
    },
    "pp": {
      "location": "query",
      "type": "boolean",
      "description": "Pretty-print response.",
      "default": "true"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    }
  }
}
