{
  "ownerName": "Google",
  "description": "Detects objects, explicit content, and scene changes in videos. It also specifies the region for annotation and transcribes speech to text. Supports both asynchronous API and streaming API.",
  "discoveryVersion": "v1",
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "version_module": true,
  "id": "videointelligence:v1p2beta1",
  "rootUrl": "https://videointelligence.googleapis.com/",
  "version": "v1p2beta1",
  "title": "Cloud Video Intelligence API",
  "protocol": "rest",
  "name": "videointelligence",
  "resources": {
    "videos": {
      "methods": {
        "annotate": {
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_AnnotateVideoRequest"
          },
          "flatPath": "v1p2beta1/videos:annotate",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {},
          "id": "videointelligence.videos.annotate",
          "path": "v1p2beta1/videos:annotate",
          "response": {
            "$ref": "GoogleLongrunning_Operation"
          },
          "description": "Performs asynchronous video annotation. Progress and results can be retrieved through the `google.longrunning.Operations` interface. `Operation.metadata` contains `AnnotateVideoProgress` (progress). `Operation.response` contains `AnnotateVideoResponse` (results)."
        }
      }
    }
  },
  "baseUrl": "https://videointelligence.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "revision": "20210311",
  "schemas": {
    "GoogleCloudVideointelligenceV1beta2_WordInfo": {
      "properties": {
        "confidence": {
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.",
          "format": "float",
          "type": "number",
          "readOnly": true
        },
        "endTime": {
          "format": "google-duration",
          "type": "string",
          "description": "Time offset relative to the beginning of the audio, and corresponding to the end of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary."
        },
        "speakerTag": {
          "format": "int32",
          "description": "Output only. A distinct integer value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word. Value ranges from 1 up to diarization_speaker_count, and is only set if speaker diarization is enabled.",
          "type": "integer",
          "readOnly": true
        },
        "startTime": {
          "format": "google-duration",
          "description": "Time offset relative to the beginning of the audio, and corresponding to the start of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.",
          "type": "string"
        },
        "word": {
          "type": "string",
          "description": "The word corresponding to this set of information."
        }
      },
      "description": "Word-specific information for recognized words. Word information is only included in the response when certain request parameters are set, such as `enable_word_time_offsets`.",
      "id": "GoogleCloudVideointelligenceV1beta2_WordInfo",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p3beta1_ExplicitContentFrame": {
      "properties": {
        "timeOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location."
        },
        "pornographyLikelihood": {
          "description": "Likelihood of the pornography content..",
          "type": "string",
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "enumDescriptions": [
            "Unspecified likelihood.",
            "Very unlikely.",
            "Unlikely.",
            "Possible.",
            "Likely.",
            "Very likely."
          ]
        }
      },
      "description": "Video frame level annotation results for explicit content.",
      "id": "GoogleCloudVideointelligenceV1p3beta1_ExplicitContentFrame",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingFrame": {
      "properties": {
        "timeOffset": {
          "type": "string",
          "description": "The timestamp of the frame in microseconds.",
          "format": "google-duration"
        },
        "normalizedBoundingBox": {
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingBox",
          "description": "The normalized bounding box location of this object track for the frame."
        }
      },
      "description": "Video frame level annotations for object detection and tracking. This field stores per frame location, time offset, and confidence.",
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingFrame"
    },
    "GoogleCloudVideointelligenceV1_LabelFrame": {
      "properties": {
        "confidence": {
          "type": "number",
          "description": "Confidence that the label is accurate. Range: [0, 1].",
          "format": "float"
        },
        "timeOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location."
        }
      },
      "id": "GoogleCloudVideointelligenceV1_LabelFrame",
      "type": "object",
      "description": "Video frame level annotation results for label detection."
    },
    "GoogleCloudVideointelligenceV1p3beta1_RecognizedCelebrity": {
      "description": "The recognized celebrity with confidence score.",
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p3beta1_RecognizedCelebrity",
      "properties": {
        "celebrity": {
          "description": "The recognized celebrity.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_Celebrity"
        },
        "confidence": {
          "description": "Recognition confidence. Range [0, 1].",
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_FaceSegment": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_FaceSegment",
      "description": "Video segment level annotation results for face detection.",
      "type": "object",
      "properties": {
        "segment": {
          "description": "Video segment where a face was detected.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p1beta1_FaceDetectionAnnotation": {
      "description": "Face detection annotation.",
      "properties": {
        "version": {
          "type": "string",
          "description": "Feature version."
        },
        "thumbnail": {
          "description": "The thumbnail of a person's face.",
          "format": "byte",
          "type": "string"
        },
        "tracks": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_Track"
          },
          "description": "The face tracks with attributes.",
          "type": "array"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_FaceDetectionAnnotation",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p2beta1_SpeechRecognitionAlternative": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_SpeechRecognitionAlternative",
      "description": "Alternative hypotheses (a.k.a. n-best list).",
      "properties": {
        "confidence": {
          "format": "float",
          "readOnly": true,
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.",
          "type": "number"
        },
        "words": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_WordInfo"
          },
          "description": "Output only. A list of word-specific information for each recognized word. Note: When `enable_speaker_diarization` is set to true, you will see all the words from the beginning of the audio."
        },
        "transcript": {
          "description": "Transcript text representing the words that the user spoke.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p2beta1_SpeechTranscriptionConfig": {
      "description": "Config for SPEECH_TRANSCRIPTION.",
      "properties": {
        "enableAutomaticPunctuation": {
          "description": "Optional. If 'true', adds punctuation to recognition result hypotheses. This feature is only available in select languages. Setting this for requests in other languages has no effect at all. The default 'false' value does not add punctuation to result hypotheses. NOTE: \"This is currently offered as an experimental service, complimentary to all users. In the future this may be exclusively available as a premium feature.\"",
          "type": "boolean"
        },
        "audioTracks": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array",
          "description": "Optional. For file formats, such as MXF or MKV, supporting multiple audio tracks, specify up to two tracks. Default: track 0."
        },
        "enableSpeakerDiarization": {
          "type": "boolean",
          "description": "Optional. If 'true', enables speaker detection for each recognized word in the top alternative of the recognition result using a speaker_tag provided in the WordInfo. Note: When this is true, we send all the words from the beginning of the audio for the top alternative in every consecutive response. This is done in order to improve our speaker tags as our models learn to identify the speakers in the conversation over time."
        },
        "speechContexts": {
          "type": "array",
          "description": "Optional. A means to provide context to assist the speech recognition.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_SpeechContext"
          }
        },
        "languageCode": {
          "description": "Required. *Required* The language of the supplied audio as a [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag. Example: \"en-US\". See [Language Support](https://cloud.google.com/speech/docs/languages) for a list of the currently supported language codes.",
          "type": "string"
        },
        "diarizationSpeakerCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. If set, specifies the estimated number of speakers in the conversation. If not set, defaults to '2'. Ignored unless enable_speaker_diarization is set to true."
        },
        "maxAlternatives": {
          "format": "int32",
          "description": "Optional. Maximum number of recognition hypotheses to be returned. Specifically, the maximum number of `SpeechRecognitionAlternative` messages within each `SpeechTranscription`. The server may return fewer than `max_alternatives`. Valid values are `0`-`30`. A value of `0` or `1` will return a maximum of one. If omitted, will return a maximum of one.",
          "type": "integer"
        },
        "filterProfanity": {
          "type": "boolean",
          "description": "Optional. If set to `true`, the server will attempt to filter out profanities, replacing all but the initial character in each filtered word with asterisks, e.g. \"f***\". If set to `false` or omitted, profanities won't be filtered out."
        },
        "enableWordConfidence": {
          "type": "boolean",
          "description": "Optional. If `true`, the top result includes a list of words and the confidence for those words. If `false`, no word-level confidence information is returned. The default is `false`."
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p2beta1_SpeechTranscriptionConfig"
    },
    "GoogleCloudVideointelligenceV1beta2_NormalizedVertex": {
      "id": "GoogleCloudVideointelligenceV1beta2_NormalizedVertex",
      "properties": {
        "x": {
          "format": "float",
          "type": "number",
          "description": "X coordinate."
        },
        "y": {
          "description": "Y coordinate.",
          "type": "number",
          "format": "float"
        }
      },
      "type": "object",
      "description": "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1."
    },
    "GoogleCloudVideointelligenceV1beta2_ExplicitContentAnnotation": {
      "id": "GoogleCloudVideointelligenceV1beta2_ExplicitContentAnnotation",
      "properties": {
        "frames": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_ExplicitContentFrame"
          },
          "description": "All video frames where explicit content was detected."
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        }
      },
      "description": "Explicit content annotation (based on per-frame visual signals only). If no explicit content has been detected in a frame, no annotations are present for that frame.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingPoly": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingPoly",
      "description": "Normalized bounding polygon for text (that might not be aligned with axis). Contains list of the corner points in clockwise order starting from top-left corner. For example, for a rectangular bounding box: When the text is horizontal it might look like: 0----1 | | 3----2 When it's clockwise rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3). Note that values can be less than 0, or greater than 1 due to trignometric calculations for location of the box.",
      "properties": {
        "vertices": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_NormalizedVertex"
          },
          "description": "Normalized vertices of the bounding polygon.",
          "type": "array"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_FaceFrame": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_FaceFrame",
      "properties": {
        "normalizedBoundingBoxes": {
          "type": "array",
          "description": "Normalized Bounding boxes in a frame. There can be more than one boxes if the same face is detected in multiple locations within the current frame.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingBox"
          }
        },
        "timeOffset": {
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "format": "google-duration"
        }
      },
      "type": "object",
      "description": "Deprecated. No effect."
    },
    "GoogleCloudVideointelligenceV1p3beta1_TextAnnotation": {
      "description": "Annotations related to one detected OCR text snippet. This will contain the corresponding text, confidence value, and frame level information for each detection.",
      "type": "object",
      "properties": {
        "segments": {
          "description": "All video segments where OCR detected text appears.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_TextSegment"
          },
          "type": "array"
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "text": {
          "type": "string",
          "description": "The detected text."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_TextAnnotation"
    },
    "GoogleCloudVideointelligenceV1p2beta1_DetectedAttribute": {
      "type": "object",
      "properties": {
        "value": {
          "description": "Text value of the detection result. For example, the value for \"HairColor\" can be \"black\", \"blonde\", etc.",
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "description": "Detected attribute confidence. Range [0, 1].",
          "format": "float"
        },
        "name": {
          "type": "string",
          "description": "The name of the attribute, for example, glasses, dark_glasses, mouth_open. A full list of supported type names will be provided in the document."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p2beta1_DetectedAttribute",
      "description": "A generic detected attribute represented by name in string format."
    },
    "GoogleCloudVideointelligenceV1p2beta1_LabelAnnotation": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_LabelAnnotation",
      "description": "Label annotation.",
      "type": "object",
      "properties": {
        "categoryEntities": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_Entity"
          },
          "description": "Common categories for the detected entity. For example, when the label is `Terrier`, the category is likely `dog`. And in some cases there might be more than one categories e.g., `Terrier` could also be a `pet`."
        },
        "entity": {
          "description": "Detected entity.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_Entity"
        },
        "segments": {
          "description": "All video segments where a label was detected.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_LabelSegment"
          }
        },
        "frames": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_LabelFrame"
          },
          "description": "All video frames where a label was detected."
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p1beta1_TextAnnotation": {
      "description": "Annotations related to one detected OCR text snippet. This will contain the corresponding text, confidence value, and frame level information for each detection.",
      "type": "object",
      "properties": {
        "segments": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_TextSegment"
          },
          "description": "All video segments where OCR detected text appears.",
          "type": "array"
        },
        "text": {
          "description": "The detected text.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_TextAnnotation"
    },
    "GoogleCloudVideointelligenceV1p2beta1_LogoRecognitionAnnotation": {
      "properties": {
        "entity": {
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_Entity",
          "description": "Entity category information to specify the logo class that all the logo tracks within this LogoRecognitionAnnotation are recognized as."
        },
        "tracks": {
          "type": "array",
          "description": "All logo tracks where the recognized logo appears. Each track corresponds to one logo instance appearing in consecutive frames.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_Track"
          }
        },
        "segments": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment"
          },
          "type": "array",
          "description": "All video segments where the recognized logo appears. There might be multiple instances of the same logo class appearing in one VideoSegment."
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p2beta1_LogoRecognitionAnnotation",
      "description": "Annotation corresponding to one detected, tracked and recognized logo class."
    },
    "GoogleCloudVideointelligenceV1p2beta1_LabelFrame": {
      "properties": {
        "confidence": {
          "description": "Confidence that the label is accurate. Range: [0, 1].",
          "type": "number",
          "format": "float"
        },
        "timeOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location."
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p2beta1_LabelFrame",
      "description": "Video frame level annotation results for label detection."
    },
    "GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingFrame": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingFrame",
      "type": "object",
      "description": "Video frame level annotations for object detection and tracking. This field stores per frame location, time offset, and confidence.",
      "properties": {
        "timeOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "The timestamp of the frame in microseconds."
        },
        "normalizedBoundingBox": {
          "description": "The normalized bounding box location of this object track for the frame.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingBox"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_AnnotateVideoRequest": {
      "type": "object",
      "properties": {
        "inputContent": {
          "type": "string",
          "format": "byte",
          "description": "The video data bytes. If unset, the input video(s) should be specified via the `input_uri`. If set, `input_uri` must be unset."
        },
        "outputUri": {
          "description": "Optional. Location where the output (in JSON format) should be stored. Currently, only [Cloud Storage](https://cloud.google.com/storage/) URIs are supported. These must be specified in the following format: `gs://bucket-id/object-id` (other URI formats return google.rpc.Code.INVALID_ARGUMENT). For more information, see [Request URIs](https://cloud.google.com/storage/docs/request-endpoints).",
          "type": "string"
        },
        "locationId": {
          "description": "Optional. Cloud region where annotation should take place. Supported cloud regions are: `us-east1`, `us-west1`, `europe-west1`, `asia-east1`. If no region is specified, the region will be determined based on video file location.",
          "type": "string"
        },
        "features": {
          "type": "array",
          "items": {
            "enum": [
              "FEATURE_UNSPECIFIED",
              "LABEL_DETECTION",
              "SHOT_CHANGE_DETECTION",
              "EXPLICIT_CONTENT_DETECTION",
              "FACE_DETECTION",
              "SPEECH_TRANSCRIPTION",
              "TEXT_DETECTION",
              "OBJECT_TRACKING",
              "LOGO_RECOGNITION",
              "PERSON_DETECTION"
            ],
            "enumDescriptions": [
              "Unspecified.",
              "Label detection. Detect objects, such as dog or flower.",
              "Shot change detection.",
              "Explicit content detection.",
              "Human face detection.",
              "Speech transcription.",
              "OCR text detection and tracking.",
              "Object detection and tracking.",
              "Logo detection, tracking, and recognition.",
              "Person detection."
            ],
            "type": "string"
          },
          "description": "Required. Requested video annotation features."
        },
        "inputUri": {
          "description": "Input video location. Currently, only [Cloud Storage](https://cloud.google.com/storage/) URIs are supported. URIs must be specified in the following format: `gs://bucket-id/object-id` (other URI formats return google.rpc.Code.INVALID_ARGUMENT). For more information, see [Request URIs](https://cloud.google.com/storage/docs/request-endpoints). To identify multiple videos, a video URI may include wildcards in the `object-id`. Supported wildcards: '*' to match 0 or more characters; '?' to match 1 character. If unset, the input video should be embedded in the request as `input_content`. If set, `input_content` must be unset.",
          "type": "string"
        },
        "videoContext": {
          "description": "Additional video context and/or feature-specific parameters.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoContext"
        }
      },
      "description": "Video annotation request.",
      "id": "GoogleCloudVideointelligenceV1p2beta1_AnnotateVideoRequest"
    },
    "GoogleCloudVideointelligenceV1beta2_PersonDetectionAnnotation": {
      "properties": {
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "tracks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_Track"
          },
          "description": "The detected tracks of a person."
        }
      },
      "description": "Person detection annotation per video.",
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1beta2_PersonDetectionAnnotation"
    },
    "GoogleCloudVideointelligenceV1p3beta1_VideoSegment": {
      "description": "Video segment.",
      "properties": {
        "endTimeOffset": {
          "format": "google-duration",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the end of the segment (inclusive).",
          "type": "string"
        },
        "startTimeOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the start of the segment (inclusive)."
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment"
    },
    "GoogleCloudVideointelligenceV1p2beta1_SpeechContext": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_SpeechContext",
      "description": "Provides \"hints\" to the speech recognizer to favor specific words and phrases in the results.",
      "type": "object",
      "properties": {
        "phrases": {
          "description": "Optional. A list of strings containing words and phrases \"hints\" so that the speech recognition is more likely to recognize them. This can be used to improve the accuracy for specific words and phrases, for example, if specific commands are typically spoken by the user. This can also be used to add additional words to the vocabulary of the recognizer. See [usage limits](https://cloud.google.com/speech/limits#content).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_LabelSegment": {
      "type": "object",
      "description": "Video segment level annotation results for label detection.",
      "id": "GoogleCloudVideointelligenceV1p3beta1_LabelSegment",
      "properties": {
        "confidence": {
          "description": "Confidence that the label is accurate. Range: [0, 1].",
          "format": "float",
          "type": "number"
        },
        "segment": {
          "description": "Video segment where a label was detected.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_NormalizedVertex": {
      "description": "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1.",
      "properties": {
        "x": {
          "format": "float",
          "description": "X coordinate.",
          "type": "number"
        },
        "y": {
          "type": "number",
          "description": "Y coordinate.",
          "format": "float"
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p2beta1_NormalizedVertex"
    },
    "GoogleCloudVideointelligenceV1p2beta1_Track": {
      "properties": {
        "attributes": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_DetectedAttribute"
          },
          "type": "array",
          "description": "Optional. Attributes in the track level."
        },
        "confidence": {
          "description": "Optional. The confidence score of the tracked object.",
          "format": "float",
          "type": "number"
        },
        "timestampedObjects": {
          "description": "The object with timestamp and attributes per frame in the track.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_TimestampedObject"
          },
          "type": "array"
        },
        "segment": {
          "description": "Video segment of a track.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment"
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p2beta1_Track",
      "description": "A track of an object instance."
    },
    "GoogleCloudVideointelligenceV1_LogoRecognitionAnnotation": {
      "properties": {
        "entity": {
          "description": "Entity category information to specify the logo class that all the logo tracks within this LogoRecognitionAnnotation are recognized as.",
          "$ref": "GoogleCloudVideointelligenceV1_Entity"
        },
        "segments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_VideoSegment"
          },
          "description": "All video segments where the recognized logo appears. There might be multiple instances of the same logo class appearing in one VideoSegment."
        },
        "tracks": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_Track"
          },
          "description": "All logo tracks where the recognized logo appears. Each track corresponds to one logo instance appearing in consecutive frames.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Annotation corresponding to one detected, tracked and recognized logo class.",
      "id": "GoogleCloudVideointelligenceV1_LogoRecognitionAnnotation"
    },
    "GoogleCloudVideointelligenceV1_NormalizedBoundingPoly": {
      "id": "GoogleCloudVideointelligenceV1_NormalizedBoundingPoly",
      "type": "object",
      "description": "Normalized bounding polygon for text (that might not be aligned with axis). Contains list of the corner points in clockwise order starting from top-left corner. For example, for a rectangular bounding box: When the text is horizontal it might look like: 0----1 | | 3----2 When it's clockwise rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3). Note that values can be less than 0, or greater than 1 due to trignometric calculations for location of the box.",
      "properties": {
        "vertices": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_NormalizedVertex"
          },
          "type": "array",
          "description": "Normalized vertices of the bounding polygon."
        }
      }
    },
    "GoogleLongrunning_Operation": {
      "id": "GoogleLongrunning_Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "error": {
          "$ref": "GoogleRpc_Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "response": {
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_ObjectTrackingFrame": {
      "properties": {
        "normalizedBoundingBox": {
          "description": "The normalized bounding box location of this object track for the frame.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_NormalizedBoundingBox"
        },
        "timeOffset": {
          "type": "string",
          "description": "The timestamp of the frame in microseconds.",
          "format": "google-duration"
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_ObjectTrackingFrame",
      "description": "Video frame level annotations for object detection and tracking. This field stores per frame location, time offset, and confidence.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_PersonDetectionAnnotation": {
      "type": "object",
      "description": "Person detection annotation per video.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_PersonDetectionAnnotation",
      "properties": {
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "tracks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_Track"
          },
          "description": "The detected tracks of a person."
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_Entity": {
      "id": "GoogleCloudVideointelligenceV1beta2_Entity",
      "type": "object",
      "description": "Detected entity from video analysis.",
      "properties": {
        "entityId": {
          "type": "string",
          "description": "Opaque entity ID. Some IDs may be available in [Google Knowledge Graph Search API](https://developers.google.com/knowledge-graph/)."
        },
        "languageCode": {
          "description": "Language code for `description` in BCP-47 format.",
          "type": "string"
        },
        "description": {
          "description": "Textual description, e.g., `Fixed-gear bicycle`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudVideointelligenceV1_AnnotateVideoResponse": {
      "properties": {
        "annotationResults": {
          "description": "Annotation results for all videos specified in `AnnotateVideoRequest`.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_VideoAnnotationResults"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1_AnnotateVideoResponse",
      "description": "Video annotation response. Included in the `response` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service."
    },
    "GoogleCloudVideointelligenceV1p1beta1_LabelSegment": {
      "properties": {
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "Confidence that the label is accurate. Range: [0, 1]."
        },
        "segment": {
          "description": "Video segment where a label was detected.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
        }
      },
      "description": "Video segment level annotation results for label detection.",
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p1beta1_LabelSegment"
    },
    "GoogleCloudVideointelligenceV1p2beta1_FaceAnnotation": {
      "properties": {
        "thumbnail": {
          "description": "Thumbnail of a representative face view (in JPEG format).",
          "type": "string",
          "format": "byte"
        },
        "frames": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_FaceFrame"
          },
          "type": "array",
          "description": "All video frames where a face was detected."
        },
        "segments": {
          "description": "All video segments where a face was detected.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_FaceSegment"
          }
        }
      },
      "type": "object",
      "description": "Deprecated. No effect.",
      "id": "GoogleCloudVideointelligenceV1p2beta1_FaceAnnotation"
    },
    "GoogleCloudVideointelligenceV1p2beta1_PersonDetectionAnnotation": {
      "type": "object",
      "properties": {
        "version": {
          "type": "string",
          "description": "Feature version."
        },
        "tracks": {
          "description": "The detected tracks of a person.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_Track"
          }
        }
      },
      "description": "Person detection annotation per video.",
      "id": "GoogleCloudVideointelligenceV1p2beta1_PersonDetectionAnnotation"
    },
    "GoogleCloudVideointelligenceV1p1beta1_TimestampedObject": {
      "description": "For tracking related features. An object at time_offset with attributes, and located with normalized_bounding_box.",
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p1beta1_TimestampedObject",
      "properties": {
        "attributes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_DetectedAttribute"
          },
          "description": "Optional. The attributes of the object in the bounding box."
        },
        "landmarks": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_DetectedLandmark"
          },
          "description": "Optional. The detected landmarks.",
          "type": "array"
        },
        "normalizedBoundingBox": {
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingBox",
          "description": "Normalized Bounding box in a frame, where the object is located."
        },
        "timeOffset": {
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this object.",
          "format": "google-duration"
        }
      }
    },
    "GoogleCloudVideointelligenceV1_SpeechRecognitionAlternative": {
      "description": "Alternative hypotheses (a.k.a. n-best list).",
      "properties": {
        "transcript": {
          "description": "Transcript text representing the words that the user spoke.",
          "type": "string"
        },
        "words": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_WordInfo"
          },
          "description": "Output only. A list of word-specific information for each recognized word. Note: When `enable_speaker_diarization` is set to true, you will see all the words from the beginning of the audio.",
          "type": "array"
        },
        "confidence": {
          "readOnly": true,
          "format": "float",
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.",
          "type": "number"
        }
      },
      "id": "GoogleCloudVideointelligenceV1_SpeechRecognitionAlternative",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_Entity": {
      "properties": {
        "entityId": {
          "description": "Opaque entity ID. Some IDs may be available in [Google Knowledge Graph Search API](https://developers.google.com/knowledge-graph/).",
          "type": "string"
        },
        "languageCode": {
          "description": "Language code for `description` in BCP-47 format.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Textual description, e.g., `Fixed-gear bicycle`."
        }
      },
      "description": "Detected entity from video analysis.",
      "id": "GoogleCloudVideointelligenceV1_Entity",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_AnnotateVideoProgress": {
      "description": "Video annotation progress. Included in the `metadata` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service.",
      "properties": {
        "annotationProgress": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_VideoAnnotationProgress"
          },
          "description": "Progress metadata for all videos specified in `AnnotateVideoRequest`.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1beta2_AnnotateVideoProgress"
    },
    "GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingAnnotation": {
      "properties": {
        "segment": {
          "description": "Non-streaming batch mode ONLY. Each object track corresponds to one video segment where it appears.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment"
        },
        "confidence": {
          "format": "float",
          "type": "number",
          "description": "Object category's labeling confidence of this track."
        },
        "entity": {
          "description": "Entity to specify the object category that this track is labeled as.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_Entity"
        },
        "frames": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingFrame"
          },
          "description": "Information corresponding to all frames where this object track appears. Non-streaming batch mode: it may be one or multiple ObjectTrackingFrame messages in frames. Streaming mode: it can only be one ObjectTrackingFrame message in frames."
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "trackId": {
          "type": "string",
          "format": "int64",
          "description": "Streaming mode ONLY. In streaming mode, we do not know the end time of a tracked object before it is completed. Hence, there is no VideoSegment info returned. Instead, we provide a unique identifiable integer track_id so that the customers can correlate the results of the ongoing ObjectTrackAnnotation of the same track_id over time."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingAnnotation",
      "type": "object",
      "description": "Annotations corresponding to one tracked object."
    },
    "GoogleCloudVideointelligenceV1beta2_SpeechRecognitionAlternative": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1beta2_SpeechRecognitionAlternative",
      "properties": {
        "transcript": {
          "description": "Transcript text representing the words that the user spoke.",
          "type": "string"
        },
        "words": {
          "description": "Output only. A list of word-specific information for each recognized word. Note: When `enable_speaker_diarization` is set to true, you will see all the words from the beginning of the audio.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_WordInfo"
          },
          "type": "array"
        },
        "confidence": {
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.",
          "readOnly": true,
          "type": "number",
          "format": "float"
        }
      },
      "description": "Alternative hypotheses (a.k.a. n-best list)."
    },
    "GoogleCloudVideointelligenceV1p3beta1_StreamingAnnotateVideoResponse": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_StreamingAnnotateVideoResponse",
      "description": "`StreamingAnnotateVideoResponse` is the only message returned to the client by `StreamingAnnotateVideo`. A series of zero or more `StreamingAnnotateVideoResponse` messages are streamed back to the client.",
      "type": "object",
      "properties": {
        "annotationResultsUri": {
          "type": "string",
          "description": "Google Cloud Storage URI that stores annotation results of one streaming session in JSON format. It is the annotation_result_storage_directory from the request followed by '/cloud_project_number-session_id'."
        },
        "error": {
          "description": "If set, returns a google.rpc.Status message that specifies the error for the operation.",
          "$ref": "GoogleRpc_Status"
        },
        "annotationResults": {
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_StreamingVideoAnnotationResults",
          "description": "Streaming annotation results."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationResults": {
      "description": "Annotation results for a single video.",
      "properties": {
        "frameLabelAnnotations": {
          "description": "Label annotations on frame level. There is exactly one element for each unique label.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation"
          },
          "type": "array"
        },
        "textAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_TextAnnotation"
          },
          "description": "OCR text detection and tracking. Annotations for list of detected text snippets. Each will have list of frame information associated with it.",
          "type": "array"
        },
        "objectAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingAnnotation"
          },
          "description": "Annotations for list of objects detected and tracked in video.",
          "type": "array"
        },
        "inputUri": {
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/).",
          "type": "string"
        },
        "shotPresenceLabelAnnotations": {
          "description": "Presence label annotations on shot level. There is exactly one element for each unique label. Compared to the existing topical `shot_label_annotations`, this field presents more fine-grained, shot-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation"
          },
          "type": "array"
        },
        "shotAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
          },
          "description": "Shot annotations. Each shot is represented as a video segment.",
          "type": "array"
        },
        "speechTranscriptions": {
          "description": "Speech transcription.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_SpeechTranscription"
          },
          "type": "array"
        },
        "logoRecognitionAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_LogoRecognitionAnnotation"
          },
          "description": "Annotations for list of logos detected, tracked and recognized in video."
        },
        "personDetectionAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_PersonDetectionAnnotation"
          },
          "description": "Person detection annotations."
        },
        "faceDetectionAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_FaceDetectionAnnotation"
          },
          "description": "Face detection annotations.",
          "type": "array"
        },
        "segmentPresenceLabelAnnotations": {
          "type": "array",
          "description": "Presence label annotations on video level or user-specified segment level. There is exactly one element for each unique label. Compared to the existing topical `segment_label_annotations`, this field presents more fine-grained, segment-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation"
          }
        },
        "faceAnnotations": {
          "description": "Deprecated. Please use `face_detection_annotations` instead.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_FaceAnnotation"
          }
        },
        "shotLabelAnnotations": {
          "description": "Topical label annotations on shot level. There is exactly one element for each unique label.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation"
          },
          "type": "array"
        },
        "segment": {
          "description": "Video segment on which the annotation is run.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
        },
        "explicitAnnotation": {
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentAnnotation",
          "description": "Explicit content annotation."
        },
        "segmentLabelAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation"
          },
          "description": "Topical label annotations on video level or user-specified segment level. There is exactly one element for each unique label."
        },
        "error": {
          "$ref": "GoogleRpc_Status",
          "description": "If set, indicates an error. Note that for a single `AnnotateVideoRequest` some videos may succeed and some may fail."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationResults",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_TextAnnotation": {
      "id": "GoogleCloudVideointelligenceV1_TextAnnotation",
      "description": "Annotations related to one detected OCR text snippet. This will contain the corresponding text, confidence value, and frame level information for each detection.",
      "type": "object",
      "properties": {
        "segments": {
          "description": "All video segments where OCR detected text appears.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_TextSegment"
          },
          "type": "array"
        },
        "text": {
          "description": "The detected text.",
          "type": "string"
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p1beta1_VideoSegment": {
      "id": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment",
      "description": "Video segment.",
      "type": "object",
      "properties": {
        "startTimeOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the start of the segment (inclusive)."
        },
        "endTimeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the end of the segment (inclusive).",
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_VideoSegment": {
      "id": "GoogleCloudVideointelligenceV1beta2_VideoSegment",
      "properties": {
        "startTimeOffset": {
          "format": "google-duration",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the start of the segment (inclusive).",
          "type": "string"
        },
        "endTimeOffset": {
          "format": "google-duration",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the end of the segment (inclusive).",
          "type": "string"
        }
      },
      "description": "Video segment.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_Track": {
      "id": "GoogleCloudVideointelligenceV1_Track",
      "description": "A track of an object instance.",
      "type": "object",
      "properties": {
        "confidence": {
          "type": "number",
          "description": "Optional. The confidence score of the tracked object.",
          "format": "float"
        },
        "attributes": {
          "type": "array",
          "description": "Optional. Attributes in the track level.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_DetectedAttribute"
          }
        },
        "timestampedObjects": {
          "description": "The object with timestamp and attributes per frame in the track.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_TimestampedObject"
          }
        },
        "segment": {
          "description": "Video segment of a track.",
          "$ref": "GoogleCloudVideointelligenceV1_VideoSegment"
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_VideoAnnotationResults": {
      "properties": {
        "segmentLabelAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_LabelAnnotation"
          },
          "type": "array",
          "description": "Topical label annotations on video level or user-specified segment level. There is exactly one element for each unique label."
        },
        "logoRecognitionAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_LogoRecognitionAnnotation"
          },
          "description": "Annotations for list of logos detected, tracked and recognized in video."
        },
        "shotPresenceLabelAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_LabelAnnotation"
          },
          "description": "Presence label annotations on shot level. There is exactly one element for each unique label. Compared to the existing topical `shot_label_annotations`, this field presents more fine-grained, shot-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request.",
          "type": "array"
        },
        "frameLabelAnnotations": {
          "description": "Label annotations on frame level. There is exactly one element for each unique label.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_LabelAnnotation"
          },
          "type": "array"
        },
        "explicitAnnotation": {
          "description": "Explicit content annotation.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_ExplicitContentAnnotation"
        },
        "faceAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_FaceAnnotation"
          },
          "description": "Deprecated. Please use `face_detection_annotations` instead."
        },
        "speechTranscriptions": {
          "description": "Speech transcription.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_SpeechTranscription"
          }
        },
        "shotAnnotations": {
          "description": "Shot annotations. Each shot is represented as a video segment.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment"
          },
          "type": "array"
        },
        "textAnnotations": {
          "description": "OCR text detection and tracking. Annotations for list of detected text snippets. Each will have list of frame information associated with it.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_TextAnnotation"
          },
          "type": "array"
        },
        "faceDetectionAnnotations": {
          "description": "Face detection annotations.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_FaceDetectionAnnotation"
          },
          "type": "array"
        },
        "shotLabelAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_LabelAnnotation"
          },
          "description": "Topical label annotations on shot level. There is exactly one element for each unique label."
        },
        "segmentPresenceLabelAnnotations": {
          "description": "Presence label annotations on video level or user-specified segment level. There is exactly one element for each unique label. Compared to the existing topical `segment_label_annotations`, this field presents more fine-grained, segment-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_LabelAnnotation"
          },
          "type": "array"
        },
        "objectAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_ObjectTrackingAnnotation"
          },
          "description": "Annotations for list of objects detected and tracked in video."
        },
        "inputUri": {
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/).",
          "type": "string"
        },
        "personDetectionAnnotations": {
          "type": "array",
          "description": "Person detection annotations.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_PersonDetectionAnnotation"
          }
        },
        "error": {
          "description": "If set, indicates an error. Note that for a single `AnnotateVideoRequest` some videos may succeed and some may fail.",
          "$ref": "GoogleRpc_Status"
        },
        "segment": {
          "description": "Video segment on which the annotation is run.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment"
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_VideoAnnotationResults",
      "description": "Annotation results for a single video.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p3beta1_NormalizedVertex": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p3beta1_NormalizedVertex",
      "properties": {
        "x": {
          "description": "X coordinate.",
          "format": "float",
          "type": "number"
        },
        "y": {
          "format": "float",
          "description": "Y coordinate.",
          "type": "number"
        }
      },
      "description": "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1."
    },
    "GoogleCloudVideointelligenceV1beta2_TimestampedObject": {
      "properties": {
        "normalizedBoundingBox": {
          "$ref": "GoogleCloudVideointelligenceV1beta2_NormalizedBoundingBox",
          "description": "Normalized Bounding box in a frame, where the object is located."
        },
        "timeOffset": {
          "format": "google-duration",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this object.",
          "type": "string"
        },
        "landmarks": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_DetectedLandmark"
          },
          "description": "Optional. The detected landmarks.",
          "type": "array"
        },
        "attributes": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_DetectedAttribute"
          },
          "description": "Optional. The attributes of the object in the bounding box.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "For tracking related features. An object at time_offset with attributes, and located with normalized_bounding_box.",
      "id": "GoogleCloudVideointelligenceV1beta2_TimestampedObject"
    },
    "GoogleCloudVideointelligenceV1beta2_FaceFrame": {
      "properties": {
        "normalizedBoundingBoxes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_NormalizedBoundingBox"
          },
          "description": "Normalized Bounding boxes in a frame. There can be more than one boxes if the same face is detected in multiple locations within the current frame."
        },
        "timeOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location."
        }
      },
      "type": "object",
      "description": "Deprecated. No effect.",
      "id": "GoogleCloudVideointelligenceV1beta2_FaceFrame"
    },
    "GoogleCloudVideointelligenceV1p3beta1_TextFrame": {
      "description": "Video frame level annotation results for text annotation (OCR). Contains information regarding timestamp and bounding box locations for the frames containing detected OCR text snippets.",
      "id": "GoogleCloudVideointelligenceV1p3beta1_TextFrame",
      "type": "object",
      "properties": {
        "timeOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "Timestamp of this frame."
        },
        "rotatedBoundingBox": {
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingPoly",
          "description": "Bounding polygon of the detected text for this frame."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_AnnotateVideoResponse": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_AnnotateVideoResponse",
      "properties": {
        "annotationResults": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoAnnotationResults"
          },
          "description": "Annotation results for all videos specified in `AnnotateVideoRequest`.",
          "type": "array"
        }
      },
      "description": "Video annotation response. Included in the `response` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingAnnotation": {
      "description": "Annotations corresponding to one tracked object.",
      "properties": {
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "frames": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingFrame"
          },
          "description": "Information corresponding to all frames where this object track appears. Non-streaming batch mode: it may be one or multiple ObjectTrackingFrame messages in frames. Streaming mode: it can only be one ObjectTrackingFrame message in frames."
        },
        "trackId": {
          "format": "int64",
          "description": "Streaming mode ONLY. In streaming mode, we do not know the end time of a tracked object before it is completed. Hence, there is no VideoSegment info returned. Instead, we provide a unique identifiable integer track_id so that the customers can correlate the results of the ongoing ObjectTrackAnnotation of the same track_id over time.",
          "type": "string"
        },
        "entity": {
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_Entity",
          "description": "Entity to specify the object category that this track is labeled as."
        },
        "segment": {
          "description": "Non-streaming batch mode ONLY. Each object track corresponds to one video segment where it appears.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment"
        },
        "confidence": {
          "format": "float",
          "type": "number",
          "description": "Object category's labeling confidence of this track."
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingAnnotation"
    },
    "GoogleCloudVideointelligenceV1beta2_VideoAnnotationProgress": {
      "id": "GoogleCloudVideointelligenceV1beta2_VideoAnnotationProgress",
      "type": "object",
      "properties": {
        "progressPercent": {
          "type": "integer",
          "description": "Approximate percentage processed thus far. Guaranteed to be 100 when fully processed.",
          "format": "int32"
        },
        "startTime": {
          "description": "Time when the request was received.",
          "type": "string",
          "format": "google-datetime"
        },
        "inputUri": {
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/).",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time of the most recent update."
        },
        "feature": {
          "type": "string",
          "enum": [
            "FEATURE_UNSPECIFIED",
            "LABEL_DETECTION",
            "SHOT_CHANGE_DETECTION",
            "EXPLICIT_CONTENT_DETECTION",
            "FACE_DETECTION",
            "SPEECH_TRANSCRIPTION",
            "TEXT_DETECTION",
            "OBJECT_TRACKING",
            "LOGO_RECOGNITION",
            "PERSON_DETECTION"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Label detection. Detect objects, such as dog or flower.",
            "Shot change detection.",
            "Explicit content detection.",
            "Human face detection.",
            "Speech transcription.",
            "OCR text detection and tracking.",
            "Object detection and tracking.",
            "Logo detection, tracking, and recognition.",
            "Person detection."
          ],
          "description": "Specifies which feature is being tracked if the request contains more than one feature."
        },
        "segment": {
          "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment",
          "description": "Specifies which segment is being tracked if the request contains more than one segment."
        }
      },
      "description": "Annotation progress for a single video."
    },
    "GoogleCloudVideointelligenceV1_TextSegment": {
      "type": "object",
      "description": "Video segment level annotation results for text detection.",
      "properties": {
        "frames": {
          "type": "array",
          "description": "Information related to the frames where OCR detected text appears.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_TextFrame"
          }
        },
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "Confidence for the track of detected text. It is calculated as the highest over all frames where OCR detected text appears."
        },
        "segment": {
          "description": "Video segment where a text snippet was detected.",
          "$ref": "GoogleCloudVideointelligenceV1_VideoSegment"
        }
      },
      "id": "GoogleCloudVideointelligenceV1_TextSegment"
    },
    "GoogleCloudVideointelligenceV1p2beta1_LabelDetectionConfig": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_LabelDetectionConfig",
      "description": "Config for LABEL_DETECTION.",
      "properties": {
        "frameConfidenceThreshold": {
          "type": "number",
          "description": "The confidence threshold we perform filtering on the labels from frame-level detection. If not set, it is set to 0.4 by default. The valid range for this threshold is [0.1, 0.9]. Any value set outside of this range will be clipped. Note: For best results, follow the default threshold. We will update the default threshold everytime when we release a new model.",
          "format": "float"
        },
        "videoConfidenceThreshold": {
          "type": "number",
          "description": "The confidence threshold we perform filtering on the labels from video-level and shot-level detections. If not set, it's set to 0.3 by default. The valid range for this threshold is [0.1, 0.9]. Any value set outside of this range will be clipped. Note: For best results, follow the default threshold. We will update the default threshold everytime when we release a new model.",
          "format": "float"
        },
        "model": {
          "type": "string",
          "description": "Model to use for label detection. Supported values: \"builtin/stable\" (the default if unset) and \"builtin/latest\"."
        },
        "stationaryCamera": {
          "description": "Whether the video has been shot from a stationary (i.e., non-moving) camera. When set to true, might improve detection accuracy for moving objects. Should be used with `SHOT_AND_FRAME_MODE` enabled.",
          "type": "boolean"
        },
        "labelDetectionMode": {
          "description": "What labels should be detected with LABEL_DETECTION, in addition to video-level labels or segment-level labels. If unspecified, defaults to `SHOT_MODE`.",
          "enum": [
            "LABEL_DETECTION_MODE_UNSPECIFIED",
            "SHOT_MODE",
            "FRAME_MODE",
            "SHOT_AND_FRAME_MODE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Detect shot-level labels.",
            "Detect frame-level labels.",
            "Detect both shot-level and frame-level labels."
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p3beta1_VideoAnnotationProgress": {
      "description": "Annotation progress for a single video.",
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p3beta1_VideoAnnotationProgress",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time when the request was received."
        },
        "feature": {
          "enumDescriptions": [
            "Unspecified.",
            "Label detection. Detect objects, such as dog or flower.",
            "Shot change detection.",
            "Explicit content detection.",
            "Human face detection.",
            "Speech transcription.",
            "OCR text detection and tracking.",
            "Object detection and tracking.",
            "Logo detection, tracking, and recognition.",
            "Celebrity recognition.",
            "Person detection."
          ],
          "enum": [
            "FEATURE_UNSPECIFIED",
            "LABEL_DETECTION",
            "SHOT_CHANGE_DETECTION",
            "EXPLICIT_CONTENT_DETECTION",
            "FACE_DETECTION",
            "SPEECH_TRANSCRIPTION",
            "TEXT_DETECTION",
            "OBJECT_TRACKING",
            "LOGO_RECOGNITION",
            "CELEBRITY_RECOGNITION",
            "PERSON_DETECTION"
          ],
          "description": "Specifies which feature is being tracked if the request contains more than one feature.",
          "type": "string"
        },
        "segment": {
          "description": "Specifies which segment is being tracked if the request contains more than one segment.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment"
        },
        "inputUri": {
          "type": "string",
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/)."
        },
        "progressPercent": {
          "type": "integer",
          "description": "Approximate percentage processed thus far. Guaranteed to be 100 when fully processed.",
          "format": "int32"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time of the most recent update."
        }
      }
    },
    "GoogleCloudVideointelligenceV1_DetectedAttribute": {
      "id": "GoogleCloudVideointelligenceV1_DetectedAttribute",
      "properties": {
        "value": {
          "type": "string",
          "description": "Text value of the detection result. For example, the value for \"HairColor\" can be \"black\", \"blonde\", etc."
        },
        "name": {
          "type": "string",
          "description": "The name of the attribute, for example, glasses, dark_glasses, mouth_open. A full list of supported type names will be provided in the document."
        },
        "confidence": {
          "type": "number",
          "description": "Detected attribute confidence. Range [0, 1].",
          "format": "float"
        }
      },
      "description": "A generic detected attribute represented by name in string format.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p2beta1_TextSegment": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_TextSegment",
      "properties": {
        "confidence": {
          "format": "float",
          "type": "number",
          "description": "Confidence for the track of detected text. It is calculated as the highest over all frames where OCR detected text appears."
        },
        "segment": {
          "description": "Video segment where a text snippet was detected.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment"
        },
        "frames": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_TextFrame"
          },
          "type": "array",
          "description": "Information related to the frames where OCR detected text appears."
        }
      },
      "description": "Video segment level annotation results for text detection.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p3beta1_ExplicitContentAnnotation": {
      "properties": {
        "version": {
          "type": "string",
          "description": "Feature version."
        },
        "frames": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_ExplicitContentFrame"
          },
          "type": "array",
          "description": "All video frames where explicit content was detected."
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p3beta1_ExplicitContentAnnotation",
      "description": "Explicit content annotation (based on per-frame visual signals only). If no explicit content has been detected in a frame, no annotations are present for that frame."
    },
    "GoogleCloudVideointelligenceV1p3beta1_AnnotateVideoResponse": {
      "properties": {
        "annotationResults": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoAnnotationResults"
          },
          "type": "array",
          "description": "Annotation results for all videos specified in `AnnotateVideoRequest`."
        }
      },
      "description": "Video annotation response. Included in the `response` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service.",
      "id": "GoogleCloudVideointelligenceV1p3beta1_AnnotateVideoResponse",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p3beta1_LogoRecognitionAnnotation": {
      "type": "object",
      "properties": {
        "tracks": {
          "type": "array",
          "description": "All logo tracks where the recognized logo appears. Each track corresponds to one logo instance appearing in consecutive frames.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_Track"
          }
        },
        "segments": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment"
          },
          "type": "array",
          "description": "All video segments where the recognized logo appears. There might be multiple instances of the same logo class appearing in one VideoSegment."
        },
        "entity": {
          "description": "Entity category information to specify the logo class that all the logo tracks within this LogoRecognitionAnnotation are recognized as.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_Entity"
        }
      },
      "description": "Annotation corresponding to one detected, tracked and recognized logo class.",
      "id": "GoogleCloudVideointelligenceV1p3beta1_LogoRecognitionAnnotation"
    },
    "GoogleCloudVideointelligenceV1p1beta1_DetectedAttribute": {
      "type": "object",
      "properties": {
        "value": {
          "description": "Text value of the detection result. For example, the value for \"HairColor\" can be \"black\", \"blonde\", etc.",
          "type": "string"
        },
        "confidence": {
          "description": "Detected attribute confidence. Range [0, 1].",
          "type": "number",
          "format": "float"
        },
        "name": {
          "description": "The name of the attribute, for example, glasses, dark_glasses, mouth_open. A full list of supported type names will be provided in the document.",
          "type": "string"
        }
      },
      "description": "A generic detected attribute represented by name in string format.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_DetectedAttribute"
    },
    "GoogleCloudVideointelligenceV1p1beta1_LabelFrame": {
      "id": "GoogleCloudVideointelligenceV1p1beta1_LabelFrame",
      "description": "Video frame level annotation results for label detection.",
      "type": "object",
      "properties": {
        "confidence": {
          "type": "number",
          "description": "Confidence that the label is accurate. Range: [0, 1].",
          "format": "float"
        },
        "timeOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_VideoSegment": {
      "properties": {
        "startTimeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the start of the segment (inclusive).",
          "format": "google-duration",
          "type": "string"
        },
        "endTimeOffset": {
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the end of the segment (inclusive).",
          "format": "google-duration"
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment",
      "description": "Video segment."
    },
    "GoogleCloudVideointelligenceV1p2beta1_TextFrame": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p2beta1_TextFrame",
      "description": "Video frame level annotation results for text annotation (OCR). Contains information regarding timestamp and bounding box locations for the frames containing detected OCR text snippets.",
      "properties": {
        "rotatedBoundingBox": {
          "description": "Bounding polygon of the detected text for this frame.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingPoly"
        },
        "timeOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "Timestamp of this frame."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation": {
      "properties": {
        "entity": {
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_Entity",
          "description": "Detected entity."
        },
        "segments": {
          "type": "array",
          "description": "All video segments where a label was detected.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_LabelSegment"
          }
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        },
        "frames": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_LabelFrame"
          },
          "description": "All video frames where a label was detected.",
          "type": "array"
        },
        "categoryEntities": {
          "description": "Common categories for the detected entity. For example, when the label is `Terrier`, the category is likely `dog`. And in some cases there might be more than one categories e.g., `Terrier` could also be a `pet`.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_Entity"
          },
          "type": "array"
        }
      },
      "description": "Label annotation.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p2beta1_TimestampedObject": {
      "type": "object",
      "properties": {
        "landmarks": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_DetectedLandmark"
          },
          "description": "Optional. The detected landmarks.",
          "type": "array"
        },
        "normalizedBoundingBox": {
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingBox",
          "description": "Normalized Bounding box in a frame, where the object is located."
        },
        "timeOffset": {
          "format": "google-duration",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this object.",
          "type": "string"
        },
        "attributes": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_DetectedAttribute"
          },
          "description": "Optional. The attributes of the object in the bounding box.",
          "type": "array"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p2beta1_TimestampedObject",
      "description": "For tracking related features. An object at time_offset with attributes, and located with normalized_bounding_box."
    },
    "GoogleCloudVideointelligenceV1p2beta1_ExplicitContentFrame": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_ExplicitContentFrame",
      "type": "object",
      "description": "Video frame level annotation results for explicit content.",
      "properties": {
        "timeOffset": {
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "format": "google-duration"
        },
        "pornographyLikelihood": {
          "enumDescriptions": [
            "Unspecified likelihood.",
            "Very unlikely.",
            "Unlikely.",
            "Possible.",
            "Likely.",
            "Very likely."
          ],
          "description": "Likelihood of the pornography content..",
          "type": "string",
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        }
      }
    },
    "GoogleCloudVideointelligenceV1_WordInfo": {
      "properties": {
        "speakerTag": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. A distinct integer value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word. Value ranges from 1 up to diarization_speaker_count, and is only set if speaker diarization is enabled."
        },
        "confidence": {
          "format": "float",
          "readOnly": true,
          "type": "number",
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set."
        },
        "startTime": {
          "description": "Time offset relative to the beginning of the audio, and corresponding to the start of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.",
          "type": "string",
          "format": "google-duration"
        },
        "word": {
          "description": "The word corresponding to this set of information.",
          "type": "string"
        },
        "endTime": {
          "format": "google-duration",
          "description": "Time offset relative to the beginning of the audio, and corresponding to the end of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.",
          "type": "string"
        }
      },
      "description": "Word-specific information for recognized words. Word information is only included in the response when certain request parameters are set, such as `enable_word_time_offsets`.",
      "id": "GoogleCloudVideointelligenceV1_WordInfo",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_AnnotateVideoProgress": {
      "description": "Video annotation progress. Included in the `metadata` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service.",
      "properties": {
        "annotationProgress": {
          "description": "Progress metadata for all videos specified in `AnnotateVideoRequest`.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_VideoAnnotationProgress"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudVideointelligenceV1_AnnotateVideoProgress",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_LabelAnnotation": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1_LabelAnnotation",
      "properties": {
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "segments": {
          "type": "array",
          "description": "All video segments where a label was detected.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_LabelSegment"
          }
        },
        "categoryEntities": {
          "description": "Common categories for the detected entity. For example, when the label is `Terrier`, the category is likely `dog`. And in some cases there might be more than one categories e.g., `Terrier` could also be a `pet`.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_Entity"
          }
        },
        "entity": {
          "$ref": "GoogleCloudVideointelligenceV1_Entity",
          "description": "Detected entity."
        },
        "frames": {
          "description": "All video frames where a label was detected.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_LabelFrame"
          }
        }
      },
      "description": "Label annotation."
    },
    "GoogleCloudVideointelligenceV1p2beta1_VideoAnnotationResults": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_VideoAnnotationResults",
      "type": "object",
      "description": "Annotation results for a single video.",
      "properties": {
        "faceDetectionAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_FaceDetectionAnnotation"
          },
          "description": "Face detection annotations."
        },
        "logoRecognitionAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_LogoRecognitionAnnotation"
          },
          "description": "Annotations for list of logos detected, tracked and recognized in video."
        },
        "segmentLabelAnnotations": {
          "type": "array",
          "description": "Topical label annotations on video level or user-specified segment level. There is exactly one element for each unique label.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_LabelAnnotation"
          }
        },
        "error": {
          "description": "If set, indicates an error. Note that for a single `AnnotateVideoRequest` some videos may succeed and some may fail.",
          "$ref": "GoogleRpc_Status"
        },
        "segment": {
          "description": "Video segment on which the annotation is run.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment"
        },
        "shotAnnotations": {
          "type": "array",
          "description": "Shot annotations. Each shot is represented as a video segment.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment"
          }
        },
        "shotLabelAnnotations": {
          "description": "Topical label annotations on shot level. There is exactly one element for each unique label.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_LabelAnnotation"
          }
        },
        "shotPresenceLabelAnnotations": {
          "description": "Presence label annotations on shot level. There is exactly one element for each unique label. Compared to the existing topical `shot_label_annotations`, this field presents more fine-grained, shot-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_LabelAnnotation"
          },
          "type": "array"
        },
        "objectAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingAnnotation"
          },
          "type": "array",
          "description": "Annotations for list of objects detected and tracked in video."
        },
        "inputUri": {
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/).",
          "type": "string"
        },
        "explicitAnnotation": {
          "description": "Explicit content annotation.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_ExplicitContentAnnotation"
        },
        "speechTranscriptions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_SpeechTranscription"
          },
          "description": "Speech transcription."
        },
        "segmentPresenceLabelAnnotations": {
          "description": "Presence label annotations on video level or user-specified segment level. There is exactly one element for each unique label. Compared to the existing topical `segment_label_annotations`, this field presents more fine-grained, segment-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_LabelAnnotation"
          },
          "type": "array"
        },
        "personDetectionAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_PersonDetectionAnnotation"
          },
          "description": "Person detection annotations."
        },
        "textAnnotations": {
          "description": "OCR text detection and tracking. Annotations for list of detected text snippets. Each will have list of frame information associated with it.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_TextAnnotation"
          }
        },
        "frameLabelAnnotations": {
          "description": "Label annotations on frame level. There is exactly one element for each unique label.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_LabelAnnotation"
          }
        },
        "faceAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_FaceAnnotation"
          },
          "description": "Deprecated. Please use `face_detection_annotations` instead.",
          "type": "array"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingBox": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingBox",
      "properties": {
        "right": {
          "format": "float",
          "description": "Right X coordinate.",
          "type": "number"
        },
        "bottom": {
          "format": "float",
          "type": "number",
          "description": "Bottom Y coordinate."
        },
        "left": {
          "description": "Left X coordinate.",
          "type": "number",
          "format": "float"
        },
        "top": {
          "description": "Top Y coordinate.",
[...]
