{
  "id": "videointelligence:v1p3beta1",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "basePath": "",
  "documentationLink": "https://cloud.google.com/video-intelligence/docs/",
  "resources": {
    "videos": {
      "methods": {
        "annotate": {
          "flatPath": "v1p3beta1/videos:annotate",
          "path": "v1p3beta1/videos:annotate",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "GoogleLongrunning_Operation"
          },
          "id": "videointelligence.videos.annotate",
          "request": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_AnnotateVideoRequest"
          },
          "parameters": {},
          "parameterOrder": [],
          "description": "Performs asynchronous video annotation. Progress and results can be retrieved through the `google.longrunning.Operations` interface. `Operation.metadata` contains `AnnotateVideoProgress` (progress). `Operation.response` contains `AnnotateVideoResponse` (results)."
        }
      }
    }
  },
  "title": "Cloud Video Intelligence API",
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "version": "v1p3beta1",
  "schemas": {
    "GoogleCloudVideointelligenceV1_LabelSegment": {
      "description": "Video segment level annotation results for label detection.",
      "id": "GoogleCloudVideointelligenceV1_LabelSegment",
      "properties": {
        "segment": {
          "description": "Video segment where a label was detected.",
          "$ref": "GoogleCloudVideointelligenceV1_VideoSegment"
        },
        "confidence": {
          "description": "Confidence that the label is accurate. Range: [0, 1].",
          "format": "float",
          "type": "number"
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_VideoSegment": {
      "id": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment",
      "type": "object",
      "properties": {
        "endTimeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the end of the segment (inclusive).",
          "format": "google-duration",
          "type": "string"
        },
        "startTimeOffset": {
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the start of the segment (inclusive).",
          "format": "google-duration"
        }
      },
      "description": "Video segment."
    },
    "GoogleCloudVideointelligenceV1_TextSegment": {
      "type": "object",
      "description": "Video segment level annotation results for text detection.",
      "id": "GoogleCloudVideointelligenceV1_TextSegment",
      "properties": {
        "segment": {
          "$ref": "GoogleCloudVideointelligenceV1_VideoSegment",
          "description": "Video segment where a text snippet was detected."
        },
        "confidence": {
          "format": "float",
          "description": "Confidence for the track of detected text. It is calculated as the highest over all frames where OCR detected text appears.",
          "type": "number"
        },
        "frames": {
          "description": "Information related to the frames where OCR detected text appears.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_TextFrame"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_Track": {
      "properties": {
        "timestampedObjects": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_TimestampedObject"
          },
          "description": "The object with timestamp and attributes per frame in the track."
        },
        "segment": {
          "description": "Video segment of a track.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment"
        },
        "attributes": {
          "type": "array",
          "description": "Optional. Attributes in the track level.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_DetectedAttribute"
          }
        },
        "confidence": {
          "description": "Optional. The confidence score of the tracked object.",
          "format": "float",
          "type": "number"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_Track",
      "description": "A track of an object instance.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p3beta1_StreamingVideoAnnotationResults": {
      "type": "object",
      "description": "Streaming annotation results corresponding to a portion of the video that is currently being processed. Only ONE type of annotation will be specified in the response.",
      "id": "GoogleCloudVideointelligenceV1p3beta1_StreamingVideoAnnotationResults",
      "properties": {
        "explicitAnnotation": {
          "description": "Explicit content annotation results.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_ExplicitContentAnnotation"
        },
        "labelAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation"
          },
          "description": "Label annotation results."
        },
        "frameTimestamp": {
          "description": "Timestamp of the processed frame in microseconds.",
          "type": "string",
          "format": "google-duration"
        },
        "objectAnnotations": {
          "description": "Object tracking results.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingAnnotation"
          }
        },
        "shotAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment"
          },
          "type": "array",
          "description": "Shot annotation results. Each shot is represented as a video segment."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentFrame": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentFrame",
      "description": "Video frame level annotation results for explicit content.",
      "properties": {
        "pornographyLikelihood": {
          "type": "string",
          "description": "Likelihood of the pornography content..",
          "enumDescriptions": [
            "Unspecified likelihood.",
            "Very unlikely.",
            "Unlikely.",
            "Possible.",
            "Likely.",
            "Very likely."
          ],
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        },
        "timeOffset": {
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "format": "google-duration"
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_WordInfo": {
      "properties": {
        "endTime": {
          "format": "google-duration",
          "description": "Time offset relative to the beginning of the audio, and corresponding to the end of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "Time offset relative to the beginning of the audio, and corresponding to the start of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.",
          "format": "google-duration"
        },
        "word": {
          "type": "string",
          "description": "The word corresponding to this set of information."
        },
        "speakerTag": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. A distinct integer value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word. Value ranges from 1 up to diarization_speaker_count, and is only set if speaker diarization is enabled.",
          "readOnly": true
        },
        "confidence": {
          "format": "float",
          "type": "number",
          "readOnly": true,
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set."
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1beta2_WordInfo",
      "description": "Word-specific information for recognized words. Word information is only included in the response when certain request parameters are set, such as `enable_word_time_offsets`."
    },
    "GoogleCloudVideointelligenceV1beta2_VideoAnnotationProgress": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1beta2_VideoAnnotationProgress",
      "properties": {
        "updateTime": {
          "description": "Time of the most recent update.",
          "format": "google-datetime",
          "type": "string"
        },
        "progressPercent": {
          "type": "integer",
          "description": "Approximate percentage processed thus far. Guaranteed to be 100 when fully processed.",
          "format": "int32"
        },
        "feature": {
          "enumDescriptions": [
            "Unspecified.",
            "Label detection. Detect objects, such as dog or flower.",
            "Shot change detection.",
            "Explicit content detection.",
            "Human face detection.",
            "Speech transcription.",
            "OCR text detection and tracking.",
            "Object detection and tracking.",
            "Logo detection, tracking, and recognition.",
            "Person detection."
          ],
          "description": "Specifies which feature is being tracked if the request contains more than one feature.",
          "enum": [
            "FEATURE_UNSPECIFIED",
            "LABEL_DETECTION",
            "SHOT_CHANGE_DETECTION",
            "EXPLICIT_CONTENT_DETECTION",
            "FACE_DETECTION",
            "SPEECH_TRANSCRIPTION",
            "TEXT_DETECTION",
            "OBJECT_TRACKING",
            "LOGO_RECOGNITION",
            "PERSON_DETECTION"
          ],
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "Time when the request was received.",
          "format": "google-datetime"
        },
        "segment": {
          "description": "Specifies which segment is being tracked if the request contains more than one segment.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment"
        },
        "inputUri": {
          "type": "string",
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/)."
        }
      },
      "description": "Annotation progress for a single video."
    },
    "GoogleCloudVideointelligenceV1_DetectedLandmark": {
      "properties": {
        "point": {
          "$ref": "GoogleCloudVideointelligenceV1_NormalizedVertex",
          "description": "The 2D point of the detected landmark using the normalized image coordindate system. The normalized coordinates have the range from 0 to 1."
        },
        "confidence": {
          "format": "float",
          "type": "number",
          "description": "The confidence score of the detected landmark. Range [0, 1]."
        },
        "name": {
          "description": "The name of this landmark, for example, left_hand, right_shoulder.",
          "type": "string"
        }
      },
      "id": "GoogleCloudVideointelligenceV1_DetectedLandmark",
      "description": "A generic detected landmark represented by name in string format and a 2D location.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p3beta1_ShotChangeDetectionConfig": {
      "properties": {
        "model": {
          "description": "Model to use for shot change detection. Supported values: \"builtin/stable\" (the default if unset) and \"builtin/latest\".",
          "type": "string"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_ShotChangeDetectionConfig",
      "description": "Config for SHOT_CHANGE_DETECTION.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_VideoSegment": {
      "properties": {
        "endTimeOffset": {
          "format": "google-duration",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the end of the segment (inclusive).",
          "type": "string"
        },
        "startTimeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the start of the segment (inclusive).",
          "type": "string",
          "format": "google-duration"
        }
      },
      "description": "Video segment.",
      "id": "GoogleCloudVideointelligenceV1beta2_VideoSegment",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingFrame": {
      "properties": {
        "timeOffset": {
          "format": "google-duration",
          "description": "The timestamp of the frame in microseconds.",
          "type": "string"
        },
        "normalizedBoundingBox": {
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingBox",
          "description": "The normalized bounding box location of this object track for the frame."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingFrame",
      "type": "object",
      "description": "Video frame level annotations for object detection and tracking. This field stores per frame location, time offset, and confidence."
    },
    "GoogleCloudVideointelligenceV1p2beta1_SpeechTranscription": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_SpeechTranscription",
      "properties": {
        "languageCode": {
          "description": "Output only. The [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag of the language in this result. This language code was detected to have the most likelihood of being spoken in the audio.",
          "readOnly": true,
          "type": "string"
        },
        "alternatives": {
          "description": "May contain one or more recognition hypotheses (up to the maximum specified in `max_alternatives`). These alternatives are ordered in terms of accuracy, with the top (first) alternative being the most probable, as ranked by the recognizer.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_SpeechRecognitionAlternative"
          }
        }
      },
      "type": "object",
      "description": "A speech recognition result corresponding to a portion of the audio."
    },
    "GoogleCloudVideointelligenceV1beta2_TextSegment": {
      "properties": {
        "segment": {
          "description": "Video segment where a text snippet was detected.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment"
        },
        "confidence": {
          "description": "Confidence for the track of detected text. It is calculated as the highest over all frames where OCR detected text appears.",
          "format": "float",
          "type": "number"
        },
        "frames": {
          "type": "array",
          "description": "Information related to the frames where OCR detected text appears.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_TextFrame"
          }
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_TextSegment",
      "description": "Video segment level annotation results for text detection.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p2beta1_TextFrame": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_TextFrame",
      "type": "object",
      "description": "Video frame level annotation results for text annotation (OCR). Contains information regarding timestamp and bounding box locations for the frames containing detected OCR text snippets.",
      "properties": {
        "rotatedBoundingBox": {
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingPoly",
          "description": "Bounding polygon of the detected text for this frame."
        },
        "timeOffset": {
          "description": "Timestamp of this frame.",
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_CelebrityTrack": {
      "type": "object",
      "properties": {
        "faceTrack": {
          "description": "A track of a person's face.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_Track"
        },
        "celebrities": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_RecognizedCelebrity"
          },
          "description": "Top N match of the celebrities for the face in this track."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_CelebrityTrack",
      "description": "The annotation result of a celebrity face track. RecognizedCelebrity field could be empty if the face track does not have any matched celebrities."
    },
    "GoogleCloudVideointelligenceV1p2beta1_FaceAnnotation": {
      "properties": {
        "thumbnail": {
          "format": "byte",
          "description": "Thumbnail of a representative face view (in JPEG format).",
          "type": "string"
        },
        "frames": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_FaceFrame"
          },
          "description": "All video frames where a face was detected."
        },
        "segments": {
          "description": "All video segments where a face was detected.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_FaceSegment"
          }
        }
      },
      "type": "object",
      "description": "Deprecated. No effect.",
      "id": "GoogleCloudVideointelligenceV1p2beta1_FaceAnnotation"
    },
    "GoogleCloudVideointelligenceV1p3beta1_PersonDetectionAnnotation": {
      "description": "Person detection annotation per video.",
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p3beta1_PersonDetectionAnnotation",
      "properties": {
        "tracks": {
          "description": "The detected tracks of a person.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_Track"
          }
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_AnnotateVideoRequest": {
      "type": "object",
      "properties": {
        "inputUri": {
          "type": "string",
          "description": "Input video location. Currently, only [Cloud Storage](https://cloud.google.com/storage/) URIs are supported. URIs must be specified in the following format: `gs://bucket-id/object-id` (other URI formats return google.rpc.Code.INVALID_ARGUMENT). For more information, see [Request URIs](https://cloud.google.com/storage/docs/request-endpoints). To identify multiple videos, a video URI may include wildcards in the `object-id`. Supported wildcards: '*' to match 0 or more characters; '?' to match 1 character. If unset, the input video should be embedded in the request as `input_content`. If set, `input_content` must be unset."
        },
        "inputContent": {
          "type": "string",
          "format": "byte",
          "description": "The video data bytes. If unset, the input video(s) should be specified via the `input_uri`. If set, `input_uri` must be unset."
        },
        "features": {
          "items": {
            "enumDescriptions": [
              "Unspecified.",
              "Label detection. Detect objects, such as dog or flower.",
              "Shot change detection.",
              "Explicit content detection.",
              "Human face detection.",
              "Speech transcription.",
              "OCR text detection and tracking.",
              "Object detection and tracking.",
              "Logo detection, tracking, and recognition.",
              "Celebrity recognition.",
              "Person detection."
            ],
            "enum": [
              "FEATURE_UNSPECIFIED",
              "LABEL_DETECTION",
              "SHOT_CHANGE_DETECTION",
              "EXPLICIT_CONTENT_DETECTION",
              "FACE_DETECTION",
              "SPEECH_TRANSCRIPTION",
              "TEXT_DETECTION",
              "OBJECT_TRACKING",
              "LOGO_RECOGNITION",
              "CELEBRITY_RECOGNITION",
              "PERSON_DETECTION"
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Required. Requested video annotation features."
        },
        "locationId": {
          "description": "Optional. Cloud region where annotation should take place. Supported cloud regions are: `us-east1`, `us-west1`, `europe-west1`, `asia-east1`. If no region is specified, the region will be determined based on video file location.",
          "type": "string"
        },
        "outputUri": {
          "description": "Optional. Location where the output (in JSON format) should be stored. Currently, only [Cloud Storage](https://cloud.google.com/storage/) URIs are supported. These must be specified in the following format: `gs://bucket-id/object-id` (other URI formats return google.rpc.Code.INVALID_ARGUMENT). For more information, see [Request URIs](https://cloud.google.com/storage/docs/request-endpoints).",
          "type": "string"
        },
        "videoContext": {
          "description": "Additional video context and/or feature-specific parameters.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoContext"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_AnnotateVideoRequest",
      "description": "Video annotation request."
    },
    "GoogleCloudVideointelligenceV1p3beta1_LogoRecognitionAnnotation": {
      "properties": {
        "tracks": {
          "description": "All logo tracks where the recognized logo appears. Each track corresponds to one logo instance appearing in consecutive frames.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_Track"
          },
          "type": "array"
        },
        "entity": {
          "description": "Entity category information to specify the logo class that all the logo tracks within this LogoRecognitionAnnotation are recognized as.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_Entity"
        },
        "segments": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment"
          },
          "description": "All video segments where the recognized logo appears. There might be multiple instances of the same logo class appearing in one VideoSegment.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Annotation corresponding to one detected, tracked and recognized logo class.",
      "id": "GoogleCloudVideointelligenceV1p3beta1_LogoRecognitionAnnotation"
    },
    "GoogleCloudVideointelligenceV1_TextFrame": {
      "description": "Video frame level annotation results for text annotation (OCR). Contains information regarding timestamp and bounding box locations for the frames containing detected OCR text snippets.",
      "properties": {
        "timeOffset": {
          "description": "Timestamp of this frame.",
          "type": "string",
          "format": "google-duration"
        },
        "rotatedBoundingBox": {
          "$ref": "GoogleCloudVideointelligenceV1_NormalizedBoundingPoly",
          "description": "Bounding polygon of the detected text for this frame."
        }
      },
      "id": "GoogleCloudVideointelligenceV1_TextFrame",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_NormalizedBoundingBox": {
      "properties": {
        "top": {
          "format": "float",
          "type": "number",
          "description": "Top Y coordinate."
        },
        "left": {
          "type": "number",
          "description": "Left X coordinate.",
          "format": "float"
        },
        "bottom": {
          "format": "float",
          "description": "Bottom Y coordinate.",
          "type": "number"
        },
        "right": {
          "format": "float",
          "description": "Right X coordinate.",
          "type": "number"
        }
      },
      "id": "GoogleCloudVideointelligenceV1_NormalizedBoundingBox",
      "description": "Normalized bounding box. The normalized vertex coordinates are relative to the original image. Range: [0, 1].",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingConfig": {
      "type": "object",
      "description": "Config for OBJECT_TRACKING.",
      "id": "GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingConfig",
      "properties": {
        "model": {
          "type": "string",
          "description": "Model to use for object tracking. Supported values: \"builtin/stable\" (the default if unset) and \"builtin/latest\"."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_AnnotateVideoResponse": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p2beta1_AnnotateVideoResponse",
      "properties": {
        "annotationResults": {
          "description": "Annotation results for all videos specified in `AnnotateVideoRequest`.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoAnnotationResults"
          }
        }
      },
      "description": "Video annotation response. Included in the `response` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service."
    },
    "GoogleCloudVideointelligenceV1p3beta1_Celebrity": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The celebrity name."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the celebrity. Have the format `video-intelligence/kg-mid` indicates a celebrity from preloaded gallery. kg-mid is the id in Google knowledge graph, which is unique for the celebrity."
        },
        "description": {
          "description": "Textual description of additional information about the celebrity, if applicable.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Celebrity definition.",
      "id": "GoogleCloudVideointelligenceV1p3beta1_Celebrity"
    },
    "GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingPoly": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingPoly",
      "description": "Normalized bounding polygon for text (that might not be aligned with axis). Contains list of the corner points in clockwise order starting from top-left corner. For example, for a rectangular bounding box: When the text is horizontal it might look like: 0----1 | | 3----2 When it's clockwise rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3). Note that values can be less than 0, or greater than 1 due to trignometric calculations for location of the box.",
      "type": "object",
      "properties": {
        "vertices": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_NormalizedVertex"
          },
          "description": "Normalized vertices of the bounding polygon.",
          "type": "array"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p1beta1_DetectedLandmark": {
      "properties": {
        "name": {
          "description": "The name of this landmark, for example, left_hand, right_shoulder.",
          "type": "string"
        },
        "confidence": {
          "description": "The confidence score of the detected landmark. Range [0, 1].",
          "type": "number",
          "format": "float"
        },
        "point": {
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_NormalizedVertex",
          "description": "The 2D point of the detected landmark using the normalized image coordindate system. The normalized coordinates have the range from 0 to 1."
        }
      },
      "type": "object",
      "description": "A generic detected landmark represented by name in string format and a 2D location.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_DetectedLandmark"
    },
    "GoogleCloudVideointelligenceV1p1beta1_TextAnnotation": {
      "properties": {
        "text": {
          "description": "The detected text.",
          "type": "string"
        },
        "segments": {
          "type": "array",
          "description": "All video segments where OCR detected text appears.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_TextSegment"
          }
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        }
      },
      "type": "object",
      "description": "Annotations related to one detected OCR text snippet. This will contain the corresponding text, confidence value, and frame level information for each detection.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_TextAnnotation"
    },
    "GoogleCloudVideointelligenceV1_FaceSegment": {
      "id": "GoogleCloudVideointelligenceV1_FaceSegment",
      "type": "object",
      "description": "Video segment level annotation results for face detection.",
      "properties": {
        "segment": {
          "description": "Video segment where a face was detected.",
          "$ref": "GoogleCloudVideointelligenceV1_VideoSegment"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_SpeechContext": {
      "properties": {
        "phrases": {
          "description": "Optional. A list of strings containing words and phrases \"hints\" so that the speech recognition is more likely to recognize them. This can be used to improve the accuracy for specific words and phrases, for example, if specific commands are typically spoken by the user. This can also be used to add additional words to the vocabulary of the recognizer. See [usage limits](https://cloud.google.com/speech/limits#content).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_SpeechContext",
      "description": "Provides \"hints\" to the speech recognizer to favor specific words and phrases in the results.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p3beta1_SpeechTranscription": {
      "properties": {
        "languageCode": {
          "description": "Output only. The [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag of the language in this result. This language code was detected to have the most likelihood of being spoken in the audio.",
          "readOnly": true,
          "type": "string"
        },
        "alternatives": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_SpeechRecognitionAlternative"
          },
          "description": "May contain one or more recognition hypotheses (up to the maximum specified in `max_alternatives`). These alternatives are ordered in terms of accuracy, with the top (first) alternative being the most probable, as ranked by the recognizer."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_SpeechTranscription",
      "description": "A speech recognition result corresponding to a portion of the audio.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p3beta1_AnnotateVideoProgress": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_AnnotateVideoProgress",
      "properties": {
        "annotationProgress": {
          "description": "Progress metadata for all videos specified in `AnnotateVideoRequest`.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoAnnotationProgress"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Video annotation progress. Included in the `metadata` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service."
    },
    "GoogleCloudVideointelligenceV1p1beta1_AnnotateVideoResponse": {
      "description": "Video annotation response. Included in the `response` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_AnnotateVideoResponse",
      "type": "object",
      "properties": {
        "annotationResults": {
          "description": "Annotation results for all videos specified in `AnnotateVideoRequest`.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationResults"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_SpeechRecognitionAlternative": {
      "description": "Alternative hypotheses (a.k.a. n-best list).",
      "id": "GoogleCloudVideointelligenceV1p3beta1_SpeechRecognitionAlternative",
      "properties": {
        "transcript": {
          "description": "Transcript text representing the words that the user spoke.",
          "type": "string"
        },
        "words": {
          "description": "Output only. A list of word-specific information for each recognized word. Note: When `enable_speaker_diarization` is set to true, you will see all the words from the beginning of the audio.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_WordInfo"
          },
          "type": "array"
        },
        "confidence": {
          "type": "number",
          "readOnly": true,
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.",
          "format": "float"
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_LogoRecognitionAnnotation": {
      "description": "Annotation corresponding to one detected, tracked and recognized logo class.",
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p1beta1_LogoRecognitionAnnotation",
      "properties": {
        "entity": {
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_Entity",
          "description": "Entity category information to specify the logo class that all the logo tracks within this LogoRecognitionAnnotation are recognized as."
        },
        "tracks": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_Track"
          },
          "type": "array",
          "description": "All logo tracks where the recognized logo appears. Each track corresponds to one logo instance appearing in consecutive frames."
        },
        "segments": {
          "type": "array",
          "description": "All video segments where the recognized logo appears. There might be multiple instances of the same logo class appearing in one VideoSegment.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
          }
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_DetectedAttribute": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_DetectedAttribute",
      "type": "object",
      "description": "A generic detected attribute represented by name in string format.",
      "properties": {
        "name": {
          "description": "The name of the attribute, for example, glasses, dark_glasses, mouth_open. A full list of supported type names will be provided in the document.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Text value of the detection result. For example, the value for \"HairColor\" can be \"black\", \"blonde\", etc."
        },
        "confidence": {
          "format": "float",
          "type": "number",
          "description": "Detected attribute confidence. Range [0, 1]."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_VideoAnnotationResults": {
      "description": "Annotation results for a single video.",
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p2beta1_VideoAnnotationResults",
      "properties": {
        "frameLabelAnnotations": {
          "description": "Label annotations on frame level. There is exactly one element for each unique label.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_LabelAnnotation"
          },
          "type": "array"
        },
        "faceAnnotations": {
          "description": "Deprecated. Please use `face_detection_annotations` instead.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_FaceAnnotation"
          },
          "type": "array"
        },
        "error": {
          "$ref": "GoogleRpc_Status",
          "description": "If set, indicates an error. Note that for a single `AnnotateVideoRequest` some videos may succeed and some may fail."
        },
        "explicitAnnotation": {
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_ExplicitContentAnnotation",
          "description": "Explicit content annotation."
        },
        "faceDetectionAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_FaceDetectionAnnotation"
          },
          "description": "Face detection annotations.",
          "type": "array"
        },
        "segmentPresenceLabelAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_LabelAnnotation"
          },
          "description": "Presence label annotations on video level or user-specified segment level. There is exactly one element for each unique label. Compared to the existing topical `segment_label_annotations`, this field presents more fine-grained, segment-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request."
        },
        "personDetectionAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_PersonDetectionAnnotation"
          },
          "type": "array",
          "description": "Person detection annotations."
        },
        "segmentLabelAnnotations": {
          "description": "Topical label annotations on video level or user-specified segment level. There is exactly one element for each unique label.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_LabelAnnotation"
          }
        },
        "inputUri": {
          "type": "string",
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/)."
        },
        "objectAnnotations": {
          "description": "Annotations for list of objects detected and tracked in video.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingAnnotation"
          },
          "type": "array"
        },
        "shotLabelAnnotations": {
          "description": "Topical label annotations on shot level. There is exactly one element for each unique label.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_LabelAnnotation"
          }
        },
        "logoRecognitionAnnotations": {
          "description": "Annotations for list of logos detected, tracked and recognized in video.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_LogoRecognitionAnnotation"
          },
          "type": "array"
        },
        "shotAnnotations": {
          "type": "array",
          "description": "Shot annotations. Each shot is represented as a video segment.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment"
          }
        },
        "shotPresenceLabelAnnotations": {
          "description": "Presence label annotations on shot level. There is exactly one element for each unique label. Compared to the existing topical `shot_label_annotations`, this field presents more fine-grained, shot-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_LabelAnnotation"
          }
        },
        "segment": {
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment",
          "description": "Video segment on which the annotation is run."
        },
        "textAnnotations": {
          "description": "OCR text detection and tracking. Annotations for list of detected text snippets. Each will have list of frame information associated with it.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_TextAnnotation"
          },
          "type": "array"
        },
        "speechTranscriptions": {
          "description": "Speech transcription.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_SpeechTranscription"
          }
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_CelebrityRecognitionAnnotation": {
      "description": "Celebrity recognition annotation per video.",
      "type": "object",
      "properties": {
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "celebrityTracks": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_CelebrityTrack"
          },
          "type": "array",
          "description": "The tracks detected from the input video, including recognized celebrities and other detected faces in the video."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_CelebrityRecognitionAnnotation"
    },
    "GoogleCloudVideointelligenceV1beta2_LabelFrame": {
      "id": "GoogleCloudVideointelligenceV1beta2_LabelFrame",
      "type": "object",
      "properties": {
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "format": "google-duration",
          "type": "string"
        },
        "confidence": {
          "description": "Confidence that the label is accurate. Range: [0, 1].",
          "type": "number",
          "format": "float"
        }
      },
      "description": "Video frame level annotation results for label detection."
    },
    "GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingFrame": {
      "type": "object",
      "properties": {
        "normalizedBoundingBox": {
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingBox",
          "description": "The normalized bounding box location of this object track for the frame."
        },
        "timeOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "The timestamp of the frame in microseconds."
        }
      },
      "description": "Video frame level annotations for object detection and tracking. This field stores per frame location, time offset, and confidence.",
      "id": "GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingFrame"
    },
    "GoogleCloudVideointelligenceV1_ExplicitContentAnnotation": {
      "properties": {
        "frames": {
          "description": "All video frames where explicit content was detected.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_ExplicitContentFrame"
          },
          "type": "array"
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        }
      },
      "type": "object",
      "description": "Explicit content annotation (based on per-frame visual signals only). If no explicit content has been detected in a frame, no annotations are present for that frame.",
      "id": "GoogleCloudVideointelligenceV1_ExplicitContentAnnotation"
    },
    "GoogleCloudVideointelligenceV1_SpeechRecognitionAlternative": {
      "type": "object",
      "description": "Alternative hypotheses (a.k.a. n-best list).",
      "properties": {
        "transcript": {
          "description": "Transcript text representing the words that the user spoke.",
          "type": "string"
        },
        "words": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. A list of word-specific information for each recognized word. Note: When `enable_speaker_diarization` is set to true, you will see all the words from the beginning of the audio.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_WordInfo"
          }
        },
        "confidence": {
          "type": "number",
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.",
          "format": "float",
          "readOnly": true
        }
      },
      "id": "GoogleCloudVideointelligenceV1_SpeechRecognitionAlternative"
    },
    "GoogleCloudVideointelligenceV1beta2_PersonDetectionAnnotation": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1beta2_PersonDetectionAnnotation",
      "properties": {
        "tracks": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_Track"
          },
          "description": "The detected tracks of a person.",
          "type": "array"
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        }
      },
      "description": "Person detection annotation per video."
    },
    "GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingAnnotation": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingAnnotation",
      "type": "object",
      "description": "Annotations corresponding to one tracked object.",
      "properties": {
        "trackId": {
          "description": "Streaming mode ONLY. In streaming mode, we do not know the end time of a tracked object before it is completed. Hence, there is no VideoSegment info returned. Instead, we provide a unique identifiable integer track_id so that the customers can correlate the results of the ongoing ObjectTrackAnnotation of the same track_id over time.",
          "format": "int64",
          "type": "string"
        },
        "frames": {
          "type": "array",
          "description": "Information corresponding to all frames where this object track appears. Non-streaming batch mode: it may be one or multiple ObjectTrackingFrame messages in frames. Streaming mode: it can only be one ObjectTrackingFrame message in frames.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingFrame"
          }
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "entity": {
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_Entity",
          "description": "Entity to specify the object category that this track is labeled as."
        },
        "segment": {
          "description": "Non-streaming batch mode ONLY. Each object track corresponds to one video segment where it appears.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment"
        },
        "confidence": {
          "description": "Object category's labeling confidence of this track.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p1beta1_LabelFrame": {
      "description": "Video frame level annotation results for label detection.",
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p1beta1_LabelFrame",
      "properties": {
        "confidence": {
          "format": "float",
          "type": "number",
          "description": "Confidence that the label is accurate. Range: [0, 1]."
        },
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_NormalizedVertex": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p3beta1_NormalizedVertex",
      "description": "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1.",
      "properties": {
        "y": {
          "description": "Y coordinate.",
          "type": "number",
          "format": "float"
        },
        "x": {
          "type": "number",
          "format": "float",
          "description": "X coordinate."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingBox": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingBox",
      "type": "object",
      "description": "Normalized bounding box. The normalized vertex coordinates are relative to the original image. Range: [0, 1].",
      "properties": {
        "right": {
          "type": "number",
          "format": "float",
          "description": "Right X coordinate."
        },
        "bottom": {
          "description": "Bottom Y coordinate.",
          "type": "number",
          "format": "float"
        },
        "top": {
          "description": "Top Y coordinate.",
          "type": "number",
          "format": "float"
        },
        "left": {
          "type": "number",
          "format": "float",
          "description": "Left X coordinate."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p1beta1_NormalizedVertex": {
      "properties": {
        "y": {
          "format": "float",
          "description": "Y coordinate.",
          "type": "number"
        },
        "x": {
          "format": "float",
          "type": "number",
          "description": "X coordinate."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_NormalizedVertex",
      "type": "object",
      "description": "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1."
    },
    "GoogleCloudVideointelligenceV1p3beta1_VideoSegment": {
      "type": "object",
      "properties": {
        "endTimeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the end of the segment (inclusive).",
          "type": "string",
          "format": "google-duration"
        },
        "startTimeOffset": {
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the start of the segment (inclusive).",
          "format": "google-duration"
        }
      },
      "description": "Video segment.",
      "id": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment"
    },
    "GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation": {
      "type": "object",
      "description": "Label annotation.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation",
      "properties": {
        "version": {
          "type": "string",
          "description": "Feature version."
        },
        "segments": {
          "description": "All video segments where a label was detected.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_LabelSegment"
          },
          "type": "array"
        },
        "entity": {
          "description": "Detected entity.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_Entity"
        },
        "frames": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_LabelFrame"
          },
          "type": "array",
          "description": "All video frames where a label was detected."
        },
        "categoryEntities": {
          "description": "Common categories for the detected entity. For example, when the label is `Terrier`, the category is likely `dog`. And in some cases there might be more than one categories e.g., `Terrier` could also be a `pet`.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_Entity"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p1beta1_LabelSegment": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p1beta1_LabelSegment",
      "description": "Video segment level annotation results for label detection.",
      "properties": {
        "segment": {
          "description": "Video segment where a label was detected.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
        },
        "confidence": {
          "description": "Confidence that the label is accurate. Range: [0, 1].",
          "format": "float",
          "type": "number"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_VideoAnnotationProgress": {
      "description": "Annotation progress for a single video.",
      "id": "GoogleCloudVideointelligenceV1p3beta1_VideoAnnotationProgress",
      "type": "object",
      "properties": {
        "segment": {
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment",
          "description": "Specifies which segment is being tracked if the request contains more than one segment."
        },
        "inputUri": {
          "type": "string",
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/)."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time of the most recent update."
        },
        "startTime": {
          "description": "Time when the request was received.",
          "format": "google-datetime",
          "type": "string"
        },
        "progressPercent": {
          "type": "integer",
          "format": "int32",
          "description": "Approximate percentage processed thus far. Guaranteed to be 100 when fully processed."
        },
        "feature": {
          "enumDescriptions": [
            "Unspecified.",
            "Label detection. Detect objects, such as dog or flower.",
            "Shot change detection.",
            "Explicit content detection.",
            "Human face detection.",
            "Speech transcription.",
            "OCR text detection and tracking.",
            "Object detection and tracking.",
            "Logo detection, tracking, and recognition.",
            "Celebrity recognition.",
            "Person detection."
          ],
          "description": "Specifies which feature is being tracked if the request contains more than one feature.",
          "type": "string",
          "enum": [
            "FEATURE_UNSPECIFIED",
            "LABEL_DETECTION",
            "SHOT_CHANGE_DETECTION",
            "EXPLICIT_CONTENT_DETECTION",
            "FACE_DETECTION",
            "SPEECH_TRANSCRIPTION",
            "TEXT_DETECTION",
            "OBJECT_TRACKING",
            "LOGO_RECOGNITION",
            "CELEBRITY_RECOGNITION",
            "PERSON_DETECTION"
          ]
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_ExplicitContentAnnotation": {
      "type": "object",
      "properties": {
        "frames": {
          "description": "All video frames where explicit content was detected.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_ExplicitContentFrame"
          }
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        }
      },
      "description": "Explicit content annotation (based on per-frame visual signals only). If no explicit content has been detected in a frame, no annotations are present for that frame.",
      "id": "GoogleCloudVideointelligenceV1p3beta1_ExplicitContentAnnotation"
    },
    "GoogleCloudVideointelligenceV1p1beta1_Track": {
      "id": "GoogleCloudVideointelligenceV1p1beta1_Track",
      "properties": {
        "timestampedObjects": {
          "description": "The object with timestamp and attributes per frame in the track.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_TimestampedObject"
          }
        },
        "attributes": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_DetectedAttribute"
          },
          "description": "Optional. Attributes in the track level.",
          "type": "array"
        },
        "segment": {
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment",
          "description": "Video segment of a track."
        },
        "confidence": {
          "description": "Optional. The confidence score of the tracked object.",
          "type": "number",
          "format": "float"
        }
      },
      "type": "object",
      "description": "A track of an object instance."
    },
    "GoogleCloudVideointelligenceV1p2beta1_NormalizedVertex": {
      "type": "object",
      "description": "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1.",
      "id": "GoogleCloudVideointelligenceV1p2beta1_NormalizedVertex",
      "properties": {
        "x": {
          "format": "float",
          "description": "X coordinate.",
          "type": "number"
        },
        "y": {
          "format": "float",
          "type": "number",
          "description": "Y coordinate."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_PersonDetectionConfig": {
      "description": "Config for PERSON_DETECTION.",
      "id": "GoogleCloudVideointelligenceV1p3beta1_PersonDetectionConfig",
      "properties": {
        "includePoseLandmarks": {
          "description": "Whether to enable pose landmarks detection. Ignored if 'include_bounding_boxes' is set to false.",
          "type": "boolean"
        },
        "includeAttributes": {
          "type": "boolean",
          "description": "Whether to enable person attributes detection, such as cloth color (black, blue, etc), type (coat, dress, etc), pattern (plain, floral, etc), hair, etc. Ignored if 'include_bounding_boxes' is set to false."
        },
        "includeBoundingBoxes": {
          "description": "Whether bounding boxes are included in the person detection annotation output.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p2beta1_WordInfo": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_WordInfo",
      "type": "object",
      "description": "Word-specific information for recognized words. Word information is only included in the response when certain request parameters are set, such as `enable_word_time_offsets`.",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Time offset relative to the beginning of the audio, and corresponding to the start of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.",
          "format": "google-duration"
        },
        "speakerTag": {
          "format": "int32",
          "description": "Output only. A distinct integer value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word. Value ranges from 1 up to diarization_speaker_count, and is only set if speaker diarization is enabled.",
          "readOnly": true,
          "type": "integer"
        },
        "word": {
          "description": "The word corresponding to this set of information.",
          "type": "string"
        },
        "confidence": {
          "format": "float",
          "type": "number",
          "readOnly": true,
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set."
        },
        "endTime": {
          "type": "string",
          "description": "Time offset relative to the beginning of the audio, and corresponding to the end of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.",
          "format": "google-duration"
        }
      }
    },
    "GoogleCloudVideointelligenceV1_Entity": {
      "id": "GoogleCloudVideointelligenceV1_Entity",
      "type": "object",
      "description": "Detected entity from video analysis.",
      "properties": {
        "entityId": {
          "description": "Opaque entity ID. Some IDs may be available in [Google Knowledge Graph Search API](https://developers.google.com/knowledge-graph/).",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "Language code for `description` in BCP-47 format."
        },
        "description": {
          "description": "Textual description, e.g., `Fixed-gear bicycle`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_TextFrame": {
      "description": "Video frame level annotation results for text annotation (OCR). Contains information regarding timestamp and bounding box locations for the frames containing detected OCR text snippets.",
      "properties": {
        "timeOffset": {
          "format": "google-duration",
          "description": "Timestamp of this frame.",
          "type": "string"
        },
        "rotatedBoundingBox": {
          "description": "Bounding polygon of the detected text for this frame.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_NormalizedBoundingPoly"
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1beta2_TextFrame"
    },
    "GoogleCloudVideointelligenceV1_LabelFrame": {
      "id": "GoogleCloudVideointelligenceV1_LabelFrame",
      "properties": {
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "type": "string",
          "format": "google-duration"
        },
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "Confidence that the label is accurate. Range: [0, 1]."
        }
      },
      "type": "object",
      "description": "Video frame level annotation results for label detection."
    },
    "GoogleCloudVideointelligenceV1p3beta1_RecognizedCelebrity": {
      "type": "object",
      "description": "The recognized celebrity with confidence score.",
      "properties": {
        "celebrity": {
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_Celebrity",
          "description": "The recognized celebrity."
        },
        "confidence": {
          "description": "Recognition confidence. Range [0, 1].",
          "format": "float",
          "type": "number"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_RecognizedCelebrity"
    },
    "GoogleCloudVideointelligenceV1_ObjectTrackingFrame": {
      "id": "GoogleCloudVideointelligenceV1_ObjectTrackingFrame",
      "type": "object",
      "properties": {
        "timeOffset": {
          "format": "google-duration",
          "description": "The timestamp of the frame in microseconds.",
          "type": "string"
        },
        "normalizedBoundingBox": {
          "description": "The normalized bounding box location of this object track for the frame.",
          "$ref": "GoogleCloudVideointelligenceV1_NormalizedBoundingBox"
        }
      },
      "description": "Video frame level annotations for object detection and tracking. This field stores per frame location, time offset, and confidence."
    },
    "GoogleCloudVideointelligenceV1p2beta1_LabelFrame": {
      "properties": {
        "timeOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location."
        },
        "confidence": {
          "format": "float",
          "description": "Confidence that the label is accurate. Range: [0, 1].",
          "type": "number"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p2beta1_LabelFrame",
      "type": "object",
      "description": "Video frame level annotation results for label detection."
    },
    "GoogleCloudVideointelligenceV1beta2_ObjectTrackingFrame": {
      "properties": {
        "timeOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "The timestamp of the frame in microseconds."
        },
        "normalizedBoundingBox": {
          "$ref": "GoogleCloudVideointelligenceV1beta2_NormalizedBoundingBox",
          "description": "The normalized bounding box location of this object track for the frame."
        }
      },
      "description": "Video frame level annotations for object detection and tracking. This field stores per frame location, time offset, and confidence.",
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1beta2_ObjectTrackingFrame"
    },
    "GoogleCloudVideointelligenceV1beta2_ExplicitContentAnnotation": {
      "description": "Explicit content annotation (based on per-frame visual signals only). If no explicit content has been detected in a frame, no annotations are present for that frame.",
      "id": "GoogleCloudVideointelligenceV1beta2_ExplicitContentAnnotation",
      "properties": {
        "version": {
          "type": "string",
          "description": "Feature version."
        },
        "frames": {
          "type": "array",
          "description": "All video frames where explicit content was detected.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_ExplicitContentFrame"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_NormalizedBoundingPoly": {
      "type": "object",
      "description": "Normalized bounding polygon for text (that might not be aligned with axis). Contains list of the corner points in clockwise order starting from top-left corner. For example, for a rectangular bounding box: When the text is horizontal it might look like: 0----1 | | 3----2 When it's clockwise rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3). Note that values can be less than 0, or greater than 1 due to trignometric calculations for location of the box.",
      "id": "GoogleCloudVideointelligenceV1_NormalizedBoundingPoly",
      "properties": {
        "vertices": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_NormalizedVertex"
          },
          "description": "Normalized vertices of the bounding polygon."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p1beta1_FaceAnnotation": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p1beta1_FaceAnnotation",
      "description": "Deprecated. No effect.",
      "properties": {
        "segments": {
          "description": "All video segments where a face was detected.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_FaceSegment"
          },
          "type": "array"
        },
        "frames": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_FaceFrame"
          },
          "description": "All video frames where a face was detected.",
          "type": "array"
        },
        "thumbnail": {
          "format": "byte",
          "type": "string",
          "description": "Thumbnail of a representative face view (in JPEG format)."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_FaceDetectionAnnotation": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_FaceDetectionAnnotation",
      "description": "Face detection annotation.",
      "type": "object",
      "properties": {
        "tracks": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_Track"
          },
          "description": "The face tracks with attributes.",
          "type": "array"
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        },
        "thumbnail": {
          "format": "byte",
          "description": "The thumbnail of a person's face.",
          "type": "string"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_ExplicitContentFrame": {
      "type": "object",
      "properties": {
        "pornographyLikelihood": {
          "type": "string",
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "enumDescriptions": [
            "Unspecified likelihood.",
            "Very unlikely.",
            "Unlikely.",
            "Possible.",
            "Likely.",
            "Very likely."
          ],
          "description": "Likelihood of the pornography content.."
        },
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "description": "Video frame level annotation results for explicit content.",
      "id": "GoogleCloudVideointelligenceV1p3beta1_ExplicitContentFrame"
    },
    "GoogleCloudVideointelligenceV1_TextAnnotation": {
      "id": "GoogleCloudVideointelligenceV1_TextAnnotation",
      "properties": {
        "text": {
          "description": "The detected text.",
          "type": "string"
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "segments": {
          "description": "All video segments where OCR detected text appears.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_TextSegment"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Annotations related to one detected OCR text snippet. This will contain the corresponding text, confidence value, and frame level information for each detection."
    },
    "GoogleCloudVideointelligenceV1p1beta1_WordInfo": {
      "id": "GoogleCloudVideointelligenceV1p1beta1_WordInfo",
      "properties": {
        "speakerTag": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. A distinct integer value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word. Value ranges from 1 up to diarization_speaker_count, and is only set if speaker diarization is enabled.",
          "readOnly": true
        },
        "confidence": {
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.",
          "type": "number",
          "format": "float",
          "readOnly": true
        },
        "startTime": {
          "format": "google-duration",
          "description": "Time offset relative to the beginning of the audio, and corresponding to the start of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.",
          "type": "string"
        },
        "word": {
          "type": "string",
          "description": "The word corresponding to this set of information."
        },
        "endTime": {
          "type": "string",
          "description": "Time offset relative to the beginning of the audio, and corresponding to the end of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.",
          "format": "google-duration"
        }
      },
      "type": "object",
      "description": "Word-specific information for recognized words. Word information is only included in the response when certain request parameters are set, such as `enable_word_time_offsets`."
    },
    "GoogleCloudVideointelligenceV1p2beta1_PersonDetectionAnnotation": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p2beta1_PersonDetectionAnnotation",
      "description": "Person detection annotation per video.",
      "properties": {
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "tracks": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_Track"
          },
          "type": "array",
          "description": "The detected tracks of a person."
        }
      }
    },
    "GoogleCloudVideointelligenceV1_VideoAnnotationResults": {
      "description": "Annotation results for a single video.",
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1_VideoAnnotationResults",
      "properties": {
        "shotAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_VideoSegment"
          },
          "description": "Shot annotations. Each shot is represented as a video segment."
        },
        "error": {
          "description": "If set, indicates an error. Note that for a single `AnnotateVideoRequest` some videos may succeed and some may fail.",
          "$ref": "GoogleRpc_Status"
        },
        "inputUri": {
          "type": "string",
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/)."
        },
        "objectAnnotations": {
          "description": "Annotations for list of objects detected and tracked in video.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_ObjectTrackingAnnotation"
          }
        },
        "segmentLabelAnnotations": {
          "description": "Topical label annotations on video level or user-specified segment level. There is exactly one element for each unique label.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_LabelAnnotation"
          },
          "type": "array"
        },
        "speechTranscriptions": {
          "type": "array",
          "description": "Speech transcription.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_SpeechTranscription"
          }
        },
        "shotPresenceLabelAnnotations": {
          "description": "Presence label annotations on shot level. There is exactly one element for each unique label. Compared to the existing topical `shot_label_annotations`, this field presents more fine-grained, shot-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_LabelAnnotation"
          },
          "type": "array"
        },
        "explicitAnnotation": {
          "description": "Explicit content annotation.",
          "$ref": "GoogleCloudVideointelligenceV1_ExplicitContentAnnotation"
        },
        "frameLabelAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_LabelAnnotation"
          },
          "description": "Label annotations on frame level. There is exactly one element for each unique label."
        },
        "personDetectionAnnotations": {
          "description": "Person detection annotations.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_PersonDetectionAnnotation"
          },
          "type": "array"
        },
        "faceDetectionAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_FaceDetectionAnnotation"
          },
          "type": "array",
          "description": "Face detection annotations."
        },
        "faceAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_FaceAnnotation"
          },
          "description": "Deprecated. Please use `face_detection_annotations` instead.",
          "type": "array"
        },
        "segmentPresenceLabelAnnotations": {
          "description": "Presence label annotations on video level or user-specified segment level. There is exactly one element for each unique label. Compared to the existing topical `segment_label_annotations`, this field presents more fine-grained, segment-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_LabelAnnotation"
          }
        },
        "logoRecognitionAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_LogoRecognitionAnnotation"
          },
          "description": "Annotations for list of logos detected, tracked and recognized in video.",
          "type": "array"
        },
        "textAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_TextAnnotation"
          },
          "description": "OCR text detection and tracking. Annotations for list of detected text snippets. Each will have list of frame information associated with it.",
          "type": "array"
        },
        "shotLabelAnnotations": {
          "description": "Topical label annotations on shot level. There is exactly one element for each unique label.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_LabelAnnotation"
          },
          "type": "array"
        },
        "segment": {
          "description": "Video segment on which the annotation is run.",
          "$ref": "GoogleCloudVideointelligenceV1_VideoSegment"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentAnnotation": {
      "description": "Explicit content annotation (based on per-frame visual signals only). If no explicit content has been detected in a frame, no annotations are present for that frame.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentAnnotation",
      "type": "object",
      "properties": {
        "frames": {
          "type": "array",
          "description": "All video frames where explicit content was detected.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentFrame"
          }
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_FaceFrame": {
      "type": "object",
      "description": "Deprecated. No effect.",
      "properties": {
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "format": "google-duration",
          "type": "string"
        },
        "normalizedBoundingBoxes": {
          "description": "Normalized Bounding boxes in a frame. There can be more than one boxes if the same face is detected in multiple locations within the current frame.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingBox"
          }
        }
      },
      "id": "GoogleCloudVideointelligenceV1p2beta1_FaceFrame"
    },
    "GoogleCloudVideointelligenceV1p2beta1_LabelSegment": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p2beta1_LabelSegment",
      "description": "Video segment level annotation results for label detection.",
      "properties": {
        "segment": {
          "description": "Video segment where a label was detected.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment"
        },
        "confidence": {
          "description": "Confidence that the label is accurate. Range: [0, 1].",
          "format": "float",
          "type": "number"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_VideoSegment": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment",
      "description": "Video segment.",
      "properties": {
        "startTimeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the start of the segment (inclusive).",
          "type": "string",
          "format": "google-duration"
        },
        "endTimeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the end of the segment (inclusive).",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_LabelAnnotation": {
      "description": "Label annotation.",
      "id": "GoogleCloudVideointelligenceV1p2beta1_LabelAnnotation",
      "type": "object",
      "properties": {
        "entity": {
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_Entity",
          "description": "Detected entity."
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        },
        "segments": {
          "description": "All video segments where a label was detected.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_LabelSegment"
          }
        },
        "frames": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_LabelFrame"
          },
          "description": "All video frames where a label was detected."
        },
        "categoryEntities": {
          "description": "Common categories for the detected entity. For example, when the label is `Terrier`, the category is likely `dog`. And in some cases there might be more than one categories e.g., `Terrier` could also be a `pet`.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_Entity"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_TextAnnotation": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p2beta1_TextAnnotation",
      "description": "Annotations related to one detected OCR text snippet. This will contain the corresponding text, confidence value, and frame level information for each detection.",
      "properties": {
        "text": {
          "description": "The detected text.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        },
        "segments": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_TextSegment"
          },
          "type": "array",
          "description": "All video segments where OCR detected text appears."
        }
      }
    },
    "GoogleCloudVideointelligenceV1_FaceFrame": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1_FaceFrame",
      "description": "Deprecated. No effect.",
      "properties": {
        "timeOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location."
        },
        "normalizedBoundingBoxes": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_NormalizedBoundingBox"
          },
          "description": "Normalized Bounding boxes in a frame. There can be more than one boxes if the same face is detected in multiple locations within the current frame.",
          "type": "array"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_SpeechRecognitionAlternative": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_SpeechRecognitionAlternative",
      "properties": {
        "transcript": {
          "type": "string",
          "description": "Transcript text representing the words that the user spoke."
        },
        "words": {
          "description": "Output only. A list of word-specific information for each recognized word. Note: When `enable_speaker_diarization` is set to true, you will see all the words from the beginning of the audio.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_WordInfo"
          },
          "type": "array"
        },
        "confidence": {
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.",
          "readOnly": true,
          "type": "number",
          "format": "float"
        }
      },
      "type": "object",
      "description": "Alternative hypotheses (a.k.a. n-best list)."
    },
    "GoogleCloudVideointelligenceV1_ExplicitContentFrame": {
      "properties": {
        "timeOffset": {
          "format": "google-duration",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "type": "string"
        },
        "pornographyLikelihood": {
          "description": "Likelihood of the pornography content..",
          "type": "string",
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "enumDescriptions": [
            "Unspecified likelihood.",
            "Very unlikely.",
            "Unlikely.",
            "Possible.",
            "Likely.",
            "Very likely."
          ]
        }
      },
      "description": "Video frame level annotation results for explicit content.",
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1_ExplicitContentFrame"
    },
    "GoogleCloudVideointelligenceV1p2beta1_VideoAnnotationProgress": {
      "type": "object",
      "description": "Annotation progress for a single video.",
      "id": "GoogleCloudVideointelligenceV1p2beta1_VideoAnnotationProgress",
      "properties": {
        "feature": {
          "description": "Specifies which feature is being tracked if the request contains more than one feature.",
          "enum": [
            "FEATURE_UNSPECIFIED",
            "LABEL_DETECTION",
            "SHOT_CHANGE_DETECTION",
            "EXPLICIT_CONTENT_DETECTION",
            "FACE_DETECTION",
            "SPEECH_TRANSCRIPTION",
            "TEXT_DETECTION",
            "OBJECT_TRACKING",
            "LOGO_RECOGNITION",
            "PERSON_DETECTION"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Label detection. Detect objects, such as dog or flower.",
            "Shot change detection.",
            "Explicit content detection.",
            "Human face detection.",
            "Speech transcription.",
            "OCR text detection and tracking.",
            "Object detection and tracking.",
            "Logo detection, tracking, and recognition.",
            "Person detection."
          ]
        },
        "progressPercent": {
          "format": "int32",
          "description": "Approximate percentage processed thus far. Guaranteed to be 100 when fully processed.",
          "type": "integer"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Time of the most recent update.",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "Time when the request was received.",
          "format": "google-datetime"
        },
        "inputUri": {
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/).",
          "type": "string"
        },
        "segment": {
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment",
          "description": "Specifies which segment is being tracked if the request contains more than one segment."
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_NormalizedVertex": {
      "description": "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1.",
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1beta2_NormalizedVertex",
      "properties": {
        "x": {
          "type": "number",
          "format": "float",
          "description": "X coordinate."
        },
        "y": {
          "type": "number",
          "format": "float",
          "description": "Y coordinate."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_LabelDetectionConfig": {
      "type": "object",
      "properties": {
        "videoConfidenceThreshold": {
          "format": "float",
          "type": "number",
          "description": "The confidence threshold we perform filtering on the labels from video-level and shot-level detections. If not set, it's set to 0.3 by default. The valid range for this threshold is [0.1, 0.9]. Any value set outside of this range will be clipped. Note: For best results, follow the default threshold. We will update the default threshold everytime when we release a new model."
        },
        "stationaryCamera": {
          "type": "boolean",
          "description": "Whether the video has been shot from a stationary (i.e., non-moving) camera. When set to true, might improve detection accuracy for moving objects. Should be used with `SHOT_AND_FRAME_MODE` enabled."
        },
        "frameConfidenceThreshold": {
          "format": "float",
          "type": "number",
          "description": "The confidence threshold we perform filtering on the labels from frame-level detection. If not set, it is set to 0.4 by default. The valid range for this threshold is [0.1, 0.9]. Any value set outside of this range will be clipped. Note: For best results, follow the default threshold. We will update the default threshold everytime when we release a new model."
        },
        "labelDetectionMode": {
          "enumDescriptions": [
            "Unspecified.",
            "Detect shot-level labels.",
            "Detect frame-level labels.",
            "Detect both shot-level and frame-level labels."
          ],
          "type": "string",
          "description": "What labels should be detected with LABEL_DETECTION, in addition to video-level labels or segment-level labels. If unspecified, defaults to `SHOT_MODE`.",
          "enum": [
            "LABEL_DETECTION_MODE_UNSPECIFIED",
            "SHOT_MODE",
            "FRAME_MODE",
            "SHOT_AND_FRAME_MODE"
          ]
        },
        "model": {
          "type": "string",
          "description": "Model to use for label detection. Supported values: \"builtin/stable\" (the default if unset) and \"builtin/latest\"."
        }
      },
      "description": "Config for LABEL_DETECTION.",
      "id": "GoogleCloudVideointelligenceV1p3beta1_LabelDetectionConfig"
    },
    "GoogleCloudVideointelligenceV1beta2_VideoAnnotationResults": {
      "properties": {
        "segment": {
          "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment",
          "description": "Video segment on which the annotation is run."
        },
        "textAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_TextAnnotation"
          },
          "type": "array",
          "description": "OCR text detection and tracking. Annotations for list of detected text snippets. Each will have list of frame information associated with it."
        },
        "explicitAnnotation": {
          "$ref": "GoogleCloudVideointelligenceV1beta2_ExplicitContentAnnotation",
          "description": "Explicit content annotation."
        },
        "objectAnnotations": {
          "description": "Annotations for list of objects detected and tracked in video.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_ObjectTrackingAnnotation"
          }
        },
        "segmentPresenceLabelAnnotations": {
          "description": "Presence label annotations on video level or user-specified segment level. There is exactly one element for each unique label. Compared to the existing topical `segment_label_annotations`, this field presents more fine-grained, segment-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_LabelAnnotation"
          }
        },
        "speechTranscriptions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_SpeechTranscription"
          },
          "description": "Speech transcription."
        },
        "shotLabelAnnotations": {
          "description": "Topical label annotations on shot level. There is exactly one element for each unique label.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_LabelAnnotation"
          },
          "type": "array"
        },
        "logoRecognitionAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_LogoRecognitionAnnotation"
          },
          "description": "Annotations for list of logos detected, tracked and recognized in video."
        },
        "shotAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment"
          },
          "description": "Shot annotations. Each shot is represented as a video segment.",
          "type": "array"
        },
        "error": {
          "$ref": "GoogleRpc_Status",
          "description": "If set, indicates an error. Note that for a single `AnnotateVideoRequest` some videos may succeed and some may fail."
        },
        "shotPresenceLabelAnnotations": {
          "description": "Presence label annotations on shot level. There is exactly one element for each unique label. Compared to the existing topical `shot_label_annotations`, this field presents more fine-grained, shot-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_LabelAnnotation"
          }
        },
        "segmentLabelAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_LabelAnnotation"
          },
          "type": "array",
          "description": "Topical label annotations on video level or user-specified segment level. There is exactly one element for each unique label."
        },
        "frameLabelAnnotations": {
          "description": "Label annotations on frame level. There is exactly one element for each unique label.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_LabelAnnotation"
          }
        },
        "personDetectionAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_PersonDetectionAnnotation"
          },
          "type": "array",
          "description": "Person detection annotations."
        },
        "faceAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_FaceAnnotation"
          },
          "description": "Deprecated. Please use `face_detection_annotations` instead."
        },
        "inputUri": {
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/).",
          "type": "string"
        },
        "faceDetectionAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_FaceDetectionAnnotation"
          },
          "type": "array",
          "description": "Face detection annotations."
        }
      },
      "description": "Annotation results for a single video.",
[...]
