{
  "revision": "20201207",
  "version_module": true,
  "description": "Integrates Google Vision features, including image labeling, face, logo, and landmark detection, optical character recognition (OCR), and detection of explicit content, into applications.",
  "mtlsRootUrl": "https://vision.mtls.googleapis.com/",
  "documentationLink": "https://cloud.google.com/vision/",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/cloud-vision": {
          "description": "Apply machine learning models to understand and label images"
        }
      }
    }
  },
  "batchPath": "batch",
  "title": "Cloud Vision API",
  "servicePath": "",
  "parameters": {
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "version": "v1p1beta1",
  "canonicalName": "Vision",
  "name": "vision",
  "baseUrl": "https://vision.googleapis.com/",
  "ownerName": "Google",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "rootUrl": "https://vision.googleapis.com/",
  "resources": {
    "files": {
      "methods": {
        "annotate": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-vision"
          ],
          "request": {
            "$ref": "GoogleCloudVisionV1p1beta1BatchAnnotateFilesRequest"
          },
          "id": "vision.files.annotate",
          "description": "Service that performs image detection and annotation for a batch of files. Now only \"application/pdf\", \"image/tiff\" and \"image/gif\" are supported. This service will extract at most 5 (customers can specify which 5 in AnnotateFileRequest.pages) frames (gif) or pages (pdf or tiff) from each file provided and perform detection and annotation for each image extracted.",
          "response": {
            "$ref": "GoogleCloudVisionV1p1beta1BatchAnnotateFilesResponse"
          },
          "parameters": {},
          "parameterOrder": [],
          "flatPath": "v1p1beta1/files:annotate",
          "path": "v1p1beta1/files:annotate",
          "httpMethod": "POST"
        },
        "asyncBatchAnnotate": {
          "parameterOrder": [],
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "GoogleCloudVisionV1p1beta1AsyncBatchAnnotateFilesRequest"
          },
          "description": "Run asynchronous image detection and annotation for a list of generic files, such as PDF files, which may contain multiple pages and multiple images per page. Progress and results can be retrieved through the `google.longrunning.Operations` interface. `Operation.metadata` contains `OperationMetadata` (metadata). `Operation.response` contains `AsyncBatchAnnotateFilesResponse` (results).",
          "path": "v1p1beta1/files:asyncBatchAnnotate",
          "httpMethod": "POST",
          "id": "vision.files.asyncBatchAnnotate",
          "flatPath": "v1p1beta1/files:asyncBatchAnnotate",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-vision"
          ],
          "parameters": {}
        }
      }
    },
    "projects": {
      "resources": {
        "images": {
          "methods": {
            "asyncBatchAnnotate": {
              "response": {
                "$ref": "Operation"
              },
              "request": {
                "$ref": "GoogleCloudVisionV1p1beta1AsyncBatchAnnotateImagesRequest"
              },
              "path": "v1p1beta1/{+parent}/images:asyncBatchAnnotate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-vision"
              ],
              "description": "Run asynchronous image detection and annotation for a list of images. Progress and results can be retrieved through the `google.longrunning.Operations` interface. `Operation.metadata` contains `OperationMetadata` (metadata). `Operation.response` contains `AsyncBatchAnnotateImagesResponse` (results). This service will write image annotation outputs to json files in customer GCS bucket, each json file containing BatchAnnotateImagesResponse proto.",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`.",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "flatPath": "v1p1beta1/projects/{projectsId}/images:asyncBatchAnnotate",
              "id": "vision.projects.images.asyncBatchAnnotate"
            },
            "annotate": {
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`.",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                }
              },
              "id": "vision.projects.images.annotate",
              "description": "Run image detection and annotation for a batch of images.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-vision"
              ],
              "flatPath": "v1p1beta1/projects/{projectsId}/images:annotate",
              "response": {
                "$ref": "GoogleCloudVisionV1p1beta1BatchAnnotateImagesResponse"
              },
              "httpMethod": "POST",
              "path": "v1p1beta1/{+parent}/images:annotate",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudVisionV1p1beta1BatchAnnotateImagesRequest"
              }
            }
          }
        },
        "locations": {
          "resources": {
            "files": {
              "methods": {
                "annotate": {
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "id": "vision.projects.locations.files.annotate",
                  "request": {
                    "$ref": "GoogleCloudVisionV1p1beta1BatchAnnotateFilesRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudVisionV1p1beta1BatchAnnotateFilesResponse"
                  },
                  "path": "v1p1beta1/{+parent}/files:annotate",
                  "description": "Service that performs image detection and annotation for a batch of files. Now only \"application/pdf\", \"image/tiff\" and \"image/gif\" are supported. This service will extract at most 5 (customers can specify which 5 in AnnotateFileRequest.pages) frames (gif) or pages (pdf or tiff) from each file provided and perform detection and annotation for each image extracted.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "flatPath": "v1p1beta1/projects/{projectsId}/locations/{locationsId}/files:annotate",
                  "httpMethod": "POST"
                },
                "asyncBatchAnnotate": {
                  "flatPath": "v1p1beta1/projects/{projectsId}/locations/{locationsId}/files:asyncBatchAnnotate",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`.",
                      "required": true
                    }
                  },
                  "id": "vision.projects.locations.files.asyncBatchAnnotate",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1p1beta1/{+parent}/files:asyncBatchAnnotate",
                  "request": {
                    "$ref": "GoogleCloudVisionV1p1beta1AsyncBatchAnnotateFilesRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "httpMethod": "POST",
                  "description": "Run asynchronous image detection and annotation for a list of generic files, such as PDF files, which may contain multiple pages and multiple images per page. Progress and results can be retrieved through the `google.longrunning.Operations` interface. `Operation.metadata` contains `OperationMetadata` (metadata). `Operation.response` contains `AsyncBatchAnnotateFilesResponse` (results)."
                }
              }
            },
            "images": {
              "methods": {
                "annotate": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "id": "vision.projects.locations.images.annotate",
                  "flatPath": "v1p1beta1/projects/{projectsId}/locations/{locationsId}/images:annotate",
                  "response": {
                    "$ref": "GoogleCloudVisionV1p1beta1BatchAnnotateImagesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "request": {
                    "$ref": "GoogleCloudVisionV1p1beta1BatchAnnotateImagesRequest"
                  },
                  "path": "v1p1beta1/{+parent}/images:annotate",
                  "description": "Run image detection and annotation for a batch of images."
                },
                "asyncBatchAnnotate": {
                  "id": "vision.projects.locations.images.asyncBatchAnnotate",
                  "description": "Run asynchronous image detection and annotation for a list of images. Progress and results can be retrieved through the `google.longrunning.Operations` interface. `Operation.metadata` contains `OperationMetadata` (metadata). `Operation.response` contains `AsyncBatchAnnotateImagesResponse` (results). This service will write image annotation outputs to json files in customer GCS bucket, each json file containing BatchAnnotateImagesResponse proto.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "path": "v1p1beta1/{+parent}/images:asyncBatchAnnotate",
                  "flatPath": "v1p1beta1/projects/{projectsId}/locations/{locationsId}/images:asyncBatchAnnotate",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "GoogleCloudVisionV1p1beta1AsyncBatchAnnotateImagesRequest"
                  }
                }
              }
            }
          }
        },
        "files": {
          "methods": {
            "asyncBatchAnnotate": {
              "description": "Run asynchronous image detection and annotation for a list of generic files, such as PDF files, which may contain multiple pages and multiple images per page. Progress and results can be retrieved through the `google.longrunning.Operations` interface. `Operation.metadata` contains `OperationMetadata` (metadata). `Operation.response` contains `AsyncBatchAnnotateFilesResponse` (results).",
              "response": {
                "$ref": "Operation"
              },
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`."
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1p1beta1/{+parent}/files:asyncBatchAnnotate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-vision"
              ],
              "flatPath": "v1p1beta1/projects/{projectsId}/files:asyncBatchAnnotate",
              "request": {
                "$ref": "GoogleCloudVisionV1p1beta1AsyncBatchAnnotateFilesRequest"
              },
              "id": "vision.projects.files.asyncBatchAnnotate"
            },
            "annotate": {
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`.",
                  "location": "path",
                  "required": true
                }
              },
              "id": "vision.projects.files.annotate",
              "flatPath": "v1p1beta1/projects/{projectsId}/files:annotate",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudVisionV1p1beta1BatchAnnotateFilesRequest"
              },
              "response": {
                "$ref": "GoogleCloudVisionV1p1beta1BatchAnnotateFilesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-vision"
              ],
              "description": "Service that performs image detection and annotation for a batch of files. Now only \"application/pdf\", \"image/tiff\" and \"image/gif\" are supported. This service will extract at most 5 (customers can specify which 5 in AnnotateFileRequest.pages) frames (gif) or pages (pdf or tiff) from each file provided and perform detection and annotation for each image extracted.",
              "path": "v1p1beta1/{+parent}/files:annotate"
            }
          }
        }
      }
    },
    "images": {
      "methods": {
        "asyncBatchAnnotate": {
          "response": {
            "$ref": "Operation"
          },
          "parameters": {},
          "id": "vision.images.asyncBatchAnnotate",
          "path": "v1p1beta1/images:asyncBatchAnnotate",
          "parameterOrder": [],
          "httpMethod": "POST",
          "flatPath": "v1p1beta1/images:asyncBatchAnnotate",
          "description": "Run asynchronous image detection and annotation for a list of images. Progress and results can be retrieved through the `google.longrunning.Operations` interface. `Operation.metadata` contains `OperationMetadata` (metadata). `Operation.response` contains `AsyncBatchAnnotateImagesResponse` (results). This service will write image annotation outputs to json files in customer GCS bucket, each json file containing BatchAnnotateImagesResponse proto.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-vision"
          ],
          "request": {
            "$ref": "GoogleCloudVisionV1p1beta1AsyncBatchAnnotateImagesRequest"
          }
        },
        "annotate": {
          "flatPath": "v1p1beta1/images:annotate",
          "parameterOrder": [],
          "id": "vision.images.annotate",
          "response": {
            "$ref": "GoogleCloudVisionV1p1beta1BatchAnnotateImagesResponse"
          },
          "description": "Run image detection and annotation for a batch of images.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-vision"
          ],
          "request": {
            "$ref": "GoogleCloudVisionV1p1beta1BatchAnnotateImagesRequest"
          },
          "path": "v1p1beta1/images:annotate",
          "parameters": {}
        }
      }
    }
  },
  "id": "vision:v1p1beta1",
  "schemas": {
    "GoogleCloudVisionV1p3beta1TextAnnotationDetectedBreak": {
      "description": "Detected start or end of a structural component.",
      "id": "GoogleCloudVisionV1p3beta1TextAnnotationDetectedBreak",
      "properties": {
        "isPrefix": {
          "description": "True if break prepends the element.",
          "type": "boolean"
        },
        "type": {
          "description": "Detected break type.",
          "enum": [
            "UNKNOWN",
            "SPACE",
            "SURE_SPACE",
            "EOL_SURE_SPACE",
            "HYPHEN",
            "LINE_BREAK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown break label type.",
            "Regular space.",
            "Sure space (very wide).",
            "Line-wrapping break.",
            "End-line hyphen that is not present in text; does not co-occur with `SPACE`, `LEADER_SPACE`, or `LINE_BREAK`.",
            "Line break that ends a paragraph."
          ]
        }
      },
      "type": "object"
    },
    "WebLabel": {
      "type": "object",
      "id": "WebLabel",
      "properties": {
        "languageCode": {
          "description": "The BCP-47 language code for `label`, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier.",
          "type": "string"
        },
        "label": {
          "description": "Label for extra metadata.",
          "type": "string"
        }
      },
      "description": "Label to provide extra metadata for the web detection."
    },
    "GoogleCloudVisionV1p1beta1WebDetectionWebPage": {
      "properties": {
        "url": {
          "type": "string",
          "description": "The result web page URL."
        },
        "pageTitle": {
          "description": "Title for the web page, may contain HTML markups.",
          "type": "string"
        },
        "fullMatchingImages": {
          "description": "Fully matching images on the page. Can include resized copies of the query image.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1WebDetectionWebImage"
          }
        },
        "partialMatchingImages": {
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1WebDetectionWebImage"
          },
          "description": "Partial matching images on the page. Those images are similar enough to share some key-point features. For example an original image will likely have partial matching for its crops.",
          "type": "array"
        },
        "score": {
          "description": "(Deprecated) Overall relevancy score for the web page.",
          "format": "float",
          "type": "number"
        }
      },
      "id": "GoogleCloudVisionV1p1beta1WebDetectionWebPage",
      "description": "Metadata for web pages.",
      "type": "object"
    },
    "GoogleCloudVisionV1p4beta1OperationMetadata": {
      "type": "object",
      "properties": {
        "updateTime": {
          "description": "The time when the operation result was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "The time when the batch request was received.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATED",
            "RUNNING",
            "DONE",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Invalid.",
            "Request is received.",
            "Request is actively being processed.",
            "The batch processing is done.",
            "The batch processing was cancelled."
          ],
          "description": "Current state of the batch operation.",
          "type": "string"
        }
      },
      "id": "GoogleCloudVisionV1p4beta1OperationMetadata",
      "description": "Contains metadata for the BatchAnnotateImages operation."
    },
    "CropHintsAnnotation": {
      "id": "CropHintsAnnotation",
      "type": "object",
      "properties": {
        "cropHints": {
          "description": "Crop hint results.",
          "items": {
            "$ref": "CropHint"
          },
          "type": "array"
        }
      },
      "description": "Set of crop hints that are used to generate new crops when serving images."
    },
    "GoogleCloudVisionV1p1beta1ProductSearchResults": {
      "properties": {
        "indexTime": {
          "format": "google-datetime",
          "description": "Timestamp of the index which provided these results. Products added to the product set and products removed from the product set after this time are not reflected in the current results.",
          "type": "string"
        },
        "results": {
          "description": "List of results, one for each product match.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1ProductSearchResultsResult"
          }
        },
        "productGroupedResults": {
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1ProductSearchResultsGroupedResult"
          },
          "description": "List of results grouped by products detected in the query image. Each entry corresponds to one bounding polygon in the query image, and contains the matching products specific to that region. There may be duplicate product matches in the union of all the per-product results.",
          "type": "array"
        }
      },
      "description": "Results for a product search request.",
      "id": "GoogleCloudVisionV1p1beta1ProductSearchResults",
      "type": "object"
    },
    "GoogleCloudVisionV1p1beta1Product": {
      "properties": {
        "displayName": {
          "description": "The user-provided name for this Product. Must not be empty. Must be at most 4096 characters long.",
          "type": "string"
        },
        "productLabels": {
          "description": "Key-value pairs that can be attached to a product. At query time, constraints can be specified based on the product_labels. Note that integer values can be provided as strings, e.g. \"1199\". Only strings with integer values can match a range-based restriction which is to be supported soon. Multiple values can be assigned to the same key. One product may have up to 500 product_labels. Notice that the total number of distinct product_labels over all products in one ProductSet cannot exceed 1M, otherwise the product search pipeline will refuse to work for that ProductSet.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1ProductKeyValue"
          }
        },
        "name": {
          "type": "string",
          "description": "The resource name of the product. Format is: `projects/PROJECT_ID/locations/LOC_ID/products/PRODUCT_ID`. This field is ignored when creating a product."
        },
        "description": {
          "description": "User-provided metadata to be stored with this product. Must be at most 4096 characters long.",
          "type": "string"
        },
        "productCategory": {
          "type": "string",
          "description": "Immutable. The category for the product identified by the reference image. This should be one of \"homegoods-v2\", \"apparel-v2\", \"toys-v2\", \"packagedgoods-v1\" or \"general-v1\". The legacy categories \"homegoods\", \"apparel\", and \"toys\" are still supported, but these should not be used for new products."
        }
      },
      "description": "A Product contains ReferenceImages.",
      "id": "GoogleCloudVisionV1p1beta1Product",
      "type": "object"
    },
    "GoogleCloudVisionV1p1beta1TextAnnotationTextProperty": {
      "description": "Additional information detected on the structural component.",
      "type": "object",
      "properties": {
        "detectedBreak": {
          "description": "Detected start or end of a text segment.",
          "$ref": "GoogleCloudVisionV1p1beta1TextAnnotationDetectedBreak"
        },
        "detectedLanguages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1TextAnnotationDetectedLanguage"
          },
          "description": "A list of detected languages together with confidence."
        }
      },
      "id": "GoogleCloudVisionV1p1beta1TextAnnotationTextProperty"
    },
    "GoogleCloudVisionV1p1beta1ImageSource": {
      "id": "GoogleCloudVisionV1p1beta1ImageSource",
      "type": "object",
      "description": "External image source (Google Cloud Storage or web URL image location).",
      "properties": {
        "gcsImageUri": {
          "type": "string",
          "description": "**Use `image_uri` instead.** The Google Cloud Storage URI of the form `gs://bucket_name/object_name`. Object versioning is not supported. See [Google Cloud Storage Request URIs](https://cloud.google.com/storage/docs/reference-uris) for more info."
        },
        "imageUri": {
          "description": "The URI of the source image. Can be either: 1. A Google Cloud Storage URI of the form `gs://bucket_name/object_name`. Object versioning is not supported. See [Google Cloud Storage Request URIs](https://cloud.google.com/storage/docs/reference-uris) for more info. 2. A publicly-accessible image HTTP/HTTPS URL. When fetching images from HTTP/HTTPS URLs, Google cannot guarantee that the request will be completed. Your request may fail if the specified host denies the request (e.g. due to request throttling or DOS prevention), or if Google throttles requests to the site for abuse prevention. You should not depend on externally-hosted images for production applications. When both `gcs_image_uri` and `image_uri` are specified, `image_uri` takes precedence.",
          "type": "string"
        }
      }
    },
    "GoogleCloudVisionV1p2beta1BoundingPoly": {
      "type": "object",
      "properties": {
        "vertices": {
          "type": "array",
          "description": "The bounding polygon vertices.",
          "items": {
            "$ref": "GoogleCloudVisionV1p2beta1Vertex"
          }
        },
        "normalizedVertices": {
          "description": "The bounding polygon normalized vertices.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p2beta1NormalizedVertex"
          }
        }
      },
      "description": "A bounding polygon for the detected image annotation.",
      "id": "GoogleCloudVisionV1p2beta1BoundingPoly"
    },
    "GoogleCloudVisionV1p1beta1WebDetectionWebImage": {
      "id": "GoogleCloudVisionV1p1beta1WebDetectionWebImage",
      "type": "object",
      "properties": {
        "url": {
          "type": "string",
          "description": "The result image URL."
        },
        "score": {
          "description": "(Deprecated) Overall relevancy score for the image.",
          "format": "float",
          "type": "number"
        }
      },
      "description": "Metadata for online images."
    },
    "GoogleCloudVisionV1p3beta1ProductKeyValue": {
      "description": "A product label represented as a key-value pair.",
      "properties": {
        "key": {
          "description": "The key of the label attached to the product. Cannot be empty and cannot exceed 128 bytes.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The value of the label attached to the product. Cannot be empty and cannot exceed 128 bytes."
        }
      },
      "id": "GoogleCloudVisionV1p3beta1ProductKeyValue",
      "type": "object"
    },
    "GoogleCloudVisionV1p2beta1NormalizedVertex": {
      "properties": {
        "y": {
          "format": "float",
          "description": "Y coordinate.",
          "type": "number"
        },
        "x": {
          "format": "float",
          "description": "X coordinate.",
          "type": "number"
        }
      },
      "id": "GoogleCloudVisionV1p2beta1NormalizedVertex",
      "type": "object",
      "description": "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1."
    },
    "GoogleCloudVisionV1p1beta1Image": {
      "description": "Client image to perform Google Cloud Vision API tasks over.",
      "properties": {
        "source": {
          "$ref": "GoogleCloudVisionV1p1beta1ImageSource",
          "description": "Google Cloud Storage image location, or publicly-accessible image URL. If both `content` and `source` are provided for an image, `content` takes precedence and is used to perform the image annotation request."
        },
        "content": {
          "format": "byte",
          "description": "Image content, represented as a stream of bytes. Note: As with all `bytes` fields, protobuffers use a pure binary representation, whereas JSON representations use base64. Currently, this field only works for BatchAnnotateImages requests. It does not work for AsyncBatchAnnotateImages requests.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudVisionV1p1beta1Image"
    },
    "GoogleCloudVisionV1p4beta1Symbol": {
      "properties": {
        "property": {
          "description": "Additional information detected for the symbol.",
          "$ref": "GoogleCloudVisionV1p4beta1TextAnnotationTextProperty"
        },
        "confidence": {
          "type": "number",
          "description": "Confidence of the OCR results for the symbol. Range [0, 1].",
          "format": "float"
        },
        "text": {
          "description": "The actual UTF-8 representation of the symbol.",
          "type": "string"
        },
        "boundingBox": {
          "description": "The bounding box for the symbol. The vertices are in the order of top-left, top-right, bottom-right, bottom-left. When a rotation of the bounding box is detected the rotation is represented as around the top-left corner as defined when the text is read in the 'natural' orientation. For example: * when the text is horizontal it might look like: 0----1 | | 3----2 * when it's rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3).",
          "$ref": "GoogleCloudVisionV1p4beta1BoundingPoly"
        }
      },
      "id": "GoogleCloudVisionV1p4beta1Symbol",
      "description": "A single symbol representation.",
      "type": "object"
    },
    "BatchOperationMetadata": {
      "type": "object",
      "description": "Metadata for the batch operations such as the current state. This is included in the `metadata` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service.",
      "properties": {
        "submitTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time when the batch request was submitted to the server."
        },
        "endTime": {
          "type": "string",
          "description": "The time when the batch request is finished and google.longrunning.Operation.done is set to true.",
          "format": "google-datetime"
        },
        "state": {
          "description": "The current state of the batch operation.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROCESSING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Invalid.",
            "Request is actively being processed.",
            "The request is done and at least one item has been successfully processed.",
            "The request is done and no item has been successfully processed.",
            "The request is done after the longrunning.Operations.CancelOperation has been called by the user. Any records that were processed before the cancel command are output as specified in the request."
          ]
        }
      },
      "id": "BatchOperationMetadata"
    },
    "GoogleCloudVisionV1p3beta1ColorInfo": {
      "properties": {
        "color": {
          "$ref": "Color",
          "description": "RGB components of the color."
        },
        "score": {
          "description": "Image-specific score for this color. Value in range [0, 1].",
          "format": "float",
          "type": "number"
        },
        "pixelFraction": {
          "type": "number",
          "description": "The fraction of pixels the color occupies in the image. Value in range [0, 1].",
          "format": "float"
        }
      },
      "id": "GoogleCloudVisionV1p3beta1ColorInfo",
      "description": "Color information consists of RGB channels, score, and the fraction of the image that the color occupies in the image.",
      "type": "object"
    },
    "GoogleCloudVisionV1p4beta1WebDetectionWebEntity": {
      "properties": {
        "entityId": {
          "type": "string",
          "description": "Opaque entity ID."
        },
        "description": {
          "description": "Canonical description of the entity, in English.",
          "type": "string"
        },
        "score": {
          "description": "Overall relevancy score for the entity. Not normalized and not comparable across different image queries.",
          "format": "float",
          "type": "number"
        }
      },
      "id": "GoogleCloudVisionV1p4beta1WebDetectionWebEntity",
      "description": "Entity deduced from similar images on the Internet.",
      "type": "object"
    },
    "InputConfig": {
      "description": "The desired input location and metadata.",
      "properties": {
        "gcsSource": {
          "description": "The Google Cloud Storage location to read the input from.",
          "$ref": "GcsSource"
        },
        "mimeType": {
          "description": "The type of the file. Currently only \"application/pdf\", \"image/tiff\" and \"image/gif\" are supported. Wildcards are not supported.",
          "type": "string"
        },
        "content": {
          "type": "string",
          "format": "byte",
          "description": "File content, represented as a stream of bytes. Note: As with all `bytes` fields, protobuffers use a pure binary representation, whereas JSON representations use base64. Currently, this field only works for BatchAnnotateFiles requests. It does not work for AsyncBatchAnnotateFiles requests."
        }
      },
      "type": "object",
      "id": "InputConfig"
    },
    "GoogleCloudVisionV1p1beta1CropHintsParams": {
      "properties": {
        "aspectRatios": {
          "type": "array",
          "description": "Aspect ratios in floats, representing the ratio of the width to the height of the image. For example, if the desired aspect ratio is 4/3, the corresponding float value should be 1.33333. If not specified, the best possible crop is returned. The number of provided aspect ratios is limited to a maximum of 16; any aspect ratios provided after the 16th are ignored.",
          "items": {
            "type": "number",
            "format": "float"
          }
        }
      },
      "description": "Parameters for crop hints annotation request.",
      "id": "GoogleCloudVisionV1p1beta1CropHintsParams",
      "type": "object"
    },
    "GoogleCloudVisionV1p3beta1NormalizedVertex": {
      "id": "GoogleCloudVisionV1p3beta1NormalizedVertex",
      "type": "object",
      "properties": {
        "y": {
          "format": "float",
          "description": "Y coordinate.",
          "type": "number"
        },
        "x": {
          "description": "X coordinate.",
          "type": "number",
          "format": "float"
        }
      },
      "description": "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1."
    },
    "GoogleCloudVisionV1p3beta1WebDetectionWebLabel": {
      "description": "Label to provide extra metadata for the web detection.",
      "id": "GoogleCloudVisionV1p3beta1WebDetectionWebLabel",
      "type": "object",
      "properties": {
        "label": {
          "description": "Label for extra metadata.",
          "type": "string"
        },
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code for `label`, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier."
        }
      }
    },
    "GoogleCloudVisionV1p2beta1OperationMetadata": {
      "type": "object",
      "description": "Contains metadata for the BatchAnnotateImages operation.",
      "id": "GoogleCloudVisionV1p2beta1OperationMetadata",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "The time when the batch request was received.",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "The time when the operation result was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Invalid.",
            "Request is received.",
            "Request is actively being processed.",
            "The batch processing is done.",
            "The batch processing was cancelled."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATED",
            "RUNNING",
            "DONE",
            "CANCELLED"
          ],
          "description": "Current state of the batch operation."
        }
      }
    },
    "GoogleCloudVisionV1p2beta1Block": {
      "id": "GoogleCloudVisionV1p2beta1Block",
      "description": "Logical element on the page.",
      "properties": {
        "confidence": {
          "format": "float",
          "description": "Confidence of the OCR results on the block. Range [0, 1].",
          "type": "number"
        },
        "paragraphs": {
          "type": "array",
          "description": "List of paragraphs in this block (if this blocks is of type text).",
          "items": {
            "$ref": "GoogleCloudVisionV1p2beta1Paragraph"
          }
        },
        "property": {
          "$ref": "GoogleCloudVisionV1p2beta1TextAnnotationTextProperty",
          "description": "Additional information detected for the block."
        },
        "boundingBox": {
          "$ref": "GoogleCloudVisionV1p2beta1BoundingPoly",
          "description": "The bounding box for the block. The vertices are in the order of top-left, top-right, bottom-right, bottom-left. When a rotation of the bounding box is detected the rotation is represented as around the top-left corner as defined when the text is read in the 'natural' orientation. For example: * when the text is horizontal it might look like: 0----1 | | 3----2 * when it's rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3)."
        },
        "blockType": {
          "enum": [
            "UNKNOWN",
            "TEXT",
            "TABLE",
            "PICTURE",
            "RULER",
            "BARCODE"
          ],
          "enumDescriptions": [
            "Unknown block type.",
            "Regular text block.",
            "Table block.",
            "Image block.",
            "Horizontal/vertical line box.",
            "Barcode block."
          ],
          "description": "Detected block type (text, image etc) for this block.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudVisionV1p1beta1ProductSearchResultsResult": {
      "type": "object",
      "description": "Information about a product.",
      "id": "GoogleCloudVisionV1p1beta1ProductSearchResultsResult",
      "properties": {
        "image": {
          "description": "The resource name of the image from the product that is the closest match to the query.",
          "type": "string"
        },
        "score": {
          "format": "float",
          "description": "A confidence level on the match, ranging from 0 (no confidence) to 1 (full confidence).",
          "type": "number"
        },
        "product": {
          "$ref": "GoogleCloudVisionV1p1beta1Product",
          "description": "The Product."
        }
      }
    },
    "GoogleCloudVisionV1p2beta1FaceAnnotationLandmark": {
      "properties": {
        "type": {
          "description": "Face landmark type.",
          "enumDescriptions": [
            "Unknown face landmark detected. Should not be filled.",
            "Left eye.",
            "Right eye.",
            "Left of left eyebrow.",
            "Right of left eyebrow.",
            "Left of right eyebrow.",
            "Right of right eyebrow.",
            "Midpoint between eyes.",
            "Nose tip.",
            "Upper lip.",
            "Lower lip.",
            "Mouth left.",
            "Mouth right.",
            "Mouth center.",
            "Nose, bottom right.",
            "Nose, bottom left.",
            "Nose, bottom center.",
            "Left eye, top boundary.",
            "Left eye, right corner.",
            "Left eye, bottom boundary.",
            "Left eye, left corner.",
            "Right eye, top boundary.",
            "Right eye, right corner.",
            "Right eye, bottom boundary.",
            "Right eye, left corner.",
            "Left eyebrow, upper midpoint.",
            "Right eyebrow, upper midpoint.",
            "Left ear tragion.",
            "Right ear tragion.",
            "Left eye pupil.",
            "Right eye pupil.",
            "Forehead glabella.",
            "Chin gnathion.",
            "Chin left gonion.",
            "Chin right gonion.",
            "Left cheek center.",
            "Right cheek center."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN_LANDMARK",
            "LEFT_EYE",
            "RIGHT_EYE",
            "LEFT_OF_LEFT_EYEBROW",
            "RIGHT_OF_LEFT_EYEBROW",
            "LEFT_OF_RIGHT_EYEBROW",
            "RIGHT_OF_RIGHT_EYEBROW",
            "MIDPOINT_BETWEEN_EYES",
            "NOSE_TIP",
            "UPPER_LIP",
            "LOWER_LIP",
            "MOUTH_LEFT",
            "MOUTH_RIGHT",
            "MOUTH_CENTER",
            "NOSE_BOTTOM_RIGHT",
            "NOSE_BOTTOM_LEFT",
            "NOSE_BOTTOM_CENTER",
            "LEFT_EYE_TOP_BOUNDARY",
            "LEFT_EYE_RIGHT_CORNER",
            "LEFT_EYE_BOTTOM_BOUNDARY",
            "LEFT_EYE_LEFT_CORNER",
            "RIGHT_EYE_TOP_BOUNDARY",
            "RIGHT_EYE_RIGHT_CORNER",
            "RIGHT_EYE_BOTTOM_BOUNDARY",
            "RIGHT_EYE_LEFT_CORNER",
            "LEFT_EYEBROW_UPPER_MIDPOINT",
            "RIGHT_EYEBROW_UPPER_MIDPOINT",
            "LEFT_EAR_TRAGION",
            "RIGHT_EAR_TRAGION",
            "LEFT_EYE_PUPIL",
            "RIGHT_EYE_PUPIL",
            "FOREHEAD_GLABELLA",
            "CHIN_GNATHION",
            "CHIN_LEFT_GONION",
            "CHIN_RIGHT_GONION",
            "LEFT_CHEEK_CENTER",
            "RIGHT_CHEEK_CENTER"
          ]
        },
        "position": {
          "description": "Face landmark position.",
          "$ref": "GoogleCloudVisionV1p2beta1Position"
        }
      },
      "id": "GoogleCloudVisionV1p2beta1FaceAnnotationLandmark",
      "type": "object",
      "description": "A face-specific landmark (for example, a face feature)."
    },
    "Result": {
      "type": "object",
      "id": "Result",
      "description": "Information about a product.",
      "properties": {
        "score": {
          "description": "A confidence level on the match, ranging from 0 (no confidence) to 1 (full confidence).",
          "type": "number",
          "format": "float"
        },
        "image": {
          "type": "string",
          "description": "The resource name of the image from the product that is the closest match to the query."
        },
        "product": {
          "$ref": "Product",
          "description": "The Product."
        }
      }
    },
    "GoogleCloudVisionV1p1beta1AsyncBatchAnnotateImagesRequest": {
      "type": "object",
      "id": "GoogleCloudVisionV1p1beta1AsyncBatchAnnotateImagesRequest",
      "description": "Request for async image annotation for a list of images.",
      "properties": {
        "outputConfig": {
          "description": "Required. The desired output location and metadata (e.g. format).",
          "$ref": "GoogleCloudVisionV1p1beta1OutputConfig"
        },
        "requests": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1AnnotateImageRequest"
          },
          "description": "Required. Individual image annotation requests for this batch."
        },
        "parent": {
          "type": "string",
          "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`."
        }
      }
    },
    "GoogleCloudVisionV1p1beta1DominantColorsAnnotation": {
      "id": "GoogleCloudVisionV1p1beta1DominantColorsAnnotation",
      "properties": {
        "colors": {
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1ColorInfo"
          },
          "type": "array",
          "description": "RGB color values with their score and pixel fraction."
        }
      },
      "description": "Set of dominant colors and their corresponding scores.",
      "type": "object"
    },
    "Property": {
      "id": "Property",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the property."
        },
        "uint64Value": {
          "type": "string",
          "format": "uint64",
          "description": "Value of numeric properties."
        },
        "value": {
          "type": "string",
          "description": "Value of the property."
        }
      },
      "description": "A `Property` consists of a user-supplied name/value pair.",
      "type": "object"
    },
    "GoogleCloudVisionV1p1beta1AnnotateImageResponse": {
      "properties": {
        "localizedObjectAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1LocalizedObjectAnnotation"
          },
          "description": "If present, localized object detection has completed successfully. This will be sorted descending by confidence score."
        },
        "imagePropertiesAnnotation": {
          "description": "If present, image properties were extracted successfully.",
          "$ref": "GoogleCloudVisionV1p1beta1ImageProperties"
        },
        "productSearchResults": {
          "description": "If present, product search has completed successfully.",
          "$ref": "GoogleCloudVisionV1p1beta1ProductSearchResults"
        },
        "logoAnnotations": {
          "description": "If present, logo detection has completed successfully.",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1EntityAnnotation"
          },
          "type": "array"
        },
        "textAnnotations": {
          "description": "If present, text (OCR) detection has completed successfully.",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1EntityAnnotation"
          },
          "type": "array"
        },
        "context": {
          "description": "If present, contextual information is needed to understand where this image comes from.",
          "$ref": "GoogleCloudVisionV1p1beta1ImageAnnotationContext"
        },
        "fullTextAnnotation": {
          "description": "If present, text (OCR) detection or document (OCR) text detection has completed successfully. This annotation provides the structural hierarchy for the OCR detected text.",
          "$ref": "GoogleCloudVisionV1p1beta1TextAnnotation"
        },
        "error": {
          "description": "If set, represents the error message for the operation. Note that filled-in image annotations are guaranteed to be correct, even when `error` is set.",
          "$ref": "Status"
        },
        "landmarkAnnotations": {
          "description": "If present, landmark detection has completed successfully.",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1EntityAnnotation"
          },
          "type": "array"
        },
        "safeSearchAnnotation": {
          "description": "If present, safe-search annotation has completed successfully.",
          "$ref": "GoogleCloudVisionV1p1beta1SafeSearchAnnotation"
        },
        "webDetection": {
          "$ref": "GoogleCloudVisionV1p1beta1WebDetection",
          "description": "If present, web detection has completed successfully."
        },
        "faceAnnotations": {
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1FaceAnnotation"
          },
          "type": "array",
          "description": "If present, face detection has completed successfully."
        },
        "cropHintsAnnotation": {
          "$ref": "GoogleCloudVisionV1p1beta1CropHintsAnnotation",
          "description": "If present, crop hints have completed successfully."
        },
        "labelAnnotations": {
          "description": "If present, label detection has completed successfully.",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1EntityAnnotation"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response to an image annotation request.",
      "id": "GoogleCloudVisionV1p1beta1AnnotateImageResponse"
    },
    "GoogleCloudVisionV1p2beta1TextAnnotationDetectedLanguage": {
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier."
        },
        "confidence": {
          "description": "Confidence of detected language. Range [0, 1].",
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudVisionV1p2beta1TextAnnotationDetectedLanguage",
      "description": "Detected language for a structural component.",
      "type": "object"
    },
    "ColorInfo": {
      "type": "object",
      "id": "ColorInfo",
      "description": "Color information consists of RGB channels, score, and the fraction of the image that the color occupies in the image.",
      "properties": {
        "color": {
          "description": "RGB components of the color.",
          "$ref": "Color"
        },
        "score": {
          "type": "number",
          "description": "Image-specific score for this color. Value in range [0, 1].",
          "format": "float"
        },
        "pixelFraction": {
          "description": "The fraction of pixels the color occupies in the image. Value in range [0, 1].",
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudVisionV1p1beta1ProductSearchResultsGroupedResult": {
      "description": "Information about the products similar to a single product in a query image.",
      "id": "GoogleCloudVisionV1p1beta1ProductSearchResultsGroupedResult",
      "type": "object",
      "properties": {
        "objectAnnotations": {
          "description": "List of generic predictions for the object in the bounding box.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1ProductSearchResultsObjectAnnotation"
          }
        },
        "boundingPoly": {
          "description": "The bounding polygon around the product detected in the query image.",
          "$ref": "GoogleCloudVisionV1p1beta1BoundingPoly"
        },
        "results": {
          "description": "List of results, one for each product match.",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1ProductSearchResultsResult"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudVisionV1p2beta1Product": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The user-provided name for this Product. Must not be empty. Must be at most 4096 characters long."
        },
        "productCategory": {
          "type": "string",
          "description": "Immutable. The category for the product identified by the reference image. This should be one of \"homegoods-v2\", \"apparel-v2\", \"toys-v2\", \"packagedgoods-v1\" or \"general-v1\". The legacy categories \"homegoods\", \"apparel\", and \"toys\" are still supported, but these should not be used for new products."
        },
        "name": {
          "description": "The resource name of the product. Format is: `projects/PROJECT_ID/locations/LOC_ID/products/PRODUCT_ID`. This field is ignored when creating a product.",
          "type": "string"
        },
        "description": {
          "description": "User-provided metadata to be stored with this product. Must be at most 4096 characters long.",
          "type": "string"
        },
        "productLabels": {
          "items": {
            "$ref": "GoogleCloudVisionV1p2beta1ProductKeyValue"
          },
          "type": "array",
          "description": "Key-value pairs that can be attached to a product. At query time, constraints can be specified based on the product_labels. Note that integer values can be provided as strings, e.g. \"1199\". Only strings with integer values can match a range-based restriction which is to be supported soon. Multiple values can be assigned to the same key. One product may have up to 500 product_labels. Notice that the total number of distinct product_labels over all products in one ProductSet cannot exceed 1M, otherwise the product search pipeline will refuse to work for that ProductSet."
        }
      },
      "id": "GoogleCloudVisionV1p2beta1Product",
      "description": "A Product contains ReferenceImages.",
      "type": "object"
    },
    "GoogleCloudVisionV1p1beta1TextAnnotation": {
      "type": "object",
      "id": "GoogleCloudVisionV1p1beta1TextAnnotation",
      "properties": {
        "pages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1Page"
          },
          "description": "List of pages detected by OCR."
        },
        "text": {
          "type": "string",
          "description": "UTF-8 text detected on the pages."
        }
      },
      "description": "TextAnnotation contains a structured representation of OCR extracted text. The hierarchy of an OCR extracted text structure is like this: TextAnnotation -\u003e Page -\u003e Block -\u003e Paragraph -\u003e Word -\u003e Symbol Each structural component, starting from Page, may further have their own properties. Properties describe detected languages, breaks etc.. Please refer to the TextAnnotation.TextProperty message definition below for more detail."
    },
    "GoogleCloudVisionV1p1beta1Word": {
      "description": "A word representation.",
      "type": "object",
      "properties": {
        "property": {
          "$ref": "GoogleCloudVisionV1p1beta1TextAnnotationTextProperty",
          "description": "Additional information detected for the word."
        },
        "symbols": {
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1Symbol"
          },
          "description": "List of symbols in the word. The order of the symbols follows the natural reading order.",
          "type": "array"
        },
        "boundingBox": {
          "$ref": "GoogleCloudVisionV1p1beta1BoundingPoly",
          "description": "The bounding box for the word. The vertices are in the order of top-left, top-right, bottom-right, bottom-left. When a rotation of the bounding box is detected the rotation is represented as around the top-left corner as defined when the text is read in the 'natural' orientation. For example: * when the text is horizontal it might look like: 0----1 | | 3----2 * when it's rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3)."
        },
        "confidence": {
          "description": "Confidence of the OCR results for the word. Range [0, 1].",
          "format": "float",
          "type": "number"
        }
      },
      "id": "GoogleCloudVisionV1p1beta1Word"
    },
    "GoogleCloudVisionV1p3beta1Position": {
      "id": "GoogleCloudVisionV1p3beta1Position",
      "description": "A 3D position in the image, used primarily for Face detection landmarks. A valid Position must have both x and y coordinates. The position coordinates are in the same scale as the original image.",
      "type": "object",
      "properties": {
        "z": {
          "type": "number",
          "format": "float",
          "description": "Z coordinate (or depth)."
        },
        "y": {
          "format": "float",
          "type": "number",
          "description": "Y coordinate."
        },
        "x": {
          "description": "X coordinate.",
          "format": "float",
          "type": "number"
        }
      }
    },
    "GoogleCloudVisionV1p1beta1OutputConfig": {
      "id": "GoogleCloudVisionV1p1beta1OutputConfig",
      "description": "The desired output location and metadata.",
      "type": "object",
      "properties": {
        "gcsDestination": {
          "description": "The Google Cloud Storage location to write the output(s) to.",
          "$ref": "GoogleCloudVisionV1p1beta1GcsDestination"
        },
        "batchSize": {
          "description": "The max number of response protos to put into each output JSON file on Google Cloud Storage. The valid range is [1, 100]. If not specified, the default value is 20. For example, for one pdf file with 100 pages, 100 response protos will be generated. If `batch_size` = 20, then 5 json files each containing 20 response protos will be written under the prefix `gcs_destination`.`uri`. Currently, batch_size only applies to GcsDestination, with potential future support for other output configurations.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudVisionV1p1beta1BatchAnnotateImagesRequest": {
      "id": "GoogleCloudVisionV1p1beta1BatchAnnotateImagesRequest",
      "description": "Multiple image annotation requests are batched into a single service call.",
      "properties": {
        "requests": {
          "type": "array",
          "description": "Required. Individual image annotation requests for this batch.",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1AnnotateImageRequest"
          }
        },
        "parent": {
          "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudVisionV1p2beta1CropHintsAnnotation": {
      "description": "Set of crop hints that are used to generate new crops when serving images.",
      "type": "object",
      "id": "GoogleCloudVisionV1p2beta1CropHintsAnnotation",
      "properties": {
        "cropHints": {
          "type": "array",
          "description": "Crop hint results.",
          "items": {
            "$ref": "GoogleCloudVisionV1p2beta1CropHint"
          }
        }
      }
    },
    "GoogleCloudVisionV1p1beta1OperationMetadata": {
      "properties": {
        "state": {
          "description": "Current state of the batch operation.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATED",
            "RUNNING",
            "DONE",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Invalid.",
            "Request is received.",
            "Request is actively being processed.",
            "The batch processing is done.",
            "The batch processing was cancelled."
          ]
        },
        "createTime": {
          "type": "string",
          "description": "The time when the batch request was received.",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "description": "The time when the operation result was last updated.",
          "format": "google-datetime"
        }
      },
      "description": "Contains metadata for the BatchAnnotateImages operation.",
      "id": "GoogleCloudVisionV1p1beta1OperationMetadata",
      "type": "object"
    },
    "GoogleCloudVisionV1p4beta1NormalizedVertex": {
      "id": "GoogleCloudVisionV1p4beta1NormalizedVertex",
      "type": "object",
      "description": "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1.",
      "properties": {
        "y": {
          "format": "float",
          "type": "number",
          "description": "Y coordinate."
        },
        "x": {
          "format": "float",
          "description": "X coordinate.",
          "type": "number"
        }
      }
    },
    "GoogleCloudVisionV1p4beta1Page": {
      "properties": {
        "width": {
          "type": "integer",
          "description": "Page width. For PDFs the unit is points. For images (including TIFFs) the unit is pixels.",
          "format": "int32"
        },
        "height": {
          "type": "integer",
          "description": "Page height. For PDFs the unit is points. For images (including TIFFs) the unit is pixels.",
          "format": "int32"
        },
        "blocks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1Block"
          },
          "description": "List of blocks of text, images etc on this page."
        },
        "confidence": {
          "description": "Confidence of the OCR results on the page. Range [0, 1].",
          "format": "float",
          "type": "number"
        },
        "property": {
          "$ref": "GoogleCloudVisionV1p4beta1TextAnnotationTextProperty",
          "description": "Additional information detected on the page."
        }
      },
      "id": "GoogleCloudVisionV1p4beta1Page",
      "description": "Detected page from OCR.",
      "type": "object"
    },
    "GoogleCloudVisionV1p2beta1GcsDestination": {
      "properties": {
        "uri": {
          "type": "string",
          "description": "Google Cloud Storage URI prefix where the results will be stored. Results will be in JSON format and preceded by its corresponding input URI prefix. This field can either represent a gcs file prefix or gcs directory. In either case, the uri should be unique because in order to get all of the output files, you will need to do a wildcard gcs search on the uri prefix you provide. Examples: * File Prefix: gs://bucket-name/here/filenameprefix The output files will be created in gs://bucket-name/here/ and the names of the output files will begin with \"filenameprefix\". * Directory Prefix: gs://bucket-name/some/location/ The output files will be created in gs://bucket-name/some/location/ and the names of the output files could be anything because there was no filename prefix specified. If multiple outputs, each response is still AnnotateFileResponse, each of which contains some subset of the full list of AnnotateImageResponse. Multiple outputs can happen if, for example, the output JSON is too large and overflows into multiple sharded files."
        }
      },
      "type": "object",
      "description": "The Google Cloud Storage location where the output will be written to.",
      "id": "GoogleCloudVisionV1p2beta1GcsDestination"
    },
    "GoogleCloudVisionV1p2beta1ProductSearchResults": {
      "type": "object",
      "properties": {
        "indexTime": {
          "type": "string",
          "description": "Timestamp of the index which provided these results. Products added to the product set and products removed from the product set after this time are not reflected in the current results.",
          "format": "google-datetime"
        },
        "productGroupedResults": {
          "description": "List of results grouped by products detected in the query image. Each entry corresponds to one bounding polygon in the query image, and contains the matching products specific to that region. There may be duplicate product matches in the union of all the per-product results.",
          "items": {
            "$ref": "GoogleCloudVisionV1p2beta1ProductSearchResultsGroupedResult"
          },
          "type": "array"
        },
        "results": {
          "type": "array",
          "description": "List of results, one for each product match.",
          "items": {
            "$ref": "GoogleCloudVisionV1p2beta1ProductSearchResultsResult"
          }
        }
      },
      "id": "GoogleCloudVisionV1p2beta1ProductSearchResults",
      "description": "Results for a product search request."
    },
    "FaceAnnotation": {
      "type": "object",
      "id": "FaceAnnotation",
      "description": "A face annotation object contains the results of face detection.",
      "properties": {
        "tiltAngle": {
          "format": "float",
          "type": "number",
          "description": "Pitch angle, which indicates the upwards/downwards angle that the face is pointing relative to the image's horizontal plane. Range [-180,180]."
        },
        "joyLikelihood": {
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Joy likelihood.",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "type": "string"
        },
        "headwearLikelihood": {
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Headwear likelihood."
        },
        "blurredLikelihood": {
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Blurred likelihood.",
          "type": "string",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ]
        },
        "detectionConfidence": {
          "description": "Detection confidence. Range [0, 1].",
          "type": "number",
          "format": "float"
        },
        "rollAngle": {
          "type": "number",
          "format": "float",
          "description": "Roll angle, which indicates the amount of clockwise/anti-clockwise rotation of the face relative to the image vertical about the axis perpendicular to the face. Range [-180,180]."
        },
        "angerLikelihood": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "description": "Anger likelihood."
        },
        "landmarks": {
          "description": "Detected face landmarks.",
          "items": {
            "$ref": "Landmark"
          },
          "type": "array"
        },
        "fdBoundingPoly": {
          "$ref": "BoundingPoly",
          "description": "The `fd_bounding_poly` bounding polygon is tighter than the `boundingPoly`, and encloses only the skin part of the face. Typically, it is used to eliminate the face from any image analysis that detects the \"amount of skin\" visible in an image. It is not based on the landmarker results, only on the initial face detection, hence the fd (face detection) prefix."
        },
        "panAngle": {
          "format": "float",
          "type": "number",
          "description": "Yaw angle, which indicates the leftward/rightward angle that the face is pointing relative to the vertical plane perpendicular to the image. Range [-180,180]."
        },
        "landmarkingConfidence": {
          "description": "Face landmarking confidence. Range [0, 1].",
          "type": "number",
          "format": "float"
        },
        "sorrowLikelihood": {
          "description": "Sorrow likelihood.",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        },
        "surpriseLikelihood": {
          "description": "Surprise likelihood.",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "type": "string"
        },
        "boundingPoly": {
          "description": "The bounding polygon around the face. The coordinates of the bounding box are in the original image's scale. The bounding box is computed to \"frame\" the face in accordance with human expectations. It is based on the landmarker results. Note that one or more x and/or y coordinates may not be generated in the `BoundingPoly` (the polygon will be unbounded) if only a partial face appears in the image to be annotated.",
          "$ref": "BoundingPoly"
        },
        "underExposedLikelihood": {
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "description": "Under-exposed likelihood.",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudVisionV1p3beta1CropHint": {
      "id": "GoogleCloudVisionV1p3beta1CropHint",
      "properties": {
        "boundingPoly": {
          "description": "The bounding polygon for the crop region. The coordinates of the bounding box are in the original image's scale.",
          "$ref": "GoogleCloudVisionV1p3beta1BoundingPoly"
        },
        "confidence": {
          "format": "float",
          "description": "Confidence of this being a salient region. Range [0, 1].",
          "type": "number"
        },
        "importanceFraction": {
          "type": "number",
          "format": "float",
          "description": "Fraction of importance of this salient region with respect to the original image."
        }
      },
      "type": "object",
      "description": "Single crop hint that is used to generate a new crop when serving an image."
    },
    "EntityAnnotation": {
      "properties": {
        "topicality": {
          "type": "number",
          "format": "float",
          "description": "The relevancy of the ICA (Image Content Annotation) label to the image. For example, the relevancy of \"tower\" is likely higher to an image containing the detected \"Eiffel Tower\" than to an image containing a detected distant towering building, even though the confidence that there is a tower in each image may be the same. Range [0, 1]."
        },
        "boundingPoly": {
          "$ref": "BoundingPoly",
          "description": "Image region to which this entity belongs. Not produced for `LABEL_DETECTION` features."
        },
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "**Deprecated. Use `score` instead.** The accuracy of the entity detection in an image. For example, for an image in which the \"Eiffel Tower\" entity is detected, this field represents the confidence that there is a tower in the query image. Range [0, 1]."
        },
        "mid": {
          "type": "string",
          "description": "Opaque entity ID. Some IDs may be available in [Google Knowledge Graph Search API](https://developers.google.com/knowledge-graph/)."
        },
        "description": {
          "type": "string",
          "description": "Entity textual description, expressed in its `locale` language."
        },
        "score": {
          "description": "Overall score of the result. Range [0, 1].",
          "type": "number",
          "format": "float"
        },
        "locale": {
          "description": "The language code for the locale in which the entity textual `description` is expressed.",
          "type": "string"
        },
        "properties": {
          "items": {
            "$ref": "Property"
          },
          "type": "array",
          "description": "Some entities may have optional user-supplied `Property` (name/value) fields, such a score or string that qualifies the entity."
        },
        "locations": {
          "type": "array",
          "items": {
            "$ref": "LocationInfo"
          },
          "description": "The location information for the detected entity. Multiple `LocationInfo` elements can be present because one location may indicate the location of the scene in the image, and another location may indicate the location of the place where the image was taken. Location information is usually present for landmarks."
        }
      },
      "description": "Set of detected entity features.",
      "id": "EntityAnnotation",
      "type": "object"
    },
    "GoogleCloudVisionV1p4beta1EntityAnnotation": {
      "type": "object",
      "description": "Set of detected entity features.",
      "id": "GoogleCloudVisionV1p4beta1EntityAnnotation",
      "properties": {
        "topicality": {
          "type": "number",
          "description": "The relevancy of the ICA (Image Content Annotation) label to the image. For example, the relevancy of \"tower\" is likely higher to an image containing the detected \"Eiffel Tower\" than to an image containing a detected distant towering building, even though the confidence that there is a tower in each image may be the same. Range [0, 1].",
          "format": "float"
        },
        "locations": {
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1LocationInfo"
          },
          "description": "The location information for the detected entity. Multiple `LocationInfo` elements can be present because one location may indicate the location of the scene in the image, and another location may indicate the location of the place where the image was taken. Location information is usually present for landmarks.",
          "type": "array"
        },
        "confidence": {
          "format": "float",
          "type": "number",
          "description": "**Deprecated. Use `score` instead.** The accuracy of the entity detection in an image. For example, for an image in which the \"Eiffel Tower\" entity is detected, this field represents the confidence that there is a tower in the query image. Range [0, 1]."
        },
        "description": {
          "type": "string",
          "description": "Entity textual description, expressed in its `locale` language."
        },
        "boundingPoly": {
          "$ref": "GoogleCloudVisionV1p4beta1BoundingPoly",
          "description": "Image region to which this entity belongs. Not produced for `LABEL_DETECTION` features."
        },
        "mid": {
          "description": "Opaque entity ID. Some IDs may be available in [Google Knowledge Graph Search API](https://developers.google.com/knowledge-graph/).",
          "type": "string"
        },
        "score": {
          "type": "number",
          "description": "Overall score of the result. Range [0, 1].",
          "format": "float"
        },
        "locale": {
          "description": "The language code for the locale in which the entity textual `description` is expressed.",
          "type": "string"
        },
        "properties": {
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1Property"
          },
          "description": "Some entities may have optional user-supplied `Property` (name/value) fields, such a score or string that qualifies the entity.",
          "type": "array"
        }
      }
    },
    "GoogleCloudVisionV1p2beta1WebDetectionWebEntity": {
      "id": "GoogleCloudVisionV1p2beta1WebDetectionWebEntity",
      "properties": {
        "score": {
          "format": "float",
          "description": "Overall relevancy score for the entity. Not normalized and not comparable across different image queries.",
          "type": "number"
        },
        "description": {
          "description": "Canonical description of the entity, in English.",
          "type": "string"
        },
        "entityId": {
          "description": "Opaque entity ID.",
          "type": "string"
        }
      },
      "description": "Entity deduced from similar images on the Internet.",
      "type": "object"
    },
    "OutputConfig": {
      "description": "The desired output location and metadata.",
      "type": "object",
      "properties": {
        "gcsDestination": {
          "$ref": "GcsDestination",
          "description": "The Google Cloud Storage location to write the output(s) to."
        },
        "batchSize": {
          "description": "The max number of response protos to put into each output JSON file on Google Cloud Storage. The valid range is [1, 100]. If not specified, the default value is 20. For example, for one pdf file with 100 pages, 100 response protos will be generated. If `batch_size` = 20, then 5 json files each containing 20 response protos will be written under the prefix `gcs_destination`.`uri`. Currently, batch_size only applies to GcsDestination, with potential future support for other output configurations.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "OutputConfig"
    },
    "WebDetection": {
      "id": "WebDetection",
      "type": "object",
      "description": "Relevant information for the image from the Internet.",
      "properties": {
        "bestGuessLabels": {
          "description": "The service's best guess as to the topic of the request image. Inferred from similar images on the open web.",
          "type": "array",
          "items": {
            "$ref": "WebLabel"
          }
        },
        "fullMatchingImages": {
          "description": "Fully matching images from the Internet. Can include resized copies of the query image.",
          "type": "array",
          "items": {
            "$ref": "WebImage"
          }
        },
        "visuallySimilarImages": {
          "description": "The visually similar image results.",
          "type": "array",
          "items": {
            "$ref": "WebImage"
          }
        },
        "pagesWithMatchingImages": {
          "description": "Web pages containing the matching images from the Internet.",
          "type": "array",
          "items": {
            "$ref": "WebPage"
          }
        },
        "webEntities": {
          "description": "Deduced entities from similar images on the Internet.",
          "items": {
            "$ref": "WebEntity"
          },
          "type": "array"
        },
        "partialMatchingImages": {
          "description": "Partial matching images from the Internet. Those images are similar enough to share some key-point features. For example an original image will likely have partial matching for its crops.",
          "type": "array",
          "items": {
            "$ref": "WebImage"
          }
        }
      }
    },
    "ImageAnnotationContext": {
      "description": "If an image was produced from a file (e.g. a PDF), this message gives information about the source of that image.",
      "properties": {
        "pageNumber": {
          "format": "int32",
          "type": "integer",
          "description": "If the file was a PDF or TIFF, this field gives the page number within the file used to produce the image."
        },
        "uri": {
          "description": "The URI of the file used to produce the image.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ImageAnnotationContext"
    },
    "GoogleCloudVisionV1p3beta1SafeSearchAnnotation": {
      "description": "Set of features pertaining to the image, computed by computer vision methods over safe-search verticals (for example, adult, spoof, medical, violence).",
      "properties": {
        "medical": {
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "type": "string",
          "description": "Likelihood that this is a medical image.",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ]
        },
        "spoof": {
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "description": "Spoof likelihood. The likelihood that an modification was made to the image's canonical version to make it appear funny or offensive."
        },
        "racy": {
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "description": "Likelihood that the request image contains racy content. Racy content may include (but is not limited to) skimpy or sheer clothing, strategically covered nudity, lewd or provocative poses, or close-ups of sensitive body areas.",
          "type": "string"
        },
        "violence": {
          "type": "string",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "description": "Likelihood that this image contains violent content.",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        },
        "adult": {
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Represents the adult content likelihood for the image. Adult content may contain elements such as nudity, pornographic images or cartoons, or sexual activities."
        }
      },
      "id": "GoogleCloudVisionV1p3beta1SafeSearchAnnotation",
      "type": "object"
    },
    "GoogleCloudVisionV1p2beta1Vertex": {
      "id": "GoogleCloudVisionV1p2beta1Vertex",
      "type": "object",
      "properties": {
        "y": {
          "description": "Y coordinate.",
          "type": "integer",
          "format": "int32"
        },
        "x": {
          "type": "integer",
          "description": "X coordinate.",
          "format": "int32"
        }
      },
      "description": "A vertex represents a 2D point in the image. NOTE: the vertex coordinates are in the same scale as the original image."
    },
    "GoogleCloudVisionV1p4beta1FaceRecognitionResult": {
      "id": "GoogleCloudVisionV1p4beta1FaceRecognitionResult",
      "description": "Information about a face's identity.",
      "properties": {
        "celebrity": {
          "$ref": "GoogleCloudVisionV1p4beta1Celebrity",
          "description": "The Celebrity that this face was matched to."
        },
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "Recognition confidence. Range [0, 1]."
        }
      },
      "type": "object"
    },
    "GoogleCloudVisionV1p3beta1Paragraph": {
      "description": "Structural unit of text representing a number of words in certain order.",
      "id": "GoogleCloudVisionV1p3beta1Paragraph",
      "properties": {
        "confidence": {
          "description": "Confidence of the OCR results for the paragraph. Range [0, 1].",
          "type": "number",
          "format": "float"
        },
        "boundingBox": {
          "description": "The bounding box for the paragraph. The vertices are in the order of top-left, top-right, bottom-right, bottom-left. When a rotation of the bounding box is detected the rotation is represented as around the top-left corner as defined when the text is read in the 'natural' orientation. For example: * when the text is horizontal it might look like: 0----1 | | 3----2 * when it's rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3).",
          "$ref": "GoogleCloudVisionV1p3beta1BoundingPoly"
        },
        "words": {
          "type": "array",
          "description": "List of all words in this paragraph.",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1Word"
          }
        },
        "property": {
          "$ref": "GoogleCloudVisionV1p3beta1TextAnnotationTextProperty",
          "description": "Additional information detected for the paragraph."
        }
      },
      "type": "object"
    },
    "GoogleCloudVisionV1p2beta1Symbol": {
      "properties": {
        "property": {
          "$ref": "GoogleCloudVisionV1p2beta1TextAnnotationTextProperty",
          "description": "Additional information detected for the symbol."
        },
        "text": {
          "description": "The actual UTF-8 representation of the symbol.",
          "type": "string"
        },
        "boundingBox": {
          "$ref": "GoogleCloudVisionV1p2beta1BoundingPoly",
          "description": "The bounding box for the symbol. The vertices are in the order of top-left, top-right, bottom-right, bottom-left. When a rotation of the bounding box is detected the rotation is represented as around the top-left corner as defined when the text is read in the 'natural' orientation. For example: * when the text is horizontal it might look like: 0----1 | | 3----2 * when it's rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3)."
        },
        "confidence": {
          "format": "float",
          "type": "number",
          "description": "Confidence of the OCR results for the symbol. Range [0, 1]."
        }
      },
      "type": "object",
      "id": "GoogleCloudVisionV1p2beta1Symbol",
      "description": "A single symbol representation."
    },
    "GoogleCloudVisionV1p4beta1BatchAnnotateFilesResponse": {
      "description": "A list of file annotation responses.",
      "properties": {
        "responses": {
          "type": "array",
          "description": "The list of file annotation responses, each response corresponding to each AnnotateFileRequest in BatchAnnotateFilesRequest.",
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1AnnotateFileResponse"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudVisionV1p4beta1BatchAnnotateFilesResponse"
    },
    "GoogleCloudVisionV1p2beta1ProductSearchResultsObjectAnnotation": {
      "type": "object",
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier."
        },
        "score": {
          "description": "Score of the result. Range [0, 1].",
          "type": "number",
          "format": "float"
        },
        "mid": {
          "type": "string",
          "description": "Object ID that should align with EntityAnnotation mid."
        },
        "name": {
          "type": "string",
          "description": "Object name, expressed in its `language_code` language."
        }
      },
      "id": "GoogleCloudVisionV1p2beta1ProductSearchResultsObjectAnnotation",
      "description": "Prediction for what the object in the bounding box is."
    },
    "GoogleCloudVisionV1p3beta1DominantColorsAnnotation": {
      "type": "object",
      "properties": {
        "colors": {
          "description": "RGB color values with their score and pixel fraction.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1ColorInfo"
          }
        }
      },
      "description": "Set of dominant colors and their corresponding scores.",
      "id": "GoogleCloudVisionV1p3beta1DominantColorsAnnotation"
    },
    "GoogleCloudVisionV1p2beta1ColorInfo": {
      "id": "GoogleCloudVisionV1p2beta1ColorInfo",
      "description": "Color information consists of RGB channels, score, and the fraction of the image that the color occupies in the image.",
      "type": "object",
      "properties": {
        "color": {
          "$ref": "Color",
          "description": "RGB components of the color."
        },
        "score": {
          "description": "Image-specific score for this color. Value in range [0, 1].",
          "format": "float",
          "type": "number"
        },
        "pixelFraction": {
          "description": "The fraction of pixels the color occupies in the image. Value in range [0, 1].",
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudVisionV1p2beta1ImageProperties": {
      "description": "Stores image properties, such as dominant colors.",
      "properties": {
        "dominantColors": {
          "$ref": "GoogleCloudVisionV1p2beta1DominantColorsAnnotation",
          "description": "If present, dominant colors completed successfully."
        }
      },
      "id": "GoogleCloudVisionV1p2beta1ImageProperties",
      "type": "object"
    },
    "GoogleCloudVisionV1p4beta1CropHint": {
      "description": "Single crop hint that is used to generate a new crop when serving an image.",
      "type": "object",
      "id": "GoogleCloudVisionV1p4beta1CropHint",
      "properties": {
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "Confidence of this being a salient region. Range [0, 1]."
        },
        "importanceFraction": {
          "format": "float",
[...]
