{
  "rootUrl": "https://webrisk.googleapis.com/",
  "version": "v1",
  "discoveryVersion": "v1",
  "resources": {
    "operations": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1/{+name}",
          "id": "webrisk.operations.get",
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "parameters": {
            "name": {
              "location": "path",
              "description": "The name of the operation resource.",
              "pattern": "^operations/.*$",
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "GET",
          "flatPath": "v1/operations/{operationsId}",
          "parameterOrder": [
            "name"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleLongrunningListOperationsResponse"
          },
          "parameterOrder": [
            "name"
          ],
          "id": "webrisk.operations.list",
          "flatPath": "v1/operations",
          "path": "v1/{+name}",
          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `\"/v1/{name=users/*}/operations\"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^operations$",
              "location": "path",
              "description": "The name of the operation's parent resource."
            },
            "pageToken": {
              "description": "The standard list page token.",
              "type": "string",
              "location": "query"
            },
            "filter": {
              "location": "query",
              "description": "The standard list filter.",
              "type": "string"
            },
            "pageSize": {
              "type": "integer",
              "location": "query",
              "description": "The standard list page size.",
              "format": "int32"
            }
          }
        },
        "cancel": {
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^operations/.*$",
              "required": true,
              "description": "The name of the operation resource to be cancelled.",
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "path": "v1/{+name}:cancel",
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "id": "webrisk.operations.cancel",
          "flatPath": "v1/operations/{operationsId}:cancel",
          "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "request": {
            "$ref": "GoogleLongrunningCancelOperationRequest"
          },
          "parameterOrder": [
            "name"
          ]
        },
        "delete": {
          "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The name of the operation resource to be deleted.",
              "pattern": "^operations/.*$"
            }
          },
          "path": "v1/{+name}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "id": "webrisk.operations.delete",
          "flatPath": "v1/operations/{operationsId}"
        }
      }
    },
    "threatLists": {
      "methods": {
        "computeDiff": {
          "parameterOrder": [],
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleCloudWebriskV1ComputeThreatListDiffResponse"
          },
          "path": "v1/threatLists:computeDiff",
          "parameters": {
            "threatType": {
              "description": "Required. The threat list to update. Only a single ThreatType should be specified per request. If you want to handle multiple ThreatTypes, you must make one request per ThreatType.",
              "type": "string",
              "enumDescriptions": [
                "No entries should match this threat type. This threat type is unused.",
                "Malware targeting any platform.",
                "Social engineering targeting any platform.",
                "Unwanted software targeting any platform."
              ],
              "location": "query",
              "enum": [
                "THREAT_TYPE_UNSPECIFIED",
                "MALWARE",
                "SOCIAL_ENGINEERING",
                "UNWANTED_SOFTWARE"
              ]
            },
            "constraints.maxDatabaseEntries": {
              "description": "Sets the maximum number of entries that the client is willing to have in the local database. This should be a power of 2 between 2**10 and 2**20. If zero, no database size limit is set.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "constraints.maxDiffEntries": {
              "description": "The maximum size in number of entries. The diff will not contain more entries than this value. This should be a power of 2 between 2**10 and 2**20. If zero, no diff size limit is set.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "constraints.supportedCompressions": {
              "enumDescriptions": [
                "Unknown.",
                "Raw, uncompressed data.",
                "Rice-Golomb encoded data."
              ],
              "enum": [
                "COMPRESSION_TYPE_UNSPECIFIED",
                "RAW",
                "RICE"
              ],
              "type": "string",
              "location": "query",
              "repeated": true,
              "description": "The compression types supported by the client."
            },
            "versionToken": {
              "description": "The current version token of the client for the requested list (the client version that was received from the last successful diff). If the client does not have a version token (this is the first time calling ComputeThreatListDiff), this may be left empty and a full database snapshot will be returned.",
              "location": "query",
              "type": "string",
              "format": "byte"
            }
          },
          "flatPath": "v1/threatLists:computeDiff",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Gets the most recent threat list diffs. These diffs should be applied to a local database of hashes to keep it up-to-date. If the local database is empty or excessively out-of-date, a complete snapshot of the database will be returned. This Method only updates a single ThreatList at a time. To update multiple ThreatList databases, this method needs to be called once for each list.",
          "id": "webrisk.threatLists.computeDiff"
        }
      }
    },
    "projects": {
      "resources": {
        "submissions": {
          "methods": {
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/submissions",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleCloudWebriskV1Submission"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the project that is making the submission. This string is in the format \"projects/{project_number}\"."
                }
              },
              "id": "webrisk.projects.submissions.create",
              "request": {
                "$ref": "GoogleCloudWebriskV1Submission"
              },
              "description": "Creates a Submission of a URI suspected of containing phishing content to be reviewed. If the result verifies the existence of malicious phishing content, the site will be added to the [Google's Social Engineering lists](https://support.google.com/webmasters/answer/6350487/) in order to protect users that could get exposed to this threat in the future. Only allowlisted projects can use this method during Early Access. Please reach out to Sales or your customer engineer to obtain access.",
              "flatPath": "v1/projects/{projectsId}/submissions",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "uris": {
          "methods": {
            "submit": {
              "request": {
                "$ref": "GoogleCloudWebriskV1SubmitUriRequest"
              },
              "description": "Submits a URI suspected of containing malicious content to be reviewed. Returns a google.longrunning.Operation which, once the review is complete, is updated with its result. You can use the [Pub/Sub API] (https://cloud.google.com/pubsub) to receive notifications for the returned Operation. If the result verifies the existence of malicious content, the site will be added to the [Google's Social Engineering lists] (https://support.google.com/webmasters/answer/6350487/) in order to protect users that could get exposed to this threat in the future. Only allowlisted projects can use this method during Early Access. Please reach out to Sales or your customer engineer to obtain access.",
              "parameterOrder": [
                "parent"
              ],
              "id": "webrisk.projects.uris.submit",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "flatPath": "v1/projects/{projectsId}/uris:submit",
              "parameters": {
                "parent": {
                  "description": "Required. The name of the project that is making the submission. This string is in the format \"projects/{project_number}\".",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "path": "v1/{+parent}/uris:submit",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            }
          }
        }
      }
    },
    "uris": {
      "methods": {
        "search": {
          "description": "This method is used to check whether a URI is on a given threatList. Multiple threatLists may be searched in a single query. The response will list all requested threatLists the URI was found to match. If the URI is not found on any of the requested ThreatList an empty response will be returned.",
          "flatPath": "v1/uris:search",
          "response": {
            "$ref": "GoogleCloudWebriskV1SearchUrisResponse"
          },
          "path": "v1/uris:search",
          "parameters": {
            "threatTypes": {
              "description": "Required. The ThreatLists to search in. Multiple ThreatLists may be specified.",
              "location": "query",
              "type": "string",
              "enum": [
                "THREAT_TYPE_UNSPECIFIED",
                "MALWARE",
                "SOCIAL_ENGINEERING",
                "UNWANTED_SOFTWARE"
              ],
              "enumDescriptions": [
                "No entries should match this threat type. This threat type is unused.",
                "Malware targeting any platform.",
                "Social engineering targeting any platform.",
                "Unwanted software targeting any platform."
              ],
              "repeated": true
            },
            "uri": {
              "type": "string",
              "location": "query",
              "description": "Required. The URI to be checked for matches."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [],
          "id": "webrisk.uris.search",
          "httpMethod": "GET"
        }
      }
    },
    "hashes": {
      "methods": {
        "search": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "webrisk.hashes.search",
          "response": {
            "$ref": "GoogleCloudWebriskV1SearchHashesResponse"
          },
          "httpMethod": "GET",
          "path": "v1/hashes:search",
          "flatPath": "v1/hashes:search",
          "parameterOrder": [],
          "parameters": {
            "hashPrefix": {
              "location": "query",
              "description": "A hash prefix, consisting of the most significant 4-32 bytes of a SHA256 hash. For JSON requests, this field is base64-encoded. Note that if this parameter is provided by a URI, it must be encoded using the web safe base64 variant (RFC 4648).",
              "format": "byte",
              "type": "string"
            },
            "threatTypes": {
              "location": "query",
              "type": "string",
              "enum": [
                "THREAT_TYPE_UNSPECIFIED",
                "MALWARE",
                "SOCIAL_ENGINEERING",
                "UNWANTED_SOFTWARE"
              ],
              "enumDescriptions": [
                "No entries should match this threat type. This threat type is unused.",
                "Malware targeting any platform.",
                "Social engineering targeting any platform.",
                "Unwanted software targeting any platform."
              ],
              "description": "Required. The ThreatLists to search in. Multiple ThreatLists may be specified.",
              "repeated": true
            }
          },
          "description": "Gets the full hashes that match the requested hash prefix. This is used after a hash prefix is looked up in a threatList and there is a match. The client side threatList only holds partial hashes so the client must query this method to determine if there is a full hash match of a threat."
        }
      }
    }
  },
  "parameters": {
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "ownerName": "Google",
  "schemas": {
    "GoogleLongrunningCancelOperationRequest": {
      "properties": {},
      "type": "object",
      "id": "GoogleLongrunningCancelOperationRequest",
      "description": "The request message for Operations.CancelOperation."
    },
    "GoogleLongrunningOperation": {
      "properties": {
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal response of the operation in case of success. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        }
      },
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "GoogleLongrunningOperation"
    },
    "GoogleCloudWebriskV1RawIndices": {
      "type": "object",
      "id": "GoogleCloudWebriskV1RawIndices",
      "properties": {
        "indices": {
          "description": "The indices to remove from a lexicographically-sorted local list.",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array"
        }
      },
      "description": "A set of raw indices to remove from a local list."
    },
    "GoogleCloudWebriskV1SearchUrisResponse": {
      "properties": {
        "threat": {
          "$ref": "GoogleCloudWebriskV1SearchUrisResponseThreatUri",
          "description": "The threat list matches. This may be empty if the URI is on no list."
        }
      },
      "type": "object",
      "id": "GoogleCloudWebriskV1SearchUrisResponse"
    },
    "GoogleCloudWebriskV1RawHashes": {
      "description": "The uncompressed threat entries in hash format. Hashes can be anywhere from 4 to 32 bytes in size. A large majority are 4 bytes, but some hashes are lengthened if they collide with the hash of a popular URI. Used for sending ThreatEntryAdditons to clients that do not support compression, or when sending non-4-byte hashes to clients that do support compression.",
      "properties": {
        "prefixSize": {
          "format": "int32",
          "type": "integer",
          "description": "The number of bytes for each prefix encoded below. This field can be anywhere from 4 (shortest prefix) to 32 (full SHA256 hash). In practice this is almost always 4, except in exceptional circumstances."
        },
        "rawHashes": {
          "type": "string",
          "format": "byte",
          "description": "The hashes, in binary format, concatenated into one long string. Hashes are sorted in lexicographic order. For JSON API users, hashes are base64-encoded."
        }
      },
      "type": "object",
      "id": "GoogleCloudWebriskV1RawHashes"
    },
    "GoogleCloudWebriskV1Submission": {
      "type": "object",
      "description": "Wraps a URI that might be displaying malicious content.",
      "id": "GoogleCloudWebriskV1Submission",
      "properties": {
        "threatTypes": {
          "items": {
            "enum": [
              "THREAT_TYPE_UNSPECIFIED",
              "MALWARE",
              "SOCIAL_ENGINEERING",
              "UNWANTED_SOFTWARE"
            ],
            "enumDescriptions": [
              "No entries should match this threat type. This threat type is unused.",
              "Malware targeting any platform.",
              "Social engineering targeting any platform.",
              "Unwanted software targeting any platform."
            ],
            "type": "string"
          },
          "type": "array",
          "description": "ThreatTypes found to be associated with the submitted URI after reviewing it. This may be empty if the URI was not added to any list."
        },
        "uri": {
          "description": "Required. The URI that is being reported for malicious content to be analyzed.",
          "type": "string"
        }
      }
    },
    "GoogleProtobufEmpty": {
      "properties": {},
      "type": "object",
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`."
    },
    "GoogleCloudWebriskV1ComputeThreatListDiffResponse": {
      "type": "object",
      "properties": {
        "additions": {
          "$ref": "GoogleCloudWebriskV1ThreatEntryAdditions",
          "description": "A set of entries to add to a local threat type's list."
        },
        "removals": {
          "description": "A set of entries to remove from a local threat type's list. This field may be empty.",
          "$ref": "GoogleCloudWebriskV1ThreatEntryRemovals"
        },
        "checksum": {
          "description": "The expected SHA256 hash of the client state; that is, of the sorted list of all hashes present in the database after applying the provided diff. If the client state doesn't match the expected state, the client must discard this diff and retry later.",
          "$ref": "GoogleCloudWebriskV1ComputeThreatListDiffResponseChecksum"
        },
        "recommendedNextDiff": {
          "format": "google-datetime",
          "description": "The soonest the client should wait before issuing any diff request. Querying sooner is unlikely to produce a meaningful diff. Waiting longer is acceptable considering the use case. If this field is not set clients may update as soon as they want.",
          "type": "string"
        },
        "responseType": {
          "type": "string",
          "description": "The type of response. This may indicate that an action must be taken by the client when the response is received.",
          "enum": [
            "RESPONSE_TYPE_UNSPECIFIED",
            "DIFF",
            "RESET"
          ],
          "enumDescriptions": [
            "Unknown.",
            "Partial updates are applied to the client's existing local database.",
            "Full updates resets the client's entire local database. This means that either the client had no state, was seriously out-of-date, or the client is believed to be corrupt."
          ]
        },
        "newVersionToken": {
          "format": "byte",
          "description": "The new opaque client version token. This should be retained by the client and passed into the next call of ComputeThreatListDiff as 'version_token'. A separate version token should be stored and used for each threatList.",
          "type": "string"
        }
      },
      "id": "GoogleCloudWebriskV1ComputeThreatListDiffResponse"
    },
    "GoogleLongrunningListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleLongrunningListOperationsResponse"
    },
    "GoogleRpcStatus": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array"
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "GoogleRpcStatus"
    },
    "GoogleCloudWebriskV1SubmitUriRequest": {
      "properties": {
        "submission": {
          "description": "Required. The submission that contains the URI to be scanned.",
          "$ref": "GoogleCloudWebriskV1Submission"
        }
      },
      "id": "GoogleCloudWebriskV1SubmitUriRequest",
      "description": "Request to send a potentially malicious URI to WebRisk.",
      "type": "object"
    },
    "GoogleCloudWebriskV1ComputeThreatListDiffResponseChecksum": {
      "properties": {
        "sha256": {
          "type": "string",
          "format": "byte",
          "description": "The SHA256 hash of the client state; that is, of the sorted list of all hashes present in the database."
        }
      },
      "description": "The expected state of a client's local database.",
      "id": "GoogleCloudWebriskV1ComputeThreatListDiffResponseChecksum",
      "type": "object"
    },
    "GoogleCloudWebriskV1SearchHashesResponse": {
      "properties": {
        "threats": {
          "description": "The full hashes that matched the requested prefixes. The hash will be populated in the key.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudWebriskV1SearchHashesResponseThreatHash"
          }
        },
        "negativeExpireTime": {
          "type": "string",
          "description": "For requested entities that did not match the threat list, how long to cache the response until.",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudWebriskV1SearchHashesResponse",
      "type": "object"
    },
    "GoogleCloudWebriskV1SearchHashesResponseThreatHash": {
      "description": "Contains threat information on a matching hash.",
      "properties": {
        "expireTime": {
          "description": "The cache lifetime for the returned match. Clients must not cache this response past this timestamp to avoid false positives.",
          "format": "google-datetime",
          "type": "string"
        },
        "hash": {
          "format": "byte",
          "description": "A 32 byte SHA256 hash. This field is in binary format. For JSON requests, hashes are base64-encoded.",
          "type": "string"
        },
        "threatTypes": {
          "type": "array",
          "description": "The ThreatList this threat belongs to. This must contain at least one entry.",
          "items": {
            "enumDescriptions": [
              "No entries should match this threat type. This threat type is unused.",
              "Malware targeting any platform.",
              "Social engineering targeting any platform.",
              "Unwanted software targeting any platform."
            ],
            "type": "string",
            "enum": [
              "THREAT_TYPE_UNSPECIFIED",
              "MALWARE",
              "SOCIAL_ENGINEERING",
              "UNWANTED_SOFTWARE"
            ]
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudWebriskV1SearchHashesResponseThreatHash"
    },
    "GoogleCloudWebriskV1ThreatEntryRemovals": {
      "properties": {
        "riceIndices": {
          "$ref": "GoogleCloudWebriskV1RiceDeltaEncoding",
          "description": "The encoded local, lexicographically-sorted list indices, using a Golomb-Rice encoding. Used for sending compressed removal indices. The removal indices (uint32) are sorted in ascending order, then delta encoded and stored as encoded_data."
        },
        "rawIndices": {
          "description": "The raw removal indices for a local list.",
          "$ref": "GoogleCloudWebriskV1RawIndices"
        }
      },
      "id": "GoogleCloudWebriskV1ThreatEntryRemovals",
      "description": "Contains the set of entries to remove from a local database.",
      "type": "object"
    },
    "GoogleCloudWebriskV1ThreatEntryAdditions": {
      "description": "Contains the set of entries to add to a local database. May contain a combination of compressed and raw data in a single response.",
      "type": "object",
      "properties": {
        "rawHashes": {
          "description": "The raw SHA256-formatted entries. Repeated to allow returning sets of hashes with different prefix sizes.",
          "items": {
            "$ref": "GoogleCloudWebriskV1RawHashes"
          },
          "type": "array"
        },
        "riceHashes": {
          "$ref": "GoogleCloudWebriskV1RiceDeltaEncoding",
          "description": "The encoded 4-byte prefixes of SHA256-formatted entries, using a Golomb-Rice encoding. The hashes are converted to uint32, sorted in ascending order, then delta encoded and stored as encoded_data."
        }
      },
      "id": "GoogleCloudWebriskV1ThreatEntryAdditions"
    },
    "GoogleCloudWebriskV1SearchUrisResponseThreatUri": {
      "type": "object",
      "id": "GoogleCloudWebriskV1SearchUrisResponseThreatUri",
      "description": "Contains threat information on a matching uri.",
      "properties": {
        "threatTypes": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "No entries should match this threat type. This threat type is unused.",
              "Malware targeting any platform.",
              "Social engineering targeting any platform.",
              "Unwanted software targeting any platform."
            ],
            "type": "string",
            "enum": [
              "THREAT_TYPE_UNSPECIFIED",
              "MALWARE",
              "SOCIAL_ENGINEERING",
              "UNWANTED_SOFTWARE"
            ]
          },
          "description": "The ThreatList this threat belongs to."
        },
        "expireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The cache lifetime for the returned match. Clients must not cache this response past this timestamp to avoid false positives."
        }
      }
    },
    "GoogleCloudWebriskV1RiceDeltaEncoding": {
      "id": "GoogleCloudWebriskV1RiceDeltaEncoding",
      "properties": {
        "entryCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of entries that are delta encoded in the encoded data. If only a single integer was encoded, this will be zero and the single value will be stored in `first_value`."
        },
        "firstValue": {
          "type": "string",
          "description": "The offset of the first entry in the encoded data, or, if only a single integer was encoded, that single integer's value. If the field is empty or missing, assume zero.",
          "format": "int64"
        },
        "riceParameter": {
          "type": "integer",
          "description": "The Golomb-Rice parameter, which is a number between 2 and 28. This field is missing (that is, zero) if `num_entries` is zero.",
          "format": "int32"
        },
        "encodedData": {
          "format": "byte",
          "type": "string",
          "description": "The encoded deltas that are encoded using the Golomb-Rice coder."
        }
      },
      "description": "The Rice-Golomb encoded data. Used for sending compressed 4-byte hashes or compressed removal indices.",
      "type": "object"
    }
  },
  "documentationLink": "https://cloud.google.com/web-risk/",
  "version_module": true,
  "batchPath": "batch",
  "baseUrl": "https://webrisk.googleapis.com/",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "title": "Web Risk API",
  "basePath": "",
  "mtlsRootUrl": "https://webrisk.mtls.googleapis.com/",
  "id": "webrisk:v1",
  "revision": "20210307",
  "name": "webrisk",
  "description": "",
  "canonicalName": "Web Risk",
  "servicePath": ""
}
